﻿@model SettingViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@section title{
    <title>OBS :: Settings</title>
}
@section Styles {
    @*<link href="~/Content/DataTable/DataTable-CssPlugin/css/jquery.dataTables.min.css" rel="stylesheet" />*@
}
<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title"><i class="fas fa-User"></i>&nbsp;Settings</h3>
        </div>
        <div class="kt-subheader__toolbar">

        </div>
    </div>
</div>

<!-- end:: Subheader -->

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg ">
            <div class="kt-portlet__head-label">
                Settings Details
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions"></div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="custom-summary"></div>
                @Html.Raw(TempData["msg"])
                @Html.AntiForgeryToken()
        <div class="form-body">
            @Html.HiddenFor(m => m.Id)
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label"> Address</label>
                <div class="col-lg-9 col-xl-6">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">  Phone 1</label>
                <div class="col-lg-9 col-xl-6">
                    @Html.TextBoxFor(m => m.MobileNo1, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MobileNo1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label"> Fax </label>
                <div class="col-lg-9 col-xl-6">
                    @Html.TextBoxFor(m => m.MobileNo2, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MobileNo2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label"> Whatsapp NO </label>
                <div class="col-lg-9 col-xl-6">
                    @Html.TextBoxFor(m => m.WhatsappNO, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.WhatsappNO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label"> Universal Access Number  </label>
                <div class="col-lg-9 col-xl-6">
                    @Html.TextBoxFor(m => m.UNA, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UNA, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label"> Email</label>
                <div class="col-lg-9 col-xl-6">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label"> Mobile App Logo</label>

                <div class="col-lg-9 col-xl-6">
                    <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar_1">
                        <div class="kt-avatar__holder" id="kt-avatar-holder" style="background-image: url('@(!string.IsNullOrEmpty(Model.WebLogoName)?("/Content/UploadData/UploadImages/"+Model.WebLogoName):"/Content/Img/NoImage.jpeg")')"></div>
                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                            <i class="fa fa-pen"></i>
                            <input type="file" name="Website_Logo" id="Role_Image" accept=".png, .jpg, .jpeg">
                        </label>
                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>
                    <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label"> Company-Profile</label>
                <div class="col-lg-9 col-xl-6">
                    <input type="file" name="Company_Profile" class="form-control" id="Company_Profile" accept=".doc, .docx, .pdf">

                    @Html.ValidationMessageFor(m => m.Company_Profile, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label"> Shipping and returns Terms</label>
                <div class="col-lg-9 col-xl-6">
                    @Html.TextAreaFor(m => m.shipping_Return, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.shipping_Return, "", new { @class = "text-danger" })
                </div>
            </div>



            @*<div class="col-md-12">
            <div class="form-group row">
                <label class="col-12-3 col-form-label">Terms and Conditions</label>
                <div class="col-lg-12">
                    <textarea name="Terms_and_Conditions" placeholder="write here" rows="10" class="form-control summernote"></textarea>
                    <span class="form-text text-muted">
                        Terms and Conditions.
                    </span>
                </div>
            </div>
        </div>*@
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Terms and Conditions</label>
                <div class="col-lg-9 col-xl-6">
                    @Html.TextAreaFor(m => m.Terms_and_Conditions, new { @class = "form-control summernote" })
                    @Html.ValidationMessageFor(m => m.Terms_and_Conditions, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label"> Privacy policy</label>
                <div class="col-lg-9 col-xl-6">
                    @Html.TextAreaFor(m => m.Privacy_policy, new { @class = "form-control summernote" })
                    @Html.ValidationMessageFor(m => m.Privacy_policy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label"> VAT Text</label>
                <div class="col-lg-9 col-xl-6">
                    @Html.TextBoxFor(m => m.VatText, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.VatText, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label"> VAT Value</label>
                <div class="col-lg-9 col-xl-6">
                    @Html.TextBoxFor(m => m.VatValue, new { @class = "form-control allow-float" })
                    @Html.ValidationMessageFor(m => m.VatValue, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-actions right">
                <button type="submit" class="btn btn-primary rounded ">
                    Save
                </button>

                <button type="button" class="btn btn-success rounded vathistory" data-toggle="modal" data-target="#vat-history-model" style="float:right">
                    View VAT History
                </button>
            </div>
        </div>

            }

        </div>
    </div>
</div>
<div id="vat-history-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">  VAT History</h5>
            </div>
            <!--Begin::Portlet-->
            <div class="kt-portlet kt-portlet--height-fluid">


                <div class="kt-portlet__body">
                    <div class="kt-scroll ps ps--active-y" data-scroll="true" data-height="380" data-mobile-height="300" style="height: 380px; overflow: hidden;">

                        <div id="kt_table_1"></div>


                    </div>
                </div>
            </div>
            <!--End::Portlet-->
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="/content/js/pages/crud/file-upload/ktavatar.js" type="text/javascript"></script>
    <script src="/content/js/pages/crud/forms/editors/summernote.js" type="text/javascript"></script>
    <script>
        "use strict";
        var datatable;
        var timer;
        var KTDatatablesDataSourceAjaxServer = function () {

            //var togglesidBar = function () {
            //    // toggle left side menu if it state is off (open)
            //    try {

            //        var aside = new KTToggle('kt_aside_toggler', {
            //            target: 'body',
            //            targetState: 'kt-aside--minimize',
            //            togglerState: 'kt-aside__brand-aside-toggler--active'
            //        });

            //        if (aside.getState() === 'off') {
            //            aside.toggle();
            //        }

            //    } catch (e) {

            //    }
            //};

            var initializeKtDataTable = function () {

                datatable = $('#kt_table_1').KTDatatable({

                    // datasource definition
                    data: {
                        type: 'remote',
                        source: {
                            read: {
                                url: '@Url.Action("AjaxDTHistory","Settings",new { area="Admin"})',
                                method: 'GET',
                                map: function (raw) {

                                    $("#kt_subheader_total").html("<span class='kt-font-brand'>" + raw.meta.total + " orders </span>");
                                    KTApp.unblock('.kt-container');
                                    return raw.data;
                                }
                            },
                        },
                        pageSize: 10,
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true,
                        deferLoading: 0, // here
                    },

                    // layout definition
                    layout: {
                        scroll: false,
                        footer: false
                    },
                    // column sorting
                    sortable: false,
			        /*search: {
                        input: $('#generalSearch'),
                    },*/
                    pagination: false,

                    // columns definition
                    columns: [

                       
                       

                        {
                            field: 'VATText',
                            title: 'VAT Text',
                           width:150,
                        },
                        {
                            field: 'VATValue',
                            title: 'VAT Value',
                            width: 150, 
                        },
                        {
                            field: 'InsertDate',
                            title: 'Insert Date',
                            width: 150,
                            template: function (row) {
                                return moment(row.InsertDate).format('DD/MM/YYYY');
                            }
                        },
                       
                       
                    ]
                });

                datatable.sort("InsertDate", "desc");

               

            };
            return {
                //main function to initiate the module
                init: function () {
                    //togglesidBar();
                    initializeKtDataTable();
                }
            };

        }();

        //jQuery(document).ready(function () {
          
        //});
        var floatNumber = function () {
            $(document).on('keypress', '.allow-float', function (e) {

                if ($(this).val().toString().indexOf(".") !== -1 && e.which === 46) return false;

                if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                    return false;
                }

            });
        };
        $(document).ready(function () {

            floatNumber();
        })

        $(".vathistory").click(function () {
            KTDatatablesDataSourceAjaxServer.init();
        })
    </script>
    @*<script>

              $('.summernote').summernote({
                    airMode: true,

                });
        </script>*@
    @*<script src="~/Content/DataTable/DataTable-JqueryPlugin/jquery.dataTables.min.js"></script>*@
}
