﻿
@{
    ViewBag.Title = "TicketsDetails";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

    <div id="ticket-status-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg" style="width: 60%;max-width: unset;">
            <div class="modal-content">

                <div class="modal-header kt-hidden">
                    <h5 class="modal-title">
                        <span class="kt-badge kt-badge--dot kt-badge--success"></span> Change Order Status
                    </h5>
                </div>

                <div class="modal-body">
               
                    <div class="row">
                        <div class="col">
                            <div class="kt-chat">
                                <div class="kt-portlet kt-portlet--head-lg kt-portlet--last">
                                    <div class="kt-portlet__head" style="min-height:unset;padding:0 0 10px 0; margin-bottom:15px">
                                        <div class="kt-chat__head">
                                            <div class="kt-chat__left">
                                                <div class="kt-chat__label">
                                                    <a href="#" class="kt-chat__title" style="font-size:1.8rem"></a>
                                                    <span class="kt-chat__status">

                                                    </span>
                                                </div>

                                                <div class="kt-chat__pic kt-hidden">
                                                    <span class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-placement="right" title="" data-original-title="Jason Muller">
                                                        <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/300_12.jpg" alt="image">
                                                    </span>
                                                    <span class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-placement="right" title="" data-original-title="Nick Bold">
                                                        <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/300_11.jpg" alt="image">
                                                    </span>
                                                    <span class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-placement="right" title="" data-original-title="Milano Esco">
                                                        <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_14.jpg" alt="image">
                                                    </span>
                                                    <span class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-placement="right" title="" data-original-title="Teresa Fox">
                                                        <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_4.jpg" alt="image">
                                                    </span>
                                                </div>

                                            </div>

                                            <div class="kt-chat__right">
                                                <!--begin:: Aside Mobile Toggle -->
                                                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md kt-hidden-desktop" id="kt_chat_aside_mobile_toggle">
                                                    <i class="flaticon2-open-text-book"></i>
                                                </button>
                                                <!--end:: Aside Mobile Toggle-->

                                                <div class="dropdown dropdown-inline">
                                                    <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="flaticon-more-1"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-left dropdown-menu-md" style="">
                                                        <!--begin::Nav-->
                                                        <ul class="kt-nav">
                                                            <li class="kt-nav__item">
                                                                <a href="#" data-status="2" data-id="" class="kt-nav__link ChangeStatus ladda-button" data-style="expand-left">
                                                                    <i class="kt-nav__link-icon flaticon2-group"></i>
                                                                    <span class="kt-nav__link-text">Change to Pending</span>
                                                                </a>
                                                            </li>
                                                            <li class="kt-nav__item">
                                                                <a href="#" data-status="3" data-id="" id="CloseTicket" class="kt-nav__link ChangeStatus ladda-button" data-style="expand-left">
                                                                    <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                                                    <span class="kt-nav__link-text">Close Ticket</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <!--end::Nav-->
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="kt-portlet__body kt-p0">
                                        <div class="kt-chat__messages">
                                            <div class="kt-scroll kt-scroll--pull ps ps--active-y" id="messages" data-mobile-height="200" style="max-height:400px">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="kt-portlet__foot kt-pl0 kt-pr0 kt-pb-0 kt-pt5">
                                        <form class="kt-form" action="" method="POST" id="updatestatusform">

                                            <div class="kt-chat__input">
                                                <div class="kt-chat__editor">
                                                    <textarea rows="8" placeholder="Type here..." id="message"></textarea>
                                                </div>
                                                <div class="kt-chat__toolbar">
                                                    @*<div class="kt_chat__tools">
                                                        <a href="#"><i class="flaticon2-link"></i></a>
                                                        <a href="#"><i class="flaticon2-photograph"></i></a>
                                                        <a href="#"><i class="flaticon2-photo-camera"></i></a>
                                                    </div>*@
                                                    <div class="kt_chat__actions">
                                                        <button type="button" class="btn btn-brand btn-md btn-upper btn-bold kt-chat__reply ladda-button" id="send" data-style="expand-left">Send</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer kt-hidden">
                    <button type="button" class="btn btn-label-brand btn-bold ladda-button btn-sm">Save</button>
                    <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>

