﻿@model AspNetUserViewModel
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Areas/Seller/Views/Shared/Layout.cshtml";
}



<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title"><i class="fas fa-User"></i>&nbsp;Account Information</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        </div>
        <div class="kt-subheader__toolbar">

        </div>
    </div>
</div>

<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">


    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="display:flex">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Account Details
                        </h3>
                    </div>

                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions"></div>
                    </div>

                </div>

                <div class="kt-portlet__body">

                    @*<form class="kt-form" action="" method="POST" id="order-form">*@



                    @using (Html.BeginForm("MyAccount", "Home", FormMethod.Post, new {area = "Seller",  @class = "form-horizontal", role = "form" }))
                    {
                    <div class="row">
                        @Html.AntiForgeryToken()
                        <div class="col-md-12">
                            @Html.Raw(TempData["msg"])
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Your name" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"> <i class="fa fa-envelope-open"></i></span></div>
                                    @Html.TextBoxFor(m => m.Email, new { @readonly = "readonly", @class = "form-control", placeholder = "Enter your email" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Mobile</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"> <i class="fa fa-lock-open"></i></span></div>
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "your mobile number" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label>POBox</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"> <i class="fa fa-id-card"></i></span></div>
                                    @Html.TextBoxFor(m => m.POBox, new { @class = "form-control", placeholder = "P.O. Box" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group">
                                <label>Counrty</label>
                                @Html.TextBoxFor(m => m.CountryId, new { @class = "form-control selectpicker", autocomplete = "off", id = "Country" })
                            </div>

                            <div class="form-group">
                                <label>State</label>
                                @Html.TextBoxFor(m => m.StateId, new { @class = "form-control selectpicker", autocomplete = "off", id = "State" })
                            </div>

                            <div class="form-group">
                                <label>City</label>
                                @Html.TextBoxFor(m => m.CityId, new { @class = "form-control selectpicker", autocomplete = "off", id = "City" })
                            </div>
                        </div>

                        <input type="hidden" value="true" name="Agreepolicies" />
                        <div class="col-md-12">
                            <div class="form-action">
                                <input type="hidden" name="Id" value="@Model.Id" />
                                <button type="submit" class="btn btn-primary rounded ">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                            }
                       
                        @*</form>*@
                    </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="/content/js/pages/crud/forms/validation/form-controls.js" type="text/javascript"></script>
    <script src="~/content/js/CountrySelect/CountryStateAndCityScripts.js"></script>
    <script>
        $(document).ready(function () {

            var Country ='@(Model!=null?(Model.CountryId !=null?Model.CountryId+"":""):"")'+"";
            var state ='@(Model!=null?(Model.StateId !=null?Model.StateId+"":""):"")'+"";
            var city ='@(Model!=null?(Model.CityId !=null?Model.CityId+"":""):"")'+"";


            
            @*$("#Country").select2({
                data: ['@Model.Country.name'],
                placeholder: "Select Country",
                width: "100%"
            });

            $("#State").select2({
                data: ['@Model.State.name'],
                placeholder: "Select State",
                width: "100%"
            });

            $("#City").select2({
                data: ['@Model.City.text'],
                placeholder: "Select City",
                width: "100%"
            });*@

            function getCityname(id) {

                $.ajax({

                    url: '@Url.Content("~/Content/js/JsonData/cities.json")',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item.id == id) {
                                $("#Country").val(Country);
                                $("#Country").change();
                                $("#State").val(state);
                                $("#State").change();
                            }
                        });
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            };

            getCityname(city);
            $("#City").val(city);

        });

    </script>
}


