﻿
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Seller/Views/Shared/Layout.cshtml";
}
@section styles{

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">

    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="https://www.amcharts.com/lib/3/plugins/export/export.css" rel="stylesheet" type="text/css" />

    <link href="../Content/css/pages/wizard/wizard-1.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/custom-bilal.css" rel="stylesheet" type="text/css" />
}
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title"><i class="fas fa-user-tag"></i>&nbsp;Seller</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <h3 class="kt-subheader__title">Dashboard</h3>



        </div>
        <div class="kt-subheader__toolbar">

        </div>
    </div>
</div>

<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="">
        <div class="row" id="stats-boxes">
            <div class="col-lg-3 col-md-6">
                <div class="info-block" id="sales-box">
                    <div class="info-block-head text-right">
                        <span>@ViewBag.OrdersCount</span>
                        <h4>Sales</h4>
                    </div>
                    <div class="info-block-footer">
                        <a href="@Url.Action("Archive","Product",new {area="Seller" })">
                            View more
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="info-block info-block-pink" id="products-box">
                    <div class="info-block-head text-right">
                        <span>@ViewBag.ProcusctsCount</span>
                        <h4>Products</h4>
                    </div>
                    <div class="info-block-footer">
                        <a href="@Url.Action("ArchiveActive","Product",new {area="Seller" })">
                            View more
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="info-block info-block-blue" id="buyers-box">
                    <div class="info-block-head text-right">
                        <span>@ViewBag.ProductBids</span>
                        <h4>Bids Products</h4>
                    </div>
                    <div class="info-block-footer">
                        <a href="@Url.Action("ArchiveBid","Product",new {area="Seller" })">
                            View more
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="info-block info-block-red" id="covered-locations-box">
                    <div class="info-block-head text-right">
                        <span>@ViewBag.DirectPurchased</span>
                        <h4>
                            Direct Purchased Products
                        </h4>
                    </div>
                    <div class="info-block-footer">
                        <a href="@Url.Action("Archive","Product",new {area="Seller" })">
                            View more
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile " id="asset-bids-details-block">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Asset Bid's Details
                            </h3>
                        </div>

                    </div>

                    <div class="kt-portlet__body">
                        <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                            <div class="row align-items-center">
                                <div class="col-xl-8 order-2 order-xl-1">
                                    <div class="row align-items-center">
                                        <div class="col-md-12 kt-margin-b-20-tablet-and-mobile">
                                            <div class="kt-input-icon kt-input-icon--left">
                                                <input type="text" class="form-control" placeholder="Search..." id="Bid_search">
                                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                    <span>
                                                        <i class="la la-search"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Bid Count</th>
                                        <th>Last Bid</th>
                                    </tr>
                                </thead>
                                <tbody id="bidtable">
                                    <tr>
                                        <td>Product Name</td>
                                        <td>Bid Count</td>
                                        <td>Last Bid</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Trend Analysis - Product Listing


                            </h3>
                        </div>

                    </div>

                    <div class="kt-portlet__body">

                        <div class="table-responsive">
                            <div id="kt_amcharts_1" style="height: 350px;"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Products by Category
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_amcharts_2" style="height: 350px;"></div>

                    </div>
                </div>
            </div>

            
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
    <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
        <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Bids Count by Product
                </h3>
            </div>

        </div>
        <div class="kt-portlet__body">
            <div id="kt_amcharts_3" style="height: 350px;"></div>
        </div>
    </div>
</div>
            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile " id="distribution-of-buyers-by-location">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Distribution of Buyers by Location
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_amcharts_4" style="height: 350px;"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <!--begin::Page Vendors(used by this page) -->
    @*<script src="https://maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM" type="text/javascript"></script>*@
    <script src="https://www.amcharts.com/lib/3/amcharts.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/radar.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/tools/polarScatter/polarScatter.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/usaLow.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js" type="text/javascript"></script>
    <!--end::Page Vendors -->

    <script src="/Content/js/pages/crud/metronic-datatable/base/data-local.js" type="text/javascript"></script>
    <script src="~/Content/Js/Seller_amcharts_charts.js"></script>

    <script>
        var timer;
        var Bindbidtbl = function () {

            var q = $("#Bid_search").val();
                $.get('@Url.Action("GetBidsTabel")?q='+q, function (data) {
                    $("#bidtable").empty();
                    var str = "";
                    $.each(data, function (i, item) {

                        str += "<tr>";
                        str += "<td><a href='@Url.Action("Details","ProductDetails",new { area=""})?id="+item.Key+"' target='_blank'>"+item.ProductTitle+"</a></td>";
                        str += "<td>"+item.Value+"</td>";
                        str += "<td>"+item.LastBid+"</td>";
                        str += "<tr/>";
                    });

                    $("#bidtable").append(str);
                });
            }
              var BidBysearch = function () {

                $('#Bid_search').on('keyup', function () {

                    clearTimeout(timer);


                    timer = setTimeout(function () {
                        Bindbidtbl();
                    }, 1000);

                });

            };
        $(document).ready(function () {
            Bindbidtbl();
            BidBysearch();
        })
          const tourSteps = [
            {
                //element: '.kt-aside__brand-logo',
                element: '#kt_header',
                popover: {
                    title: "header's dashboard",
                    description: "This the header's dashboard which includes the seller's account where the seller can sign out",
                },
            }, {
                element: '#stats-boxes',
                popover: {
                    title: 'Statistics',
                    description: 'This is the statistics section of all the products and the orders of the seller',
                }
            }, {
                element: '#sales-box',
                popover: {
                    title: 'Sales',
                    description: "preview the total number of the seller's sales",
                }
            },{
                element: '#products-box',
                popover: {
                    title: 'Product',
                    description: 'preview the total number of the products, which the seller own',
                }
            },{
                element: '#buyers-box',
                popover: {
                    title: 'Buyer',
                    description: 'preview the total number of the buyers of the products',
                }
            },{
                element: '#covered-locations-box',
                popover: {
                    title: 'Covered Locations',
                    description: "preview the total locations, which the seller's product has covered",
                }
            },{
                element: '#subhead-226 .kt-menu__link-text',
                popover: {
                    title: 'Products',
                    description: "you can preview your products and add a new product from here",
                }
            },{
                element: '#sub-129 .kt-menu__link-text',
                popover: {
                    title: 'My material',
                    description: "You can preview your products from here",
                }
            },{
                element: '#sub-130 .kt-menu__link-text',
                popover: {
                    title: 'New listings',
                    description: "You can add new products by clicking here",
                }
            },{
                element: '#sub-239 .kt-menu__link-text',
                popover: {
                    title: "Orders",
                    description: "you can preview your products or add new ones from here",
                }
            },{
                element: '#sub-241 .kt-menu__link-text',
                popover: {
                    title: "Bid status",
                    description: "preview your bids status",
                }
            },{
                element: '#asset-bids-details-block',
                popover: {
                    title: "Asset Bid's Details",
                    description: "This schedule shows you your product name with its bid count and the last bid",
                }
            },{
                element: '#distribution-of-buyers-by-location',
                popover: {
                    title: 'Distribution of Buyers by Location',
                    description: "This diagram show how the buyers of your product are distributed around the world",
                }
            },
        ];

        const animatedTourDriver = new Driver({
            animate: false,
            opacity: 0.8,
            stageBackground: '#fff',
            padding: 5,
            showButtons: true,
        });

        animatedTourDriver.defineSteps(tourSteps);
        $('#start-tour').on('click', function (e) {
            e.preventDefault();
            $('#subhead-226').parent().addClass('kt-menu__item--open');
            animatedTourDriver.start();
            return false;
        });
    </script>

}