﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Seller/Views/Shared/Layout.cshtml";
    AspNetUserViewModel User = ViewBag.CUser;
    int Frequency = 0;
    if (User.UserReports.Count > 0)
    {
        Frequency = (int)User.UserReports.First().Frequency;
    }
}

<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title"><i class="fas fa-hand-holding-heart"></i>&nbsp;My Preferences</h3>
        </div>
        <div class="kt-subheader__toolbar">
        </div>
    </div>
</div>
<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="display:flex">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            My Preferences
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">

                    <form class="kt-form" action="" method="POST" id="order-form">
                        <div class="row">
                            @using (Html.BeginForm("Index", "MyPreferences ", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="col-md-12">

                                    @Html.Raw(TempData["msg"])
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <select id="Frequency" name="Frequency" data-live-search="true" class="form-control selectpicker" title="Frequency">
                                            <option value="-1">None</option>
                                            <option value="2">Daily</option>
                                            <option value="3">Weekly</option>
                                            <option value="4">Monthly</option>
                                            <option value="5">Quaterly</option>
                                            <option value="6">Yearly</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Prefered Countries</label>
                                        <select name="CountryPreferences" class="form-control selectpicker" multiple>
                                            @foreach (var item in ViewBag.Countries)
                                            {
                                                <option @(User.UserPreferedCountries.Where(x => x.CountryId == item.id).Count() > 0 ? "selected" : "") value="@item.id">@item.name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Prefered Categories</label>
                                        <select name="CategoriesPreferences" class="form-control selectpicker" multiple>
                                            @foreach (var item in ViewBag.Categories)
                                            {
                                                <option @(User.UserPreferedCategories.Where(x => x.CategoryId == item.CategoryId).Count() > 0 ? "selected" : "") value="@item.CategoryId">@item.CategoryName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Prefered Manufacturers</label>
                                        <select name="ManufacturersPreferences" class="form-control selectpicker" multiple>
                                            @foreach (var item in ViewBag.Manufacturers)
                                            {
                                                <option @(User.UserPreferedManufacturers.Where(x => x.ManufacturerId == item.ManufacturersId).Count() > 0 ? "selected" : "") value="@item.ManufacturersId">@item.ManufacturersName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-action text-center">
                                        <button type="submit" class="btn btn-primary rounded ">
                                            Update
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
              $("#Frequency").val(@Frequency);
        })
    </script>
}
