﻿@using ps.haweya.win.obs.business.Managers;
@model BuyerOrderViewModel
@{
    Layout = null;
    var bank = ViewBag.Bank as BankAccountViewModel;
    var total = Model.CartItems.Sum(t => t.ProductInformation.UnitPrice * t.Qty.Value) + Model.CartItems.Sum(x => x.ShippingValue + x.InspectionValue);
    var ordervalue = Model.CartItems.Sum(t => t.ProductInformation.UnitPrice * t.Qty.Value);
    double vatvalue = Model.VatValue ?? 0;
    string vattext = Model.VatText;
    var Mycurrency = Model.Currency;
    if (Mycurrency == null)
    {
        Mycurrency = TempData["maincurrency"] as CurrencyViewModel;


        if (TempData["cookiecurrency"] != null)
        {
            Mycurrency = TempData["cookiecurrency"] as CurrencyViewModel;
        }
    }
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8" />
    <meta name="author" content="WIN" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/Content/FrontEnd/css/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/animate.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/flexslider.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/swiper.min.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/magiczoomplus.css" rel="stylesheet" />

    <link href="/Content/FrontEnd/css/jquery-ui.css" rel="stylesheet" />

    <link href="/Content/FrontEnd/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/Content/plugins/toastr/build/toastr.min.css" rel="stylesheet" />
    <link href="/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/style.css" rel="stylesheet" />
    <link rel="apple-touch-icon" href="~/Content/FrontEnd/images/favicon-32x32.png" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/FrontEnd/images/favicon-32x32.png" />
    <link href="/Content/css/pages/invoices/invoice-2.css" rel="stylesheet" type="text/css" />
    <style>

        .labelstatus {
            display: inline;
            padding: .2em .6em .3em;
            /*font-size: 75%;*/
            font-weight: 500;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
        }

        .btn-warning:hover {
            background: #f4a32d;
            border-color: #f4a32d;
            color: #fff;
        }

        .dropdown a {
            color: black;
        }

        .dropdown a {
            color: #000000 !important;
            font-size: 14px;
            font-weight: 500;
        }

            .dropdown a i {
                margin-right: 10px;
            }

            .dropdown a:hover {
                color: #4877bc !important;
            }

        .kt-invoice-2 .kt-invoice__body table tbody tr td {
            font-size: 14px;
        }

        .kt-invoice-2 .kt-invoice__body table thead tr th:not(:first-child) {
            text-align: left;
            padding-left: 15px;
            border-top: 1px solid #ebedf2;
        }

        .kt-invoice-2 .kt-invoice__body table tbody tr td:not(:first-child) {
            text-align: left;
            padding-left: 15px;
        }

        .kt-invoice-2 .kt-invoice__body table thead tr th {
            padding-left: 15px;
            border-top: 1px solid #ebedf2;
        }

        .kt-invoice-2 .kt-invoice__head {
            padding: 20px 0 !important;
        }

        .kt-invoice-2 .kt-invoice__body table tbody tr:first-child td {
            padding-top: 0.5rem;
        }

        .kt-invoice-2 .kt-invoice__body table tbody tr td {
            padding: 0.5rem 0 0.5rem 0;
        }

        .kt-invoice-2 .kt-invoice__body {
            padding: 0.5rem 0;
        }

        .kt-invoice-2 .kt-invoice__footer .table th {
            font-size: inherit;
        }

        .kt-invoice-2 .kt-invoice__footer .table td {
            font-size: inherit;
        }

        .kt-invoice-2 .kt-invoice__footer {
            padding: 0.5rem 0;
        }

        .kt-invoice-2 .kt-invoice__head .kt-invoice__items {
            margin-top: 10px
        }

        .wrapper {
            padding: 20px;
            padding-bottom: 0px;
        }
    </style>

    <title>DownloadOrderInvoice</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                @*<div class="col-md-3">
                        @Html.Partial("_BuyerLinks")
                    </div>*@
                <div class="col-md-12">
                    <div class="kt-invoice-2">
                        <div class="kt-invoice__head">
                            <div class="kt-invoice__container">
                                <div class="kt-invoice__brand">
                                    <div style="width:100%!important">
                                        <div class="col-md-6 col-sm-6" style="width:48%!important;float:left">
                                            <h1 class="kt-invoice__title">INVOICE </h1>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="width:48%!important;float:left">
                                            <div href="#" class="kt-invoice__logo">
                                                <a href="#"><img src="/Content/FrontEnd/images/logo.png" width="350" /> </a>

                                                <span class="kt-invoice__desc" style="text-align:left">
                                                    <span style="margin-bottom: 10px;">Chamber of Commerce Building, 6th Floor, Jubail Industrial City Saudi Arabia</span>
                                                    <br />
                                                    <span>Call Us: +966 13 347 9300</span>
                                                    <br />
                                                    <span>url: win.com.sa</span>
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-invoice__items" style="margin-top: 20px">
                                    <div class="kt-invoice__item">
                                        <span class="kt-invoice__subtitle">DATE</span>
                                        <span class="kt-invoice__text">@Model.InsertDate.Value.ToString("dd/MM/yyyy")</span>
                                        <br />
                                    </div>

                                    <div class="kt-invoice__item">
                                        <span class="kt-invoice__subtitle">INVOICE NO.</span>
                                        <span class="kt-invoice__text">INV-@Model.ID.ToString("000")</span>
                                        <br />
                                    </div>

                                    <div class="kt-invoice__item">

                                        <span class="kt-invoice__subtitle">INVOICE TO.</span>
                                        <br />
                                        <span class="kt-invoice__text">
                                            Name : <b>@Model.AspNetUser.FullName</b>



                                        </span>
                                        <br />
                                        @if (@Model.ShippingData != null)
                                        {<span class="kt-invoice__text">
                                                Address :  <b>
                                                    @Model.ShippingData.FirstAddress

                                                    <label id="lblcity" class="lblcity" myid="@Model.ShippingData.CityID"></label> @Model.ShippingData.CityName,<label id="lblstate" class="lblstate" myid="@Model.ShippingData.StateID"></label> @Model.ShippingData.StateName ,<label id="lblcountry" class="lblcountry" myid="@Model.ShippingData.CountryID"></label>@Model.ShippingData.CountryName
                                                </b>
                                            </span>
                                            <br />
                                            <span class="kt-invoice__text">
                                                <br />
                                                POBox : <b>@Model.ShippingData.ZipCode</b>
                                            </span>
                                            <br />
                                        }
                                        else
                                        {
                                            <span class="kt-invoice__text">
                                                Address :  <b>
                                                    <label id="lblcity1" class="lblcity1" myid="@Model.AspNetUser.CityId"></label> ,<label id="lblstate1" class="lblstate1" myid="@Model.AspNetUser.StateId"></label> @Model.AspNetUser.StateId ,<label id="lblcountry1" class="lblcountry1" myid="@Model.AspNetUser.CountryId"></label>@Model.AspNetUser.CountryId
                                                </b>
                                            </span>
                                            <br /> <span class="kt-invoice__text">
                                                POBox : <b>@Model.AspNetUser.POBox</b>
                                            </span>
                                            <br />

                                        }

                                        <span class="kt-invoice__text">
                                            Mobile:<b>@Model.AspNetUser.PhoneNumber</b>
                                        </span>

                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="kt-invoice__body">
                            <div class="kt-invoice__container">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Item</th>
                                                <th>Qty</th>
                                                <th>Price</th>
                                                @*<th>Inspection</th>
                                                <th>Shipping</th>*@
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var itm in Model.CartItems)
                                            {
                                                <tr>
                                                    <td class="product-thumb">
                                                        <a href="#">

                                                            <img class='img img-responsive' src='@itm.ProductInformation.ProductImg[0]' style="height: 60px;" />


                                                        </a>
                                                    </td>
                                                    <td>  <a href="@Url.Action("Details","ProductDetails",new { id=itm.ProductID})">@itm.ProductInformation.ProductTitle</a></td>
                                                    <td>@itm.Qty</td>
                                                    <td>@(string.Format("{0:n}", itm.ProductInformation.UnitPrice / Mycurrency.RateToRiyal))</td>
                                                    @*<td>@(string.Format("{0:n}", itm.InspectionValue / Mycurrency.RateToRiyal))</td>
                                                    <td>@(string.Format("{0:n}", itm.ShippingValue / Mycurrency.RateToRiyal))</td>*@
                                                    <td>@(string.Format("{0:n}", Convert.ToDouble(((itm.ProductInformation.UnitPrice * itm.Qty)) / Mycurrency.RateToRiyal)))</td>
                                                </tr>
                                            }
                                            <tr><td colspan="3" class="nobacknoborder"></td><td>BaseTotal</td><td>@(string.Format("{0:n}", Convert.ToDouble((Model.CartItems.Sum(x => (x.ProductInformation.UnitPrice * x.Qty))) / Mycurrency.RateToRiyal))) @Mycurrency.Sign</td></tr>
                                            <tr><td colspan="3" class="nobacknoborder"></td><td>Inspection Total</td><td>@(string.Format("{0:n}", Convert.ToDouble((Model.CartItems.Sum(x => (x.InspectionValue ?? 0))) / Mycurrency.RateToRiyal))) @Mycurrency.Sign</td></tr>
                                            <tr><td colspan="3" class="nobacknoborder"></td><td>Shipping Total</td><td>@(string.Format("{0:n}", Convert.ToDouble((Model.CartItems.Sum(x => (x.ShippingValue ?? 0))) / Mycurrency.RateToRiyal))) @Mycurrency.Sign</td></tr>
                                            <tr><td colspan="3" class="nobacknoborder"></td><td>Vat @vattext</td><td>@(string.Format("{0:n}", Convert.ToDouble(((Model.CartItems.Sum(x => (x.ProductInformation.UnitPrice * x.Qty) + (x.ShippingValue ?? 0) + (x.InspectionValue ?? 0))) * vatvalue) / Mycurrency.RateToRiyal))) @Mycurrency.Sign</td></tr>
                                            <tr><td colspan="3" class="nobacknoborder"></td><td> Total</td><td>@(string.Format("{0:n}", Convert.ToDouble(((Model.CartItems.Sum(x => (x.ProductInformation.UnitPrice * x.Qty) + (x.ShippingValue ?? 0) + (x.InspectionValue ?? 0))) + (Model.CartItems.Sum(x => (x.ProductInformation.UnitPrice * x.Qty) + (x.ShippingValue ?? 0) + (x.InspectionValue ?? 0))) * vatvalue) / Mycurrency.RateToRiyal))) @Mycurrency.Sign</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="kt-invoice__footer">
                            <div class="kt-invoice__container">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>BANK</th>
                                                <th>ACC.NO.</th>
                                                <th>DUE DATE</th>
                                                <th>TOTAL AMOUNT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                @if (bank != null)
                                                {
                                                    <td>@bank.Name</td>
                                                    <td>@bank.No</td>

                                                }
                                                else
                                                {
                                                    <td>BARCLAYS UK</td>
                                                    <td>12345678909</td>
                                                }
                                                <td>@Model.InsertDate.Value.ToString("MMM,dd,yyyy")</td>
                                                <td class="kt-font-danger kt-font-xl kt-font-boldest">@(string.Format("{0:n}", Convert.ToDouble(((Model.CartItems.Sum(x => (x.ProductInformation.UnitPrice * x.Qty) + (x.ShippingValue ?? 0) + (x.InspectionValue ?? 0))) + (Model.CartItems.Sum(x => (x.ProductInformation.UnitPrice * x.Qty) + (x.ShippingValue ?? 0) + (x.InspectionValue ?? 0))) * vatvalue) / Mycurrency.RateToRiyal))) @Mycurrency.Sign</td>

                                            </tr>
                                            @if (bank != null)
                                            {

                                                <tr><th style="border-top:1px solid #ebedf2;">Account Name : </th><td colspan="3">@bank.Beneficiary_Account_Name</td></tr>
                                                <tr><th>IBAN : </th><td colspan="3">@bank.IBAN</td></tr>
                                                <tr><th>Swift Code : </th><td colspan="3">@bank.SWIFT_CODE</td></tr>
                                                <tr><th>Address : </th><td colspan="3">@bank.Bank_Address_Country</td></tr>
                                                <tr><th>Currency : </th><td colspan="3">@bank.Currency</td></tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="/Content/FrontEnd/js/jquery-3.4.1.min.js"></script>



    <script src="/Content/FrontEnd/js/popper.min.js"></script>
    <script src="/Content/FrontEnd/js/bootstrap.min.js"></script>
    <script src="/Content/FrontEnd/js/jquery.flexslider-min.js"></script>
    <script src="/Content/FrontEnd/js/jquery.syotimer.js"></script>
    <script src="/Content/FrontEnd/js/swiper.min.js"></script>
    <script src="/Content/FrontEnd/js/zoomsl.min.js"></script>
    <script src="/Content/FrontEnd/js/wow.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <script src="/Content/FrontEnd/js/bootstrap-select.min.js"></script>
    <script src="/Content/FrontEnd/js/jquery-ui.js"></script>
    <script src="/Content/plugins/toastr/build/toastr.min.js"></script>
    <script src="/Content/plugins/select2/select2.full.min.js"></script>
    <script src="/Content/FrontEnd/js/jquery.blockUI.min.js"></script>

    <script src="/Content/plugins/general/moment/min/moment.min.js"></script>
    <script>
        $(document).ready(function () {

            function getcountryname(id, selector) {
                $.ajax({
                    url: '/content/js/JsonData/countries.json',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item.id == id) {
                                $("." + selector).text(item.name);
                            }
                        });
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            };

            function getStateame(id, selector) {
                $.ajax({
                    url: '/content/js/JsonData/states.json',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item.id == id) {
                                $("." + selector).text(item.name);
                            }
                        });
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            };

            function getCityname(id, selector) {
                $.ajax({
                    url: '/content/js/JsonData/cities.json',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item.id == id) {
                                $("." + selector).text(item.text);
                            }
                        });
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            }
            var Cityid = $("#lblcity").attr("myid");
            var selectorcity = "lblcity";
            console.log(Cityid);
            if (Cityid) {
                getCityname(Cityid, selectorcity);

                var Stateid = $("#lblstate").attr("myid");
                var selectorstate = "lblstate";
                getStateame(Stateid, selectorstate);

                var Countryid = $("#lblcountry").attr("myid");
                var selectorcountry = "lblcountry";
                getcountryname(Countryid, selectorcountry);
            }
            else {
                var Cityid1 = $("#lblcity1").attr("myid");
                var selectorcity1 = "lblcity1";
                getCityname(Cityid1, selectorcity1);




                var Stateid1 = $("#lblstate1").attr("myid");
                var selectorstate1 = "lblstate1";

                getStateame(Stateid1, selectorstate1)


                var Countryid1 = $("#lblcountry1").attr("myid");
                var selectorcountry1 = "lblcountry1";

                getcountryname(Countryid1, selectorcountry1);
            }

        });
    </script>
</body>
</html>
