﻿@model IEnumerable<LinkViewModel>

@{
    var index = 2;
}
<div class="dd">
    <ol class="dd-list">
        @foreach (var area in Model.GroupBy(x => x.AreaDisplayName))
        {
            <li class="dd-item first-level" data-id="1">
                
                <div class="dd-handle">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                        <input type="checkbox" class="dd-item-checkbox-item" />
                        <span style="top:-4px"></span>
                    </label>
                    @(area.Key != "" ? area.Key : "Default")
                </div>
                
                @foreach (var controler in Model.Where(x => x.AreaDisplayName.Equals(area.Key)).GroupBy(x => x.ControllerDisplayName))
                {
                    <ol class="dd-list">
                        <li class="dd-item" data-id="@(index++)">
                            <div class="dd-handle">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                    <input type="checkbox" class="dd-item-checkbox-item" />
                                    <span style="top:-4px"></span>
                                </label>
                                @(controler.Key != "" ? controler.Key : "Default")
                            </div>
                            <ol class="dd-list">
                                @foreach (var Action in Model.Where(x => x.ControllerDisplayName.Equals(controler.Key) && x.AreaDisplayName.Equals(area.Key)))
                                {
                                    <li class="dd-item " data-id="@(index++)">
                                        <div class="dd-handle">
                                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                                <input value="@Action.Id" type="checkbox" @(Action.IsSelected ? "checked='checked'" : "")  class="dd-item-checkbox-item dd-item-checkbox-item-action" />
                                                <span style="top:-4px"></span>
                                            </label>
                                            @(Action.ActionDisplayName)
                                        </div>
                                    </li>
                                }
                            </ol>
                        </li>

                    </ol>
                }

            </li>
        }
    </ol>
</div>