﻿@model IEnumerable<LinkViewModel>

@{
    var index = 2;
}

@helper BuildMenu(IEnumerable<LinkViewModel> links, LinkViewModel subHead, int level = 0)
{
    <li class="dd-item " data-id="@(level++)">

        <div class="dd-handle">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input value="@subHead.Id" type="checkbox" @(subHead.IsSelected ? "checked='checked'" : "") class="dd-item-checkbox-item" />
                <span style="top:-4px"></span>
            </label>
            @(subHead.AreaDisplayName)
        </div>

        @foreach (var link in links.Where(t => t.ParentId == subHead.Id).OrderBy(t => t.Order ?? 1000))
        {
            <ol class="dd-list">
                @switch (link.Type ?? "")
                {
                    case "":
                    case "LINK":
                        <li class="dd-item " data-id="@(level++)">
                            <div class="dd-handle">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                    <input value="@link.Id" type="checkbox" @(link.IsSelected ? "checked='checked'" : "") class="dd-item-checkbox-item dd-item-checkbox-item-action" />
                                    <span style="top:-4px"></span>
                                </label>
                                @(link.ActionDisplayName)
                            </div>
                        </li>
                        break;
                    case "SUB_HEAD":
                        @BuildMenu(links, link, level++)
                        break;
                }
            </ol>
        }
    </li>
}

<div class="dd">
    <ol class="dd-list">
        @foreach (var head in Model.Where(t => t.Type == "HEAD").OrderBy(t => t.Order ?? 1000))
        {
            <li class="dd-item first-level" data-id="1">
                <div class="dd-handle">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                        <input value="@head.Id" type="checkbox" class="dd-item-checkbox-item" />
                        <span style="top:-4px"></span>
                    </label>
                    @head.AreaDisplayName
                </div>

                @foreach (var link in Model.Where(t => t.ParentId == head.Id).OrderBy(t => t.Order ?? 1000))
                {
                    <ol class="dd-list">
                        @switch (link.Type ?? "")
                        {
                            case "":
                            case "LINK":
                                <li class="dd-item " data-id="@(index++)">
                                    <div class="dd-handle">
                                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                            <input value="@link.Id" type="checkbox" @(link.IsSelected ? "checked='checked'" : "") class="dd-item-checkbox-item dd-item-checkbox-item-action" />
                                            <span style="top:-4px"></span>
                                        </label>
                                        @(link.ActionDisplayName)
                                    </div>
                                </li>
                                break;
                            case "SUB_HEAD":
                                @BuildMenu(Model, link, index++)
                                break;
                        }
                    </ol>
                }
            </li>
        }
    </ol>
</div>