﻿@model RegisterViewModel
@{
    ViewBag.Title = "AddNewUser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section    Styles{

}

<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title"><i class="fas fa-User"></i>&nbsp;System Users</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>





            <h3 class="kt-subheader__title kt-text-light">
                <a href="#" class="btn btn-label-warning btn-bold btn-sm btn-icon-h kt-margin-l-10">
                    Add New
                </a>
            </h3>
        </div>
        <div class="kt-subheader__toolbar">

        </div>
    </div>
</div>

<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">


    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="display:flex">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            User Details
                        </h3>
                    </div>

                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">


                            @*<a href="#" id="resendEmail" data-orderid="$orderId" class="btn btn-label-brand btn-bold"><i class="fas fa-mail-bulk"></i>&nbsp;Resend Email</a>


                                <a href="#" id="updateCustomerEmail" class="btn btn-label-brand btn-bold edit-btn"><i class="la la-edit"></i>&nbsp;Update Email</a>
                                <a href="#" id="editOrderInformation" class="btn btn-label-brand btn-bold edit-btn kt-hidden"><i class="la la-edit"></i>&nbsp;Edit</a>
                                <a href="#" id="saveOrderInformation" class="btn btn-label-success btn-bold update-btn kt-hidden btn-success ladda-button" data-style="expand-left"><i class="la la-save"></i>&nbsp;Update</a>
                                <a href="#" id="cancelOrderInformation" class="btn btn-label-danger btn-bold cancel-btn kt-hidden"><i class="la la-times"></i>&nbsp;Cancel</a>*@
                        </div>
                    </div>

                </div>
                <div class="kt-portlet__body">

                    <form class="kt-form" action="" method="POST" id="order-form">

                        <div class="row">

                            @using (Html.BeginForm("AddNewUser", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="col-md-12">

                                    @Html.Raw(TempData["msg"])
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Frequency</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Your name" })

                                        </div>



                                    </div>

                                    <div class="form-group">
                                        <label>Email</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"> <i class="fa fa-envelope-open"></i></span></div>

                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"> <i class="fa fa-lock-open"></i></span></div>

                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter your pasword" })

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"> <i class="fa fa-lock-open"></i></span></div>

                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Re-enter your pasword" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>POBox</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"> <i class="fa fa-id-card"></i></span></div>


                                            @Html.TextBoxFor(m => m.POBox, new { @class = "form-control", placeholder = "P.O. Box" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Mobile</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"> <i class="fa fa-phone"></i></span></div>

                                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", placeholder = "Mobile" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                         
                                    <div class="form-group">
                                        <label>Counrty</label>
                                        @Html.TextBoxFor(m => m.Counrty, new { @class = "form-control selectpicker", autocomplete = "off", id = "Country" })
                                    </div>

                                    <div class="form-group">
                                        <label>State</label>
                                        @Html.TextBoxFor(m => m.State, new { @class = "form-control selectpicker", autocomplete = "off", id = "State" })
                                    </div>

                                    <div class="form-group">
                                        <label>City</label>
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control selectpicker", autocomplete = "off", id = "City" })
                                    </div>

                                    <div class="form-group">
                                        <label>Default Role</label>
                                        @Html.DropDownList("Type", ViewBag.Roles as SelectList, "Select", new { @class = "form-control", required = "required" });
                                    </div>
                                </div>

                                <input type="hidden" value="true" name="Agreepolicies" />
                                <div class="col-md-12">
                                    <div class="form-action text-center">


                                        <button type="submit" class="btn btn-primary rounded ">
                                            Register
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>



                    </form>

                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script src="/content/js/pages/crud/forms/validation/form-controls.js" type="text/javascript"></script>
    <script src="~/content/js/CountrySelect/CountryStateAndCityScripts.js"></script>
    <script>
        $(document).ready(function () {
             $("#" + CityName).select2({
                        data: City,
                        placeholder: "Select City",
                        width: "100%",
                    });

            var Country =@(Model!=null?(Model.Counrty!=null?Model.Counrty+"":""):"")+"";
            var state =@(Model!=null?(Model.State!=null?Model.State+"":""):"")+"";
            var city=@(Model!=null?(Model.City!=null?Model.City+"":""):"")+"";
        function getCityname(id) {
            $.ajax({

                url: '@Url.Content("~/Content/js/JsonData/cities.json")',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {

                                $("#Country").val(Country);
              $("#Country").change();
                            $("#State").val(state);
                            $("#State").change();
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };
            getCityname(city);
              $("#City").val(city);

        })



    </script>
}
