﻿@model AspNetUserViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    var DEFAULT_ROLE = Model.AspNetUserClaims.Where(x => x.ClaimType.Equals("DEFAULT_ROLE")).FirstOrDefault() != null ?Model.AspNetUserClaims.Where(x => x.ClaimType.Equals("DEFAULT_ROLE")).FirstOrDefault().ClaimValue.ToLower():"";

    var material = Model.MaterialPickupLocationSellers.FirstOrDefault();

    var shipping = Model.ShippingDatas;
      var counter = 0;
}

@section    Styles{
    <style>
        .label-success {
    background-color: #5cb85c;
       color: #fff!important;
}

        .label-warning {
    background-color: #f0ad4e;
        color: #fff!important;
}
        .label-info {
    background-color: #5bc0de;
        color: #fff!important;
}
        .step-form {
    padding: 55px 60px;
    background: #edf2f2;
    color: #282828;
}
        .step-address {
    background: url(/Content/FrontEnd/images/shipping.png) right bottom no-repeat;
    background-color: #edf2f2;
}
        .step-form-title {
    margin-bottom: 10px;
}

        .addresses-list .address-details {
    padding-bottom: 28px;
    margin-bottom: 28px;
    border-bottom: 1px solid #e1e1e1;
}
        .address-head, .address-head p {
    font-weight: 400;
}
    </style>
}

<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title"><i class="fas fa-User"></i>&nbsp;System Users</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>





            <h3 class="kt-subheader__title kt-text-light">
                <a href="@Url.Action("AddNewUser")" class="btn btn-label-warning btn-bold btn-sm btn-icon-h kt-margin-l-10">
                    Add New
                </a>
            </h3>
        </div>
        <div class="kt-subheader__toolbar">

        </div>
    </div>
</div>

<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12">

            <!--begin:: Widgets/Applications/User/Profile3-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__body">
                    <div class="kt-widget kt-widget--user-profile-3">
                        <div class="kt-widget__top">
                            <div class="kt-widget__media kt-hidden-">
                                <img src="/content/img/@(Model.ProfilePhoto!=""&& Model.ProfilePhoto!=null? Model.ProfilePhoto:"100_13.jpg")" alt="image">
                            </div>
                            <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden">
                                @Model.UserName
                            </div>
                            <div class="kt-widget__content">
                                <div class="kt-widget__head">
                                    <a href="#" class="kt-widget__username">
                                     @Model.FullName

                                        @if(Model.LockoutEnabled==true)
                                        {
                                        <i class="flaticon2-correct"></i>
                                        }
                                    </a>
                                    <div class="kt-widget__action">
                                        <button type="button" id="btnactivation" title="Click to change Activation" class="btn btn-label-@(Model.LockoutEnabled==true?"success":"danger") btn-sm btn-upper">@(Model.LockoutEnabled == true ? "Active" : "Inactive")</button>&nbsp;
                                        @*<button type="button" class="btn btn-brand btn-sm btn-upper">hire</button>*@
                                    </div>
                                </div>
                                <div class="kt-widget__subhead">
                                    <a href="#"><i class="flaticon2-new-email"></i>@Model.Email</a>
                                    <a href="#"><i class="flaticon2-calendar-3"></i>@(Model.AspNetUserClaims.Where(x=>x.ClaimType.Equals("DEFAULT_ROLE")).FirstOrDefault()!=null?Model.AspNetUserClaims.Where(x=>x.ClaimType.Equals("DEFAULT_ROLE")).FirstOrDefault().ClaimValue:"Role") </a>
                                    <a href="#"><i class="flaticon2-placeholder"></i>@Model.POBox</a>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <!--end:: Widgets/Applications/User/Profile3-->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="display:flex">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            User Details
                        </h3>
                    </div>

                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">
                        </div>
                    </div>

                </div>
                <div class="kt-portlet__body">

                    <form class="kt-form" action="" method="POST" id="order-form">

                        <div class="row">

                            <div class="col-md-12">

                                @Html.Raw(TempData["msg"])

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Frequency</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                                        <label class="form-control">@Model.FullName</label>
                                        @*@Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Your name" })*@

                                    </div>



                                </div>

                                <div class="form-group">
                                    <label>Email</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"> <i class="fa fa-envelope-open"></i></span></div>
                                        <label class="form-control">@Model.Email</label>
                                        @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email" })*@
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label>POBox</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"> <i class="fa fa-id-card"></i></span></div>
                                        <label class="form-control">@Model.POBox</label>

                                        @*@Html.TextBoxFor(m => m.POBox, new { @class = "form-control", placeholder = "P.O. Box" })*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Mobile</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"> <i class="fa fa-phone"></i></span></div>
                                        <label class="form-control">@Model.PhoneNumber</label>
                                        @*@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Mobile" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Counrty</label>
                                    <label class="form-control" id="Country"></label>
                                    @*@Html.TextBoxFor(m => m.CountryId, new { @class = "form-control selectpicker", autocomplete = "off", id = "Country" })*@
                                </div>

                                <div class="form-group">
                                    <label>State</label>
                                    <label class="form-control" id="State"></label>
                                    @*@Html.TextBoxFor(m => m.StateId, new { @class = "form-control selectpicker", autocomplete = "off", id = "State" })*@
                                </div>

                                <div class="form-group">
                                    <label>City</label>
                                    <label class="form-control" id="City"></label>
                                    @*@Html.TextBoxFor(m => m.CityId, new { @class = "form-control selectpicker", autocomplete = "off", id = "City" })*@
                                </div>

                                <div class="form-group">
                                    <label>Default Role</label>
                                    <label class="form-control"> @(Model.AspNetUserClaims.Where(x => x.ClaimType.Equals("DEFAULT_ROLE")).FirstOrDefault() != null ? Model.AspNetUserClaims.Where(x => x.ClaimType.Equals("DEFAULT_ROLE")).FirstOrDefault().ClaimValue : "Role")</label>
                                    @*@Html.TextBox("Type", Model.AspNetUserClaims.Where(x => x.ClaimType.Equals("DEFAULT_ROLE")).FirstOrDefault() != null ? Model.AspNetUserClaims.Where(x => x.ClaimType.Equals("DEFAULT_ROLE")).FirstOrDefault().ClaimValue : "Role", new { @class = "form-control", required = "required" });*@
                                </div>
                            </div>
                        </div>
                        @if (shipping!=null&& shipping.Count() > 0)
                        {
              
                        <div class="step-form step-address">
                            <div class="step-form-title">
                                <h3>Shipping address</h3>
                            </div>
                            <div class="addresses-list">
                                @foreach (var itm in shipping)
                                {

                                    <div class="address-details selected-address">
                                        <div class="address-head">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <a href="#" class="text-info">@itm.FirstName &nbsp; @itm.LastName</a>
                                                    <p>@itm.MobileNo</p>
                                                </div>
                                                <div class="col-md-3">
                                                    @if (itm.IsPrimary)
                                                    {
                                                        <span class="text-warning">
                                                              Primary  Address
                                                        </span>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                        <p>
                                            <label id="lblcity_@counter" class="lblcity_@counter" myid="@itm.CityID"></label> @itm.CityName,<label id="lblstate_@counter" class="lblstate_@counter" myid="@itm.StateID"></label> @itm.StateName ,<label id="lblcountry_@counter" class="lblcountry_@counter" myid="@itm.CountryID"></label>@itm.CountryName  
                                        </p>
                                        <p>
                                            First Address:    @itm.FirstAddress <br />
                                            Second Address:  @itm.SecondAddress
                                        </p>

                                    </div>

                                    counter++;

                                }

                            </div>

                        </div>
                   
                        }
                        @if (DEFAULT_ROLE.Equals("seller"))
                        {
                            var seller = Model.Sellers.FirstOrDefault();

                            if (seller != null)
                            {




                                <div class="row">
                                    <div class="col-md-12">
                                        <hr />
                                        <h3>Seller Data</h3>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Document  </label>
                                            <label class="form-control">
                                                Type :  @(seller.TypeID == 1 ? "Individual Professional/" : "Business (Selling On Behalf of a Business Entity)/")

                                                @if (seller.TypeID == 1)
                                                {
                                                    @(seller.BusinessTypeid == 1 ? "National ID" : "Iqama ID")
                                                }
                                                else if (seller.TypeID == 2)
                                                {
                                                    @(seller.BusinessTypeid == 1 ? "Company Registration" : "User Authorization Letter")
                                                }
                                            </label>
                                            <br />
                                            <a href="/Content/DocFiles/@seller.DocumentID" class="btn btn-info" target="_blank"> <i class="fa fa-file-download"></i>  Download Document</a>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Vendor Name
                                            </label>
                                            <label class="form-control @(Model.OBSVendorDetails.FirstOrDefault() != null ? "label label-info" : "label label-warning")">

                                                @(Model.OBSVendorDetails.FirstOrDefault() != null ? Model.OBSVendorDetails.FirstOrDefault().VendorName : "--Not Inserted Yet")
                                            </label>
                                        </div>
                                    </div>

                                    @if (material != null)
                                    {

                                        <div class="col-md-12">
                                            <hr />
                                            <h3>Material Pickup Loaction</h3>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">


                                                <label>
                                                    Country
                                                </label>
                                                <label class="form-control" id="materialcountry">

                                                </label>
                                                @*@Html.TextBoxFor(m => m.Country, new { @class = "form-control selectpicker", autocomplete = "off", id = "Country" })*@
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    State
                                                </label>
                                                <label class="form-control" id="materialState">

                                                </label>
                                                @*@Html.TextBoxFor(m => m.State, new { @class = "form-control selectpicker", autocomplete = "off", id = "State" })*@
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    City
                                                </label>
                                                <label class="form-control" id="materialCity">

                                                </label>
                                                @*@Html.TextBoxFor(m => m.City, new { @class = "form-control", autocomplete = "off", id = "City", placeholder = "Enter city", @readonly = "readonly" })*@
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Area
                                                </label>
                                                <label class="form-control">
                                                    @material.Area
                                                </label>
                                                @*@Html.TextBoxFor(m => m.Area, new { @class = "form-control", placeholder = "Area" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    Street
                                                </label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text"> <i class="fa fa-street-view"></i></span></div>


                                                    <label class="form-control">
                                                        @material.Street
                                                    </label>
                                                    @*@Html.TextBoxFor(m => m.Street, new { @class = "form-control", placeholder = "Street" })*@

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    BuildingNo
                                                </label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text">     <i class="fa fa-building"></i></span></div>



                                                    <label class="form-control">
                                                        @material.BuildingNo
                                                    </label>
                                                    @*@Html.TextBoxFor(m => m.BuildingNo, new { @class = "form-control", placeholder = "Building .No" })*@
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Mobile
                                                </label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text">          <i class="fa fa-mobile"></i></span></div>



                                                    <label class="form-control">
                                                        @material.Mobile
                                                    </label>
                                                </div>
                                                @*@Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", placeholder = "+966" })*@
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    LandLine
                                                </label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text">       <i class="fa fa-phone"></i></span></div>



                                                    <label class="form-control">
                                                        @material.LandLine
                                                    </label>
                                                    @*@Html.TextBoxFor(m => m.LandLine, new { @class = "form-control", placeholder = "+966 LandLine" })*@
                                                </div>

                                            </div>

                                        </div>
                                    }
                                </div>
                            }
                        }
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script src="/content/js/pages/crud/forms/validation/form-controls.js" type="text/javascript"></script>
    @*<script src="~/content/js/CountrySelect/CountryStateAndCityScripts.js"></script>*@
    <script>
        $(document).ready(function () {
            //$("#" + CityName).select2({
            //           data: City,
            //           placeholder: "Select City",
            //           width: "100%",
            //       });

            var Country =@(Model!=null?(Model.CountryId!=null?Model.CountryId+"":""):"")+"";
            var state =@(Model!=null?(Model.StateId!=null?Model.StateId+"":""):"")+"";
            var city =@(Model!=null?(Model.CityId!=null?Model.CityId+"":""):"")+"";

           
                var materialCountry =@(material!=null?(material.Country!=null?material.Country+"":""):"")+"";
            var materialstate =@(material!=null?(material.State!=null?material.State+"":""):"")+"";
            var materialcity =@(material!=null?(material.City!=null?material.City+"":""):"")+"";
            function getCityname(id,selector) {
                $.ajax({

                    url: '@Url.Content("~/Content/js/JsonData/cities.json")',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item.id == id) {
                            $("#"+selector).html(item.text)
                            }
                        });
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            };
            function getCountryname(id,selector) {
            $.ajax({

                url: '@Url.Content("~/Content/js/JsonData/countries.json")',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                               $("#"+selector).html(item.name)
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
            };
             function getStatename(id,selector) {
            $.ajax({

                url: '@Url.Content("~/Content/js/JsonData/states.json")',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                               $("#"+selector).html(item.name)
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };
            getCityname(city,"City");
            getCountryname(Country,"Country");
            getStatename(state, "State");

              getCityname(materialcity,"materialCity");
            getCountryname(materialCountry,"materialcountry");
           getStatename(materialstate,"materialState");


            
        var counter=@counter;
        for (var i = 0; i < counter; i++) {
            var Cityid = $("#lblcity_" + i).attr("myid");
            var selectorcity = "lblcity_" + i;
            getCityname(Cityid, selectorcity);

             var Stateid = $("#lblstate_" + i).attr("myid");
            var selectorstate = "lblstate_" + i;
            getStatename(Stateid, selectorstate);
              var Countryid = $("#lblcountry_" + i).attr("myid");
            var selectorcountry = "lblcountry_" + i;
            getCountryname(Countryid, selectorcountry);
            }



        })
           
                $(document).on('click', '#btnactivation', function (e) {
                    e.preventDefault();

                    var current = $(this);
                    
                    let status ="@(Model.LockoutEnabled==true?false:true)";
                    let userId = "@(Model.Id)";

                    let data = { 'Id' : userId, 'LockoutEnabled' : status};
                       KTApp.blockPage( { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });
                    $.post('@Url.Action("UpdateStatus")', data, function (result) {
                         
                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "3000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.success("Information has been updated successfully");
                       
                     var delay = 3000;

            setTimeout(function () {
                window.location.reload();
            }, delay);
                    });

                });
            


    </script>
}

