﻿
@model AspNetUserViewModel
@{
    ViewBag.Title = "NestedRols";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var userLinksList = (ViewBag.UserLinks != null ? ViewBag.UserLinks as List<LinkViewModel> : new List<LinkViewModel>());
    var LinksList = ViewBag.Links as List<LinkViewModel>;
}
@section Styles{

    <link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nestable2/1.6.0/jquery.nestable.min.css" rel="stylesheet" />
}


<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title"><i class="fas fa-user-tag"></i>&nbsp;Roles</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <h3 class="kt-subheader__title">NestedRoles</h3>
        </div>
        <div class="kt-subheader__toolbar">

        </div>
    </div>
</div>

<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="display:flex">



            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Grant Roles and Link
                        </h3>
                    </div>



                </div>
                <div class="kt-portlet__body ">
                    <div class="kt-widget kt-widget--user-profile-1">
                        <div class="kt-widget__head">
                            <div class="kt-widget__media">
                                <img src="/content/img/100_13.jpg" alt="image">
                            </div>
                            <div class="kt-widget__content">
                                <div class="kt-widget__section">
                                    <a href="#" class="kt-widget__username">
                                        @Model.FullName
                                        <i class="flaticon2-correct kt-font-success"></i>
                                    </a>
                                    <span class="kt-widget__subtitle">
                                        @Model.UserName
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="kt-widget__body">
                            <div class="kt-widget__content">
                                <div class="kt-widget__info">
                                    <span class="kt-widget__label">Email:</span>
                                    <a href="#" class="kt-widget__data">@Model.Email</a>
                                </div>
                                <div class="kt-widget__info">
                                    <span class="kt-widget__label">Phone:</span>
                                    <a href="#" class="kt-widget__data">@(Model.PhoneNumber != null ? Model.PhoneNumber : "")</a>
                                </div>
                                <div class="kt-widget__info">
                                    <span class="kt-widget__label">Location:</span>
                                    <span class="kt-widget_data">
                                        @if (ViewBag.Countryimg != null)
                                        {
                                            <div class="kt-user-card-v2">
                                                <div class="kt-user-card-v2__pic flag">
                                                    <img alt="photo" src="/content/media/flags/@(ViewBag.Countryimg.sortname + ".png") ">
                                                </div>
                                                <div class="kt-user-card-v2__details">
                                                    <a class="kt-user-card-v2__name" href="#"> @ViewBag.Countryimg.name</a>

                                                </div>
                                            </div>
                                        }


                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Roles
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">
                            <button class="btn btn-primary" id="btnupdate" data-id="@Request.QueryString["userid"]">Update user links</button>


                        </div>
                    </div>

                </div>
                <div class="kt-portlet__body">

                    <div class="cf nestable-lists">
                        <div class="clearfix"></div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="dd">
                                    <ol class="dd-list">
                                        @{ var index = 1; }
                                        @foreach (var area in LinksList.GroupBy(x => x.Area))
                                        {
                                            if (area.Key != "")
                                            {
                                                <li class="dd-item" data-id="@(index++)">
                                                    <div class="dd-handle">@(area.Key != "" ? area.Key : "Default")</div>
                                                    @foreach (var controler in LinksList.Where(x => x.Area.Equals(area.Key)).GroupBy(x => x.Controller))
                                                    {
                                                        <ol class="dd-list">
                                                            <li class="dd-item" data-id="@(index++)">
                                                                <div class="dd-handle">@(controler.Key != "" ? controler.Key : "Default")</div>
                                                                <ol class="dd-list">
                                                                    @foreach (var Action in LinksList.Where(x => x.Controller.Equals(controler.Key) && x.Area.Equals(area.Key)))
                                                                    {
                                                                        <li class="dd-item " data-id="@(index++)">
                                                                            <div class="dd-handle">@(Action.Action != "" ? Action.Action : "Default")</div>
                                                                        </li>
                                                                    }
                                                                </ol>
                                                            </li>

                                                        </ol>
                                                    }

                                                </li>
                                            }
                                        }
                                    </ol>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="dd1">
                                    <ol class="dd-list">

                                        <li class="dd-item" data-id="1">
                                            <div class="dd-handle">Admin</div>
                                            <ol class="dd-list">
                                                <li class="dd-item" data-id="2">
                                                    <div class="dd-handle">BuyerOrders</div>
                                                    <ol class="dd-list">
                                                        <li class="dd-item " data-id="3">
                                                            <div class="dd-handle">Index</div>
                                                        </li>
                                                        <li class="dd-item " data-id="4">
                                                            <div class="dd-handle">AjaxDT</div>
                                                        </li>
                                                        <li class="dd-item " data-id="5">
                                                            <div class="dd-handle">OrderByStatus</div>
                                                        </li>
                                                        <li class="dd-item " data-id="6">
                                                            <div class="dd-handle">Details</div>
                                                        </li>
                                                        <li class="dd-item " data-id="7">
                                                            <div class="dd-handle">Invoice</div>
                                                        </li>
                                                        <li class="dd-item " data-id="8">
                                                            <div class="dd-handle">UpdateOrderStatus</div>
                                                        </li>
                                                        <li class="dd-item " data-id="9">
                                                            <div class="dd-handle">SendOrderInspection</div>
                                                        </li>
                                                        <li class="dd-item " data-id="10">
                                                            <div class="dd-handle">SendOrderDelivery</div>
                                                        </li>
                                                        <li class="dd-item " data-id="11">
                                                            <div class="dd-handle">OrderHistory</div>
                                                        </li>
                                                    </ol>
                                                </li>

                                            </ol>
                                            <ol class="dd-list">
                                                <li class="dd-item" data-id="12">
                                                    <div class="dd-handle">Home</div>
                                                    <ol class="dd-list">
                                                        <li class="dd-item " data-id="13">
                                                            <div class="dd-handle">Index</div>
                                                        </li>
                                                        <li class="dd-item " data-id="14">
                                                            <div class="dd-handle">NestedRols</div>
                                                        </li>
                                                    </ol>
                                                </li>

                                            </ol>
                                            <ol class="dd-list">
                                                <li class="dd-item" data-id="15">
                                                    <div class="dd-handle">UploadProducts</div>
                                                    <ol class="dd-list">
                                                        <li class="dd-item " data-id="16">
                                                            <div class="dd-handle">Index</div>
                                                        </li>
                                                        <li class="dd-item " data-id="17">
                                                            <div class="dd-handle">UploadFiles</div>
                                                        </li>
                                                        <li class="dd-item " data-id="18">
                                                            <div class="dd-handle">Upload</div>
                                                        </li>
                                                        <li class="dd-item " data-id="19">
                                                            <div class="dd-handle">AddBulkAssetData</div>
                                                        </li>
                                                        <li class="dd-item " data-id="20">
                                                            <div class="dd-handle">UploadFilesTemp</div>
                                                        </li>
                                                        <li class="dd-item " data-id="21">
                                                            <div class="dd-handle">delete_file</div>
                                                        </li>
                                                    </ol>
                                                </li>

                                            </ol>

                                        </li>
                                    </ol>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>


            </div>
        </div>

        @*<div class="col-md-6">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                User Roles
                            </h3>
                        </div>



                    </div>
                    <div class="kt-portlet__body ">
                        <form class="kt-form" action="" method="POST">
                            <div class="cf nestable-lists">
                            </div>


                        </form>

                    </div>
                </div>
            </div>*@
    </div>
</div>



@section Scripts{
    <script src="~/Content/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/plugins/ladda/ladda.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.dd1').nestable();
        });
    </script>
    @*<script>

                $(document).ready(function () {

            var updateOutput = function(e)
            {
                var list   = e.length ? e : $(e.target),
                    output = list.data('output');
                if (window.JSON) {
                    output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
                } else {
                    output.val('JSON browser support required for this demo.');
                }
            };

            // activate Nestable for list 1
            //$('#nestable').nestable({
            //    group: 1
            //})
            //.on('change', updateOutput);

            //// activate Nestable for list 2
            //$('#nestable2').nestable({
            //    group: 1
            //})
            //.on('change', updateOutput);

            // output initial serialised data
           // updateOutput($('#nestable').data('output', $('#nestable-output')));
            //updateOutput($('#nestable2').data('output', $('#nestable2-output')));

            $('#nestable-menu').on('click', function(e)
            {
                var target = $(e.target),
                    action = target.data('action');
                if (action === 'expand-all') {
                    $('.dd').nestable('expandAll');
                }
                if (action === 'collapse-all') {
                    $('.dd').nestable('collapseAll');
                }
            });

           // $('#nestable3').nestable();

                    $("#btnupdate").on('click', function (e) {
                        e.preventDefault();
           var l = Ladda.create(this);
                            l.start();
                        var linkides = [];
                        $('#nestable2 .dd-item').each(function(i, obj) {
            //test


                            if (parseInt(obj.dataset.id)) {
                                //alert(obj.dataset.id);
                                linkides.push(obj.dataset.id);
                            }
        });
                        //alert(window.JSON.stringify($('#nestable2').nestable('serialize')));
                        var userid = $("#btnupdate").attr('data-id');

                        if (linkides.length > 0) {
                            $.post('@Url.Action("AssignUserLinks")?userid=' + userid + '&ids=' + linkides, function (result) {

                                if (result.status == 1) {

                                    $.get('@Url.Action("UserLinks_Prtial")?userid=' + userid, function (resultview) {

                                        $("#nestable2").html(resultview);
                                    })



                                     toastr.options = {
                                    "closeButton": false,
                                    "debug": false,
                                    "newestOnTop": true,
                                    "progressBar": true,
                                    "positionClass": "toast-bottom-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                };

                                toastr.success("User Links  has been updated successfully");

                                l.stop();
                                }

                            })
                        }
                        else {
                             toastr.options = {
                                    "closeButton": false,
                                    "debug": false,
                                    "newestOnTop": true,
                                    "progressBar": true,
                                    "positionClass": "toast-bottom-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                };

                            toastr["danger"]("Please Try again");


                        }

                    });
                });
            </script>*@
}