﻿
@{
    ViewBag.Title = "Sellers";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



@section title{
    <title>OBS :: System Users</title>
}

@section Styles{

    <link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminIndexList.css?v=dsdsa" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/nestable2/1.6.0/jquery.nestable.min.css" rel="stylesheet" />

    <style>
        .dd {
            max-width: 100%;
        }

        .dd-handle {
            font-weight: lighter;
        }
    </style>

}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item kt-padding-l-20 kt-padding-r-20" id="kt_subheader">

    <div class="kt-subheader__main">

        <h3 class="kt-subheader__title"><i class="fas fa-user"></i>&nbsp;System Users</h3>

        <span class="kt-subheader__separator kt-subheader__separator--v"></span>

        <div class="kt-subheader__group" id="kt_subheader_search">
            <span class="kt-subheader__desc" id="kt_subheader_total"><i class="fas fa-spin fa-spinner"></i> </span>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                <input type="text" class="form-control" placeholder="Search ..." id="general_search">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
        </div>

        <div class="kt-subheader__group kt-hidden" id="kt_subheader_group_actions">

            <div class="kt-subheader__desc"><span id="kt_subheader_group_selected_rows"></span>&nbsp;Selected : </div>

            <div class="btn-toolbar kt-margin-l-20">

                <button class="btn btn-label-brand btn-bold btn-sm btn-icon-h ladda-button" data-style="expand-left" id="kt_subheader_group_actions_send_email">
                    <i class="fas fa-mail-bulk"></i>&nbsp;Send Email
                </button>


            </div>
        </div>

    </div>

    <div class="kt-subheader__toolbar kt-subheader-order-summary">

        <div class="kt-subheader__group kt-margin-r-10 kt-desktop-view">

        </div>

        <a href="#" class="btn btn-bold btn-primary kt-hidden" id="filter-results"><i class="fas fa-filter"></i>&nbsp;<span class="label">Filter</span></a>
    </div>

</div>
<!-- end:: Content Head -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg kt-hidden">
            <div class="kt-portlet__head-label">

            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions"></div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">

            @Html.Raw(TempData["msg"])
            <!--begin: Datatable -->
            <div id="kt_table_1"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>

<div id="links-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Assign Links to User</h5>
            </div>

            <div class="modal-body" style="max-height:500px; overflow-y:auto; overflow-x:hidden">
                <form class="kt-form" action="" method="POST">
                    <div class="row">
                        <div class="col search-bar">
                            <input type="text" name="filter" value="" placeholder="quick search" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="links-container" style="min-height:100px;"> </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-label-brand btn-bold ladda-button btn-sm" data-userid="" data-style="expand-left" id="update-user-link">Save</button>
                <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>


@section Scripts{

    <script src="~/Content/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/plugins/ladda/ladda.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nestable2/1.6.0/jquery.nestable.min.js"></script>

    <script>

        "use strict";
        var datatable;
        var timer;

        var KTDatatablesDataSourceAjaxServer = function() {

            var togglesidBar = function () {
                // toggle left side menu if it state is off (open)
                try{

                    var aside = new KTToggle('kt_aside_toggler', {
                        target: 'body',
                        targetState: 'kt-aside--minimize',
                        togglerState: 'kt-aside__brand-aside-toggler--active'
                    });

                    if (aside.getState() === 'off'){
                        aside.toggle();
                    }

                }catch(e){

                }
            };

            var initializeKtDataTable = function (){

	             datatable = $('#kt_table_1').KTDatatable({

	               // datasource definition
			        data: {
				        type: 'remote',
				        source: {
					        read: {
						        url: '@Url.Action("AjaxDT","User",new { area="Admin",role="seller"})',
						        method : 'GET',
                                map: function (raw) {
                                    $("#kt_subheader_total").html("<span class='kt-font-brand'>" +raw.meta.total +" orders </span>");
						            KTApp.unblock('.kt-container');

						            return raw.data;
						        }
					        },
				        },
				        pageSize: 10,
				        serverPaging: true,
				        serverFiltering: true,
				        serverSorting: true,
				        deferLoading: 0, // here
			        },

			        // layout definition
			        layout: {
				        scroll: false,
				        footer: false
			        },
			        // column sorting
			        sortable: true,
			        /*search: {
                        input: $('#generalSearch'),
                    },*/
			        pagination: true,

			        // columns definition
                    columns: [


				        {
					        field: 'cbx',
					        title: '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input class="checkall" type="checkbox">&nbsp;<span></span></label>',
					        sortable: false,
					        type: 'number',
					        width: 20,
					        autoHide:false,
					        template : function (row){
				                return '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input value="'+row.Id+'" class="checkbox-item" type="checkbox">&nbsp;<span></span></label>';
					        }

                        },
                        {
					        field: 'FullName',
					        title: 'FullName',
					        width: 200,
					        autoHide:false,
					        template : function (row){

                                //let country = row.Country == null ? '' : row.Country.name;
                                return '<div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img alt="photo" src="/content/img/' + (row.ProfilePhoto!=""&& row.ProfilePhoto!=null? row.ProfilePhoto:"100_13.jpg") + '"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">' + row.FullName + '</a><span class="kt-user-card-v2__email"><a class="details" href="mailto:'+ row.Email+'">' + row.Email + '</a></span></div></div>';
					        }
                        },

                             {
				            field: 'UserName',
					        title: 'User Name',
					        width: 100,
					        template : function (row){
                                return  '<a class="kt-underline_hover" href="@Url.Action("Details")/'+row.Id+'">'+row.UserName+'</a>';
					        }
                        },

                                        {
				            field: 'Default_Role',
                                            title: 'Default_Role',
                               sortable:false,
					        width: 100,

                        },
                                  {
				            field: 'PhoneNumber',
					        title: 'Phone Number',
					        width: 100,

                        },
                        {
                            field: 'CountryId',
                            title: 'Country',
                            width: 150,
                            template: function (row) {
                                if (row.Country != null)
                                    return '<div class="kt-user-card-v2"><div class="kt-user-card-v2__pic flag"><img alt="photo" src="/content/media/flags/' + (row.Country.sortname + '.png') + '"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">' + row.Country.name + '</a></span></div></div>';
                                return '';
                            }
                        },
                        {
                            field: 'TotalOrders',
                            title: 'Orders Count',
                               sortable:false,
                            width: 50,
                            template: function (row) {

                                return '<span class="kt-font-black kt-text-right">' + row.TotalOrders + '</span>';
                            }
                        },


				        {
				            field: 'EmailConfirmed',
				            title : 'Is Confirmed',
                            width: 150,
                            template: function (row) {

                                return '<a href="#" class="kt-underline_hover" > <span class="kt-badge kt-badge--' + getUserStatusColor(row.EmailConfirmed) + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + getUserStatusColor(row.EmailConfirmed) + '">' + row.EmailConfirmed + '</span></a>';
				            }
                        },
                        {
				            field: 'LockoutEnabled',
				            title : 'Enabled',
                            width: 150,
                            template: function (row) {
                                return '<a href="#" class="kt-underline_hover" > <span class="kt-badge kt-badge--' + getUserStatusColor(row.LockoutEnabled) + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + getUserStatusColor(row.LockoutEnabled) + '">' + row.LockoutEnabled + '</span></a>';
				            }
				        },
				        {
				            field: '',
                            title: 'Actions',
                            width: 50,
                            sortable:false,
					        autoHide:false,
				            template : function (row){
                                var str = '<div class="dropdown"><a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md" aria-expanded="false"><i class="flaticon-more-1"></i></a><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"><ul class="kt-nav kt-padding-t-0 kt-padding-b-0">';

                                str += '<li class="kt-nav__item"><a data-id="' + row.Id + '" data-toggle="modal" data-target="#links-model" class="kt-nav__link"><i class="kt-nav__link-icon fa fa-user"></i><span class="kt-nav__link-text">Update Links</span></a></li>';
                                str+= '<li class="kt-nav__item"><a href="@Url.Action("Details")?id=' + row.Id + '"  class="kt-nav__link"><i class="kt-nav__link-icon fa fa-user"></i><span class="kt-nav__link-text"> User Details</span></a></li>';
                                if (row.LockoutEnabled) {
                                    str += '<li class="kt-nav__item"><a  class="kt-font-danger kt-nav__link ChangeStatus" data-status="0" href="#" data-id="' + row.Id + '"  ><i class="kt-nav__link-icon flaticon-list"></i><span class="kt-nav__link-text  kt-font-danger">In Active</span></a></li>';
                                } else {
                                    str += '<li class="kt-nav__item"><a  class="kt-font-success kt-nav__link ChangeStatus" data-status="1" href="#" data-id="' + row.Id + '"  ><i class="kt-nav__link-icon flaticon-list"></i><span class="kt-nav__link-text kt-font-success">Active</span></a></li>';
                                }

                                str += '</ul></div></div>';

                                return str;
				            }
				        }
			        ]
		        });

                datatable.sort("EmailConfirmed", "desc");

                datatable.on("kt-datatable--on-ajax-done", function (e) {

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
	                }

                });

                datatable.on("kt-datatable--on-layout-updated", function (e) {
                    $('#kt_table_1 .select2').select2();

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
	                }
                });

            };

            var ChangeStatus = function () {
                $(document).on('click', '.ChangeStatus', function (e) {
                    e.preventDefault();

                    var current = $(this);

                    let status = this.dataset.status == '0' ? false : true;
                    let userId = this.dataset.id;

                    let data = { 'Id' : userId, 'LockoutEnabled' : status};

                    $('.ChangeStatus[data-id="' + userId + '"]').closest('.dropdown').addClass('kt-hidden');

                    $.post('@Url.Action("UpdateStatus")', data, function (result) {

                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.success("Information has been updated successfully");

                        $('.ChangeStatus[data-id="' + userId + '"]').closest('.dropdown').removeClass('kt-hidden');

                        let query = datatable.getDataSourceQuery();
                        datatable.setDataSourceQuery(query);
                        datatable.reload();

                        KTApp.block('.kt-datatable', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

                    });

                });
            }


            var getUserStatusColor = function (confirem) {


                  let className = 'danger';
                 if (confirem)
                     className = 'success';

                return className;
            }

            var reloadDatatable = function (key, value, datatable) {

                let query = datatable.getDataSourceQuery();

                $.each(key, function (i) {
                    query[key[i]] = value[i];
                });

                datatable.setDataSourceQuery(query);
                datatable.reload();

                KTApp.block('.kt-datatable', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

            };
            var generalSearch = function () {

                $('#general_search').on('keyup', function () {

                    clearTimeout(timer);

                    var val = $(this).val();
                    timer = setTimeout(function () {
                         reloadDatatable(['query'], [val] , datatable);
                    }, 1000);

                });

            };

            var loadLinks = function (userId) {

                $.get('@Url.Action("UserLinks", "User")', { UserId: userId }, function (data) {

                    $('#links-container').html(data);

                    var list = $('#links-container .dd').nestable({
                        onDragStart: function (a, b, c) {
                            return false;
                        }
                    });

                    $('#links-container .dd').nestable('collapseAll');

                    //list.data('nestable').expandItem($('li[data-id="1"]'));

                    $('.dd-item-checkbox-item:not(.dd-item-checkbox-item-action)').each((idx, item) => {
                        var selectedNodes = $(item).closest('.dd-item').find('.dd-item-checkbox-item-action:checked').length;
                        if (selectedNodes > 0) $(item).prop('checked', true);
                    });

                });
            }

            var linksModal = function () {

                $('#update-user-link').on('click', function (e) {
                    e.preventDefault();

                    var l = Ladda.create(this);

                    var linkIds = $('.dd-item-checkbox-item:checked').map((indx, item) => { return item.value; }).get();
                    var userid = this.dataset.userid;

                    l.start();

                    $.post('@Url.Action("AssignUserLinks", "User")', { userid : userid, ids : linkIds.join(",") }, function (data) {

                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.success("User Links  has been updated successfully");

                        l.stop();

                    });

                });

                $('#links-model').on('hidden.bs.modal', function (e) {
                    $('#links-container').empty();
                });

                $('#links-model').on('show.bs.modal', function (e) {

                    KTApp.block('#links-container', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

                    let user = e.relatedTarget.dataset.id;

                    $('#update-user-link')[0].dataset.userid = user;

                    loadLinks(user)
                });

                $(document).on('click', '.dd-item-checkbox-item', function (e) {

                    if (!$(this).is(":checked")) {
                        $(this).closest('.dd-list').prev().find('.dd-item-checkbox-item').prop('checked', false);
                    }

                    $(this).closest('.dd-item').find('.dd-item-checkbox-item').prop('checked', $(this).is(":checked"));

                    $('.dd-item-checkbox-item:not(.dd-item-checkbox-item-action)').each((idx, item) => {
                        var selectedNodes = $(item).closest('.dd-item').find('.dd-item-checkbox-item-action:checked').length;
                        if (selectedNodes != 0) $(item).prop('checked', true);
                    });

                });

                $('[name=filter]').on('keyup', function () {

                    if ($(this).val().length >= 1) {

                        var q = $(this).val();

                        $('.dd').nestable('expandAll');

                        $('.dd-handle').each(function () {

                            var title = $(this).text().trim().toLowerCase();

                            if (title.indexOf(q) == -1) {
                                $(this).closest('li:not(.first-level)').css('display', 'none');
                            } else {

                                var item = $(this).closest('li');
                                while (!item.parent().parent().hasClass('dd')) {

                                    item.css('display', 'block');
                                    $(this).css('background-color', 'rgb(149, 183, 93)');
                                    $(this).css('color', 'white');

                                    item = item.parent().parent();
                                }

                            }
                        });

                    } else {

                        $('.dd-handle').css('background-color', '');
                        $('.dd-handle').css('color', '');
                        $('.dd-handle').closest('li').css('display', 'block');
                        $('.dd').nestable('expandAll');
                    }

                });

            }

            return {
		        //main function to initiate the module
                init: function () {
                    togglesidBar();
                    initializeKtDataTable();
                    getUserStatusColor();
                    generalSearch();
                    linksModal();
                    ChangeStatus();
		        }
            };

        }();

        jQuery(document).ready(function() {
	        KTDatatablesDataSourceAjaxServer.init();
        });

    </script>
}

