﻿@{
    ViewBag.Title = "NestedRols";
   Layout = null;
    var userLinksList = (ViewBag.UserLinks != null ? ViewBag.UserLinks as List<LinkViewModel> : new List<LinkViewModel>());
    var LinksList = ViewBag.Links as List<LinkViewModel>;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>testroles</title>
    <link href="~/Content/FrontEnd/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/NestedMenu.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="cf nestable-lists">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="dd" id="nestable">
                        <ol class="dd-list">
                            @foreach (var area in LinksList.GroupBy(x => x.Area))
                            {
                                if (area.Key != "")
                                {
                                    <li class="dd-item" data-id="@(area.Key != "" ? area.Key : "Default")">
                                        <div class="dd-handle">@(area.Key != "" ? area.Key : "Default")</div>
                                        @foreach (var controler in LinksList.Where(x => x.Area.Equals(area.Key)).GroupBy(x => x.Controller))
                                        {
                                            <ol class="dd-list">
                                                <li class="dd-item" data-id="@(controler.Key != "" ? controler.Key : "Default")">
                                                    <div class="dd-handle">@(controler.Key != "" ? controler.Key : "Default")</div>
                                                    <ol class="dd-list">
                                                        @foreach (var Action in LinksList.Where(x => x.Controller.Equals(controler.Key) && x.Area.Equals(area.Key)))
                                                        {

                                                            <li class="dd-item " data-id="@Action.Id">
                                                                <div class="dd-handle">@(Action.Action != "" ? Action.Action : "Default")</div>
                                                            </li>
                                                        }
                                                    </ol>
                                                </li>

                                            </ol>
                                        }

                                    </li>
                                }
                            }
                        </ol>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dd" id="nestable2">
                        <ol class="dd-list">

                            @if (userLinksList != null && userLinksList.Count() > 0)
                            {
                                foreach (var area in userLinksList.GroupBy(x => x.Area))
                                {
                                    if (area.Key != "")
                                    {
                                        <li class="dd-item" data-id="@(area.Key != "" ? area.Key : "Default")">
                                            <div class="dd-handle">@(area.Key != "" ? area.Key : "Default")</div>
                                            @foreach (var controler in userLinksList.Where(x => x.Area.Equals(area.Key)).GroupBy(x => x.Controller))
                                            {
                                                <ol class="dd-list">
                                                    <li class="dd-item" data-id="@(controler.Key != "" ? controler.Key : "Default")">
                                                        <div class="dd-handle">@(controler.Key != "" ? controler.Key : "Default")</div>
                                                        <ol class="dd-list">
                                                            @foreach (var Action in userLinksList.Where(x => x.Controller.Equals(controler.Key) && x.Area.Equals(area.Key)))
                                                            {

                                                                <li class="dd-item " data-id="@Action.Id">
                                                                    <div class="dd-handle">@(Action.Action != "" ? Action.Action : "Default")</div>
                                                                </li>
                                                            }
                                                        </ol>
                                                    </li>

                                                </ol>
                                            }

                                        </li>
                                    }
                                }
                            }
                            else
                            {
                                <li class="dd-item" data-id="User Links">
                                    <div class="dd-handle"> user Links</div>
                                </li>
                            }
                        </ol>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="~/Content/FrontEnd/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/Js/jquery.nestable.js"></script>
    <script>

        $(document).ready(function () {

    var updateOutput = function(e)
    {
        var list   = e.length ? e : $(e.target),
            output = list.data('output');
        if (window.JSON) {
            output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
        } else {
            output.val('JSON browser support required for this demo.');
        }
    };

    // activate Nestable for list 1
    $('#nestable').nestable({
        group: 1
    })
    .on('change', updateOutput);

    // activate Nestable for list 2
    $('#nestable2').nestable({
        group: 1
    })
    .on('change', updateOutput);

    // output initial serialised data
    updateOutput($('#nestable').data('output', $('#nestable-output')));
    updateOutput($('#nestable2').data('output', $('#nestable2-output')));

    $('#nestable-menu').on('click', function(e)
    {
        var target = $(e.target),
            action = target.data('action');
        if (action === 'expand-all') {
            $('.dd').nestable('expandAll');
        }
        if (action === 'collapse-all') {
            $('.dd').nestable('collapseAll');
        }
    });

    $('#nestable3').nestable();

            $("#btnupdate").on('click', function (e) {
                e.preventDefault();
   var l = Ladda.create(this);
                    l.start();
                var linkides = [];
                $('#nestable2 .dd-item').each(function(i, obj) {
    //test


                    if (parseInt(obj.dataset.id)) {
                        //alert(obj.dataset.id);
                        linkides.push(obj.dataset.id);
                    }
});
                //alert(window.JSON.stringify($('#nestable2').nestable('serialize')));
                var userid = $("#btnupdate").attr('data-id');
                alert(userid);
                if (linkides.length > 0) {
                    $.post('@Url.Action("AssignUserLinks")?userid=' + userid + '&ids=' + linkides, function (result) {

                        if (result.status == 1) {

                            $.get('@Url.Action("UserLinks_Prtial")?userid=' + userid, function (resultview) {

                                $("#nestable2").html(resultview);
                            })



                             toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.success("User Links  has been updated successfully");

                        l.stop();
                        }

                    })
                }
                else {
                     toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                    toastr["danger"]("Please Try again");


                }

            });
        });
    </script>
</body>
</html>
