﻿@model IEnumerable<OBSProductCategoryViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section title{
    <title>OBS :: Manage Product Category</title>
}

@section Styles{
    <link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminIndexList.css" rel="stylesheet" />


    <style>

        .kt-portlet .kt-portlet__head.kt-portlet__head--noborder {
            border-bottom: 0;
            background-color: #eeeeee;
        }

        .kt-portlet.kt-portlet--height-fluid .kt-portlet__body {
            display: flex;
            flex-direction: row;
        }

            .kt-portlet.kt-portlet--height-fluid .kt-portlet__body > .kt-widget__values {
                margin-left: 1rem;
                flex-grow: 1;
            }

                .kt-portlet.kt-portlet--height-fluid .kt-portlet__body > .kt-widget__values > .kt-widget__item {
                    margin-bottom: 0.5rem;
                }

                    .kt-portlet.kt-portlet--height-fluid .kt-portlet__body > .kt-widget__values > .kt-widget__item > span {
                        display: block;
                    }

                    .kt-portlet.kt-portlet--height-fluid .kt-portlet__body > .kt-widget__values > .kt-widget__item .title {
                        font-weight: 500;
                        color: black;
                    }

                    .kt-portlet.kt-portlet--height-fluid .kt-portlet__body > .kt-widget__values > .kt-widget__item .value {
                        color: black;
                    }
    </style>


}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item kt-padding-l-20 kt-padding-r-20" id="kt_subheader">

    <div class="kt-subheader__main">

        <h3 class="kt-subheader__title"><i class="fas fa-dolly"></i>&nbsp;Product Categories</h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>

        <div class="kt-subheader__group" id="kt_subheader_search">
            <span class="kt-subheader__desc" id="kt_subheader_total">@Model.Count() records</span>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                <input type="text" class="form-control" placeholder="Search ..." id="general_search">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
        </div>

        <div class="kt-subheader__group " id="kt_subheader_group_actions">
            <a href="#" data-id="0" data-toggle="modal" data-target="#AddRole-model" class="btn btn-label-warning btn-bold btn-sm btn-icon-h kt-margin-l-10">
                Add New
            </a>
        </div>

    </div>

    <div class="kt-subheader__toolbar kt-subheader-order-summary">
        <div class="kt-subheader__group kt-margin-r-10 kt-desktop-view"></div>
        <a href="#" class="btn btn-bold btn-primary kt-hidden" id="filter-results"><i class="fas fa-filter"></i>&nbsp;<span class="label">Filter</span></a>
    </div>

</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg kt-hidden">
            <div class="kt-portlet__head-label"></div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions"></div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <div class="row">


                @foreach (var item in Model)
                {

                    <div class="col-xl-4">
                        <!--Begin::Portlet-->
                        <div class="kt-portlet kt-portlet--height-fluid kt-portlet__card">

                            <div class="kt-portlet__head kt-portlet__head--noborder">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">@item.CategoryName</h3>
                                </div>

                                <div class="kt-portlet__head-toolbar">

                                    <div class="dropdown dropdown-inline">
                                        <button type="button" class="btn btn-sm btn-clean btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="flaticon-more-1"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right kt-padding-0">
                                            <ul class="kt-nav">
                                                <li class="kt-nav__item">
                                                    <a data-name="@item.CategoryName" data-parent="@item.ParentId" data-id="@item.CategoryId" data-toggle="modal" data-target="#AddCat-model" class="kt-nav__link">
                                                        <span class="kt-nav__link-text">Update</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" data-id="@item.CategoryId" class="kt-nav__link delete-cat-btn">
                                                        <span class="kt-nav__link-text">Delete</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            @*<div class="kt-widget__info">
                                    <span class="kt-widget__desc">
                                        <span>@item.CategoryName</span>
                                    </span>
                                </div>*@

                            <div class="kt-portlet__body">

                                <div class="kt-widget__media">
                                    <img class="kt-widget__img kt-hidden-" src="~/Content/UploadData/UploadImages/@(item.Image ?? "noImage.png")" width="200" height="130" alt="image">
                                </div>

                                <div class="kt-widget__values">

                                    <div class="kt-widget__item">
                                        <span class="title"># Of Product</span>
                                        <span class="value">( 121 )</span>
                                    </div>

                                    <div class="kt-widget__item">
                                        <span class="title">Parent</span>
                                        <span class="value">@(item.ParentId == null ? "None" : "")</span>
                                    </div>

                                    <div class="kt-widget__item">
                                        <span class="title">Start Date</span>
                                        <span class="value">@item.DateCreated.ToString("dd-MM-yyyy")</span>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!--End::Portlet-->
                    </div>


                }
            </div>
        </div>
    </div>
</div>

<div id="AddCat-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add New Category</h5>
            </div>

            <div class="modal-body" style="max-height:500px; overflow-y:auto; overflow-x:hidden">
                <form class="kt-form" method="POST" id="add-cat-form">
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Category</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="text" name="CategoryName" value="" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Parent</label>
                        <div class="col-lg-9 col-xl-6">
                            <select class="form-control" name="ParentId">
                                <option></option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.CategoryId">@item.CategoryName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label"> Image</label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar_1">
                                <div class="kt-avatar__holder" id="kt-avatar-holder" style="background-image: url(/Content/Img/NoImage.jpeg)"></div>
                                <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                    <i class="fa fa-pen"></i>
                                    <input type="file" name="Files" id="Files" accept=".png, .jpg, .jpeg">
                                </label>
                                <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                            <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
                        </div>
                    </div>


                </form>
            </div>

            <div class="modal-footer">
                <input type="hidden" name="CategoryId" value="0" />
                <button type="button" class="btn btn-label-brand btn-bold ladda-button btn-sm" data-roleid="0" data-style="expand-left" id="add-cat-btn">Save</button>
                <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>


@section scripts{

    <script src="~/Content/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/plugins/ladda/ladda.min.js"></script>
    <script src="/content/js/pages/crud/file-upload/ktavatar.js" type="text/javascript"></script>

    <script>

        "use strict";
        var datatable;
        var timer;

        var Events = function () {

            var togglesidBar = function () {
                // toggle left side menu if it state is off (open)
                try {

                    var aside = new KTToggle('kt_aside_toggler', {
                        target: 'body',
                        targetState: 'kt-aside--minimize',
                        togglerState: 'kt-aside__brand-aside-toggler--active'
                    });

                    if (aside.getState() === 'off') {
                        aside.toggle();
                    }

                } catch (e) {

                }
            };

            var generalSearch = function () {

                $('#general_search').on('keyup', function () {

                    clearTimeout(timer);

                    var val = $(this).val();
                    timer = setTimeout(function () {
                        reloadDatatable(['query'], [val], datatable);
                    }, 1000);

                });

            };

             $('#AddCat-model').on('hidden.bs.modal', function (e) {
                 document.getElementById('add-cat-form').reset();
            });

            $('#AddCat-model').on('show.bs.modal', function (e) {

                let id = e.relatedTarget.dataset.id;
                let name = e.relatedTarget.dataset.name;
                let parent = e.relatedTarget.dataset.parent;
                let image = e.relatedTarget.dataset.image;

                $('[name=CategoryId]').val(id);
                $('[name=CategoryName]').val(name);
                $('[name=ParentId]').val(parent);

            });

            var deleteCategory = function () {

                $('.delete-cat-btn').on('click', function (e) {
                    e.preventDefault();

                    var id = this.dataset.id;

                    var l = Ladda.create(this);
                    l.start();

                    $.get('@Url.Action("Delete")', { Id: id }, function (data) {
                        toastr.success(data.Message);
                    });
                });
            }

            var addCategory = function () {

                $('#add-cat-btn').on('click', function (e) {
                    e.preventDefault();

                    var l = Ladda.create(this);
                    var formdata = new FormData(document.getElementById('add-cat-form')); //FormData object

                    formdata.append('CategoryId', $('[name=CategoryId]').val());
                    l.start();

                    var url = '@Url.Action("Add")';

                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', url);
                    xhr.send(formdata);
                    xhr.onreadystatechange = function () {

                        if (xhr.readyState == 4 && xhr.status == 200) {

                            toastr.options = {
                                "closeButton": false,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };

                            var data = JSON.parse(xhr.responseText);

                            if (data.Status == 200) {
                                toastr.success(data.Message);
                            }
                            else {
                                toastr.error(data.Message);
                            }
                        }
                    }

                });
            }



            return {
                init: function () {
                    togglesidBar();
                    addCategory();
                    generalSearch();
                    deleteCategory();
		        }
            };

        }();

        jQuery(document).ready(function () {
            Events.init();
	       // KTDatatablesDataSourceAjaxServer.init();
        });

    </script>
}
