﻿@{
    ViewBag.Title = "Index";
 Layout = "~/Areas/Seller/Views/Shared/Layout.cshtml";
}



<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Upload Products Files
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="@Url.Action("Index","Home",new { area="Seller"})" class="kt-subheader__breadcrumbs-link">
                    Home
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Upload Products Files
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                @*<a href="#" class="kt-subheader__breadcrumbs-link">
                        View All
                    </a>*@


                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="#" class="btn kt-subheader__btn-primary" id="start-tourbulkinsert"> start tour</a>
             
                
            </div>
        </div>
    </div>
</div>

<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg" id="upload_insert_header">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Upload Products Bulk Insert
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions"  id="download_template">
                        <button class="btn btn-brand" id="download_temp">Download Template</button>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("Upload", "UploadProducts", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="kt-portlet__body">
        <div class="form-group form-group-last">
            <div class="alert alert-secondary" role="alert" id="roles">
                <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                <div class="alert-text">
                    <ul>
                        <li>Please customize your file according to the template file. You can download the template by clicking on the button in the upper right corner. </li>
                        <li>After your file is successfully uploaded, you will be taken to another page to upload the images.</li>
                        <li>The names of the images you want to upload must be exactly the same as the images’ names listed in the (productimage) column of your file. </li>
                        <li>Please check your auctions products  start date,After your file is successfully uploaded if the file exists aauctions  </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="messagediv"></div>
        <h3>Upload file</h3>
        <div class="form-group row mt-5" id="uploaudzone">
            <label class="col-form-label col-lg-3 col-md-4 col-sm-12"> Upload Files<br /> (Product list with images)</label>
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="dropzone dropzone-default dropzone-success" id="kt_dropzone_excel">
                    <div class="dropzone-msg dz-message needsclick">
                        <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                        <span class="dropzone-msg-desc">Only  Excel files are allowed for upload</span>
                    </div>
                </div>


            </div>
        </div>
        <div class="form-group row" id="company_select">
            <label class="col-form-label col-lg-3 col-md-4 col-sm-12"> Company</label>
            <div class="col-lg-9 col-md-8 col-sm-12">

                @Html.DropDownList("CompanyId", ViewBag.Company as SelectList, "Select Company", new { @class = "form-control", required = "required", id = "compnayselect" })


            </div>
        </div>
        @*<div class="form-group row">
            <label class="col-form-label col-lg-3 col-md-4 col-sm-12"> Seller</label>
            <div class="col-lg-9 col-md-8 col-sm-12">

                @Html.DropDownList("SellerID", ViewBag.Sellers as SelectList, "Select Seller", new { @class = "form-control", required = "required", id = "sellerselect" })


            </div>
        </div>*@

        @*<div class="form-group row">
            <label class="col-form-label col-lg-3 col-md-4 col-sm-12"> Batch Number</label>
            <div class="col-lg-9 col-md-8 col-sm-12">

                <input type="text" name="BatchNo" id="BatchNo" class = "form-control" value="@ViewBag.BatchNo" readonly required />

            </div>
        </div>*@
    </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col-lg-9 ml-lg-auto" id="SAVE_btn">
                            <button type="submit" class="btn btn-success" id="upload">Upload</button>
                            @*<button type="submit" class="btn btn-brand">Submit</button>*@
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- end:: Content -->

@section Scripts
{

    @*<script src="/content/js/pages/crud/forms/validation/form-controls.js" type="text/javascript"></script>*@
    <script>
                     toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

        var zone;

        $('#kt_dropzone_excel').dropzone({
            url: '@Url.Action("Upload")', // Set the url for your upload script location
            paramName: "fileUploader", // The name that will be used to transfer the file
            maxFiles: 10,
            maxFilesize: 10, // MB
            addRemoveLinks: true,
            autoProcessQueue: false,
            timeout: 1000000000,
            acceptedFiles: "text/csv,application/xls,application/excel,application/vnd.ms-excel,application/vnd.ms-excel; charset=binary,application/msexcel,application/x-excel,application/x-msexcel,application/x-ms-excel,application/x-dos_ms_excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.xlsx",
            init: function () {
                zone = this;


            },
            accept: function (file, done) {
                if (file.name == "justinbieber.jpg") {
                    done("Naha, you don't.");
                } else {
                    done();
                }
            },
            success: function (file, response) {

                if (response.status == 1) {
                   toastr.success(response.msg);
                     var delay = 1750;

            setTimeout(function () {
                 window.location.href = '@Url.Action("UploadImagesBulk")?batchno=' + response.batchno +  '&companyid=' + $("#compnayselect").val();// = admin_url;
            }, delay);


                }
                },
            error: function (file, response) {
               toastr.error(response.msg);
            }


        });

        zone.on('sending', function (file, xhr, formData) {
            formData.append('CompanyID',  $("#compnayselect").val(),);
            //formData.append('SellerID', $("#sellerselect").val());

});
        $('#upload').on('click', function (e) {
            e.preventDefault();

            console.log($("#sellerselect").val() + "_" + $("#compnayselect").val() + "_" + zone.files.length);
            if ($("#compnayselect").val() && zone.files.length) {


                zone.processQueue();

            }
            else {


                    toastr.error("Please fill all inputs and try again");


            }

        });


        $("#download_temp").on('click', function (e) {

              e.preventDefault();
                $.post('@Url.Action("GetTempleteInsertFile")', function (result) {
                    if (result.filename) {
                        window.location.href = "/content/DocFiles/" + result.filename;;
                    }
                })  
        })

          const tourSteps = [
            {
                //element: '.kt-aside__brand-logo',
                element: '#kt_header',
                popover: {
                    title: "header's dashboard",
                    description: "This the header's dashboard which includes the seller's account where the seller can sign out",
                },
            }, {
                element: '#upload_insert_header',
                popover: {
                    title: 'upload insert header',
                    description: 'This is the header  section of upload page',
                }
              },
               {
                element: '#roles',
                popover: {
                    title: 'Steps & roles',
                    description: 'Please Read this roles to know how you can do bulk upload',
                }
              },
               {
                element: '#download_template',
                popover: {
                    title: 'download template',
                    description: 'click the template button to downlad correct file template which you should update it then upload it again',
                }
              },
               {
                element: '#uploaudzone',
                popover: {
                    title: 'Upload File',
                    description: 'drage and drop that file you download it and update it befor ',
                }
              },
               {
                element: '#company_select',
                popover: {
                    title: 'Company',
                    description: 'select the company has this products',
                }
              },
               {
                element: '#SAVE_btn',
                popover: {
                    title: 'Upload',
                    description: 'click Upload button to upload and save your file then the system will take you to another page to upload product images',
                }
            },
        ];

        const animatedTourDriver = new Driver({
            animate: false,
            opacity: 0.8,
            stageBackground: '#fff',
            padding: 5,
            showButtons: true,
        });

        animatedTourDriver.defineSteps(tourSteps);
        $('#start-tourbulkinsert').on('click', function (e) {
            e.preventDefault();
            $('#subhead-226').parent().addClass('kt-menu__item--open');
            animatedTourDriver.start();
            return false;
        });


    </script>
}