﻿<style>
    .widget-cats li a:after {
        content: '';
    }

    .widget-cats li.active {
        background: rgb(72, 119, 188);
    }

        .widget-cats li.active a {
            color: #fff;
        }

    .widget-cats li:hover {
        background: rgb(72, 119, 188);
    }

        .widget-cats li:hover a {
            color: #fff;
        }

    .cart-table {
        /* border-collapse: separate; */
        border-spacing: 0 0;
    }
</style>

<div class="filter-widget">
    <div class="widget-head">
        <h3 class="text-uppercase">
            <i class="fa fa-home"></i>
            My Account
        </h3>
    </div>
    <div class="widget-cats">
        <ul class="list-unstyled  m-0">

            <li @(Request.Url.AbsoluteUri.Contains(Url.Action("MyOrders")) || Request.Url.AbsoluteUri.Contains(Url.Action("OrderDetails")) ? "Active" : "")>
                <a href="@Url.Action("MyOrders")">


                    <i class="fa fa-shopping-cart"></i>
                    Orders
                </a>
            </li>
            <li @(Request.Url.AbsoluteUri.Contains(Url.Action("MyInvoices")) ? "Active" : "")>
                <a href="@Url.Action("MyInvoices")">
                    <i class="fa fa-file"></i>
                    My Invoices
                </a>
            </li>
            <li @(Request.Url.AbsoluteUri.Contains(Url.Action("MyBids")) || Request.Url.AbsoluteUri.Contains(Url.Action("BidDetails")) ? "Active" : "")>
                <a href="@Url.Action("MyBids")">


                    <i class="fa fa-shopping-cart"></i>
                    My Bids
                </a>
            </li>
            <li @(Request.Url.AbsoluteUri.Contains(Url.Action("BuyerAddresses")) || Request.Url.AbsoluteUri.Contains(Url.Action("EndOrdershippingDataEdit")) || Request.Url.AbsoluteUri.Contains(Url.Action("EndOrdershippingData")) ? "Active" : "")>
                <a href="@Url.Action("BuyerAddresses")">

                    <i class="fas fa-map-marked-alt"></i>
                    Shipping Addresses
                </a>
            </li>
            <li @(Request.Url.AbsoluteUri.Contains(Url.Action("MyFavorit")) ? "Active" : "")>
                <a href="@Url.Action("MyFavorit")">
                    <i class="fas fa-heart"></i>
                    Favorit Items
                </a>
            </li>
            <li @(Request.Url.AbsoluteUri.Contains(Url.Action("MyAccount")) ? "Active" : "")>
                <a href="@Url.Action("MyAccount")">
                    <i class="fas fa-user-cog"></i>
                    My Account
                </a>
            </li>

            <li @(Request.Url.AbsoluteUri.Contains(Url.Action("MyPreferences")) ? "Active" : "")>
                <a href="@Url.Action("MyPreferences")">
                    <i class="fas fa-hand-holding-heart"></i>
                    My Preferences
                </a>
            </li>

            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOut", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"> <i class="fas fa-sign-out-alt"></i> Log off</a></li>
                }
            }
        </ul>

    </div>
</div>
