﻿@using Microsoft.AspNet.Identity;
@using ps.haweya.win.obs.business.Managers;
@*@using WINProjectNew.Models;*@
@{
    //WINProjectNew.Models.winprodEntities dblogin = new WINProjectNew.Models.winprodEntities();
    var aspid = User.Identity.IsAuthenticated ? User.Identity.GetUserId() : "";
    var CurrencyList = TempData["CurrencyList"] as List<CurrencyViewModel>;
    var MainCurrency = TempData["maincurrency"] as CurrencyViewModel;

    var Mycurrency = TempData["cookiecurrency"] as CurrencyViewModel;
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <ul class="list-inline login-user">

        @if (CurrencyList != null)
        {
        <li class="list-inline-item">
            <div class="dropdown  show">
                
                    <a class="btn btn-currency dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if (Mycurrency != null)
                        {
                            <span class="flag-icon flag-icon-@Mycurrency.Flag.ToLower() flag-icon-squared"></span>
                            <span class="flag-text"> @Mycurrency.ShortName </span>
                        }
                        else if (MainCurrency != null)
                        {
                            <span class="flag-icon flag-icon-@MainCurrency.Flag.ToLower() flag-icon-squared"></span>
                            <span class="flag-text"> @MainCurrency.ShortName </span>
                        }
                    
                </a>

                <div class="dropdown-menu dropdowncurrency" aria-labelledby="dropdownMenuLink">

                    @foreach (var item in CurrencyList)
                    {
                        <a class="dropdown-item  currencyitem" href="#" currencyId="@item.Id">
                            <span class="flag-icon flag-icon-@item.Flag.ToLower() flag-icon-squared"></span>
                            <span class="flag-text"> @item.ShortName </span>
                        </a>


                    }
                </div>
            </div>
        </li>   
        }
            
            @*<a href="@Url.Action( "MyAccount", User.IsInRole("Buyer")?"Buyers":"Sellers")">Hello  @(User.IsInRole("Buyer") ? dblogin.Buyers.Where(x => x.ASPNetUserID == aspid).FirstOrDefault().Name :User.IsInRole("Seller")? dblogin.Sellers.Where(x => x.AspNetUserID == aspid).FirstOrDefault().Name:"")  !</a>*@
            @*@if (User.IsInRole("Buyer") || User.IsInRole("Seller"))
            {
                <a href="@(User.IsInRole("Buyer") || User.IsInRole("Seller") ? Url.Action("MyAccount", User.IsInRole("Buyer") ? "Buyer" : "SellerSite") : "#")">Hello  @User.Identity.GetUserName()</a>
            }
            else if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Index", "Home", new { area = "Admin" })">Hello  @User.Identity.GetUserName()</a>
            }
            else
            {
                <a href="#">Hello  @User.Identity.GetUserName()</a>
            }*@

            @if (User.IsInRole("Buyer"))
            {
                <li class="list-inline-item">
                    @*<a href="@Url.Action("MyAccount", "Buyer")">Hello  @User.Identity.GetUserName()</a>*@
                    <a href="@Url.Action("MyAccount", "Buyer")">  <i class="fa fa-user mr-1"></i>    MyAccount</a>
                </li>
            }
            else
            {



                @*if (User.IsInRole("Seller"))
                {
                    <li class="list-inline-item">
                        <a href="@Url.Action("MyAccount", "SellerSite")">   <i class="fa fa-user mr-1"></i>  MyAccount</a>
                    </li>
                }
                else
                {*@
                <li class="list-inline-item">
                    <a href="@TempData["URL"]"> <i class="fa fa-user mr-1"></i>  MyAccount</a>
                    @*<a href="@TempData["URL"]">Hello  @User.Identity.GetUserName()</a>*@
                </li>
                //}
            }



            <li class="list-inline-item"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
<ul class="list-inline login-user">
    <li class="list-inline-item">
        <div class="dropdown  show">
            <a class="btn btn-currency dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @if (Mycurrency != null)
                {
                    <span class="flag-icon flag-icon-@Mycurrency.Flag.ToLower() flag-icon-squared"></span>
                    <span class="flag-text"> @Mycurrency.ShortName </span>
                }
                else if(MainCurrency != null)
                {
                    <span class="flag-icon flag-icon-@MainCurrency.Flag.ToLower() flag-icon-squared"></span>
                    <span class="flag-text"> @MainCurrency.ShortName </span>
                }
            </a>

            <div class="dropdown-menu dropdowncurrency" aria-labelledby="dropdownMenuLink">

                @foreach (var item in CurrencyList)
                {
                    <a class="dropdown-item currencyitem" href="#" currencyId="@item.Id">
                        <span class="flag-icon flag-icon-@item.Flag.ToLower() flag-icon-squared"></span>
                        <span class="flag-text"> @item.ShortName </span>
                    </a>


                }
            </div>
        </div>
    </li>
    <li class="list-inline-item">@Html.ActionLink("Register Buyer", "Register", "Account", routeValues: new { id = "Buyer" }, htmlAttributes: new { id = "registerLink1" })</li>
    @*<li class="list-inline-item">@Html.ActionLink("Register Seller", "SellerRegister", "Account", routeValues: null, htmlAttributes: new { id = "registerLink1" })</li>*@
    <li class="list-inline-item">@Html.ActionLink("Log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}
