﻿@if (TempData["msg"] != null)
{
    var alertClass = "alert-info";
    var msg = TempData["msg"].ToString();
    if (msg.ToLower().StartsWith("s:")) { alertClass = "alert-success"; msg = msg.Substring(2); }
    else if (msg.ToLower().StartsWith("e:")) { alertClass = "alert-danger"; msg = msg.Substring(2); }
    else if (msg.ToLower().StartsWith("i:")) { alertClass = "alert-info"; msg = msg.Substring(2); }
    else if (msg.ToLower().StartsWith("w:")) { alertClass = "alert-warning"; msg = msg.Substring(2); }
    <div class="alert @alertClass">

        <div class="alert-text">  @Html.Raw(msg)</div>

        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>

}