﻿@using System.Web.Optimization;
@{
    Layout = null;
    //WINProjectNew.Models.winprodEntities db = new WINProjectNew.Models.winprodEntities();
    var menuLinks = TempData["menuLinks"]  as List<MenuItemViewModel>;
    var setting=TempData["Setting"] as SettingViewModel;
    var metadata=TempData["Seo_Likes"] as LinkViewModel;
   // var cartprice = Convert.ToDouble(TempData["cartPrice"]!=null? TempData["cartPrice"].ToString(): "0");

}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8" />
    <meta name="author" content="WIN" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content="925273117086-fe1q34niqt972vb3q4ingjlravd9ab9c.apps.googleusercontent.com" />
    @RenderSection("keywords", false)

    @if ((HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower().Equals("productdetails") && HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower().Equals("details")
        || HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower().Equals("home") && HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower().Equals("pages")
        || (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower().Equals("home") && HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower().Equals("newsdetails"))))
    {
        @*@RenderSection("keywords", false)*@
    }
    else
    {
        if (metadata != null)

        {

            if (metadata != null && !string.IsNullOrEmpty(metadata.SEO_Titel))
            {

                <title>
                    @metadata.SEO_Titel
                </title>
            }
            else
            {
                <title>Warehouse Integration Company | @ViewBag.Titel</title>
            }
            <meta name="description" content="@(!string.IsNullOrEmpty(metadata.SEO_Description)?metadata.SEO_Description:"WIN is a company established to provide a comprehensive integration and effective mechanism to fully utilize the surplus material among industrial companies starting from Saudi Arabia and GCC markets then spread globally.")" />
            <meta name="keywords" content="@(!string.IsNullOrEmpty(metadata.SEO_Keyword)?metadata.SEO_Keyword:"Warehouse Integration Company,Warehouse , Integration ,cameron,cart,company,control,corp,corporation,controls,electric,engineering,gmbh,industries,item,measurement,limited,price,process,products,metal,pumps,systems,technologies,weidmuller,valves,valve,tyco,yokogawa,FILTER BY CONDITION,CONDITION,test bid 15 jan,Last bid amount,Qty,Place a bid,bid,place,Auction,Price,Manufacturers,Jubail Industrial City Saudi Arabia,Jubail Industrial,Global Marketplace,GlobalMarketplace,Global,Marketplace,Surplus Inventory,Surplus,Inventory,Safety,Packaging,Chemicals")" />

            <meta name="image" content="@(!string.IsNullOrEmpty(metadata.SEO_Image)?"https://win.com.sa/Content/UploadData/UploadImages/SEO/"+metadata.SEO_Image:"https://win.com.sa/content/frontend/logo.png")" />

            if (metadata != null && !string.IsNullOrEmpty(metadata.SEO_Titel))
            {
                <meta property="og:title" content="@metadata.SEO_Titel" />
            }
            else
            {
                <meta property="og:title" content="Warehouse Integration Company | @ViewBag.Titel" />
            }

            <meta property="og:description" content="@(!string.IsNullOrEmpty(metadata.SEO_Description)?metadata.SEO_Description:"WIN is a company established to provide a comprehensive integration and effective mechanism to fully utilize the surplus material among industrial companies starting from Saudi Arabia and GCC markets then spread globally.")" />
            <meta property="og:image" content="@(!string.IsNullOrEmpty(metadata.SEO_Image)?"https://win.com.sa/Content/UploadData/UploadImages/SEO/"+metadata.SEO_Image:"https://win.com.sa/content/frontend/logo.png")" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content='@Request.Url.AbsoluteUri' />
            <meta property="og:site_name" content="Warehouse Integration Company" />
            <meta property="fb:admins" content="winogm.sa" />


            if (metadata != null && !string.IsNullOrEmpty(metadata.SEO_Titel))
            {
                <meta name="twitter:title" content="@metadata.SEO_Titel" />
            }
            else
            {
                <meta name="twitter:title" content="Warehouse Integration Company | @ViewBag.Titel" />

            }
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:description" content="@(!string.IsNullOrEmpty(metadata.SEO_Description)?metadata.SEO_Description:"WIN is a company established to provide a comprehensive integration and effective mechanism to fully utilize the surplus material among industrial companies starting from Saudi Arabia and GCC markets then spread globally.")" />
            <meta name="twitter:image" content="@(!string.IsNullOrEmpty(metadata.SEO_Image)?"https://win.com.sa/Content/UploadData/UploadImages/SEO/"+metadata.SEO_Image:"https://win.com.sa/content/frontend/logo.png")" />
            <meta name="twitter:site" content="@Request.Url.AbsoluteUri" />
            <meta name="twitter:creator" content="WIN admin" />

        }

        else
        {
            <title>  Warehouse Integration Company|@ViewBag.Titel</title>
            <meta name="description" content="WIN is a company established to provide a comprehensive integration and effective mechanism to fully utilize the surplus material among industrial companies starting from Saudi Arabia and GCC markets then spread globally." />
            <meta name="keywords" content="Warehouse Integration Company,Warehouse , Integration ,cameron,cart,company,control,corp,corporation,controls,electric,engineering,gmbh,industries,item,measurement,limited,price,process,products,metal,pumps,systems,technologies,weidmuller,valves,valve,tyco,yokogawa,FILTER BY CONDITION,CONDITION,test bid 15 jan,Last bid amount,Qty,Place a bid,bid,place,Auction,Price,Manufacturers,Jubail Industrial City Saudi Arabia,Jubail Industrial,Global Marketplace,GlobalMarketplace,Global,Marketplace,Surplus Inventory,Surplus,Inventory,Safety,Packaging,Chemicals" />
            <meta name="image" content="https://win.com.sa/content/frontend/logo.png" />
            <meta property="og:title" content="Warehouse Integration Company|@ViewBag.Titel" />
            @*<meta property="og:type" content="article" />*@
            <meta property="og:type" content="website" />
            <meta property="og:image" content="https://win.com.sa/content/frontend/logo.png" />
            <meta property="og:description" content="WIN is a company established to provide a comprehensive integration and effective mechanism to fully utilize the surplus material among industrial companies starting from Saudi Arabia and GCC markets then spread globally." />
            <meta property="og:url" content='@Request.Url.AbsoluteUri' />
            <meta property="og:site_name" content="WIN" />
            <meta property="fb:admins" content="winogm.sa" />


            <meta name="twitter:card" content="summary" />
            <meta name="twitter:title" content="Warehouse Integration Company|@ViewBag.Titel" />
            <meta name="twitter:image" content="https://win.com.sa/content/frontend/logo.png" />
            <meta name="twitter:description" content="WIN is a company established to provide a comprehensive integration and effective mechanism to fully utilize the surplus material among industrial companies starting from Saudi Arabia and GCC markets then spread globally." />

            <meta name="twitter:site" content="@Request.Url.AbsoluteUri" />
            <meta name="twitter:creator" content="WIN admin" />
            <!-- Twitter Card data -->

        }
    }




    @*<link href="/Content/FrontEnd/css/font-awesome/css/all.min.css" rel="stylesheet" />*@

    @Styles.Render("~/Content/stylescss")
    @*<link href="/Content/FrontEnd/css/animate.css" rel="stylesheet" />
            <link href="/Content/FrontEnd/css/flexslider.css" rel="stylesheet" />
        <link href="/Content/FrontEnd/css/swiper.min.css" rel="stylesheet" />
        <link href="/Content/FrontEnd/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/Content/FrontEnd/css/magiczoomplus.css" rel="stylesheet" />

        <link href="/Content/FrontEnd/css/jquery-ui.css" rel="stylesheet" />

        <link href="/Content/FrontEnd/css/bootstrap-select.min.css" rel="stylesheet" />
        <link href="/Content/plugins/toastr/build/toastr.min.css" rel="stylesheet" />
        <link href="/Content/plugins/select2/select2.min.css" rel="stylesheet" />*@
    <link href="/Content/FrontEnd/css/style.css" rel="stylesheet" />


    <link rel="apple-touch-icon" href="~/Content/FrontEnd/images/favicon-32x32.png" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/FrontEnd/images/favicon-32x32.png" />

    <link href="/Content/FrontEnd/css/indexautocomplete.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/flagstyle.css" rel="stylesheet" />
    @RenderSection("Styles", false)

    <style>
        .flag-text {
            margin-left: 10px;
        }

        .btn-currency {
            padding: 0px;
            background-color: none;
            border: none;
        }

            .btn-currency:focus, .btn-currency:hover {
                color: #f65625;
                box-shadow: none;
            }

        .dropdowncurrency {
            background-color: #233142;
        }


        .Subscribe input {
            background: #fafbfd;
            padding: 1.37rem 0.35rem;
            font-size: 0.8rem;
            color: #2347a1;
        }

        .Subscribe button:hover {
            background-color: #f65625;
            border-color: #f65625;
            color: #fff;
        }

        .Subscribe button {
            /* background-color: #f65625;
            border-color: #f65625;*/
            color: #fff;
        }
    </style>

</head>

<body class="home-page">
    <div class="mobile-wrap">
        <div class="mobile-wrap-head clearfix">
            <a class="mobile-brand" title="WIN" href="#">
                <img src="/Content/FrontEnd/images/WinSmall.svg" alt="Warehouse Integration Company" />
            </a>
            <button type="button" class="close-menu">X</button>
        </div>
        <ul class="mobile-nav">
            @foreach (var link in menuLinks.Where(x => x.MenuId == 1))
            {
                <li><a href="@link.Link">@link.Title</a></li>
            }
            @foreach (var link in menuLinks.Where(x => x.MenuId == 2))
            {
                <li> <a class="nav-link" href="@link.Link">@link.Title</a></li>

            }

        </ul>

    </div>


    <div class="modal fade" id="SearchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <form class="search-header">
                        <div class="search-field">

                            <input type="hidden" value="@ViewContext.RouteData.Values["id"]" name="id" id="idmodel" />
                            <input type="text" name="q" id="qmodel" value="@ViewBag.query" placeholder="Product title, Describtion, Category" />
                            <button type="button" class="btn-search searchajx"><i class="fa fa-search "></i></button>
                            @*<a href="#" class="btn-search searchajx"><i class="fa fa-search " ></i></a>*@
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <header>
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        @Html.Partial("_LoginSitePartial")




                    </div>
                    <div class="col-md-6 ">
                        <ul class="list-inline top-links">

                            @foreach (var link in menuLinks.Where(x => x.MenuId == 1))
                            {
                                <li class="list-inline-item">
                                    <a href="@link.Link">@link.Title</a>
                                </li>
                            }
                            @*<li class="list-inline-item">
                                    <a href="@Url.Action("About","Home")#forseller">For Seller</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="@Url.Action("About","Home")">About WIN</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="@Url.Action("CoreValues","Home")">Core Values</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="@Url.Action("Contact","Home")">Contact Us</a>
                                </li>*@

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-bar">
            <div class="container">
                <div class="row m-0">
                    <div class="col-lg-4 p-0 d-none d-lg-block">

                        @if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower().Equals("home") && HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower().Equals("index"))
                        {
                            <h1 class="logo">
                                <a href="@Url.Action("Index", "Home")" title="">
                                    <img src="/Content/FrontEnd/images/logo.svg" alt="Warehouse Integration Company" />

                                </a><span>
                                    @(metadata != null && !string.IsNullOrEmpty(metadata.SEO_Titel) ? metadata.SEO_Titel : ViewBag.Titel)
                                </span>
                            </h1>


                        }
                        else
                        {
                            <div class="logo">
                                <a href="@Url.Action("Index", "Home")" title="">
                                    <img src="/Content/FrontEnd/images/logo.svg" alt="Warehouse Integration Company" />

                                </a>

                            </div>

                        }
                    </div>
                    <div class="col-lg-8 p-0">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand d-block d-sm-block d-lg-none" href="@Url.Action("Index","Home")">
                                <img src="/Content/FrontEnd/images/WinSmall.svg" alt="Warehouse Integration Company" />
                            </a>

                            <ul class="navRight list-inline ml-auto d-block d-sm-block d-lg-none">
                                <li class="list-inline-item searchModalBtn">
                                    <a href="#" data-toggle="modal" data-target="#SearchModal"><i class="fa fa-search"></i></a>
                                </li>
                                <li class="list-inline-item">

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (User.IsInRole("Buyer"))
                                        {
                                            <a href="@Url.Action("MyAccount", "Buyer")" class="user-url"><i class="far fa-user"></i></a>
                                        }

                                        else
                                        {
                                            <a href="@TempData["URL"]" class="user-url"><i class="far fa-user"></i></a>
                                        }
                                    }
                                    else
                                    {
                                        <a href="/Home/Login" class="user-url"><i class="far fa-user"></i></a>
                                    }
                                </li>

                                <li class="list-inline-item">
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Buyer"))
                                    {
                                        <a href="@Url.Action("MyFavorit","Buyer")" class="wishlist-url"><i class="far fa-heart"></i></a>
                                    }
                                    else
                                    {
                                        <a href="/Home/Login" class="wishlist-url"><i class="far fa-heart"></i></a>
                                    }
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-uppercase cartBtn" href="@Url.Action("Index", "Cart")">
                                        <img height="20" src="/Content/FrontEnd/images/shopping-cart.svg?w=20" alt="shopping-cart" />
                                        <small class="itemcount3" id="itemcount">
                                            @TempData["cartCount"]
                                        </small>

                                        <span id="totalprice3">
                                            @TempData["cartPrice"]
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <button class="navbar-toggler" type="button">
                                <i class="fa fa-bars"></i>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarMenu">
                                <ul class="navbar-nav m-auto">
                                    @foreach (var link in menuLinks.Where(x => x.MenuId == 2))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="@link.Link">@link.Title</a>
                                        </li>
                                        @*<li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("Manufactuer", "Home")">Manufacturer</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Region</a>
                                            </li>*@

                                    }
                                </ul>
                                <ul class="navRight list-inline ml-auto d-none d-lg-block">
                                    <li class="list-inline-item searchModalBtn">
                                        <a href="#" data-toggle="modal" data-target="#SearchModal"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li class="list-inline-item">

                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Buyer"))
                                        {
                                            <a href="@Url.Action("MyFavorit","Buyer")" class="wishlist-url"><i class="far fa-heart"></i></a>
                                        }
                                        else
                                        {
                                            <a href="#" class="wishlist-url"><i class="far fa-heart"></i></a>
                                        }
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="text-uppercase cartBtn" href="@Url.Action("Index", "Cart")">
                                            <img height="20" src="/Content/FrontEnd/images/shopping-cart.svg?w=20" alt="shopping-cart" />
                                            <small class="itemcount" id="itemcount1">@TempData["cartCount"]</small>

                                            <span id="totalprice">
                                                @String.Format("{0:n}", TempData["cartPrice"])
                                            </span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        @if (!User.IsInRole("Seller"))
                                        {
                                            <a href="@Url.Action("Register", "Account",new {id="Seller" })" class="btn btn-warning">Become a Seller</a>
                                        }
                                    </li>
                                </ul>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="absolute-header" style="display:none"></div>
    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    @if (setting != null)
                    {

                        <div class="widget">
                            <h3>Visit us</h3>
                            <div class="entry-widget">
                                <address>
                                    @setting.Address
                                </address>
                            </div>
                        </div>

                    }

                    <form id="subscribform">
                        <label class="control-label" style="color: #fafbfd">Subscribe our news letter</label>
                        <div class="input-group mb-3 Subscribe">


                            <input type="email" class="form-control subscripe" placeholder="Email Address" required=required aria-label="Email Address" name="News_Letter_Email" id="News_Letter_Email" aria-describedby="basic-addon2" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit" id="subscripeemail">Subscribe</button>
                            </div>
                        </div>


                    </form>






                </div>
                @if (setting != null)
                {
                    <div class="col-md-3">
                        <div class="widget">
                            <h3>Contact us</h3>
                            <div class="entry-widget">
                                <ul class="list-unstyled">
                                    <li><span>P :</span>  @setting.MobileNo1</li>
                                    <li><span>P :</span>  @setting.UNA</li>
                                    <li><span>F :</span> @setting.MobileNo2</li>
                                    <li><span><i class="fab fa-whatsapp"></i> :</span>@setting.WhatsappNO</li>
                                    <li><span>E :</span>  @setting.Email</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-md-3">
                    <div class="widget">
                        <h3>About Us</h3>
                        <div class="entry-widget">
                            <ul class="menu d-flex flex-row flex-wrap">
                                @foreach (var link in menuLinks.Where(x => x.MenuId == 3))
                                {
                                    <li class="w-50"><a href="@link.Link">@link.Title</a> </li>
                                    @*<li class="w-50"><a href="#">Impact</a></li>
                                        <li class="w-50"><a href="#">Industries</a></li>
                                        <li class="w-50"><a href="#">Careers</a> </li>
                                        <li class="w-50"><a href="#">Case Studies</a></li>*@
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget">
                        <h3>Follow us</h3>
                        <div class="entry-widget">
                            <ul class="list-inline social">
                                <li class="list-inline-item">
                                    <a class="fc" href="https://www.facebook.com/wincompanysaudi"><i class="fab fa-facebook-f"></i> </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="tw" href="https://twitter.com/WINCompanysaudi"><i class="fab fa-twitter"></i> </a>
                                </li>

                                <li class="list-inline-item">
                                    <a class="in" href="https://www.linkedin.com/company/wincompanysaudi"><i class="fab fa-linkedin-in"></i> </a>
                                </li>

                                <li class="list-inline-item">
                                    <a class="instagram" href="https://www.instagram.com/wincompanysaudi"><i class="fab fa-instagram"></i> </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="yt" href="https://www.youtube.com/channel/UCvYv6JJDUjq2ZcOzBXs2WyA"><i class="fab fa-youtube"></i> </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="wa" href="https://api.whatsapp.com/send?phone=00966592800669"><i class="fab fa-whatsapp"></i> </a>
                                </li>
                            </ul>

                            <p>
                                <a href="https://maroof.sa/BusinessCertificate/Index?bid=164000" target="_blank">
                                    <img src="~/Content/FrontEnd/images/ImageCr.png" />
                                </a>
                            </p>
                            <p class="copyright">
                                All rights are reserved  &copy;  2019
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="mdladdtocart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-msg text-center">
                        <div class="modal-msg-icon mb35">
                            <img src="/content/frontend/images/check.png" alt="Item added to cart" />
                        </div>
                        <h3 class="mb25">Item added to cart</h3>
                        <p class="mb30">Item added successfully to the cart.</p>
                        <div class="btns-action text-uppercase">
                            <a href="@Url.Action("Index","Cart")" class="btn btn-outline-warning">
                                Go to Cart
                            </a>
                            <a href="#" class="btn btn-warning" data-dismiss="modal">Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mdladdtocartbefor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-msg text-center">
                        <div class="modal-msg-icon mb35">
                            <img src="/content/frontend/images/timesred.png" alt="Item added to cart befor" />
                        </div>
                        <h3 class="mb25">Item added to cart befor</h3>
                        <p class="mb30">Item added befor to the cart.</p>
                        <div class="btns-action text-uppercase">
                            <a href="@Url.Action("Index","Cart")" class="btn btn-outline-warning">
                                Go to Cart
                            </a>
                            <a href="#" class="btn btn-warning" data-dismiss="modal">Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mdlPlacebid" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog " role="document" id="biddialog">
            <div class="modal-content">
                <div class="modal-body">

                    <h4>Place a Bid</h4>

                    <input type="hidden" id="bidproductid" />
                    <div class="form-group">
                        <label>Material Name</label>
                        <input type="text" readonly=readonly id="bidmaterialname" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Material Qunatity</label>
                        <input type="text" readonly=readonly id="bidqty" class="form-control" />
                    </div>
                    <div class="form-group bidammount">
                        <label>Last Bid Amount</label>
                        <input type="text" readonly=readonly id="bidlastammount" class="form-control allow-number" />
                    </div>

                    <div class="form-group bidammount">
                        <label> Bid Difference </label>
                        <input type="text" readonly=readonly id="bidDifference" class="form-control allow-number" />
                    </div>

                    <div class="form-group hidden" id="isinspection">
                        <label>Is Need Inspection</label>
                        <select id="inspectionvalue" class="form-control">
                            <option value="-1"> select</option>
                            <option value="1"> YES</option>
                            <option value="2"> NO</option>
                        </select>

                    </div>
                    <label id="errorlbl" class="red"></label>
                    <input type="hidden" value="0" id="inspectionvaluehdn" />

                    <input type="hidden" value="1" id="showbidamountfiled" />
                    <div class="form-group" id="bidammount">
                        <label>Your Bid Amount</label>
                        <input type="text" id="Curentbidamount" name="Curentbidamount" class="form-control allow-number" />
                        @*<label id="errorlbl" style="color:red"></label>*@
                    </div>

                    <div class="form-group" id="bidofferdiv">
                        <label>Your Bid Offer</label>
                        <input type="file" id="Bidoffer" name="Bidoffer" accept=".pdf" class="form-control" />
                        <label id="errorlblbidoffer" style="color:red"></label>
                    </div>
                    <div class="form-group" id="bidothersdiv">
                        <label>Others Files</label>
                        <input type="file" id="Bidothers" name="Bidothers" accept=".pdf" multiple=multiple class="form-control" />
                        <label id="errorlblbidotherfiles" style="color:red"></label>
                    </div>

                    <div class="form-group">
                        <label id="errorlblterms" class="red"></label>
                        <br />
                        <input type="checkbox" name="acceptterms" id="accepttermscbx" /> <label>I Accept <a href="@Url.Action("Terms","Home",new { area=""})" target="_blank"> Terms & Conditions</a> </label>

                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-warning" id="submitbid">Place Bid</button>
                        <a href="#" class="btn btn-outline-warning" data-dismiss="modal" id="closebtn">Close</a>
                    </div>



                </div>

            </div>
        </div>
    </div>

    <div id="mdlemaildproduct" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog " role="document" id="emaildproductlog">
            <div class="modal-content">
                <div class="modal-body">

                    <h4>Suggistion Product</h4>

                    <label id="errorlblseg" class="red"></label>
                    <div class="form-group">
                        <label>Material Name</label>
                        <input type="text" id="sugmaterialname" class="form-control" />
                    </div>


                    <div class="form-group">
                        <label>Material Details</label>
                        <textarea id="sugmaterialdesc" rows="5" class="form-control"></textarea>

                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-warning" id="submitmaterialemail"> Send </button>
                        <a href="#" class="btn btn-outline-warning" data-dismiss="modal" id="closebtnsug">Close</a>
                    </div>



                </div>

            </div>
        </div>
    </div>

    @*<script>
            window['_fs_debug'] = false;
            window['_fs_host'] = 'fullstory.com';
            window['_fs_script'] = 'edge.fullstory.com/s/fs.js';
            window['_fs_org'] = 'RC5S2';
            window['_fs_namespace'] = 'FS';
            (function (m, n, e, t, l, o, g, y) {
                if (e in m) { if (m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); } return; }
                g = m[e] = function (a, b, s) { g.q ? g.q.push([a, b, s]) : g._api(a, b, s); }; g.q = [];
                o = n.createElement(t); o.async = 1; o.crossOrigin = 'anonymous'; o.src = 'https://' + _fs_script;
                y = n.getElementsByTagName(t)[0]; y.parentNode.insertBefore(o, y);
                g.identify = function (i, v, s) { g(l, { uid: i }, s); if (v) g(l, v, s) }; g.setUserVars = function (v, s) { g(l, v, s) }; g.event = function (i, v, s) { g('event', { n: i, p: v }, s) };
                g.shutdown = function () { g("rec", !1) }; g.restart = function () { g("rec", !0) };
                g.log = function (a, b) { g("log", [a, b]) };
                g.consent = function (a) { g("consent", !arguments.length || a) };
                g.identifyAccount = function (i, v) { o = 'account'; v = v || {}; v.acctId = i; g(o, v) };
                g.clearUserCookie = function () { };
            })(window, document, window['_fs_namespace'], 'script', 'user');
        </script>*@


    @*@Scripts.Render("~/bundles/toastr");
        @Scripts.Render("~/bundles/select2full");
        @Scripts.Render("~/bundles/jqueryblockUI");
        @Scripts.Render("~/bundles/moment");*@

    <script src="/Content/FrontEnd/js/jquery-3.4.1.min.js"></script>
    @Scripts.Render("~/Content/scriptsjs")


    <!--myscripts-->
    @*--<script src="/Content/FrontEnd/js/popper.min.js"></script>
            <script src="/Content/FrontEnd/js/bootstrap.min.js"></script>
            <script src="/Content/FrontEnd/js/jquery.flexslider-min.js"></script>
            <script src="/Content/FrontEnd/js/jquery.syotimer.js"></script>
            <script src="/Content/FrontEnd/js/swiper.min.js"></script>
            <script src="/Content/FrontEnd/js/zoomsl.min.js"></script>
            <script src="/Content/FrontEnd/js/wow.min.js"></script>

            <!-- Latest compiled and minified CSS -->


            <script src="/Content/FrontEnd/js/bootstrap-select.min.js"></script>
            <script src="/Content/FrontEnd/js/jquery-ui.js"></script>
        <script src="/Content/plugins/toastr/build/toastr.min.js"></script>
        <script src="/Content/plugins/select2/select2.full.min.js"></script>
        <script src="/Content/FrontEnd/js/jquery.blockUI.min.js"></script>

        <script src="/Content/plugins/general/moment/min/moment.min.js"></script>*@



    @*<script src="/Content/plugins/ladda/spin.min.js"></script>
        <script src="/Content/plugins/ladda/ladda.min.js"></script>*@
    @*<script>
           let  additionalURL = '@Url.Action("AddtoFavorite", "Home")';
             let placeURL = '@Url.Action("GetplaceData","Home")';
             let AddPlace = '@Url.Action("Addplace","Home")';
             let AddCartURL = '@Url.Action("Add","cart")';
             let SearchResult = '@Url.Action("SearchResult","Home")';
             let GetSearchProducts = '@Url.Action("GetSearchProducts","Home")';
             let ProductDetailsURL = '@Url.Action("Details", "ProductDetails")';
        </script>*@

    @*--<script src="/Content/FrontEnd/js/main_min.js?v=@TempData["Version"]"></script>*@
    @*<script src="/Content/FrontEnd/js/main.js?v=1255955656"></script>*@
    @*<script src="~/Content/FrontEnd/js/functions.js"></script>*@
    @*
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async='async' src="https://www.googletagmanager.com/gtag/js?id=UA-156377983-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-156377983-1');
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async='async' src="https://www.googletagmanager.com/gtag/js?id=UA-158172484-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-158172484-1');
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async='async' src="https://www.googletagmanager.com/gtag/js?id=UA-119533868-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-119533868-1');
        </script>*@

    <script>

        $("#subscripeemail").on("click", function (e) {
            e.preventDefault();
            if ($("#News_Letter_Email").val()) {
                $.post('@Url.Action("subscripeNewsletter","Home")', { "Email": $("#News_Letter_Email").val() }, function (result) {
                    ShowMessage(result.msg);
                });
            }
            else {
                ShowMessage("e:please insert your email");
            }

        });
        $(document).on('click', '.emaild_product_link', function (e) {


            e.preventDefault();
            $("#mdlemaildproduct").modal();
        });


        $(document).on('click', '#submitmaterialemail', function (e) {
            e.preventDefault();
            $("#errorlblseg").html("");
            if ($("#sugmaterialdesc").val() && $("#sugmaterialname").val()) {
                $.post('@Url.Action("SendSuggestionProduct", "Home")', { "ProductName": $("#sugmaterialname").val(), "ProductDetails": $("#sugmaterialdesc").val()}, function (result) {

                    ShowMessage(result.msg);
                    if (result.status == 1) {
                        $("#closebtnsug").click();
                    }
                    else { $("#errorlblseg").html("Please Fill Product Name and Description about Product or product usage");}
                });
            }
            else {
                $("#errorlblseg").html("Please Fill Product Name and Description about Product or product usage");
                ShowMessage("e:Please Fill Product Name and Description about Product or product usage");
            }


        });
    </script>
    <!-- GetButton.io widget -->
    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "@setting.WhatsappNO", // WhatsApp number
                call_to_action: "Message us", // Call to action
                position: "left", // Position may be 'right' or 'left'
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- /GetButton.io widget -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async=async async=async src="https://www.googletagmanager.com/gtag/js?id=UA-160719817-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-160719817-1');
    </script>
    <script src="//code.tidio.co/66uqql3osr6tfpnpuwmntqqufq2mnexh.js" async=async></script>
    @RenderSection("Scripts", false)
</body>
</html>