﻿@model AspNetUserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .shippingitems td {
            border: 1px solid #808080;
            padding: 0 3px;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmLogin</title>
</head>
<body>
    <div>
        

       <table border='0' cellspacing='0' cellpadding='0' align='center' width='520' bgcolor='#ffffff' style='background:#ffffff;max-width:520px'>
            <tbody>
                <tr>
                    <td width='20' bgcolor='#eeeeee' style='background:#eeeeee'></td>
                    <td width='480'>
                        <table border='0' cellspacing='0' cellpadding='0' width='100%'>
                            <tbody>
                                <tr>
                                    <td height='20' bgcolor='#eeeeee' style='background:#eeeeee'></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border='0' cellspacing='5' cellpadding='5' align='center' width='100%' style='border-bottom:1px solid #eeeeee'>
                                            <tbody>
                                                <tr>
                                                    <td align='center'>
                                                        <a href='@Url.Action("Index", "Home")' style='color:#4285f4;text-decoration:underline' target='_blank'>
                                                            <img border='0' src='/Content/FrontEnd/images/logo.svg' alt='wharhouse Integration Comapny' style='text-align:center;border:none' class='CToWUd'>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height='49'></td>
                                                </tr>
                                                <tr>
                                                    <td align='center' style='color:#4285f4;font-family:Roboto,OpenSans,Open Sans,Arial,sans-serif;font-size:32px;font-weight:300;line-height:46px;margin:0;padding:0 25px 0 25px;text-align:center'>Welcome  @Model.FullName</td>
                                                </tr>

                                               



                                                <tr>
                                                    <td align='center' style='color:#4285f4;font-family:Roboto,OpenSans,Open Sans,Arial,sans-serif;font-size:32px;font-weight:300;line-height:46px;margin:0;padding:0 25px 0 25px;text-align:center'>
                                                        <br /> <a href='@Url.Action("ConfirmLoginuser",new { userid=Model.Id})' style='padding:20px;background:#999999;color:#ffffff;font-size:18px'>Continue as @Model.Email</a> <br />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height='30'></td>
                                                </tr>
                                                <tr>
                                                    <td align='right' style='color:#757575;font-family:Roboto,OpenSans,Open Sans,Arial,sans-serif;font-size:17px;font-weight:300;line-height:24px;margin:0;padding:0 25px 0 25px;text-align:right'>wharhouse Integration Comapny </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height='20' bgcolor='#eeeeee' style='background:#eeeeee'></td>
                                </tr>


                            </tbody>
                        </table>
                    </td>
                    <td width='20' bgcolor='#eeeeee' style='background:#eeeeee'></td>
                </tr>
            </tbody>
        </table>


    </div>
</body>
</html>
