﻿@model OBSBidDetailViewModel
@using System.Configuration;
@using  ps.haweya.win.obs.business.Managers;
@{
        ViewBag.Title = "Invoice";
        Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
        var bank = ViewBag.Bank as BankAccountViewModel;
        double vatvalue = Model.VatValue ?? 0;
        string vattext = Model.VatText;
        var Mycurrency = Model.Currency;
        if (Mycurrency == null)
        {
            Mycurrency = TempData["maincurrency"] as CurrencyViewModel;


            if (TempData["cookiecurrency"] != null)
            {
                Mycurrency = TempData["cookiecurrency"] as CurrencyViewModel;
            }
        }

    }

    @section    Styles{
    <link href="/Content/css/pages/invoices/invoice-2.css" rel="stylesheet" type="text/css" />
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title"><i class="fas fa-dolly"></i>&nbsp;Customer Bids</h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <h3 class="kt-subheader__title">BID-@Model.BidId.ToString("000")</h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <h3 class="kt-subheader__title kt-text-light">Invoice</h3>
            </div>
            <div class="kt-subheader__toolbar"></div>
        </div>
    </div>
    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-invoice-2">
                    <div class="kt-invoice__head">
                        <div class="kt-invoice__container">
                            <div class="kt-invoice__brand">
                                <h1 class="kt-invoice__title">BID INVOICE </h1>
                                <div href="#" class="kt-invoice__logo">
                                    <a href="#"><object type="image/svg+xml" data="/Content/FrontEnd/images/logo.svg" width="350"> </object></a>
                                    <span class="kt-invoice__desc" style="text-align:left">
                                        <span style="margin-bottom: 10px;">Chamber of Commerce Building, 6th Floor, Jubail Industrial City Saudi Arabia</span>

                                        <span>Call Us: +966 13 347 9300</span>
                                        <span>Email: info@@win.com.sa</span>
                                        <span>url: win.com.sa</span>
                                    </span>
                                </div>
                            </div>
                            <div class="kt-invoice__items">
                                <div class="kt-invoice__item">
                                    <span class="kt-invoice__subtitle">DATE</span>
                                    <span class="kt-invoice__text">@Model.AddedOn.ToString("dd/MM/yyyy")</span>
                                </div>
                                <div class="kt-invoice__item">
                                    <span class="kt-invoice__subtitle">INVOICE NO.</span>
                                    <span class="kt-invoice__text">BID-@Model.BidId.ToString("000")</span>
                                </div>

                                <div class="kt-invoice__item">
                                    <span class="kt-invoice__subtitle">INVOICE TO.</span>

                                    @if (Model.AspNetUser != null)
    {<span class="kt-invoice__text">
                                            @*@Model..FirstAddress*@
                                            <br>
                                            <label id="lblcity" class="lblcity" myid="@Model.AspNetUser.CityId"></label>,<label id="lblstate" class="lblstate" myid="@Model.AspNetUser.StateId"></label>,<label id="lblcountry" class="lblcountry" myid="@Model.AspNetUser.CountryId"></label>
                                        </span>}
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="kt-invoice__body">
                        <div class="kt-invoice__container">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Item</th>
                                            <th>Quantity</th>
                                            <th>Price</th>

                                           

                                            <th>Total</th>
                                            @*<th>vat @((!string.IsNullOrEmpty(Model.VatText)?vattext+"*price":""))</th>*@
                                            @*<th>Total with VAT</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.ProductInformation != null)
                                        {
                                            <tr>
                                                <td class="product-thumb">
                                                    <a href="#">

                                                        <img class='img img-responsive' src='@Model.ProductInformation.ProductImg[0]' style="height: 60px;" />


                                                    </a>
                                                </td>
                                                <td>  <a href="@Url.Action("Details","ProductDetails",new { id=Model.ProductId})">@Model.ProductInformation.ProductTitle</a></td>
                                                <td>@Model.ProductInformation.Quantity</td>
                                                <td>

                                                    @Model.BidPrice @Mycurrency.Sign
                                                    @if (Model.Currency != null && Model.CurrencyId != 1)
                                                    {
                                                        <br />

                                                        @(Convert.ToDouble(Model.MainCurrencyValue).ToString("0.00")+" SAR")

                                                    }
                                                </td>

                                                @*<td>
                    @(Convert.ToDouble(((Model.InspectionValue ?? 0) / Mycurrency.RateToRiyal)).ToString("0.00"))  @Mycurrency.Sign
                    @if (Model.Currency != null && Model.CurrencyId != 1)
                    {
                        <br />
                        @(Convert.ToDouble(((Model.InspectionValue ?? 0))).ToString("0.00") + " SAR")
                    }
                </td>*@

                                                <td>
                                                    @(Model.BidPrice ) @Mycurrency.Sign
                                                    @if (Model.Currency != null && Model.CurrencyId != 1)
                                                    {
                                                        <br />
                                                        @((Model.MainCurrencyValue * vatvalue)+" SAR"  )
                                                    }
                                                </td>
                                                @*<td>
                    @(Convert.ToDouble(((Model.InspectionValue ?? 0) / Mycurrency.RateToRiyal) + Model.BidPrice + (vatvalue * Model.BidPrice)).ToString("0.00")) @Mycurrency.Sign
                    @if (Model.Currency != null && Model.CurrencyId != 1)
                    {
                        <br />
                        @(Convert.ToDouble(((Model.InspectionValue ?? 0) ) + Model.MainCurrencyValue + (vatvalue * Model.MainCurrencyValue)).ToString("0.00") +" SAR")
                    }
                </td>*@
                                            </tr>
                                        }
                                        @*<tr>
        <td colspan="3" class="nobacknoborder"></td>
        <td>BaseTotal</td>
        <td>
            @(Convert.ToDouble(((Model.InspectionValue ?? 0) / Mycurrency.RateToRiyal) + Model.BidPrice).ToString("0.00")) @Mycurrency.Sign
            @if (Model.Currency != null && Model.CurrencyId != 1)
            {
                <br />
                @(Convert.ToDouble(((Model.InspectionValue ?? 0) ) + Model.MainCurrencyValue).ToString("0.00")+" SAR")
            }

        </t*@d>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="nobacknoborder"></td>
                                            <td>Vat @vattext</td>
                                            <td>
                                                @(Convert.ToDouble(Model.BidPrice * vatvalue).ToString("0.00")) @Mycurrency.Sign
                                                @if (Model.Currency != null && Model.CurrencyId != 1)
                                                {
                                                    <br />
                                                    @(Convert.ToDouble(Model.MainCurrencyValue * vatvalue).ToString("0.00")+" SAR")
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="nobacknoborder"></td>
                                            <td>Inspection</td>
                                            <td>
                                                @(Convert.ToDouble(((Model.InspectionValue ?? 0) / Mycurrency.RateToRiyal)).ToString("0.00")) @Mycurrency.Sign
                                                @if (Model.Currency != null && Model.CurrencyId != 1)
                                                {
                                                    <br />
                                                    @(Convert.ToDouble(((Model.InspectionValue ?? 0))).ToString("0.00") + " SAR")
                                                }
                                            </td>
                                        </tr>
                                       
                                        <tr>
                                            <td colspan="3" class="nobacknoborder"></td>
                                            <td> Total</td>
                                            <td>
                                                @(Convert.ToDouble(((((Model.InspectionValue ?? 0) / Mycurrency.RateToRiyal) + Model.BidPrice) + Model.BidPrice * vatvalue)).ToString("0.00")) @Mycurrency.Sign
                                                @if (Model.Currency != null && Model.CurrencyId != 1)
                                                {
                                                    <br />
                                                    @(Convert.ToDouble(((((Model.InspectionValue ?? 0) ) + Model.MainCurrencyValue) + Model.MainCurrencyValue * vatvalue)).ToString("0.00")+" SAR")
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="kt-invoice__footer">
                        <div class="kt-invoice__container">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>BANK</th>
                                            <th>ACC.NO.</th>
                                            <th>DUE DATE</th>
                                            <th>TOTAL AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @if (bank != null)
                                            {
                                                <td>@bank.Name</td>
                                                <td>@bank.No</td>

                                            }
                                            else
                                            {
                                                <td>BARCLAYS UK</td>
                                                <td>12345678909</td>
                                            }
                                            <td>@Model.PaymentRceiptCopyTime </td>
                                            <td class="kt-font-danger kt-font-xl kt-font-boldest">
                                                @(Convert.ToDouble((((Model.InspectionValue ?? 0) / Mycurrency.RateToRiyal)) + Model.BidPrice + (Model.BidPrice * vatvalue)).ToString("0.00")) @Mycurrency.Sign

                                                @if (Model.Currency != null && Model.CurrencyId != 1)
                                                {
                                                    <br />
                                                    @(Convert.ToDouble((((Model.InspectionValue ?? 0) )) + Model.MainCurrencyValue + (Model.MainCurrencyValue * vatvalue)).ToString("0.00") +" SAR")

                                                }
                                            </td>
                                        </tr>
                                        @if (bank != null)
                                        {

                                            <tr><th style="border-top:1px solid #ebedf2;">Account Name : </th><td colspan="3">@bank.Beneficiary_Account_Name</td></tr>
                                            <tr><th>IBAN : </th><td colspan="3">@bank.IBAN</td></tr>
                                            <tr><th>Swift Code : </th><td colspan="3">@bank.SWIFT_CODE</td></tr>
                                            <tr><th>Address : </th><td colspan="3">@bank.Bank_Address_Country</td></tr>
                                            <tr><th>Currency : </th><td colspan="3">@bank.Currency</td></tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                    <div class="kt-invoice__actions">
                        <div class="kt-invoice__container">
                            <button type="button" class="btn btn-success btn-bold" onclick="window.print();">Download Invoice</button>
                            <button type="button" class="btn btn-primary btn-bold" onclick="window.print();">Print Invoice</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>

@section Scripts
{
    <script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script>
        $(document).ready(function () {
            function togglesidBar() {
                // toggle left side menu if it state is off (open)
                try {

                    var aside = new KTToggle('kt_aside_toggler', {
                        target: 'body',
                        targetState: 'kt-aside--minimize',
                        togglerState: 'kt-aside__brand-aside-toggler--active'
                    });

                    if (aside.getState() === 'off') {
                        aside.toggle();
                    }

                } catch (e) {

                }
            };
            togglesidBar();
            function getcountryname(id, selector) {
                $.ajax({
                    url: '/content/js/JsonData/countries.json',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item.id == id) {
                                $("." + selector).text(item.name);
                            }
                        });
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            };

            function getStateame(id, selector) {
                $.ajax({
                    url: '/content/js/JsonData/states.json',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item.id == id) {
                                $("." + selector).text(item.name);
                            }
                        });
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            };

            function getCityname(id, selector) {
                $.ajax({
                    url: '/content/js/JsonData/cities.json',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item.id == id) {
                                $("." + selector).text(item.text);
                            }
                        });
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            }

            var Cityid = $("#lblcity").attr("myid");
            var selectorcity = "lblcity";
            getCityname(Cityid, selectorcity);

            var Stateid = $("#lblstate").attr("myid");
            var selectorstate = "lblstate";

            getStateame(Stateid, selectorstate);

            var Countryid = $("#lblcountry").attr("myid");
            var selectorcountry = "lblcountry";
            getcountryname(Countryid, selectorcountry);

        });
    </script>
}