﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@section title{
    <title>OBS :: Currencies</title>
}

@section Styles{

    <link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminIndexList.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/flagstyle.css" rel="stylesheet" />
    <style>

        .flag-text {
            margin-left: 10px;
        }
        .select2-container .select2-selection--single {
        
        height:40px;
        
        }
    </style>
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item kt-padding-l-20 kt-padding-r-20" id="kt_subheader">

    <div class="kt-subheader__main">

        <h3 class="kt-subheader__title"><i class="fas fa-dolly"></i>&nbsp;Currencies </h3>

        <span class="kt-subheader__separator kt-subheader__separator--v"></span>

        <div class="kt-subheader__group" id="kt_subheader_search">
            <span class="kt-subheader__desc" id="kt_subheader_total"><i class="fas fa-spin fa-spinner"></i> </span>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                <input type="text" class="form-control" placeholder="Search ..." id="general_search">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>

        </div>

        <div class="kt-subheader__group " id="kt_subheader_group_actions">
            <a href="#" data-id="0" data-toggle="modal" data-target="#AddBanar-model" class="btn btn-label-warning btn-bold btn-sm btn-icon-h kt-margin-l-10">
                Add New
            </a>

        </div>

    </div>

    <div class="kt-subheader__toolbar kt-subheader-order-summary">

        <div class="kt-subheader__group kt-margin-r-10 kt-desktop-view">

        </div>

        <a href="#" class="btn btn-bold btn-primary kt-hidden" id="filter-results"><i class="fas fa-filter"></i>&nbsp;<span class="label">Filter</span></a>
    </div>

</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg kt-hidden">
            <div class="kt-portlet__head-label">

            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions"></div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Datatable -->
            <div id="kt_table_1"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>

<div id="AddBanar-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add New Currency</h5>
            </div>

            <div class="modal-body" style="max-height:500px; overflow-y:auto; overflow-x:hidden">
                <form class="kt-form" action="" method="POST">
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label"> Name</label>
                        <div class="col-lg-9 col-xl-6">
                            <input class="form-control" id="Name" placeholder="Name" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label"> Short Name</label>
                        <div class="col-lg-9 col-xl-6">
                            <input class="form-control" id="ShortName" placeholder="ShortName" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label"> Sign</label>
                        <div class="col-lg-9 col-xl-6">
                            <input class="form-control" id="Sign" placeholder="Sign" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label"> RateToRiyal</label>
                        <div class="col-lg-9 col-xl-6">
                            <input class="form-control allow-float" id="RateToRiyal" placeholder="Rate To Riyal" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label"> Flag</label>
                        <div class="col-lg-9 col-xl-6">
                            <select name="country" id="country"></select>
                        </div>
                    </div>

               

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">
                        </label>
                        <div class="col-lg-9">
                            <label class="col-lg-3 col-form-label">
                                <input type="checkbox" class="checkbox-info" style="max-width:none !important;" id="IsMain" checked="checked" />
                                Is Main
                            </label>
                        </div>
                    </div>


                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-label-brand btn-bold ladda-button btn-sm" data-id="0" data-style="expand-left" id="update-user-link">Save</button>
                <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/plugins/ladda/ladda.min.js"></script>
    <script src="/content/js/pages/crud/file-upload/ktavatar.js" type="text/javascript"></script>
    <script src="~/Content/plugins/select2/select2.min.js"></script>
    <script>

        "use strict";

           function countrieslist()  {
            var isoCountries = [
                { id: 'AF', text: 'Afghanistan'},
                { id: 'AX', text: 'Aland Islands'},
                { id: 'AL', text: 'Albania'},
                { id: 'DZ', text: 'Algeria'},
                { id: 'AS', text: 'American Samoa'},
                { id: 'AD', text: 'Andorra'},
                { id: 'AO', text: 'Angola'},
                { id: 'AI', text: 'Anguilla'},
                { id: 'AQ', text: 'Antarctica'},
                { id: 'AG', text: 'Antigua And Barbuda'},
                { id: 'AR', text: 'Argentina'},
                { id: 'AM', text: 'Armenia'},
                { id: 'AW', text: 'Aruba'},
                { id: 'AU', text: 'Australia'},
                { id: 'AT', text: 'Austria'},
                { id: 'AZ', text: 'Azerbaijan'},
                { id: 'BS', text: 'Bahamas'},
                { id: 'BH', text: 'Bahrain'},
                { id: 'BD', text: 'Bangladesh'},
                { id: 'BB', text: 'Barbados'},
                { id: 'BY', text: 'Belarus'},
                { id: 'BE', text: 'Belgium'},
                { id: 'BZ', text: 'Belize'},
                { id: 'BJ', text: 'Benin'},
                { id: 'BM', text: 'Bermuda'},
                { id: 'BT', text: 'Bhutan'},
                { id: 'BO', text: 'Bolivia'},
                { id: 'BA', text: 'Bosnia And Herzegovina'},
                { id: 'BW', text: 'Botswana'},
                { id: 'BV', text: 'Bouvet Island'},
                { id: 'BR', text: 'Brazil'},
                { id: 'IO', text: 'British Indian Ocean Territory'},
                { id: 'BN', text: 'Brunei Darussalam'},
                { id: 'BG', text: 'Bulgaria'},
                { id: 'BF', text: 'Burkina Faso'},
                { id: 'BI', text: 'Burundi'},
                { id: 'KH', text: 'Cambodia'},
                { id: 'CM', text: 'Cameroon'},
                { id: 'CA', text: 'Canada'},
                { id: 'CV', text: 'Cape Verde'},
                { id: 'KY', text: 'Cayman Islands'},
                { id: 'CF', text: 'Central African Republic'},
                { id: 'TD', text: 'Chad'},
                { id: 'CL', text: 'Chile'},
                { id: 'CN', text: 'China'},
                { id: 'CX', text: 'Christmas Island'},
                { id: 'CC', text: 'Cocos (Keeling) Islands'},
                { id: 'CO', text: 'Colombia'},
                { id: 'KM', text: 'Comoros'},
                { id: 'CG', text: 'Congo'},
                { id: 'CD', text: 'Congo}, Democratic Republic'},
                { id: 'CK', text: 'Cook Islands'},
                { id: 'CR', text: 'Costa Rica'},
                { id: 'CI', text: 'Cote D\'Ivoire'},
                { id: 'HR', text: 'Croatia'},
                { id: 'CU', text: 'Cuba'},
                { id: 'CY', text: 'Cyprus'},
                { id: 'CZ', text: 'Czech Republic'},
                { id: 'DK', text: 'Denmark'},
                { id: 'DJ', text: 'Djibouti'},
                { id: 'DM', text: 'Dominica'},
                { id: 'DO', text: 'Dominican Republic'},
                { id: 'EC', text: 'Ecuador'},
                { id: 'EG', text: 'Egypt'},
                { id: 'SV', text: 'El Salvador'},
                { id: 'GQ', text: 'Equatorial Guinea'},
                { id: 'ER', text: 'Eritrea'},
                { id: 'EE', text: 'Estonia'},
                { id: 'ET', text: 'Ethiopia'},
                { id: 'FK', text: 'Falkland Islands (Malvinas)'},
                { id: 'FO', text: 'Faroe Islands'},
                { id: 'FJ', text: 'Fiji'},
                { id: 'FI', text: 'Finland'},
                { id: 'FR', text: 'France'},
                { id: 'GF', text: 'French Guiana'},
                { id: 'PF', text: 'French Polynesia'},
                { id: 'TF', text: 'French Southern Territories'},
                { id: 'GA', text: 'Gabon'},
                { id: 'GM', text: 'Gambia'},
                { id: 'GE', text: 'Georgia'},
                { id: 'DE', text: 'Germany'},
                { id: 'GH', text: 'Ghana'},
                { id: 'GI', text: 'Gibraltar'},
                { id: 'GR', text: 'Greece'},
                { id: 'GL', text: 'Greenland'},
                { id: 'GD', text: 'Grenada'},
                { id: 'GP', text: 'Guadeloupe'},
                { id: 'GU', text: 'Guam'},
                { id: 'GT', text: 'Guatemala'},
                { id: 'GG', text: 'Guernsey'},
                { id: 'GN', text: 'Guinea'},
                { id: 'GW', text: 'Guinea-Bissau'},
                { id: 'GY', text: 'Guyana'},
                { id: 'HT', text: 'Haiti'},
                { id: 'HM', text: 'Heard Island & Mcdonald Islands'},
                { id: 'VA', text: 'Holy See (Vatican City State)'},
                { id: 'HN', text: 'Honduras'},
                { id: 'HK', text: 'Hong Kong'},
                { id: 'HU', text: 'Hungary'},
                { id: 'IS', text: 'Iceland'},
                { id: 'IN', text: 'India'},
                { id: 'ID', text: 'Indonesia'},
                //{ id: 'IR', text: 'Iran}, Islamic Republic Of'},
                { id: 'IQ', text: 'Iraq'},
                { id: 'IE', text: 'Ireland'},
                { id: 'IM', text: 'Isle Of Man'},
               // { id: 'IL', text: 'Israel'},
                { id: 'IT', text: 'Italy'},
                { id: 'JM', text: 'Jamaica'},
                { id: 'JP', text: 'Japan'},
                { id: 'JE', text: 'Jersey'},
                { id: 'JO', text: 'Jordan'},
                { id: 'KZ', text: 'Kazakhstan'},
                { id: 'KE', text: 'Kenya'},
                { id: 'KI', text: 'Kiribati'},
                { id: 'KR', text: 'Korea'},
                { id: 'KW', text: 'Kuwait'},
                { id: 'KG', text: 'Kyrgyzstan'},
                { id: 'LA', text: 'Lao People\'s Democratic Republic'},
                { id: 'LV', text: 'Latvia'},
                { id: 'LB', text: 'Lebanon'},
                { id: 'LS', text: 'Lesotho'},
                { id: 'LR', text: 'Liberia'},
                { id: 'LY', text: 'Libyan Arab Jamahiriya'},
                { id: 'LI', text: 'Liechtenstein'},
                { id: 'LT', text: 'Lithuania'},
                { id: 'LU', text: 'Luxembourg'},
                { id: 'MO', text: 'Macao'},
                { id: 'MK', text: 'Macedonia'},
                { id: 'MG', text: 'Madagascar'},
                { id: 'MW', text: 'Malawi'},
                { id: 'MY', text: 'Malaysia'},
                { id: 'MV', text: 'Maldives'},
                { id: 'ML', text: 'Mali'},
                { id: 'MT', text: 'Malta'},
                { id: 'MH', text: 'Marshall Islands'},
                { id: 'MQ', text: 'Martinique'},
                { id: 'MR', text: 'Mauritania'},
                { id: 'MU', text: 'Mauritius'},
                { id: 'YT', text: 'Mayotte'},
                { id: 'MX', text: 'Mexico'},
                { id: 'FM', text: 'Micronesia}, Federated States Of'},
                { id: 'MD', text: 'Moldova'},
                { id: 'MC', text: 'Monaco'},
                { id: 'MN', text: 'Mongolia'},
                { id: 'ME', text: 'Montenegro'},
                { id: 'MS', text: 'Montserrat'},
                { id: 'MA', text: 'Morocco'},
                { id: 'MZ', text: 'Mozambique'},
                { id: 'MM', text: 'Myanmar'},
                { id: 'NA', text: 'Namibia'},
                { id: 'NR', text: 'Nauru'},
                { id: 'NP', text: 'Nepal'},
                { id: 'NL', text: 'Netherlands'},
                { id: 'AN', text: 'Netherlands Antilles'},
                { id: 'NC', text: 'New Caledonia'},
                { id: 'NZ', text: 'New Zealand'},
                { id: 'NI', text: 'Nicaragua'},
                { id: 'NE', text: 'Niger'},
                { id: 'NG', text: 'Nigeria'},
                { id: 'NU', text: 'Niue'},
                { id: 'NF', text: 'Norfolk Island'},
                { id: 'MP', text: 'Northern Mariana Islands'},
                { id: 'NO', text: 'Norway'},
                { id: 'OM', text: 'Oman'},
                { id: 'PK', text: 'Pakistan'},
                { id: 'PW', text: 'Palau'},
                { id: 'PS', text: 'Palestinian Territory}, Occupied'},
                { id: 'PA', text: 'Panama'},
                { id: 'PG', text: 'Papua New Guinea'},
                { id: 'PY', text: 'Paraguay'},
                { id: 'PE', text: 'Peru'},
                { id: 'PH', text: 'Philippines'},
                { id: 'PN', text: 'Pitcairn'},
                { id: 'PL', text: 'Poland'},
                { id: 'PT', text: 'Portugal'},
                { id: 'PR', text: 'Puerto Rico'},
                { id: 'QA', text: 'Qatar'},
                { id: 'RE', text: 'Reunion'},
                { id: 'RO', text: 'Romania'},
                { id: 'RU', text: 'Russian Federation'},
                { id: 'RW', text: 'Rwanda'},
                { id: 'BL', text: 'Saint Barthelemy'},
                { id: 'SH', text: 'Saint Helena'},
                { id: 'KN', text: 'Saint Kitts And Nevis'},
                { id: 'LC', text: 'Saint Lucia'},
                { id: 'MF', text: 'Saint Martin'},
                { id: 'PM', text: 'Saint Pierre And Miquelon'},
                { id: 'VC', text: 'Saint Vincent And Grenadines'},
                { id: 'WS', text: 'Samoa'},
                { id: 'SM', text: 'San Marino'},
                { id: 'ST', text: 'Sao Tome And Principe'},
                { id: 'SA', text: 'Saudi Arabia'},
                { id: 'SN', text: 'Senegal'},
                { id: 'RS', text: 'Serbia'},
                { id: 'SC', text: 'Seychelles'},
                { id: 'SL', text: 'Sierra Leone'},
                { id: 'SG', text: 'Singapore'},
                { id: 'SK', text: 'Slovakia'},
                { id: 'SI', text: 'Slovenia'},
                { id: 'SB', text: 'Solomon Islands'},
                { id: 'SO', text: 'Somalia'},
                { id: 'ZA', text: 'South Africa'},
                { id: 'GS', text: 'South Georgia And Sandwich Isl.'},
                { id: 'ES', text: 'Spain'},
                { id: 'LK', text: 'Sri Lanka'},
                { id: 'SD', text: 'Sudan'},
                { id: 'SR', text: 'Suriname'},
                { id: 'SJ', text: 'Svalbard And Jan Mayen'},
                { id: 'SZ', text: 'Swaziland'},
                { id: 'SE', text: 'Sweden'},
                { id: 'CH', text: 'Switzerland'},
                { id: 'SY', text: 'Syrian Arab Republic'},
                { id: 'TW', text: 'Taiwan'},
                { id: 'TJ', text: 'Tajikistan'},
                { id: 'TZ', text: 'Tanzania'},
                { id: 'TH', text: 'Thailand'},
                { id: 'TL', text: 'Timor-Leste'},
                { id: 'TG', text: 'Togo'},
                { id: 'TK', text: 'Tokelau'},
                { id: 'TO', text: 'Tonga'},
                { id: 'TT', text: 'Trinidad And Tobago'},
                { id: 'TN', text: 'Tunisia'},
                { id: 'TR', text: 'Turkey'},
                { id: 'TM', text: 'Turkmenistan'},
                { id: 'TC', text: 'Turks And Caicos Islands'},
                { id: 'TV', text: 'Tuvalu'},
                { id: 'UG', text: 'Uganda'},
                { id: 'UA', text: 'Ukraine'},
                { id: 'AE', text: 'United Arab Emirates'},
                { id: 'GB', text: 'United Kingdom'},
                { id: 'US', text: 'United States'},
                { id: 'UM', text: 'United States Outlying Islands'},
                { id: 'UY', text: 'Uruguay'},
                { id: 'UZ', text: 'Uzbekistan'},
                { id: 'VU', text: 'Vanuatu'},
                { id: 'VE', text: 'Venezuela'},
                { id: 'VN', text: 'Viet Nam'},
                { id: 'VG', text: 'Virgin Islands, British'},
                { id: 'VI', text: 'Virgin Islands, U.S.'},
                { id: 'WF', text: 'Wallis And Futuna'},
                { id: 'EH', text: 'Western Sahara'},
                { id: 'YE', text: 'Yemen'},
                { id: 'ZM', text: 'Zambia'},
                { id: 'ZW', text: 'Zimbabwe'}         
            ];

            function formatCountry (country) {
              if (!country.id) { return country.text; }
              var $country = $(
                '<span class="flag-icon flag-icon-'+ country.id.toLowerCase() +' flag-icon-squared"></span>' +
                '<span class="flag-text">'+ country.text+"</span>"
              );
              return $country;
            };

            //Assuming you have a select element with name country
            // e.g. <select name="name"></select>
               console.log(isoCountries);
            $("[name='country']").select2({
                placeholder: "Select a country",
				templateResult: formatCountry,
                data: isoCountries
            });


        };
          var floatNumber = function () {
            $(document).on('keypress', '.allow-float', function (e) {

                if ($(this).val().toString().indexOf(".") !== -1 && e.which === 46) return false;

                if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                    return false;
                }

            });
        }
        var datatable;
        var timer;

        var KTDatatablesDataSourceAjaxServer = function () {

            var togglesidBar = function () {
                // toggle left side menu if it state is off (open)
                try {

                    var aside = new KTToggle('kt_aside_toggler', {
                        target: 'body',
                        targetState: 'kt-aside--minimize',
                        togglerState: 'kt-aside__brand-aside-toggler--active'
                    });

                    if (aside.getState() === 'off') {
                        aside.toggle();
                    }

                } catch (e) {

                }
            };

            var initializeKtDataTable = function () {

                datatable = $('#kt_table_1').KTDatatable({

                    // datasource definition
                    data: {
                        type: 'remote',
                        source: {
                            read: {
                                url: '@Url.Action("AjaxDT","Currency",new { area="Admin"})',
                                method: 'GET',
                                map: function (raw) {
                                    $("#kt_subheader_total").html("<span class='kt-font-brand'>" + raw.meta.total + "  Currency </span>");
                                    KTApp.unblock('.kt-container');

                                    return raw.data;
                                }
                            },
                        },
                        pageSize: 10,
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true,
                        deferLoading: 0, // here
                    },

                    // layout definition
                    layout: {
                        scroll: false,
                        footer: false
                    },
                    // column sorting
                    sortable: true,
			        /*search: {
                        input: $('#generalSearch'),
                    },*/
                    pagination: true,

                    // columns definition
                    columns: [


                        //{
                        //    field: 'cbx',
                        //    title: '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input class="checkall" type="checkbox">&nbsp;<span></span></label>',
                        //    sortable: false,
                        //    type: 'number',
                        //    width: 20,
                        //    autoHide: false,
                        //    template: function (row) {
                        //        return '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input value="' + row.Id + '" class="checkbox-item" type="checkbox">&nbsp;<span></span></label>';
                        //    }

                       // },
                        {
                            field: 'Name',
                            title: 'Name',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.Name + '</span>'
                            }
                        },
                             {
                            field: 'ShortName',
                            title: 'ShortName',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.ShortName + '</span>'
                            }
                        },
                                    {
                            field: 'Sign',
                            title: 'Sign',
                            width: 50,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.Sign + '</span>'
                            }
                        },

                        {
                            field: 'Flag',
                            title: 'Flag',
                            width: 50,
                            template: function (row) {
                                if (row.Flag != null)
                                    return '<div class="kt-widget5__pic"><span class="flag-icon flag-icon-'+ row.Flag.toLowerCase() +' flag-icon-squared"></span></div>';
                                return '';
                            }
                        },



                        {
                            field: 'IsMain',
                            title: 'Is Main',
                            width: 100,
                            template: function (row) {

                                return '<a href="#" class="kt-underline_hover" > <span class="kt-badge kt-badge--' + getUserStatusColor(row.IsMain) + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + getUserStatusColor(row.IsMain) + '">' + row.IsMain + '</span></a>';
                            }
                        },


                        {
                            field: 'LastUpdate',
                            title: 'Last Update',
                            width: 100,
                            template: function (row) {

                                   return moment(row.LastUpdate).format('DD/MM/YYYY');
                            }
                        },

                        {
                            field: '',
                            title: 'Actions',
                            width: 50,
                            sortable: false,
                            autoHide: false,
                            template: function (row) {
                                return '<div class="dropdown"><a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md" aria-expanded="false"><i class="flaticon-more-1"></i></a><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"><ul class="kt-nav kt-padding-t-0 kt-padding-b-0"><li class="kt-nav__item"><a data-id="' + row.Id + '" data-toggle="modal" data-target="#AddBanar-model" class="kt-nav__link"><i class="kt-nav__link-icon fa fa-edit"></i><span class="kt-nav__link-text">Update</span></a></li><li class="kt-nav__item"> <li class="kt-nav__item"><a data-id="' + row.Id + '"  class="kt-nav__link btndelete"><i class="kt-nav__link-icon fa fa-trash"></i><span class="kt-nav__link-text">Delete</span></a></li></ul></div></div>';
                            }
                        }
                    ]
                });

                datatable.sort("Id", "desc");

                datatable.on("kt-datatable--on-ajax-done", function (e) {

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
                    }

                });

                datatable.on("kt-datatable--on-layout-updated", function (e) {
                    $('#kt_table_1 .select2').select2();

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
                    }
                });

            };
            var getUserStatusColor = function (confirem) {


                let className = 'danger';
                if (confirem)
                    className = 'success';

                return className;
            }

            var reloadDatatable = function (key, value, datatable) {

                let query = datatable.getDataSourceQuery();

                $.each(key, function (i) {
                    query[key[i]] = value[i];
                });

                datatable.setDataSourceQuery(query);
                datatable.reload();

                KTApp.block('.kt-datatable', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

            };
            var generalSearch = function () {

                $('#general_search').on('keyup', function () {

                    clearTimeout(timer);

                    var val = $(this).val();
                    timer = setTimeout(function () {
                        reloadDatatable(['query'], [val], datatable);
                    }, 1000);

                });

            };

            var LoadRole = function (Id) {

                $.get('@Url.Action("BanarData", "Currency")', { Id: Id }, function (data) {

                    $('#Id').val(Id);
                    $('#Name').val(data.Name);
                    $('#ShortName').val(data.ShortName);
                    $('#Sign').val(data.Sign);
                    $('#RateToRiyal').val(data.RateToRiyal);
                    $('#IsMain').prop('checked', data.IsMain);
                    $('#country').val(data.Flag);
                    $('#country').change();
                    //if (data.Photo) {
                    //    $("#kt-avatar-holder").css("background-image", "url(/Content/uploaddata/UploadImages/CurrencyFlags/" + data.Flag + ")");
                    //}
                });
            }

            var rolemodel = function () {

                $('#update-user-link').on('click', function (e) {
                    e.preventDefault();

                    var l = Ladda.create(this);
                    //var Id = this.dataset.Id;
                    //var Title = $('#Title').val();
                    //var IsActive = $('#IsActive').prop('checked');
                    //var IsMain=$('#IsMain').prop('checked');
                    var formdata = new FormData(); //FormData object

                   // var fileInput = document.getElementById('Image');
                  ///  var Flag = $("#country").val();
                    //if (fileInput.files.length > 0) {
                    //    formdata.append(fileInput.files[0].name, fileInput.files[0]);
                    //}

                    formdata.append("Id", this.dataset.id);
                    formdata.append("Name", $('#Name').val());
                    formdata.append("ShortName", $('#ShortName').val());
                    formdata.append("Sign", $('#Sign').val());
                    formdata.append("RateToRiyal", $('#RateToRiyal').val());
                     formdata.append("Flag", $('#country').val());
                    formdata.append("IsMain", $('#IsMain').prop("checked"));
                    console.log(formdata);

                    l.start();

                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '@Url.Action("SaveCurrency", "Currency")');
                    xhr.send(formdata);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            toastr.options = {
                                "closeButton": false,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };


                            var data = JSON.parse(xhr.responseText);
                            if (data.status == 1) {
                                toastr.success("Currency has been Added successfully");


                                $('#AddBanar-model').modal('hide');



                                datatable.reload();
                            }
                            else {
                                toastr.error(data.msg);
                            }
                        }
                    }





                    l.stop();

                    // });

                });

                $('#AddBanar-model').on('hidden.bs.modal', function (e) {

                    $('#Name').val("");
                    $('#ShortName').val("");
                    $('#Sign').val("");
                    $('#RateToRiyal').val("");
                    $('#IsMain').prop("checked", false);
                    $('#country').val("");
                });

                $('#AddBanar-model').on('show.bs.modal', function (e) {

                    KTApp.block('#links-container', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });
                    console.log("test");
                    let id = e.relatedTarget.dataset.id;

                    $('#update-user-link')[0].dataset.id = id;

                    LoadRole(id)
                });


            }
            var deleterole = function () {

                $(document).on('click', '.btndelete', function (e) {

                    e.preventDefault();

                    var l = Ladda.create(this);
                    var Id = this.dataset.id;
                    console.log(this.dataset);
                    var result = confirm("Confirm Deleted ?");
                    if (result) {
                        l.start();
                        $.post('@Url.Action("Deletebanar", "AdvertismentBaner")', { id: Id }, function (data) {

                            toastr.options = {
                                "closeButton": false,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };
                            if (data.status == 1) {
                                toastr.success("Banar has been Deleted successfully");
                                datatable.reload();
                            }
                            else {
                                toastr.error(data.msg);
                            }

                            l.stop();


                        });

                    }
                });
            }
          




            return {
		        //main function to initiate the module
                init: function () {
                    togglesidBar();
                    initializeKtDataTable();
                    getUserStatusColor();
                    generalSearch();
                    rolemodel();
                    deleterole();
                    //RunRoleStatus();
		        }
            };

        }();

        jQuery(document).ready(function() {
            KTDatatablesDataSourceAjaxServer.init();
            floatNumber();
            countrieslist();
        });




    </script>
}


