﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@section title{
    <title>OBS :: Schedules of Admin</title>
}

@section Styles{

    <link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminIndexList.css" rel="stylesheet" />

    <style>
    </style>
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item kt-padding-l-20 kt-padding-r-20" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"><i class="fas fa-dolly"></i>&nbsp;Admin Schedules</h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__group" id="kt_subheader_search">
            <span class="kt-subheader__desc" id="kt_subheader_total"><i class="fas fa-spin fa-spinner"></i> </span>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                <input type="text" class="form-control" placeholder="Search ..." id="general_search">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
        </div>
        <div class="kt-subheader__group " id="kt_subheader_group_actions">
            <a href="#" data-id="0" data-toggle="modal" data-target="#AddAdminSchedules-model" class="btn btn-label-warning btn-bold btn-sm btn-icon-h kt-margin-l-10">
                Add New
            </a>
        </div>
    </div>
    <div class="kt-subheader__toolbar kt-subheader-order-summary">
        <div class="kt-subheader__group kt-margin-r-10 kt-desktop-view">
        </div>
        <a href="#" class="btn btn-bold btn-primary kt-hidden" id="filter-results"><i class="fas fa-filter"></i>&nbsp;<span class="label">Filter</span></a>
    </div>

</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg kt-hidden">
            <div class="kt-portlet__head-label">
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions"></div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Datatable -->
            <div id="kt_table_1"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>

<div id="AddAdminSchedules-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add New Admin Schedule</h5>
            </div>

            <div class="modal-body" style="max-height:500px; overflow-y:auto; overflow-x:hidden">
                <form class="kt-form" action="" method="POST">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Scheduler Time</label>
                        <div class="col-lg-9">
                            <input class="form-control" id="SchedulerTime" placeholder="Select time" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">As Of Updated</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="AsOfUpdated" placeholder="Select date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Updated By</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="UpdatedBy" value="@(User.IsInRole("Admin")?"Win":User.Identity.Name)" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Email Ids</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="EmailIds" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Report Id</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="ReportId" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">
                        </label>
                        <div class="col-lg-9">
                            <label class="col-lg-3 col-form-label">
                                <input type="checkbox" class="checkbox-info" style="max-width:none !important;" id="IsActive" checked="checked" />
                                Is Active
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Frequency</label>
                        <div class="col-lg-9 col-xl-6">
                            <select id="Frequency" data-live-search="true" class="form-control kt-selectpicker" title="Frequency">
                                <option value="0">Minutely</option>
                                <option value="1">Hourly</option>
                                <option value="2">Daily</option>
                                <option value="3">Weekly</option>
                                <option value="4">Monthly</option>
                                <option value="5">Quaterly</option>
                                <option value="6">Yearly</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Hint / <small> sent report will be like :</small></label>
                        <div class="col-lg-9 col-xl-6 " style="padding-top:9px">
                            <small>
                                Number of Users Created: ?? <br />
                                Number of Created Product: ??<br />
                                Number of Product Approvals from WIN Admin: ??<br />
                                Number of Product Rejections from WIN Admin: ??<br />
                                Number of Closed Product: ??
                            </small>

                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-label-brand btn-bold ladda-button btn-sm" data-JobSchedulerId="0" data-style="expand-left" id="update-user-link">Save</button>
                <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/plugins/ladda/ladda.min.js"></script>
    <script src="/content/js/pages/crud/file-upload/ktavatar.js" type="text/javascript"></script>
    <script src="~/Content/js/pages/crud/forms/widgets/bootstrap-select.js" type="text/javascript"></script>
    <script src="~/Content/js/pages/crud/forms/widgets/bootstrap-timepicker.js" type="text/javascript"></script>
    <script src="~/Content/js/pages/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>

    <script>

        "use strict";
        var datatable;
        var timer;

        var KTDatatablesDataSourceAjaxServer = function () {

            var togglesidBar = function () {
                // toggle left side menu if it state is off (open)
                try {

                    var aside = new KTToggle('kt_aside_toggler', {
                        target: 'body',
                        targetState: 'kt-aside--minimize',
                        togglerState: 'kt-aside__brand-aside-toggler--active'
                    });

                    if (aside.getState() === 'off') {
                        aside.toggle();
                    }

                } catch (e) {

                }
            };

            var initializeKtDataTable = function () {

                datatable = $('#kt_table_1').KTDatatable({

                    // datasource definition
                    data: {
                        type: 'remote',
                        source: {
                            read: {
                                url: '@Url.Action("AjaxDT","Schedule",new { area="Admin"})',
                                method: 'GET',
                                map: function (raw) {
                                    $("#kt_subheader_total").html("<span class='kt-font-brand'>" + raw.meta.total + " Roles </span>");
                                    KTApp.unblock('.kt-container');

                                    return raw.data;
                                }
                            },
                        },
                        pageSize: 10,
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true,
                        deferLoading: 0, // here
                    },

                    // layout definition
                    layout: {
                        scroll: false,
                        footer: false
                    },
                    // column sorting
                    sortable: true,
			        /*search: {
                        input: $('#generalSearch'),
                    },*/
                    pagination: true,

                    // columns definition
                    columns: [


                        {
                            field: 'cbx',
                            title: '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input class="checkall" type="checkbox">&nbsp;<span></span></label>',
                            sortable: false,
                            type: 'number',
                            width: 20,
                            autoHide: false,
                            template: function (row) {
                                return '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input value="' + row.JobSchedulerId + '" class="checkbox-item" type="checkbox">&nbsp;<span></span></label>';
                            }

                        },
                        {
                            field: 'JobSchedulerId',
                            title: 'Schedule Id',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.JobSchedulerId + '</span>'
                            }
                        },
                        {
                            field: 'SchedulerTime',
                            title: 'Time',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.SchedulerTime + '</span>'
                            }
                        },
                        {
                            field: 'AsOfUpdated',
                            title: 'Last Update',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.AsOfUpdated + '</span>'
                            }
                        },
                        {
                            field: 'UpdatedBy',
                            title: 'Updated By',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.UpdatedBy + '</span>'
                            }
                        },
                        {
                            field: 'EmailIds',
                            title: 'to-Ids',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.EmailIds + '</span>'
                            }
                        },


                        {
                            field: 'IsActive',
                            title: 'Image',
                            width: 50,
                            template: function (row) {
                                var checked = '';
                                if (row.IsActive == true) {
                                    checked = 'checked';
                                }
                                    return '<a href="#" class="kt-underline_hover" > <span class="kt-badge kt-badge--' + getUserStatusColor(row.IsActive) + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + getUserStatusColor(row.IsActive) + '">' + row.IsActive + '</span></a>';
                                return '';
                            }
                        },
                        {
                            field: 'ReportId',
                            title: 'Repor tId',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.ReportId + '</span>'
                            }
                        },
                        {
                            field: '',
                            title: 'Actions',
                            width: 50,
                            sortable: false,
                            autoHide: false,
                            template: function (row) {
                                return '<div class="dropdown"><a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md" aria-expanded="false"><i class="flaticon-more-1"></i></a><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"><ul class="kt-nav kt-padding-t-0 kt-padding-b-0"><li class="kt-nav__item"><a data-id="' + row.JobSchedulerId + '" data-toggle="modal" data-target="#AddAdminSchedules-model" class="kt-nav__link"><i class="kt-nav__link-icon fa fa-edit"></i><span class="kt-nav__link-text">Update</span></a></li><li class="kt-nav__item"><li class="kt-nav__item"><a data-id="' + row.JobSchedulerId + '"  class="kt-nav__link btndelete"><i class="kt-nav__link-icon fa fa-trash"></i><span class="kt-nav__link-text">Delete</span></a></li></ul></div></div>';
                                //<a data-id="' + row.JobSchedulerId + '" class="kt-nav__link btnrun"><i class="kt-nav__link-icon fa fa-play"></i><span class="kt-nav__link-text">Run</span></a></li> 
                            }
                        }
                    ]
                });

                datatable.sort("JobSchedulerId", "desc");

                datatable.on("kt-datatable--on-ajax-done", function (e) {

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
                    }

                });

                datatable.on("kt-datatable--on-layout-updated", function (e) {
                    $('#kt_table_1 .select2').select2();

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
                    }
                });

            };
            var getUserStatusColor = function (confirem) {


                let className = 'danger';
                if (confirem)
                    className = 'success';

                return className;
            }

            var reloadDatatable = function (key, value, datatable) {

                let query = datatable.getDataSourceQuery();

                $.each(key, function (i) {
                    query[key[i]] = value[i];
                });

                datatable.setDataSourceQuery(query);
                datatable.reload();

                KTApp.block('.kt-datatable', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

            };
            var generalSearch = function () {

                $('#general_search').on('keyup', function () {

                    clearTimeout(timer);

                    var val = $(this).val();
                    timer = setTimeout(function () {
                        reloadDatatable(['query'], [val], datatable);
                    }, 1000);

                });

            };

            var LoadSchedule = function (JobSchedulerId) {

                $.get('@Url.Action("SchedulerData", "Schedule")', { JobSchedulerId: JobSchedulerId }, function (data) {
                    var time = (data.SchedulerTime.Hours < 12 ? data.SchedulerTime.Hours : data.SchedulerTime.Hours - 12) + ':' + data.SchedulerTime.Minutes + (data.SchedulerTime.Hours < 12 ? ' AM' : ' PM');
                    $('#SchedulerTime').val(time);
                    var date = new Date(parseInt(data.AsOfUpdated.replace("/Date(", "").replace(")/", ""), 10));
                    var AsOfUpdated = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
                    $('#AsOfUpdated').val(AsOfUpdated);
                    $('#UpdatedBy').val(data.UpdatedBy);
                    $('#EmailIds').val(data.EmailIds);
                    $('#ReportId').val(data.ReportId);
                    $('#IsActive').val(data.IsActive);
                    //$('#Frequency').val(data.Frequency);
                    $('#Frequency').selectpicker('val', data.Frequency)
                });
            }

            var schedulemodel = function () {

                $('#update-user-link').on('click', function (e) {
                    e.preventDefault();

                    var l = Ladda.create(this);
                    var JobSchedulerId = this.dataset.JobSchedulerId;
                    var SchedulerTime = $('#SchedulerTime').val();
                    var AsOfUpdated = $('#AsOfUpdated').val();
                    var UpdatedBy = $('#UpdatedBy').val();
                    var EmailIds = $('#EmailIds').val();
                    var ReportId = $('#ReportId').val();
                    var IsActive = $('#IsActive').prop("checked");                    
                    var Frequency = $('#Frequency').val();

                    var formdata = new FormData(); //FormData object

                    formdata.append("JobSchedulerId", this.dataset.JobSchedulerId);
                    formdata.append("SchedulerTime", $('#SchedulerTime').val());
                    formdata.append("AsOfUpdated", $('#AsOfUpdated').val());
                    formdata.append("UpdatedBy", $('#UpdatedBy').val());
                    formdata.append("EmailIds", $('#EmailIds').val());
                    formdata.append("ReportId", $('#ReportId').val());
                    formdata.append("IsActive", $('#IsActive').prop("checked"));
                    formdata.append("Frequency", $('#Frequency').val());
                    console.log(formdata);

                    l.start();
                    //{roleid:roleid, CategoryID : CategoryID, DisciplineID : DisciplineID,CommodityID:CommodityID,SubCommodityID:SubCommodityID}


                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '@Url.Action("SaveScheduler", "Schedule")');
                    xhr.send(formdata);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            toastr.options = {
                                "closeButton": false,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };


                            var data = JSON.parse(xhr.responseText);
                            if (data.status == 1) {
                                toastr.success("Scheduler has been Added successfully");


                                $('#AddAdminSchedules-model').modal('hide');



                                datatable.reload();
                            }
                            else {
                                toastr.error(data.msg);
                            }
                        }
                    }
                    @*$.post('@Url.Action("SaveRole", "TypicalImageMapping")', {data:formdata} , function (data) {*@




                    l.stop();

                    // });

                });

                $('#AddAdminSchedules-model').on('hidden.bs.modal', function (e) {
                    
                    $('#SchedulerTime').val("");
                    $('#AsOfUpdated').val("");
                    $('#UpdatedBy').val("");
                    $('#EmailIds').val("");
                    $('#ReportId').val("");
                    $('#IsActive').prop(checked, false);
                    $('#Frequency').selectpicker('value', '0');
                });

                $('#AddAdminSchedules-model').on('show.bs.modal', function (e) {

                    KTApp.block('#links-container', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

                    let JobSchedulerId = e.relatedTarget.dataset.id;

                    $('#update-user-link')[0].dataset.JobSchedulerId = JobSchedulerId;

                    LoadSchedule(JobSchedulerId)
                });


            }
            var deletescheduler = function () {

                $(document).on('click', '.btndelete', function (e) {

                    e.preventDefault();

                    var l = Ladda.create(this);
                    var JobSchedulerId = this.dataset.id;

                    var result = confirm("Confirm Deleted ?");
                    if (result) {
                        l.start();
                        $.post('@Url.Action("DeleteScheduler", "Schedule")', { id: JobSchedulerId }, function (data) {

                            toastr.options = {
                                "closeButton": false,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };
                            if (data.status == 1) {
                                toastr.success("Scheduler has been Deleted successfully");
                                datatable.reload();
                            }
                            else {
                                toastr.error(data.msg);
                            }

                            l.stop();


                        });

                    }
                });
            }
            return {
		        //main function to initiate the module
                init: function () {
                    togglesidBar();
                    initializeKtDataTable();
                    getUserStatusColor();
                    generalSearch();
                    schedulemodel();
                    deletescheduler();
		        }
            };

        }();

        jQuery(document).ready(function() {
	        KTDatatablesDataSourceAjaxServer.init();
        });
        $('#AsOfUpdated').datepicker({
            rtl: KTUtil.isRTL(),
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            orientation: "bottom left",
            templates: {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            }
        });
        $('#SchedulerTime').timepicker();
    </script>
}
