﻿
@{
    ViewBag.Title = "SchedulesAdmin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- begin:: Content Head -->
<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Schedules of Admin</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
                <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Admin Schedules
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <select class="form-control kt-selectpicker" data-live-search="true" title="Select the frequency of the scedule">
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Quadratically</option>
                    <option>Monthly</option>
                </select>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Schedule ID</th>
                            <th>Time</th>
                            <th>Last Update</th>
                            <th>Updated By</th>
                            <th>to - Ids</th>
                            <th>Is Active</th>
                            <th>Report ID</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>23:55:00</td>
                            <td>2/15/2019</td>
                            <td>WIN</td>
                            <td>info@win.com.sa</td>
                            <td>
                                <span style="width: 100px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-success">Active</span></span>
                            </td>
                            <td>12</td>
                            <td>
                                <span class="dropdown">
                                    <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="false">
                                        <i class="la la-ellipsis-h"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                        <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit</a>
                                        <a class="dropdown-item" href="#"><i class="la la-share-alt"></i> Update Status</a>
                                        <a class="dropdown-item" href="#"><i class="la la-info-circle"></i> Report</a>
                                    </div>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>23:55:00</td>
                            <td>2/15/2019</td>
                            <td>WIN</td>
                            <td>info@win.com.sa</td>
                            <td>
                                <span style="width: 100px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-danger">InActive</span></span>
                            </td>
                            <td>12</td>
                            <td>
                                <span class="dropdown">
                                    <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="false">
                                        <i class="la la-ellipsis-h"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                        <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit</a>
                                        <a class="dropdown-item" href="#"><i class="la la-share-alt"></i> Update Status</a>
                                        <a class="dropdown-item" href="#"><i class="la la-info-circle"></i> Report</a>
                                    </div>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>23:55:00</td>
                            <td>2/15/2019</td>
                            <td>WIN</td>
                            <td>info@win.com.sa</td>
                            <td>
                                <span style="width: 100px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-success">Active</span></span>
                            </td>
                            <td>12</td>
                            <td>
                                <span class="dropdown">
                                    <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="false">
                                        <i class="la la-ellipsis-h"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                        <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit</a>
                                        <a class="dropdown-item" href="#"><i class="la la-share-alt"></i> Update Status</a>
                                        <a class="dropdown-item" href="#"><i class="la la-info-circle"></i> Report</a>
                                    </div>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>23:55:00</td>
                            <td>2/15/2019</td>
                            <td>WIN</td>
                            <td>info@win.com.sa</td>
                            <td>
                                <span style="width: 100px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-danger">InActive</span></span>
                            </td>
                            <td>12</td>
                            <td>
                                <span class="dropdown">
                                    <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="false">
                                        <i class="la la-ellipsis-h"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                        <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit</a>
                                        <a class="dropdown-item" href="#"><i class="la la-share-alt"></i> Update Status</a>
                                        <a class="dropdown-item" href="#"><i class="la la-info-circle"></i> Report</a>
                                    </div>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Admin Reports
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <select class="form-control kt-selectpicker" data-live-search="true" title="Select the frequency of the report">
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Quadratically</option>
                    <option>Monthly</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="kt-form">
                        <div class="form-group">
                            <label>Number of Users</label>
                            <input type="text" class="form-control" value="15" disabled />
                        </div>
                        <div class="form-group">
                            <label>Number of Products</label>
                            <input type="text" class="form-control" value="1546" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- end:: Content -->
