﻿@model   OBSBidDetailViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Finance/Views/Shared/FinanceLayout.cshtml";
    var counter = 0;
   
}
@section    Styles{
    <link href="/Content/css/pages/invoices/invoice-2.css" rel="stylesheet" type="text/css" />
    <style>
        .kt-display-block {
            display: block;
            width: 100%;
        }

        .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item {
            width: 100%;
        }

            .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-text {
                padding: 0.35rem 0 0 2rem;
                width: calc(71%);
            }


            .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-time {
                position: unset;
                width: 25%;
            }

            .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-cricle {
                left: unset;
                width: 24px;
            }

        .kt-timeline-v2:before {
            left: calc(25% + 8px);
        }


        .checkpadding {
        float:right;
        padding:0 2px;
        }

          .timespadding {
        float:right;
        margin-right:3px;
        padding:0 4px;
        }
    </style>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">

                <h3 class="kt-subheader__title"><i class="fas fa-dolly"></i>&nbsp;Customer BIDs</h3>

                <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                <h3 class="kt-subheader__title">BID-@Model.BidId.ToString("000")</h3>

                <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                <h3 class="kt-subheader__title kt-text-light">Details</h3>



            </div>
            <div class="kt-subheader__toolbar">

            </div>
        </div>
    </div>

    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">


        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9" style="display:flex">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Bid Summary
                            </h3>
                        </div>

                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-actions">


                                @*<a href="#" id="resendEmail" data-orderid="$orderId" class="btn btn-label-brand btn-bold"><i class="fas fa-mail-bulk"></i>&nbsp;Resend Email</a>


                            <a href="#" id="updateCustomerEmail" class="btn btn-label-brand btn-bold edit-btn"><i class="la la-edit"></i>&nbsp;Update Email</a>
                            <a href="#" id="editOrderInformation" class="btn btn-label-brand btn-bold edit-btn kt-hidden"><i class="la la-edit"></i>&nbsp;Edit</a>
                            <a href="#" id="saveOrderInformation" class="btn btn-label-success btn-bold update-btn kt-hidden btn-success ladda-button" data-style="expand-left"><i class="la la-save"></i>&nbsp;Update</a>
                            <a href="#" id="cancelOrderInformation" class="btn btn-label-danger btn-bold cancel-btn kt-hidden"><i class="la la-times"></i>&nbsp;Cancel</a>*@
                            </div>
                        </div>

                    </div>
                    <div class="kt-portlet__body">

                        <form class="kt-form" action="" method="POST" id="order-form">

                            <div class="row">


                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>BID Number</label>
                                        <input type="text" class="form-control" id="orderNumber" placeholder="order number" disabled="disabled" value="BID-@Model.BidId.ToString("000")" required />
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>BID Date</label>
                                        <input type="text" class="form-control date-picker" id="orderDate" placeholder="order date" disabled="disabled" value="@Model.AddedOn.ToString("dd/MM/yyyy")" required />
                                    </div>
                                </div>



                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Bid Status</label>
                                        <input type="text" class="form-control capitalize" id="orderStatus" placeholder="order status" disabled="disabled" value="@Model.Status.Name.Replace("Request","Bid").Replace("Order","Bid")" />

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Need Inspection</label>
                                        <input type="text" class="form-control capitalize" id="orderStatus" placeholder="order status" disabled="disabled" value="@(Model.NeedInspection!=true?"No":"Yes")" />

                                    </div>
                                </div>
                   



                            </div>

                            <div class="row">
                                <div class="col">
                                    <h3 class="customer-title kt-padding-b-10 kt-margin-b-20">Customer Information</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Full Name</label>
                                        <input type="text" class="form-control" placeholder="Full name" disabled="disabled" value="@Model.AspNetUser.FullName" required />
                                    </div>
                                </div>


                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <input type="text" class="form-control" id="phone" placeholder="Phone" disabled="disabled" value="@Model.AspNetUser.PhoneNumber" />
                                    </div>
                                </div>


                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <input type="email" class="form-control" id="email" placeholder="client email address" disabled="disabled" value="@Model.AspNetUser.Email" />
                                    </div>
                                </div>
                                
                            </div>

                        </form>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3" style="display:flex">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Payment Summary
                            </h3>
                        </div>

                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-actions">
                               
                                
                                


                            </div>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div class="form-group">
                            <label> Bid Value</label>
                            <label class="capitalize kt-display-block kt-font-info"> @(Convert.ToDouble(Model.BidPrice).ToString("0.00")) SAR </label>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.PaymentRceiptCopy))
                        {
                            <div class="form-group">
                                <a href="#" id="btn_approved_payment_recipt" data-approvedvalue="true" class="btn_approved_payment_recipt btn-font-sm btn-success checkpadding"> <i class="fa fa-check"></i></a>  <a href="#" data-approvedvalue="false" class="btn_approved_payment_recipt btn-font-sm btn-danger timespadding" id="btn_refuse_payment_recipt"> <i class="fa fa-times"></i></a>
                                <label> Recipt Copy Details   </label>

                                <label class="capitalize kt-display-block kt-font-info"> Time : @Model.PaymentRceiptCopyTime  </label>

                                <label><a class="capitalize kt-display-block kt-font-@(Model.ApprovedPaymentReciptCopy != null &&Model.ApprovedPaymentReciptCopy == true?"success":Model.ApprovedPaymentReciptCopy != null &&Model.ApprovedPaymentReciptCopy ==false?"danger":"brand")" target="_blank" href="/content/uploadData/Reciptcopies/@Model.PaymentRceiptCopy"> File : <i class="fa fa-file-download"></i>  Download   @(Model.ApprovedPaymentReciptCopy != null && Model.ApprovedPaymentReciptCopy == true ? " - Approved" : Model.ApprovedPaymentReciptCopy != null && Model.ApprovedPaymentReciptCopy == false ? " - Rejected" : " - Pending") </a></label>
                                @if (Model.ApprovedPaymentRceiptCopyTime != null)
                                {
                                    <label class="capitalize kt-display-block kt-font-dark"> ApprovedTime : @Model.ApprovedPaymentRceiptCopyTime  </label>
                                }
                                <hr />
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.InspictionReciptCopy) && Model.NeedInspection == true)
                        {
                            <div class="form-group">
                                <a href="#" id="btn_approved_inspection_recipt" data-approvedvalue="true" class="btn_approved_inspection_recipt btn-font-sm btn-success checkpadding"> <i class="fa fa-check"></i></a>  <a href="#" data-approvedvalue="false" class="btn_approved_inspection_recipt btn-font-sm btn-danger timespadding" id="btn_refuse_inspection_recipt"> <i class="fa fa-times"></i></a>
                                <label> Inspiction Recipt Copy Details</label>
                                <label class="capitalize kt-display-block kt-font-info"> Value : @Model.InspectionValue  SRA </label>
                                <label class="capitalize kt-display-block kt-font-info"> Time : @Model.InspictionReciptCopyTime  </label>

                                <label><a class="capitalize kt-display-block kt-font-@(Model.ApprovedInspictionReciptCopy != null &&Model.ApprovedInspictionReciptCopy == true?"success":Model.ApprovedInspictionReciptCopy != null &&Model.ApprovedInspictionReciptCopy ==false?"danger":"brand")" target="_blank" href="/content/uploadData/Reciptcopies/@Model.InspictionReciptCopy"> File : <i class="fa fa-file-download"></i>  Download   @(Model.ApprovedInspictionReciptCopy != null && Model.ApprovedInspictionReciptCopy == true ? " - Approved" : Model.ApprovedInspictionReciptCopy != null && Model.ApprovedInspictionReciptCopy == false ? " - Rejected" : " - Pending") </a></label>
                                @if (Model.ApprovedInspictionReciptCopyTime != null)
                                {
                                    <label class="capitalize kt-display-block kt-font-dark"> ApprovedTime : @Model.ApprovedInspictionReciptCopyTime  </label>
                                }
                                <hr />
                            </div>
                        }


                        @if (!string.IsNullOrEmpty(Model.PercentRceiptCopy))
                        {
                            <div class="form-group">
                                <a href="#" id="btn_approved_percent_recipt" data-approvedvalue="true" class="btn_approved_percent_recipt btn-font-sm btn-success checkpadding"> <i class="fa fa-check"></i></a>  <a href="#" data-approvedvalue="false" class="btn_approved_percent_recipt btn-font-sm btn-danger timespadding" id="btn_refuse_inspection_recipt"> <i class="fa fa-times"></i></a>
                                <label> Percent Recipt Copy Details</label>
                                <label class="capitalize kt-display-block kt-font-info"> Value : @(Model.BidPrice * 0.15)  SRA </label>
                                <label class="capitalize kt-display-block kt-font-info"> Time : @Model.PercentRceiptCopyTime  </label>

                                <label><a class="capitalize kt-display-block kt-font-@(Model.ApprovedPercentReciptCopy != null &&Model.ApprovedPercentReciptCopy == true?"success":Model.ApprovedPercentReciptCopy != null &&Model.ApprovedPercentReciptCopy ==false?"danger":"brand")" target="_blank" href="/content/uploadData/Reciptcopies/@Model.PercentRceiptCopy"> File : <i class="fa fa-file-download"></i>  Download   @(Model.ApprovedPercentReciptCopy != null && Model.ApprovedPercentReciptCopy == true ? " - Approved" : Model.ApprovedPercentReciptCopy != null && Model.ApprovedPercentReciptCopy == false ? " - Rejected" : " - Pending") </a></label>
                                @if (Model.ApprovedPercentRceiptCopyTime != null)
                                {
                                    <label class="capitalize kt-display-block kt-font-dark"> ApprovedTime : @Model.ApprovedPercentRceiptCopyTime  </label>
                                }
                                <hr />
                            </div>
                        }


                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" style="display:flex">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Status History
                            </h3>
                        </div>



                    </div>

                    <div class="kt-portlet__body " id="orderHistoryTimelineContainer">

                        <!-- <div id="orderDate" class="btn btn-sm btn-label-brand btn-bold kt-margin-b-10 text-left"><i class="flaticon2-arrow"></i> $orderDate</div> -->
                        <!--Begin::Timeline 3 -->
                        <div class="kt-timeline-v2 ">
                            <div class="kt-timeline-v2__items  kt-padding-top-25 kt-padding-bottom-30" id="orderHistoryTimeline"></div>
                        </div>
                        <!--End::Timeline 3 -->

                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Bid  Items
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-actions">
                                @* <a href="#additionModal" class="btn btn-label-brand btn-bold" data-toggle="modal" id="addOrderLineItem">Add Line Item</a>*@
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body kt-padding-0" id="orderLineItemsContainer">
                        <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded">
                            <table class="kt-datatable__table">
                                <thead class="kt-datatable__head">
                                    <tr class="kt-datatable__row">
                                        <th class="kt-datatable__cell" width="30%">Item</th>
                                        <th class="kt-datatable__cell" width="15%">BidCount</th>
                                        <th class="kt-datatable__cell" width="15%">Price</th>
                                        <th class="kt-datatable__cell" width="10%">Inspection</th>
                                        
                                        <th class="kt-datatable__cell" width="20%">Total</th>
                                    </tr>
                                </thead>
                                <tbody class="kt-datatable__body">
                                    @if (Model.ProductInformation!=null)
                                    {
                                        <tr class="kt-datatable__row">
                                            <td class="kt-datatable__cell" width="30%">
                                                <div class="kt-user-card-v2">
                                                    <div class="kt-user-card-v2__pic">

                                                        <img src="@Model.ProductInformation.ProductImg[0]" />

                                                    </div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="@Url.Action("Details", "ProductDetails",new { id =Model.ProductId,area="" })"> @Model.ProductInformation.ProductTitle</a></div>
                                                </div>
                                            </td>
                                            <td class="kt-datatable__cell" width="15%"> @Model.BidCount</td>
                                            <td class="kt-datatable__cell" width="15%">@Model.BidPrice.ToString("0.00")</td>
                                            <td class="kt-datatable__cell" width="10%">@Model.InspectionValue</td>
                                            
                                            <td class="kt-datatable__cell" width="20%">@(Convert.ToDouble((Model.BidPrice)).ToString("0.00"))</td>

                                        </tr>
                                    }
                                   

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- end:: Content -->
</div>
@section Scripts
{
    @*<script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>*@
    <script>
           toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };
        var reloadfunction = function () {
            var delay = 1750;

            setTimeout(function () {
                location.reload();// = admin_url;
            }, delay);
        }
                     
       var btn_approved_percent_recipt = function (orderid,approvedValue) {
            $.post('@Url.Action("Approved_Percent_Recipt")', { id: orderid, approved: approvedValue }, function (result) {
                if (result.status == 1) {
 toastr.success("Recipt has been approved successfully");
                    reloadfunction();
                   
                }
            });
        };

          var btn_approved_inspection_recipt = function (orderid,approvedValue) {
            $.post('@Url.Action("Aproved_Inspection_Recipt")', { id: orderid, approved: approvedValue }, function (result) {
                if (result.status == 1) {
                    toastr.success("Inspection Recipt has been approved successfully");
                    reloadfunction();
                }
            });
        };
         var btn_approved_payment_recipt = function (orderid,approvedValue) {
            $.post('@Url.Action("Aproved_Payment_Recipt")', { id: orderid, approved: approvedValue }, function (result) {
                if (result.status == 1) {
                    toastr.success("Inspection Recipt has been approved successfully");
                    reloadfunction();
                }
            });
        };

        
         var getorderHistorydata = function (orderid) {

                $.get('@Url.Action("OrderHistory")?id=' + orderid, function (data) {


	                $.each(data, function (){

	                    let dateTime = moment(this.InsertDate);
	                    //let fromStep = this.Status.Name;
	                    let toStep = this.Status1.Name.replace("Request","Bid").replace("Order","Bid");

	                    let className = getOrderStatusColor(this.Status1.ID)

	                    let str = '<div class="kt-timeline-v2__item">';
                        str += '<span class="kt-timeline-v2__item-time">';

                        str += '<span class="kt-display-block">' + dateTime.format('DD/MM/YYYY hh:mm A') + '</span>';
                        str += '<span class="kt-text-light kt-display-block kt-font-size-small">' + dateTime.fromNow() + '</span>';

                        str+= '</span>';
                        str +='<div class="kt-timeline-v2__item-cricle">';
                        str +='<i class="fa fa-genderless kt-font-'+className+'"></i>';
                        str +='</div>';
                        str +='<div class="kt-timeline-v2__item-text kt-padding-top-5">';
                        str += '<span class="capitalize kt-display-block kt-font-'+className+'">' + toStep + '</span>';
                        str += '<span class="kt-text-light kt-display-block">' + this.Notes + '</span>';
                        //str += '<span class="kt-text-light kt-display-block">By : ' + (this.AspNetUser == null ? "System Adminstrator" : (this.AspNetUser.FullName == null ? '' : this.AspNetUser.FullName)) + '</span>';
                        str += '<span class="kt-text-light kt-display-block">By : ' + this.FullName+ '</span>';
                        str +='</div>';
                        str +='</div>';

                        $('#orderHistoryTimeline').append(str);
	                });



                });





        };
         

              var getOrderStatusColor = function (StatusID) {


                  let className = 'info';

					switch (StatusID){
					    case 2:  className = 'warning';
                            break;
                            case 3:  className = 'success';
                            break;
                            case 4:  className = 'warning';
                            break;
                            case 5:  className = 'success';
                            break;
                            case 6:  className = 'brand';
                            break;
                            case 7:  className = 'warning';
                            break;
                            case 8:  className = 'success';
                            break;
                            case 9:  className = 'danger';
                            break;
                            case 10:  className = 'warning';
                            break;
                            case 11:  className = 'primary';
                            break;
                         case 12:  className = 'success';
                            break;
                         case 13:  className = 'danger';
                            break;
                         case 14:  className = 'info';
                            break;
                         case 15:  className = 'dark';
                            break;
                           case 16:  className = 'success';
                            break;
                           case 17:  className = 'danger';
                            break;
                            case 18:  className = 'success';
                            break;
                            case 19:  className = 'danger';
                            break;
                         case 20:  className = 'info';
                            break;
                         case 21:  className = 'warning';
                            break;
                         case 22:  className = 'success';
					        break;

                }
                return className;
            }
        $(document).ready(function () {
            $(document).on('click', '.btn_approved_inspection_recipt', function (e) {

                e.preventDefault();
                let approvedvalue = this.dataset.approvedvalue;
                let orderid =@Model.BidId;
                btn_approved_inspection_recipt(orderid, approvedvalue);
            });

          $(document).on('click', '.btn_approved_percent_recipt', function (e) {

                e.preventDefault();
                let approvedvalue = this.dataset.approvedvalue;
                let orderid =@Model.BidId;
                btn_approved_percent_recipt(orderid, approvedvalue);
                });

                  $(document).on('click', '.btn_approved_payment_recipt', function (e) {

                e.preventDefault();
                let approvedvalue = this.dataset.approvedvalue;
                let orderid =@Model.BidId;
                btn_approved_payment_recipt(orderid, approvedvalue);
                });

          
             getorderHistorydata(@Model.BidId);
          function getcountryname(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/countries.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            //$("." + selector).text(item.name);
                             $("#country").val(item.name);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };

         function getStateame(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/states.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            //$("." + selector).text(item.name);
                             $("#state").val(item.name);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
                 };
        function getCityname(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/cities.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            //$("." + selector).text(item.text);
                             $("#city").val(item.text);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };




             var Cityid = $("#city").attr("myid");
              //var Cityid = $("#city").dataset.city;
            var selectorcity = "lblcity";
             getCityname(Cityid, selectorcity);


             var Stateid = $("#state").attr("myid");
               //var Stateid = $("#state").dataset.state;
            var selectorstate = "lblstate";
             getStateame(Stateid, selectorstate);

             var Countryid = $("#country").attr("myid");
               //var Countryid = $("#country").dataset.country;
            var selectorcountry = "lblcountry";
             getcountryname(Countryid, selectorcountry);

         })

    </script>
}