﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Finance/Views/Shared/FinanceLayout.cshtml";
}


@section title{
    <title>OBS ::   Bids  View All</title>
}

@section Styles{

    <link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminIndexList.css" rel="stylesheet" />

    <style>

        .kt-widget7__img {
            margin-right: 10px;
            height: 60px;
            width: 60px;
        }
    </style>
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item kt-padding-l-20 kt-padding-r-20" id="kt_subheader">

    <div class="kt-subheader__main">

        <h3 class="kt-subheader__title"><i class="fas fa-dolly"></i>&nbsp;  Bids View All</h3>

        <span class="kt-subheader__separator kt-subheader__separator--v"></span>

        <div class="kt-subheader__group" id="kt_subheader_search">
            <span class="kt-subheader__desc" id="kt_subheader_total"><i class="fas fa-spin fa-spinner"></i> </span>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                <input type="text" class="form-control" placeholder="Search ..." id="general_search">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>

        </div>

        <div class="kt-subheader__group " id="kt_subheader_group_actions">

        </div>

    </div>

    <div class="kt-subheader__toolbar kt-subheader-order-summary">

        <div class="kt-subheader__group kt-margin-r-10 kt-desktop-view">

        </div>

        <a href="#" class="btn btn-bold btn-primary kt-hidden" id="filter-results"><i class="fas fa-filter"></i>&nbsp;<span class="label">Filter</span></a>
    </div>

</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg kt-hidden">
            <div class="kt-portlet__head-label">

            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions"></div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Datatable -->
            <div id="kt_table_1"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>

<div id="update-order-status-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Change BID Status</h5>
            </div>

            <div class="modal-body">
                <form class="kt-form" action="" method="POST" id="updatestatusform">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Current BID status</label>
                                <input class="form-control" type="text" id="currrentstatus" value="" readonly="readonly" />
                                <input type="hidden" id="oldstatusid" />
                                <input type="hidden" id="orderid" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Change to </label>

                                <select id="newstatus" class="select2" data-minimum-results-for-search="Infinity">
                                    <option value="1">New</option>
                                    <option value="2"> Wait Inspection Value</option>
                                    <option value="3">Inspection was Paid</option>
                                    <option value="4">Wait BID Value</option>
                                    <option value="5">BID was Paid</option>
                                    <option value="6">Under Preparing</option>
                                    <option value="7">Wait Inspection</option>
                                    <option value="21">Wait 15% from Bid Value</option>
                                    <option value="22"> 15% from Bid Value was paid</option>
                                    <option value="8">Inspection Accepted </option>
                                    <option value="9">Inspection Rejected</option>
                                    <option value="11">Ready for delivery</option>
                                    <option value="12">Delivered</option>
                                    <option value="13">Cancelled</option>
                                    <option value="14">Refunded</option>
                                    <option value="15">Archived</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea class="form-control" rows="4" placeholder="write your notes" id="notes"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-label-brand btn-bold ladda-button btn-sm" data-style="expand-left" id="update-order-status-resource">Save</button>
                <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
<div id="update-order-Inspection-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Send Order Inspection Value</h5>
            </div>

            <div class="modal-body">
                <form class="kt-form" action="" method="POST" id="updatestatusform">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="hidden" id="orderinspectionidid" />
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Inspection Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="inspectonbody">
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea class="form-control" rows="4" placeholder="write your notes" id="Inspectionnotes"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-label-brand btn-bold ladda-button btn-sm" data-style="expand-left" id="update-order-Inspection-resource">Save</button>
                <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div id="order-status-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">   BID [<span id="orderNo"></span>] History</h5>
            </div>
            <!--Begin::Portlet-->
            <div class="kt-portlet kt-portlet--height-fluid">


                <div class="kt-portlet__body">
                    <div class="kt-scroll ps ps--active-y" data-scroll="true" data-height="380" data-mobile-height="300" style="height: 380px; overflow: hidden;">

                        <fieldset class="order-list-fieldset">
                            <!-- <legend>Order History</legend> -->
                            <div>
                                <!--Begin::Timeline 3 -->
                                <div class="kt-timeline-v2">
                                    <div class="kt-timeline-v2__items kt-padding-top-25 kt-padding-bottom-30" id="orderHistoryTimeline"></div>
                                </div>
                                <!--End::Timeline 3 -->
                            </div>
                        </fieldset>


                    </div>
                </div>
            </div>
            <!--End::Portlet-->
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Content/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/plugins/ladda/ladda.min.js"></script>
    <script src="/content/js/pages/crud/file-upload/ktavatar.js" type="text/javascript"></script>

    <script>

        "use strict";
        var datatable;
        var timer;

        var KTDatatablesDataSourceAjaxServer = function () {

            var togglesidBar = function () {
                // toggle left side menu if it state is off (open)
                try {

                    var aside = new KTToggle('kt_aside_toggler', {
                        target: 'body',
                        targetState: 'kt-aside--minimize',
                        togglerState: 'kt-aside__brand-aside-toggler--active'
                    });

                    if (aside.getState() === 'off') {
                        aside.toggle();
                    }

                } catch (e) {

                }
            };

            var initializeKtDataTable = function () {

                datatable = $('#kt_table_1').KTDatatable({

                    // datasource definition
                    data: {
                        type: 'remote',
                        source: {
                            read: {
                                url: '@Url.Action("AjaxDT","BidDetails",new { area="Finance"})',
                                method: 'GET',
                                map: function (raw) {
                                    $("#kt_subheader_total").html("<span class='kt-font-brand'>" + raw.meta.total + " Bids </span>");
                                    KTApp.unblock('.kt-container');

                                    return raw.data;
                                }
                            },
                        },
                        pageSize: 10,
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true,
                        deferLoading: 0, // here
                    },

                    // layout definition
                    layout: {
                        scroll: false,
                        footer: false
                    },
                    // column sorting
                    sortable: true,
			        /*search: {
                        input: $('#generalSearch'),
                    },*/
                    pagination: true,

                    // columns definition
                    columns: [


                        {
                            field: 'cbx',
                            title: '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input class="checkall" type="checkbox">&nbsp;<span></span></label>',
                            sortable: false,
                            type: 'number',
                            width: 20,
                            autoHide: false,
                            template: function (row) {
                                return '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input value="' + row.BidId + '" class="checkbox-item" type="checkbox">&nbsp;<span></span></label>';
                            }

                        },

                            {
					        field: 'ProductTitle',
					        title: 'Product',
					        width: 300,
					        autoHide:false,
					        template : function (row){

                                //let country = row.Country == null ? '' : row.Country.name;
                                return '<div class="kt-user-card-v2"><div class="kt-widget5__pic"><img alt="photo"  class="kt-widget7__img"  src="' + (row.ProductImg!=""&& row.ProductImg!=null? row.ProductImg:"/content/UploadData/UploadImages/noImage.png") + '"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">' + row.ProductTitle + '</a></div></div>';
					        }
                        },

                        {
                            field: 'BidCount',
                            title: 'BidCount',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.BidCount + '</span>'
                            }
                        },
                        {
                            field: 'BidPrice',
                            title: 'BidPrice',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.BidPrice + '</span>'
                            }
                        },

                               {
					        field: 'FullName',
					        title: 'Buyer Name',
					        width: 200,
					        autoHide:false,
					        template : function (row){

                                //let country = row.Country == null ? '' : row.Country.name;
                                return '<div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img alt="photo" src="/content/img/' + (row.ProfilePhoto!=""&& row.ProfilePhoto!=null? row.ProfilePhoto:"100_13.jpg") + '"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">' + row.FullName + '</a><span class="kt-user-card-v2__email"><a class="details" href="mailto:'+ row.Email+'">' + row.Email + '</a></span></div></div>';
					        }
                        },





  {
                            field: 'NeedInspection',
                            title: 'Is Need Inspection',
                            width: 100,
                            template: function (row) {

                                return '<a href="#" class="kt-underline_hover" > <span class="kt-badge kt-badge--' + getUserStatusColor(row.NeedInspection) + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + getUserStatusColor(row.NeedInspection) + '">' + (row.NeedInspection==true?true:false)+ '</span></a>';
                            }
                        },

                        {
                            field: 'IsSold',
                            title: 'Is Sold',
                            width: 100,
                            template: function (row) {

                                return '<a href="#" class="kt-underline_hover" > <span class="kt-badge kt-badge--' + getUserStatusColor(row.IsSold) + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + getUserStatusColor(row.IsSold) + '">' + row.IsSold + '</span></a>';
                            }
                        },

                        {
				            field: 'StatusID',
				            title : 'Status',
                            autoHide: false,
                            width: 150,
                            template: function (row) {

                                return '<a href="#" class="kt-underline_hover"  data-toggle="modal" data-target="#order-status-model" data-id="'+row.BidId+'" > <span class="kt-badge kt-badge--' + getOrderStatusColor(row.StatusID) + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + getOrderStatusColor(row.StatusID) + '">' + row.StatusText.replace("Request","Bid").replace("Order","Bid") + '</span></a>';
				            }
				        },
               {
				            field: 'Timer',
				            title : 'Pay Timer',
                            autoHide: false,
                            width: 150,
                            template: function (row) {
                                if(row.StatusID==21)
                                return '<span class="timertest" id="timertest_'+row.BidId+'"  data-counter="'+row.timercount+'"> </span>';
				            }
				        },
                             {
				            field: '',
                            title: 'Actions',
                            width: 50,
                            sortable:false,
					        autoHide:false,
				            template : function (row){
				                return '<div class="dropdown"><a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md" aria-expanded="false"><i class="flaticon-more-1"></i></a><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"><ul class="kt-nav kt-padding-t-0 kt-padding-b-0"><li class="kt-nav__item"><a data-orderid="'+row.BidId+'"  data-statusid="'+row.StatusID+'" data-statustext="'+row.StatusText+'" data-toggle="modal" data-target="#complain-modal" class="kt-nav__link  updateorderstatusbtn" href="#"><i class="kt-nav__link-icon flaticon-support"></i><span class="kt-nav__link-text">Update Status</span></a></li><li class="kt-nav__item"><a  class="kt-nav__link" href="@Url.Action("Details")?id='+row.BidId+'"><i class="kt-nav__link-icon flaticon-list"></i><span class="kt-nav__link-text">Details</span></a></li>'+(row.IsSold==true?'<li class="kt-nav__item"><a  class="kt-nav__link" href="@Url.Action("BidInvoic")?id='+row.BidId+'"><i class="kt-nav__link-icon flaticon-list"></i><span class="kt-nav__link-text">Invoice</span></a></li>':'')+'</ul></div></div>';
				            }
				        }
                    ]
                });

                datatable.sort("BidId", "desc");

                datatable.on("kt-datatable--on-ajax-done", function (e) {

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
                    }

                });

                datatable.on("kt-datatable--on-layout-updated", function (e) {
                    $('#kt_table_1 .select2').select2();

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
                    }
                });

            };

            var updateOrderStatus = function () {

                $('#update-order-status-model .select2').select2();

                $('#update-order-status-model').on('hidden.bs.modal', function (){
                    $('#newstatus').val('');
                    $('#notes').val('');
                    $('#newstatus option').removeAttr('disabled');
                });

                $(document).on('click', '.updateorderstatusbtn', function (e) {

                    e.preventDefault();

                    let id =this.dataset.orderid;
                    let DeliveryTypeValue = this.dataset.deliverytypevalue;
                    let currentstatusid = this.dataset.statusid;

                    $("#currrentstatus").val(this.dataset.statustext);

                    $("#oldstatusid").val(currentstatusid);

                    $("#orderid").val(id);
                    $("#DeliveryTypeValue").val(DeliveryTypeValue);
                    $('#newstatus option[value="'+currentstatusid+'"]').attr('disabled', 'disabled');

                    $('#update-order-status-model').modal('show');

                });

                $(document).on('click', '#update-order-status-resource', function (e) {

                    e.preventDefault();

                    let $this= $(this);

                    let url = '@Url.Action("UpdateOrderStatus")';

                    let orderId = $("#orderid").val();
                    let newStatus = $('#newstatus').val();
                    let currentstatusid = $("#oldstatusid").val();
                    let note = $('#notes');
                     let DeliveryTypeValue= $("#DeliveryTypeValue").val();
                    let data = { bid : orderId, newStatus : newStatus , note : note.val(),oldStatusid:currentstatusid};
                    console.log(data);
                    if(note.val() === ''){
                        note.focus();
                        return;
                    }


                    var l = Ladda.create(this);
                    l.start();

                    $(this).parent().find('.btn-cancel').addClass('kt-hidden');

                    $.post(url, data , function (result){

                        $('#newStatus').val(newStatus || '');
                        $('#currentstatusid').val(newStatus || '');

                         if (newStatus == 2) {

                            $("#orderinspectionidid").val(orderId);
                            //bind inspection items
                             $.get('@Url.Action("GetInspectionItemsByBidID")?id=' + orderId, function (dataresult) {

                                 console.log(dataresult);
                                  console.log(dataresult.status)
                                $("#inspectonbody").empty();
                                //$.each(data, function () {
                                if (dataresult.status == 1) {
                                    console.log(dataresult.status);
                                    let str = "";
                                    str += "<tr>";
                                    str += "<td colspan='2'>";
                                    str += "<div class='kt-user-card-v2'> <div class='kt-user-card-v2__pic'>";
                                    str += "<img src='" + dataresult.productimage + "'/>";
                                    str += "</div><div class='kt-user-card-v2__details'>";
                                    str += "<a class='kt-user-card-v2__name' target='_blank' href='" + '@Url.Action("Details", "ProductDetails",new {area="" })?id=' + dataresult.ProductID + "'> " + dataresult.ProductTitle + "</a>";
                                    str += "</div>";
                                    str += "</div>";
                                    str += "</td>";
                                    str += " <td>" + dataresult.Quantity + " item</td>";
                                    str += " <td>" + dataresult.Price + " SAR</td>";
                                    str += "<td> <input class='form-control InspectionValue' type='text'  name='InspectionValue    id='InspectionValue' value='' required /></td>";
                                    str += "</tr>";

                                    $("#inspectonbody").append(str);
                                    $('#update-order-Inspection-model').modal('show');
                                }
                                //});
                            });

                        }
                        $('#update-order-status-model').modal('hide');



                        datatable.reload();
                        OrderByStatus();
                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.success("bid Information has been updated successfully");

                        l.stop();

                        $(this).parent().find('.btn-cancel').removeClass('kt-hidden');

                    });

                });
            }


            var SendCustomerInspectin= function  (){

                $(document).on('click', '#update-order-Inspection-resource', function (e) {

                    e.preventDefault();

                    let $this= $(this);

                    let url = '@Url.Action("SendBidInspection")';

                    let bidid = $("#orderinspectionidid").val();
                    let InspectionValue = $('#InspectionValue');
                    let note = $('#Inspectionnotes');
                    let allvalues ="";
                     $("#inspectonbody :text").each(function(){
                        var value = $(this).val();
                         if (value=== '')
                         {
                             $(this).focus();
                                 toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.error("Please Fill All Inspection Values to sent to Customer ");
                        return false;
                         }
                         else {
                             allvalues = value ;
                        }

                     });


                    let data = { bidid : bidid, InspectionValue : allvalues, note : note.val()};

                    //if (InspectionValue.val() === '') {
                    //    InspectionValue.focus();
                    //    return;
                    //}

                    if(note.val() === ''){
                        note.focus();
                        return;
                    }

                    var l = Ladda.create(this);
                    l.start();

                    $(this).parent().find('.btn-cancel').addClass('kt-hidden');

                    $.post(url, data, function (result) {

                        $('#update-order-Inspection-model').modal('hide');

                        datatable.reload();

                        OrderByStatus();

                	    toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.success("bid Inspection Value sent to Customer successfully");

                        l.stop();

                        $(this).parent().find('.btn-cancel').removeClass('kt-hidden');

                    });

                });
            }


            var orderStatusTag = function (){

	            $('.order-status-tag').on('click', function (e){

	                e.preventDefault();

	                let status = $(this).attr('data-label');
	                let hasClass = $(this).hasClass('btn-'+ $(this).attr('data-color'));

	                $('.order-status-tag').each(function (){
	                    $(this).removeClass('btn-'+ $(this).attr('data-color'));
	                });

                    if (hasClass) {
                        reloadDatatable(['query'], [''], datatable);
	                    $(this).removeClass('btn-'+ $(this).attr('data-color'));
                    } else {
                        reloadDatatable(['query'], [status], datatable);
	                    $(this).addClass('btn-'+ $(this).attr('data-color'));
	                }

	            });

            }

            var OrderByStatus = function () {
                $.get('@Url.Action("BidByStatus")', function (data) {

                    $.each(data, function (i, item) {
                        $('.order-status-tag[data-value="' + item.Id + '"]')
                            .removeClass('kt-hidden')
                            .find('.number')
                            .html("( "+item.Value+" )");
                    });
                });
            }

            var reloadDatatable = function (key, value, datatable) {

                let query = datatable.getDataSourceQuery();

                $.each(key, function (i) {
                    query[key[i]] = value[i];
                });

                datatable.setDataSourceQuery(query);
                datatable.reload();

                KTApp.block('.kt-datatable', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

            };

            var generalSearch = function () {

                $('#general_search').on('keyup', function () {

                    clearTimeout(timer);

                    var val = $(this).val();
                    timer = setTimeout(function () {
                         reloadDatatable(['query'], [val] , datatable);
                    }, 1000);

                });

            };

            var orderHistory = function () {


                $('#order-status-model').on('hidden.bs.modal', function (e) {



                    $('#orderHistoryTimeline').empty();


                    //  KTApp.block('#order-status-model .kt-portlet', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

                });


                $('#order-status-model').on('shown.bs.modal', function (e) {

                    $("#orderNo").html("BID-" + e.relatedTarget.dataset.id.toString().padStart(3, "0"));

                   // $('#orderHistoryTimeline').empty();


                      KTApp.block('#order-status-model .kt-portlet', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });
                    getorderHistorydata(e.relatedTarget.dataset.id);
                });
            }

            var getorderHistorydata = function (orderid) {

                $.get('@Url.Action("OrderHistory")?id=' + orderid, function (data) {


	                $.each(data, function (){

	                    let dateTime = moment(this.InsertDate);
	                    //let fromStep = this.Status.Name;
	                    let toStep = this.Status1.Name.replace("Request","Bid").replace("Order","Bid");

	                    let className = getOrderStatusColor(this.Status1.ID)

	                    let str = '<div class="kt-timeline-v2__item">';
                        str += '<span class="kt-timeline-v2__item-time">';

                        str += '<span class="kt-display-block">' + dateTime.format('DD/MM/YYYY hh:mm A') + '</span>';
                        str += '<span class="kt-text-light kt-display-block kt-font-size-small">' + dateTime.fromNow() + '</span>';

                        str+= '</span>';
                        str +='<div class="kt-timeline-v2__item-cricle">';
                        str +='<i class="fa fa-genderless kt-font-'+className+'"></i>';
                        str +='</div>';
                        str +='<div class="kt-timeline-v2__item-text kt-padding-top-5">';
                        str += '<span class="capitalize kt-display-block kt-font-'+className+'">' + toStep + '</span>';
                        str += '<span class="kt-text-light kt-display-block">' + this.Notes + '</span>';
                       // str += '<span class="kt-text-light kt-display-block">By : ' + (this.AspNetUser == null ? "System Adminstrator" : (this.AspNetUser.FullName == null ? '' : this.AspNetUser.FullName)) + '</span>';
                        str += '<span class="kt-text-light kt-display-block">By : ' + this.FullName+ '</span>';
                        str +='</div>';
                        str +='</div>';

                        $('#orderHistoryTimeline').append(str);
	                });

                        KTApp.unblock('#order-status-model .kt-portlet');

                });





            };

                    var getOrderStatusColor = function (StatusID) {


                  let className = 'info';

					switch (StatusID){
					    case 2:  className = 'warning';
                            break;
                            case 3:  className = 'success';
                            break;
                            case 4:  className = 'warning';
                            break;
                            case 5:  className = 'success';
                            break;
                            case 6:  className = 'brand';
                            break;
                            case 7:  className = 'warning';
                            break;
                            case 8:  className = 'success';
                            break;
                            case 9:  className = 'danger';
                            break;
                            case 10:  className = 'warning';
                            break;
                            case 11:  className = 'primary';
                            break;
                         case 12:  className = 'success';
                            break;
                         case 13:  className = 'danger';
                            break;
                         case 14:  className = 'info';
                            break;
                         case 15:  className = 'dark';
                            break;
                           case 16:  className = 'success';
                            break;
                           case 17:  className = 'danger';
                            break;
                            case 18:  className = 'success';
                            break;
                            case 19:  className = 'danger';
                            break;
                         case 20:  className = 'info';
                            break;
                         case 21:  className = 'warning';
                            break;
                         case 22:  className = 'success';
					        break;

                }
                return className;
            }
          var getUserStatusColor = function (confirem) {


                let className = 'danger';
                if (confirem)
                    className = 'success';

                return className;
            }
            return {
		        //main function to initiate the module
                init: function () {
                    togglesidBar();
                    initializeKtDataTable();
                    updateOrderStatus();
                    SendCustomerInspectin();
                    //SendCustomerDelivery();
                    OrderByStatus();
                    generalSearch();
                    orderStatusTag();
                    orderHistory();
                    getUserStatusColor();
		        }
            };

        }();

        jQuery(document).ready(function() {
	        KTDatatablesDataSourceAjaxServer.init();
        });
        $(document).ready(function () {
             var x = setInterval(
    function () {

       $(".timertest").each(function () {
                  let counter = $(this).data("counter");
                
             //var endDate = counter;
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(counter);
            var dt = new Date(parseFloat(results[1]));
           var countDownDate = dt.getTime();
           console.log(countDownDate);
           // var countDown = row.cells[5];
            // Update the count down every 1 second
           var now = new Date().getTime();
            // Get todays date and time
            var distance = countDownDate - now;
            // Find the distance between now an the count down date
            
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            // Display the result in the element
            $(this).html(days +"d "+hours + "h "
                + minutes + "m " + seconds + "s ");

            //If the count down is finished, write some text 
            if (distance < 0) {
                clearInterval(x);
                $(this).innerHTML = "";
            }
        
    }, 1000);




                  //}

                  //statustimer(counter, $(this));
            })



            $(document).ajaxSuccess(function (e, xhr, settings) {
             

                      
                //if (xhr.responseJSON.status === 401) {
                //    settings.success = null;
                //}

                return false;
            });

        });
    </script>
}