﻿
@{
    ViewBag.Title = "IncompleteMSG";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<div class="page-head" style="padding: 10px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Sign up <span>Seller</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
@Html.Partial("_msg")
<div class="wrapper">
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="win-msg win-msg-danger text-center">
                    <div class="msg-icon mb40">
                        <img src="/Content/frontend/images/Icon.png" alt="" />
                    </div>
                    <h3 class="mb25">Your Account is Incomplete!</h3>
                    <p class="mb30">While you can start listing on WIN.com.sa, completing your account is mandatory to have your listings live and have customers start buying them.</p>
                    <div class="win-msg-btns">
                        <a href="@Url.Action("MyAccount","SellerSite")" class="btn btn-danger text-uppercase">Go to my account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
