﻿@model MaterialPickupLocationSellerViewModel
@{
    ViewBag.Title = "MaterialPickupLocation";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@section  styles{
    <style>

        .step-nav .col-md-3 {
            max-width: 20% !important;
        }
    </style>
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Material Pickup <span>Seller</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Material Pickup Location</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>


<div class="checkout-step">
    <div class="container">
        <div class="row step-nav">
            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>01</span> Contact Info </h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-user-lock"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>02</span> Account Verification</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>03</span> Material Pickup  </h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-address-card"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>04</span> Seller Details </h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>05</span>  Overview</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <div class="account-reg ">
            <div class="row m-0">
                <div class="col-md-5 offset-md-1 blue-box pickup-loc">
                    <div class="text-center">
                        <div class="reg-icon mb40">
                            <img src="~/Content/FrontEnd/images/location2.svg" alt="" />
                        </div>
                        <h3>Material Pickup <br /> Location</h3>

                    </div>
                </div>
                <div class="col-md-5 reg-form">
                    @using (Html.BeginForm("MaterialPickupLocation", "SellerSite", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary("", new { @class = "text-danger" })


                        <div class="form-group">

                            @Html.TextBoxFor(m => m.Country, new { @class = "form-control selectpicker", autocomplete = "off", id = "Country" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.State, new { @class = "form-control selectpicker", autocomplete = "off", id = "State" })
                        </div>
                        <div class="form-group">

                            @Html.TextBoxFor(m => m.City, new { @class = "form-control", autocomplete = "off", id = "City", placeholder = "Enter city", @readonly = "readonly" })
                        </div>
                        <div class="form-group">

                            @Html.TextBoxFor(m => m.Area, new { @class = "form-control", placeholder = "Area" })
                        </div>
                        <div class="form-group">
                            <i class="fa fa-street-view"></i>

                            @Html.TextBoxFor(m => m.Street, new { @class = "form-control", placeholder = "Street" })

                        </div>
                        <div class="form-group">
                            <i class="fa fa-building"></i>
                            @Html.TextBoxFor(m => m.BuildingNo, new { @class = "form-control", placeholder = "Building .No" })
                        </div>
                        <div class="form-group">
                            <i class="fa fa-mobile"></i>

                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", placeholder = "+966" })
                        </div>
                        <div class="form-group">
                            <i class="fa fa-phone"></i>

                            @Html.TextBoxFor(m => m.LandLine, new { @class = "form-control", placeholder = "+966 LandLine" })
                        </div>
                        <div class="form-group">


                            @Html.TextBoxFor(m => m.lat, new { @class = "form-control", placeholder = "Latitude Ex:11.0143896", id = "Latitudepoint" })
                        </div>
                        <div class="form-group">


                            @Html.TextBoxFor(m => m.lon, new { @class = "form-control", placeholder = "Longitude Ex:11.0143896", id = "Longitudepoint" })
                        </div>


                        <div class="form-group">

                            <div class="map-wrap">
                                <style>
                                    .map-wrap {
                                        height: 500px;
                                    }

                                    #map {
                                        height: 500px;
                                        width: 100%
                                    }
                                </style>
                                <div id="map">

                                </div>

                            </div>
                        </div>
                        <div class="form-action text-center">
                            <a href="@Url.Action("SellerVendorName")" class="btn btn-outline-warning">Skip and fill later </a>
                            <a href="@Url.Action("SellerDocumentID")" class="btn btn-outline-warning">Back</a>
                            <button type="submit" class="btn btn-warning rounded ">
                                Save & Continue
                            </button>
                        </div>
                    }
                </div>
                    </div>
        </div>
    </div>
</div>
@section Scripts {

    <script src="~/Content/Js/CountrySelect/CountryStateAndCityScripts.js"></script>
    <script>
        $(document).ready(function () {
            var Country =@Model.Country;
            var state =@Model.State;
            var city=@Model.City;
            @*//alert(Country);
            if (Country != null) {
                $("#Country").val(Country);
                $("#Country").trigger("change");
            }
            if (state != null) {
                $("#State").val(state);
                $("#State").trigger("change");
            }
            if (city != null) {
                $("#City").val(city);
                $("#City").trigger("change");
            }
        function getCityname(id) {
            $.ajax({
                url: '/Content/Js/JsonData/cities.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                                $("#Country").val(@Model.Country);
              $("#Country").change();
                            $("#State").val(item.Stateid);
                            $("#State").change();
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };*@
              function getCityname(id) {
            $.ajax({
                url: '/Content/Js/JsonData/cities.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                                $("#Country").val(Country);
              $("#Country").change();
                            $("#State").val(state);
                            $("#State").change();
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };
            getCityname(city);
        
           
            $("#Longitudepoint").change();
            

           
        })


          $("#Latitudepoint").change(function () {
              var lat = $("#Latitudepoint").val();
              var lon = $("#Longitudepoint").val();
              if ($.isNumeric(lat) & $.isNumeric(lon)) {
                  initMap(parseFloat(lat),parseFloat(lon));
              }
        });
          $("#Longitudepoint").change(function () {

              var lat =$("#Latitudepoint").val();
              var lon = $("#Longitudepoint").val();
              if ($.isNumeric(lat) & $.isNumeric(lon)) {
                  initMap(parseFloat(lat),parseFloat(lon));
              }
          });

    
        function initMap(latpoint=24.713552,lngpoint= 46.675296) {


                // Map options
                var options = {

                        zoom: 6,
                    center: { lat: latpoint, lng: lngpoint }
                }

                // New map
                var map = new google.maps.Map(document.getElementById('map'), options);

                            addMarker({ coords: { lat: latpoint, lng: lngpoint }, iconImage: null  , content: null});
            var activeInfoWindow;
            function handleEvent(event) {

             document.getElementById('Latitudepoint').value = event.latLng.lat();
             document.getElementById('Longitudepoint').value = event.latLng.lng();
             }
            function addMarker(props) {
                    var marker = new google.maps.Marker({
                        position: props.coords ,
                        map: map,
                        draggable: true,
                        //icon:props.iconImage
                    });
                    // Check for customicon
                    if (props.iconImage) {
                        // Set icon image
                        marker.setIcon(props.iconImage);
                    }

                    // Check content
                    //if (props.content) {
                    marker.addListener('click', function (event) {

                         var infoWindow = new google.maps.InfoWindow({
                            content: 'Latitude: ' +   event.latLng.lat() + '<br>Longitude:' +  event.latLng.lng()
                         });
                        if (activeInfoWindow) { activeInfoWindow.close();}
                        activeInfoWindow = infoWindow;
                        infoWindow.open(map, marker);
                    });
                    marker.addListener('drag', function (event) {
                    document.getElementById('Latitudepoint').value = event.latLng.lat();
                    document.getElementById('Longitudepoint').value = event.latLng.lng();
                    });
                    marker.addListener('dragend', function (event) {

                    document.getElementById('Latitudepoint').value = event.latLng.lat();
                    document.getElementById('Longitudepoint').value = event.latLng.lng();
                    var infoWindow = new google.maps.InfoWindow({
                    content: 'Latitude: ' +   event.latLng.lat() + '<br>Longitude:' +  event.latLng.lng()
                    });


                     if (activeInfoWindow) { activeInfoWindow.close();}
                     activeInfoWindow = infoWindow;
                     infoWindow.open(map, marker);
                    });

                }
            }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8KE5GHnuuuVbgAw5DT-zdWMe6bU5EH3Y&callback=initMap">
    </script>
}
