﻿
@{
    ViewBag.Title = "RegistrationOverView";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@section  styles{
    <style>

        .step-nav .col-md-3 {
            max-width: 20% !important;
        }
    </style>
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Sign up <span>Seller</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="checkout-step">
    <div class="container">
        <div class="row step-nav">
            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>01</span> Contact Info </h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-user-lock"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>02</span> Account Verification</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>03</span> Material Pickup  </h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-address-card"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>04</span> Seller Details </h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>05</span>  Overview</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="account-reg verify-reg">
            <div class="row m-0">
                <div class="col-md-4 offset-md-1 blue-box overview-box">
                    <div class="text-center">
                        <div class="reg-icon mb40">
                            <img src="/Content/FrontEnd/images/newspaper2.png">
                        </div>
                        <h3>Registration Overview</h3>

                    </div>
                </div>
                <div class="col-md-6 reg-form">
                    <form action="">
                        <p class="mb35">You’re almost done with registering your account, please review the below to proceed</p>
                        <ul class="list-unstyled reg-steps">
                            <li class="clearfix">
                                <div class="stepImg"><img src="/Content/FrontEnd/images/userplus.svg" alt="" /></div>
                                <p> <a href="@Url.Action("MyAccount")">Contact information</a> <span class="text-uppercase @(ViewBag.Contact!="START"?"text-success":"text-danger")">@ViewBag.Contact </span></p>
                            </li>
                            <li class="clearfix">
                                <div class="stepImg"><img src="/Content/FrontEnd/images/check-circle.svg" alt="" /></div>
                                <p><a href="@Url.Action("SellerDocumentID")"> Account verification </a> <span class="text-uppercase @(ViewBag.Verfication!="START"?"text-success":"text-danger")">@ViewBag.Verfication</span></p>
                            </li>
                            <li class="clearfix">
                                <div class="stepImg"><img src="/Content/FrontEnd/images/white-loc.svg" alt="" /></div>
                                <p><a href="@Url.Action("MaterialPickupLocation")"> Material pickup location   </a>  <span class="text-uppercase @(ViewBag.Material!="START"?"text-success":"text-danger")">@ViewBag.Material</span></p>
                            </li>
                            <li class="clearfix">
                                <div class="stepImg"><img src="/Content/FrontEnd/images/newspaper.svg" alt="" /></div>
                                <p> <a href="@Url.Action("SellerVendorName")"> Seller details   </a>   <span class="text-uppercase @(ViewBag.SellrDetails!="START"?"text-success":"text-danger")">@ViewBag.SellrDetails</span></p>
                            </li>
                        </ul>
                        <div class="form-action text-uppercase">
                            <a href="@Url.Action("SellerVendorName")" class="btn btn-outline-warning">Back</a>
                            <a href="@Url.Action(ViewBag.Link)" class="btn btn-warning"> Save & Continue</a>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
