﻿@model SellerAccountVerification
@{
    ViewBag.Title = "SellerDocumentID";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@section  styles{
    <style>

        .step-nav .col-md-3 {
            max-width: 20% !important;
        }
    </style>
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Sign up <span>Seller</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="checkout-step">
    <div class="container">
        <div class="row step-nav">
            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>01</span> Contact Info </h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-user-lock"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>02</span> Account Verification</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>03</span> Material Pickup  </h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-address-card"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>04</span> Seller Details </h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>05</span>  Overview</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="account-reg verify-reg">
            <div class="row m-0">
                <div class="col-md-4 offset-md-1 blue-box checked-bg">
                    <div class="text-center">
                        <div class="reg-icon mb40">
                            <img src="/content/frontend/images/check-circle.svg">
                        </div>
                        <h3>Account Verification</h3>

                    </div>
                </div>
                <div class="col-md-6 reg-form">
                    @using (Html.BeginForm("SellerDocumentID", "SellerSite", FormMethod.Post, new { @class = "form-horizontal sellerdocform", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.Partial("_msg")
                        <label>Please provide us with a relevant document in order for us to verify your account.</label>
                        <div class="mb25">
                            <span class="text-info">Account type:</span> defines the choice of documents you can upload
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio ">
                                <input type="radio" class="custom-control-input" id="Individual" value="1" name="Typeid">
                                <label class="custom-control-label" for="Individual">Individual Professional.</label>
                            </div>
                        </div>

                        <div class="form-group" id="IndividualTypeDiv">
                            <span class="text-info">Please</span> select one from below
                            <br />
                            <div class="custom-control custom-radio ">
                                <input type="radio" class="custom-control-input" id="NationalID" value="1" name="BusinessTypeid">
                                <label class="custom-control-label" for="NationalID">National ID</label>
                            </div>
                            <div class="custom-control custom-radio ">
                                <input type="radio" class="custom-control-input" id="IqamaID" value="2" name="BusinessTypeid">
                                <label class="custom-control-label" for="IqamaID">Iqama ID</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-radio ">
                                <input type="radio" class="custom-control-input" id="Business" value="2" name="Typeid">
                                <label class="custom-control-label" for="Business">Business (Selling On Behalf of a Business Entity).</label>
                            </div>
                        </div>
                        <div class="form-group" id="BusinessTypeDiv">
                            <span class="text-info">Please</span> select one from below
                            <br />
                            <div class="custom-control custom-radio ">
                                <input type="radio" class="custom-control-input" id="Company" value="1" name="BusinessTypeid">
                                <label class="custom-control-label" for="Company">Company Registration</label>
                            </div>
                            <div class="custom-control custom-radio ">
                                <input type="radio" class="custom-control-input" id="UserAuthorization" value="2" name="BusinessTypeid">
                                <label class="custom-control-label" for="UserAuthorization">User Authorization Letter</label>
                            </div>
                        </div>
                        <div class="form-group">
                            @*<input type="text" name="DocumentID" class="form-control mb10" placeholder="Document ID" />*@
                            <input type="file" id="DocumentID" name="Doc" class="form-control mb10" placeholder="Document ID" />
                            <p><span class="text-danger">Note: </span> English, Arabic characters (a-z,A-Z), digits(0-9), - , spaces.</p>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-radio ">
                                <input type="radio" checked class="custom-control-input" id="agreeCheck" name="agreement" value="1">
                                <label class="custom-control-label" for="agreeCheck">I have read and accepted terms and conditions of the agreement.</label>
                            </div>
                        </div>

                        <div class="form-action text-center text-uppercase">
                            <a href="#" class="btn btn-outline-warning" data-toggle="modal" data-target="#verificationModal">Skip and fill later </a>
                            @*<a href="#" class="btn btn-outline-warning">Back</a>*@
                            <button type="submit" class="btn btn-warning">
                                Save & Continue
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="verificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-msg text-center">
                    <div class="modal-msg-icon mb35">
                        <img src="../images/retweet.svg" alt="" />
                    </div>
                    <h3 class="mb25">Confirm Skipping Steps</h3>
                    <p class="mb30">You are about to leave the profile completion wizard with some steps being missing, you can use the site and list your items, but our customers will be able to see them till your profile is completed.</p>
                    <div class="btns-action text-uppercase">
                        <a href="@Url.Action("MyAccount","SellerSite")" class="btn btn-outline-warning">
                            Go to my Account
                        </a>
                        <a href="@Url.Action("MaterialPickupLocation")" class="btn btn-warning" data-dismiss="modal">Fill missing steps</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script>
    //BusinessTypeid
        $(document).ready(function () {
             $('#IndividualTypeDiv').hide();
            $('#BusinessTypeDiv').hide();
            var checid =@(Model!=null?Model.Typeid+"":"0");

            if (checid == 1) {
                $("#Individual").attr('checked',true);$('.sellerdocform input[type=radio][name=Typeid]').change();
            }

            if (checid == 2) {
                   $("#Business").attr('checked',true);
     $('.sellerdocform input[type=radio][name=Typeid]').change();
            }

        })

    $('.sellerdocform input[type=radio][name=Typeid]').change(function() {
        if (this.value == '2') {

            console.log(this.value);
            $('#BusinessTypeDiv').show();
            $('#IndividualTypeDiv').hide();
        }
        if (this.value == '1') {

            console.log(this.value);
            $('#BusinessTypeDiv').hide();
              $('#IndividualTypeDiv').show();

        }
        //else {
        //    $('#BusinessTypeDiv').hide();
        //        $('#IndividualTypeDiv').hide();
        //}
    });
    </script>
}

