﻿@model VendorNameSellerViewModel
@{
    ViewBag.Title = "SellerVendorName";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@section  styles{
    <style>

        .step-nav .col-md-3 {
            max-width: 20% !important;
        }
    </style>
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Sign up <span>Seller</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="checkout-step">
    <div class="container">
        <div class="row step-nav">
            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>01</span> Contact Info </h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-user-lock"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>02</span> Account Verification</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>03</span> Material Pickup  </h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-address-card"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>04</span> Seller Details </h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>05</span>  Overview</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="account-reg verify-reg">
            <div class="row m-0">
                <div class="col-md-4 offset-md-1 blue-box">
                    <div class="text-center">
                        <div class="reg-icon mb40">
                            <img src="/Content/frontend/images/newspaper.svg">
                        </div>
                        <h3>Account Verification</h3>

                    </div>
                </div>
                <div class="col-md-6 reg-form">
                    @using (Html.BeginForm("SellerVendorName", "SellerSite", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary("", new { @class = "text-danger" })


                        <label>Once chosen, you won't be able to change it. If you're still not sure, keep it empty and you can choose it later </label>
                        <div class="form-group">
                            <img src="/Countent/FrotEnd/images/key.svg" alt="" />

                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Vendor name" })
                        </div>
                        <div class="form-action text-center text-uppercase">
                            <a href="#" class="btn btn-outline-warning" data-toggle="modal" data-target="#verificationModal">Skip and fill later </a>
                            <a href="@Url.Action("MaterialPickupLocation")" class="btn btn-outline-warning">Back</a>
                            <button type="submit" class="btn btn-warning">
                                Save & Continue
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="verificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-msg text-center">
                    <div class="modal-msg-icon mb35">
                        <img src="../images/retweet.svg" alt="" />
                    </div>
                    <h3 class="mb25">Confirm Skipping Steps</h3>
                    <p class="mb30">You are about to leave the profile completion wizard with some steps being missing, you can use the site and list your items, but our customers will be able to see them till your profile is completed.</p>
                    <div class="btns-action text-uppercase">
                        <a href="@Url.Action("MyAccount","SellerSite")" class="btn btn-outline-warning">
                            Go to my Account
                        </a>
                        <a href="#" class="btn btn-warning" data-dismiss="modal">Fill missing steps</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

