﻿
@{
    ViewBag.Title = "WellcomeSeller";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Sign up <span>Seller</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-10 offset-md-3 offset-sm-1">
                <div class="win-msg success-win-msg text-center">
                    <div class="msg-icon mb40">
                        <img src="/content/frontend/images/heart.png" alt="" />
                    </div>

                    <h3 class="mb25">Welcome to the WIN Sellers</h3>
                    <p class="mb30">All set. Now you need Admin Approved   to  start listing your products so stay tound . Click the button below to back to home</p>

                    <div class="win-msg-btns text-uppercase">
                        @*<a href="@Url.Action("Index", "Home", new { area = "Seller" })" class="btn btn-outline-warning rounded">
                            Start Listing Now
                        </a>*@
                        <a href="@Url.Action("Index", "Home")" class="btn btn-warning rounded">
                            Back to Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

