.info-block{
    margin-bottom: 30px;
    background: rgba(0, 128, 128, 0.75);
    color: #fff;
}
.info-block-pink{
    background: rgba(66, 0, 128, 0.65);
}
.info-block-blue{
    background: rgba(2, 125, 180, 0.75)
}
.info-block-red{
    background: rgba(217, 0, 27, 0.69);
}
.info-block-white{
    background: #fff;
    color: #333333;
    min-height: 130px;
}
.info-block-head{
    padding: 20px;
}
.info-block-head span{
    font-size: 28px;
    font-weight: 600;
    display: block;
}
.info-block-head h3{font-size:16px;}
.info-block-white span{
    color: #027db4;
}
.info-block-head h4{
    font-size: 14px;
}
.info-block-footer> a{
    display: block;
    padding: 10px 20px;
    color: #fff;
    background: #118888;
    line-height: 24px;
}
.info-block-footer> a i{
    float: right;
    line-height: 24px;
}

.info-block-pink .info-block-footer> a{
    background: rgb(66, 0, 128);
}
.info-block-blue .info-block-footer> a{
    background: rgb(2, 125, 180);
}
.info-block-red .info-block-footer> a{
    background: rgb(217, 0, 27);
}