/*
 * Droid Arabic Kufi (Arabic) http://www.google.com/fonts/earlyaccess
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

.col-5th,
.col-sm-5th,
.col-md-5th,
.col-lg-5th,
.col-xl-5th {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-5th {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
}
@media (min-width: 540px) {
	.col-sm-5th {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
@media (min-width: 720px) {
	.col-md-5th {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
@media (min-width: 960px) {
	.col-lg-5th {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
@media (min-width: 1140px) {
	.col-xl-5th {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}


body {
	font-size: 14px;
	color: #252525;
	font-family: 'Montserrat', sans-serif;
	line-height: 24px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
	margin-top: 0;
}
.no-padding {
	padding: 0;
}
img {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
a {
	text-decoration: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
:before, :after, button, img {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
a:hover {
	text-decoration: none;
}
img {
	margin: 0;
	padding: 0;
	max-width: 100%;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-thumb {
	background-color: #323232;
}

::-webkit-scrollbar-track {
	background-color: #dedede;
}
.bg-image, .bg-parallax {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
.bg-parallax {
	background-attachment: fixed;
}
@media (min-width: 1200px){
	.container {
		max-width: 1300px;
	}
}
@media (min-width: 1450px){
	.container {
		max-width: 1570px;
	}
}
/*------------*/
.top-bar{
	background: #233142;
	color: #fff;
}
.top-bar ul{margin: 10px 0}
.top-bar a{color: #fff;line-height: 18px;font-size: 13px;}
.top-bar a:hover{
	color: #f65625;
}
.top-bar li:not(:last-child){
	border-right: 1px solid #e2e4e6;
	padding-right: .6rem;
}
.top-bar .top-links{text-align: right}
.navbar-brand{
	display: none;
}
.logo{
	padding: 15px 0;
	margin: 0;
}
.logo img {
	max-height: 70px;
}.navbar{padding: 22px 0}
.navbar-nav .nav-link{
	color: #233142;
	font-size: 15px;

}
.navbar-nav .nav-link:hover{
	color: #f65625;
}
.navbar-expand-lg .navbar-nav .nav-link{
	padding: 15px;
}

.navbar-toggler{
	border: 1px solid #323232;
	color: #323232;
	padding: 10px 15px;
}
.cartBtn{
	position: relative;
	display: block;
	color: #233040;
	font-size: 12px;
	margin-right: 10px;
	line-height: 24px;

}
.cartBtn img{
	max-height: 20px;
	margin-right: 15px;
}
.cartBtn small{
	display: block;
	position: absolute;
	top: -6px;
	left: 16px;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	line-height: 17px;
	text-align: center;
	font-size: 10px;
	color: #fff;
	background-color: #f4a42b;
}
.btn{
	border-radius: 3px;
	padding: 10px 30px;
	font-size: 14px;
}
header .btn {
	border-radius: 25px;
}
.btn-warning{
	background-color: #f4a32d;
	border-color: #f4a32d;
	color: #fff;
}
.btn-warning:hover{
	background: none;
	border-color: #f4a32d;
	color: #f4a32d;
}
.navbar .btn-warning{
	background-color: #f65625;
	border-color: #f65625;
	color: #fff;
}
.navbar .btn-warning:hover{
	background: none;
	border-color: #f65625;
	color: #f65625;
}
.slider-wrap{
	position: relative;
}
.slide-img{
	padding-top: 27%;
	position: relative;
}
.slide-img h3{
	color: #fff;
	font-size: 26px;
	text-align: center;
	margin-bottom: 0;
	position: absolute;
	left: 0;
	width: 100%;
	top: 50%;
	margin-top: -90px;
}
.search-bar{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	z-index: 99;
	color: #fff;
}
.search-bar h3{
	font-size: 26px;
	text-align: center;
	margin-bottom: 30px;
}
.search-field{
	position: relative;
}
.search-field>input{
	width: 100%;
	border-radius: 30px;
	background: #fff;
	border: none;
	outline: none;
	padding:15px;
	height: 55px;
}
.search-field button{
	position: absolute;
	right: 5px;
	top: 5px;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: none;
	background-color: #5480c1;
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding: 13px;
}

.title {
	position: relative;
}
.title h2{
	color: #233142;
	font-size: 30px;
	font-weight: 500;
	margin: 0;
	padding-right: 15px;
	display: inline-block;
}
.title .title-sep-container {
	position: relative;
	height: 1px;
	-ms-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.title .title-sep {
	position: relative;
	width: 100%;
	border-top: 1px solid #ebebeb;
	box-sizing: content-box;
}
.title a{
	float: right;
	display: inline-block;
	padding: 7px 25px;
	color: #3b3b3b;
	border-radius: 3px;
	border: 1px solid #707070;
	font-size: 16px;
	min-width: 170px;
	text-align: center;
}
.title a:hover{
	background: #707070;
	color: #fff;
}

.product_cats_wrap{
	padding: 80px 0 40px;
	background-image: url(../images/cat-bg.jpg);
}
.cat-swiper{
	padding-bottom: 20px;
}
.cat-swiper.swiper-container-horizontal>.swiper-pagination-bullets, .cat-swiper.swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 0;
}
.cat-item{
	margin: 15px 0 0;
	text-align: center;
}
.cat-item:hover h3{
	color: #f65625;
}
.cat-item-img{
	position: relative;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 20px 0 #ccc;
	padding: 30px;
	display: table-cell;
	vertical-align: middle;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.cat-item:hover .cat-item-img{
	box-shadow: 0 0 15px 0 rgba(0,0,0,.6);
}
.cat-item h3{
	padding: 22px 0 0;
	margin: 0;
	color: #233142;
	font-weight: 500;
	font-size: 18px;
}
.upcoming-auction-wrap{
	padding: 90px 0;
	background-image: url(../images/upcoming.jpg);
	color: #fff;
}
.timer{
	text-align: center;
	margin-bottom: 35px;
}
.table-cell{
	width: 100px;
	height: 150px;
	border: 1px solid #fff;
	text-align: center;
	padding: 30px 10px;
	border-radius: 55px;
	margin: 0 12px 12px;
	display: inline-block;
	text-transform: uppercase;
}
.table-cell .tab-val{
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 15px;
}
.btn-primary{
	background-color: #5480c1;
	border-color: #5480c1;
}
.notify-btn{
	min-width: 170px;
	text-align: center;
	padding: 12px;
}

.upcoming-title{
	font-size: 20px;
	color: #f4a32d;
	margin-bottom: 20px;
}
.upcoming-item h3{
	font-size: 34px;
	margin-bottom: 20px;
	color: #fff;
}
.upcoming-item h3 a{color: #fff}
.auction-ul{
	font-size: 16px;
}
.auction-ul li:first-child{
	margin-right: 35px;
}
[class^="svg-"]{
	background-size: 100%;
	display: inline-block;
}
.svg-calendar{
	background: url(../images/calendar.svg) center center no-repeat;
}
.svg-clock{
	background: url(../images/clock.svg) center center no-repeat;
}
.svg-location{
	background: url(../images/location.svg) center center no-repeat;
}
.auction-ul li i{margin-right: 13px;color: #4775b9;width: 20px;
	height: 24px;
	float: left;}
.auction-ul li span{
	color: #cbd9f6;
}
.section-auction{
	padding: 45px 0;
}
.auction-item{
	margin-bottom: 30px;
	background: #fff;
}
.auction-img{
	position: relative;
	margin-bottom: 15px;
}
.auction-img>a{
	display: block;
	padding-top: 74%;
	border-radius: 3px;
	position: relative;
}
.auction-img>a:before{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #232323;
	background: -webkit-linear-gradient(boottom,rgba(0,0,0,.6),transparent);
	background: linear-gradient(to top,rgba(0,0,0,.6),transparent);
}
.auction-img time{
	position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	background: #4877bc;
	padding: 10px 0;
	border-radius: 3px;
	width: 68px;
	height: 68px;
	font-size: 10px;
	text-align: center;
}
.auction-img time span{
	display: block;
	font-size: 22px;
	line-height: 30px;
}
.auction-rest{
	position: absolute;
	left: 92px;
	bottom: 20px;
	color: #fff;
}
.auction-rest span{
	display: inline-block;
	border-bottom: 2px solid #fff;
	padding: 3px 12px;
	font-size: 11px;
}
.auction-img .auction-cat{
	position: absolute;
	left: 10px;
	top: 10px;
	background: #f4a32d;
	padding: 3px 8px;
	border-radius: 3px;
	font-weight: 300;
}
.auction-img .auction-cat a{color: #fff}
.auction-info h3{
	font-size: 16px;
	color: #403c34;
	margin-bottom: 12px;
	min-height: 38px;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 11px;
}
.auction-info h3 a{
	color: #403c34;
}

.auction-meta li {
	color: #878787;
	font-size: 15px;;
}
.auction-meta li.list-inline-item:not(:last-child){
	margin-right: 12px
}
.auction-meta li span{
	display: block;
	color: #403c34;
}
.auction-footer{
	/* border-top: 1px solid #ebebeb; */
	/* padding-top: 12px; */
	color: #878787;
	overflow: hidden;
}
.auction-footer a{
	float: right;
	display: block;
	color: #f4a32d;
	border: 1px solid #f4a32d;
	padding: 2px 10px;
	border-radius: 3px;
}
.auction-footer a:hover{
	background: #f4a32d;
	color: #fff;
}
.auction-footer i{
	width: 20px;
	float: left;
	height: 20px;
	margin-right: 5px;
}
.client-slide, .client-item{
	height: 100px;
	padding: 15px;
	line-height: 70px;
	text-align: center;
}
.client-slide>a, .client-item>a{
	display: table-cell;
	vertical-align: middle;
	height: 70px;
}
.client-slide img{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	opacity: 0.64;
}
.client-slide:hover img{
	-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
	filter: grayscale(0);
	opacity: 1;
}
.clients-wrap{
	padding: 40px 0;
}
.clients-wrap .swiper-pagination{
	position: relative;
	padding-left: 20px;
}
.clients-wrap .title{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-ms-align-items: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.offers-swiper .swiper-pagination{
	text-align: right;
	padding: 0 15px;
}
.offer-slide{
	text-align: center;
}
.swiper-pagination-bullet{
	margin: 0 2px;
	width: 12px;
	height: 12px;
	border: 1px solid #f4a32d;
	background: none;
	opacity: 1;
}
.offers-swiper .swiper-pagination-bullet{
	background: #fff;
	border: 1px solid #fff;
}

.swiper-pagination-bullet-active, .offers-swiper .swiper-pagination-bullet-active{
	background: #f4a32d;
	border-color: #f4a32d;
}
footer{
	background: #233142;
	padding: 65px 0 35px;
}
.widget{
	margin-bottom: 30px;
	color: #fff;
	line-height: 24px;
	font-size: 13px;
	font-weight: 300;
}
.widget h3{
	font-size: 16px;
	margin-bottom: 22px;
}
.widget ul{margin: 0;padding: 0;list-style: none}
.widget a{
	color: #fff;
}
.widget a:hover{
	color: #4877bc;
}
.widget li span{
	color: #4877bc;
	display: inline-block;
	margin-right: 5px;
}
.widget .social{
	margin-bottom: 20px;
}
.social a{
	width: 30px;
	height: 30px;
	line-height: 24px;
	padding: 3px;
	text-align: center;
	border-radius: 50%;
	display: block;
}
.social a i{
	line-height: 24px;
}
.social a.fc{
	background: #3b65bb;
}
.social a.tw{
	background: #2aa0ea;
}
.social a.in{
	background: #0073b0;
}
.auction-list-wrap{
	padding: 45px 0;
	background: #f4f4f4;
}
.auction-list .auction-img>a:before{
	opacity: 0;
}
.auction-item .overlay{
	position: absolute;
	left: 0;
	width: 100%;
	top: 50%;
	text-align: center;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	opacity: 0;
}
.auction-item .overlay i{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	padding: 10px;
	line-height: 30px;
	background: #fff;
	color: #f4a32d;
}
.auction-item:hover .overlay{
	opacity: 1;
	margin-top: -25px;
}
.auction-item:hover .auction-img>a:before{
	opacity: 1;
}
.auction-list .auction-item .auction-cat{
	margin-bottom: 8px;
	display: block;
}
.auction-list .auction-item .auction-cat a{
	color: #f4a32d;
	font-size: 13px
}
.entry-auction{
	padding: 0 15px 15px;
	font-size: 12px;
}
.entry-auction .auction-info h3{
	font-size: 16px;
}
.entry-auction .auction-footer{
	padding: 0;
	border: none;
}
.entry-auction .auction-meta li{
	font-size: 13px;
	line-height: 24px;
}
.entry-auction .auction-meta li span{
	display: inline;
}

.bootstrap-select>.dropdown-toggle{
	background: #fff;
	border-radius: 0;

	height: 45px;
	line-height: 25px;
	border-color: #ebebeb;
	position: relative;
}
.filter-bar .bootstrap-select>.dropdown-toggle{
	padding-left: 50px;
}
.filter-bar .bootstrap-select>.dropdown-toggle:before{
	content: "\f0c9";
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	position: absolute;
	left: 25px;
	color: #4877bc;
	top: 12px;
	line-height: 20px;
}
.filter-bar .form-group:not(:last-child){
	margin-right: 10px;
}
.filter-bar{
	margin-left: auto;
	display: table;
}
.bootstrap-select .dropdown-menu{
	padding: 0;
	border: 1px solid #ebebeb;
	margin: 0;
	border-radius: 0;
}
.bootstrap-select .dropdown-menu li a{
	padding: 10px 20px;
	padding-left: 50px;
	border-bottom: 1px solid #ebebeb;
}
.custom-control-input:checked~.custom-control-label::before{
	border-color: #4877bc;
	background-color: #4877bc;
}
.custom-checkbox .custom-control-label::before{
	border-radius: 0;
	border: 1px solid #ebebeb;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover{
	background: #fff;
	color: #323232;
}

.filter-widget{
	background: #fff;
	border: 1px solid #ebebeb;
	margin-bottom: 30px;
}
.widget-head h3{
	padding: 15px 20px;
	padding-right: 10px;
	margin: 0;
	font-size: 15px;
	color: #303030;
	line-height: 30px;
	border-bottom:1px solid #ebebeb;
	position: relative;
}
.widget-head h3:after{
	content: "\f0d7";
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	position: absolute;
	right: 25px;
	color: #4877bc;
	top: 18px;
	line-height: 24px;
	color: #303030;
}
.widget-head h3 i{
	margin-right: 10px;
	color: #4877bc;
}
.widget-cats li a{
	display: block;
	padding: 15px 25px;
	color: #303030;
	font-size: 16px;
	line-height: 24px;
	position: relative;
	font-weight: 300;
}
.widget-cats li:not(:last-child){
	border-bottom:1px solid #ebebeb;
}
.widget-cats li a:after{
	content: "\f0d7";
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	position: absolute;
	right: 25px;
	color: #4877bc;
	top: 15px;
	line-height: 24px;
	color: #303030;
}

.widget-cats li a i, .widget-cats a img{margin-right: 10px}
.more-cats{
	text-align: center;
	display: block;
	padding: 15px;
	background: #4877bc;
	color: #fff;
	font-size: 16px;
}
.more-cats:hover{
	background: #4877bc;
	color: #fff;
}
.filter-inner{
	padding: 15px 20px;
	font-size: 16px;
	font-weight: 300;
}
.filter-inner .custom-checkbox{
	margin-bottom: 7px;
}
.custom-checkbox small{
	color: #939393;
}
.search-brand{
	margin-bottom: 20px;
}
.search-brand .input-field{
	position: relative;
}
.search-brand .form-control{
	background: #f6f6f6;
	border: none;
}
.input-field button{
	position: absolute;
	right: 0px;
	background: none;
	color: #353535;
	border: none;
	top: 0;
	padding: 10px;
}
.filter-price{
	background: none;
	border: none;
}
.filter-price .widget-head{
	background: #fff;
	border: 1px solid #ebebeb;
	margin-bottom: 20px;
}
.price-slider .btn-filter{
	float: right;
	display: block;
	color: #f4a32d;
	border: 1px solid #f4a32d;
	padding: 2px 10px;
	border-radius: 3px;
	background: none;
	font-size: 16px;
}
.btn-filter:hover{
	background: #f4a32d;
	color: #fff;
}
.price-slider form{
	color: #303030;
	font-size: 16px;
}
.price-slider form label{
	display: inline-block;
	margin-right: 15px;
}
.price-slider #amount{
	border: none;
	background: none;
	color: #303030;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	border-radius:50%;
	background: #fff;
	border-color: #f4a32d;
}
.ui-slider .ui-slider-range{
	background: #f4a32d;
}
.ui-widget.ui-widget-content{
	border: none;
}

/*------------------------*/
.page-head{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-image: url(../images/slide.jpg);
	padding: 50px 0 40px;
	color: #fff;
}
.page-head h1, .page-head h2{
	font-size: 30px;
	margin: 0;
	color: #fff;
	font-weight: 500;
}
.page-head h1 span, .page-head h2 span{
	display: inline-block;
	margin-left: 5px;
	color: #5480c1;
	font-weight: 300;
}
.breadcrumb{
	float: right;
	background: none;
	padding: 10px 0;
	margin: 0;
}
.breadcrumb a{
	color: #fff;
}
.breadcrumb-item.active{
	color: #7b9dcf;
}
.wrapper{
	padding: 75px 0;
}
.product-wrapper{
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9fafd 0%, #fff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f9fafd 0%, #fff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f9fafd 0%, #fff 100% );
}
.blue-box{
	padding: 75px 30px;
	color: #fff;
	background-color: #5480c1;
	background-position:  -80px 130% ;
	background-repeat: no-repeat;
}
.reg-blue{
	padding: 75px 30px;
	color: #fff;
	background-color: #5480c1;
	background-image: url("../images/plus-transparent.svg");
	background-position:  -70px 120% ;
	background-repeat: no-repeat;
}
.pickup-loc{
	background-image: url("../images/loc-transparent.svg");

}
.checked-bg{
	background-image: url(../images/check-transparent.svg);
}
.reg-blue h3, .blue-box h3{
	color: #fff;
	font-size: 27px;
	margin-bottom: 25px;
}
.reg-blue h3 span, .blue-box h3 span{
	display: block;
	padding-top: 20px;
	text-decoration: underline;
}
.reg-form{
	padding: 75px 60px;
	background: #f4f4f4;
}
.form-group{
	position: relative;
}
.form-group i, .form-group>img{
	position: absolute;
	right: 18px;
	color: #5480c1;
	top: 50%;
	transform: translateY(-50%);
}
.filter-bar .form-group i{
	position: relative;
	right: auto;
	left: auto;
	top: auto;
	transform: translateY(0);
}
.filter-bar .filterBtn>i{
	color: #fff;
}
.form-group input.form-control{
	padding: 11px 20px;
	min-height: 45px;
	border-radius: 3px;
	border:1px solid #ebebeb;
}
.form-group .form-control{
	height: auto;
	font-size: 13px;
}
.reg-form .bootstrap-select>.dropdown-toggle{
	padding:9px 20px ;
	font-size: 13px;
}
.reg-form .bootstrap-select>.dropdown-toggle:before{
	display: none;
}
.form-action .btn{
	text-transform: uppercase;
	padding: 10px 25px;
}
.reg-form label{
	color: #282828;
	font-size: 15px;
	line-height: 24px;
}
.reg-form .custom-control-label{
	font-size:14px
}
.text-danger{
	color: #e73a22 !important;
}

.breadcrumb-item+.breadcrumb-item::before{
	content: '>';
	color: #fff;
}
.verify-reg .reg-blue, .blue-box{
	background-color: #5480c1 ;
}
.verify-reg .reg-blue{background-image: none}
.result-item{
	margin-bottom: 30px;
	padding: 20px;
	border: 1px solid #ebebeb;
}
.result-item time{
	font-weight: 300;
	color: #f4a32d;
	display: block;
	margin-bottom: 10px;
}
.result-item h3{
	font-size: 20px;
	color: #233142;
	margin-bottom: 15px;
}
.result-item h3 a, .result-item a{
	color: #233142;
}
.result-item a i{margin-left: 10px}
.page-link{
	border: none;
	background: none;
	color: #233142;
}
.page-item.active .page-link{
	color: #5480c1;
	text-decoration: underline;
	background: none;
}

.related-product{
	padding: 60px 0 30px;
	background: #f4f4f4;
}
.related-product h2{
	color: #0f1c25;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 25px;
}
.product_item{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

}
.product_Thumb{
	-ms-flex: 0 0 46%;
	flex: 0 0 46%;
	max-width: 46%;
}
.product_Thumb>a{
	display: block;
	padding-top: 110%;
}
.product_text{
	-ms-flex: 0 0 54%;
	flex: 0 0 54%;
	max-width: 54%;
	border: 1px solid #ebebeb;
	padding: 10px;
	background: #fff;
}
.product-cat{
	display: block;
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 5px;
}
.product-cat a{
	color: #f4a32d;
}
.product_text h3{
	font-size: 14px;
	color: #403c34;
	margin-bottom: 12px;
}
.product_text h3 a{
	color: #403c34;
}
.product_text .readmore{
	display: inline-block;
	color: #f4a32d;
	border: 1px solid #f4a32d;
	padding: 3px 10px;
	border-radius: 3px;
	font-size: 13px;
}
.product-title{
	color: #403c34;
	font-size: 30px;
	margin-bottom: 25px;
}
.product-price{
	margin-bottom: 20px;
}
.product-price span{
	color: #f65625;
	font-size: 25px;
	font-weight: 500;
}

.accordion>.card .card-header{
	background: none;
	border: none;
	padding: 15px 0;
}
.card{
	border: none;
	padding: 0;
	background: none;
}
.accordion>.card .card-header .btn{
	color: #878787;
	padding: 0;
	font-size: 15px;
	font-weight: 700;
	width: 100%;
	text-align: left;
}
.card-body{
	padding: 5px 0;
}
.card-body ul li{
	overflow: hidden;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 5px;
}
.card-body ul li span:first-child{
	max-width: 180px;
}

.card-header h2{
	position: relative;
}
.accordion>.card .card-header .btn:after{
	content: '';
	position: absolute;
	right: 0;
	top: 8px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 8px solid #d7d7d7;
}
.accordion>.card .card-header .btn.collapsed:after{
	border-top: 8px solid #d7d7d7;
	border-bottom: none;
}
.addToCart-form label{
	margin-right: 15px;
}
.addToCart-form .form-group{
	margin-right: 15px;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color:#fff
}
.table-striped tbody tr:nth-of-type(even) {
	background-color: #f6f6f6;
}
.cart-table{
	border-collapse:separate;
	border-spacing:0 16px;
}
.cart-table td, .cart-table th{
	border: 1px solid #ebebeb;
	vertical-align: middle;
	color: #403c34;
	border-left: none;

}

.cart-table tbody td.product-name a{
	color: #403c34;
	font-size: 16px;
}
.cart-table thead tr{
	background: #f6f6f6;
}
.cart-table thead th{
	border: 1px solid #ebebeb;
	border-left: none;
	font-weight: 600;
}
.cart-table tbody tr>td.product-thumb{
	background: #fff;
	border: 1px solid #ebebeb;
	max-width: 140px;
	text-align: center;
}
.cart-table thead tr>th.product-name{
	border: 1px solid #ebebeb;
}
.cart-table thead{
	font-size: 16px;
}
.cart-table tfoot tr,.cart-table tfoot td{border: none}
.cart-action a, .cart-action button{
	text-decoration: underline;
	color: #5480c1;
	font-size: 15px;
	background: none;
	display: inline-block;
	border: none;
	padding: 5px 10px;
}
.cart-table .remove {
	color: #f65625;
	font-size: 26px;
	font-weight: 700;
}
.coupon label, .cart-collaterals h3{
	color: #233142;
	display: block;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}
.rounded{
	border-radius: 3px !important;
}
.coupon .btn{
	float: right;
	padding: 8px 5px;
	font-size: 13px;
}
.coupon input{
	border: 1px solid #ebebeb;
	padding: 7px 7px;
	font-size: 13px;
	min-width: 180px;
}
::-webkit-input-placeholder { /* Edge */
	color: #aaa;
	font-size: 12px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #aaa;
	font-size: 12px;
}

::placeholder {
	color: #aaa;
	font-size: 12px;
}
.cart-totals{
	padding: 0 15px;
	border: 1px solid #ebebeb;
	margin-bottom: 20px;
}
.shop-table{margin: 0}
.shop-table tr:first-child td, .shop-table tr:first-child th{
	border: none;
}
.text-info{
	color: #5480c1 !important;
}
.shop-table a{
	color: #5480c1;
}
.shop-table td strong{
	color: #f4a32d;
}
.quantity{
	overflow: hidden}
.quantity .minus, .quantity .plus{
	background: #d7d7d7;
	border: 1px solid #d7d7d7;
	color: #000;
	float: left;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	height: 40px;
}
.quantity>input, .quantity>input.form-control{
	max-width: 75px;
	border: 1px solid #d7d7d7;
	float: left;
	height: 40px;
	min-height: 40px;
	padding: 9px;
}
.addToCart-form .btn{
	height: 40px;
}
.win-product-gallery .flex-control-thumbs {
	overflow: hidden;
	zoom: 1;
	margin: 0;
	padding: 0;
}
@media screen and (min-width: 40em){
	.win-product-gallery .flexslider {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.win-product-gallery .flex-viewport {
		width: 84% !important;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		margin-left: 0.625rem;
	}
	.win-product-gallery ol.flex-control-thumbs {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		max-height: 488px;
		padding: 0 0.625rem 0 0 !important;
		width: 16% !important;
	}
	.win-product-gallery ol.flex-control-thumbs {
		opacity: 1 !important;
		height: auto;
		cursor: pointer;
		-webkit-transition: opacity 0.5s ease;
		-o-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translateZ(0) scale(1, 1);
		transform: translateZ(0) scale(1, 1);
	}
	.win-product-gallery ol.flex-control-thumbs li img.flex-active,.win-product-gallery ol.flex-control-thumbs li:hover img {
		opacity: .2 !important;
	}
}

.checkout-wrap h3{
	font-size: 20px;
	font-weight: 600;
	color: #233142;
	margin: 0 0 15px;
}
.order-totals table{
	background: #ebebeb;
}
.cart-totals table a{
	font-weight: 500;
	color: #5480c1;
}
.cart-totals .text-right{
	white-space: nowrap;
}

.checkout-step{
	background: #233142;
	padding: 20px 0;
}
.step-blk{
	text-align: center;
	margin-bottom: 15px;
	position: relative;
}
.step-icon{
	padding: 5px;
	border-radius: 50%;
	border: 1px dashed #5480c1;
	display: inline-block;
	margin-bottom: 20px;
}
.step-icon i{
	width: 60px;
	height: 60px;
	background: #fff;
	color: #5480c1;
	border-radius: 50%;
	padding: 10px;
	line-height: 40px;
	font-size: 18px;
}
.step-blk.current .step-icon i, .step-blk.last .step-icon i{
	background: #5480c1;
	color: #fff;
}
.step-blk h3{
	font-size: 16px;
	color: #fff;
}
.step-blk span{
	color: #5480c1;
}
.step-form{
	padding: 55px 60px;
	background: #edf2f2;
	color: #282828;
}
.step-form-title{
	margin-bottom: 10px;
}
.checkout-wrap .step-form-title h3, .step-form-title h3{
	font-size: 22px;
	display: inline-block;
}
.step-form-title a{
	display: inline-block;
	float: right;
	text-decoration: underline;
}
.text-info{
	color: #5480c1 !important;
}
.step-form .form-group{
	margin-bottom: 20px;
}
#forgetpass{
	display: inline-block;
	padding: 10px 0;
	float: right;
	line-height: 24px;
	color: #282828;
}
.step-form #forgetpass span{
	color: #5480c1;
	text-decoration: underline;
}
.step-footer{
	border-top: 1px solid #e1e1e1;
	padding-top: 25px;
}
.address-details{
	font-size: 16px;
	line-height: 24px;
	color:#5b5b5b;

}
.address-details p{
	font-weight: 300;
}
.address-head, .address-head p{
	font-weight: 400;
}
.step-address{
	background: url(../images/shipping.png) right bottom no-repeat;
	background-color: #edf2f2;
}
.btn-outline-warning{
	border-color: #f4a32d;
	color: #f4a32d;
}
.btn-outline-warning:hover{
	background-color: #f4a32d;
	border-color: #f4a32d;
	color: #fff;
}
.address-head a{
	display: block;
	margin-bottom: 5px;
}
.address-head span{
	float: right;
	font-size: 13px;
}
.addresses-list .address-details{
	padding-bottom: 28px;
	margin-bottom: 28px;
	border-bottom: 1px solid #e1e1e1;
}
.address-link-action a{
	text-decoration: underline;
	display: inline-block;
	margin: 0 5px;
	font-size: 13px;
	color: #232323;
}
.order-shipping{
	background: #f6f6f6;
	padding: 20px;
	font-size: 13px;
}
.order-shipping-title a{
	float: right;
	text-decoration: underline;
}
.order-shipping-title h3{
	color: #233142;
	font-size: 16px;
}
.payment-form h4{
	font-size: 16px;
	color: #233142;
}
.payment-form input[type=radio]{
	opacity: 0;
}
.payment-form label.btn{
	background: #ebebeb;
	cursor: pointer;
}
.paymentMethod input[type="radio"]{display: none}
.payment-form input[type="radio"]:checked + label, .payment-form label:hover{
	background: #f4a32d;
	color: #fff;
}
.win-order{
	border: 1px solid #f4a32d;
}
.bg-warning{
	background-color: #f4a32d !important;
	color: #fff;
}
.win-order-head{
	padding: 30px;
}
.win-order-head i{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	padding: 25px;
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 28px;
	border: 1px solid #fff;
}
.win-order-head h2{
	font-size: 27px;
	font-weight: 600;
	margin: 0;
}
.win-order h3{
	color: #233142;
	font-size: 20px;
	margin-bottom: 25px;
	font-weight: 600;
}
.order-details{
	border-left: 1px solid #f4a32d;
}
.invoice-details li{
	margin-bottom: 15px;
	color: #233142;
}
.invoice-details li span{
	color: #8c8c8c;
}
.gray-section{
	background: #fafbfd;
}
.news-item{
	background: #fff;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
	padding: 25px;
	min-height: 205px;
}
.news-item time{
	display: block;
	color: #f4a32d;
	font-size: 13px;
	margin-bottom: 10px;
}
.news-item h3{
	font-size: 16px;
	color: #403c34;
	line-height: 24px;
}
.news-item h3 a{
	color: #403c34;
}
.news-item {margin: 0}
.bootstrap-select .dropdown-toggle .filter-option{
	padding-left: 20px;
	padding-right: 20px;
}
.filter-bar .bootstrap-select .dropdown-toggle .filter-option{
	padding-left: 55px;
}
.btn-danger{
	background-color: #e52020;
	border-color: #e52020;
}
.win-msg{
	background-color: #fff;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
	padding: 55px;
}
.modal-msg{
	padding: 15px;
}
.win-msg h3, .modal-msg h3{
	font-size: 27px;
	color: #2b353c;
	font-weight: 600;
}
.success-win-msg{
	padding: 65px;
	background: #fff url("../images/bg1.png") top center no-repeat;
}

.win-msg .btn{
	margin: 0 5px;
	min-width: 180px;
	padding: 10px;
}
.modal-content{
	border-radius: 0;
}
.contact-ul li{
	line-height: 24px;
	color: #403c34;
	margin-bottom: 15px;
	padding-left: 34px;
	background-repeat: no-repeat;
	background-position: left top;
}
.contact-ul li._address{
	background-image: url(../images/marker.png);
}
.contact-ul li._phone{
	background-image: url(../images/_phone.png);
}
.contact-ul li._fax{
	background-image: url(../images/_fax.png);
}
.contact-ul li._email{
	background-image: url(../images/_mail.png);
}
.contact-wrap h3{
	font-size: 27px;
	color: #403c34;
}
.contact-box p{
	color: #403c34;
	font-size: 16px;
}
.contactform input.form-control{
	border: none;
	padding: 10px 12px;
	border-bottom: 1px solid #ebebeb;
	border-radius: 0;
}
.contactform input.form-control:focus{
	box-shadow: none;
	border-bottom: 1px solid #f4a42b;
}
.reg-steps li .stepImg{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #5480c1;
	text-align: center;
	line-height: 30px;
	padding: 5px 0;
	float: left;
}
.reg-steps li{
	margin-bottom: 15px;
}
.reg-steps li .stepImg img{
	width: 17px;
}
.reg-steps li p{
	margin-left: 49px;
	padding-bottom: 15px;
	margin-bottom: 0;
	border-bottom: 1px solid #ebebeb;
}
.reg-steps li p span{
	display: inline-block;
	float: right;
}
.overview-box{
	background-image: url("../images/news-transpaper.png");
	background-position: -30px 110%;
}
.post-thumb{
	position: relative;
	z-index: 2;
}
.post-share{
	background: #f4a32d;
	padding: 65px 90px 25px;
	margin-top: -45px;
	margin-left: -90px;
	margin-right: 90px;
}
.post-share a, .post-share span{
	display: inline-block;
	margin-right: 15px;
	color: #fff;
}
.post-content time{
	display: block;
	color: #f4a32d;
	font-size: 16px;
	margin-bottom: 7px;
}
.post_title{
	color: #403c34;
	font-weight: 600;
	margin-bottom: 25px;
	font-size: 30px;
}
.post-content{
	font-weight: 300;
	line-height: 24px;
}
.quote-wrap{
	background: #fafbfd;
	padding: 30px;
}
.quote-wrap ul, .list{
	padding: 0;
	list-style: none;
}
.quote-wrap ul li, .list li{
	margin-bottom: 3px;
	font-size: 13px;
	color: #828282;
	padding-left: 24px;
	line-height: 23px;
	position: relative;
}
.quote-wrap li:before, .list li:before{
	content: '';
	width: 7px;
	height: 7px;
	position: absolute;
	left: 0;
	top: 7px;
	border-radius: 50%;
	background: #5480c1;
}
.about-box .list li:before{
	background: #dadbdc;
}

.quote-wrap h3{
	font-size: 20px;
	margin-bottom: 20px;
	color: #233142;
}
.modal-body{
	padding: 40px 60px 50px;
}
.modal-header{
	padding: 25px 60px;
}
.modal-title{
	color: #4877bc;
	font-size: 22px;
	font-weight: 600;
}
.modal-header .close{
	background: #4877bc;
	opacity: 1;
	color: #fff;
	border-radius: 50%;
	padding: 5px 10px;
	margin-top: 0;
}
@media (min-width: 768px){
	.modal-dialog {
		max-width: 750px;
	}
}
.custom-file-label{
	background: #dedede;
	text-align: center;
	color: #414141;
}
.custom-file-label:after{
	display: none;
}

.vision-mission{
	padding: 80px 0 50px;
	background-image: url("../images/vision-bg.jpg");
}
.about-box{
	margin-bottom: 30px;
}
.about-img{
	margin-bottom: 15px;
	height: 37px;
}
.about-box h3, .core-values h3{
	font-size: 30px;
	color: #403c34;
	margin-bottom: 25px;
}
.core-values{
	padding: 80px 0;
	background: url("../images/bg22.jpg") 10% top no-repeat;
}
.core-img{
	padding: 0 20px;
}
.video-wrap{
	padding: 70px 0 0;
}
.video-wrap h3{
	font-size: 22px;
	color: #403c34;
	margin-bottom: 20px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video-box{
	margin-bottom: 30px;
}
.video-box>a{
	display: block;
	padding-top: 60%;
	position: relative;
}
.video-box>a:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #5480c1;
	opacity: 0.87;
}
.video-box.s2>a:before{
	background: #233142;
}
.video-box>a i{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	color: #fff;
	font-size: 35px;
}

.fip-item{
	background: #fff;
	box-shadow: 0 0 27px 0 rgba(0,0,0,.1);
	perspective: 1000px;
	margin-bottom: 30px;
	min-height: 160px;
	position: relative;
}

.flip-front{
	padding: 15px;
	transform-style: preserve-3d;
}
.fip-item:hover .flip-front{
	transform: rotateY(180deg);
}
.flip-card-front h3{
	font-size: 16px;
	color: #4a473f;
	margin-bottom: 25px;
	line-height: 26px;
}
.flip-card-front .flip-icon{
	margin-bottom: 15px;
	height: 35px;
	line-height: 35px;
}
.flip-card-front a{
	color: #aeaeae;
	font-size: 18px;
}

.flip-card {
	margin-bottom: 30px;
	min-height: 160px;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
	background: #fff;
	box-shadow: 0 0 27px 0 rgba(0,0,0,.1);
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 210px;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	bottom: 0;
	backface-visibility: hidden;
	padding: 25px;
	border-radius: 3px;
	text-align: left;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	background-color: #fff;
	text-align: left;
}

/* Style the back side */
.flip-card-back {
	background-color: #76a7f2;
	color: white;
	transform: rotateY(180deg);
	font-size: 13px;
	font-weight: 300;
	line-height:20px;
	padding:20px;
}

.title2 span{
	display: block;
	font-size: 18px;
	color: #f4a32d;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.title2 h2{
	color: #403c34;
	font-size: 30px;
	line-height: 46px;
}

.client-title{
	text-align: center;
	padding: 30px 0;
	background: #f4a32d;
	color: #fff;
	margin-bottom: 30px;
}
.client-title h2{
	margin: 0;
	font-size: 20px;
}
.global-wrap{
	padding-top: 80px;
}
.clients-container{
	padding: 50px 0 80px;
}
.about-us-wrap{
	padding: 70px 0 20px;
	background: url(../images/aboutbg.png),url(../images/aboutbg3.png);
	background-position: left top, left bottom;
	background-repeat: no-repeat, no-repeat;
	background-size: auto, 100%;
}
.about-us-wrap h2{
	color: #403c34;
	font-size: 32px;
}

.marketing-container{
	background: url(../images/aboutbg2.png)center 90% no-repeat;
	background-size: 100%;

}
.ui-widget.ui-widget-content#slider-range{
	overflow: visible !important;
}

/*----------------------------*/

.alphabet_list{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.alphabet_list li.alphabet_item{
	display: inline-block;
	margin-bottom: 15px;
	margin-right: 16px;
}
ul.alphabet_list li.alphabet_item a{
	display: block;
	width: 47px;
	border: 1px solid #ddd;
	font-family: 'Roboto', sans-serif !important;
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	line-height: 46px;
}
div.all_landing_pages a.landing_page_link, div.all_landing_pages a.landing_page_link:visited, div.all_landing_pages a.landing_page_link:hover {
	font-family: 'Roboto', sans-serif !important;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	display: inline-block;
	width: 24%;
}
div.all_landing_pages h2{
	margin: 20px 0 15px;
}
/*-------------------------*/
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px}
.mb20{margin-bottom: 20px}
.mb25{margin-bottom: 25px}
.mb30{margin-bottom: 30px}
.mb35{margin-bottom: 35px}
.mb40{margin-bottom: 40px}
.mb45{margin-bottom: 45px}
.mb50{margin-bottom: 50px}
.p30{padding: 30px}
.pt60{
	padding-top: 60px;
}
.pb30{padding-bottom: 30px}
.msg-icon>img{
	animation: pulse 1s infinite;
}
@keyframes pulse {
	10% {transform: scale(1.1)}
}
@media (max-width: 767px) {
	.btn{
		padding: 10px 20px;
	}
	.modal-body{
		padding: 20px;
	}
	.post-share{
		margin: 0;
		padding: 30px;
		text-align: center;
	}
	.filter-header{
		text-align: right;
	}
	.filterClose{
		width: 48px;
		height: 48px;
		padding: 12px;
		text-align: center;
	}
	.filterBtn{
		min-height: 48px;
		border-radius: 0;
	}
	.filter-sidebar{
		position: fixed;
		top: 0;
		background: #fff;
		padding: 20px;
		z-index: 999;
		left: -340px;
		height: 100%;
		overflow-y: scroll;
		width: 340px;
		border-right: 1px solid #ebebeb;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}
	.cartBtn{
		margin-top: 15px;
	}
	.navbar{
		padding: 10px 0;
	}
	.navbar-brand{
		display: block;
	}
	.navbar-brand img{ max-height: 40px}
	.search-bar h3{
		font-size: 18px;
		margin-bottom: 15px;
	}
	.slide-img{
		padding-top: 42%;
	}
	.upcoming-item{
		margin-bottom: 30px;
	}
	.login-user,.top-links,.top-bar .top-links{
		text-align: center;
	}
	.title h2{margin-bottom: 10px;}
	.title a{
		float: none;
	}
	.table-cell{
		padding: 15px 0;
		width: 70px;
		height: 110px;
		font-size: 12px;
		margin: 0 7px 7px;
	}
	.table-cell .tab-val{
		font-size: 30px;
	}
	.slide-img{
		padding-top: 55%;
	}
	.search-bar{
		transform: translateY(0);
	}
	.step-form{
		padding: 20px;
	}
	.step-icon i{
		width: 50px;
		height: 50px;
		padding: 10px;
		line-height: 30px;
	}
	.page-head{
		text-align: center;
	}
	.breadcrumb{
		float: none;
		justify-content: center;
	}
}
@media (max-width: 480px) {
	.table-cell{
		padding: 15px 0;
		width: 55px;
		height: 100px;
		font-size: 12px;
		margin: 0 5px 5px;
	}
	.table-cell .tab-val{
		font-size: 24px;
		font-weight: 700;
	}
	.slide-img{
		padding-top: 70%;
	}
	.slide-img h3{
		font-size: 20px;
		top: 30px;
		margin-top: 0;
	}
	.form-action{text-align: center}
	.form-action .btn{
		min-width: 170px;
		margin: 5px;
	}
	.step-icon i{
		width: 40px;
		height: 40px;
		padding: 5px;
		line-height: 30px;
	}
	.step-blk h3{
		font-size: 14px;
	}
	.btns-action>a{min-width: 190px;margin: 5px}
	.upcoming-auction-wrap{text-align: center}
	.footer-logo, .offers-swiper .swiper-pagination{text-align: center}
}

@media print {
	header, footer, .slider-wrap, .page-head, .checkout-step, .printBtn {
		display: none;
	}
	.win-order-head{
		background: #f4a32d !important;
		border: 1px solid #f4a32d;
	}
}
