﻿@model ProductDetailViewModel
@using System.Text.RegularExpressions;

@helper StripHTML(string input)
{
    if (!string.IsNullOrEmpty(input))
    {
        input = Regex.Replace(input, "<.*?>", String.Empty);

        @input
    }
}


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    var Productlist = ViewBag.ProductList as List<ProductDetailViewModel>;
    var Mycurrency = TempData["maincurrency"] as CurrencyViewModel;

    if (TempData["cookiecurrency"] != null)
    {
        Mycurrency = TempData["cookiecurrency"] as CurrencyViewModel;
    }
    // var Image = Model.ProductInformation.ProductImg.Split(',');
}
@section keywords
{
    <title>Warehouse Integration Company|@Model.ProductInformation.ProductTitle</title>
    @*<meta name="description" content="@Html.Raw(Model.Description.Length>400?Model.Description.Substring(0,400):Model.Description)" />*@
    <meta name="description" content="@StripHTML(Model.Description)" />
    <meta name="keywords" content="@Model.ProductInformation.Keywords,@Model.ProductInformation.DocumentTitle,@Model.ProductInformation.ProductTitle.Replace(' ', ',')" />
    <meta name="image" content="https://win.com.sa/Content/UploadData/UploadImages/@Model.ProductInformation.ProductImg[0]" />



    <meta property="og:title" content="@Model.ProductInformation.ProductTitle" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://win.com.sa/Content/UploadData/UploadImages/@Model.ProductInformation.ProductImg[0]" />
    @*<meta property="og:description" content="@Html.Raw(Model.Description.Length>400?Model.Description.Substring(0,400):Model.Description)" />*@
    <meta property="og:description" content="@StripHTML(Model.Description)" />
    <meta property="og:site_name" content="Warehouse Integration Company" />
    <meta property="fb:admins" content="winogm.sa" />

    <meta name="twitter:title" content="@Model.ProductInformation.ProductTitle" />
    @*<meta name="twitter:description" content="@Html.Raw(Model.Description.Length>400?Model.Description.Substring(0,400):Model.Description)" />*@
    <meta name="twitter:description" content="@StripHTML(Model.Description)" />
    <meta name="twitter:image" content="https://win.com.sa/Content/UploadData/UploadImages/@Model.ProductInformation.ProductImg[0]" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Request.Url.AbsoluteUri" />
    <meta name="twitter:creator" content="WIN admin" />
}
@section styles{

}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1> @Model.ProductInformation.ProductTitle</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "ProductDetails")">Product</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Product details</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
@Html.Partial("_msg")
<div class="wrapper">
    <div class="container">
        <div class="product-post">
            <div class="row">
                <div class="col-md-6">
                    <div class="win-product-gallery">





                        <div class="flexslider" id="product-slider">
                            <ul class="slides">
                                @foreach (string img in Model.ProductInformation.ProductImg)
                                {
                                    <li data-thumb="@img">
                                        <img class="product-img" src="@img" alt="@Model.ProductInformation.ProductTitle" />
                                    </li>
                                }

                            </ul>
                        </div>


                        <div class="post-share">
                            <span>share:</span>
                            <a  href="https://www.facebook.com/sharer/sharer.php?u=@Request.Url.AbsoluteUri" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"><i class="fab fa-facebook-f"></i> </a>
                            <a href="https://twitter.com/share?url=@Request.Url.AbsoluteUri" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"><i class="fab fa-twitter"></i> </a>
                            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=@Request.Url.AbsoluteUri" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"><i class="fab fa-linkedin-in"></i> </a>
                            <a href="whatsapp://send?text=@Request.Url.AbsoluteUri"><i class="fab fa-whatsapp"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    @*<a href="#" class="btn btn-success btnshipingdetails"> shipping</a>
                    <a href="#" class="btn btn-success btnshipingdetailstest"> shippingtest</a>*@
                    <div class="summary-product">
                        <span class="product-cat text-uppercase">
                            <a href="#">@(new ps.haweya.win.obs.business.Managers.CategoryManager().GetByid(Model.ProductInformation.Category).CategoryName)</a>
                        </span>
                        <h2 class="product-title">
                            @Model.ProductInformation.ProductTitle
                        </h2>
                        <div class="product-price">
                            @if (Model.ProductInformation.PricingType != "Auctionable")
                            {
                                <span class="price">@String.Format("{0:n}", Model.ProductInformation.UnitPrice / Mycurrency.RateToRiyal) @Mycurrency.Sign</span>
                            }



                        </div>
                        <form class="addToCart-form form-inline mb30">



                            @if (Model.ProductInformation.PricingType != "Auctionable")
                            {<div class="form-group">
                                    <label>Qty:</label>

                                    <div class="quantity">
                                        <input type="number" class="input-text qty" value="1" name="Qty" id="Qty" />
                                    </div>
                                </div>
                            }


                            @*else
            {
            <label>@(Model.ProductInformation.Quantity != "0" ? Model.ProductInformation.Quantity : Model.ProductInformation.AvailableQuantity + "")</label>
            }*@





                            @if (Model.ProductInformation.PricingType != "Auctionable")
                            {
                                if (Model.ProductInformation.Quantity == "0" || Model.ProductInformation.AvailableQuantity <= 0)
                                {
                                    <input type="button" value="Sold Out" class=" form-control btn btn-warning add_to_cart_button" />


                                }
                                else
                                {
                                    <input type="button" id="submitcart" value="Add to Cart" data-id="@Model.ProductId" data-baseprice="@Model.ProductInformation.UnitPrice" class="submitcartdetails form-control btn btn-warning add_to_cart_button" />
                                }
                            }
                            else
                            {
                                if (Model.ProductInformation.BidStartDate != null && Model.ProductInformation.BidStartDate.Value <= DateTime.Now && (Model.ProductInformation.DeadLine >= DateTime.Now || Model.ProductInformation.DeadLine == null))
                                {

                                    if (Model.ProductInformation.OBSBidDetails.Where(x => x.IsSold == true).Count() > 0)
                                    {
                                        <label>Sold At @String.Format("{0:n}", Model.ProductInformation.OBSBidDetails.Where(t => t.IsSold).FirstOrDefault().BidPrice / Mycurrency.RateToRiyal) @Mycurrency.Sign</label>
                                        if (ViewBag.Location != null)
                                        {
                                            <span>location : @ViewBag.Location</span>

                                        }
                                    }
                                    else
                                    {
                                        <input type="button" id="placebid" value="Place a Bid" myid="@Model.ProductId" class="placebid form-control btn btn-warning add_to_cart_button" />
                                    }
                                }
                                else
                                {
                                    if (Model.ProductInformation.BidStartDate != null && Model.ProductInformation.BidStartDate.Value > DateTime.Now)
                                    {
                                        <label class="btn btn-warning  form-control">Comming Soon</label>
                                    }
                                    else
                                    {
                                        if (Model.ProductInformation.OBSBidDetails.Where(x => x.IsSold == true).Count() > 0)
                                        {
                                            <label>Sold At @String.Format("{0:n}", Model.ProductInformation.OBSBidDetails.Where(t => t.IsSold).FirstOrDefault().BidPrice / Mycurrency.RateToRiyal) @Mycurrency.Sign</label>
                                            if (ViewBag.Location != null)
                                            {
                                                <span>location : @ViewBag.Location</span>

                                            }
                                        }
                                        else
                                        {
                                            <label class="btn btn-warning  form-control">Closed</label>
                                        }
                                    }


                                }

                            }


                        </form>
                        <p id="shippingdiv" style="margin:5px;"> </p>
                        <div class="accordion" id="accordionExample">

                            @if (Model.ProductInformation.OBSBidDetails.Count() > 0 && Model.ProductInformation.AllowShowBiddersLocations == true)
                            {
                                <div class="card">
                                    <div class="card-header" id="headingFirst">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFirst" aria-expanded="true" aria-controls="collapseFirst">
                                                Bids Details
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseFirst" class="collapse show" aria-labelledby="headingFirst" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <table class="table">
                                                <tr>
                                                    <td> Location</td>
                                                    <td> Bid Price</td>
                                                    <td> Bid Time</td>

                                                </tr>
                                                @if (ViewBag.Locations != null)
                                                {
                                                    foreach (var itm in ViewBag.Locations)
                                                    {
                                                        <tr>
                                                            <td> @(itm.Coutry + " , " + itm.State + " , " + itm.City)</td>
                                                            <td>  @itm.price/Mycurrency.RateToRiyal </td>
                                                            <td>  @itm.time</td>
                                                        </tr>
                                                    }

                                                }
                                            </table>


                                        </div>
                                    </div>
                                </div>

                            }
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Product Description
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            @Html.Raw(Model.Description)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Product specification
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <ul class="list-unstyled list-specification">
                                            <li><span>ID</span> <span class="text-info">@Model.ProductId</span></li>
                                            @*<li><span>Short describtion</span> <span class="text-info">@Model.Description</span></li>*@
                                            <li><span>Category</span> <span class="text-info">@(new ps.haweya.win.obs.business.Managers.CategoryManager().GetByid(Model.ProductInformation.Category).CategoryName)</span></li>
                                            @if (Model.ProductInformation.OBSDiscipline != null)
                                            {
                                                <li><span>Discipline</span> <span class="text-info">@Model.ProductInformation.OBSDiscipline.Discipline </span></li>
                                            }
                                            @if (Model.ProductInformation.OBSCommodity != null)
                                            {
                                                <li><span>Commodity</span> <span class="text-info">@Model.ProductInformation.OBSCommodity.Commodity</span></li>
                                            } @if (Model.ProductInformation.OBSSubCommodity != null)
                                            {
                                                <li><span>Sub commodity</span> <span class="text-info">@Model.ProductInformation.OBSSubCommodity.SubCommodity</span></li>
                                            }
                                            @if (Model.ProductInformation.OBSUOM.UOM != null)
                                            {
                                                <li><span>UOM</span> <span class="text-info">@Model.ProductInformation.OBSUOM.UOM</span></li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.ProductInformation.Repairable))
                                            {
                                                <li><span>Repairable</span> <span class="text-info"> @Model.ProductInformation.Repairable</span></li>
                                            }  @if (Model.ProductInformation.AvailableQuantity != null)
                                            {
                                                <li><span>Available quantity</span> <span class="text-info">@Model.ProductInformation.AvailableQuantity</span></li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.ProductInformation.OtherManufacturer))
                                            {
                                                <li><span>Manufacturer</span> <span class="text-info">@Model.ProductInformation.OtherManufacturer</span></li>
                                            }
                                            @if (Model.ProductInformation.ManufacturingDate != null)
                                            {
                                                <li><span>Manufacturing Date:</span> <span class="text-info">@Model.ProductInformation.ManufacturingDate</span></li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.ProductInformation.UsedEquipmentOrApplication))
                                            {
                                                <li>
                                                    <span>
                                                        Used For Specific
                                                        Equipment/Application:
                                                    </span> <span class="text-info">@Model.ProductInformation.UsedEquipmentOrApplication</span>
                                                </li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.ProductInformation.CertificatesOrDataSheet))
                                            {
                                                <li>
                                                    <span>
                                                        Certificates (MTC, MSDS,
                                                        PTC,DPT)/ DATA SHEET:
                                                    </span> <span class="text-info">@Model.ProductInformation.CertificatesOrDataSheet</span>
                                                </li>
                                            }
                                            @if (Model.ProductInformation.Age != null)
                                            {
                                                <li><span>Age</span> <span class="text-info">@Model.ProductInformation.Age</span></li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Condition))
                                            {
                                                <li><span>Condition:</span> <span class="text-info">@Model.Condition</span></li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.ProductInformation.ProductLocation))
                                            {
                                                <li><span>Material Location:</span> <span class="text-info">@Model.ProductInformation.ProductLocation</span></li>

                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Shipping and returns
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        @Html.Raw(ViewBag.Shipping_Returns)
                                        <table>
                                            <tbody>
                                                @if (Model.ProductInformation.ProductDocument != null)
                                                {
                                                    foreach (string a in Model.ProductInformation.ProductDocument.Split(','))
                                                    {

                                                        if (!string.IsNullOrEmpty(a))
                                                        {
                                                            <tr>

                                                                <td> <b><a href="~/Content/UploadData/UploadImages/@a" target="_blank">@a</a></b></td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Product Files & Documents
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">

                                        <table>
                                            <tbody>
                                                @if (Model.ProductInformation.ProductDocument != null)
                                                {
                                                    foreach (string a in Model.ProductInformation.ProductDocument.Split(','))
                                                    {

                                                        if (!string.IsNullOrEmpty(a))
                                                        {
                                                            <tr>

                                                                <td> <b><a href="~/Content/UploadData/UploadImages/@a" target="_blank">@a</a></b></td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.ProductInformation.ShowInMap == true)
{
    <div class="map-wrap">
        <style>
            .map-wrap {
                height: 300px;
            }

            #map {
                height: 300px;
                width: 100%
            }
        </style>

        <div id="map">
            @*<div id="gmap"></div>
                <div id="controls"></div>*@
        </div>


    </div>
}
<div class="related-product">
    <div class="container">
        <h2>Related products</h2>
        <div class="row">
            @foreach (var itm in Productlist)
            {
                <div class="col-lg-3 col-md-6 mb30">
                    <div class="product_item">
                        <div class="product_Thumb bg-image" style="background-image: url('@(itm.ProductInformation.ProductImg[0])')">
                            <a href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId, title = ps.haweya.win.obs.web.Controllers.HelperTools.GenerateSlug(itm.ProductInformation.ProductTitle) })"></a>
                        </div>
                        <div class="product_text">
                            <span class="product-cat">
                                <a href="@Url.Action("Index", "ProductDetails", new { id = itm.ProductInformation.Category })">@(new ps.haweya.win.obs.business.Managers.CategoryManager().GetByid(Model.ProductInformation.Category).CategoryName)</a>
                            </span>
                            <h3><a href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId, title = ps.haweya.win.obs.web.Controllers.HelperTools.GenerateSlug(itm.ProductInformation.ProductTitle) })">@itm.ProductInformation.ProductTitle</a> </h3>



                            @if (itm.ProductInformation.PricingType != "Auctionable")
                            {
                                if (itm.ProductInformation.Quantity == "0" || itm.ProductInformation.AvailableQuantity == 0)
                                {
                                    <input type="button" value="Sold Out" class="readmore" />
                                }
                                else
                                {
                                    <input type="button" id="submitcart1" value="Add to Cart" data-id="@itm.ProductId" data-baseprice="@itm.ProductInformation.UnitPrice" class="submitcartdetails readmore" />
                                }
                            }
                            else
                            {
                                if (itm.ProductInformation.BidStartDate != null && itm.ProductInformation.BidStartDate.Value <= DateTime.Now && itm.ProductInformation.DeadLine >= DateTime.Now)
                                {
                                    <input type="button" id="placebid1" value="Place a Bid" myid="@itm.ProductId" class="placebid readmore" />
                                }
                                else
                                {
                                    if (itm.ProductInformation.BidStartDate != null && itm.ProductInformation.BidStartDate.Value > DateTime.Now)
                                    {
                                        <label class="readmore">Comming Soon</label>
                                    }
                                    else
                                    {
                                        <label class=" readmore ">Closed</label>
                                    }


                                }

                            }

                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
<input type="hidden" id="long_name" value="@ViewBag.BuyerCountryName" />
<input type="hidden" id="short_name" />
<input type="hidden" id="street_number" />
<input type="hidden" id="route" />
<input type="hidden" id="city" />
<input type="hidden" id="PostalCode" />
<input type="hidden" id="StateOrProvinceCode" />

<input type="hidden" id="lat" />
<input type="hidden" id="lng" />
@section scripts{
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8KE5GHnuuuVbgAw5DT-zdWMe6bU5EH3Y&callback=initMap">
    </script>
    <script src="~/Content/Js/easyload.js"></script>
    <script>
        $('.easyload').easyload();
            $(document).on("click", ".btnclose", function () {

                 $("#mdladdtocart").modal("hide");
            });
        $(document).on("click", ".submitcartdetails", function () {

                var qty=$("#Qty").val();
                //var id = $(this).attr("myid");
         var id = this.dataset.id;
         var baseprice = this.dataset.baseprice;



         $.post("@Url.Action("Add", "cart")", { ItemId:id,Quantity:qty,UnitPrice:baseprice}, function (result) {

                    updatecartcount(result.count, result.totalprice);

                        if (result.message.indexOf("e:") != -1) {
                            $("#mdladdtocartbefor").modal();
                            return false;
                        }

                    else {
                        $("#mdladdtocart").modal();
                        return false;
                    }
                })
                return false;
            });
            @*$(document).on("click", ".submitcart", function () {

                var qty=$("#Qty").val();

                if (qty==""|| qty==0)
                { alert("enter your quantity please");

                }else if(qty<0){alert("enter valid quantity please");}
            else if( qty <= (@Model.ProductInformation.AvailableQuantity))
                {

                            $.get("@Url.Action("AddtoCart")?ProductID=@Model.ProductId"+"&Qty="+qty, function (result) {

                                updatecartcount(result.count);
                                ShowMessage(result.message);
                                $("#mdladdtocart").modal();
        });

                }else if(qty > (@Model.ProductInformation.AvailableQuantity)){
                    alert("not avilable in stock");
                }
                return false;
            });*@

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
        var geocoder;
        var lat;
        var long;
        function showPosition(position) {


            var map1;
            var marker2;
            var marker3;
            console.log(position);
            //alert("Latitude: " + position.coords.latitude +
            //    "<br>Longitude: " + position.coords.longitude);
             lat = position.coords.latitude;
            long = position.coords.longitude;
            $("#lat").val(position.coords.latitude);
            $("#lng").val(position.coords.longitude);


        }

        getLocation();





            function initMap() {
                // Map options
                var options = {
                    zoom: 6,
                    center: { lat: @Model.lat, lng: @Model.lon }
                }

                // New map
                var map = new google.maps.Map(document.getElementById('map'), options);

                            addMarker({ coords: { lat: @Model.lat, lng: @Model.lon }, iconImage: null  , content: "@Html.Raw("<img src='" + Model.ProductInformation.ProductImg[0] + "?w=250" + "' alt='" + ps.haweya.win.obs.web.Controllers.HelperTools.GenerateSlug(Model.ProductInformation.ProductTitle) + "'/><br/><p style='width:250px'><a href='/ProductDetails/Details/" + Model.ProductId + "/" + ps.haweya.win.obs.web.Controllers.HelperTools.GenerateSlug(Model.ProductInformation.ProductTitle) + "'><b>" + ps.haweya.win.obs.web.Controllers.HelperTools.GenerateSlug(Model.ProductInformation.ProductTitle) + "</b></a></p>")"});


                function addMarker(props) {

                    console.log(props);
                    var marker = new google.maps.Marker({
                        position: props.coords ,
                        map: map,
                        //icon:props.iconImage
                    });

                    // Check for customicon
                    if (props.iconImage) {
                        // Set icon image
                        marker.setIcon(props.iconImage);
                    }

                    // Check content
                    if (props.content) {
                        var infoWindow = new google.maps.InfoWindow({
                            content: props.content
                        });

                        marker.addListener('click', function () {
                            infoWindow.open(map, marker);
                        });
                    }
                }

        @*if ("@ViewBag.BuyerCountryName"=="-1")
{*@
    geocoder = new google.maps.Geocoder();
            console.log($("#lat").val() + "," + $("#lng").val());
    geocoder.geocode({
        'latLng': {
            lat: parseFloat($("#lat").val()),
            lng: parseFloat($("#lng").val())
            //  lat: parseFloat(21.477182),
            //lng: parseFloat(39.1781663)
        }
    }, function(results, status) {
        if (status ==
            google.maps.GeocoderStatus.OK) {
            console.log(google.maps.GeocoderStatus.OK);
            console.log(results);
            if (results[1]) {
                console.log(results[1]);
                console.log(results[1].address_components.find(({ types }) => types[0] == "country"));
                $("#long_name").val(results[1].address_components.find(({ types }) => types[0] == "country").long_name);
                $("#short_name").val(results[1].address_components.find(({ types }) => types[0] == "country").short_name);
                if (results[1].address_components.find(({ types }) => types[0] == "street_number"))
                    $("#street_number").val(results[1].address_components.find(({ types }) => types[0] == "street_number").long_name);
                if (results[1].address_components.find(({ types }) => types[0] == "route"))
                    $("#route").val(results[1].address_components.find(({ types }) => types[0] == "route").long_name);
                if (results[1].address_components.find(({ types }) => types[0] == "locality"))
                    $("#city").val(results[1].address_components.find(({ types }) => types[0] == "locality").long_name)
               // alert($("#route").val() + "&" + $("#street_number").val() + "&" + $("#city").val() + "&" + $("#long_name").val() + "&" + $("#short_name").val());


                $.ajax({
                    url: "@Url.Action("checkaddresscooke", "ProductDetails")",
                    dataType: 'json',
                    type: 'POST',
                    data: {
                        StreetLines: $("#route").val() + " " + $("#street_number").val(),
                        City: $("#city").val(),
                        StateOrProvinceCode: $("#StateOrProvinceCode").val(),
                        PostalCode: $("#PostalCode").val(),
                        CountryCode: $("#short_name").val(),
                        CountryName: $("#long_name").val(),
                    }
                    , success: function (result) {

                        if (result.status == 0) {
                            alert('Geocoder failed due to: ' + status);
                        }
                        else {

                            console.log(result);
                            $("#long_name").val(result.address.CountryName);

                            shipping();
                        }
                    }
                    });
            } else {
                alert('No results found');
            }
        } else {
           // alert('Geocoder failed due to: ' + status);
        }
    });
                //}

                //console.log("StreetLines:"+ $("#route").val() + " " + $("#street_number").val()+"/"+
                //    "City:" + $("#city").val()+"/" +
                //" StateOrProvinceCode:" + $("#StateOrProvinceCode").val()+"/" +
                //"PostalCode:" + $("#PostalCode").val()+"/" +
                //"CountryCode:" + $("#short_name").val()+"/" +
                //    "CountryName:"+ $("#long_name").val())

               // shipping();
        }

        function shipping() {


                        $.get("@Url.Action("DHLShippingtest",new { id= Request.RequestContext.RouteData.Values["id"] })?qty=" + $("#Qty").val(), function (data) {

                            var result = JSON.parse(data.result);
                            console.log(result);
                            console.log(result.RateResponse.Provider[0].Notification[0].message);
                            console.log(result.RateResponse.Provider[0].Service[0].TotalNet.Amount);
                            if (data.status == 1 && result.RateResponse.Provider[0].Notification[0].message == null)
                                $("#shippingdiv").html("<b> Shipping to : </b>" + ("@ViewBag.BuyerCountryName" == "-1" ? $("#long_name").val():"@ViewBag.BuyerCountryName") + " " + result.RateResponse.Provider[0].Service[0].TotalNet.Amount + " " + result.RateResponse.Provider[0].Service[0].TotalNet.Currency)



                        });

        };
        $(document).ready(function () {
            if ("@ViewBag.BuyerCountryName" != "-1")


                shipping();
        })

    </script>



    <script>
    @*$(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Create")",
            /* jQuery will not send JSON unless you explicitly tell it to */
            data: JSON.stringify({ "firstName": "Some Name", "lastName": "Some Last Name", "age": "30" }),
            /* contentType is important for MVC to be able to unpack the json */
            contentType: 'application/json',
            accept: 'application/json',
        }).done( function(data) {
            /* this callback gets used when successful */
            console.log("response: " + data);
        }).fail(function (jqxhr, status, error) {
            /* for debugging: this callback gets used in case of errors */
            console.log("error :" + error);
        }).always(function () {
            /* for debugging: this callback always gets called at the end either way*/
            console.log("complete");
        });
    });*@


        $(".btnshipingdetailstest").click(function () {
            var id = @Request.RequestContext.RouteData.Values["id"];
            console.log(id);
            $.get("@Url.Action("DHLShippingtest",new { id= Request.RequestContext.RouteData.Values["id"] })?qty=" + $("#Qty").val(), function (data) {

                console.log(data);
                var result = JSON.parse(data.result);
                console.log(result);
                console.log(result.RateResponse.Provider.Notification[0].message);
                console.log(RateResponse.Provider.Service.TotalNet.Amount);
                if (data.status == 1 && data.result.RateResponse.ProviderNotification[0].message == null)
                    $("#shippingdiv").val("Shipping to " + $("#long_name").val() + " " +result. RateResponse.Provider.Service.TotalNet.Amount + " " + result.RateResponse.Provider.Service.TotalNet.Currency)


            });
        })
        $(".btnshipingdetails").click(function () {

//            var settings = {
//    "crossDomain": true,
//  "url": "https://wsbexpress.dhl.com/rest/sndpt/RateRequest",
//  "method": "POST",
//  "timeout": 0,
//                "headers": {

//    "Content-Type": "application/json",
//      "Authorization": "Basic d2luU0E6RSQwcFokOGxHITZ3",

//  },
//  "data": JSON.stringify({"RateRequest":{"ClientDetails":null,"RequestedShipment":{"DropOffType":"REGULAR_PICKUP","NextBusinessDay":"N","Ship":{"Shipper":{"StreetLines":"River House","City":"Riyadh","PostalCode":"","CountryCode":"SA"},"Recipient":{"StreetLines":"Main Street","City":"Dubai","PostalCode":"","CountryCode":"AE"}},"Packages":{"RequestedPackages":{"@@number":"1","Weight":{"Value":0.5},"Dimensions":{"Length":1,"Width":1,"Height":1}}},"ShipTimestamp":"2020-07-16T13:00:00GMT+00:00","UnitOfMeasurement":"SI","Content":"NON_DOCUMENTS","PaymentInfo":"DAP","Account":"961230867"}}}),
//};

//$.ajax(settings).done(function (response) {
//  console.log(response);


            @*$.get("@Url.Action("DHLShipping",new { id=1})", function (data) {


            })*@
});


      //  })

    </script>




}
