﻿@model ShippingDataViewModel

@{
    ViewBag.Title = "End Order ";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    
}
@section styles{
    <style>
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 36px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 36px;
        }

        .select2-container .select2-selection--single {
            height: 39px;
        }
    </style>
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Checkout</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="checkout-step">
    <div class="container">
        <div class="row step-nav">
            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>01</span> Login</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk last">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>02</span> Address</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-address-card"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>03</span> Payment</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>04</span> Finish</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_msg")
<div class="wrapper">

    <div class="container">
        <div class="row checkout-wrap">
            <div class="col-md-6 offset-md-3">
                <div class="step-form step-address">
                    <div class="step-form-title">
                        <h3>Shipping address</h3>
                    </div>
                    @using (Html.BeginForm("EndOrdershippingData", "ProductDetails", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <i class="fa fa-user"></i>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First name" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <i class="fa fa-user"></i>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last name" })

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.CountryID, new { @class = "form-control selectpicker", autocomplete = "off", id = "Country" })
                            @*<input type="hidden" name="CountryName" id="CountryName" />*@
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.StateID, new { @class = "form-control selectpicker", autocomplete = "off", id = "State", placeholder = "Enter state", @readonly = "readonly" })
                            @*<input type="hidden" name="StateName" id="StateName" />*@
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.CityID, new { @class = "form-control selectpicker", autocomplete = "off", id = "City", placeholder = "Enter city", @readonly = "readonly" })
                                    @*<input type="hidden" name="CityName" id="CityName" />*@
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", placeholder = "ZIP code" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <i class="fa fa-map-marker-alt"></i>
                            @Html.TextBoxFor(m => m.FirstAddress, new { @class = "form-control", placeholder = "Street Address1" })

                        </div>
                        <div class="form-group">
                            <i class="fa fa-map-marker-alt"></i>
                            @Html.TextBoxFor(m => m.SecondAddress, new { @class = "form-control", placeholder = "Street Address2" })

                        </div>
                        <div class="form-group">
                            <i class="fa fa-phone"></i>
                            @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", placeholder = "Mobile" })

                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(x => x.IsPrimary, new { @class = "custom-control-input", id = "IsPrimary" })
                                <label class="custom-control-label" for="IsPrimary"> Set Primary</label>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" id="submitbtn" class="btn btn-warning text-uppercase">Add Address</button>
                            <a href="@Url.Action("BuyerAddresses")" class="btn btn-outline-warning text-uppercase">Cancel</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script src="~/content/js/CountrySelect/CountryStateAndCityScripts.js"></script>
    <script>

        function getcountryname(id) {
            $.ajax({
                url: '/content/js/JsonData/countries.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            $("#CountryName").val(item.name);
                            console.log($("#CountryName").val());
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };

        function getStateame(id) {
            $.ajax({
                url: '/Content/Js/JsonData/states.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            $("#StateName").val(item.name);
                            console.log($("#StateName").val());
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };
        function getCityname(id) {
            $.ajax({

                url: '/Content/Js/JsonData/cities.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            $("#CityName").val(item.text);
                            console.log($("#CityName").val());
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };
        $("#submitbtn").click(function () {
            getcountryname($("#Country").val());
            getStateame($("#State").val());
            getCityname($("#City").val());
        })
    </script>
}
