﻿@using ps.haweya.win.obs.business.Managers;
@model VisaDataViewModel

@{
    ViewBag.Title = "End Order";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    var counter = 0;

    var banklist = ViewBag.banklist as IEnumerable<BankAccountViewModel>;
    var Order = ViewBag.Order as BuyerOrderViewModel;
    double vatvalue = Order.VatValue ?? 0;
    string vattext = Order.VatText;
    double totalprice = Order.CartItems.Sum(x => (x.Qty * x.ProductInformation.UnitPrice)+x.ShippingValue)??0;
    double subtotal = Order.CartItems.Sum(x => (x.Qty * x.ProductInformation.UnitPrice) ) ?? 0;
    var Mycurrency = TempData["maincurrency"] as CurrencyViewModel;
    
    if (TempData["cookiecurrency"] != null)
    {
        Mycurrency = TempData["cookiecurrency"] as CurrencyViewModel;
    }
}
@section styles{

    @*<link href="~/Content/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />*@
    <link href="~/Content/MonthPicker/MonthPicker.min.css" rel="stylesheet" />
    <link href="~/Content/MonthPicker/examples.css" rel="stylesheet" />
    @*<style>
            .ui-datepicker-calendar {
                display: none;
            }
        </style>*@
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Checkout</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="checkout-step">
    <div class="container">
        <div class="row step-nav">
            <div class="col-md-3 col-sm-6">
                <div class="step-blk last">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>01</span> Login</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk last">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>02</span> Address</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-address-card"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>03</span> Payment</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>04</span> Finish</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_msg")
<div class="wrapper">
    <div class="container">
        <div class="row checkout-wrap">
            <div class="col-md-12">

                <div class="win-checkout">
                    <h3>Payment</h3>

                    @using (Html.BeginForm("EndOrderVisaData", "ProductDetails", FormMethod.Post, new { @class = "form-horizontal payment-form", role = "form", enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-md-9">
                                @Html.AntiForgeryToken()

                                <input type="hidden" value="@Order.ID" id="OrderID" name="OrderID" />
                                <div class="form-group">

                                    <div class="row paymentMethod">
                                        <div class="col-md-6">
                                            <input type="radio" name="payment_method" id="radio_bank" value="bank" checked />
                                            <label class="btn btn-block" for="radio_bank">
                                                Money Transfer
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="radio" name="payment_method" id="radio_card" value="card" />
                                            <label class="btn btn-block" for="radio_card">
                                                Card Payment
                                            </label>
                                        </div>

                                    </div>
                                </div>

                                <div class="card-inputs">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Card Holdr Name</label>
                                                @Html.TextBoxFor(m => m.CardHolderName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.CardHolderName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Card number</label>
                                                @Html.TextBoxFor(m => m.VisaNO, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.VisaNO, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Expiryday, new { @class = "control-label" })

                                                @Html.TextBoxFor(m => m.Expiryday, new { @class = "form-control datepicker", id = "NoIconDemo" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.CCV, new { @class = "control-label" })

                                                @Html.TextBoxFor(m => m.CCV, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.CCV, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="Bank-inputs">
                                    <div class="row">
                                        @foreach (var bank in banklist)
                                        {
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <table width="100%" class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2">
                                                                    <img class="d-block mx-auto" src="/Content/uploaddata/UploadImages/Bank/@bank.Logo" height="100px" />
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>


                                                            <tr>
                                                                <td>Account Name </td>
                                                                <td>@bank.Name</td>
                                                            </tr>

                                                            <tr>
                                                                <td> Account NO </td>
                                                                <td>@bank.No</td>
                                                            </tr>

                                                            <tr>
                                                                <td> IbAN </td>
                                                                <td>@bank.IBAN</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="checkout-review-order">
                                    <h3>Cart total</h3>
                                    <div class="cart-totals">
                                        <table class="table shop-table">
                                            <tbody>
                                                <tr>
                                                    <td>Subtotal</td>
                                                    <td class="text-right">@(String.Format("{0:n}", subtotal / Mycurrency.RateToRiyal)) @Mycurrency.Sign</td>
                                                </tr>
                                                <tr>
                                                    <td>Shipping</td>
                                                    <td class="text-right" id="shippingdiv">
                                                        @if (ViewBag.shippingvalue != null)
                                                        {@(String.Format("{0:n}", ViewBag.shippingvalue)) @Mycurrency.Sign }
                                                        else {
                                                           @("contact WIN")
                                                                }
                                                                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Inspection</td>
                                                    <td class="text-right">contact WIN</td>
                                                </tr>
                                                <tr>
                                                    <td>Vat</td>
                                                    <td class="text-right">@(String.Format("{0:n}", ((totalprice * vatvalue)/Mycurrency.RateToRiyal))) @Mycurrency.Sign</td>
                                                </tr>

                                                @* <tr>
                                                        <td colspan="2">
                                                            <label for="cbxinspection">
                                                                Need Inspection
                                                            </label>

                                                            <div class="alert alert-info" id="inspectiondiv"> we well send the value to your email</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">

                                                            <label for="cbxDelivery">
                                                                Need Delivery
                                                            </label>
                                                            <div class="alert alert-info" id="deliverydiv"> we well send the value to your email</div>
                                                        </td>

                                                    </tr>*@
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="alert alert-warning">
                                                            No return of money or material
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tr>
                                                <th>Total</th>
                                                <th class="text-right text-warning">@(String.Format("{0:n}",(totalprice + (totalprice * vatvalue))/Mycurrency.RateToRiyal)) @Mycurrency.Sign</th>
                                            </tr>

                                        </table>
                                    </div>

                                    <div class="address-details order-shipping mb15">
                                        <div class="row order-shipping-title">
                                            <div class="col-md-7">
                                                <h3>Shipping to</h3>
                                            </div>
                                            <dv class="col-md-5">
                                                <a href="@Url.Action("BuyerAddresses",new {OrderID=Request.QueryString["OrderID"]})" class="text-warning text-uppercase">Edit</a>
                                            </dv>
                                        </div>
                                        @foreach (var itm in ViewBag.ShippingItems as IEnumerable<ShippingDataViewModel>)
                                        {

                                            <div class="address-head">
                                                <a href="#" class="text-info">@itm.FirstName &nbsp; @itm.LastName</a>
                                                <p>@itm.MobileNo</p>
                                            </div>
                                            <p>
                                                @itm.FirstAddress, <label id="lblcity_@counter" class="lblcity_@counter" myid="@itm.CityID"></label> @itm.CityName,<label id="lblstate_@counter" class="lblstate_@counter" myid="@itm.StateID"></label> @itm.StateName ,<label id="lblcountry_@counter" class="lblcountry_@counter" myid="@itm.CountryID"></label>@itm.CountryName

                                            </p>
                                            counter++;
                                        }
                                    </div>
                                    <div class="place-oder-btn">
                                        <button type="submit" class="btn btn-warning btn-block text-uppercase">
                                            place order
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    }
                </div>


            </div>



        </div>
    </div>
</div>
@section Scripts {

    <script src="~/Content/MonthPicker/examples.js"></script>
    <script src="~/Content/MonthPicker/MonthPicker.min.js"></script>
    <script>

    $(document).ready(function () {

            @*if ("@ViewBag.BuyerCountryName" != "-1")

                shipping();*@

        $("#cbxDelivery").change(function () {
            $("#deliverydiv").hide();

            if (this.checked) {
                $("#deliverydiv").show();
            }

        });
           $("#cbxinspection").change(function () {
              $("#inspectiondiv").hide();

            if(this.checked) {
                $("#inspectiondiv").show();
            }

        })
          function getcountryname(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/countries.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            $("." + selector).text(item.name);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };

         function getStateame(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/states.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            $("." + selector).text(item.name);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
                 };
        function getCityname(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/cities.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            $("." + selector).text(item.text);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };

        var counter=@counter;
        for (var i = 0; i < counter; i++) {
            var Cityid = $("#lblcity_" + i).attr("myid");
            var selectorcity = "lblcity_" + i;
            getCityname(Cityid, selectorcity);

             var Stateid = $("#lblstate_" + i).attr("myid");
            var selectorstate = "lblstate_" + i;
            getStateame(Stateid, selectorstate);
              var Countryid = $("#lblcountry_" + i).attr("myid");
            var selectorcountry = "lblcountry_" + i;
            getcountryname(Countryid, selectorcountry);
        }

          @*function shipping() {
            var obj=[];
             $.get("@Url.Action("GetCartjson",new { Orderid = Model.ID})", function (res) {

            var lstitems = [];
            var currency = "";

                 var total = 0;
                 $.each(res, function (i, item) {
                console.log(item.ItemId);

                $.get("@Url.Action("DHLShippingtest", "ProductDetails")?id=" + item.ItemId + "&qty=" + item.Quantity, function (data) {

                    var result = JSON.parse(data.result);
                    console.log(result);
                    console.log(result.RateResponse.Provider[0].Notification[0].message);
                    console.log(result.RateResponse.Provider[0].Service.find(({ type }) => type[0] == "N").TotalNet.Amount);
                    if (data.status == 1 && result.RateResponse.Provider[0].Notification[0].message == null) {
                        total += result.RateResponse.Provider[0].Service.find(({ type }) => type[0] == "N").TotalNet.Amount;//lstitems.push(result.RateResponse.Provider[0].Service.find(({ type }) => type[0] == "P").TotalNet.Amount);
                        console.log(lstitems);
                        if (currency == "")
                            currency = result.RateResponse.Provider[0].Service.find(({ type }) => type[0] == "N").TotalNet.Currency;
                        console.log(currency + "_" + total + "_" +@Mycurrency.RateToRiyal);

                        total=(total/@Mycurrency.RateToRiyal);
                        $("#shippingdiv").html(total + " " + (currency == "SAR" ? "@Mycurrency.Sign" : currency));
                        var totalvat =@((String.Format("{0:n}", (Order.CartItems.Sum(x => x.Qty * x.ProductInformation.UnitPrice) + Order.CartItems.Sum(x => x.Qty * x.ProductInformation.UnitPrice) * vatvalue) / Mycurrency.RateToRiyal)))

                            $("#totalwithvat_cart").html(total + totalvat + "@Mycurrency.Sign");
                    }
                });
            });




                });


            };*@

    })


    </script>
}

