﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    var list = ViewBag.ManufacturersList as IEnumerable<ManufacturersHomeData_ResultViewModel>;
    var categorylist = ViewBag.Categories as List<CategoryHomeData_ResultViewModel>;
    var Productlist = ViewBag.ProductList as List<ProductDetailViewModel>;
    var FavoriteList = ViewBag.UserFavorite as List<long>;
    var Condetionlist = ViewBag.Condetions as IEnumerable<Conditiontohome_ResultViewModel>;
    var AllCategories = ViewBag.Categories as List<CategoryHomeData_ResultViewModel>;
     var Mycurrency = TempData["maincurrency"] as CurrencyViewModel;

    if (TempData["cookiecurrency"] != null)
    {
         Mycurrency = TempData["cookiecurrency"] as CurrencyViewModel;
    }
}

@section styles{
    <style>
        .btn-search {
            /* border-right: 1px solid #5480c1; */
            /* background: none; */
            /* border: 1px solid #eee; */
            /* background: #7882c1; */
            padding: 14px !important;
            /* border-top: 1px solid #5480c1; */
            border: 1px solid #5480c1;
        }

            .btn-search:hover, .btn-search:focus {
                border: none;
                background: none
            }

        .home-page {
            background-color: #f4f4f4;
        }


        .Pager b {
            display: none;
        }

        .Pager {
            margin-top: 20px;
        }

            .Pager span {
                margin-right: 3px;
                position: relative;
                display: block;
                padding: .5rem .75rem;
                margin-left: -1px;
                line-height: 1.25;
                /*border: 1px solid #f4a32d !important;
        background-color: #f4a32d;
        color: #fff;*/
                border: 1px solid #5580BF !important;
                background-color: #5580BF;
                color: #fff;
            }

            .Pager a {
                margin-right: 3px;
                position: relative;
                display: block;
                padding: .5rem .75rem;
                margin-left: -1px;
                line-height: 1.25;
                /*color:#f4a32d!important;
        background-color: #fff;
        border: 1px solid #f4a32d !important;*/
                color: #5580BF !important;
                background-color: #fff;
                border: 1px solid #fff !important;
            }
    </style>
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Products</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Products</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
@*@Html.Partial("_msg")*@
<div class="wrapper" id="Listcontent">
    <div class="container" style="background-color:#f4f4f4">
        <div class="row">
            <div class="col-md-3">
                <div class="filter-widget">
                    <div class="widget-head">
                        <h3 class="text-uppercase">
                            <i class="fa fa-bars"></i>
                            Filter by Categories
                        </h3>
                    </div>
                    <div class="widget-cats entry-widget">
                        <ul class="list-unstyled  m-0 categorylist">
                            @if (AllCategories.Count() > 0)
                            {
                                @BuildTree(AllCategories, AllCategories.OrderBy(x => x.CategoryName).Where(t => t.ParentId == null).ToList(), 0)
                            }
                        </ul>
                        <a class="more-cats" href="#">All Categories</a>
                    </div>
                </div>

                <div class="filter-widget">
                    <div class="widget-head">
                        <h3 class="text-uppercase">
                            <i class="fa fa-bars"></i>
                            Sort by Manufacturer
                        </h3>
                    </div>
                    <div class="filter-inner" style="height:250px;overflow-y:scroll">
                        <div class="search-brand">
                            <form action="">
                                <div class="input-field">
                                    <input type="text" class="form-control" placeholder="Brands" aria-label="" id="serchmanufactuertxt" aria-describedby="basic-addon1">
                                    <button type="submit" id="serchmanufactuerbtn"><i class="fa fa-search"></i> </button>
                                </div>
                            </form>
                        </div>
                        <div id="ManufacturerFilter">
                            @if (ViewBag.ManufacturersList != null)
                            {
                                foreach (var itm in list)
                                {
                                                                       <div class="custom-control custom-checkbox ">
                                        <input type="checkbox" class="custom-control-input" id="check_@(itm.ManufacturersId)" name="check_@(itm.ManufacturersId)" @(!string.IsNullOrEmpty(Request.QueryString["manufacturid"])==true&&itm.ManufacturersId==Convert.ToInt32(Request.QueryString["manufacturid"])?"checked":"")>
                                        <label class="custom-control-label" for="check_@(itm.ManufacturersId)">@itm.ManufacturersName <small>(@itm.ProductCount)</small></label>
                                    </div>
                                }
                            }
                        </div>


                    </div>
                </div>

                <div class="filter-widget">
                    <div class="widget-head">
                        <h3 class="text-uppercase">
                            <i class="fa fa-bars"></i>
                            Filter by  Condition
                        </h3>
                    </div>
                    <div class="filter-inner entry-widget h-250">

                        <div id="condtionlistselect">

                            <div class="custom-control custom-checkbox ">
                                <input type="radio" class="custom-control-input" id="check_AllCondition" name="check_AllCondition" value="All">
                                <label class="custom-control-label" for="check_AllCondition">All </label>
                            </div>
                            <div class="custom-control custom-checkbox ">
                                <input type="radio" class="custom-control-input" id="check_NewCondition" name="check_AllCondition" value="New">
                                <label class="custom-control-label" for="check_NewCondition">New </label>
                            </div>
                            <div class="custom-control custom-checkbox ">
                                <input type="radio" class="custom-control-input" id="check_GoodCondition" name="check_AllCondition" value="Good">
                                <label class="custom-control-label" for="check_GoodCondition">Good </label>
                            </div>


                        </div>
                    </div>


                </div>

                @*<div class="filter-widget">

                        <select class="selectpicker form-control" id="condtionlistselect" title="Filter by Condition">
                            <option value="">All</option>
                            <option value="New">New</option>
                            <option value="Good">Good</option>
                        </select>
                    </div>*@
                @*<div class="filter-widget">
                        <div class="widget-head">
                            <h3 class="text-uppercase">
                                <i class="fa fa-bars"></i>
                                Filter by Condition
                            </h3>
                        </div>
                        <div class="filter-inner" style="height:250px;overflow-y:scroll">
                            <div id="condtionlistdiv">

                                @foreach (var itm in Condetionlist)
                                {
                                    <div class="custom-control custom-checkbox ">
                                        <input type="checkbox" class="custom-control-input" id="check_@(itm.Condition)" name="check_@(itm.Condition)">
                                        <label class="custom-control-label" for="check_@(itm.Condition)">@itm.Condition <small>(@itm.ProductCount)</small></label>
                                    </div>

                                }
                            </div>


                        </div>
                    </div>*@
                <div class="filter-widget filter-price">
                    <div class="widget-head">
                        <h3 class="text-uppercase">
                            <i class="fa fa-bars"></i>
                            Price range:
                        </h3>
                    </div>
                    <div class="price-slider">
                        <div data-role="main" class="ui-content">
                            @*<p>Price range:</p>*@
                            <div id="slider-range" class="mb20"></div>
                            <form method="post" action="">
                                <label>Price: </label>
                                <input type="text" id="amount" readonly>
                                <button type="submit" id="filterbtn" class="btn-filter">Filter</button>
                            </form>
                        </div>


                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <div class="filter-bar">
                    <div class=" form-inline mb20">
                        @*<div class="form-group mb-2" style="display:none">
                                <select class="selectpicker filterselect" id="filterselect" title=" Filter By Categories">
                                    <option> All Categories</option>
                                    @foreach (var itm in categoryList)
                                    {
                                        <option value="@itm.CategoryId"> @itm.CategoryName</option>
                                    }


                                </select>
                            </div>*@
                        <div class="form-group mb-2 .search-field">
                            <input type="hidden" value="@ViewContext.RouteData.Values["id"]" name="id" id="id" />
                            <input type="text" name="q" id="q" value="@ViewBag.query" class="form-control" placeholder="Product title, Describtion" />
                            <button type="button" class="btn-search searchajxinside "><i class="fa fa-search "></i></button>
                        </div>
                        <div class="form-group mb-2">
                            <select class="selectpicker sorting" id="sorting" title="Sort By">

                                <option value="1">Price low to high</option>
                                <option value="2">Price high to low</option>
                            </select>
                        </div>
                        <div class="form-group mb-2">
                            <select class="selectpicker Viewcount" id="Viewcount" title="Display">
                                <option value="20">20 Items</option>
                                <option value="40">40 Items</option>
                                <option value="100">100 Items</option>
                            </select>
                        </div>
                        <div class="form-group mb-2">
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input checkesfilter" id="DirectCheck" name="DirectCheck" />
                                <label class="custom-control-label" for="DirectCheck">Direct Purchase</label>
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input checkesfilter" id="AuctionCheck" checked="@(!string.IsNullOrEmpty(Request.QueryString["auction"])?true:false)" name="AuctionCheck" />
                                <label class="custom-control-label" for="AuctionCheck">Auction</label>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="auction-list" id="auction-list">
                    <div class="row" id="Productslist">

                        @if (ViewBag.ProductList != null)
                        {
                            foreach (var itm in ViewBag.ProductList as List<ProductDetailViewModel>)
                            {
                                <div class="col-lg-4 col-md-6">
                                    <div class="auction-item">
                                        @*<div class="auction-img bg-image" style="background-image: url(@(itm.ProductInformation.ProductImg[0]))">*@
                                        <div class="auction-img bg-image img-loading" data-img="@(itm.ProductInformation.ProductImg[0]+"?w=295")" style="background-image: url(/Content/FrontEnd/images/giphy.gif)">
                                            @*@*<a href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId,title=ps.haweya.win.obs.web.Controllers.HelperTools.GenerateSlug(itm.ProductInformation.ProductTitle) })"></a>*@
                                            <a href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId,title=ps.haweya.win.obs.web.Controllers.HelperTools.GenerateSlug(itm.ProductInformation.ProductTitle)})">

                                                @if (itm.ProductInformation.DeadLine != null&&itm.ProductInformation.PricingType=="Auctionable")
                                                {
                                                    var deadline = Convert.ToDateTime(itm.ProductInformation.DeadLine);
                                                    <time><span>@deadline.Day</span> @deadline.ToString("MMM"), @deadline.Year</time>
                                                    <div class="auction-rest">

                                                        @if ((deadline - DateTime.Now).TotalMinutes > 0)
                                                        {
                                                            <span>@((deadline - DateTime.Now).Days) day</span>
                                                            <span>@((deadline - DateTime.Now).Hours) Hur</span>
                                                            <span>@((deadline - DateTime.Now).Minutes) Min</span>
                                                        }
                                                    </div>
                                                }
                                            </a>
                                        </div>
                                        <div class="entry-auction">
                                            <div class="auction-info">
                                                <span class="auction-cat"><a href="#">@(new ps.haweya.win.obs.business.Managers.CategoryManager().GetByid(itm.ProductInformation.Category).CategoryName)</a> </span>
                                                <h3><a href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId,title=ps.haweya.win.obs.web.Controllers.HelperTools.GenerateSlug(itm.ProductInformation.ProductTitle) })">@itm.ProductInformation.ProductTitle</a> </h3>
                                                <div class="auction-meta">
                                                    <ul class="list-inline">
                                                        @if (itm.ProductInformation.PricingType != "Auctionable")
                                                        {

                                                            if (itm.ProductInformation.BidCount > 0)
                                                            {
                                                            <li class="list-inline-item"> @(itm.ProductInformation.PricingType.Equals("Auctionable") ? "Bids N0 :" : "")<span class="bidscount_@itm.ProductId">@(itm.ProductInformation.BidCount > 0 ? itm.ProductInformation.BidCount + "" : "")  @(itm.ProductInformation.BidCount > 0 ? "bids" : "")</span></li>
                                                            }
                                                        <li class="list-inline-item">Qty: <span>@itm.ProductInformation.AvailableQuantity item</span></li>
                                                        }
                                                        @if (itm.ProductInformation.PricingType.Equals("Auctionable"))
                                                        {
                                                            if (itm.ProductInformation.ShowBidAmmount == true)
                                                            {
                                                                <li class="list-inline-item">@(itm.ProductInformation.PricingType.Equals("Auctionable") ? "LBA" : "Price"): <span class="lastbidprice_@itm.ProductId">@(String.Format("{0:n}", (itm.ProductInformation.PricingType.Equals("Auctionable") ? itm.ProductInformation.OBSBidDetails.Count() > 0 ? itm.ProductInformation.OBSBidDetails.OrderByDescending(x => x.AddedOn).FirstOrDefault().BidPrice / Mycurrency.RateToRiyal : itm.MinimumSellingPrice / Mycurrency.RateToRiyal : itm.ProductInformation.UnitPrice / Mycurrency.RateToRiyal))) @(Mycurrency.Sign)</span></li>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <li class="list-inline-item">Price: <span class="lastbidprice_@itm.ProductId">@(String.Format("{0:n}", (itm.ProductInformation.UnitPrice))) @(Mycurrency.Sign)</span></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="auction-footer">

                                                <span><i class="@(itm.ProductInformation.ProductLocation != "" && itm.ProductInformation.ProductLocation != null ? "svg-location" : "")"></i>@(itm.ProductInformation.ProductLocation != "" && itm.ProductInformation.ProductLocation != null ? itm.ProductInformation.ProductLocation : "")</span>

                                                <a href="#" myid="@itm.ProductId" class="favitm">

                                                    @if (FavoriteList != null && FavoriteList.Contains(itm.ProductId))
                                                    {
                                                        <i class="fas fa-heart"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="far fa-heart"></i>
                                                    }


                                                </a>
                                                @if (itm.ProductInformation.PricingType != "Auctionable")
                                                {
                                                    if (itm.ProductInformation.Quantity == "0" || itm.ProductInformation.AvailableQuantity <= 0)
                                                    {
                                                        <label class="lbl">Sold Out</label>
                                                    }
                                                    else
                                                    {
                                                        <a class="submitcart " data-id="@itm.ProductId" data-baseprice="@itm.ProductInformation.UnitPrice" href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId })">Add to Cart</a>
                                                    }
                                                }
                                                else
                                                {
                                                    if (itm.ProductInformation.BidStartDate != null && itm.ProductInformation.BidStartDate.Value <= DateTime.Now && (itm.ProductInformation.DeadLine == null || itm.ProductInformation.DeadLine >= DateTime.Now))
                                                    {
                                                        if (!itm.ProductInformation.IsSold)
                                                        {
                                                            <a class="placebid" myid="@itm.ProductId" data-id="@itm.ProductId" href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId })">Place a bid</a>
                                                            @*<a class="placebid" ="@itm.ProductId" data-baseprice="@itm.ProductInformation.UnitPrice" href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId })">Place a bid</a>*@
                                                        }
                                                        else
                                                        {
                                                            if (itm.ProductInformation.OBSBidDetails.Where(t => t.IsSold).FirstOrDefault() != null && itm.ProductInformation.OBSBidDetails.Where(t => t.IsSold).FirstOrDefault().BidPrice != 0)
                                                            {
                                                                <label>Sold At @String.Format("{0:n}", itm.ProductInformation.OBSBidDetails.Where(t => t.IsSold).FirstOrDefault().BidPrice / Mycurrency.RateToRiyal) @(Mycurrency.Sign)</label>
                                                            }
                                                            else
                                                            {
                                                                <label>Sold </label>

                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (itm.ProductInformation.BidStartDate != null && itm.ProductInformation.BidStartDate.Value > DateTime.Now)
                                                        {
                                                            <label class="lbl">Comming Soon</label>
                                                        }
                                                        else
                                                        {
                                                            if (!itm.ProductInformation.IsSold)
                                                            {
                                                                <label class="lbl">Closed</label>
                                                                @*<a class="placebid" ="@itm.ProductId" data-baseprice="@itm.ProductInformation.UnitPrice" href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId })">Place a bid</a>*@
                                                            }
                                                            else
                                                            {
                                                                if (itm.ProductInformation.OBSBidDetails.Where(t => t.IsSold).FirstOrDefault() != null && itm.ProductInformation.OBSBidDetails.Where(t => t.IsSold).FirstOrDefault().BidPrice != 0)
                                                                {
                                                                    <label>Sold At @String.Format("{0:n}", itm.ProductInformation.OBSBidDetails.Where(t => t.IsSold).FirstOrDefault().BidPrice / Mycurrency.RateToRiyal) @(Mycurrency.Sign)</label>
                                                                }
                                                                else
                                                                {
                                                                    <label>Sold </label>

                                                                }
                                                            }
                                                        }


                                                    }

                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }


                    </div>

                </div>

                <div class="Pager pagination"></div>
            </div>
        </div>
    </div>
</div>
@helper BuildTree(List<CategoryHomeData_ResultViewModel> AllCategories, List<CategoryHomeData_ResultViewModel> categories, int level = 0)
{
    foreach (var item in categories)
    {
        <li>
            <a href="@Url.Action("Index", "Home", new { id = item.CategoryId, q = ViewBag.query })"
               class="searchcategory level@(level)"
               myid="@item.CategoryId">
                <span>
                    <img src="/Content/FrontEnd/images/@item.Image" alt="@item.CategoryName" /> @item.CategoryName <small>(@item.ProductCount)</small>
                </span>
                @if (AllCategories.Where(t => t.ParentId == item.CategoryId).Count() > 0)
                {
                    <span class="cat-arrow">
                        <i class="fa fa-angle-down"></i>
                    </span>
                }
            </a>

            @if (AllCategories.Where(t => t.ParentId == item.CategoryId).Count() > 0)
            {
                <ul class="list-unstyled m-0 child-list">
                    @BuildTree(AllCategories, AllCategories.Where(t => t.ParentId == item.CategoryId).ToList(), level + 1)
                </ul>
            }
        </li>
    }
}
@section Scripts{
    <script src="~/Content/FrontEnd/js/ASPSnippets_Pager.min.js"></script>
    <script src="~/Content/Js/easyload.js"></script>
    <script>

                 function ThousandSeparate(val) {
    while (/(\d+)(\d{3})/.test(val.toString())){
      val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
    }
    return val;
}
         (function ($) {

                //FetchImages();
              $('.easyload').easyload();
           $( "#slider-range" ).slider({
                range: true,
                min: @(ViewBag.MinPrice!=null?ViewBag.MinPrice/Mycurrency.RateToRiyal:500),
                max: @(ViewBag.MaxPrice!=null?ViewBag.MaxPrice/Mycurrency.RateToRiyal:500),
                values: [ @(ViewBag.MinPrice!=null?ViewBag.MinPrice/Mycurrency.RateToRiyal:0), @(ViewBag.MaxPrice!=null?(ViewBag.MaxPrice/Mycurrency.RateToRiyal)/2:500) ],
                slide: function( event, ui ) {
                    $( "#amount" ).val( "@Mycurrency.Sign" +ThousandSeparate(ui.values[ 0 ]) + " - @Mycurrency.Sign" + ThousandSeparate(ui.values[ 1 ]) );
                }
            });
            $( "#amount" ).val( "@Mycurrency.Sign " + ThousandSeparate($( "#slider-range" ).slider( "values", 0 )) +
                " - @Mycurrency.Sign " + ThousandSeparate($("#slider-range").slider("values", 1)));
             FetchImages();
             $('#q').autocomplete({
                minLength: 1,
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetSearchProducts","Home")',
                        method: 'post',
                        data: { SearshTest: $("#q").val() },
                        dataType: 'json',
                        success: function (data) {
                            response(data);
                        },
                        error: function (err) {
                            alert(err);
                        }
                    });
                },
                focus: updateTextBox,
                select: updateTextBox
            })
                .autocomplete('instance')._renderItem = function (ul, item) {
                    return $("<li class='autocomplete_li'>")
                        .append("<a href='@Url.Action("Details", "ProductDetails")/" + item.ProductId +"/"+item.ProductTitle.replace(/[^a-zA-Z0-9-_]/g, '')+"'><img class='Autocompleteimg' src='" +item.ProductImage + "' alt=" + item.ProductTitle + "/><span>" + item.ProductTitle + "</span></a>")

                        .appendTo(ul);
                 };
              function updateTextBox(event, ui) {
                $(this).val(ui.item.Name);
                return false;
            }
        })(jQuery);




           $(document).ready(function () {
                $(".Pager").ASPSnippets_Pager({
                ActiveCssClass: "current",
                PagerCssClass: "pager",
                PageIndex:1,
                PageSize: 20,
                RecordCount: @ViewBag.productcount
            });


          })

        $(document).on('click', '.Viewcount', function () {

               binalldata(1);

          })
          $(document).on('click', '.sorting', function () {
               binalldata(1);

          })

        $(document).on('click', '.searchajxinside', function () {
            binalldata(1);
        })

        $(document).on('click', '.Notifybtn', function () {
            var id = $("#AUCTIONID").val();
            $.get("@Url.Action("notifyUser")?id=" + id, function (result) {

                ShowMessage(result.msg);

            }); return false;
        });

        $(document).on('click', '.searchcategory', function () {
            var id = $(this).attr("myid");
            $("#id").val(id);
            $("#q").val("");
             $("#sorting").val(2);
               binalldata();
                    return false;
        })

        $(document).on('change', '.filterselect', function () {
               $("#q").val("");
                  var id = $(this).val();
 $("#id").val(id);
            //location.href = "";
               binalldata();
                    return false;
        })

        $(document).on('click', '.checkesfilter', function () {

               binalldata();

        })

        $(document).on('click', '#serchmanufactuerbtn', function () {
                    bindbrandsmanufactuer();
                    return false;
        })
         $(document).on('click', '#filterbtn', function () {
             binalldata();
                    return false;
        })

        function bindbrandsmanufactuer() {
            $("#ManufacturerFilter").empty();
            $("#ManufacturerFilter").append("<div class='col-md-12' style='text-align:center'><img src='../../Content/FrontEnd/images/loader.gif' /></div>");
            $.get("@Url.Action("GetManufacturersListHomeajax","Home")?manufactuertxt=" + $("#serchmanufactuertxt").val(), function (result) {

                var divcontent = "";

                $.each(result, function (i, itm) {
                    divcontent += "<div class='custom-control custom-checkbox'><input type='checkbox' class='custom-control-input' id='check_" + itm.ManufacturersId + "' name='check_" + itm.ManufacturersId + "'><label class='custom-control-label' for='check_" + itm.ManufacturersId + "'>" + itm.ManufacturersName + " <small>(" + itm.ProductCount + ")</small></label></div>";

                });
                $("#ManufacturerFilter").empty(); $("#ManufacturerFilter").append(divcontent);
            });
        }

         $("body").on("click", ".Pager .page", function () {

            $(this).block({message:'<img src="/Content/FrontEnd/images/loading.gif" height="40" />',css:{backgroundColor:'none',color:'#007bff',border:'none',"padding-top":'0px',"margin-top":'-5px',width:'100%',left:'0',}});
            binalldata(parseInt($(this).attr('page')));
            $(this).unblock();
        });
        function binalldata(pageIndex) {


                var allVal = '';
            $("#ManufacturerFilter  div> input").each(function () {

                var type = $(this).prop("type");
                if (type == "checkbox") {
                    if ($(this).prop("checked")) {
                       var cbxname= $(this).attr('name');
                        allVal += cbxname+ ',';
                    }
                }
            });



            var allcondetionVal = "";
             if ($('#check_NewCondition').prop("checked")) {

                allcondetionVal = $("input[name='check_AllCondition']:checked").val();


            }
               if ($('#check_GoodCondition').prop("checked")) {

                   allcondetionVal = $("input[name='check_AllCondition']:checked").val();

            }
            //$("#condtionlistdiv  div> input").each(function () {

            //    var type = $(this).prop("type");
            //    if (type == "checkbox") {
            //        if ($(this).prop("checked")) {
            //           var cbxname= $(this).attr('name');
            //            allcondetionVal += cbxname+ ',';
            //        }
            //    }
            //});

            var amount = $("#amount").val();

            $("#auction-list").block({ message: '<img src="/Content/FrontEnd/images/loading.gif" height="100" />', overlayCSS: { opacity:0 },css:{backgroundColor:'rgb(255, 255, 255,0.7)',color:'#007bff',border:'none',"padding-top":'0px',"margin-top":'-5px',width:'100%',left:'0',top:'100px!important',height:'100%'}});



           // $("#Productslist").empty(); $("#Productslist").append("<div class='col-md-12' style='text-align:center'><img src='../../Content/FrontEnd/images/loader.gif' /></div>");
            $.get("@Url.Action("ProductListAjax","Home")?id=" + $("#id").val() + "&q=" + $("#q").val()+"&DirectCheck="+$("#DirectCheck").prop("checked")+"&AuctionCheck="+$("#AuctionCheck").prop("checked")+"&allVal="+allVal+"&amount="+amount+"&sorting="+$("#sorting").val()+"&Viewcount="+$("#Viewcount").val()+"&condetion="+allcondetionVal+"&page="+pageIndex, function (result) {
                console.log(result);
                var divcontent = "";
                var count = 0;
                $.each(result.items, function (i, item) {
                    count++;
                    var itmcontent = "";
                    var itmcontent = "<div class='col-lg-4 col-md-6'><div class='auction-item'><div class='auction-img bg-image img-loading'   data-img='" + encodeURI(item.ProductImage) + "' style='background-image: url(/Content/FrontEnd/images/giphy.gif)'>" +
                        "<a href='@Url.Action("Details", "ProductDetails")/" + item.ProductId + "/" + item.ProductTitle.replace(/[^a-zA-Z0-9-_]/g, '') + "'> ";
                    if (item.DeadLine != null)
                                                {
                        var deadline = new Date(moment(item.DeadLine));// (parseInt(item.DeadLine.substring(6, item.DeadLine.length - 2)));
                        //moment(item.DeadLine).format('DD/MM/YYYY hh:mm:ss tt');

                        console.log(item.DeadLine+"_"+deadline);
                            var currentdate = new Date($.now());
                        // get total seconds between the times
var delta =parseFloat(deadline - currentdate) ;

// calculate (and subtract) whole days
var days = parseFloat(delta / 1000 / 60 / 60 / 24);
delta -= days * 86400;

// calculate (and subtract) whole hours
var hours = parseFloat(delta / 3600) % 24;
delta -= hours * 3600;

// calculate (and subtract) whole minutes
var minutes =parseFloat(delta / 60) % 60;
delta -= minutes * 60;

// what's left is seconds
var seconds = delta % 60;  // in theory the modulus is not require
                        itmcontent += "<time><span>" + deadline.getUTCDay() + "</span> " + moment(item.DeadLine).format('MMM')  + " , " + moment(item.DeadLine).format('YYYY') + "</time>" +
                            "<div class='auction-rest'>";

                                                        if (delta > 0)
                                                        {
                                                            itmcontent += "<span>" + parseInt(days) + " day</span>" +
                                                                "<span>" + parseInt(hours) + " Hur</span>" +
                                                                "<span>" + parseInt(minutes) + " Min</span>";
                                                        }
                        itmcontent += "</div>";
                    }
                    itmcontent += "</a><div class='overlay'> </div></div > <div class='entry-auction'>" +
                        "<div class='auction-info'>" +
                        "<span class='auction-cat'><a href='#'>" + item.CategoryName + "</a> </span>" +
                        "<h3  ><a href='@Url.Action("Details", "ProductDetails")/" + item.ProductId + "/" + item.ProductTitle.replace(/[^a-zA-Z0-9-_]/g, '') + "'>" + item.ProductTitle + "</a> </h3>" +
                        "<div class='auction-meta'> <ul class='list-inline'> ";
                     if (item.PricingType != "Auctionable") {
                      itmcontent+=  "<li class='list-inline-item'" + (item.bidscount == "" ? "style='display:none'" : "") + "> " + item.PurchaseTimes + "<span class='bidscount_" + item.ProductId + "'> " + item.bidscount + " " + item.Plabel + "</span></li>" +
                            "<li class='list-inline-item'>Qty: <span>" + item.AvailableQuantity + " item</span></li>";
                    }
                        
                    if (item.ShowBidAmmount) {
                        itmcontent += " <li class='list-inline-item'>" + item.PriceLabel + ": <span class='lastbidprice_" + item.ProductId + "'>" + formatNumber(item.TotalPrice / @Mycurrency.RateToRiyal) + " @(Mycurrency.Sign)</span></li>";
                    }
                        itmcontent+="</ul> </div> </div>" +
                        "<div class='auction-footer'>" +
                        "<span><i class='" + (item.ProductLocation != '' ? 'svg-location' : '') + " '></i>" + item.ProductLocation + "</span>" +
                        "<a href='#'  myid='" + item.ProductId + "' class='favitm'> " + (jQuery.inArray(item.ProductId, result.UserFavorite) !== -1 ? "<i class='fas fa-heart'></i>" : "<i class='far fa-heart'></i>") + " </a>";
                        if(item.PricingType != "Auctionable")
                                        {
                                            if (item.AvailableQuantity <=0)
                                            {
                                                itmcontent += " <label class='lbl'>Sold Out</label> ";
                                            }
                                            else
                                            {
                                                if (item.IsBidSold) {
                                                    if(item.SoldBidPrice!=0)
                                                        itmcontent += "<label class='lbl'>Sold At : " + formatNumber(item.SoldBidPrice / @Mycurrency.RateToRiyal) + " @Mycurrency.Sign</label>";
                                                    else
                                                        itmcontent += "<label class='lbl'>Sold </label>";
                                                }
                                                else {
                                                    itmcontent += "<a class='" + (item.bidscount != '' ? 'placebid' : 'submitcart') + "'  href='@Url.Action("Details", "ProductDetails")?id=" + item.ProductId + "'  data-id='" + item.ProductId + "'   data-baseprice='" + item.TotalPrice + "' myid='" + item.ProductId + "'>" + item.Purchasebtn + "</a>";
                                                }
                                            }
                                        }
                                        else
                                        {
                                             if(item.BidStartDate != null &&moment(item.BidStartDate) <= moment(new Date()) && (item.DeadLine==null||moment(item.DeadLine) >= moment(new Date())))
                                             {

                                                 if (item.IsBidSold) {
                                                    if(item.SoldBidPrice!=0)
                                                        itmcontent += "<label class='lbl'>Sold At : " + formatNumber(item.SoldBidPrice / @Mycurrency.RateToRiyal) + " @Mycurrency.Sign</label>";
                                                    else
                                                        itmcontent += "<label class='lbl'>Sold </label>";
                                                 }
                                                 else {
                                                     itmcontent += "<a class='" + (item.bidscount != '' ? 'placebid' : 'submitcart') + "'  href='@Url.Action("Details", "ProductDetails")?id=" + item.ProductId + "' myid=" + item.ProductId + ">" + item.Purchasebtn + "</a>";
                                                 }
                                            }
                                            else
                                            {
                                                if (item.BidStartDate != null &&  moment(item.BidStartDate) > new Date())
                                                {
                                                    itmcontent += "<label class='lbl'>Comming Soon</label>";
                                                }
                                                else
                                                {

                                                    if (item.IsBidSold)
                                                    {
                                                          if(item.SoldBidPrice!=0)
                                                        itmcontent += "<label class='lbl'>Sold At : " + formatNumber(item.SoldBidPrice / @Mycurrency.RateToRiyal) + " @Mycurrency.Sign</label>";
                                                    else
                                                        itmcontent += "<label class='lbl'>Sold </label>";
                                                    }
                                                    else
                                                    {
                                                        itmcontent += "<label class='lbl'>Closed</label>";
                                                    }
                                                }


                                            }

                                        }
                    itmcontent+="</div></div></div></div>";
                    divcontent += itmcontent;



                });


                if (count == 0) {

                    $("#Productslist").empty();
                $("#Productslist").append("<div class='col-md-12'> <div class='alert alert-warning'>There is no result to view </div></div>");
                }
                else {
                   $("#Productslist").empty();
                    $("#Productslist").append(divcontent);
                    }
                  $('html, body').animate({
    scrollTop: $("#Listcontent").offset().top
                  }, 1000);
                $("#auction-list").unblock();
        $(".Pager").ASPSnippets_Pager({
                ActiveCssClass: "current",
                PagerCssClass: "pager",
                PageIndex: result.pagemodel.PageIndex,
                PageSize: result.pagemodel.PageSize,
                RecordCount: result.pagemodel.RecordsCount
            });
                FetchImages();
            });
        }
       function FetchImages() {

    $('.img-loading').each(function () {
        var url = $(this).attr('data-img');
        console.log(url);
        var current = $(this);

        $.get(url, function () {

                    current.css('background-image', 'url('+url+')');
                    current.removeClass('img-loading');
        });

    });
}

    </script>


}
