﻿@using ps.haweya.win.obs.business.Managers;
@model  BuyerOrderViewModel


@{
    ViewBag.Title = "Order  summary";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    var counter = 0;
    var total = Model.CartItems.Sum(t => (t.ProductInformation.UnitPrice * t.Qty.Value) + (t.InspectionValue ?? 0) + (t.ShippingValue ?? 0));
    var ordervalue = Model.CartItems.Sum(t => t.ProductInformation.UnitPrice * t.Qty.Value);
    double vatvalue = Model.VatValue ?? 0;
    string vattext = Model.VatText;
    var Mycurrency = TempData["maincurrency"] as CurrencyViewModel;

    if (TempData["cookiecurrency"] != null)
    {
        Mycurrency = TempData["cookiecurrency"] as CurrencyViewModel;
    }
}
@section styles{

    @*<link href="~/Content/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />*@
    <link href="~/Content/MonthPicker/MonthPicker.min.css" rel="stylesheet" />
    <link href="~/Content/MonthPicker/examples.css" rel="stylesheet" />
    <style>
        label:hover {
            background: inherit !important;
            color: inherit !important;
        }

        .alert-info:hover {
            background: #d1ecf1 !important;
        }
    </style>
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Checkout</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="checkout-step">
    <div class="container">
        <div class="row step-nav">
            <div class="col-md-3 col-sm-6">
                <div class="step-blk last">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>01</span> Login</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk ">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>02</span> Address</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk ">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-address-card"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>03</span> Payment</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>04</span> Finish</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_msg")
<div class="wrapper">
    <div class="container">
        <div class="row checkout-wrap">
            <div class="col-md-12">

                <div class="win-checkout">
                    <h3>Order Summary</h3>

                    @using (Html.BeginForm("OrderSummaryinspection", "ProductDetails", FormMethod.Post, new { @class = "form-horizontal payment-form", role = "form" }))
                    {
                        <div class="row">
                            <div class="col-md-9">
                                @Html.AntiForgeryToken()

                                <div class="table-responsive-sm">
                                    <table class="table cart-table table-striped ">
                                        <thead>
                                            <tr>
                                                <th colspan="2" class="product-name">Product</th>
                                                <th class="product-quantity">Quantity</th>
                                                <th class="product-price">Price</th>
                                                <th class="product-subtotal">Total</th>
                                                <th class="product-subtotal">Need inspection</th>
                                                @*<th class="product-subtotal">Need delivery</th>*@
                                                <th class="product-subtotal">delete</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var itm in Model.CartItems)
                                            {


                                                <tr>
                                                    <td class="product-thumb">
                                                        <a href="#">

                                                            <img class='img img-responsive' src='@itm.ProductInformation.ProductImg[0]' style="height: 60px;" alt="@itm.ProductInformation.ProductTitle" />


                                                        </a>
                                                    </td>
                                                    <td class="product-name" data-title="Product">
                                                        <a href="#">@itm.ProductInformation.ProductTitle</a>
                                                    </td>
                                                    <td class="product-quantity" data-title="Quantity"><span>@itm.Qty  items</span></td>
                                                    <td><span class="Price-amount" data-title="Price">@String.Format("{0:n}", itm.ProductInformation.UnitPrice / Mycurrency.RateToRiyal) @Mycurrency.Sign</span></td>
                                                    <td class="product-subtotal" data-title="Subtotal">@String.Format("{0:n}", (itm.Qty * itm.ProductInformation.UnitPrice) / Mycurrency.RateToRiyal)  @Mycurrency.Sign</td>
                                                    <td class="text-center" data-title="IsInspect">

                                                        @if (itm.ProductInformation.IsInspect)
                                                        {
                                                            <input type="checkbox" name="cbxInspect_@itm.ProductID" />
                                                        }

                                                    </td>
                                                    @*<td class="text-center" data-title="IsShipment">
                                                        @if (itm.ProductInformation.IsShipment)
                                                        {
                                                            <input type="checkbox" class="shippmintcheck" name="cbxShipment_@itm.ProductID" />
                                                        }

                                                    </td>*@

                                                    <td class="text-center" data-title="Remove">
                                                        <a href="#" class="remove DeleteItem" myid="@itm.ID">
                                                            <i class="fa fa-trash-alt"></i>
                                                        </a>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                                @*<div class="col-md-6" id="deliverydiv" style="display:none">
                                    <div class="form-group">
                                        <label>
                                            Delivery From : <label class="alert alert-info">Please Select Delivery Way </label>

                                        </label>
                                        <select class="form-control" name="DeliveryFrom">
                                            <option value="2">
                                                Buyer Delivery
                                            </option>

                                            <option value="1">
                                                WIN Delivery
                                            </option>


                                        </select>
                                    </div>
                                </div>*@
                            </div>
                            <div class="col-md-3">
                                <div class="checkout-review-order">
                                    <h3>Cart total</h3>
                                    <div class="cart-totals">
                                        <table class="table shop-table">
                                            <tbody>
                                                <tr>
                                                    <td>Subtotal</td>
                                                    <td class="text-right">@(String.Format("{0:n}", ordervalue / Mycurrency.RateToRiyal)) @Mycurrency.Sign</td>
                                                </tr>
                                                @*<tr>
                                                        <td>Shipping</td>
                                                        <td class="text-right">need action</td>
                                                    </tr>*@
                                                <tr>
                                                    <td>Shipping</td>
                                                    <td class="text-right" id="shippingdiv">
                                                        @if (ViewBag.shippingvalue != null)
                                                        {@(String.Format("{0:n}", ViewBag.shippingvalue)) @Mycurrency.Sign }
                                                    else
                                                    {
                                                        @("contact WIN")
                                                    }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Inspection</td>
                                                    <td class="text-right">contact WIN</td>
                                                </tr>
                                                <tr>
                                                    <td>Vat</td>
                                                    <td class="text-right">@(String.Format("{0:n}", (total * vatvalue)/Mycurrency.RateToRiyal)) @Mycurrency.Sign</td>
                                                </tr>

                                                @*<tr>
                                                        <td colspan="2">

                                                            <label for="cbxinspection">
                                                                Need Inspection
                                                            </label>

                                                            <div class="alert alert-info" id="inspectiondiv"> we well send the value to your email</div>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">

                                                            <label for="cbxDelivery">
                                                                Need Delivery
                                                            </label>
                                                            <div class="alert alert-info" id="deliverydiv"> we well send the value to your email</div>
                                                        </td>

                                                    </tr>*@

                                                <tr>

                                                    <td colspan="2">
                                                        <div class="alert alert-warning">
                                                            No return of money or material
                                                        </div>
                                                    </td>

                                                </tr>
                                            </tbody>
                                            <tr>
                                                <th>Total</th>
                                                <th class="text-right text-warning" id="totalwithvat_cart">@(String.Format("{0:n}",(total + (total * vatvalue))/Mycurrency.RateToRiyal)) @Mycurrency.Sign</th>
                                            </tr>
                                        </table>
                                    </div>

                                    @if (Model.CartItems.Count() != 0)
                                    {
                                        <div class="place-oder-btn">
                                            <button type="submit" class="btn btn-warning btn-block text-uppercase">
                                                Next
                                            </button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="place-oder-btn">
                                            <div class="alert alert-danger">You can't make empty order</div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    }
                </div>


            </div>



        </div>
    </div>
</div>
<div id="mdlConfirm" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row" style="text-align:center;padding:20px;padding-bottom:40px">
                <div class="col-md-12">
                    <h1> Remove  Item  from Order   </h1>
                    <div style="margin-bottom:60px;margin-top:60px"> <h4> are you Confirmed Remove Item from Order?</h4>  </div>
                    <div class="col-md-12 col-sm-12 text-right">
                        <button type="button" class="btn btn-dark " data-dismiss="modal">Cancel </button>

                        <a class="btn btn-danger  btndelete" href="#" id="btndelete"> Confirm </a>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
@section Scripts {

    @*<script src="~/Content/MonthPicker/examples.js"></script>
    <script src="~/Content/MonthPicker/MonthPicker.min.js"></script>*@
    <script>
             $(document).on("click", ".DeleteItem", function () {
         var ID = $(this).attr("myid");

         $("#btndelete").attr("href", "@Url.Action("DeleteItem")?ID=" + ID);

         $("#mdlConfirm").modal();


     });
          $(document).on("click", "#btndelete", function () {

        $.post($(this).attr("href"), function (result) {
           // updatecartcount(result.count, result.totalprice);
            window.location.reload();
        });

        // window.location.reload();
        //return false;
    });
    $(document).ready(function () {

  //      $(".shippmintcheck").on("change", function () {

  //          if (this.checked) {
  //              $("#deliverydiv").show();

  //          }
  //          else {
  //              //$('.shippmintcheck:checkbox').eq
  //              var sThisVal = 0;
  //          $('input.shippmintcheck[type=checkbox]').each(function () {
  //sThisVal+= (this.checked ? 1 : 0);
  //          });

  //          if(sThisVal==0)
  //              {
  //              $("#deliverydiv").hide();
  //              }

  //          }


  //      });

        //$("#cbxDelivery").change(function () {
        //    $("#deliverydiv").hide();

        //    if (this.checked) {
        //        $("#deliverydiv").show();
        //    }

        //});
        //   $("#cbxinspection").change(function () {
        //      $("#inspectiondiv").hide();

        //    if(this.checked) {
        //        $("#inspectiondiv").show();
        //    }

        //})


            @*if ("@ViewBag.BuyerCountryName" != "-1")

                shipping();*@

          function getcountryname(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/countries.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            $("." + selector).text(item.name);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };

         function getStateame(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/states.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            $("." + selector).text(item.name);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
                 };
        function getCityname(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/cities.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            $("." + selector).text(item.text);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };

        var counter=@counter;
        for (var i = 0; i < counter; i++) {
            var Cityid = $("#lblcity_" + i).attr("myid");
            var selectorcity = "lblcity_" + i;
            getCityname(Cityid, selectorcity);

             var Stateid = $("#lblstate_" + i).attr("myid");
            var selectorstate = "lblstate_" + i;
            getStateame(Stateid, selectorstate);
              var Countryid = $("#lblcountry_" + i).attr("myid");
            var selectorcountry = "lblcountry_" + i;
            getcountryname(Countryid, selectorcountry);
        }

         @*function shipping() {
            var obj=[];
             $.get("@Url.Action("GetCartjson",new { Orderid = Model.ID})", function (res) {

            var lstitems = [];
            var currency = "";

                 var total = 0;
                 $.each(res, function (i, item) {
                console.log(item.ItemId);

                $.get("@Url.Action("DHLShippingtest", "ProductDetails")?id=" + item.ItemId + "&qty=" + item.Quantity, function (data) {

                    var result = JSON.parse(data.result);
                    console.log(result);
                    console.log(result.RateResponse.Provider[0].Notification[0].message);
                    console.log(result.RateResponse.Provider[0].Service.find(({ type }) => type[0] == "N").TotalNet.Amount);
                    if (data.status == 1 && result.RateResponse.Provider[0].Notification[0].message == null) {
                        total += result.RateResponse.Provider[0].Service.find(({ type }) => type[0] == "N").TotalNet.Amount;//lstitems.push(result.RateResponse.Provider[0].Service.find(({ type }) => type[0] == "P").TotalNet.Amount);
                        console.log(lstitems);
                        if (currency == "")
                            currency = result.RateResponse.Provider[0].Service.find(({ type }) => type[0] == "N").TotalNet.Currency;
                        console.log(currency + "_" + total + "_" +@Mycurrency.RateToRiyal);

                        total=(total/@Mycurrency.RateToRiyal);
                        $("#shippingdiv").html(total + " " + (currency == "SAR" ? "@Mycurrency.Sign" : currency));
                        var totalvat =@((String.Format("{0:n}", (Model.CartItems.Sum(x => x.Qty * x.ProductInformation.UnitPrice) + Model.CartItems.Sum(x => x.Qty * x.ProductInformation.UnitPrice) * vatvalue) / Mycurrency.RateToRiyal)))

                            $("#totalwithvat_cart").html(total + totalvat + "@Mycurrency.Sign");
                    }
                });
            });




                });


            };*@
       

    })
    </script>
}
