﻿@using ps.haweya.win.obs.business.Managers;
@model BuyerOrderViewModel


@{
    ViewBag.Title = "FinishedOrder";
    Layout = null;
    var counter = 0;
    var total = Model.CartItems.Sum(t => (t.ProductInformation.UnitPrice * t.Qty.Value) + (t.InspectionValue ?? 0) + (t.ShippingValue ?? 0));
    var ordervalue = Model.CartItems.Sum(t => t.ProductInformation.UnitPrice * t.Qty.Value);
    double vatvalue = Model.VatValue ?? 0;
    string vattext = Model.VatText;

    var Mycurrency = Model.Currency;
    if (Mycurrency == null)
    {
        Mycurrency = TempData["maincurrency"] as CurrencyViewModel;


        if (TempData["cookiecurrency"] != null)
        {
            Mycurrency = TempData["cookiecurrency"] as CurrencyViewModel;
        }
    }
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>WIN |@ViewBag.Title</title>

    <link href="/Content/FrontEnd/css/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/flexslider.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/swiper.min.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css" />
    <link href="~/Content/toastr/build/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.min.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/style.css" rel="stylesheet" />
    <link rel="apple-touch-icon" href="/Content/images/favicon-32x32.png" />
    <link rel="shortcut icon" href="/Content/images/favicon-32x32.png" />
    <style>
        @@media print {
            #printbtn {
                display: none;
            }
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="row checkout-thankyou">
                <div class="col-md-8 offset-md-2">
                    <div class="win-order">
                        <div class="win-order-head bg-warning text-center">
                            <i class="fa fa-heart"></i>
                            <h2>Thank you</h2>
                        </div>
                        <div class="win-order-info">
                            <div class="row m-0">
                                <div class="col-md-5 invoice-info p30">
                                    <h3>Invoice / Receipt</h3>
                                    <div href="#" class="kt-invoice__logo">
                                        <a href="#"><object type="image/svg+xml" data="/Content/FrontEnd/images/logo.svg" width="100%"> </object></a>
                                        <hr />
                                        <span class="kt-invoice__desc">
                                            <span>Chamber of Commerce Building, 6th Floor, Jubail Industrial City Saudi Arabia</span>
                                            <span>Call Us: +966 13 347 9300</span>
                                        </span>
                                        <hr />
                                    </div>

                                    <ul class="invoice-details list-unstyled">
                                        <li><span>Invoice No.</span> INV-@Model.ID.ToString("000")</li>
                                        <li><span>Date: </span> @DateTime.Now.ToString("yyy/MM/dd hh:mm tt")</li>
                                        <li>
                                            <div class="mb15"><span>Shipping to:</span></div>
                                            <div class="address-details mb20">
                                                @foreach (var itm in ViewBag.ShippingItems as List<ShippingDataViewModel>)
                                                {

                                                    <div class="address-head">
                                                        <a href="#" class="text-info">@itm.FirstName &nbsp; @itm.LastName</a>
                                                        <p>@itm.MobileNo</p>
                                                    </div>
                                                    <p>
                                                        @itm.FirstAddress, <label id="lblcity_@counter" class="lblcity_@counter" myid="@itm.CityID"></label> @itm.CityName,<label id="lblstate_@counter" class="lblstate_@counter" myid="@itm.StateID"></label> @itm.StateName ,<label id="lblcountry_@counter" class="lblcountry_@counter" myid="@itm.CountryID"></label>@itm.CountryName

                                                    </p>
                                                    counter++;
                                                }
                                            </div>

                                        </li>
                                        <li>@Html.Raw(Model.payment_method.Contains(":") ? "<span>" + Model.payment_method.Split(':')[0] + " : </span>" + Model.payment_method.Split(':')[1] : "<span>" + Model.payment_method + "</span>")</li>
                                        @*<li><span>Paid:</span> @(String.Format("{0:n}", (Model.TotalPrice + (Model.TotalPrice * vatvalue))/Mycurrency.RateToRiyal)) @Mycurrency.Sign</li>*@
                                        <li>
                                            <div class="form-action text-center text-uppercase">

                                                <a href="#" class="btn btn-warning notforprint" id="printbtn">
                                                    Print
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-7 order-details p30">
                                    <h3>You order</h3>
                                    <table class="table shop-table">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th class="text-right">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.CartItems != null)
                                            {


                                                foreach (var itm in Model.CartItems)
                                                {
                                                    <tr>
                                                        <td>
                                                            <a href="#">
                                                                @itm.ProductInformation.ProductTitle
                                                            </a>
                                                        </td>
                                                        <td class="text-right">@(String.Format("{0:n}", (itm.Qty * itm.ProductInformation.UnitPrice)/Mycurrency.RateToRiyal))  @Mycurrency.Sign</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <tr>
                                            <th>Subtotal</th>
                                            <td class="text-right">@(String.Format("{0:n}", ordervalue / Mycurrency.RateToRiyal)) @Mycurrency.Sign</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping</td>
                                            <td class="text-right">@(Model.CartItems.Sum(x=>x.ShippingValue)> 0?Model.CartItems.Sum(x => x.ShippingValue)+" "+ Mycurrency.Sign: "contact WIN")</td>
                                        </tr>
                                        <tr>
                                            <td>Inspection</td>
                                            <td class="text-right">contact WIN</td>
                                        </tr>
                                        <tr>
                                            <th>VAT</th>
                                            <td class="text-right">@vattext</td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <div class="alert alert-warning">
                                                    No return of money or material
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            @*<th class="text-right text-warning">@(string.Format("{0:0.00}", Model.CartItems.Sum(x=>(x.Qty*x.ProductDetail.ProductInformation.UnitPrice)) + (Model.CartItems.Sum(x=>(x.Qty*x.ProductDetail.ProductInformation.UnitPrice))* 0.05) )) SAR</th>*@
                                        <th class="text-right text-warning">    @(String.Format("{0:n}",( total + (total * vatvalue))/Mycurrency.RateToRiyal)) @Mycurrency.Sign</th>
                                        </tr>
                                        @if (Model.IsNeedInspection == true || Model.IsNeedDelivery == true)
                                        {
                                            <tr>
                                                <td colspan="2">
                                                    <div class="alert alert-info" id="inspectiondiv"> The price will change indepent on Inspection or deleviry<br /> we well send the value to your email</div>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/Content/FrontEnd/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="/Content/FrontEnd/js/bootstrap.min.js"></script>
    <script src="/Content/FrontEnd/js/jquery.flexslider-min.js"></script>
    <script src="/Content/FrontEnd/js/jquery.syotimer.js"></script>
    <script src="/Content/FrontEnd/js/swiper.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Content/toastr/build/toastr.min.js"></script>

    <script src="~/Content/select2/select2.full.min.js"></script>
    <script src="/Content/FrontEnd/js/main.js"></script>
    <script>

            $(document).ready(function () {


          function getcountryname(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/countries.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            $("." + selector).text(item.name);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };

         function getStateame(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/states.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            $("." + selector).text(item.name);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
                 };
        function getCityname(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/cities.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            $("." + selector).text(item.text);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };

        var counter=@counter;
        for (var i = 0; i < counter; i++) {
            var Cityid = $("#lblcity_" + i).attr("myid");
            var selectorcity = "lblcity_" + i;
            getCityname(Cityid, selectorcity);

             var Stateid = $("#lblstate_" + i).attr("myid");
            var selectorstate = "lblstate_" + i;
            getStateame(Stateid, selectorstate);
              var Countryid = $("#lblcountry_" + i).attr("myid");
            var selectorcountry = "lblcountry_" + i;
            getcountryname(Countryid, selectorcountry);
                }



        });
        $(document).on('click', '#printbtn', function () {

            window.print();

            return false;
        })
    </script>
</body>
</html>
