﻿@model RegisterViewModel
@using ps.haweya.win.obs.web.Utils

@{
    ViewBag.Title = "Register Buyer";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@section Styles{
    <style type="text/css">
        .google-btn {
            width: 184px;
            height: 42px;
            background-color: #ffffff;
            border-radius: 2px;
            box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
        }

            .google-btn .google-icon-wrapper {
                position: absolute;
                margin-top: 1px;
                margin-left: 1px;
                width: 40px;
                height: 40px;
                border-radius: 2px;
                background-color: #fff;
            }

            .google-btn .google-icon {
             /*   position: absolute;*/
                margin-top: 11px;
                /*margin-left: 11px;*/
                width: 18px;
                height: 18px;
            }

            .google-btn .btn-text {
                float: left;
                margin: 11px 11px 0 40px;
                color: #618ac6;
                font-size: 14px;
                letter-spacing: 0.2px;
                font-family: "Roboto";
            }

            .google-btn:hover {
                box-shadow: 0 0 6px #4285f4;
            }

            .google-btn:active {
                background: #1669f2;
            }

        .google_signin {
            background-image: url('/Content/FrontEnd/images/btn_google_signin_light_normal_web.png');
            background-repeat: no-repeat;
            background-position:center;
            cursor: pointer;
            width: 190px;
            height: 40px;
           
            padding: 20px 95px;
            margin: 10px 0px;
        }

            .google_signin:hover {
                background-image: url('/Content/FrontEnd/images/btn_google_signin_light_pressed_web.png');
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }

        .Linkedin_signin {
            background-image: url('/Content/FrontEnd/images/Sign-in-Large---Default.png');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            width: 190px;
            height: 40px;
            padding: 20px 95px;
            margin: 10px 0px;
        }
            .Linkedin_signin:hover {
                background-image: url('/Content/FrontEnd/images/Sign-in-Large---Hover.png');
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }
        .signin_container {
            padding-top:25px;
            text-align:center;
        }

    </style>
    }
<!--
<div class="slider-wrap" style="height:150px;overflow:hidden">
    <div class="swiper-container search-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-img bg-image" style="background-image: url(/Content/FrontEnd/images/slide.jpg)"></div>
            </div>
            <div class="swiper-slide">
                <div class="slide-img bg-image" style="background-image: url(/Content/FrontEnd/images/slide2.jpg)"></div>
            </div>
        </div>
    </div>
    <div class="search-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">

                    <form class="search-header">
                        <div class="search-field">

                            <input type="hidden" value="@ViewContext.RouteData.Values["id"]" name="id" id="id" />
                            <input type="text" name="q" id="q" value="@ViewBag.query" placeholder="Product title, Describtion, Category" />
                            <button type="button" class="btn-search searchajx"><i class="fa fa-search "></i></button>
                            @*<a href="#" class="btn-search searchajx"><i class="fa fa-search " ></i></a>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-head" style="padding: 10px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Sign up <span>Buyer</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>-->
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Sign up <span>Buyer</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="account-reg ">
            <div class="row m-0">
                <div class="col-md-5 offset-md-1 reg-blue">
                    <div class="text-center">
                        <div class="reg-icon mb40">
                            <img src="~/Content/FrontEnd/images/userplus.png" alt="" />
                        </div>
                        <h3>New account registration <span>For Buyer</span></h3>

                    </div>
                </div>
                <div class="col-md-5 reg-form">
                    @using (Html.BeginForm("BuyerRegister", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            <i class="fa fa-user"></i>

                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Your name" })

                        </div>
                        <div class="form-group">
                            <i class="fa fa-envelope-open"></i>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email" })
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock-open"></i>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter your pasword" })

                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock-open"></i>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Re-enter your pasword" })
                        </div>
                        <div class="form-group">

                            @Html.TextBoxFor(m => m.Counrty, new { @class = "form-control selectpicker", autocomplete = "off", id = "Country" })
                        </div>
                        <div class="form-group">

                            @Html.TextBoxFor(m => m.State, new { @class = "form-control selectpicker", autocomplete = "off", id = "State" })
                        </div>
                        <div class="form-group">

                            @Html.TextBoxFor(m => m.City, new { @class = "form-control selectpicker", autocomplete = "off", id = "City" })
                        </div>
                        <div class="form-group">
                            <i class="fa fa-id-card"></i>

                            @Html.TextBoxFor(m => m.POBox, new { @class = "form-control", placeholder = "P.O. Box" })
                        </div>
                        <div class="form-group">
                            <i class="fa fa-phone"></i>

                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control allow-number", placeholder = "Mobile" })
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio ">
                                @Html.CheckBoxFor(m => m.Agreepolicies, new { @class = "custom-control-input", id = "Agreepolicies" })
                                @*<input type="checkbox" checked="checked" name="Agreepolicies">*@
                                <label class="custom-control-label" for="Agreepolicies">
                                    By creating an account, you agree to out <a href="@Url.Action("Terms","Home")" target="_blank"> condition of use </a> and  <a href="@Url.Action("Privacy","Home")" target="_blank"> privacy policy</a>.
                                </label>
                            </div>
                        </div>

                        <div class="form-action text-center">


                            <button type="submit" class="btn btn-warning rounded ">
                                Register
                            </button>
                            <div class="col-md-12 signin_container">
                                <div class="col-md-6 col-sm-6" style="margin-bottom:30px;float:left">
                                  
                                    <a href="@Url.Action("LoginUsingGoogle","Account",new {type="Buyer" })" class="google_signin" id="google_signin"></a>
                                </div>
                                <div class="col-md-6 col-sm-6" style="float:left">
                                    <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=@AppConfig.Get("Linkedin.ClientID")&redirect_uri=@AppConfig.Get("Linkedin.RedirectUrl")&state=987654321_Buyer&scope=r_emailaddress%20r_liteprofile" class="Linkedin_signin" id="Linkedin_signin"></a>
                                </div></div>
                               
                            </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/content/js/CountrySelect/CountryStateAndCityScripts.js"></script>
  
    <script>
        $(document).ready(function () {
             $("#" + CityName).select2({
                        data: City,
                        placeholder: "Select City",
                        width: "100%",
                    });

            var Country =@(Model!=null?(Model.Counrty!=null?Model.Counrty+"":""):"")+"";
            var state =@(Model!=null?(Model.State!=null?Model.State+"":""):"")+"";
            var city=@(Model!=null?(Model.City!=null?Model.City+"":""):"")+"";
        function getCityname(id) {
            $.ajax({

                url: '@Url.Content("~/Content/js/JsonData/cities.json")',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {

                                $("#Country").val(Country);
              $("#Country").change();
                            $("#State").val(state);
                            $("#State").change();
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };
            getCityname(city);
              $("#City").val(city);

        })



    </script>
}
