﻿@model RegisterViewModel
@using ps.haweya.win.obs.web.Utils

@{
    ViewBag.Title = "Register Seller";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@section  styles{
    <style>

        .step-nav .col-md-3 {
            max-width: 20% !important;
        }

        .google_signin {
            background-image: url('/Content/FrontEnd/images/btn_google_signin_light_normal_web.png');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            width: 190px;
            height: 40px;
            padding: 20px 95px;
            margin: 10px 0px;
        }

            .google_signin:hover {
                background-image: url('/Content/FrontEnd/images/btn_google_signin_light_pressed_web.png');
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }

        .Linkedin_signin {
            background-image: url('/Content/FrontEnd/images/Sign-in-Large---Default.png');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            width: 190px;
            height: 40px;
            padding: 20px 95px;
            margin: 10px 0px;
        }

            .Linkedin_signin:hover {
                background-image: url('/Content/FrontEnd/images/Sign-in-Large---Hover.png');
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }

        .signin_container {
            padding-top: 25px;
            text-align: center;
        }
    </style>
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Sign up <span>Seller</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>

<div class="checkout-step">
    <div class="container">
        <div class="row step-nav">
            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>01</span> Contact Info </h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-user-lock"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>02</span> Account Verification</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>03</span> Material Pickup  </h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-address-card"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>04</span> Seller Details </h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>05</span>  Overview</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="account-reg ">
            <div class="row m-0">
                <div class="col-md-5 offset-md-1 reg-blue">
                    <div class="text-center">
                        <div class="reg-icon mb40">
                            <img src="~/Content/FrontEnd/images/userplus.png" alt="" />
                        </div>
                        <h3>New account registration <span>For Seller</span></h3>

                    </div>
                </div>
                <div class="col-md-5 reg-form" style="padding-top:15px;padding-bottom:15px">
                    @using (Html.BeginForm("SellerRegister", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <h4 style="color: #5480c1;">Contact Information</h4>
                        <hr />
                        <div class="form-group">
                            <i class="fa fa-user"></i>

                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Your name" })

                        </div>
                        <div class="form-group">
                            <i class="fa fa-envelope-open"></i>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email" })
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock-open"></i>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter your pasword" })

                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock-open"></i>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Re-enter your pasword" })
                        </div>


                        <h4 style="color: #5480c1;"> Select store location</h4>
                        <hr />
                        <div class="form-group">

                            @Html.TextBoxFor(m => m.Counrty, new { @class = "form-control selectpicker", autocomplete = "off", id = "Country" })
                        </div>
                        <div class="form-group">

                            @Html.TextBoxFor(m => m.State, new { @class = "form-control selectpicker", autocomplete = "off", id = "State" })
                        </div>
                        <div class="form-group">

                            @Html.TextBoxFor(m => m.City, new { @class = "form-control selectpicker", autocomplete = "off", id = "City" })
                        </div>
                        <div class="form-group">
                            <i class="fa fa-id-card"></i>

                            @Html.TextBoxFor(m => m.POBox, new { @class = "form-control", placeholder = "P.O. Box" })
                        </div>


                        <h4 style="color: #5480c1;"> Phone</h4>
                        <hr />
                        <div class="form-group">
                            <i class="fa fa-phone"></i>

                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", placeholder = "Phone" })
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio ">
                                @Html.CheckBoxFor(m => m.Agreepolicies, new { @class = "custom-control-input", id = "AuctionCheck" })
                                @*<input type="checkbox" checked="checked" name="Agreepolicies">*@
                                <label class="custom-control-label" for="AuctionCheck">
                                    By creating an account, you agree to out  <a href="@Url.Action("Terms","Home")" target="_blank"> condition of use </a> and  <a href="@Url.Action("Privacy","Home")" target="_blank"> privacy policy</a>.
                                </label>
                            </div>
                        </div>
                        <div class="form-action text-center">
                            <button type="submit" class="btn btn-warning rounded ">
                                Register
                            </button>
                            <div class="col-md-12 signin_container">
                                <div class="col-md-6 col-sm-6" style="margin-bottom:30px;float:left">

                                    <a href="@Url.Action("LoginUsingGoogle","Account",new {type="Seller" })" class="google_signin" id="google_signin"></a>
                                </div>
                                <div class="col-md-6 col-sm-6" style="float:left">
                                    <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=@AppConfig.Get("Linkedin.ClientID")&redirect_uri=@AppConfig.Get("Linkedin.RedirectUrl")&state=987654321_Seller&scope=r_emailaddress%20r_liteprofile" class="Linkedin_signin" id="Linkedin_signin"></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script src="/content/js/CountrySelect/CountryStateAndCityScripts.js"></script>
    <script>

        $(document).ready(function () {


                   $("#" + CityName).select2({
                        data: City,
                        placeholder: "Select City",
                        width: "100%",
                   });


        function getCityname(id) {
            $.ajax({
                url: '@Url.Content("~/Content/js/JsonData/cities.json")',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {

                                $("#Country").val(@(Model!=null?(Model.Counrty!=null?Model.Counrty+"":""):""));
              $("#Country").change();
                            $("#State").val(@(Model!=null?(Model.State!=null?Model.State+"":""):""));
                            $("#State").change();
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };
            getCityname(@(Model!=null?(Model.City!=null?Model.City+"":""):""));
              $("#City").val(@(Model!=null?(Model.City!=null?Model.City+"":""):""));

        })



    </script>
}