﻿@model VerifyViewModel

@{
    ViewBag.Title = "Verify";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@section  styles{
    <style>

        .step-nav .col-md-3 {
            max-width: 20% !important;
        }
    </style>
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Sign up <span>@Model.TypeID</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
@if (Model.TypeID.Equals("Seller"))
{

    <div class="checkout-step">
        <div class="container">
            <div class="row step-nav">
                <div class="col-md-3 col-sm-6">
                    <div class="step-blk current">
                        <a href="#">
                            <div class="step-icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <h3 class="m-0 text-uppercase"><span>01</span> Contact Info </h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="step-blk current">
                        <a href="#">
                            <div class="step-icon">
                                <i class="fa fa-user-lock"></i>
                            </div>
                            <h3 class="m-0 text-uppercase"><span>02</span> Account Verification</h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="step-blk">
                        <a href="#">
                            <div class="step-icon">
                                <i class="fa fa-map-marker-alt"></i>
                            </div>
                            <h3 class="m-0 text-uppercase"><span>03</span> Material Pickup  </h3>
                        </a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="step-blk">
                        <a href="#">
                            <div class="step-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <h3 class="m-0 text-uppercase"><span>04</span> Seller Details </h3>
                        </a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="step-blk">
                        <a href="#">
                            <div class="step-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <h3 class="m-0 text-uppercase"><span>05</span>  Overview</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="wrapper">
    <div class="container">
        <div class="account-reg verify-reg">
            <div class="row m-0">
                <div class="col-md-5 offset-md-1 reg-blue">
                    <div class="text-center">
                        <div class="reg-icon mb40">
                            <img src="/content/frontend/images/check-circle.png" alt="" />
                        </div>
                        <h3>Verifying email address</h3>

                    </div>
                </div>
                <div class="col-md-5 reg-form">
                    @using (Html.BeginForm("Verify", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <label>To verify your email, we've sent a One Time Password (OTP) to </label>
                        <div class="form-group">
                            <i class="fa fa-key"></i>
                            @Html.TextBoxFor(m => m.OTP, new { @class = "form-control", placeholder = "Enter OTP" })

                        </div>
                        <div class="form-action text-center text-uppercase">

                            @Html.HiddenFor(x => x.UserId)
                            @Html.HiddenFor(x => x.TypeID)
                            <button type="submit" class="btn btn-warning rounded">
                                Verify
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
