﻿


@model IEnumerable<TicketViewModel>
@{
    ViewBag.Title = "Tickets";
    Layout = "~/Areas/Technical_Support/Views/Shared/Technical_SupportLayout.cshtml";
}

@section title{
    <title>OBS :: Customer Support</title>
}

@section Styles{
    <link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminIndexList.css" rel="stylesheet" />

    <style>


        .kt-chat .kt-chat__messages .kt-chat__message {
            margin-bottom: 1rem;
            /* background-color: black; */
            border-radius: 10px;
        }

        .modal .dropdown-menu {
            left: unset !important;
            right: 0px !important;
        }

        .kt-chat__user {
            display: flex;
        }

        .kt-chat__message--right .kt-chat__user {
            flex-direction: row-reverse;
        }

        .kt-chat__datetime {
            display: block;
        }
    </style>
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item kt-padding-l-20 kt-padding-r-20" id="kt_subheader">

    <div class="kt-subheader__main">

        <h3 class="kt-subheader__title"><i class="fas fa-dolly"></i>&nbsp;Customers Support</h3>

        <span class="kt-subheader__separator kt-subheader__separator--v"></span>

        <div class="kt-subheader__group" id="kt_subheader_search">
            <span class="kt-subheader__desc" id="kt_subheader_total"><i class="fas fa-spin fa-spinner"></i> </span>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                <input type="text" class="form-control" placeholder="Search ..." id="general_search">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
        </div>

        <div class="kt-subheader__group kt-hidden" id="kt_subheader_group_actions">

            <div class="kt-subheader__desc"><span id="kt_subheader_group_selected_rows"></span>&nbsp;Selected : </div>

            <div class="btn-toolbar kt-margin-l-20">

                <button class="btn btn-label-brand btn-bold btn-sm btn-icon-h ladda-button" data-style="expand-left" id="kt_subheader_group_actions_send_email">
                    <i class="fas fa-mail-bulk"></i>&nbsp;Send Email
                </button>


            </div>
        </div>

    </div>

    <div class="kt-subheader__toolbar kt-subheader-order-summary">

        <div class="kt-subheader__group kt-margin-r-10 kt-desktop-view">

            <span class="btn btn-bold btn-sm btn-font-sm  btn-label-info ticket-status-tag kt-hidden" data-color="info" title="New Ticket" data-value="1" data-label="new">
                <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
                <span class="label">&nbsp;New</span>
            </span>

            <span class="btn btn-bold btn-sm btn-font-sm  btn-label-warning ticket-status-tag kt-hidden" data-color="warning" title="Pending" data-value="2" data-label="pending">
                <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
                <span class="label">&nbsp;Pending</span>
            </span>

            <span class="btn btn-bold btn-sm btn-font-sm  btn-label-success ticket-status-tag kt-hidden" data-color="success" title="Closed" data-value="3" data-label="closed">
                <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
                <span class="label">&nbsp;Closed</span>
            </span>

        </div>

        <a href="#" class="btn btn-bold btn-primary kt-hidden" id="filter-results"><i class="fas fa-filter"></i>&nbsp;<span class="label">Filter</span></a>
    </div>

</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg kt-hidden">
            <div class="kt-portlet__head-label">

            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions"></div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Datatable -->
            <div id="kt_table_1"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>


<div id="ticket-status-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg" style="width: 60%;max-width: unset;">
        <div class="modal-content">

            <div class="modal-header kt-hidden">
                <h5 class="modal-title">
                    <span class="kt-badge kt-badge--dot kt-badge--success"></span> Change Order Status
                </h5>
            </div>

            <div class="modal-body">
                @*<div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Current Ticket status</label>
                                <input class="form-control" type="text" id="currrentstatus" value="" readonly="readonly" />
                                <input type="hidden" id="oldStatusId" />
                                <input type="hidden" id="ticketId" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Change to </label>

                                <select id="newstatus" class="select2" data-minimum-results-for-search="Infinity">
                                    <option value="">Please select new status</option>
                                    <option value="1">New</option>
                                    <option value="2">Pending</option>
                                    <option value="3">Closed</option>
                                </select>

                            </div>
                        </div>
                    </div>*@
                <div class="row">
                    <div class="col">
                        <div class="kt-chat">
                            <div class="kt-portlet kt-portlet--head-lg kt-portlet--last">
                                <div class="kt-portlet__head" style="min-height:unset;padding:0 0 10px 0; margin-bottom:15px">
                                    <div class="kt-chat__head">
                                        <div class="kt-chat__left">
                                            <div class="kt-chat__label">
                                                <a href="#" class="kt-chat__title" style="font-size:1.8rem"></a>
                                                <span class="kt-chat__status">

                                                </span>
                                            </div>

                                            <div class="kt-chat__pic kt-hidden">
                                                <span class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-placement="right" title="" data-original-title="Jason Muller">
                                                    <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/300_12.jpg" alt="image">
                                                </span>
                                                <span class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-placement="right" title="" data-original-title="Nick Bold">
                                                    <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/300_11.jpg" alt="image">
                                                </span>
                                                <span class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-placement="right" title="" data-original-title="Milano Esco">
                                                    <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_14.jpg" alt="image">
                                                </span>
                                                <span class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-placement="right" title="" data-original-title="Teresa Fox">
                                                    <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_4.jpg" alt="image">
                                                </span>
                                            </div>

                                        </div>

                                        <div class="kt-chat__right">
                                            <!--begin:: Aside Mobile Toggle -->
                                            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md kt-hidden-desktop" id="kt_chat_aside_mobile_toggle">
                                                <i class="flaticon2-open-text-book"></i>
                                            </button>
                                            <!--end:: Aside Mobile Toggle-->

                                            <div class="dropdown dropdown-inline">
                                                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="flaticon-more-1"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-left dropdown-menu-md" style="">
                                                    <!--begin::Nav-->
                                                    <ul class="kt-nav">
                                                        <li class="kt-nav__item">
                                                            <a href="#" data-status="2" data-id="" class="kt-nav__link ChangeStatus ladda-button" data-style="expand-left">
                                                                <i class="kt-nav__link-icon flaticon2-group"></i>
                                                                <span class="kt-nav__link-text">Change to Pending</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" data-status="3" data-id="" id="CloseTicket" class="kt-nav__link ChangeStatus ladda-button" data-style="expand-left">
                                                                <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                                                <span class="kt-nav__link-text">Close Ticket</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <!--end::Nav-->
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="kt-portlet__body kt-p0">
                                    <div class="kt-chat__messages">
                                        <div class="kt-scroll kt-scroll--pull ps ps--active-y" id="messages" data-mobile-height="200" style="max-height:400px">

                                        </div>
                                    </div>
                                </div>

                                <div class="kt-portlet__foot kt-pl0 kt-pr0 kt-pb-0 kt-pt5">
                                    <form class="kt-form" action="" method="POST" id="updatestatusform">

                                        <div class="kt-chat__input">
                                            <div class="kt-chat__editor">
                                                <textarea rows="8" placeholder="Type here..." id="message"></textarea>
                                            </div>
                                            <div class="kt-chat__toolbar">
                                                @*<div class="kt_chat__tools">
                                                        <a href="#"><i class="flaticon2-link"></i></a>
                                                        <a href="#"><i class="flaticon2-photograph"></i></a>
                                                        <a href="#"><i class="flaticon2-photo-camera"></i></a>
                                                    </div>*@
                                                <div class="kt_chat__actions">
                                                    <button type="button" class="btn btn-brand btn-md btn-upper btn-bold kt-chat__reply ladda-button" id="send" data-style="expand-left">Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer kt-hidden">
                <button type="button" class="btn btn-label-brand btn-bold ladda-button btn-sm">Save</button>
                <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Content/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/plugins/ladda/ladda.min.js"></script>

    <script>

        "use strict";
        var datatable;
        var timer;

        var KTDatatablesDataSourceAjaxServer = function() {

            var initializeKtDataTable = function (){

	             datatable = $('#kt_table_1').KTDatatable({

	               // datasource definition
			        data: {
				        type: 'remote',
				        source: {
					        read: {
						        url: '@Url.Action("Get","Support",new { area="Technical_Support"})',
						        method : 'GET',
                                map: function (raw) {
                                    $("#kt_subheader_total").html("<span class='kt-font-brand'>" +raw.meta.total +" tickets </span>");
						            KTApp.unblock('.kt-container');
						            return raw.data;
						        }
					        },
				        },
				        pageSize: 10,
				        serverPaging: true,
				        serverFiltering: true,
				        serverSorting: true,
				        deferLoading: 0, // here
			        },

			        // layout definition
			        layout: {
				        scroll: false,
				        footer: false
			        },
			        // column sorting
			        sortable: true,
			        /*search: {
                        input: $('#generalSearch'),
                    },*/
			        pagination: true,

			        // columns definition
                     columns: [

				        {
					        field: 'cbx',
					        title: '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input class="checkall" type="checkbox">&nbsp;<span></span></label>',
					        sortable: false,
					        type: 'number',
					        width: 20,
					        autoHide:false,
					        template : function (row){
				                return '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input value="'+row.Id+'" class="checkbox-item" type="checkbox">&nbsp;<span></span></label>';
					        }
                        },
                        {
					        field: 'From',
					        title: 'From',
					        width: 200,
					        template : function (row){
                                return '<span class="kt-font-black">' + row.From + '</span>';
					        }
                        },
                        {
				            field: 'Subject',
					        title: 'Subject',
                            width: 230,
                            sortable: false,
                            autoHide:false,
					        template : function (row){
                                return '<span class="kt-font-black">' + row.Subject + '</span>';
					        }
                        },
                                  {
				            field: 'Date',
					        title: 'Date',
					        width: 100,
					        template : function (row){
					            return moment(row.Date).format('DD/MM/YYYY');
					        }
                        },{
                            field: 'Source',
                            title: 'Source',
                            width: 100,
                            template: function (row) {
                                return '<span class="kt-font-black">' + row.Source + '</span>';
                            }
                         },
                        {
                            field: 'Status',
                            title: 'Status',
                            width: 100,
                            template: function (row) {
                                return '<a href="#" class="kt-underline_hover"> <span class="kt-badge kt-badge--' + GetStatusColor(row.Status) + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + GetStatusColor(row.Status) + '">' + row.StatusLabel+ '</span></a>';
                            }
                         },
                        {
				            field: '',
                            title: 'Actions',
                            width: 50,
                            sortable:false,
					        autoHide:false,
                            template: function (row) {
                                return '<div class="dropdown"><a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md" aria-expanded="false"><i class="flaticon-more-1"></i></a><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"><ul class="kt-nav kt-padding-t-0 kt-padding-b-0"><li class="kt-nav__item"><a  class="kt-nav__link" data-statusid="'+row.Status+'" data-subject="'+row.Subject+'" data-currentstatus="' + row.StatusLabel + '" href="#" data-toggle="modal" data-target="#ticket-status-model" data-id="' + row.Id + '"  ><i class="kt-nav__link-icon flaticon-list"></i><span class="kt-nav__link-text">Details</span></a></li><li class="kt-nav__item"><a  class="kt-nav__link  sendtotechnical" data-statusid="'+row.Status+'" data-subject="'+row.Subject+'" data-currentstatus="' + row.StatusLabel + '" href="#"  data-id="' + row.Id + '"  ><i class="kt-nav__link-icon flaticon2-user-1"></i><span class="kt-nav__link-text">send to Technical</span></a></li></ul></div></div>';
				            }
				        }
			        ]
		        });

                datatable.sort("Date", "desc");

                datatable.on("kt-datatable--on-ajax-done", function (e) {

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
	                }

                });

                datatable.on("kt-datatable--on-layout-updated", function (e) {
                    $('#kt_table_1 .select2').select2();

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
	                }
                });

	        };

            var TicketsByStatus = function () {
                $.get('@Url.Action("TicketsByStatus")', function (data) {
                    $.each(data, function (i, item) {
                        $('.ticket-status-tag[data-value="' + item.Id + '"]')
                            .removeClass('kt-hidden')
                            .find('.number')
                            .html("( "+item.Value+" )");
                    });
                });
            }

            var generalSearch = function () {

                $('#general_search').on('keyup', function () {

                    clearTimeout(timer);

                    var val = $(this).val();
                    timer = setTimeout(function () {
                         reloadDatatable(['query'], [val] , datatable);
                    }, 1000);

                });

            };


            var updateTicketStatus = function () {

                $('#ticket-status-model .select2').select2();

                $('#ticket-status-model').on('hidden.bs.modal', function (){
                    $('#newstatus').val('');
                    $('#notes').val('');
                    $('#newstatus option').removeAttr('disabled');
                });

                $('#ticket-status-model').on('show.bs.modal', function (e) {

                    $('.kt-chat__title').html(e.relatedTarget.dataset.subject);

                    console.log(e.relatedTarget.dataset);

                    $('.kt-chat__status').html('<span class="kt-badge kt-badge--dot kt-badge--'+GetStatusColor(e.relatedTarget.dataset.statusid)+'"></span> ' + e.relatedTarget.dataset.currentstatus);

                    $('#send').attr('data-id', e.relatedTarget.dataset.id);

                    $('.ChangeStatus').attr('data-id', e.relatedTarget.dataset.id);

                    switch (e.relatedTarget.dataset.statusid) {
                        case '1':
                            $('#updatestatusform, .ChangeStatus').parent().removeClass('kt-hidden');
                            $('#send').removeClass('kt-hidden');
                            break;
                        case '2':
                            $('.ChangeStatus[data-status="2"]').parent().addClass('kt-hidden');
                            $('#send').removeClass('kt-hidden');
                            break;
                        case '3':
                            $('.ChangeStatus[data-status="3"], #updatestatusform').parent().addClass('kt-hidden');
                            $('.ChangeStatus[data-status="2"]').parent().removeClass('kt-hidden');
                            $('#send').addClass('kt-hidden');
                            break;
                    }

                });

                $('#send').on('click', function (e) {
                    e.preventDefault();

                    let url = '@Url.Action("AddTicketRow")';

                    let ticketId = this.dataset.id;
                    let message = $('#message');

                    if(message.val() === ''){
                        message.focus();
                        return;
                    }

                    let data = { 'TicketRows[0].TicketId' : ticketId, 'TicketRows[0].Body' : message.val()};

                    var l = Ladda.create(this);
                    l.start();

                    $.post(url, data , function (result){

                        message.val('');
                        GetTicketHistoryData(ticketId);

                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.success("Information has been updated successfully");

                        l.stop();

                    });

                });

                $('.ChangeStatus').on('click', function (e) {
                    e.preventDefault();

                    let status= this.dataset.status || '2';
                    let ticketId = this.dataset.id;

                    let data = { 'Id' : ticketId, 'Status' : status};

                    var l = Ladda.create(this);
                    l.start();

                    $.post('@Url.Action("UpdateTicket")', data, function (result) {

                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.success("Information has been updated successfully");

                        l.stop();

                    });

                });
            }

            var TicketStatusTag = function (){

	            $('.ticket-status-tag').on('click', function (e){

	                e.preventDefault();

	                let status = $(this).attr('data-label');
	                let hasClass = $(this).hasClass('btn-'+ $(this).attr('data-color'));

	                $('.ticket-status-tag').each(function (){
	                    $(this).removeClass('btn-'+ $(this).attr('data-color'));
	                });

                    if (hasClass) {
                        reloadDatatable(['query'], [''], datatable);
	                    $(this).removeClass('btn-'+ $(this).attr('data-color'));
                    } else {
                        reloadDatatable(['query'], [status], datatable);
	                    $(this).addClass('btn-'+ $(this).attr('data-color'));
	                }

	            });

            }

            var reloadDatatable = function (key, value, datatable) {

                let query = datatable.getDataSourceQuery();

                $.each(key, function (i) {
                    query[key[i]] = value[i];
                });

                datatable.setDataSourceQuery(query);
                datatable.reload();

                KTApp.block('.kt-datatable', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

            };

            var ticketHistory = function () {

                $('#ticket-status-model').on('hidden.bs.modal', function (e) { });

                $('#ticket-status-model').on('shown.bs.modal', function (e) {

                    KTApp.block('#ticket-status-model .kt-portlet', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

                    GetTicketHistoryData(e.relatedTarget.dataset.id);

                });
            }

            var GetStatusColor = function (Status) {

                let className = 'danger';

                Status = parseInt(Status);

				switch (Status){
					    case 2:  className = 'warning';
                        break;
                        case 3:  className = 'success';
                        break;
                }

                return className;
            }

            var GetTicketHistoryData = function (TicketId) {

                var renderData = function (data) {

                    $('.kt-chat__messages #messages').empty();

                    $.each(data[0].TicketRows, function (i, item) {
                        console.log(item);
                        var str = '<div class="kt-chat__message '+(item.System ? 'kt-chat__message--right' : '')+'">';
                        str += '<div class="kt-chat__user">';
                        str += '<span class="kt-media kt-media--circle kt-media--sm">';
                        if (item.System) {
                            str +='<img src="/Content/frontend/images/WinSmall.svg" alt="image">';
                        } else {
                            str += '<span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">G</span>';
                        }
                        str += '</span>';
                        //str +='<a href="#" class="kt-chat__username">'+ (item.System ? 'System' : item.From);

                        str += '<a href="#" class="kt-chat__username">' + (item.System ? (item.From == "mahmoudomrysupport@gmail.com" ? 'Technical Support : ' : 'System') : item.From);

                        str += '<span class="kt-chat__datetime" title="'+ moment(item.Date).format('DD/MM/YYYY hh:mm:ss')+'">' + moment(item.Date).fromNow() + '</span>';
                        str += '</a>';
                        str +='</div>';
                        str +='<div class="kt-chat__text kt-bg-light-'+(item.System ? 'brand' : 'success')+'">';
                        str += item.Body;
                        str +='</div>';
                        str += '</div>';

                        $('.kt-chat__messages #messages').append(str);

                    });

                    KTApp.unblock('#ticket-status-model .kt-portlet');

                };

                $.get('@Url.Action("TicketHistory")?TicketId='+TicketId , renderData);
            }

            var Send_Technical = function (TicketId) {



                    $(document).on('click','.sendtotechnical', function (e) {
                    e.preventDefault();


                    let ticketId = this.dataset.id;

                    let data = { 'TicketId' : ticketId};

                    var l = Ladda.create(this);
                    l.start();

                    $.get('@Url.Action("Send_to_Thecnical")',data, function (result) {

                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.success("The Ticket Send to Technical Suppor");

                        l.stop();

                    });

                });
            }

            return {
		        //main function to initiate the module
                init: function () {
                    initializeKtDataTable();
                    TicketsByStatus();
                    generalSearch();
                    ticketHistory();
                    GetStatusColor();
                    updateTicketStatus();
                    TicketStatusTag();
                    Send_Technical();
                    new PerfectScrollbar('#messages', { suppressScrollX: true });

		        }
            };

        }();

        jQuery(document).ready(function() {
	        KTDatatablesDataSourceAjaxServer.init();
        });

    </script>
}