﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Technical/Views/Shared/TechnicalLayout.cshtml";
}
@section styles{

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">

    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="https://www.amcharts.com/lib/3/plugins/export/export.css" rel="stylesheet" type="text/css" />

    <link href="../Content/css/pages/wizard/wizard-1.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/custom-bilal.css" rel="stylesheet" type="text/css" />
}
<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title"><i class="fas fa-user-tag"></i>&nbsp;Admin</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <h3 class="kt-subheader__title">Dashboard</h3>



        </div>
        <div class="kt-subheader__toolbar">

        </div>
    </div>
</div>

<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="info-block">
                    <div class="info-block-head text-right">
                        <span>@ViewBag.OrdersCount</span>
                        <h4>Orders</h4>
                    </div>
                    <div class="info-block-footer">
                        <a href="#">
                            View more
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="info-block info-block-pink">
                    <div class="info-block-head text-right">
                        <span>@ViewBag.ProcusctsCount</span>
                        <h4>Products</h4>
                    </div>
                    <div class="info-block-footer">
                        <a href="#">
                            View more
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="info-block info-block-blue">
                    <div class="info-block-head text-right">
                        <span>@ViewBag.BuyersCount</span>
                        <h4>Buyers</h4>
                    </div>
                    <div class="info-block-footer">
                        <a href="#">
                            View more
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="info-block info-block-red">
                    <div class="info-block-head text-right">
                        <span>@ViewBag.SellersCount</span>
                        <h4>
                            Sellers
                        </h4>
                    </div>
                    <div class="info-block-footer">
                        <a href="#">
                            View more
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Asset Bid's Details
                            </h3>
                        </div>

                    </div>

                    <div class="kt-portlet__body">
                        <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                            <div class="row align-items-center">
                                <div class="col-xl-8 order-2 order-xl-1">
                                    <div class="row align-items-center">
                                        <div class="col-md-12 kt-margin-b-20-tablet-and-mobile">
                                            <div class="kt-input-icon kt-input-icon--left">
                                                <input type="text" class="form-control" placeholder="Search..." id="Bid_search">
                                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                    <span>
                                                        <i class="la la-search"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Bid Count</th>
                                        <th>Last Bid</th>
                                    </tr>
                                </thead>
                                <tbody id="bidtable">
                                    <tr>
                                        <td>Product Name</td>
                                        <td>Bid Count</td>
                                        <td>Last Bid</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Trend Analysis - Product Listing


                            </h3>
                        </div>

                    </div>

                    <div class="kt-portlet__body">

                        <div class="table-responsive">
                            <div id="kt_amcharts_1" style="height: 350px;"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Products by Category
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_amcharts_2" style="height: 350px;"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Bids Count by Product
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_amcharts_3" style="height: 350px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Distribution of Buyers by Location
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_amcharts_4" style="height: 350px;"></div>

                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">


            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Pages Impressions (Page Visitings)


                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_amcharts_6" style="height: 350px;"></div>

                    </div>
                </div>
            </div>




            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Regional Sales Status
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_amcharts_8" style="height: 350px;"></div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">


            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Sales Performance by Region
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_amcharts_7" style="height: 350px;"></div>
                    </div>
                </div>
            </div><div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Sales Performance by
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                                <div class="kt-portlet__head-actions">
                                    <a href="#" class="btn btn-brand btn-elevate btn-icon-sm">
                                        Product
                                    </a>
                                    <a href="#" class="btn btn-brand btn-elevate btn-icon-sm">
                                        Region
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Region</th>
                                    <th>Sales</th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>IMAGE</td>
                                    <td>Region 1</td>
                                    <td class="text-warning">610</td>
                                    <td rowspan="6">
                                        <div id="kt_amcharts_13" style="height: 350px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>IMAGE</td>
                                    <td>Region 1</td>
                                    <td class="text-primary">610</td>
                                </tr>
                                <tr>
                                    <td>IMAGE</td>
                                    <td>Region 1</td>
                                    <td class="text-default">610</td>
                                </tr>
                                <tr>
                                    <td>IMAGE</td>
                                    <td>Region 1</td>
                                    <td class="text-danger">610</td>
                                </tr>
                                <tr>
                                    <td>IMAGE</td>
                                    <td>Region 1</td>
                                    <td class="text-primary">610</td>
                                </tr>
                                <tr>
                                    <td>IMAGE</td>
                                    <td>Region 1</td>
                                    <td class="text-default">610</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>*@


    </div>
</div>

@section scripts{
    <!--begin::Page Vendors(used by this page) -->
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/radar.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/tools/polarScatter/polarScatter.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/usaLow.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js" type="text/javascript"></script>
    <!--end::Page Vendors -->

    <script src="/Content/js/pages/crud/metronic-datatable/base/data-local.js" type="text/javascript"></script>

    <script src="~/Content/Js/Technicals_amcharts_charts.js"></script>

    <script>
        var timer;
        var Bindbidtbl = function () {

            var q = $("#Bid_search").val();
                $.get('@Url.Action("GetBidsTabel")?q='+q, function (data) {
                    $("#bidtable").empty();
                    var str = "";
                    $.each(data, function (i, item) {

                        str += "<tr>";
                        str += "<td><a href='@Url.Action("Details","ProductDetails",new { area=""})?id="+item.Key+"' target='_blank'>"+item.ProductTitle+"</a></td>";
                        str += "<td>"+item.Value+"</td>";
                        str += "<td>"+item.LastBid+"</td>";
                        str += "<tr/>";
                    });

                    $("#bidtable").append(str);
                });
            }
              var BidBysearch = function () {

                $('#Bid_search').on('keyup', function () {

                    clearTimeout(timer);


                    timer = setTimeout(function () {
                        Bindbidtbl();
                    }, 1000);

                });

            };
        $(document).ready(function () {
            Bindbidtbl();
            BidBysearch();
        })

    </script>
}
