﻿@model  LinkViewModel

@{
    ViewBag.Title = "Pages";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section styles{
    <link href="~/Content/plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <style>
        .bootstrap-tagsinput {
            width: 100%;
        }

        .label-info {
            background-color: #5578eb !important;
        }
    </style>
}

<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title"><i class="fas fa-list"></i>&nbsp;Pages</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>






        </div>
        <div class="kt-subheader__toolbar">

        </div>
    </div>
</div>

<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">


    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="display:flex">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            SEO Pages | @Model.ActionDisplayName
                        </h3>
                    </div>

                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">



                        </div>
                    </div>

                </div>
                <div class="kt-portlet__body">





                    @using (Html.BeginForm("Edit", "SEOLinks", FormMethod.Post, new { @class = "kt-form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">

                            @Html.Raw(TempData["msg"])
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </div>
                        @Html.HiddenFor(x => x.Id)
                        <div class="col-md-12">

                            <div class="form-group">
                                <label>Page</label>
                                @Html.TextBoxFor(m => m.ActionDisplayName, new { @class = "form-control", @readonly = "readonly" })
                            </div>


                            <div class="form-group">
                                <label>SEO-Titel</label>



                                @Html.TextBoxFor(m => m.SEO_Titel, new { @class = "form-control", placeholder = "Titel" })


                            </div>

                            <div class="form-group">
                                <label>SEO-Description</label>

                                @Html.TextAreaFor(m => m.SEO_Description, new { @class = "form-control", placeholder = "Description" })

                            </div>
                            <div class="form-group">
                                <label>SEO_Keyword</label>

                                @Html.EditorFor(model => model.SEO_Keyword, new { htmlAttributes = new { @class = "form-control", id = "KeyWord", } })


                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label"> Images</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar_1">

                                        
                                        <div class="kt-avatar__holder" id="kt-avatar-holder" style="background-image: url('@(string.IsNullOrEmpty(Model.SEO_Image)?"/Content/Img/NoImage.jpeg":"/Content/uploaddata/UploadImages/SEO/"+Model.SEO_Image)')"></div>
                                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen"></i>
                                            <input type="file" name="Image" id="Image" accept=".png, .jpg, .jpeg">
                                        </label>
                                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                    <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
                                </div>
                            </div>
                        </div>




                        <div class="col-md-12">
                            <div class="form-action text-center">


                                <button type="submit" class="btn btn-primary rounded ">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                            }
                        </div>





                  
            </div>
        </div>

    </div>
</div>
@section Scripts{

    <script src="/Content/plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.min.js"></script>

    <script src="/content/js/pages/crud/file-upload/ktavatar.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#KeyWord").tagsinput();
    </script>
}