﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section title{
    <title>OBS :: SEO Links</title>
}

@section Styles{

    @*<link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminIndexList.css" rel="stylesheet" />*@

    <style>
    </style>
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item kt-padding-l-20 kt-padding-r-20" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"><i class="fas fa-dolly"></i>&nbsp; SEO Links</h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__group" id="kt_subheader_search">
            <span class="kt-subheader__desc" id="kt_subheader_total"><i class="fas fa-spin fa-spinner"></i> </span>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                <input type="text" class="form-control" placeholder="Search ..." id="general_search">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
        </div>
     
    </div>
    <div class="kt-subheader__toolbar kt-subheader-order-summary">
        <div class="kt-subheader__group kt-margin-r-10 kt-desktop-view">
        </div>
        <a href="#" class="btn btn-bold btn-primary kt-hidden" id="filter-results"><i class="fas fa-filter"></i>&nbsp;<span class="label">Filter</span></a>
    </div>

</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg kt-hidden">
            <div class="kt-portlet__head-label">
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions"></div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">

            @Html.Raw(TempData["msg"])
            <!--begin: Datatable -->
            <div id="kt_table_1"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>


@section scripts{
    @*<script src="~/Content/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/plugins/ladda/ladda.min.js"></script>
    <script src="/content/js/pages/crud/file-upload/ktavatar.js" type="text/javascript"></script>*@
    

    <script>

        "use strict";
        var datatable;
        var timer;

        var KTDatatablesDataSourceAjaxServer = function () {

            var togglesidBar = function () {
                // toggle left side menu if it state is off (open)
                try {

                    var aside = new KTToggle('kt_aside_toggler', {
                        target: 'body',
                        targetState: 'kt-aside--minimize',
                        togglerState: 'kt-aside__brand-aside-toggler--active'
                    });

                    if (aside.getState() === 'off') {
                        aside.toggle();
                    }

                } catch (e) {

                }
            };

            var initializeKtDataTable = function () {

                datatable = $('#kt_table_1').KTDatatable({

                    // datasource definition
                    data: {
                        type: 'remote',
                        source: {
                            read: {
                                url: '@Url.Action("AjaxDT","SEOLinks",new { area="Admin"})',
                                method: 'GET',
                                map: function (raw) {
                                    $("#kt_subheader_total").html("<span class='kt-font-brand'>" + raw.meta.total + " Accounts </span>");
                                    KTApp.unblock('.kt-container');

                                    return raw.data;
                                }
                            },
                        },
                        pageSize: 10,
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true,
                        deferLoading: 0, // here
                    },

                    // layout definition
                    layout: {
                        scroll: false,
                        footer: false
                    },
                    // column sorting
                    sortable: true,
			        /*search: {
                        input: $('#generalSearch'),
                    },*/
                    pagination: true,

                    // columns definition
                    columns: [


                        {
                            field: 'cbx',
                            title: '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input class="checkall" type="checkbox">&nbsp;<span></span></label>',
                            sortable: false,
                            type: 'number',
                            width: 20,
                            autoHide: false,
                            template: function (row) {
                                return '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input value="' + row.Id + '" class="checkbox-item" type="checkbox">&nbsp;<span></span></label>';
                            }

                        },
                        {
                            field: 'SEO_Image',
                            title: 'SEO_Image',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<img  href="/Content/uploaddata/UploadImages/SEO/' + row.SEO_Image + '" src="/Content/uploaddata/UploadImages/SEO/' + row.SEO_Image + '" style="max-width:100px;">'
                            }
                        },
                        {
                            field: 'DisplayName',
                            title: 'Page',
                            width: 300,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' +row.ControllerDisplayName+"/"+row.ActionDisplayName + '</span>'
                            }
                        },
                       
                               
                        {
                            field: 'SEO_Titel',
                            title: 'SEO_Titel',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.SEO_Titel + '</span>'
                            }
                        },
                       
                        {
                            field: 'Edit',
                            title: 'Actions',
                            width: 50,
                            sortable: false,
                            autoHide: false,
                            template: function (row) {
                                return '<a class="btn btn-brand btn-sm" href="@Url.Action("Edit")?Id='+row.Id+'"><i class="fa fa-edit"></i> </a>';
                            }
                        }
                    ]
                });

                datatable.sort("ActionDisplayName", "asc");

                datatable.on("kt-datatable--on-ajax-done", function (e) {

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
                    }

                });

                datatable.on("kt-datatable--on-layout-updated", function (e) {
                    $('#kt_table_1 .select2').select2();

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
                    }
                });

            };
           

            var reloadDatatable = function (key, value, datatable) {

                let query = datatable.getDataSourceQuery();

                $.each(key, function (i) {
                    query[key[i]] = value[i];
                });

                datatable.setDataSourceQuery(query);
                datatable.reload();

                KTApp.block('.kt-datatable', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

            };
            var generalSearch = function () {

                $('#general_search').on('keyup', function () {

                    clearTimeout(timer);

                    var val = $(this).val();
                    timer = setTimeout(function () {
                        reloadDatatable(['query'], [val], datatable);
                    }, 1000);

                });

            };

            return {
		        //main function to initiate the module
                init: function () {
                    togglesidBar();
                    initializeKtDataTable();
                    generalSearch();
                   
		        }
            };

        }();

        jQuery(document).ready(function() {
	        KTDatatablesDataSourceAjaxServer.init();
        });
     
    </script>
}