﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section title{
    <title>OBS :: Archive</title>
}

@section Styles{
    <link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminIndexList.css" rel="stylesheet" />
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item kt-padding-l-20 kt-padding-r-20" id="kt_subheader">

    <div class="kt-subheader__main">

        <h3 class="kt-subheader__title"><i class="fas fa-dolly"></i>&nbsp;Archive Orders</h3>

        <span class="kt-subheader__separator kt-subheader__separator--v"></span>

        <div class="kt-subheader__group" id="kt_subheader_search">
            <span class="kt-subheader__desc" id="kt_subheader_total"><i class="fas fa-spin fa-spinner"></i> </span>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                <input type="text" class="form-control" placeholder="Search ..." id="general_search">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
        </div>

        <div class="kt-subheader__group kt-hidden" id="kt_subheader_group_actions">

            <div class="kt-subheader__desc"><span id="kt_subheader_group_selected_rows"></span>&nbsp;Selected : </div>

            <div class="btn-toolbar kt-margin-l-20">
            </div>
        </div>

    </div>

    <div class="kt-subheader__toolbar kt-subheader-order-summary">

        <div class="kt-subheader__group kt-margin-r-10 kt-desktop-view">

            <span class="btn btn-bold btn-sm btn-font-sm  btn-label-success cart-status-tag kt-hidden" data-color="success" title="Purchased" data-value="true" data-label="true">
                <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
                <span class="label">&nbsp;Purchased</span>
            </span>

            <span class="btn btn-bold btn-sm btn-font-sm  btn-label-warning cart-status-tag kt-hidden" data-color="warning" title="Un Purchased" data-value="false" data-label="false">
                <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
                <span class="label">&nbsp;Un Purchased</span>
            </span>

        </div>

        <a href="#" class="btn btn-bold btn-primary kt-hidden" id="filter-results"><i class="fas fa-filter"></i>&nbsp;<span class="label">Filter</span></a>
    </div>

</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg kt-hidden">
            <div class="kt-portlet__head-label">

            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions"></div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Datatable -->
            <div id="kt_table_1"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>
<!-- end:: Content -->

@section Scripts{

    <script src="~/Content/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/plugins/ladda/ladda.min.js"></script>

    <script>

        "use strict";
        var datatable;
        var timer;
        var type = "1";


        var KTDatatablesDataSourceAjaxServer = function() {

            var togglesidBar = function () {
                // toggle left side menu if it state is off (open)
                try{

                    var aside = new KTToggle('kt_aside_toggler', {
                        target: 'body',
                        targetState: 'kt-aside--minimize',
                        togglerState: 'kt-aside__brand-aside-toggler--active'
                    });

                    if (aside.getState() === 'off'){
                        aside.toggle();
                    }

                }catch(e){

                }
            };

            var initializeKtDataTable = function (){

	             datatable = $('#kt_table_1').KTDatatable({

	               // datasource definition
			        data: {
				        type: 'remote',
				        source: {
					        read: {
						        url: '@Url.Action("Get","Product",new { area="Admin"})?Type='+"1",
						        method : 'GET',
                                map: function (raw) {
                                    $("#kt_subheader_total").html("<span class='kt-font-brand'>" +raw.meta.total +" orders </span>");
						            KTApp.unblock('.kt-container');

						            return raw.data;
						        }
					        },
				        },
				        pageSize: 10,
				        serverPaging: true,
				        serverFiltering: true,
				        serverSorting: true,
				        deferLoading: 0, // here
			        },

			        // layout definition
			        layout: {
				        scroll: false,
				        footer: false
			        },
			        // column sorting
			        sortable: true,
			        /*search: {
                        input: $('#generalSearch'),
                    },*/
			        pagination: true,

			        // columns definition
                    columns: [


				        {
					        field: 'cbx',
					        title: '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input class="checkall" type="checkbox">&nbsp;<span></span></label>',
					        sortable: false,
					        type: 'number',
					        width: 20,
					        autoHide:false,
					        template : function (row){
				                return '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input value="'+row.id+'" class="checkbox-item" type="checkbox">&nbsp;<span></span></label>';
					        }

                        },
                        {
					        field: 'ProductInformation.ProductTitle',
					        title: 'Product',
					        width: 230,
					        autoHide:false,
					        template : function (row){
                                return '<div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img alt="photo" src="'+ row.ProductImg + '"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">' + row.ProductTitle + '</a><span class="kt-user-card-v2__email"><a class="details" href="mailto:'+ row.Username+'">' + row.Username + '</a></span></div></div>';
					        }
                        },
                        {
					        field: 'ProductInformation.Quantity',
                            title: 'Quantity',
                            template: function (row) {
                                return row.Quantity;
                            }
                        },
                        {
					        field: 'BuyerOrder.AspNetUser.FullName',
                            title: 'BuyerName',
                            template: function (row) {
                                return row.BuyerName;
                            }
                        },
                        {
					        field: 'BuyerOrder.AspNetUser.Email',
					        title: 'BuyerEmail',
                            template: function (row) {
                                return '<a href="mailto:'+row.Email+'">'+row.Email+'</a>';
                            }
                        },
                        {
					        field: 'BuyerOrder.AspNetUser.PhoneNumber',
					        title: 'Contact',
                            template: function (row) {
                                return row.PhoneNumber;
                            }
                        }, {
                            field: 'IsBought',
                            title: 'Status',
                            sortable: false,
                            template: function (row) {
                                return '<span class="btn btn-bold btn-sm btn-font-sm btn-label-'+(row.Status !== 'Purchased' ? 'warning' : 'success' )+'"><span class="label">'+row.Status+'</span>';
                            }
                        }
			        ]
		        });

                datatable.sort("InsertDate", "desc");

                datatable.on("kt-datatable--on-ajax-done", function (e) {

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
	                }

                });

                datatable.on("kt-datatable--on-layout-updated", function (e) {
                    $('#kt_table_1 .select2').select2();

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
	                }
                });

	        };

            var cartStatusTag = function (){

	            $('.cart-status-tag').on('click', function (e){

	                e.preventDefault();

	                let status = $(this).attr('data-label');
	                let hasClass = $(this).hasClass('btn-'+ $(this).attr('data-color'));

	                $('.cart-status-tag').each(function (){
	                    $(this).removeClass('btn-'+ $(this).attr('data-color'));
	                });

                    if (hasClass) {
                        reloadDatatable(['query'], [''], datatable);
	                    $(this).removeClass('btn-'+ $(this).attr('data-color'));
                    } else {
                        reloadDatatable(['query'], [status], datatable);
	                    $(this).addClass('btn-'+ $(this).attr('data-color'));
	                }

	            });

            }

            var CartByStatus = function () {
                $.get('@Url.Action("CartByStatus")', function (data) {

                    $.each(data.Data, function (i, item) {
                        $('.cart-status-tag[data-value="' + item.Id + '"]')
                            .removeClass('kt-hidden')
                            .find('.number')
                            .html("( "+item.Value+" )");
                    });
                });
            }

            var reloadDatatable = function (key, value, datatable) {

                let query = datatable.getDataSourceQuery();

                $.each(key, function (i) {
                    query[key[i]] = value[i];
                });

                datatable.setDataSourceQuery(query);
                datatable.reload();

                KTApp.block('.kt-datatable', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

            };

            var generalSearch = function () {

                $('#general_search').on('keyup', function () {

                    clearTimeout(timer);

                    var val = $(this).val();
                    timer = setTimeout(function () {
                         reloadDatatable(['query'], [val] , datatable);
                    }, 1000);

                });

            };


            return {
		        //main function to initiate the module
                init: function () {
                    togglesidBar();
                    initializeKtDataTable();
                    CartByStatus();
                    generalSearch();
                    //cartStatusTag();
		        }
            };

        }();

        jQuery(document).ready(function() {
	        KTDatatablesDataSourceAjaxServer.init();
        });

    </script>
}