﻿
@{
    ViewBag.Title = "Bid Materials";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



@section title{
    <title>OBS :: Bid Materials</title>
}

@section Styles{
    <link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminIndexList.css" rel="stylesheet" />
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item kt-padding-l-20 kt-padding-r-20" id="kt_subheader">

    <div class="kt-subheader__main">

        <h3 class="kt-subheader__title"><i class="fas fa-dolly"></i>&nbsp;Bid By Status</h3>

        <span class="kt-subheader__separator kt-subheader__separator--v"></span>

        <div class="kt-subheader__group" id="kt_subheader_search">
            <span class="kt-subheader__desc" id="kt_subheader_total"><i class="fas fa-spin fa-spinner"></i> </span>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                <input type="text" class="form-control" placeholder="Search ..." id="general_search">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
        </div>

        <div class="kt-subheader__group kt-hidden" id="kt_subheader_group_actions">

            <div class="kt-subheader__desc"><span id="kt_subheader_group_selected_rows"></span>&nbsp;Selected : </div>

            <div class="btn-toolbar kt-margin-l-20">
            </div>
        </div>

    </div>

    <div class="kt-subheader__toolbar kt-subheader-order-summary">

        <div class="kt-subheader__group kt-margin-r-10 kt-desktop-view">


            @*<span class="btn btn-bold btn-sm btn-font-sm btn-label-success bid-status-tag" data-color="success" title="sold" data-value="sold" data-label="sold">
                <span class="label">&nbsp;Sold</span>
            </span>
            <span> | </span>
            <span class="btn btn-bold btn-sm btn-font-sm  btn-label-dark bid-status-tag" data-color="dark" title="unsold" data-value="unsold" data-label="unsold">
                <span class="label">&nbsp;un Sold</span>
            </span>*@





            @*<span class="btn btn-bold btn-sm btn-font-sm btn-label-dark bid-status-tag" data-color="dark" title="purchased" data-value="purchased" data-label="purchased">
            <span class="label">&nbsp;Purchased</span>
        </span>

        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-dark bid-status-tag" data-color="dark" title="un-purchased" data-value="un-purchased" data-label="un-purchased">
            <span class="label">&nbsp;Un Purchased</span>
        </span>


        <span> | </span>


        <span class="btn btn-bold btn-sm btn-font-sm btn-label-brand bid-status-tag" data-color="brand" title="Auctionable" data-value="Auctionable" data-label="Auctionable">
            <span class="label">&nbsp;Auctionable</span>
        </span>

        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-info bid-status-tag" data-color="info" title="Direct Purchase" data-value="Non-Auctionable" data-label="Non-Auctionable">
            <span class="label">&nbsp;Direct Purchase</span>
        </span>


        <span> | </span>*@

            <span class="btn btn-bold btn-sm btn-font-sm  btn-label-success bid-status-tag kt-hidden" data-color="success" title="Bidded" data-value="true" data-label="true">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;Active</span>
        </span>

        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-warning bid-status-tag kt-hidden" data-color="danger" title="UnSold" data-value="false" data-label="false">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;InActive</span>
        </span>

        </div>

        <a href="#" class="btn btn-bold btn-primary kt-hidden" id="filter-results"><i class="fas fa-filter"></i>&nbsp;<span class="label">Filter</span></a>
    </div>

</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg kt-hidden">
            <div class="kt-portlet__head-label">

            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions"></div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Datatable -->
            <div id="kt_table_1"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>
<!-- end:: Content -->

@section Scripts{

    <script src="~/Content/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/plugins/ladda/ladda.min.js"></script>

    <script>

        "use strict";
        var datatable;
        var timer;
        var type = "4";

        var KTDatatablesDataSourceAjaxServer = function() {

            var togglesidBar = function () {
                // toggle left side menu if it state is off (open)
                try{

                    var aside = new KTToggle('kt_aside_toggler', {
                        target: 'body',
                        targetState: 'kt-aside--minimize',
                        togglerState: 'kt-aside__brand-aside-toggler--active'
                    });

                    if (aside.getState() === 'off'){
                        aside.toggle();
                    }

                }catch(e){

                }
            };

            var initializeKtDataTable = function (){

	             datatable = $('#kt_table_1').KTDatatable({

	               // datasource definition
			        data: {
				        type: 'remote',
				        source: {
					        read: {
						        url: '@Url.Action("Get","Product",new { area="Admin"})?Type='+"4",
						        method : 'GET',
                                map: function (raw) {
                                    $("#kt_subheader_total").html("<span class='kt-font-brand'>" +raw.meta.total +" products </span>");
						            KTApp.unblock('.kt-container');

						            return raw.data;
						        }
					        },
				        },
				        pageSize: 10,
				        serverPaging: true,
				        serverFiltering: true,
				        serverSorting: true,
				        deferLoading: 0, // here
			        },

			        // layout definition
			        layout: {
				        scroll: false,
				        footer: false
			        },
			        // column sorting
			        sortable: true,
			        /*search: {
                        input: $('#generalSearch'),
                    },*/
			        pagination: true,

			        // columns definition
                    columns: [


				        {
					        field: 'cbx',
					        title: '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input class="checkall" type="checkbox">&nbsp;<span></span></label>',
					        sortable: false,
					        type: 'number',
					        width: 20,
					        autoHide:false,
					        template : function (row){
				                return '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input value="'+row.id+'" class="checkbox-item" type="checkbox">&nbsp;<span></span></label>';
					        }

                        },
                        {
					        field: 'ProductTitle',
					        title: 'Product',
					        width: 300,
					        autoHide:false,
					        template : function (row){
                                return '<div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img alt="photo" src="'+ row.ProductImg + '"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="@Url.Action("NewListing","Product", new { area = "Admin"})?ProductId='+row.ProductId+'">' + row.ProductTitle + '</a></div></div>';
					        }
                        },
                        {
					        field: 'SellerName',
                            title: 'Seller',
                            template: function (row) {
                                return row.SellerName;
                            }
                        },
                        {
					        field: 'UserName',
					        title: 'Email',
                            template: function (row) {
                                return '<a href="mailto:'+row.Username+'">'+row.Username+'</a>';
                            }
                        },
                       {
                            field: 'IsWinActive',
                            title: 'Status',
                            sortable: true,
                            template: function (row) {
                                return '<span class="btn btn-bold btn-sm btn-font-sm btn-label-'+(row.Status !== 'Active' ? 'warning' : 'success' )+'"><span class="label">'+row.Status+'</span>';
                            }
                        },
                          {
					        field: 'BidsCount',
                              title: 'BidsCount',
                             autoHide:false,
                           template: function (row) {
                                return row.BidsCount;
                            }
                        },
                         {
                            field: 'Soldcount',
                            title: 'Sold Status',
                            sortable: true,
                            template: function (row) {
                                return '<span  data-count="'+row.Soldcount+'"  class="btn btn-bold btn-sm btn-font-sm btn-label-'+(row.Soldcount==0 ? 'warning' : 'success' )+'"><span class="label">'+(row.Soldcount==0 ? 'Un Sold' : 'Sold' )+'</span>';
                            }
                        },

                        {
                            field: 'CreateDate',
                            title: 'Created Date',
                            template: function (row) {
                                return moment(row.CreateDate).format('DD/MM/YYYY')
                            }
                        },
                        {
				            field: '',
                            title: 'Actions',
                            width: 50,
                            sortable:false,
					        autoHide:false,
                            template: function (row) {

                                var str = '<div class="dropdown"><a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md" aria-expanded="false"><i class="flaticon-more-1"></i></a><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"><ul class="kt-nav kt-padding-t-0 kt-padding-b-0">';

                                if (row.IsWinActive) {
                                    str +='<li class="kt-nav__item"><a  class="kt-nav__link ChangeStatus" data-status="0" href="#" data-id="' + row.ProductId + '"  ><i class="kt-nav__link-icon flaticon-list"></i><span class="kt-nav__link-text">In Active</span></a></li>';
                                } else {
                                    str +='<li class="kt-nav__item"><a  class="kt-nav__link ChangeStatus" data-status="1" href="#" data-id="' + row.ProductId + '"  ><i class="kt-nav__link-icon flaticon-list"></i><span class="kt-nav__link-text">Active</span></a></li>';
                                }

                                str += '<li class="kt-nav__item"><a  class="kt-nav__link" data-status="0" href="/Admin/BidDetails?Id='+row.ProductId+'"><i class="kt-nav__link-icon flaticon-list"></i><span class="kt-nav__link-text">Bids</span></a></li></ul></div></div>';

                                return str;
				            }
				        }
			        ]
		        });

                datatable.sort("ProductId", "desc");

                datatable.on("kt-datatable--on-ajax-done", function (e) {

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
	                }

                });

                datatable.on("kt-datatable--on-layout-updated", function (e) {
                    $('#kt_table_1 .select2').select2();

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
	                }
                });

	        };

            var bidStatusTag = function (){

	            $('.bid-status-tag').on('click', function (e){

	                e.preventDefault();

	                let status = $(this).attr('data-label');
	                let hasClass = $(this).hasClass('btn-'+ $(this).attr('data-color'));

	                $('.bid-status-tag').each(function (){
	                    $(this).removeClass('btn-'+ $(this).attr('data-color'));
	                });

                    if (hasClass) {
                        reloadDatatable(['query'], [''], datatable);
	                    $(this).removeClass('btn-'+ $(this).attr('data-color'));
                    } else {
                        reloadDatatable(['query'], [status], datatable);
	                    $(this).addClass('btn-'+ $(this).attr('data-color'));
	                }

	            });

            }

            var ChangeStatus = function () {
                $(document).on('click', '.ChangeStatus', function (e) {
                    e.preventDefault();

                    var current = $(this);

                    let status = this.dataset.status == '0' ? false : true;
                    let productId = this.dataset.id;

                    let data = { 'ProductId' : productId, 'IsWinActive' : status};

                    $('.ChangeStatus[data-id="' + productId + '"]').closest('.dropdown').addClass('kt-hidden');

                    $.post('@Url.Action("UpdateStatus")', data, function (result) {

                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.success("Information has been updated successfully");

                        $('.ChangeStatus[data-id="' + productId + '"]').closest('.dropdown').removeClass('kt-hidden');

                        let query = datatable.getDataSourceQuery();
                        datatable.setDataSourceQuery(query);
                        datatable.reload();

                        KTApp.block('.kt-datatable', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

                    });

                });
            }

            var BidByStatus = function () {
                $.get('@Url.Action("ActiveStatusBids")', function (data) {

                    $.each(data.Data, function (i, item) {
                        $('.bid-status-tag[data-value="' + item.Id + '"]')
                            .removeClass('kt-hidden')
                            .find('.number')
                            .html("( "+item.Value+" )");
                    });
                });
            }

            var reloadDatatable = function (key, value, datatable) {

                let query = datatable.getDataSourceQuery();

                $.each(key, function (i) {
                    query[key[i]] = value[i];
                });

                datatable.setDataSourceQuery(query);
                datatable.reload();

                KTApp.block('.kt-datatable', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

            };

            var generalSearch = function () {

                $('#general_search').on('keyup', function () {

                    clearTimeout(timer);

                    var val = $(this).val();
                    timer = setTimeout(function () {
                         reloadDatatable(['query'], [val] , datatable);
                    }, 1000);

                });

            };


            return {
		        //main function to initiate the module
                init: function () {
                    togglesidBar();
                    initializeKtDataTable();
                    BidByStatus();
                    generalSearch();
                    ChangeStatus();
                    bidStatusTag();
                    //cartStatusTag();
		        }
            };

        }();

        jQuery(document).ready(function() {
	        KTDatatablesDataSourceAjaxServer.init();
        });

    </script>
}