﻿@model  NewListingItemPageModel

@{
    ViewBag.Title = "EditListing";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var ProductInformationViewModel = Model.ProductInformationViewModel;
}


@section styles{
    <link href="~/Content/plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css" rel="stylesheet" />

    <link href="/content/css/pages/wizard/wizard-1.css" rel="stylesheet" type="text/css" />

    <style>
        .star {
            color: #fd397a;
        }

        input:read-only, textarea:read-only, .form-control[contenteditable='false'] .dropdown-toggle.btn-light, .form-control[contenteditable='false'] .dropdown-toggle.btn-secondary {
            background-color: #e5e5e5 !important;
        }

        .bootstrap-tagsinput {
            width: 100%;
        }

        .label-info {
            background-color: #5578eb !important;
        }
    </style>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Content Head -->
    <div class="kt-subheader  kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">Create New Material</h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
                    <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
                    <span class="kt-input-icon__icon kt-input-icon__icon--right">
                        <span><i class="flaticon2-search-1"></i></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content Head -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid  kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1" data-ktwizard-state="step-first">
                    <div class="kt-grid__item">

                        <!--begin: Form Wizard Nav -->
                        <div class="kt-wizard-v1__nav">
                            <div class="kt-wizard-v1__nav-items kt-wizard-v1__nav-items--clickable">

                                <!--doc: Replace A tag with SPAN tag to disable the step link click -->
                                <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step" data-ktwizard-state="current">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="flaticon-bus-stop"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label">
                                            1. GENERAL INFO
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="flaticon-list"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label">
                                            2. MEDIA
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="flaticon-responsive"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label">
                                            3. REVIEW POST
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--end: Form Wizard Nav -->
                    </div>
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">

                        <!--begin: Form Wizard Form-->
                        <form class="kt-form" id="kt_form" style="width: 100%;padding: 25px" method="post" action="@Url.Action("AddProduct")">

                            

                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                                        <div class="kt-section kt-section--first">
                                            <div class="accordion" id="kt-pi__container">
                                                <div class="card">
                                                    <div class="card-header" id="headingOne">
                                                        <div class="card-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne1">
                                                            <i class="fa fa-angle-double-right"></i> Product Information
                                                        </div>
                                                    </div>
                                                    <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne">
                                                        <div class="card-body">

                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Title <span class="star"><span class="star">*</span></span></label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control" value="@ProductInformationViewModel.ProductTitle" name="ProductTitle" placeholder="Enter Title of an Item" required />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*<div class="col-md-6">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label"></label>
                <div class="col-lg-9">
                </div>
            </div>
        </div>*@

                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Discipline / Category</label>
                                                                        <div class="col-lg-9">
                                                                            @Html.DropDownList("Category", new SelectList(Model.Categories, "CategoryId", "CategoryName", ProductInformationViewModel.Category), "Select Category", new { required = "required", data_live_search = "true", @class = "form-control kt-selectpicker", id = "categoryList" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Sub-commodity</label>
                                                                        <div class="col-lg-9">
                                                                            @Html.DropDownList("SubCommodityId", new SelectList(Model.SubCommodities, "SubCommodityId", "SubCommodity", ProductInformationViewModel.SubCommodityId), new { required = "required", @class = "form-control", id = "SubCommoditylist" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Condition</label>
                                                                        <div class="col-lg-9">
                                                                            <select class="form-control" name="ProductDetails[0].Condition">
                                                                                @if (ProductInformationViewModel.ProductDetails[0].Condition.Equals("New"))
                                                                                {
                                                                                    <option value="New">New</option>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value="New" selected="selected">New</option>
                                                                                }
                                                                                @if (ProductInformationViewModel.ProductDetails[0].Condition.Equals("Good"))
                                                                                {
                                                                                    <option value="Good" selected="selected">Good</option>

                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value="Good">Good</option>
                                                                                }
                                                                                @if (ProductInformationViewModel.ProductDetails[0].Condition.Equals("Used"))
                                                                                {
                                                                                    <option value="Used" selected="selected">Used</option>

                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value="Used">Used</option>
                                                                                }

                                                                            </select>
                                                                            @*<input type="text" name="ProductDetails[0].Condition" class="form-control" placeholder="Condition" value="@ProductInformationViewModel.ProductDetails[0].Condition">
                    <span class="form-text text-muted">Please provide a brief description of why the item is available, any present damage, age and how long it has been stored.</span>*@
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Manufacturer </label>
                                                                        <div class="col-lg-9">
                                                                            @*@Html.DropDownList("SubCommodityId", new SelectList(Model.SubCommodities, "SubCommodityId", "SubCommodity"), "Select Sub Commodity", new { required = "required", data_live_search = "true", @class = "form-control kt-selectpicker", id = "SubCommoditylist" })*@
                                                                            @Html.DropDownList("ProductBrands", new SelectList(Model.Manufacturers, "ManufacturersId", "ManufacturersName", ProductInformationViewModel.ProductBrands), "Select  Manufacturers", new { required = "required", @class = "form-control select2", id = "ProductBrandsList" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group row">
                                                                        <label class="col-12-3 col-form-label">Description</label>
                                                                        <div class="col-lg-12">

                                                                            @Html.TextArea("ProductDetails[0].Description", ProductInformationViewModel.ProductDetails[0].Description, new { @class = "form-control summernote", id = "description", placeholder = "write here" })
                                                                            @*<textarea name="ProductDetails[0].Description" id="description" placeholder="write here" rows="10" data-bind='value: @ProductInformationViewModel.ProductDetails[0].Description' class="form-control summernote" value="@ProductInformationViewModel.ProductDetails[0].Description"></textarea>*@
                                                                            <span class="form-text text-muted">
                                                                                Please provide a detailed description of the item you are selling. If you do not have a detailed description or you have submitted the information via email, please provide a brief description of the item.
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="col-md-12">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-12 col-form-label">Special Description</label>
                                                                        <div class="col-lg-12">
                                                                            <textarea name="ProductDetails[0].SpecialInstructions" id="SpecialInstructions" placeholder="write here" rows="5" class="form-control" value="@ProductInformationViewModel.ProductDetails[0].SpecialInstructions"></textarea>
                                                                            <span class="form-text text-muted">
                                                                                The buyers will need to know if there is a load out charge or any past due storage. If there is exceptionally high storage fees, please let us know so we can speed up the sales process.
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-12">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-12 col-form-label">Keywords</label>
                                                                        <div class="col-lg-12">
                                                                            <input type="text" class="form-control" value="@ProductInformationViewModel.Keywords" placeholder="KeyWords" id="KeyWords" name="keywords">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingTwo">
                                                        <div class="card-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseTwo1">
                                                            <i class="fa fa-angle-double-right"></i> Product Location
                                                        </div>
                                                    </div>
                                                    <div id="collapseTwo1" class="collapse show" aria-labelledby="headingTwo1">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label"> Seller</label>
                                                                        <div class="col-lg-9">

                                                                            @Html.DropDownList("Username", ViewBag.Sellers as SelectList, "Select Seller", new { @class = "form-control", required = "required", id = "sellerselect" })


                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Contact</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control" placeholder="Contact" value="@ProductInformationViewModel.ProductDetails[0].Contact" name="ProductDetails[0].Contact">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Company</label>
                                                                        <div class="col-lg-9">
                                                                            @*@Html.DropDownList("ProductDetails[0].Company", new SelectList(ViewBag.Companies,"Name","Name",ProductInformationViewModel.ProductDetails[0].Company), "Select company", new { required = "required", data_live_search = "true", @class = "form-control kt-selectpicker" })*@
                                                                            <input type="text" class="form-control" name="Compnay" value="@ProductInformationViewModel.ProductDetails[0].Company" placeholder="write company name" />
                                                                            @*@Html.DropDownList("Compnay", ViewBag.Companies as SelectList, "Select company", new { @class = "form-control", required = "required", id = "companyselect" })*@
                                                                            @*@Html.DropDownList("ProductDetails[0].Company", new SelectList(Model.Companies, "ID", "Name"), "Select Company", new { data_live_search = "true", @class = "form-control kt-selectpicker" })*@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Phone</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="tel" class="form-control   allow-number" placeholder="Phone" value="@ProductInformationViewModel.ProductDetails[0].Phone" name="ProductDetails[0].Phone">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Fax</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="tel" class="form-control  allow-number" value="@ProductInformationViewModel.ProductDetails[0].Fax" placeholder="Fax" name="ProductDetails[0].Fax">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Email <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            <input type="email" class="form-control" value="@ProductInformationViewModel.ProductDetails[0].Email" placeholder="Email " required name="ProductDetails[0].Email" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Address <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control" placeholder="Address" value="@ProductInformationViewModel.ProductDetails[0].Address" required name="ProductDetails[0].Address" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Longitude</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control allow-float" placeholder="Ex:76.9826339" value="@ProductInformationViewModel.ProductDetails[0].lon" name="ProductDetails[0].lon" id="Longitudepoint" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Latitude</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control allow-float" placeholder="Ex:11.0143896" value="@ProductInformationViewModel.ProductDetails[0].lat" name="ProductDetails[0].lat" id="Latitudepoint" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Country <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            @Html.DropDownList("ProductDetails[0].Country", new SelectList(Model.Countries, "id", "name", ProductInformationViewModel.ProductDetails[0].Country), "Select Country", new { id = "Country", data_live_search = "true", @class = "form-control kt-selectpicker" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Region / State <span class="star">*</span></label>
                                                                        <div class="col-lg-9">

                                                                            @Html.DropDownList("ProductDetails[0].State", new SelectList(ViewBag.States, "id", "name", ProductInformationViewModel.ProductDetails[0].State), "Select state", new { id = "State", data_live_search = "true", @class = "form-control kt-selectpicker" })
                                                                            @*<select class="form-control kt-selectpicker" data-live-search="true" title="Select State" name="ProductDetails[0].State" id="State" required="required"></select>*@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">City <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            @Html.DropDownList("ProductDetails[0].City", new SelectList(ViewBag.Cities, "id", "text", ProductInformationViewModel.ProductDetails[0].City), "Select City", new { id = "City", data_live_search = "true", @class = "form-control kt-selectpicker" })
                                                                            @*<select class="form-control kt-selectpicker" data-live-search="true" title="Select City" name="ProductDetails[0].City" id="City" required="required"></select>*@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Show In Map </label>
                                                                        @*<div class="col-lg-9">
            <input type="checkbox" name="ShowInMap" id="ShowInMap" @(ProductInformationViewModel.ShowInMap == true ? "checked" : "") />
        </div>*@

                                                                        <div class="col-lg-9">
                                                                            <select class="form-control" id="ShowInMap" name="ShowInMap" required="required">
                                                                                <option value="1" @(ProductInformationViewModel.ShowInMap == true ? "selected" : "")>Yes</option>
                                                                                <option value="0" @(ProductInformationViewModel.ShowInMap == false ? "selected" : "")>No</option>

                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">

                                                                    <div class="map-wrap">
                                                                        <style>
                                                                            .map-wrap {
                                                                                height: 500px;
                                                                            }

                                                                            #map {
                                                                                height: 500px;
                                                                                width: 100%
                                                                            }
                                                                        </style>
                                                                        <div id="map">

                                                                        </div>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingThree1">
                                                        <div class="card-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseThree1">
                                                            <i class="fa fa-angle-double-right"></i> Product Pricing and Reserve
                                                        </div>
                                                    </div>
                                                    <div id="collapseThree1" class="collapse show" aria-labelledby="headingThree1">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Pricing Type <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            <select class="form-control kt-selectpicker" id="PricingType" title="Select Pricing Type" value="@ProductInformationViewModel.PricingType" required="required" name="PricingType">
                                                                                <option value="Auctionable" selected="selected">Auctionable</option>
                                                                                <option value="Non-Auctionable">Direct Purchase</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Quantity  <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control allow-number" placeholder="Quantity" value="@ProductInformationViewModel.Quantity" required name="Quantity">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Is Inspectable <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            <select class="form-control kt-selectpicker" value="@ProductInformationViewModel.IsInspect" name="IsInspect">
                                                                                <option value="True">Yes</option>
                                                                                <option value="False" selected="selected">No</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Is Shipment</label>
                                                                        <div class="col-lg-9">
                                                                            <select class="form-control kt-selectpicker" value="@ProductInformationViewModel.IsShipment" name="IsShipment">
                                                                                <option value="True">Yes</option>
                                                                                <option value="False" selected="selected">No</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6 Auctionable" id="product_Deposit">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Security Deposit</label>
                                                                        <div class="col-lg-9">
                                                                            <select class="form-control kt-selectpicker" title="Select Security Deposit" id="SecurityDeposit" required="required" name="SecurityDeposit">
                                                                                <option value="1" selected="selected">Percent</option>
                                                                                <option value="2">Fixed</option>
                                                                                <option value="0">None</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6  Auctionable SecurityDepositdays">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Security Deposit </label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control allow-number" name="SecurityDepositPercent" value="@ProductInformationViewModel.SecurityDepositPercent" placeholder="Security Deposit ">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6  Auctionable SecurityDepositdays">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Security Deposit Days</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control allow-number" name="SecurityDepositDays" value="@ProductInformationViewModel.SecurityDepositDays" placeholder="Security Deposit In Days">
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="col-md-6  Auctionable FullPaymetDays">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Full Payment Days</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control allow-number" name="FullPaymetDays" value="@ProductInformationViewModel.FullPaymetDays" placeholder="Full Paymet in Days">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 Auctionable" id="hasproduct_Minimum">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">has Minimum Bid Amount</label>
                                                                        <div class="col-lg-9">
                                                                            <select class="form-control" id="has_minimunbid" required="required">
                                                                                <option value="1" @(ProductInformationViewModel.hasMinimumSellingPrice == true ? "selected" : "")>Yes</option>
                                                                                <option value="0" @(ProductInformationViewModel.hasMinimumSellingPrice == false ? "selected" : "")>No</option>

                                                                            </select>
                                                                        </div>

                                                                        @Html.HiddenFor(model => model.ProductInformationViewModel.hasMinimumSellingPrice)
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 Auctionable" id="product_Minimum">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Minimum Bid Amount</label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Minimum Bid Amount" value="@ProductInformationViewModel.ProductDetails[0].MinimumSellingPrice" name="ProductDetails[0].MinimumSellingPrice">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="col-md-6 Auctionable" id="show_bidAmount">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">show Bid Amount</label>
                                                                        <div class="col-lg-9">
                                                                            @*@Html.DropDownListFor(m => m.ProductInformationViewModel.ShowBidAmmount,new SelectList( ViewBag.Showbidchoices,"Value", "Text"),"Select",new { @class = "form-control" })*@

                                                                            <select class="form-control kt-selectpicker" title="show Bid Amount" id="show_Bid_Amount" required="required" name="@Html.Name("ShowBidAmmount")">
                                                                                <option value="1" @(ProductInformationViewModel.ShowBidAmmount == true ? "selected='selected'" : "")>Yes</option>
                                                                                <option value="0" @(ProductInformationViewModel.ShowBidAmmount != true ? "selected='selected'" : "")>No</option>

                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6 Auctionable">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Price(Bid)</label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" value="@ProductInformationViewModel.Price" aria-label="Bid Amount" name="Price">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 Auctionable">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Bid Difference Type</label>
                                                                        <div class="col-lg-9">

                                                                            <select class="form-control kt-selectpicker" id="BidDifferenceType" name="BidDifferenceType">
                                                                                <option value="0" @(ProductInformationViewModel.BidDifferenceType == 0 ? "selected" : "")>None</option>
                                                                                <option value="1" @(ProductInformationViewModel.BidDifferenceType == 1 ? "selected" : "")>Fixed</option>
                                                                                <option value="2" @(ProductInformationViewModel.BidDifferenceType == 2 ? "selected" : "")>Percet</option>
                                                                            </select>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 Auctionable BidDifferenceType">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Bid Difference</label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" value="@ProductInformationViewModel.BidDifference" placeholder="0.00" aria-label="Bid Difference" name="BidDifference">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="col-md-6 Auctionable">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Bid Start At</label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" placeholder="Select date & time" id="bidstartdate" name="BidStartDate" value="@(ProductInformationViewModel.BidStartDate!=null?ProductInformationViewModel.BidStartDate.Value.ToString("MM/dd/yyyy hh:mm:ss"):DateTime.Now.ToString("MM/dd/yyyy hh:mm:ss"))" />
                                                                                <div class="input-group-append">
                                                                                    <span class="input-group-text">
                                                                                        <i class="la la-calendar-check-o"></i>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6  Auctionable">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Deadline In Days</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control allow-number" name="DeadLineInDays" value="@ProductInformationViewModel.DeadLineInDays" placeholder="Deadline In Days">
                                                                            <span class="form-text text-muted">For standard commodities we suggest a 7 day auction deadline. If your item is of high value or complicated we suggest a later deadline. Please call us if your item is of extreme urgency, such as frozen items and produce.</span>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="col-md-6 Auctionable" id="AllowShowBiddersLocation_div">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Allow  Bidders Locations</label>
                                                                        <div class="col-lg-9">
                                                                            <select class="form-control" id="AllowShowBiddersLocations" required="required" name="AllowShowBiddersLocations">
                                                                                <option value="">select</option>
                                                                                <option value="1" @(ProductInformationViewModel.AllowShowBiddersLocations == true ? "selected" : "")>Yes</option>
                                                                                <option value="0" @(ProductInformationViewModel.AllowShowBiddersLocations != true ? "selected" : "")>No</option>

                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6 Non-Auctionable">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Unit Price(DP)</label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" value="@ProductInformationViewModel.UnitPrice" placeholder="0.00" aria-label="Unit Price" name="UnitPrice">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Wholesale Value <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Wholesale Value" value="@ProductInformationViewModel.ProductDetails[0].WholesaleValue" required name="ProductDetails[0].WholesaleValue">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Length </label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["Length_Unit"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Length Value" required name="Length" value="@ProductInformationViewModel.Length">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Width </label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["Length_Unit"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Width Value" required name="Width" value="@ProductInformationViewModel.Width">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Height </label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["Length_Unit"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Height Value" required name="Height" value="@ProductInformationViewModel.Height">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Weight </label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["Weight_Unit"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Weight Value" required name="Weight" value="@ProductInformationViewModel.Weight">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">Retail Value</label>
                <div class="col-lg-9">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">SAR</span>
                        </div>
                        <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Retail Value" name="ProductDetails[0].RetailValue">
                    </div>
                </div>
            </div>
        </div>*@




                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end: Form Wizard Step 1-->
                            <!--begin: Form Wizard Step 2-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                                        <div class="kt-section kt-section--first">
                                            <div class="accordion  accordion-toggle-arrow" id="accordionExample4">
                                                <div class="card">
                                                    <div class="card-header" id="headingOne4">
                                                        <div class="card-title" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                                                            <i class="fa fa-angle-double-right"></i> Upload Image
                                                        </div>
                                                    </div>
                                                    <div id="collapseOne4" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample4">
                                                        <div class="card-body">
                                                            <p class="kt-wizard-v1__form-label">
                                                                Images are probably the most important piece of information that buyers are looking for. There is no limit to the number of images that you can upload, we find the more the images the more the bids.
                                                            </p>

                                                            <div class="form-group row">
                                                                <label class="col-form-label col-lg-3 col-sm-12">Select Images</label>
                                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                                    <div class="dropzone dropzone-default dropzone-brand" id="images_kt-dropzone">
                                                                        <div class="dropzone-msg dz-message needsclick">
                                                                            <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                                                            <span class="dropzone-msg-desc">Upload up to 10 files</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingTwo4">
                                                        <div class="card-title" data-toggle="collapse" data-target="#collapseTwo4" aria-expanded="true" aria-controls="collapseTwo4">
                                                            <i class="fa fa-angle-double-right"></i> Upload Documents
                                                        </div>
                                                    </div>
                                                    <div id="collapseTwo4" class="collapse show" aria-labelledby="headingTwo1" data-parent="#accordionExample4">
                                                        <div class="card-body">
                                                            <p class="kt-wizard-v1__form-label">
                                                                Please upload any supporting documents, such as bills of lading, material safety data sheets, inventory lists, copy of the title, or any other supporting documents. Please remove any information that you do not want to be visible to the public like fax numbers the insurer's information or other sensitive information. A Win Agent can help you do this if you let them know.
                                                            </p>

                                                            <div class="form-group row">
                                                                <label class="col-form-label col-lg-3 col-sm-12">Select Documents</label>
                                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                                    <div class="dropzone dropzone-default dropzone-brand" id="docs_kt-dropzone">
                                                                        <div class="dropzone-msg dz-message needsclick">
                                                                            <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                                                            <span class="dropzone-msg-desc">Upload up to 10 files</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            @*<div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Document Title</label>
                                                                    <div class="col-lg-9">
                                                                        <input type="text" class="form-control" placeholder="Document Title" name="DocumentTitle">
                                                                    </div>
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end: Form Wizard Step 2-->
                            <!--begin: Form Wizard Step 3-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                                        <div class="kt-section kt-section--first">

                                            <div class="accordion" id="kt-pi__container--preview">

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end: Form Wizard Step 3-->
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <button class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
                                    Submit
                                </button>
                                <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
                                    Next
                                </button>
                            </div>
                            <input type="hidden" name="Id" value="" />
                            <input type="hidden" name="ProductId" value="@ProductInformationViewModel.ProductId" />

                            <input type="hidden" name="ProductDetails[0].ProductId" value="@ProductInformationViewModel.ProductId" />
                            <input type="hidden" name="ProductDetails[0].ProductDetailsId" value="@ProductInformationViewModel.ProductDetails[0].ProductDetailsId" />
                            <input type="hidden" name="ProductImage" value="@ProductInformationViewModel.ProductImage" />
                            <input type="hidden" name="ProductDocument" value="@ProductInformationViewModel.ProductDocument" />
                            <input type="hidden" name="isActive" value="@Model.ProductInformationViewModel.isActive.ToString()" />
                            <input type="hidden" name="IsWinActive" value="@Model.ProductInformationViewModel.IsWinActive.ToString()" />

                            @*@Html.HiddenFor(x => x.ProductInformationViewModel.isActive)
                                @Html.HiddenFor(x => x.ProductInformationViewModel.IsWinActive)*@
                            <!--end: Form Actions -->
                        </form>

                        <!--end: Form Wizard Form-->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content -->
</div>

@section scripts{
    <script src="/Content/plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.min.js"></script>
    @*<script src="/content/js/pages/crud/file-upload/dropzonejs.js" type="text/javascript"></script>*@
    <script src="/content/js/pages/custom/wizard/wizard-1_admin.js" type="text/javascript"></script>
    @*<script src="/content/js/pages/crud/forms/validation/form-controls.js" type="text/javascript"></script>*@
    <script src="/content/js/pages/crud/forms/widgets/bootstrap-select.js" type="text/javascript"></script>
    <script src="/content/js/pages/crud/forms/editors/summernote.js" type="text/javascript"></script>

    <script>
       $(".select2").select2();


        var kt_Selectpicker = function () {
            $('.kt-selectpicker').on('change', function () {
                $(this).validate();
                $(this).valid();
            });
        };

        var numbersOnly = function () {
            $(document).on('keypress', '.allow-number', function (e) {
                //console.log(e.which);
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });
        }

        var floatNumber = function () {
            $(document).on('keypress', '.allow-float', function (e) {

                if ($(this).val().toString().indexOf(".") !== -1 && e.which === 46) return false;

                if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                    return false;
                }

            });
        }


        var Countries = function () {

            $('#Country').on('change', function (e) {
                $.get('@Url.Action("ListOfStates")', { CountryId: $(this).val() }, function (data) {

                    $('#State').empty();
                    $('#State').selectpicker("refresh");

                    $.each(data, function (i, item) {
                        $('#State').append('<option value="' + item.id + '">' + item.name + '</option>');
                        console.log(item);
                    });
                     $('#State').selectpicker('val',   $('#State').val());
                    $('#State').selectpicker("refresh");
                });
            });


            $('#State').on('change', function (e) {


                $.get('@Url.Action("ListOfCities")', { StateId: $(this).val() }, function (data) {
                    $('#City').empty();
                    $.each(data, function (i, item) {
                        $('#City').append('<option value="' + item.id + '">' + item.text + '</option>');
                           console.log(item);
                    });
                    $('#City').selectpicker('val',   $('#City').val());
                    $('#City').selectpicker("refresh");
                });
            });
        }

        $(document).ready(function () {
            $("#SecurityDeposit").on("change", function () {
                let isdeposit = $(this).val();
                 $(".SecurityDepositdays").show();
                if (isdeposit == 0) {
                    $(".SecurityDepositdays").hide();
                }
                else { $(".SecurityDepositdays").show();}
            });
             $("#has_minimunbid").on("change", function () {
                 let hasminimum = $(this).val();
                 $('input[name="ProductInformationViewModel.hasMinimumSellingPrice"]').val(hasminimum);
                // alert($('input[name="ProductInformationViewModel.hasMinimumSellingPrice"]').val());
                $("#product_Minimum").show();
                if (hasminimum == 0) {
                    $("#product_Minimum").hide();
                }
                else { $("#product_Minimum").show(); }

             });


             $("#KeyWords").tagsinput();
            $(".Non-Auctionable").hide();

            $("#PricingType").val("@ProductInformationViewModel.PricingType");

            $("#PricingType").on("change", function () {
                let type = $(this).val();
                $(".Non-Auctionable").hide();
                $(".Auctionable").hide();
                $("." + type).show();



            });
            $("#PricingType").change();
                $("#has_minimunbid").val(@(ProductInformationViewModel.hasMinimumSellingPrice==true?1:0));
            console.log($("#has_minimunbid").val());
            $("#has_minimunbid").change();

            $("#SpecialInstructions").html("@ProductInformationViewModel.ProductDetails[0].SpecialInstructions");

            $('.summernote').summernote({
                airMode: true,

            });

            @*$('.note-editable').html("@Html.Raw(ProductInformationViewModel.ProductDetails[0].Description.Replace(""+'"',"'"))");*@
            kt_Selectpicker();


              $('#bidstartdate').datetimepicker({
                 //startDate:'1971/05/01',
            todayHighlight: true,
            autoclose: true,
            pickerPosition: 'bottom-left',
            format: "mm/dd/yyyy  HH:ii P"
        });
            $('#bidstartdate_modal').datetimepicker({
            //startDate:'1971/05/01',
            todayHighlight: true,
            autoclose: true,
            pickerPosition: 'bottom-left',
           format: "mm/dd/yyyy  HH:ii P"
        });

            numbersOnly();
            floatNumber();

            Countries();
            // multiple file upload
            imagesUploader = $('#images_kt-dropzone').dropzone({
                init: function () {
                      var thisDropzone = this;

              //Call the action method to load the images from the server
                    $.get("@Url.Action("GetAttachment",new { id=Model.ProductInformationViewModel.ProductId})", function (data) {
                        console.log(data);
                        if (data.Data != '') {

                            $.each(data.Data, function (index, item) {
                                //// Create the mock file:
                                var mockFile = {
                                    name: item.AttachmentID,
                                    size: item.size
                                };

                                // Call the default addedfile event handler
                                thisDropzone.emit("addedfile", mockFile);

                                // And optionally show the thumbnail of the file:
                                thisDropzone.emit("thumbnail", mockFile, item.Path);
                            })
                          }

                    })

                    let fileIndex = 0;

                    this.on('success', function (file, response) {
                        // for each file
                    });

                    this.on('removedfile', function (file, response) {
                        //var newFileName = JSON.parse(file.xhr.response).Files.filter(r => r.uuid == file.upload.uuid)[0].Name;
                        //var currentFiles = $('[name=ProductImage]').val().split(',').filter(r => r !== '' && r !== newFileName);
                        //$('[name=ProductImage]').val(currentFiles.join(","));
                        var currentFiles = $('[name=ProductImage]').val().split("(&)");//.[(file.name)-1].filter(r => r !== '' && r !== newFileName);
                        currentFiles.splice(file.name - 1, 1);
                        $('[name=ProductImage]').val(currentFiles.join("(&)"));
                    });

                    this.on('successmultiple', function (file, response) {
                        var currentFiles = $('[name=ProductImage]').val().split("(&)").filter(r=> r !== '');
                        var newFiles = response.Files.map(m => m.Name);
                        $('[name=ProductImage]').val([...currentFiles, ...newFiles].join("(&)"));
                    });

                    this.on("sending", function (file, xhr, formData) {
                        formData.append("uuid["+(fileIndex++)+"]", file.upload.uuid);
                    });

                },
                url: '@Url.Action("Up", "Uploader", new { Area = "" })',
                maxFiles: 100,
                parallelUploads: 10,
                uploadMultiple: true,
                addRemoveLinks: true,
                acceptedFiles: ".jpeg,.jpg,.png,.gif"
            });


            // multiple file upload
            docsUploader = $('#docs_kt-dropzone').dropzone({
                init: function () {

                    var thisDropzone = this;
                    $.get("@Url.Action("GetAttachmentdocs",new { id=Model.ProductInformationViewModel.ProductId})", function (data) {
                        console.log(data);
                        if (data.Data != '') {

                            $.each(data.Data, function (index, item) {
                                //// Create the mock file:
                                var mockFile = {
                                    name: item.AttachmentID,
                                    size: item.size
                                };

                                // Call the default addedfile event handler
                                thisDropzone.emit("addedfile", mockFile);

                                // And optionally show the thumbnail of the file:
                                thisDropzone.emit("thumbnail", mockFile, item.Path);
                            })
                          }

                    })
                    let fileIndex = 0;



                    this.on('success', function (file, response) {
                        // for each file
                    });

                    this.on('removedfile', function (file, response) {

                        var currentFiles = $('[name=ProductDocument]').val().split(",");//.[(file.name)-1].filter(r => r !== '' && r !== newFileName);
                        currentFiles.splice(file.name - 1, 1);
                        $('[name=ProductDocument]').val(currentFiles.join(","));
                        //var newFileName = JSON.parse(file.xhr.response).Files.filter(r => r.uuid == file.upload.uuid)[0].Name;
                        //console.log(newFileName);
                        //var currentFiles = $('[name=ProductDocument]').val().split(',').filter(r => r !== '' && r !== newFileName);
                        //console.log(currentFiles);
                        //$('[name=ProductDocument]').val(currentFiles.join(","));
                    });

                    this.on('successmultiple', function (file, response) {
                        var currentFiles = $('[name=ProductDocument]').val().split(',').filter(r=> r !== '');
                        var newFiles = response.Files.map(m => m.Name);
                        $('[name=ProductDocument]').val([...currentFiles, ...newFiles].join(","));
                    });

                    this.on("sending", function (file, xhr, formData) {
                        formData.append("uuid["+(fileIndex++)+"]", file.upload.uuid);
                    });

                },
                url: '@Url.Action("Up", "Uploader", new { Area = "" })',
                maxFiles: 100,
                parallelUploads: 10,
                uploadMultiple: true,
                addRemoveLinks: true,
                acceptedFiles: ".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx"
            });

           $("#Longitudepoint").change();

        });

        @*$(document).ready(function () {


            $('#Country').change();
            $(document).ajaxSuccess(function (e, xhr, settings) {
                var state = '@(ProductInformationViewModel.State!=null?ProductInformationViewModel.State.id:0)';

                //console.log(state);
               // $("#State").selectpicker('val', state);
                 $("#State").val(state);
               // $("#State").selectpicker('refresh');
                //$('#State').change();
                $("#State").change();
                var City = @(ProductInformationViewModel.City!=null?ProductInformationViewModel.City.id:0);

                $("#City").val(City);
                 $("#State").change();
            });

        });*@
           $("#categoryList").change(function () {
            var categoryid = $(this).val();

            console.log(categoryid);
                $.get('@Url.Action("GetSubCommodity")?categoryid='+categoryid, function (response) {

                                        console.log(response);
                                        $('#SubCommoditylist').html('');
                                        var options = '';
                                        options += '<option value="">Select Sub Commodity</option>';
                    for (var i = 0; i < response.length; i++) {


                            options += '<option value="' + response[i].SubCommodityId + '">' + response[i].SubCommodity + '</option>';


                                        }
                                        $('#SubCommoditylist').append(options);

                                });
           })

     $("#Latitudepoint").change(function () {
              var lat = $("#Latitudepoint").val();
              var lon = $("#Longitudepoint").val();
              if ($.isNumeric(lat) & $.isNumeric(lon)) {
                  initMap(parseFloat(lat),parseFloat(lon));
              }
        });
          $("#Longitudepoint").change(function () {

              var lat =$("#Latitudepoint").val();
              var lon = $("#Longitudepoint").val();

              if ($.isNumeric(lat) & $.isNumeric(lon)) {
                  initMap(parseFloat(lat),parseFloat(lon));
              }
        });
        function initMap(latpoint=24.713552,lngpoint= 46.675296) {


                // Map options
                var options = {

                        zoom: 6,
                    center: { lat: latpoint, lng: lngpoint }
                }

                // New map
                var map = new google.maps.Map(document.getElementById('map'), options);

                            addMarker({ coords: { lat: latpoint, lng: lngpoint }, iconImage: null  , content: null});
            var activeInfoWindow;
            function handleEvent(event) {

             document.getElementById('Latitudepoint').value = event.latLng.lat();
             document.getElementById('Longitudepoint').value = event.latLng.lng();
             }
            function addMarker(props) {
                    var marker = new google.maps.Marker({
                        position: props.coords ,
                        map: map,
                        draggable: true,
                        //icon:props.iconImage
                    });
                    // Check for customicon
                    if (props.iconImage) {
                        // Set icon image
                        marker.setIcon(props.iconImage);
                    }

                    // Check content
                    //if (props.content) {
                    marker.addListener('click', function (event) {

                         var infoWindow = new google.maps.InfoWindow({
                            content: 'Latitude: ' +   event.latLng.lat() + '<br>Longitude:' +  event.latLng.lng()
                         });
                        if (activeInfoWindow) { activeInfoWindow.close();}
                        activeInfoWindow = infoWindow;
                        infoWindow.open(map, marker);
                    });
                    marker.addListener('drag', function (event) {
                    document.getElementById('Latitudepoint').value = event.latLng.lat();
                    document.getElementById('Longitudepoint').value = event.latLng.lng();
                    });
                    marker.addListener('dragend', function (event) {

                    document.getElementById('Latitudepoint').value = event.latLng.lat();
                    document.getElementById('Longitudepoint').value = event.latLng.lng();
                    var infoWindow = new google.maps.InfoWindow({
                    content: 'Latitude: ' +   event.latLng.lat() + '<br>Longitude:' +  event.latLng.lng()
                    });


                     if (activeInfoWindow) { activeInfoWindow.close();}
                     activeInfoWindow = infoWindow;
                     infoWindow.open(map, marker);
                    });

                }
            }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8KE5GHnuuuVbgAw5DT-zdWMe6bU5EH3Y&callback=initMap">
    </script>
}