﻿@model  ProductInformationViewModel

@{
    ViewBag.Title = "NewListing";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section styles{
    <link href="~/Content/plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css" rel="stylesheet" />

    <link href="/content/css/pages/wizard/wizard-1.css" rel="stylesheet" type="text/css" />
    <style>
        .star {
            color: #fd397a;
        }

        input:read-only, textarea:read-only, .form-control[contenteditable='false'] .dropdown-toggle.btn-light, .form-control[contenteditable='false'] .dropdown-toggle.btn-secondary {
            background-color: #e5e5e5 !important;
        }

        .bootstrap-tagsinput {
            width: 100%;
        }

        .label-info {
            background-color: #5578eb !important;
        }
    </style>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Content Head -->
    <div class="kt-subheader  kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">@Model.ProductTitle</h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
                    <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
                    <span class="kt-input-icon__icon kt-input-icon__icon--right">
                        <span><i class="flaticon2-search-1"></i></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content Head -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid  kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1" data-ktwizard-state="step-first">

                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">

                        <!--begin: Form Wizard Step 1-->
                        <div class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                            <div class="kt-form__section kt-form__section--first">
                                <div class="kt-wizard-v1__form">
                                    <div class="kt-section kt-section--first">
                                        <div class="accordion" id="kt-pi__container">
                                            <div class="card">
                                                <div class="card-header" id="headingOne">
                                                    <div class="card-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne1">
                                                        <i class="fa fa-angle-double-right"></i> Product Information
                                                    </div>
                                                </div>
                                                <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne">
                                                    <div class="card-body">

                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Title <span class="star"><span class="star">*</span></span></label>
                                                                    <div class="col-lg-9">
                                                                        <input type="text" class="form-control" name="ProductTitle" placeholder="Enter Title of an Item" value="@Model.ProductTitle" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label"></label>
                                                                    <div class="col-lg-9">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Discipline / Category</label>
                                                                    <div class="col-lg-9">
                                                                        <select class="form-control kt-selectpicker">
                                                                            <option value="">@Model.OBSProductCategory.CategoryName</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Sub-commodity</label>
                                                                    <div class="col-lg-9">
                                                                        <select class="form-control kt-selectpicker">
                                                                            <option value="">@Model.OBSSubCommodity.SubCommodity</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Condition</label>
                                                                    <div class="col-lg-9">
                                                                        <input type="text" name="ProductDetails[0].Condition" class="form-control" placeholder="Condition" value="@(Model.ProductDetails.First().Condition ?? "")" />
                                                                        <span class="form-text text-muted">Please provide a brief description of why the item is available, any present damage, age and how long it has been stored.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Deadline In Days</label>
                                                                    <div class="col-lg-9">
                                                                        <input type="text" class="form-control allow-number" name="DeadLineInDays" placeholder="Deadline In Days" value="@(Model.DeadLineInDays)" />
                                                                        <span class="form-text text-muted">For standard commodities we suggest a 7 day auction deadline. If your item is of high value or complicated we suggest a later deadline. Please call us if your item is of extreme urgency, such as frozen items and produce.</span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Bid Start At</label>
                                                                    <div class="col-lg-9">
                                                                        <div class="input-group date">
                                                                            <input type="text" class="form-control" placeholder="Select date" name="BidStartDate" value="@(Model.BidStartDate == null ? "" : Model.BidStartDate.Value.ToString("dd/MM/yyyy"))" />
                                                                            <div class="input-group-append">
                                                                                <span class="input-group-text">
                                                                                    <i class="la la-calendar-check-o"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <div class="form-group row">
                                                                    <label class="col-12-3 col-form-label">Description</label>
                                                                    <div class="col-lg-12">
                                                                        <textarea name="ProductDetails[0].Description" placeholder="write here" rows="10" class="form-control summernote">@(Model.ProductDetails.First().Description)</textarea>
                                                                        <span class="form-text text-muted">
                                                                            Please provide a detailed description of the item you are selling. If you do not have a detailed description or you have submitted the information via email, please provide a brief description of the item.
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="col-md-12">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-12 col-form-label">Special Description</label>
                                                                    <div class="col-lg-12">
                                                                        <textarea name="ProductDetails[0].SpecialInstructions" placeholder="write here" rows="5" class="form-control ">@(Model.ProductDetails.First().SpecialInstructions)</textarea>
                                                                        <span class="form-text text-muted">
                                                                            The buyers will need to know if there is a load out charge or any past due storage. If there is exceptionally high storage fees, please let us know so we can speed up the sales process.
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Keywords</label>
                                                                    <div class="col-lg-9">
                                                                        <input type="text" class="form-control" placeholder="Keyword" value="@Model.Keywords">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="headingTwo">
                                                    <div class="card-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseTwo1">
                                                        <i class="fa fa-angle-double-right"></i> Product Location
                                                    </div>
                                                </div>
                                                <div id="collapseTwo1" class="collapse show" aria-labelledby="headingTwo1">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Contact</label>
                                                                    <div class="col-lg-9">
                                                                        <input type="text" class="form-control" placeholder="Contact" value="@Model.ProductDetails[0].Contact">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Company</label>
                                                                    <div class="col-lg-9">
                                                                        <input type="text" class="form-control" value="@Model.ProductDetails[0].Company" placeholder="write company name" />
                                                                        @*@Html.DropDownList("ProductDetails[0].Company", new SelectList(Model.Companies, "ID", "Name"), "Select Company", new { data_live_search = "true", @class = "form-control kt-selectpicker" })*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Phone</label>
                                                                    <div class="col-lg-9">
                                                                        <input type="tel" class="form-control   allow-number" placeholder="Phone" value="@Model.ProductDetails[0].Phone">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Fax</label>
                                                                    <div class="col-lg-9">
                                                                        <input type="tel" class="form-control  allow-number" placeholder="Fax" value="@Model.ProductDetails[0].Fax">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Email <span class="star">*</span></label>
                                                                    <div class="col-lg-9">
                                                                        <input type="email" class="form-control" placeholder="Email " required value="@Model.ProductDetails[0].Email" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Address <span class="star">*</span></label>
                                                                    <div class="col-lg-9">
                                                                        <input type="text" class="form-control" placeholder="Address" required value="@Model.ProductDetails[0].Address" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Longitude</label>
                                                                    <div class="col-lg-9">
                                                                        <input type="text" class="form-control allow-float" placeholder="Ex:76.9826339" value="@Model.ProductDetails[0].lon" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Latitude</label>
                                                                    <div class="col-lg-9">
                                                                        <input type="text" class="form-control allow-float" placeholder="Ex:11.0143896" value="@Model.ProductDetails[0].lat" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Country <span class="star">*</span></label>
                                                                    <div class="col-lg-9">
                                                                        <select class="form-control kt-selectpicker">
                                                                            <option>@(Model.Country!=null?Model.Country.name:"")</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Region / State <span class="star">*</span></label>
                                                                    <div class="col-lg-9">
                                                                        <select class="form-control kt-selectpicker">
                                                                            <option>@(Model.State!=null?Model.State.name:"")</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">City <span class="star">*</span></label>
                                                                    <div class="col-lg-9">
                                                                        <select class="form-control kt-selectpicker">
                                                                            <option>@(Model.City!=null?Model.City.text:"")</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="headingThree1">
                                                    <div class="card-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseThree1">
                                                        <i class="fa fa-angle-double-right"></i> Product Pricing and Reserve
                                                    </div>
                                                </div>
                                                <div id="collapseThree1" class="collapse show" aria-labelledby="headingThree1">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Pricing Type <span class="star">*</span></label>
                                                                    <div class="col-lg-9">
                                                                        <select class="form-control kt-selectpicker" title="Select Pricing Type" required="required" name="PricingType">
                                                                            <option value="Auctionable" @(Model.PricingType == "Auctionable" ? "selected='selected'" : "")>Auctionable</option>
                                                                            <option value="Non-Auctionable" @(Model.PricingType == "Non-Auctionable" ? "selected='selected'" : "")>Direct Purchase</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Security Deposit</label>
                                                                    <div class="col-lg-9">
                                                                        <select class="form-control kt-selectpicker" title="Select Security Deposit" required="required" name="SecurityDeposit">
                                                                            <option value="Yes" @(Model.SecurityDeposit == "Yes" ? "selected='selected'" : "")>Yes</option>
                                                                            <option value="No" @(Model.SecurityDeposit == "No" ? "selected='selected'" : "")>No</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Is Inspectable <span class="star">*</span></label>
                                                                    <div class="col-lg-9">
                                                                        <select class="form-control kt-selectpicker" name="IsInspect">
                                                                            <option value="True" @(Model.IsInspect ? "selected='selected'" : "")>Yes</option>
                                                                            <option value="False" @(!Model.IsInspect ? "selected='selected'" : "")>No</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Is Shipment</label>
                                                                    <div class="col-lg-9">
                                                                        <select class="form-control kt-selectpicker" name="IsShipment">
                                                                            <option value="True" @(Model.IsShipment ? "selected='selected'" : "")>Yes</option>
                                                                            <option value="False" @(Model.IsShipment ? "selected='selected'" : "")>No</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Minimum Bid Amount</label>
                                                                    <div class="col-lg-9">
                                                                        <div class="input-group">
                                                                            <div class="input-group-prepend">
                                                                                <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                                                                            </div>
                                                                            <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Minimum Bid Amount" value="@Model.ProductDetails[0].MinimumSellingPrice">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Price(Bid)</label>
                                                                    <div class="col-lg-9">
                                                                        <div class="input-group">
                                                                            <div class="input-group-prepend">
                                                                                <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                                                                            </div>
                                                                            <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Bid Amount" value="@Model.Price" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Bid Difference</label>
                                                                    <div class="col-lg-9">
                                                                        <div class="input-group">
                                                                            <div class="input-group-prepend">
                                                                                <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                                                                            </div>
                                                                            <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Bid Difference" value="@Model.BidDifference">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Wholesale Value <span class="star">*</span></label>
                                                                    <div class="col-lg-9">
                                                                        <div class="input-group">
                                                                            <div class="input-group-prepend">
                                                                                <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                                                                            </div>
                                                                            <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Wholesale Value" required value="@Model.ProductDetails[0].WholesaleValue">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Retail Value</label>
                                                                    <div class="col-lg-9">
                                                                        <div class="input-group">
                                                                            <div class="input-group-prepend">
                                                                                <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                                                                            </div>
                                                                            <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Retail Value" value="@Model.ProductDetails[0].RetailValue">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Quantity  <span class="star">*</span></label>
                                                                    <div class="col-lg-9">
                                                                        <input type="text" class="form-control allow-number" placeholder="Quantity" required value="@Model.Quantity">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header" id="headingThree1">
                                                    <div class="card-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseThree1">
                                                        <i class="fa fa-angle-double-right"></i> Media
                                                    </div>
                                                </div>
                                                <div id="collapseThree1" class="collapse show" aria-labelledby="headingThree1">
                                                    <div class="card-body">
                                                        <div class="row"></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 1-->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content -->
</div>

@section scripts{
    <script src="/Content/plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.min.js"></script>
    <script>
        $("#KeyWord").tagsinput();
        $(document).ready(function () {
            // $('.summernote').summernote({ airMode: true });

            $('select, input, button, textarea').attr('disabled', 'disabled');
            $('div[contenteditable="true"]').attr('contenteditable', 'false');
        });
    </script>
}