﻿@model BuyerOrderViewModel
@using ps.haweya.win.obs.business.Managers;
@{
    ViewBag.Title = "Invoice";
    Layout = "~/Areas/Seller/Views/Shared/Layout.cshtml";
    var total = Model.CartItems.Where(x => x.ProductInformation.Username.Equals(User.Identity.Name)).Sum(t => t.ProductInformation.UnitPrice * t.Qty.Value);
    var bank = ViewBag.Bank as BankAccountViewModel;
    double vatvalue = CacheManager.Setting.VatValue ?? 0;
    string vattext = CacheManager.Setting.VatText;
}


@section    Styles{
    <link href="/Content/css/pages/invoices/invoice-2.css" rel="stylesheet" type="text/css" />
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title"><i class="fas fa-dolly"></i>&nbsp;Customer Orders</h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <h3 class="kt-subheader__title">INV-@Model.ID.ToString("000")-@ViewBag.SellerID</h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <h3 class="kt-subheader__title kt-text-light">Invoice</h3>
            </div>
            <div class="kt-subheader__toolbar"></div>
        </div>
    </div>
    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-invoice-2">
                    <div class="kt-invoice__head">
                        <div class="kt-invoice__container">
                            <div class="kt-invoice__brand">
                                <h1 class="kt-invoice__title">INVOICE </h1>
                                <div href="#" class="kt-invoice__logo">
                                    <a href="#"><object type="image/svg+xml" data="/Content/FrontEnd/images/logo.svg" width="350"> </object></a>
                                    <span class="kt-invoice__desc" style="text-align:left">
                                        <span style="margin-bottom: 10px;">Chamber of Commerce Building, 6th Floor, Jubail Industrial City Saudi Arabia</span>

                                        <span>Call Us: +966 13 347 9300</span>
                                        <span>Email: info@@win.com.sa</span>
                                        <span>url: win.com.sa</span>
                                    </span>
                                </div>
                            </div>
                            <div class="kt-invoice__items">
                                <div class="kt-invoice__item">
                                    <span class="kt-invoice__subtitle">DATE</span>
                                    <span class="kt-invoice__text">@Model.InsertDate.Value.ToString("dd/MM/yyyy")</span>
                                </div>
                                <div class="kt-invoice__item">
                                    <span class="kt-invoice__subtitle">INVOICE NO.</span>
                                    <span class="kt-invoice__text">ORD-@Model.ID.ToString("000")</span>
                                </div>

                                <div class="kt-invoice__item">
                                    <span class="kt-invoice__subtitle">INVOICE TO.</span>

                                    <span class="kt-invoice__text">
                                        Name : <b>@Model.AspNetUser.FullName</b>



                                    </span>

                                    @if (@Model.ShippingData != null)
                                    {<span class="kt-invoice__text">
                                            Address :  <b>
                                                @Model.ShippingData.FirstAddress <br />

                                                <label id="lblcity" class="lblcity" myid="@Model.ShippingData.CityID"></label> @Model.ShippingData.CityName,<label id="lblstate" class="lblstate" myid="@Model.ShippingData.StateID"></label> @Model.ShippingData.StateName ,<label id="lblcountry" class="lblcountry" myid="@Model.ShippingData.CountryID"></label>@Model.ShippingData.CountryName
                                            </b><br />
                                            POBox : <b>@Model.ShippingData.ZipCode</b><br />
                                        </span>

                                    }
                                    else
                                    {
                                        <span class="kt-invoice__text">
                                            Address :  <b>


                                                <label id="lblcity1" class="lblcity1" myid="@Model.AspNetUser.CityId"></label> ,<label id="lblstate1" class="lblstate1" myid="@Model.AspNetUser.StateId"></label> @Model.AspNetUser.StateId ,<label id="lblcountry1" class="lblcountry1" myid="@Model.AspNetUser.CountryId"></label>@Model.AspNetUser.CountryId
                                            </b>
                                            POBox : <b>@Model.AspNetUser.POBox</b><br />
                                        </span>


                                    }

                                    <span class="kt-invoice__text">

                                        Mobile:<b>@Model.AspNetUser.PhoneNumber</b>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="kt-invoice__body">
                        <div class="kt-invoice__container">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Item</th>
                                            <th>Qty</th>
                                            <th>Price</th>
                                            @*<th>Inspection</th>
                                                <th>Shipping</th>*@
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itm in Model.CartItems.Where(x => x.ProductInformation.Username.Equals(User.Identity.Name)))
                                        {
                                            <tr>
                                                <td class="product-thumb">
                                                    <a href="#">

                                                        <img class='img img-responsive' src='@itm.ProductInformation.ProductImg[0]' style="height: 60px;" />


                                                    </a>
                                                </td>
                                                <td>  <a href="@Url.Action("Details","ProductDetails",new { id=itm.ProductID})">@itm.ProductInformation.ProductTitle</a></td>
                                                <td>@itm.Qty</td>
                                                <td>@(string.Format("{0:n}", itm.ProductInformation.UnitPrice))</td>
                                                @*<td>@itm.InspectionValue</td>
                                                    <td>@itm.ShippingValue</td>*@
                                                <td>@(string.Format("{0:n}", Convert.ToDouble((itm.ProductInformation.UnitPrice * itm.Qty))))</td>
                                            </tr>
                                        }
                                        <tr><td colspan="3" class="nobacknoborder"></td><td>BaseTotal</td><td>@(string.Format("{0:n}", Convert.ToDouble(total))) @System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</td></tr>
                                        <tr><td colspan="3" class="nobacknoborder"></td><td>Vat @vattext</td><td>@(string.Format("{0:n}", Convert.ToDouble(total * vatvalue))) @System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</td></tr>
                                        <tr><td colspan="3" class="nobacknoborder"></td><td> Total</td><td>@(string.Format("{0:n}", Convert.ToDouble(total + (total * vatvalue)))) @System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="kt-invoice__footer">
                        <div class="kt-invoice__container">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>BANK</th>
                                            <th>ACC.NO.</th>
                                            <th>DUE DATE</th>
                                            <th>TOTAL AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @if (bank != null)
                                            {
                                                <td>@bank.Name</td>
                                                <td>@bank.No</td>

                                            }
                                            else
                                            {
                                                <td>BARCLAYS UK</td>
                                                <td>12345678909</td>
                                            }
                                            <td>@Model.InsertDate.Value.ToString("dd/MM/yyyy")</td>
                                            <td class="kt-font-danger kt-font-xl kt-font-boldest">@(string.Format("{0:n}", Convert.ToDouble(total + (total * vatvalue)))) @System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</td>
                                        </tr>
                                        @if (bank != null)
                                        {

                                            <tr><th style="border-top:1px solid #ebedf2;">Account Name : </th><td colspan="3">@bank.Beneficiary_Account_Name</td></tr>
                                            <tr><th>IBAN : </th><td colspan="3">@bank.IBAN</td></tr>
                                            <tr><th>Swift Code : </th><td colspan="3">@bank.SWIFT_CODE</td></tr>
                                            <tr><th>Address : </th><td colspan="3">@bank.Bank_Address_Country</td></tr>
                                            <tr><th>Currency : </th><td colspan="3">@bank.Currency</td></tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                    <div class="kt-invoice__actions">
                        <div class="kt-invoice__container">
                            <a href="@Url.Action("GenerateInvoicePDF","PrintInvoice",new { id=Model.ID,selleremail=User.Identity.Name})" class="btn btn-success btn-bold">Download Invoice</a>
                            <button type="button" class="btn btn-brand btn-bold" onclick="window.print();">Print Invoice</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>

@section Scripts
{
    <script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script>
        $(document).ready(function () {

            function getcountryname(id, selector) {
                $.ajax({
                    url: '/content/js/JsonData/countries.json',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item.id == id) {
                                $("." + selector).text(item.name);
                            }
                        });
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            };

            function getStateame(id, selector) {
                $.ajax({
                    url: '/content/js/JsonData/states.json',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item.id == id) {
                                $("." + selector).text(item.name);
                            }
                        });
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            };

            function getCityname(id, selector) {
                $.ajax({
                    url: '/content/js/JsonData/cities.json',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item.id == id) {
                                $("." + selector).text(item.text);
                            }
                        });
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            }

            var Cityid = $("#lblcity").attr("myid");
            var selectorcity = "lblcity";
            console.log(Cityid);
            if (Cityid) {
                getCityname(Cityid, selectorcity);

                var Stateid = $("#lblstate").attr("myid");
                var selectorstate = "lblstate";
                getStateame(Stateid, selectorstate);

                var Countryid = $("#lblcountry").attr("myid");
                var selectorcountry = "lblcountry";
                getcountryname(Countryid, selectorcountry);
            }
            else {
                var Cityid1 = $("#lblcity1").attr("myid");
                var selectorcity1 = "lblcity1";
                getCityname(Cityid1, selectorcity1);




                var Stateid1 = $("#lblstate1").attr("myid");
                var selectorstate1 = "lblstate1";

                getStateame(Stateid1, selectorstate1)


                var Countryid1 = $("#lblcountry1").attr("myid");
                var selectorcountry1 = "lblcountry1";

                getcountryname(Countryid1, selectorcountry1);
            }

        });
    </script>
}

