﻿
@{
    ViewBag.Title = "Invoices";
    Layout = "~/Areas/Seller/Views/Shared/Layout.cshtml";
}


@section title{
    <title>OBS :: Customer Invoices</title>
}

@section Styles{

    <link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminIndexList.css" rel="stylesheet" />


}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item kt-padding-l-20 kt-padding-r-20" id="kt_subheader">

    <div class="kt-subheader__main">

        <h3 class="kt-subheader__title"><i class="fas fa-dolly"></i>&nbsp;Customer Invoices</h3>

        <span class="kt-subheader__separator kt-subheader__separator--v"></span>

        <div class="kt-subheader__group" id="kt_subheader_search">
            <span class="kt-subheader__desc" id="kt_subheader_total"><i class="fas fa-spin fa-spinner"></i> </span>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                <input type="text" class="form-control" placeholder="Search ..." id="general_search">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
        </div>

        <div class="kt-subheader__group kt-hidden" id="kt_subheader_group_actions">

            <div class="kt-subheader__desc"><span id="kt_subheader_group_selected_rows"></span>&nbsp;Selected : </div>

            <div class="btn-toolbar kt-margin-l-20">

                <button class="btn btn-label-brand btn-bold btn-sm btn-icon-h ladda-button" data-style="expand-left" id="kt_subheader_group_actions_send_email">
                    <i class="fas fa-mail-bulk"></i>&nbsp;Send Email
                </button>


            </div>
        </div>

    </div>

    <div class="kt-subheader__toolbar kt-subheader-order-summary">

        <div class="kt-subheader__group kt-margin-r-10 kt-desktop-view">

        </div>

        <a href="#" class="btn btn-bold btn-primary kt-hidden" id="filter-results"><i class="fas fa-filter"></i>&nbsp;<span class="label">Filter</span></a>
    </div>

</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg kt-hidden">
            <div class="kt-portlet__head-label">

            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions"></div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Datatable -->
            <div id="kt_table_1"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>


<!-- end:: Content -->

@section Scripts{
    <script src="~/Content/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/plugins/ladda/ladda.min.js"></script>

    <script>

        "use strict";
        var datatable;
        var timer;

        var KTDatatablesDataSourceAjaxServer = function() {

            var togglesidBar = function () {
                // toggle left side menu if it state is off (open)
                try{

                    var aside = new KTToggle('kt_aside_toggler', {
                        target: 'body',
                        targetState: 'kt-aside--minimize',
                        togglerState: 'kt-aside__brand-aside-toggler--active'
                    });

                    if (aside.getState() === 'off'){
                        aside.toggle();
                    }

                }catch(e){

                }
            };

            var initializeKtDataTable = function (){

	             datatable = $('#kt_table_1').KTDatatable({

	               // datasource definition
			        data: {
				        type: 'remote',
				        source: {
					        read: {
						        url: '@Url.Action("Invoicesajaxdt","Product",new { area="Seller"})',
						        method : 'GET',
                                map: function (raw) {

                                    $("#kt_subheader_total").html("<span class='kt-font-brand'>" +raw.meta.total +" Invoices </span>");
						            KTApp.unblock('.kt-container');
						            return raw.data;
						        }
					        },
				        },
				        pageSize: 10,
				        serverPaging: true,
				        serverFiltering: true,
				        serverSorting: true,
				        deferLoading: 0, // here
			        },

			        // layout definition
			        layout: {
				        scroll: false,
				        footer: false
			        },
			        // column sorting
			        sortable: true,
			        /*search: {
                        input: $('#generalSearch'),
                    },*/
			        pagination: true,

			        // columns definition
                     columns: [

				        {
					        field: 'cbx',
					        title: '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input class="checkall" type="checkbox">&nbsp;<span></span></label>',
					        sortable: false,
					        type: 'number',
					        width: 20,
					        autoHide:false,
					        template : function (row){
				                return '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input value="'+row.id+'" class="checkbox-item" type="checkbox">&nbsp;<span></span></label>';
					        }
                        },
                        {
					        field: 'FullName',
					        title: 'Customer',
					        width: 230,
					        autoHide:false,
					        template : function (row){

                                //let country = row.Country == null ? '' : row.Country.name;
                                return '<div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img alt="photo" src="/content/img/' + (row.ProfilePhoto!=""&& row.ProfilePhoto!=null? row.ProfilePhoto:"100_13.jpg") + '"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">' + row.FullName + '</a><span class="kt-user-card-v2__email"><a class="details" href="mailto:'+ row.Email+'">' + row.Email + '</a></span></div></div>';
					        }
                        },

                             {
				            field: 'ID',
					        title: 'Invoice NO',
					        width: 100,
					        template : function (row){
                                return  '<a class="kt-underline_hover" href="@Url.Action("Invoice")/'+row.ID+'">INV-' + row.ID.toString().padStart(3, "0")+'-'+@ViewBag.SellerID+'</a>';
					        }
                        },
                                  {
				            field: 'InsertDate',
					        title: 'Invoice Date',
					        width: 100,
					        template : function (row){
					            return moment(row.InsertDate).format('DD/MM/YYYY');
					        }
                        },
                        {
                            field: 'CountryId',
                            title: 'Country',
                            width: 150,
                            template: function (row) {
                                if (row.Country != null)
                                    return '<div class="kt-user-card-v2"><div class="kt-user-card-v2__pic flag"><img alt="photo" src="/content/media/flags/' + (row.Country.sortname + '.png') + '"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">' + row.Country.name + '</a></span></div></div>';
                                return '';
                            }
                        },
                        {
                            field: 'ItemsCount',
                            title: 'Items Count',
                            width: 50,
                            template: function (row) {

                                return '<span class="kt-font-black kt-text-right">' + row.ItemsCount + '</span>';
                            }
                        },
                         {
 			                field: 'TotalPrice',
                             title: 'Total',
                              width: 100,
                             template: function (row) {
                                 if (parseFloat(row.TotalPrice) == 0) {
                                     return '<span class="kt-font-danger">'+row.TotalPrice+' @System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>';
                                 }
					            return '<span class="kt-font-dark">'+row.TotalPrice+' @System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>';
					        }
				        },

                        {
 				            field: 'payment_method',
					        title: 'PaymentMethod',
					        width: 180,
					        template : function (row){
					            return '<span class="kt-font-dark">'+row.payment_method+'</span>';
					        }
                        },
            //              {
				        //    field: 'StatusID',
				        //    title : 'Status',
            //                autoHide: false,
            //                width: 150,
            //                template: function (row) {

            //                    return '<a href="#" class="kt-underline_hover"  data-toggle="modal" data-target="#order-status-model" data-id="'+row.ID+'" > <span class="kt-badge kt-badge--' + getOrderStatusColor(row.StatusID) + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + getOrderStatusColor(row.StatusID) + '">' + row.StatusText + '</span></a>';
				        //    }
				        //},

				        //{
				        //    field: 'AdminConfirmed',
				        //    title : 'Admin Confirmed',
            //                autoHide: false,
            //                width: 100,
            //                template: function (row) {

            //                    return '<span class="kt-badge kt-badge--' + (row.StatusID!=1&&row.AdminConfirmed==1?"success":row.StatusID!=1&&row.AdminConfirmed==0?"danger":"brand") + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + (row.StatusID!=1&&row.AdminConfirmed==1?"success":row.StatusID!=1&&row.AdminConfirmed==0?"danger":"brand") + '">' + (row.StatusID!=1&&row.AdminConfirmed==1?"Confirmed":row.StatusID!=1&&row.AdminConfirmed==0?"Refused":"pending") + '</span>';
				        //    }
				        //},
				        {
				            field: '',
                            title: 'Actions',
                            width: 150,
                            sortable:false,
					        autoHide:false,
				            template : function (row){
				                return '<a  class="btn btn-sm btn-success" href="@Url.Action("Invoice")?id='+row.ID+'"><i class="kt-nav__link-icon flaticon-list"></i>  Invoice</a></li></ul></div></div>';
				            }
				        }
			        ]
		        });

                datatable.sort("InsertDate", "desc");

                datatable.on("kt-datatable--on-ajax-done", function (e) {

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
	                }

                });

                datatable.on("kt-datatable--on-layout-updated", function (e) {
                    $('#kt_table_1 .select2').select2();

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
	                }
                });

	        };



            var orderStatusTag = function (){

	            $('.order-status-tag').on('click', function (e){

	                e.preventDefault();

	                let status = $(this).attr('data-label');
	                let hasClass = $(this).hasClass('btn-'+ $(this).attr('data-color'));

	                $('.order-status-tag').each(function (){
	                    $(this).removeClass('btn-'+ $(this).attr('data-color'));
	                });

                    if (hasClass) {
                        reloadDatatable(['query'], [''], datatable);
	                    $(this).removeClass('btn-'+ $(this).attr('data-color'));
                    } else {
                        reloadDatatable(['query'], [status], datatable);
	                    $(this).addClass('btn-'+ $(this).attr('data-color'));
	                }

	            });

            }

            var OrderByStatus = function () {
                $.get('@Url.Action("OrderByStatus")', function (data) {

                    $.each(data, function (i, item) {
                        $('.order-status-tag[data-value="' + item.Id + '"]')
                            .removeClass('kt-hidden')
                            .find('.number')
                            .html("( "+item.Value+" )");
                    });
                });
            }

            var reloadDatatable = function (key, value, datatable) {

                let query = datatable.getDataSourceQuery();

                $.each(key, function (i) {
                    query[key[i]] = value[i];
                });

                datatable.setDataSourceQuery(query);
                datatable.reload();

                KTApp.block('.kt-datatable', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

            };

            var generalSearch = function () {

                $('#general_search').on('keyup', function () {

                    clearTimeout(timer);

                    var val = $(this).val();
                    timer = setTimeout(function () {
                         reloadDatatable(['query'], [val] , datatable);
                    }, 1000);

                });

            };

            var orderHistory = function () {


                $('#order-status-model').on('hidden.bs.modal', function (e) {



                    $('#orderHistoryTimeline').empty();


                    //  KTApp.block('#order-status-model .kt-portlet', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

                });


                $('#order-status-model').on('shown.bs.modal', function (e) {

                    $("#orderNo").html("ORD-" + e.relatedTarget.dataset.id.toString().padStart(3, "0"));

                   // $('#orderHistoryTimeline').empty();


                      KTApp.block('#order-status-model .kt-portlet', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });
                    getorderHistorydata(e.relatedTarget.dataset.id);
                });
            }

            var getorderHistorydata = function (orderid) {

                $.get('@Url.Action("OrderHistory")?id=' + orderid, function (data) {


	                $.each(data, function (){

	                    let dateTime = moment(this.InsertDate);
	                    //let fromStep = this.Status.Name;
	                    let toStep = this.Status1.Name;

	                    let className = getOrderStatusColor(this.Status1.ID)

	                    let str = '<div class="kt-timeline-v2__item">';
                        str += '<span class="kt-timeline-v2__item-time">';

                        str += '<span class="kt-display-block">' + dateTime.format('DD/MM/YYYY hh:mm A') + '</span>';
                        str += '<span class="kt-text-light kt-display-block kt-font-size-small">' + dateTime.fromNow() + '</span>';

                        str+= '</span>';
                        str +='<div class="kt-timeline-v2__item-cricle">';
                        str +='<i class="fa fa-genderless kt-font-'+className+'"></i>';
                        str +='</div>';
                        str +='<div class="kt-timeline-v2__item-text kt-padding-top-5">';
                        str += '<span class="capitalize kt-display-block kt-font-'+className+'">' + toStep + '</span>';
                        str += '<span class="kt-text-light kt-display-block">' + this.Notes + '</span>';
                       // str += '<span class="kt-text-light kt-display-block">By : ' + (this.AspNetUser == null ? "System Adminstrator" : (this.AspNetUser.FullName == null ? '' : this.AspNetUser.FullName)) + '</span>';
                        str += '<span class="kt-text-light kt-display-block">By : ' + this.FullName+ '</span>';
                        str +='</div>';
                        str +='</div>';

                        $('#orderHistoryTimeline').append(str);
	                });

                        KTApp.unblock('#order-status-model .kt-portlet');

                });





            };

              var getOrderStatusColor = function (StatusID) {


                  let className = 'info';

					switch (StatusID){
					    case 2:  className = 'warning';
                            break;
                            case 3:  className = 'success';
                            break;
                            case 4:  className = 'warning';
                            break;
                            case 5:  className = 'success';
                            break;
                            case 6:  className = 'brand';
                            break;
                            case 7:  className = 'warning';
                            break;
                            case 8:  className = 'success';
                            break;
                            case 9:  className = 'danger';
                            break;
                            case 10:  className = 'warning';
                            break;
                            case 11:  className = 'primary';
                            break;
                         case 12:  className = 'success';
                            break;
                         case 13:  className = 'danger';
                            break;
                         case 14:  className = 'info';
                            break;
                         case 15:  className = 'dark';
                            break;
                           case 16:  className = 'success';
                            break;
                           case 17:  className = 'danger';
                            break;
                            case 18:  className = 'success';
                            break;
                            case 19:  className = 'danger';
					        break;

                }
                return className;
            }

            return {
		        //main function to initiate the module
                init: function () {
                    togglesidBar();
                    initializeKtDataTable();
                    updateOrderStatus();
                    SendCustomerInspectin();
                    SendCustomerDelivery();
                    OrderByStatus();
                    generalSearch();
                    orderStatusTag();
                    orderHistory();
		        }
            };

        }();

        jQuery(document).ready(function() {
	        KTDatatablesDataSourceAjaxServer.init();
        });

    </script>
}
