﻿@model  NewListingItemPageModel

@{
    ViewBag.Title = "NewListing";
    Layout = "~/Areas/Seller/Views/Shared/Layout.cshtml";
}


@section styles{
    <link href="~/Content/plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css" rel="stylesheet" />

    <link href="/content/css/pages/wizard/wizard-1.css" rel="stylesheet" type="text/css" />

    <style>
        .star {
            color: #fd397a;
        }

        input:read-only, textarea:read-only, .form-control[contenteditable='false'] .dropdown-toggle.btn-light, .form-control[contenteditable='false'] .dropdown-toggle.btn-secondary {
            background-color: #e5e5e5 !important;
        }

        .bootstrap-tagsinput {
            width: 100%;
        }

        .label-info {
            background-color: #5578eb !important;
        }
    </style>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Content Head -->
    <div class="kt-subheader  kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">New Material</h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <a href="#" class="btn btn-outline-success" id="start-tourNewListing"> start tour</a>
                <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
                    <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
                    <span class="kt-input-icon__icon kt-input-icon__icon--right">
                        <span><i class="flaticon2-search-1"></i></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content Head -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid  kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1" data-ktwizard-state="step-first">
                    <div class="kt-grid__item">

                        <!--begin: Form Wizard Nav -->
                        <div class="kt-wizard-v1__nav">
                            <div class="kt-wizard-v1__nav-items kt-wizard-v1__nav-items--clickable" id="wizard_nav">

                                <!--doc: Replace A tag with SPAN tag to disable the step link click -->
                                <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step" data-ktwizard-state="current" id="general_info">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="flaticon-bus-stop"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label">
                                            1. GENERAL INFO
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step" id="Media_info">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="flaticon-list"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label">
                                            2. MEDIA
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step" id="Preview">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="flaticon-responsive"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label">
                                            3. REVIEW POST
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--end: Form Wizard Nav -->
                    </div>
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">

                        <!--begin: Form Wizard Form-->
                        <form class="kt-form" id="kt_form" style="width: 100%;padding: 25px" method="post" action="@Url.Action("AddProduct")">

                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                                        <div class="kt-section kt-section--first">
                                            <div class="accordion" id="kt-pi__container">
                                                <div class="card">
                                                    <div class="card-header" id="headingOne">
                                                        <div class="card-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne1">
                                                            <i class="fa fa-angle-double-right"></i> Product Information
                                                        </div>
                                                    </div>
                                                    <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne">
                                                        <div class="card-body">

                                                            <div class="row">
                                                                <div class="col-md-6" id="product_title">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Title <span class="star"><span class="star">*</span></span></label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control" name="ProductTitle" placeholder="Enter Title of an Item" required />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*<div class="col-md-6">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label"></label>
                <div class="col-lg-9">
                </div>
            </div>
        </div>*@

                                                                <div class="col-md-6" id="product_category">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Discipline / Category</label>
                                                                        <div class="col-lg-9">
                                                                            @Html.DropDownList("Category", new SelectList(Model.Categories, "CategoryId", "CategoryName"), "Select Category", new { required = "required", data_live_search = "true", @class = "form-control kt-selectpicker", id = "categoryList" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" id="product_SubCommodityId">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Sub-commodity</label>
                                                                        <div class="col-lg-9">
                                                                            @Html.DropDownList("SubCommodityId", new SelectList(Model.SubCommodities, "SubCommodityId", "SubCommodity"), new { required = "required", @class = "form-control", id = "SubCommoditylist" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row" id="product_Condition">
                                                                        <label class="col-lg-3 col-form-label">Condition</label>
                                                                        <div class="col-lg-9">

                                                                            <select class="form-control" name="ProductDetails[0].Condition">

                                                                                <option value="New">
                                                                                    New
                                                                                </option>

                                                                                <option value="Good">
                                                                                    Good
                                                                                </option>
                                                                                <option value="Used">
                                                                                    Used
                                                                                </option>

                                                                            </select>
                                                                            @*<input type="text" name="ProductDetails[0].Condition" class="form-control" placeholder="Condition">
                    <span class="form-text text-muted">Please provide a brief description of why the item is available, any present damage, age and how long it has been stored.</span>*@
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Manufacturer </label>
                                                                        <div class="col-lg-9">
                                                                            @*@Html.DropDownList("SubCommodityId", new SelectList(Model.SubCommodities, "SubCommodityId", "SubCommodity"), "Select Sub Commodity", new { required = "required", data_live_search = "true", @class = "form-control kt-selectpicker", id = "SubCommoditylist" })*@
                                                                            @Html.DropDownList("ProductBrands", new SelectList(Model.Manufacturers, "ManufacturersId", "ManufacturersName"), "Select  Manufacturers", new { required = "required", @class = "form-control select2", id = "ProductBrandsList" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12" id="product_Description">
                                                                    <div class="form-group row">
                                                                        <label class="col-12-3 col-form-label">Description</label>
                                                                        <div class="col-lg-12">
                                                                            <textarea name="ProductDetails[0].Description" placeholder="write here" rows="10" class="form-control summernote"></textarea>
                                                                            <span class="form-text text-muted">
                                                                                Please provide a detailed description of the item you are selling. If you do not have a detailed description or you have submitted the information via email, please provide a brief description of the item.
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="col-md-12" id="product_Special_Description">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-12 col-form-label">Special Description</label>
                                                                        <div class="col-lg-12">
                                                                            <textarea name="ProductDetails[0].SpecialInstructions" placeholder="write here" rows="5" class="form-control "></textarea>
                                                                            <span class="form-text text-muted">
                                                                                The buyers will need to know if there is a load out charge or any past due storage. If there is exceptionally high storage fees, please let us know so we can speed up the sales process.
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-12" id="product_Keywords">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-12 col-form-label">Keywords</label>
                                                                        <div class="col-lg-12">
                                                                            <input type="text" class="form-control" placeholder="KeyWords" id="KeyWords" name="keywords">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingTwo">
                                                        <div class="card-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseTwo1">
                                                            <i class="fa fa-angle-double-right"></i> Product Location
                                                        </div>
                                                    </div>
                                                    <div id="collapseTwo1" class="collapse show" aria-labelledby="headingTwo1">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-6" id="product_Contact">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Contact</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control" placeholder="Contact" name="ProductDetails[0].Contact">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" id="product_company">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Company</label>
                                                                        <div class="col-lg-9">
                                                                            @*@Html.DropDownList("ProductDetails[0].Company", new SelectList(ViewBag.Companies, "Name", "Name"), "Select company", new { required = "required", data_live_search = "true", @class = "form-control kt-selectpicker" })*@
                                                                            <input type="text" class="form-control" name="Compnay" value="" placeholder="write company name" />
                                                                            @*@Html.DropDownList("ProductDetails[0].Company", new SelectList(Model.Companies, "ID", "Name"), "Select Company", new { data_live_search = "true", @class = "form-control kt-selectpicker" })*@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" id="product_phone">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Phone</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="tel" class="form-control   allow-number" placeholder="Phone" name="ProductDetails[0].Phone">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" id="product_fax">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Fax</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="tel" class="form-control  allow-number" placeholder="Fax" name="ProductDetails[0].Fax">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" id="product_email">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Email <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            <input type="email" class="form-control" placeholder="Email " required name="ProductDetails[0].Email" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" id="product_address">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Address <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control" placeholder="Address" required name="ProductDetails[0].Address" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" id="product_Longitude">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Longitude</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control allow-float" placeholder="Ex:76.9826339" name="ProductDetails[0].lon" id="Longitudepoint" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" id="product_Latitude">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Latitude</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control allow-float" placeholder="Ex:11.0143896" name="ProductDetails[0].lat" id="Latitudepoint" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" id="product_Country">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Country <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            @Html.DropDownList("ProductDetails[0].Country", new SelectList(Model.Countries, "id", "name"), "Select Country", new { id = "Country", data_live_search = "true", @class = "form-control kt-selectpicker" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" id="product_State">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Region / State <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            <select class="form-control kt-selectpicker" data-live-search="true" title="Select State" name="ProductDetails[0].State" id="State" required="required"></select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" id="product_City">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">City <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            <select class="form-control kt-selectpicker" data-live-search="true" title="Select City" name="ProductDetails[0].City" id="City" required="required"></select>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-12">

                                                                    <div class="map-wrap">
                                                                        <style>
                                                                            .map-wrap {
                                                                                height: 500px;
                                                                            }

                                                                            #map {
                                                                                height: 500px;
                                                                                width: 100%
                                                                            }
                                                                        </style>
                                                                        <div id="map">

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingThree1">
                                                        <div class="card-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseThree1">
                                                            <i class="fa fa-angle-double-right"></i> Product Pricing and Reserve
                                                        </div>
                                                    </div>
                                                    <div id="collapseThree1" class="collapse show" aria-labelledby="headingThree1">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-6" id="product_Pricing">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Pricing Type <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            <select class="form-control kt-selectpicker" id="PricingType" title="Select Pricing Type" required="required" name="PricingType">
                                                                                <option value="Auctionable" selected="selected">Auctionable</option>
                                                                                <option value="Non-Auctionable">Direct Purchase</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" id="product_Quantity">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Quantity  <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control allow-number" placeholder="Quantity" required name="Quantity">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 " id="product_Inspectable">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Is Inspectable <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            <select class="form-control kt-selectpicker" name="IsInspect">
                                                                                <option value="True">Yes</option>
                                                                                <option value="False" selected="selected">No</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6" id="product_Shipment">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Is Shipment</label>
                                                                        <div class="col-lg-9">
                                                                            <select class="form-control kt-selectpicker" name="IsShipment">
                                                                                <option value="True">Yes</option>
                                                                                <option value="False" selected="selected">No</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6 Auctionable" id="product_Deposit">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Security Deposit</label>
                                                                        <div class="col-lg-9">
                                                                            <select class="form-control kt-selectpicker" title="Select Security Deposit" id="SecurityDeposit" required="required" name="SecurityDeposit">
                                                                                <option value="1" selected="selected">Percent</option>
                                                                                <option value="2">Fixed</option>
                                                                                <option value="0">None</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6  Auctionable SecurityDepositdays" id="product_Deposit_Percent">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Security Deposit </label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control allow-number" name="SecurityDepositPercent" placeholder="Security Deposit">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6  Auctionable SecurityDepositdays" id="product_SecurityDepositdays">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Security Deposit Days</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control allow-number" name="SecurityDepositDays" placeholder="Security Deposit In Days">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6  Auctionable FullPaymetDays" id="product_Payment">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Full Payment Days</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control allow-number" name="FullPaymetDays" placeholder="Full Paymet in Days">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 Auctionable" id="hasproduct_Minimum">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">has Minimum Bid Amount</label>
                                                                        <div class="col-lg-9">
                                                                            <select class="form-control kt-selectpicker" title="has Minimum Bid Amount" id="has_minimunbid" required="required" name="hasMinimumSellingPrice">
                                                                                <option value="1" selected="selected">Yes</option>
                                                                                <option value="0">No</option>

                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 Auctionable" id="product_Minimum">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Minimum Bid Amount</label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Minimum Bid Amount" name="ProductDetails[0].MinimumSellingPrice">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6 Auctionable" id="show_bidAmount">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">show Bid Amount</label>
                                                                        <div class="col-lg-9">
                                                                            <select class="form-control kt-selectpicker" title="show Bid Amount" id="show_Bid_Amount" required="required" name="ShowBidAmmount">
                                                                                <option value="1" selected="selected">Yes</option>
                                                                                <option value="0">No</option>

                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 Auctionable" id="product_Price">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Price(Bid)</label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Bid Amount" name="Price">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                                <div class="col-md-6 Auctionable" id="product_BidDifferenceType">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Bid Difference Type</label>
                                                                        <div class="col-lg-9">

                                                                            <select class="form-control kt-selectpicker" id="BidDifferenceType" name="BidDifferenceType">
                                                                                <option value="0">None</option>
                                                                                <option value="1">Fixed</option>
                                                                                <option value="2">Percet</option>
                                                                            </select>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 Auctionable BidDifferenceType" id="product_Difference">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Bid Difference</label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Bid Difference" name="BidDifference">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 Auctionable" id="product_Start">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Bid Start At</label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" id="bidstartdate" placeholder="Select date & time" name="BidStartDate" value="@DateTime.Now.ToString("MM/dd/yyyy hh:mm:ss")" />
                                                                                <div class="input-group-append">
                                                                                    <span class="input-group-text">
                                                                                        <i class="la la-calendar-check-o"></i>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6  Auctionable" id="product_Deadline">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Deadline In Days</label>
                                                                        <div class="col-lg-9">
                                                                            <input type="text" class="form-control allow-number" name="DeadLineInDays" placeholder="Deadline In Days">
                                                                            <span class="form-text text-muted">For standard commodities we suggest a 7 day auction deadline. If your item is of high value or complicated we suggest a later deadline. Please call us if your item is of extreme urgency, such as frozen items and produce.</span>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                                <div class="col-md-6 Non-Auctionable" id="product_UnitPrice">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Unit Price(DP)</label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Unit Price" name="UnitPrice">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6" id="product_Wholesale">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Wholesale Value <span class="star">*</span></label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Wholesale Value" required name="ProductDetails[0].WholesaleValue">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Length </label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["Length_Unit"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Length Value" required name="Length">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Width </label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["Length_Unit"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Width Value" required name="Width">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Height </label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["Length_Unit"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Height Value" required name="Height">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label">Weight </label>
                                                                        <div class="col-lg-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["Weight_Unit"]</span>
                                                                                </div>
                                                                                <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Weight Value" required name="Weight">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">Retail Value</label>
                <div class="col-lg-9">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>
                        </div>
                        <input type="text" class="form-control allow-float" placeholder="0.00" aria-label="Retail Value" name="ProductDetails[0].RetailValue">
                    </div>
                </div>
            </div>
        </div>*@




                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end: Form Wizard Step 1-->
                            <!--begin: Form Wizard Step 2-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                                        <div class="kt-section kt-section--first">
                                            <div class="accordion  accordion-toggle-arrow" id="accordionExample4">
                                                <div class="card">
                                                    <div class="card-header" id="headingOne4">
                                                        <div class="card-title" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                                                            <i class="fa fa-angle-double-right"></i> Upload Image
                                                        </div>
                                                    </div>
                                                    <div id="collapseOne4" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample4">
                                                        <div class="card-body">
                                                            <p class="kt-wizard-v1__form-label">
                                                                Images are probably the most important piece of information that buyers are looking for. There is no limit to the number of images that you can upload, we find the more the images the more the bids.
                                                            </p>

                                                            <div class="form-group row" id="product_Images">
                                                                <label class="col-form-label col-lg-3 col-sm-12">Select Images</label>
                                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                                    <div class="dropzone dropzone-default dropzone-brand" id="images_kt-dropzone">
                                                                        <div class="dropzone-msg dz-message needsclick">
                                                                            <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                                                            <span class="dropzone-msg-desc">Upload up to 10 files</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingTwo4">
                                                        <div class="card-title" data-toggle="collapse" data-target="#collapseTwo4" aria-expanded="true" aria-controls="collapseTwo4">
                                                            <i class="fa fa-angle-double-right"></i> Upload Documents
                                                        </div>
                                                    </div>
                                                    <div id="collapseTwo4" class="collapse show" aria-labelledby="headingTwo1" data-parent="#accordionExample4">
                                                        <div class="card-body">
                                                            <p class="kt-wizard-v1__form-label">
                                                                Please upload any supporting documents, such as bills of lading, material safety data sheets, inventory lists, copy of the title, or any other supporting documents. Please remove any information that you do not want to be visible to the public like fax numbers the insurer's information or other sensitive information. A Win Agent can help you do this if you let them know.
                                                            </p>

                                                            <div class="form-group row" id="product_Documents">
                                                                <label class="col-form-label col-lg-3 col-sm-12">Select Documents</label>
                                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                                    <div class="dropzone dropzone-default dropzone-brand" id="docs_kt-dropzone">
                                                                        <div class="dropzone-msg dz-message needsclick">
                                                                            <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                                                            <span class="dropzone-msg-desc">Upload up to 10 files</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            @*<div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Document Title</label>
                                                                    <div class="col-lg-9">
                                                                        <input type="text" class="form-control" placeholder="Document Title" name="DocumentTitle">
                                                                    </div>
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end: Form Wizard Step 2-->
                            <!--begin: Form Wizard Step 3-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                                        <div class="kt-section kt-section--first">

                                            <div class="accordion" id="kt-pi__container--preview">

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end: Form Wizard Step 3-->
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <button class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
                                    Submit
                                </button>
                                <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
                                    Next
                                </button>
                            </div>

                            <input type="hidden" name="Id" value="" />
                            <input type="hidden" name="ProductImage" value="" />
                            <input type="hidden" name="ProductDocument" value="" />

                            <!--end: Form Actions -->
                        </form>

                        <!--end: Form Wizard Form-->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content -->
</div>

@section scripts{
    <script src="/Content/plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.min.js"></script>
    @*<script src="/content/js/pages/crud/file-upload/dropzonejs.js" type="text/javascript"></script>*@
    <script src="/content/js/pages/custom/wizard/wizard-1.js" type="text/javascript"></script>
    @*<script src="/content/js/pages/crud/forms/validation/form-controls.js" type="text/javascript"></script>*@
    <script src="/content/js/pages/crud/forms/widgets/bootstrap-select.js" type="text/javascript"></script>
    <script src="/content/js/pages/crud/forms/editors/summernote.js" type="text/javascript"></script>

    <script>
               $(".select2").select2();
        var kt_Selectpicker = function () {
            $('.kt-selectpicker').on('change', function () {
                $(this).validate();
                $(this).valid();
            });
        };

        var numbersOnly = function () {
            $(document).on('keypress', '.allow-number', function (e) {
                console.log(e.which);
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });
        }

        var floatNumber = function () {
            $(document).on('keypress', '.allow-float', function (e) {

                if ($(this).val().toString().indexOf(".") !== -1 && e.which === 46) return false;

                if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                    return false;
                }

            });
        }


        var Countries = function () {

            $('#Country').on('change', function (e) {
                $.get('@Url.Action("ListOfStates")', { CountryId: $(this).val() }, function (data) {

                    $('#State').empty();
                    $('#State').selectpicker("refresh");

                    $.each(data, function (i, item) {
                        $('#State').append('<option value="' + item.id + '">' + item.name + '</option>');
                    });
                    $('#State').selectpicker("refresh");
                });
            });

            $('#State').on('change', function (e) {

                $.get('@Url.Action("ListOfCities")', { StateId: $(this).val() }, function (data) {
                    $('#City').empty();
                    $.each(data, function (i, item) {
                        $('#City').append('<option value="' + item.id + '">' + item.text + '</option>');
                    });
                    $('#City').selectpicker("refresh");
                });
            });
        }

        $(document).ready(function () {

                   $("#SecurityDeposit").on("change", function () {
                let isdeposit = $(this).val();
                 $(".SecurityDepositdays").show();
                if (isdeposit == 0) {
                    $(".SecurityDepositdays").hide();
                }
                else { $(".SecurityDepositdays").show();}
                   });
            $("#has_minimunbid").on("change", function () {
                let hasminimum = $(this).val();
                $("#product_Minimum").show();
                  if (hasminimum == 0) {
                    $("#product_Minimum").hide();
                }
                else { $("#product_Minimum").show();}

            })



             $("#KeyWords").tagsinput();
            $(".Non-Auctionable").hide();

            $("#BidDifferenceType").on("change", function () {
                let type = $(this).val();
                if (type != 0) {
                    $(".BidDifferenceType").show();
                }
                else { $(".BidDifferenceType").hide();}
            })
            $("#PricingType").on("change", function () {
                let type = $(this).val();
            $(".Non-Auctionable").hide();
                $(".Auctionable").hide();
                            $("."+type).show();



            })
            $('.summernote').summernote({
                airMode: true
            });

            kt_Selectpicker();


             $('#bidstartdate').datetimepicker({
                 //startDate:'1971/05/01',
            todayHighlight: true,
            autoclose: true,
            pickerPosition: 'bottom-left',
            format: "mm/dd/yyyy  HH:ii P"
        });
            $('#bidstartdate_modal').datetimepicker({
            //startDate:'1971/05/01',
            todayHighlight: true,
            autoclose: true,
            pickerPosition: 'bottom-left',
           format: "mm/dd/yyyy  HH:ii P"
        });

            numbersOnly();
            floatNumber();

            Countries();

            // multiple file upload
            imagesUploader = $('#images_kt-dropzone').dropzone({
                init: function () {

                    let fileIndex = 0;

                    this.on('success', function (file, response) {
                        // for each file
                    });

                    this.on('removedfile', function (file, response) {
                        var newFileName = JSON.parse(file.xhr.response).Files.filter(r => r.uuid == file.upload.uuid)[0].Name;
                        var currentFiles = $('[name=ProductImage]').val().split("(&)").filter(r => r !== '' && r !== newFileName);
                        $('[name=ProductImage]').val(currentFiles.join("(&)"));
                    });

                    this.on('successmultiple', function (file, response) {
                        var currentFiles = $('[name=ProductImage]').val().split("(&)").filter(r=> r !== '');
                        var newFiles = response.Files.map(m => m.Name);
                        $('[name=ProductImage]').val([...currentFiles, ...newFiles].join("(&)"));
                    });

                    this.on("sending", function (file, xhr, formData) {
                        formData.append("uuid["+(fileIndex++)+"]", file.upload.uuid);
                    });

                },
                url: '@Url.Action("Up", "Uploader", new { Area = "" })',
                maxFiles: 100,
                parallelUploads: 10,
                uploadMultiple: true,
                addRemoveLinks: true,
                acceptedFiles: ".jpeg,.jpg,.png,.gif"
            });


            // multiple file upload
            docsUploader = $('#docs_kt-dropzone').dropzone({
                init: function () {

                    let fileIndex = 0;



                    this.on('success', function (file, response) {
                        // for each file
                    });

                    this.on('removedfile', function (file, response) {
                        var newFileName = JSON.parse(file.xhr.response).Files.filter(r => r.uuid == file.upload.uuid)[0].Name;
                        var currentFiles = $('[name=ProductDocument]').val().split(',').filter(r => r !== '' && r !== newFileName);
                        $('[name=ProductDocument]').val(currentFiles.join(","));
                    });

                    this.on('successmultiple', function (file, response) {
                        var currentFiles = $('[name=ProductDocument]').val().split(',').filter(r=> r !== '');
                        var newFiles = response.Files.map(m => m.Name);
                        $('[name=ProductDocument]').val([...currentFiles, ...newFiles].join(","));
                    });

                    this.on("sending", function (file, xhr, formData) {
                        formData.append("uuid["+(fileIndex++)+"]", file.upload.uuid);
                    });

                },
                url: '@Url.Action("Up", "Uploader", new { Area = "" })',
                maxFiles: 100,
                parallelUploads: 10,
                uploadMultiple: true,
                addRemoveLinks: true,
                acceptedFiles: ".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx"
            });

        });


          const tourSteps = [
            {
                //element: '.kt-aside__brand-logo',
                element: '#kt_header',
                popover: {
                    title: "header's dashboard",
                    description: "This the header's dashboard which includes the seller's account where the seller can sign out",
                },
              },
              {
                  element: '#wizard_nav',
                  popover: {
                      title: "New Material steps",
                      description: "we have three steps to insert new material ",
                  },
              },
                            {
                                element: '#general_info',
                                popover: {
                                    title: "at first General info",
                                    description: "in this section you should fill general product info ",
                                },
              },
                                          {
                  element: '#Media_info',
                                              popover: {
                                                  title: "second  Media section",
                                                  description: "in this section you should fill Media like images and documents ",
                                              },
              },
                                                    {
                                                        element: '#Preview',
                                                        popover: {
                                                            title: "third  Preview section",
                                                            description: "in this section you will peview the product data which you insert",
                                                        },
              },
              {
                  element: '#headingOne',
                  popover: {
                      title: "general info",
                      description: "you will start with general info",
                  },
              },
               {
                element: '#product_title',
                popover: {
                    title: "Product Titel",
                    description: "you should enter the product title here which will shown in public site",
                },
              },
                    {
                element: '#product_company',
                popover: {
                    title: "Product company",
                    description: "you should enter the product company",
                },
              },
                         {
                element: '#product_phone',
                popover: {
                    title: "Phone",
                    description: "you should enter the Phone to contact",
                },
              },
                              {
                element: '#product_fax',
                popover: {
                    title: "Product Fax",
                    description: "you should enter the Fax",
                },
              },
                                   {
                element: '#product_email',
                popover: {
                    title: "Product Email",
                    description: "you should enter the Email",
                },
              },
                                        {
                element: '#product_address',
                popover: {
                    title: "Product Address",
                    description: "you should enter the product Address",
                },
              },
                                             {
                element: '#product_Longitude',
                popover: {
                    title: "Product Longitude",
                    description: "you should enter the product Longitude its will be use in map",
                },
              },
                                                  {
                element: '#product_Latitude',
                popover: {
                    title: "Product Latitude",
                    description: "you should enter the product Latitude its will be use in map",
                },
              },
                                                       {
                element: '#product_Country',
                popover: {
                    title: "Product Country",
                    description: "you should enter the product Country",
                },
              },
                                                            {
                element: '#product_State',
                popover: {
                    title: "Product State",
                    description: "you should enter the product State",
                },
              },
                                                                 {
                element: '#product_City',
                popover: {
                    title: "Product City",
                    description: "you should enter the product City",
                },
              },
                                                                      {
                element: '#headingThree1',
                popover: {
                    title: "Product Pricing",
                    description: "in this card you should determind product pricing data",
                },
              },
                                                                           {
                element: '#product_Pricing',
                popover: {
                    title: "Product Pricing Type",
                    description: "you should select  the product Pricing Type if it Auctionable or Direct Purchase and with your choise  another failed will be hidden  or shown",
                },
              },
              {
                  element: '#product_Quantity',
                  popover: {
                      title: "Product Quantity ",
                      description: "you should enter Quntity",
                  },
              }, {
                  element: '#product_Inspectable',
                popover: {
                    title: "Product Inspectable ",
                    description: "you should select if this product is Inspectable or not",
                },
              },

              {
                  element: '#product_Shipment',
                  popover: {
                      title: "Product Shipmen ",
                      description: "you should select if this product is Shipmen or not",
                  },
              },

                 {
                  element: '#product_Deposit',
                  popover: {
                      title: "Product security deposit ",
                      description: "you should select if this product has security deposit or not",
                  },
              },
                        {
                  element: '#product_Deposit_Percent',
                  popover: {
                      title: "Product security deposit percent ",
                      description: "you should select if this product security deposit percent",
                  },
              },
                            {
                  element: '#product_SecurityDepositdays',
                  popover: {
                      title: "Product security deposit in dayes ",
                      description: "you should select if this product security deposit in days which the system will wait to recive security deposit befor cancel the bid",
                  },
              },
                             {
                  element: '#product_Payment',
                  popover: {
                      title: "Product Full payment in dayes ",
                      description: "you should select if this product Full Payment in days which the system will wait to recive security deposit befor cancel the bid",
                  },
              },
                               {
                  element: '#product_Minimum',
                  popover: {
                      title: "Product Minimum bid Amount ",
                      description: "you should enter minimam bid amount",
                  },
              },
                                   {
                  element: '#product_Price',
                  popover: {
                      title: "Product Price ",
                      description: "you should enter Price",
                  },
              },

                                        {
                  element: '#product_BidDifferenceType',
                  popover: {
                      title: "Product bid  Difference Type ",
                      description: "you should enter Difference Type",
                  },
              },
              {
                  element: '#product_Difference',
                  popover: {
                      title: "Product bid  Difference ",
                      description: "you should enter Difference",
                  },
              },
                {
                  element: '#product_Start',
                  popover: {
                      title: "Product bid  start date ",
                      description: "you should enter start date after this date the buyers can place bids",
                  },
              },

                {
                  element: '#product_UnitPrice',
                  popover: {
                      title: "Product UnitPrice ",
                      description: "you should enter  UnitPrice ",
                  },
              },
                 {
                  element: '#product_Deadline',
                  popover: {
                      title: "Product bid  Deadline in days ",
                      description: "you should enter  Deadline ",
                  },
              },

    {
                  element: '#product_Wholesale',
                  popover: {
                      title: "Product  Wholesale ",
                      description: "you should enter  Wholesale ",
                  },
              },
     {
                  element: '#headingOne4',
                  popover: {
                      title: "media section ",
                      description: "you should enter  images  ",
                  },
              },
      {
                  element: '#product_Images',
                  popover: {
                      title: "Product  Images ",
                      description: "you should drag&drop or select product Images ",
                  },
              },
      {
                  element: '#headingTwo4',
                  popover: {
                      title: "media section ",
                      description: "you should enter  images  ",
                  },
              },
      {
                  element: '#product_Documents',
                  popover: {
                      title: "Product  Documents ",
                      description: "you should drag&drop or select product Documents ",
                  },
              },
        ];

        const animatedTourDriver = new Driver({
            animate: false,
            opacity: 0.8,
            stageBackground: '#fff',
            padding: 5,
            showButtons: true,
        });

        animatedTourDriver.defineSteps(tourSteps);
        $('#start-tourNewListing').on('click', function (e) {
            e.preventDefault();
            $('#subhead-226').parent().addClass('kt-menu__item--open');
            animatedTourDriver.start();
            return false;
        });

           $("#categoryList").change(function () {
            var categoryid = $(this).val();
          
            console.log(categoryid);
                $.get('@Url.Action("GetSubCommodity")?categoryid='+categoryid, function (response) {
                                    
                                        console.log(response);
                                        $('#SubCommoditylist').html('');
                                        var options = '';
                                        options += '<option value="">Select Sub Commodity</option>';
                    for (var i = 0; i < response.length; i++) {

                     
                            options += '<option value="' + response[i].SubCommodityId + '">' + response[i].SubCommodity + '</option>';
                        
                                            
                                        }
                                        $('#SubCommoditylist').append(options);
                                    
                                });
           })


          $("#Latitudepoint").change(function () {
              var lat = $("#Latitudepoint").val();
              var lon = $("#Longitudepoint").val();
              if ($.isNumeric(lat) & $.isNumeric(lon)) {
                  initMap(parseFloat(lat),parseFloat(lon));
              }
        });
          $("#Longitudepoint").change(function () {

              var lat =$("#Latitudepoint").val();
              var lon = $("#Longitudepoint").val();
              if ($.isNumeric(lat) & $.isNumeric(lon)) {
                  initMap(parseFloat(lat),parseFloat(lon));
              }
        });
        function initMap(latpoint=24.713552,lngpoint= 46.675296) {


                // Map options
                var options = {

                        zoom: 6,
                    center: { lat: latpoint, lng: lngpoint }
                }

                // New map
                var map = new google.maps.Map(document.getElementById('map'), options);

                            addMarker({ coords: { lat: latpoint, lng: lngpoint }, iconImage: null  , content: null});
            var activeInfoWindow;
            function handleEvent(event) {

             document.getElementById('Latitudepoint').value = event.latLng.lat();
             document.getElementById('Longitudepoint').value = event.latLng.lng();
             }
            function addMarker(props) {
                    var marker = new google.maps.Marker({
                        position: props.coords ,
                        map: map,
                        draggable: true,
                        //icon:props.iconImage
                    });
                    // Check for customicon
                    if (props.iconImage) {
                        // Set icon image
                        marker.setIcon(props.iconImage);
                    }

                    // Check content
                    //if (props.content) {
                    marker.addListener('click', function (event) {

                         var infoWindow = new google.maps.InfoWindow({
                            content: 'Latitude: ' +   event.latLng.lat() + '<br>Longitude:' +  event.latLng.lng()
                         });
                        if (activeInfoWindow) { activeInfoWindow.close();}
                        activeInfoWindow = infoWindow;
                        infoWindow.open(map, marker);
                    });
                    marker.addListener('drag', function (event) {
                    document.getElementById('Latitudepoint').value = event.latLng.lat();
                    document.getElementById('Longitudepoint').value = event.latLng.lng();
                    });
                    marker.addListener('dragend', function (event) {

                    document.getElementById('Latitudepoint').value = event.latLng.lat();
                    document.getElementById('Longitudepoint').value = event.latLng.lng();
                    var infoWindow = new google.maps.InfoWindow({
                    content: 'Latitude: ' +   event.latLng.lat() + '<br>Longitude:' +  event.latLng.lng()
                    });


                     if (activeInfoWindow) { activeInfoWindow.close();}
                     activeInfoWindow = infoWindow;
                     infoWindow.open(map, marker);
                    });

                }
            }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8KE5GHnuuuVbgAw5DT-zdWMe6bU5EH3Y&callback=initMap">
    </script>

}
