﻿@using ps.haweya.win.obs.business.Managers;
@using Newtonsoft.Json;
@model IEnumerable<UserCartViewModel>


@{
    ViewBag.Title = "View Cart";
    ViewBag.shippingvalue = ViewBag.shippingvalue != null ? ViewBag.shippingvalue : "-1";

    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    double vatvalue = CacheManager.Setting.VatValue ?? 0;
    string vattext = CacheManager.Setting.VatText;
    var Mycurrency = TempData["maincurrency"] as CurrencyViewModel;

    if (TempData["cookiecurrency"] != null)
    {
        Mycurrency = TempData["cookiecurrency"] as CurrencyViewModel;
    }


    var bas= Model.Sum(x => x.Quantity * x.ProductInformation.UnitPrice) + Model.Sum(x => x.Quantity * x.ProductInformation.UnitPrice);
    var ordervalue = (Model.Sum(x => x.Quantity * x.ProductInformation.UnitPrice) + Model.Sum(x => x.Quantity * x.ProductInformation.UnitPrice) * vatvalue)/Mycurrency.RateToRiyal;
    var total = ordervalue +( ViewBag.shippingvalue + "" != "-1" ?((ViewBag.shippingvalue+(ViewBag.shippingvalue * vatvalue)) / Mycurrency.RateToRiyal) : 0);
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Shopping cart</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "ProductDetails")">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping cart</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
@Html.Partial("_msg")
<div class="wrapper">
    <div class="container">
        <div class="row">
            @if (TempData["cartCount"] != null && Convert.ToInt32(TempData["cartCount"]) > 0)
            {
                <div class="col-lg-9">
                    <form class="cart-form">
                        <div class="table-responsive-sm">
                            <table class="table cart-table table-striped ">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="product-name">Product</th>
                                        <th class="product-quantity" colspan="2">Quantity/Items</th>
                                        <th class="product-price">Price</th>
                                        @*<th class="product-Shipping">Shipping</th>*@
                                        <th class="product-subtotal">Total</th>
                                        <th class="product-remove text-center">Action</th>

                                    </tr>
                                </thead>
                                <tbody id="cart_table_body">

                                    @foreach (var itm in Model)
                                    {


                                        <tr>
                                            <td class="product-thumb">
                                                <a href="#">

                                                    <img class='img img-responsive' src='@itm.ProductInformation.ProductImg[0]' alt="@itm.ProductInformation.ProductTitle" />


                                                </a>
                                            </td>
                                            <td class="product-name" data-title="Product">
                                                <a href="#">@itm.ProductInformation.ProductTitle</a>
                                            </td>


                                            <td class="product-quantity" colspan="2" data-title="Quantity">
                                                <div class="quantity">
                                                    <input type="number" class="input-text qty  qtytext" value="@(itm.Quantity)" name="Qty@(itm.ItemId)" id="Qty@(itm.ItemId)" />
                                                </div>

                                            </td>
                                            <td class="product-Price" data-title="Price"><span class="Price-amount">@String.Format("{0:n}", itm.ProductInformation.UnitPrice / Mycurrency.RateToRiyal) @Mycurrency.Sign</span></td>

                                            <td class="product-subtotal" data-title="Subtotal" id="totaltable_Qty@(itm.ItemId)">@(String.Format("{0:n}", (itm.Quantity * itm.ProductInformation.UnitPrice / Mycurrency.RateToRiyal)))  @Mycurrency.Sign </td>
                                            <td class="text-center product-remove" data-title="Remove">
                                                <a href="#" class="remove DeleteItem" myid="@itm.ItemId">
                                                    <i class="fa fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="cart-action" colspan="6">
                                            <a href="@Url.Action("Index", "ProductDetails")">Back to shop</a>
                                            @*<button type="button" class="update_cart">Update cart</button>*@
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-md-6">
                    @*<div class="coupon mb20">
                            <label for="coupon_code">Discount code</label>
                            <div class="coupon-fields">
                                <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Enter your coupon code">
                                <button type="submit" class="btn btn-outline-warning rounded" name="apply_coupon" value="Apply coupon ">Apply coupon </button>
                            </div>
                        </div>*@
                    <div class="cart-collaterals">
                        <h3>Cart total</h3>
                        <div class="cart-totals">
                            <table class="table shop-table">
                                <tr>
                                    <td>Subtotal</td>
                                    <td class="text-right" id="subtotal_cart">@(String.Format("{0:n}", (Model.Sum(x => x.Quantity * x.ProductInformation.UnitPrice)) / Mycurrency.RateToRiyal)) @Mycurrency.Sign</td>
                                </tr>
                                <tr>
                                    <td>Shipping</td>
                                    <td class="text-right" id="shippingdiv">
                                        @if (ViewBag.shippingvalue+"" != "-1")
                                        {@(String.Format("{0:n}", ViewBag.shippingvalue)) @Mycurrency.Sign}
                                    else
                                    {
                                        @("contact WIN")
                                    }
                                     
                                    </td>
                                </tr>
                                <tr>
                                    <td>Inspection</td>
                                    <td class="text-right">contact WIN</td>
                                </tr>
                                <tr>
                                    <td>Vat</td>
                                    <td class="text-right">@vattext</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td class="text-right"><strong id="totalwithvat_cart">@(String.Format("{0:n}",total)) @Mycurrency.Sign</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="alert alert-warning">
                                            No return of money or material
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="proceed-to-checkout mb20">
                            @if (Request.IsAuthenticated && User.IsInRole("Buyer"))
                            {
                                <a href="@Url.Action("OrderSummaryinspection", "ProductDetails")" class="checkout-button text-uppercase btn btn-warning rounded btn-block">
                                    Checkout
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("CheckoutLogin", "Home", new { returnurl = "/ProductDetails/OrderSummaryinspection" })" class="checkout-button text-uppercase btn btn-warning rounded btn-block">
                                    Checkout
                                </a>
                            }
                        </div>
                        <div class="payment-methods">
                            <h3>Payment methods</h3>
                            <img src="/Content/FrontEnd/images/mastercard.png" alt="mastercard" />
                            <img src="/Content/FrontEnd/images/visa.png" alt="visa" />
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div style="margin-left: auto;text-align:center;margin-right: auto;">
                    <img src="~/Content/FrontEnd/images/shopping-cart.svg" style="height:200px;" />
                    @*<img src="~/Content/Frontend/images/shopping-cart.png" style="height:200px;" />*@
                    <h4 style="margin-top:30px;margin-bottom:50px">
                        <i class="glyphicon glyphicon-alert"></i>  &nbsp;&nbsp;  Your Cart is Empty
                    </h4>
                </div>
            }
        </div>
    </div>
</div>




<div id="mdlConfirm" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row" style="text-align:center;padding:20px;padding-bottom:40px">
                <div class="col-md-12">
                    <h1> Remove  Item  from Cart   </h1>
                    <div style="margin-bottom:60px;margin-top:60px">
                        <h4> are you Confirmed Remove Item from Cart?</h4>
                    </div>

                    <div class="col-md-12 col-sm-12 text-right">
                        <button type="button" class="btn btn-dark " data-dismiss="modal">Cancel </button>

                        <a class="btn btn-danger  btndelete" href="#" id="btndelete"> Confirm </a>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

<input type="hidden" id="long_name" value="@ViewBag.BuyerCountryName" />
<input type="hidden" id="short_name" />
<input type="hidden" id="street_number" />
<input type="hidden" id="route" />
<input type="hidden" id="city" />
<input type="hidden" id="PostalCode" />
<input type="hidden" id="StateOrProvinceCode" />

<input type="hidden" id="lat" />
<input type="hidden" id="lng" />
@section Scripts{
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8KE5GHnuuuVbgAw5DT-zdWMe6bU5EH3Y&callback=initMap">
    </script>
    <script>

              var reloadfunction = function () {
            var delay = 1750;

            setTimeout(function () {
                location.reload();// = admin_url;
            }, delay);
        }
     $(document).on("click", ".DeleteItem", function () {
         var productid = $(this).attr("myid");

         $("#btndelete").attr("href", "@Url.Action("DeleteCartItem")?ProductID=" + productid);

         $("#mdlConfirm").modal();


     });

    $(document).on("click", "#btndelete", function () {

        $.get($(this).attr("href"), function (result) {
            updatecartcount(result.count, result.totalprice);
            window.location.reload();
        });

        // window.location.reload();
        //return false;
    });

        //$(".qty").change(function () {
        //    alert(itemid);
        //    console.log(11);
        //})
        $(document).on("change", ".qty", function () {


            var itemid = $(this).attr("id").replace("qty");
            var qtyvalue = $(this).val();
        //    console.log(itemid + "_" + qtyvalue);
            $.post("@Url.Action("Updateqtyitem")?itemid="+itemid+"&qty="+qtyvalue, function (result) {


                if (result.status == 1) {
                    $(this).val(result.itmqty);
                    $("#totaltable_" + itemid).html(formatNumber(result.tabletotal) + " " + "@Mycurrency.Sign");
                    $("#subtotal_cart").html(formatNumber(result.subtotal) + " " + "@Mycurrency.Sign");
                    $("#totalprice").html(formatNumber(result.subtotal) + " " + "@Mycurrency.Sign");
                    $("#totalwithvat_cart").html(formatNumber(result.totalwthvat)+" "+"@Mycurrency.Sign");
                }
               // console.log(result);
            });
               //var allVal = '';
            @*$(".qtytext").each(function () {
                var type = $(this).prop("type");
                if (type == "number") {

                       var cbxname= $(this).attr('name');
                        allVal += cbxname+ '_'+$("#"+cbxname).val()+",";
                }
            });
   $.blockUI({    message: '<h5> Processing ... <img src="/Content/FrontEnd/images/loader.gif" /></h5>', css:{backgroundColor:'transparent' ,color:'#cbd9f6',border:'none',"padding-top":'10px',width:'20%',left:'40%'} });
            $.post("@Url.Action("UpdateQty")", { Quantities: allVal }, function (result) {
                if (result.status == 1) {
                    ShowMessage("s: Cart Updated Successfully");
                    $.unblockUI();
                    reloadfunction();
                }

            });*@
        //window.location.reload();
    });
        @*$(document).on("click", ".update_cart", function () {

               var allVal = '';
            $(".qtytext").each(function () {
                var type = $(this).prop("type");
                if (type == "number") {

                       var cbxname= $(this).attr('name');
                        allVal += cbxname+ '_'+$("#"+cbxname).val()+",";
                }
            });
   $.blockUI({    message: '<h5> Processing ... <img src="/Content/FrontEnd/images/loader.gif" /></h5>', css:{backgroundColor:'transparent' ,color:'#cbd9f6',border:'none',"padding-top":'10px',width:'20%',left:'40%'} });
            $.post("@Url.Action("UpdateQty")", { Quantities: allVal }, function (result) {
                if (result.status == 1) {
                    ShowMessage("s: Cart Updated Successfully");
                    $.unblockUI();
                    reloadfunction();
                }

            });
        //window.location.reload();
    });*@

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
        var geocoder;
        var lat;
        var long;
        function showPosition(position) {


            var map1;
            var marker2;
            var marker3;
            console.log(position);
            //alert("Latitude: " + position.coords.latitude +
            //    "<br>Longitude: " + position.coords.longitude);
             lat = position.coords.latitude;
            long = position.coords.longitude;
            $("#lat").val(position.coords.latitude);
            $("#lng").val(position.coords.longitude);


        }

        getLocation();





            function initMap() {
                // Map options


                if ("@ViewBag.BuyerCountryName" == "-1" &&"@ViewBag.shippingvalue" =="-1")
{
    geocoder = new google.maps.Geocoder();
            console.log($("#lat").val() + "," + $("#lng").val());
    geocoder.geocode({
        'latLng': {
            lat: parseFloat(25.1941479),
            lng: parseFloat(55.2692717)}
    }, function(results, status) {
        if (status ==
            google.maps.GeocoderStatus.OK) {
            if (results[1]) {
                console.log(results[1]);
                console.log(results[1].address_components.find(({ types }) => types[0] == "country"));
                $("#long_name").val(results[1].address_components.find(({ types }) => types[0] == "country").long_name);
                $("#short_name").val(results[1].address_components.find(({ types }) => types[0] == "country").short_name);
                if (results[1].address_components.find(({ types }) => types[0] == "street_number"))
                    $("#street_number").val(results[1].address_components.find(({ types }) => types[0] == "street_number").long_name);
                if (results[1].address_components.find(({ types }) => types[0] == "route"))
                    $("#route").val(results[1].address_components.find(({ types }) => types[0] == "route").long_name);
                if (results[1].address_components.find(({ types }) => types[0] == "locality"))
                    $("#city").val(results[1].address_components.find(({ types }) => types[0] == "locality").long_name)
               // alert($("#route").val() + "&" + $("#street_number").val() + "&" + $("#city").val() + "&" + $("#long_name").val() + "&" + $("#short_name").val());


                $.ajax({
                    url: "@Url.Action("checkaddresscooke", "ProductDetails")",
                    dataType: 'json',
                    type: 'POST',
                    data: {
                        StreetLines: $("#route").val() + " " + $("#street_number").val(),
                        City: $("#city").val(),
                        StateOrProvinceCode: $("#StateOrProvinceCode").val(),
                        PostalCode: $("#PostalCode").val(),
                        CountryCode: $("#short_name").val(),
                        CountryName: $("#long_name").val(),
                    }
                    , success: function (result) {

                        if (result.status == 0) {
                            alert('Geocoder failed due to: ' + status);
                        }
                        else {

                            console.log(result);
                            $("#long_name").val(result.address.CountryName);

                            shipping();
                        }
                    }
                    });
            } else {
                alert('No results found');
            }
        } else {
            alert('Geocoder failed due to: ' + status);
        }
    });
                }

                //console.log("StreetLines:"+ $("#route").val() + " " + $("#street_number").val()+"/"+
                //    "City:" + $("#city").val()+"/" +
                //" StateOrProvinceCode:" + $("#StateOrProvinceCode").val()+"/" +
                //"PostalCode:" + $("#PostalCode").val()+"/" +
                //"CountryCode:" + $("#short_name").val()+"/" +
                //    "CountryName:"+ $("#long_name").val())

               // shipping();
        }

        function shipping() {
            var obj=[];
             $.get("@Url.Action("GetCartjson")", function (res) {

            var lstitems = [];
            var currency = "";

                 var total = 0;
                 $.each(res, function (i, item) {
                console.log(item.ItemId);

                $.get("@Url.Action("DHLShippingtest", "ProductDetails")?id=" + item.ItemId + "&qty=" + item.Quantity, function (data) {

                    var result = JSON.parse(data.result);
                    console.log(result);
                    console.log(result.RateResponse.Provider[0].Notification[0].message);
                    console.log(result.RateResponse.Provider[0].Service.find(({ type }) => type[0] == "P").TotalNet.Amount);
                    if (data.status == 1 && result.RateResponse.Provider[0].Notification[0].message == null) {
                        total += result.RateResponse.Provider[0].Service.find(({ type }) => type[0] == "P").TotalNet.Amount;//lstitems.push(result.RateResponse.Provider[0].Service.find(({ type }) => type[0] == "P").TotalNet.Amount);
                        console.log(lstitems);
                        if (currency == "")
                            currency = result.RateResponse.Provider[0].Service.find(({ type }) => type[0] == "P").TotalNet.Currency;
                        console.log(currency + "_" + total + "_" +@Mycurrency.RateToRiyal);

                        total=(total/@Mycurrency.RateToRiyal);
                        $("#shippingdiv").html(total + " " + (currency == "SAR" ? "@Mycurrency.Sign" : currency));
                        var totalvat =@((String.Format("{0:n}", (Model.Sum(x => x.Quantity * x.ProductInformation.UnitPrice) + Model.Sum(x => x.Quantity * x.ProductInformation.UnitPrice) * vatvalue) / Mycurrency.RateToRiyal)))

                            $("#totalwithvat_cart").html(total + totalvat + "@Mycurrency.Sign");
                    }
                });
            });




                });


            };
        $(document).ready(function () {
            if ("@ViewBag.BuyerCountryName" != "-1" &&"@ViewBag.shippingvalue" =="-1")

                shipping();
        });
    </script>
}