﻿@model IEnumerable<UserCartViewModel>

@{
    ViewBag.Title = "View Cart";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@section styles
{
    <link href="~/Content/plugins/general/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <style>
        .no-border {
            border: none;
            width: 100%
        }

            .no-border tr {
                border: none;
            }

                .no-border tr td {
                    border: none;
                    padding: .3rem;
                    background-color: #fff;
                }

        .w-350 {
            /*width:350px;*/
        }
        .table-striped tbody tr:nth-of-type(even) {
        background-color: #fff;
        
        }
        .datetimepicker-dropdown-bottom-left {
        
        width:250px;}
        .table-condensed {
        width:100%;
        }
        .model-sm {
        width:600px;
        }
    </style>
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Shopping cart</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","ProductDetails")">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping cart</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
@Html.Partial("_msg")
<div class="wrapper">
    <div class="container">
        <div class="row">
            @if (TempData["cartCount"] != null && Convert.ToInt32(TempData["cartCount"]) > 0)
            {
                <div class="col-lg-12">
                    <form class="cart-form">
                        <div class="table-responsive-sm">
                            <table class="table cart-table table-striped ">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="product-name product-thumb">Product</th>

                                        <th class="product-quantity">Quantity/Items</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-subtotal">Total</th>
                                        <th colspan="2" class="product-name w-350">Inspection &  fees</th>
                                        <th colspan="2" class="product-name  w-350">Shipping &  fees</th>
                                        <th class="product-remove text-center">Action</th>

                                    </tr>
                                </thead>
                                <tbody id="cart_table_body">

                                    @foreach (var itm in Model)
                                    {


                                        <tr>
                                            @*<td class="product-thumb">

                                                </td>*@

                                            <td class="product-name product-thumb" colspan="2" data-title="Product">
                                                <a href="#">

                                                    <img class='img img-responsive' src='@itm.ProductInformation.ProductImg[0]' alt="@itm.ProductInformation.ProductTitle" />


                                                </a>
                                                <br />
                                                <a href="#">@itm.ProductInformation.ProductTitle</a>
                                                <br />
                                                <a href="#">WIN-@itm.ProductInformation.SellerMaterialId / WIN-@itm.ProductInformation.ProductId</a>
                                            </td>


                                            <td class="product-quantity" data-title="Quantity">
                                                <div class="quantity">
                                                    <input type="number" class="input-text qty  qtytext" value="@(itm.Quantity)" name="Qty@(itm.ItemId)" id="Qty@(itm.ItemId)" />
                                                </div>

                                            </td>
                                            <td class="product-Price" data-title="Price"><span class="Price-amount">@itm.ProductInformation.UnitPrice @System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span></td>

                                            <td class="product-subtotal" data-title="Subtotal">@(itm.Quantity * itm.ProductInformation.UnitPrice)  @System.Configuration.ConfigurationManager.AppSettings["System_Currency"] </td>

                                            <td colspan="2" class="product-name">
                                                <table class="no-border">
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="inspection_@itm.ProductInformation.ProductId" value="1" title="By Buyer" id="Buyer-@itm.ProductInformation.ProductId" />
                                                            <label for="Buyer-@itm.ProductInformation.ProductId">By Buyer</label>
                                                        </td>
                                                        <td>Free</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="inspection_@itm.ProductInformation.ProductId" value="2" id="WIN-@itm.ProductInformation.ProductId" />
                                                            <label for="WIN-@itm.ProductInformation.ProductId">By WIN</label>
                                                        </td>
                                                        <td>Contact By Email</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"><input type="radio" name="inspection_@itm.ProductInformation.ProductId" value="3" id="NoInspection-@itm.ProductInformation.ProductId" /><label for="NoInspection-@itm.ProductInformation.ProductId">No Inspection</label></td>

                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"><input type="radio" name="inspection_@itm.ProductInformation.ProductId" value="4" id="seller-@itm.ProductInformation.ProductId" /><label for="seller-@itm.ProductInformation.ProductId">N/A by the seller</label></td>

                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="2" class="product-name">
                                                <table class="no-border">
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="shipping-@itm.ProductInformation.ProductId" value="1" title="Exwork" id="Exwork-@itm.ProductInformation.ProductId" />
                                                            <label for="Exwork-@itm.ProductInformation.ProductId">Exwork</label>
                                                        </td>
                                                        <td>Free</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="shipping-@itm.ProductInformation.ProductId" value="2" id="ShippingWIN-@itm.ProductInformation.ProductId" />
                                                            <label for="ShippingWIN-@itm.ProductInformation.ProductId">By WIN</label>
                                                        </td>
                                                        <td>Contact By Email</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td class="text-center product-remove" data-title="Remove">
                                                <a href="#" class="remove DeleteItem" myid="@itm.ItemId">
                                                    <i class="fa fa-trash-alt"></i>
                                                </a>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="cart-action" colspan="6">
                                            <a href="@Url.Action("Index","ProductDetails")">Back to shop</a>
                                            <button type="button" class="update_cart">Update cart</button>
                                        </td>
                                        <td class="text-right" colspan="6">
                                            <a href="#" class="btn btn-outline-primary Schedule" data-toggle="modal" data-target="#mdlinspection">Schedule Inspectionh</a>
                                            <button type="button" class="btn  btn-outline-info">Proceed to Checkout</button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-md-6" style="display:none">
                    <div class="coupon mb20">
                        <label for="coupon_code">Discount code</label>
                        <div class="coupon-fields">
                            <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Enter your coupon code">
                            <button type="submit" class="btn btn-outline-warning rounded" name="apply_coupon" value="Apply coupon ">Apply coupon </button>
                        </div>
                    </div>
                    <div class="cart-collaterals">
                        <h3>Cart total</h3>
                        <div class="cart-totals">
                            <table class="table shop-table">
                                <tr>
                                    <td>Subtotal</td>
                                    <td class="text-right">@(string.Format("{0:0.00}", Model.Sum(x => x.Quantity * x.ProductInformation.UnitPrice))) @System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</td>
                                </tr>
                                <tr>
                                    <td>Shipping</td>
                                    <td class="text-right">Free</td>
                                </tr>
                                <tr>
                                    <td>Vat</td>
                                    <td class="text-right">5%</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td class="text-right"><strong>@((string.Format("{0:0.00}", Model.Sum(x => x.Quantity * x.ProductInformation.UnitPrice) + Model.Sum(x => x.Quantity * x.ProductInformation.UnitPrice) * 0.05))) @System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</strong></td>
                                </tr>
                            </table>
                        </div>

                        <div class="proceed-to-checkout mb20">
                            @if (Request.IsAuthenticated && User.IsInRole("Buyer"))
                            {
                                <a href="@Url.Action("OrderSummaryinspection","ProductDetails")" class="checkout-button text-uppercase btn btn-warning rounded btn-block">
                                    Checkout
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("CheckoutLogin", "Home", new { returnurl = "/ProductDetails/OrderSummaryinspection" })" class="checkout-button text-uppercase btn btn-warning rounded btn-block">
                                    Checkout
                                </a>
                            }
                        </div>
                        <div class="payment-methods">
                            <h3>Payment methods</h3>
                            <img src="/Content/FrontEnd/images/mastercard.png" alt="mastercard" />
                            <img src="/Content/FrontEnd/images/visa.png" alt="visa" />
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div style="margin-left: auto;text-align:center;margin-right: auto;">
                    <img src="~/Content/FrontEnd/images/shopping-cart.svg" style="height:200px;" />
                    @*<img src="~/Content/Frontend/images/shopping-cart.png" style="height:200px;" />*@
                    <h4 style="margin-top:30px;margin-bottom:50px">
                        <i class="glyphicon glyphicon-alert"></i>  &nbsp;&nbsp;  Your Cart is Empty
                    </h4>
                </div>
            }
        </div>
    </div>
</div>


<div id="mdlinspection" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog model-sm" role="document">
        <div class="modal-content">
            <div class="row" style="text-align:center;padding:20px;padding-bottom:40px">
                <div class="col-md-12">
                    <h3>Schedule Inspection date</h3>
                    <div style="margin-bottom:60px;margin-top:60px">
                        <div class="form-group">

                            <input type="text" class="form-control" id="inspectiondate" placeholder="Select Expected Date and Time" />

                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 text-right">
                        <button type="button" class="btn btn-dark " data-dismiss="modal">Cancel </button>

                        <a class="btn btn-success " href="#" id="inspection"> Confirm </a>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

<div id="mdlConfirm" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row" style="text-align:center;padding:20px;padding-bottom:40px">
                <div class="col-md-12">
                    <h1> Remove  Item  from Cart   </h1>
                    <div style="margin-bottom:60px;margin-top:60px">
                        <h4> are you Confirmed Remove Item from Cart?</h4>
                    </div>

                    <div class="col-md-12 col-sm-12 text-right">
                        <button type="button" class="btn btn-dark " data-dismiss="modal">Cancel </button>

                        <a class="btn btn-danger  btndelete" href="#" id="btndelete"> Confirm </a>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
@section Scripts{
    <script src="~/Content/plugins/general/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js"></script>
    @*<script src="~/Content/Js/pages/crud/forms/widgets/bootstrap-datetimepicker.min.js"></script>*@
    <script>

              var reloadfunction = function () {
            var delay = 1750;

            setTimeout(function () {
                location.reload();// = admin_url;
            }, delay);
        }
     $(document).on("click", ".DeleteItem", function () {
         var productid = $(this).attr("myid");

         $("#btndelete").attr("href", "@Url.Action("DeleteCartItem")?ProductID=" + productid);

         $("#mdlConfirm").modal();


     });

    $(document).on("click", "#btndelete", function () {

        $.get($(this).attr("href"), function (result) {
            updatecartcount(result.count, result.totalprice);
            window.location.reload();
        });

        // window.location.reload();
        //return false;
    });
         $(function () {
             $/*('#inspectiondate').datetimepicker();*/
              $('#inspectiondate').datetimepicker({
                 //startDate:'1971/05/01',
            todayHighlight: true,
            autoclose: true,
            pickerPosition: 'bottom-left',
            format: "mm/dd/yyyy  HH:ii P"
        });
            $('#inspectiondate_modal').datetimepicker({
            //startDate:'1971/05/01',
            todayHighlight: true,
            autoclose: true,
            pickerPosition: 'bottom-left',
           format: "mm/dd/yyyy  HH:ii P"
        });
            });
        $(document).on("click", ".update_cart", function () {

               var allVal = '';
            $(".qtytext").each(function () {
                var type = $(this).prop("type");
                if (type == "number") {

                       var cbxname= $(this).attr('name');
                        allVal += cbxname+ '_'+$("#"+cbxname).val()+",";
                }
            });
   $.blockUI({    message: '<h5> Processing ... <img src="/Content/FrontEnd/images/loader.gif" /></h5>', css:{backgroundColor:'transparent' ,color:'#cbd9f6',border:'none',"padding-top":'10px',width:'20%',left:'40%'} });
            $.post("@Url.Action("UpdateQty")", { Quantities: allVal }, function (result) {
                if (result.status == 1) {
                    ShowMessage("s: Cart Updated Successfully");
                    $.unblockUI();
                    reloadfunction();
                }

            });
        //window.location.reload();
    });

    </script>
}