﻿
@using Microsoft.AspNet.Identity
@model OBSBidDetailViewModel
@{


    ViewBag.Title = "Bid Details";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    double vatvalue = Model.VatValue ?? 0;
    string vattext = Model.VatText;

    var Mycurrency = Model.Currency;
    if (Mycurrency == null)
    {
        Mycurrency = TempData["maincurrency"] as CurrencyViewModel;


        if (TempData["cookiecurrency"] != null)
        {
            Mycurrency = TempData["cookiecurrency"] as CurrencyViewModel;
        }
    }
}
@section styles{

    <link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />

    <link href="~/Content/CSS/timeline.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminIndexList.css" rel="stylesheet" />
    <style>


        .card {
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        }

        .nobacknoborder {
            background: #fff;
            border: none !important;
        }

        table tr {
            border: none;
        }

        .card-header {
            padding: .75rem 1.25rem;
            margin-bottom: 0;
            background-color: rgb(71, 94, 138);
            border-bottom: 1px solid rgba(0,0,0,.125);
            color: #FFF;
        }

        .kt-display-block {
            display: block;
            width: 100%;
        }



        .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item {
            width: 100%;
        }

            .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-text {
                padding: 0.35rem 0 0 2rem;
                width: calc(71%);
            }


            .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-time {
                position: unset;
                width: 25%;
            }

            .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-cricle {
                left: unset;
                width: 24px;
            }

        .kt-timeline-v2:before {
            left: calc(25% + 8px);
        }
    </style>
}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Account <span>Buyer</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Buyer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Bids </li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_BuyerLinks")
            </div>
            <div class="col-md-9">

                <div class="row">

                    <div class="col-md-8">

                        <div class="card mb-4">
                            <div class="card-header">

                                <h3 class="card-title">
                                    Bid Summary
                                </h3>




                            </div>
                            <div class="card-body">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="display:flex">
                                    <div id="order-form">

                                        <div class="row">


                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label>Bid Number</label>
                                                    <input type="text" class="form-control" id="orderNumber" placeholder="order number" disabled="disabled" value="BID-@Model.BidId.ToString("000")" required />
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label>Bid Date</label>
                                                    <input type="text" class="form-control date-picker" id="orderDate" placeholder="order date" disabled="disabled" value="@Model.AddedOn.ToString("dd/MM/yyyy")" required />
                                                </div>
                                            </div>



                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label>Bid Status</label>
                                                    <input type="text" class="form-control capitalize" id="orderStatus" placeholder="order status" disabled="disabled" value="@Model.Status.Name" />

                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label>Need Inspection</label>
                                                    <input type="text" class="form-control capitalize" id="orderStatus" placeholder="order status" disabled="disabled" value="@(Model.NeedInspection!=true?"No":"Yes")" />

                                                </div>
                                            </div>




                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <h3 class="customer-title kt-padding-b-10 kt-margin-b-20">Customer Information</h3>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label>Full Name</label>
                                                    <input type="text" class="form-control" placeholder="Full name" disabled="disabled" value="@Model.AspNetUser.FullName" required />
                                                </div>
                                            </div>


                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label>Phone Number</label>
                                                    <input type="text" class="form-control" id="phone" placeholder="Phone" disabled="disabled" value="@Model.AspNetUser.PhoneNumber" />
                                                </div>
                                            </div>


                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label>Email Address</label>
                                                    <input type="email" class="form-control" id="email" placeholder="client email address" disabled="disabled" value="@Model.AspNetUser.Email" />
                                                </div>
                                            </div>

                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-header">

                                <h3 class="card-title">
                                    Bid Status
                                </h3>




                            </div>
                            <div class="card-body">
                                <div class="col-lg-12 col-md-12 col-sm-12">

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">


                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label>Current Bid status</label>
                                                        <span class="form-control label btn-@Model.Status.Class" id="currrentstatus">@Model.Status.Name.Replace("Request", "Bid").Replace("Order", "Bid")</span>

                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <hr />
                                                <h4>payment summary </h4>

                                                <label> Bid Value</label>
                                                <label class="capitalize kt-display-block kt-font-info"> @(Convert.ToDouble(Model.BidPrice).ToString("0.00")) @Mycurrency.Sign </label>
                                            </div>
                                        </div>
                                        @if (!string.IsNullOrEmpty(Model.PaymentRceiptCopy))
                                        {
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">

                                                    <label> Recipt Copy Details   </label>

                                                    <label class="capitalize kt-display-block kt-font-info"> Time : @Model.PaymentRceiptCopyTime  </label>

                                                    <label><a class="capitalize kt-display-block kt-font-@(Model.ApprovedPaymentReciptCopy != null && Model.ApprovedPaymentReciptCopy == true ? "success" : Model.ApprovedPaymentReciptCopy != null && Model.ApprovedPaymentReciptCopy == false ? "danger" : "brand")" href="~/Content/UploadData/ReciptCopies/@Model.PaymentRceiptCopy"> File : <i class="fa fa-file-download"></i>  Download   @(Model.ApprovedPaymentReciptCopy != null && Model.ApprovedPaymentReciptCopy == true ? " - Approved" : Model.ApprovedPaymentReciptCopy != null && Model.ApprovedPaymentReciptCopy == false ? " - Rejected" : " - Pending") </a></label>
                                                    @if (Model.ApprovedPaymentRceiptCopyTime != null)
                                                    {
                                                        <label class="capitalize kt-display-block kt-font-dark"> ApprovedTime : @Model.ApprovedPaymentRceiptCopyTime  </label>
                                                    }

                                                </div>
                                            </div>


                                        }
                                        @if (Model.StatusID == 4)
                                        {
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <button class="btn btn-sm btn-success form-control btnpayment" data-typeid="1" data-toggle="modal" data-target="#Add-Payment-model"> Upload Recipt Copy</button>
                                                </div>
                                            </div>
                                        }

                                        @if (!string.IsNullOrEmpty(Model.InspictionReciptCopy) && Model.NeedInspection == true)
                                        {
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <hr />
                                                    <label> Inspiction Recipt Copy Details</label>
                                                    <label class="capitalize kt-display-block kt-font-info"> Value : @(Convert.ToDouble( Model.InspectionValue/(Model.CurrencyRate!=null?Model.CurrencyRate:1)).ToString("0.00"))  @Mycurrency.Sign </label>
                                                    <label class="capitalize kt-display-block kt-font-info"> Time : @Model.InspictionReciptCopyTime  </label>

                                                    <label><a class="capitalize kt-display-block kt-font-@(Model.ApprovedInspictionReciptCopy != null &&Model.ApprovedInspictionReciptCopy == true?"success":Model.ApprovedInspictionReciptCopy != null &&Model.ApprovedInspictionReciptCopy ==false?"danger":"brand")" href="~/Content/UploadData/ReciptCopies/@Model.InspictionReciptCopy"> File : <i class="fa fa-file-download"></i>  Download   @(Model.ApprovedInspictionReciptCopy != null && Model.ApprovedInspictionReciptCopy == true ? " - Approved" : Model.ApprovedInspictionReciptCopy != null && Model.ApprovedInspictionReciptCopy == false ? " - Rejected" : " - Pending") </a></label>
                                                    @if (Model.ApprovedInspictionReciptCopyTime != null)
                                                    {
                                                        <label class="capitalize kt-display-block kt-font-dark"> ApprovedTime : @Model.ApprovedInspictionReciptCopyTime  </label>
                                                    }

                                                </div>
                                            </div>
                                        }

                                        @if (Model.StatusID == 2)
                                        {
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <button class="btn btn-sm btn-success form-control btnpayment" data-typeid="2" data-toggle="modal" data-target="#Add-Payment-model"> Upload Inspection Copy</button>
                                                </div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.PercentRceiptCopy))
                                        {<div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <hr />
                                                    <label> Percent Recipt Copy Details</label>
                                                    <label class="capitalize kt-display-block kt-font-info"> Value : @(Model.BidPrice * 0.15)  @Mycurrency.Sign </label>
                                                    <label class="capitalize kt-display-block kt-font-info"> Time : @Model.PercentRceiptCopyTime  </label>

                                                    <label>  <a class="capitalize kt-display-block kt-font-@(Model.ApprovedPercentReciptCopy != null &&Model.ApprovedPercentReciptCopy == true?"success":Model.ApprovedPercentReciptCopy != null &&Model.ApprovedPercentReciptCopy ==false?"danger":"brand")" href="~/Content/UploadData/ReciptCopies/@Model.PercentRceiptCopy"> File : <i class="fa fa-file-download"></i>  Download   @(Model.ApprovedPercentReciptCopy != null && Model.ApprovedPercentReciptCopy == true ? " - Approved" : Model.ApprovedPercentReciptCopy != null && Model.ApprovedPercentReciptCopy == false ? " - Rejected" : " - Pending") </a></label>
                                                    @if (Model.ApprovedPercentRceiptCopyTime != null)
                                                    {
                                                        <label class="capitalize kt-display-block kt-font-dark"> ApprovedTime : @Model.ApprovedPercentRceiptCopyTime  </label>
                                                    }

                                                </div>
                                            </div>
                                        }
                                        @if (Model.StatusID == 21)
                                        {
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <button class="btn btn-sm btn-success form-control btnpayment" data-typeid="3" data-toggle="modal" data-target="#Add-Payment-model"> Upload Percent Copy</button>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Bid Product
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="col-lg-12 col-md-12 col-sm-12">

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="table-responsive-sm">
                                                <table class="table table-striped " style="margin-top:0px">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2">Item</th>
                                                            <th>bidcount</th>
                                                            <th>Price</th>
                                                            <th>Inspection</th>

                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.ProductInformation != null)
                                                        {
                                                            <tr>
                                                                <td class="product-thumb">
                                                                    <a href="#">

                                                                        <img class='img img-responsive' src='@Model.ProductInformation.ProductImg[0]' style="height: 60px;" />


                                                                    </a>
                                                                </td>
                                                                <td>  <a href="@Url.Action("Details","ProductDetails",new { id=Model.ProductId})">@Model.ProductInformation.ProductTitle</a></td>
                                                                <td>@Model.BidCount</td>
                                                                <td>@Model.BidPrice</td>
                                                                <td>@(Convert.ToDouble((Model.InspectionValue ?? 0) / (Model.CurrencyRate != null ? Model.CurrencyRate : 1)).ToString("0.00"))</td>

                                                                <td>@(Convert.ToDouble(((Model.InspectionValue ?? 0)/(Model.CurrencyRate!=null?Model.CurrencyRate:1)) + Model.BidPrice).ToString("0.00")) @Mycurrency.Sign</td>
                                                            </tr>
                                                        }

                                                        <tr class="kt-datatable__row"><th class="kt-datatable__cell" colspan="2" width="30%">Bid Offer</th><td class="kt-datatable__cell" colspan="3" width="70%" style="text-align:left"><a target="_blank" href="/content/uploaddata/BidsOffers/@Model.BidOffer"><i class="fa fa-download"></i> @Model.BidOffer </a></td></tr>
                                                        <tr class="kt-datatable__row">
                                                            <th class="kt-datatable__cell" colspan="2" width="30%">Others Files</th>
                                                            <td class="kt-datatable__cell" colspan="3" width="70%" style="text-align:left">
                                                                <table class="kt-datatable__table">

                                                                    @foreach (string a in Model.OthersFiles.Split('&'))
                                                                    {
                                                                        if (!string.IsNullOrEmpty(a))
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    <a target="_blank" href="/content/uploaddata/BidsOffers/@a"><i class="fa fa-download"></i> @a</a>
                                                                                </td>

                                                                            </tr>
                                                                        }
                                                                    }
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">

                                <h3 class="card-title">
                                    Tracking  History
                                </h3>




                            </div>

                            <div class="card-body" id="orderHistoryTimelineContainer">
                                <div class="col-lg-12 col-md-12 col-sm-12">


                                    <!-- <div id="orderDate" class="btn btn-sm btn-label-brand btn-bold kt-margin-b-10 text-left"><i class="flaticon2-arrow"></i> $orderDate</div> -->
                                    <!--Begin::Timeline 3 -->
                                    <div class="kt-timeline-v2 ">
                                        <div class="kt-timeline-v2__items  kt-padding-top-25 kt-padding-bottom-30" id="orderHistoryTimeline"></div>
                                    </div>
                                    <!--End::Timeline 3 -->


                                </div>
                            </div>
                        </div>
                    </div>

                </div>






            </div>
        </div>
    </div>
</div>


<div id="Add-Payment-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add New Payment Recipt</h5>
            </div>

            <div class="modal-body" style="max-height:300px; overflow-y:auto; overflow-x:hidden">
                <form class="kt-form" action="" method="POST">


                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label"> Image</label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar_1">
                                <div class="kt-avatar__holder" id="kt-avatar-holder" style="background-image: url(/Content/Img/NoImage.jpeg)"></div>
                                <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                    <i class="fa fa-pen" style="right:auto"></i>
                                    <input type="file" name="Payment_Recipt_Image" id="Payment_Recipt_Image" accept=".png, .jpg, .jpeg">
                                </label>
                                <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                            <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
                        </div>
                    </div>


                </form>
            </div>

            <div class="modal-footer">
                <input type="hidden" id="hdntypeid" value="0" />
                <button type="button" class="btn btn-primary btn-bold ladda-button btn-sm" data-typeid="0" data-style="expand-left" id="update-Payment-link">Save</button>
                <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>



@section scripts{

    <script src="~/Content/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/plugins/ladda/ladda.min.js"></script>

    <script src="~/Content/plugins/general/moment/min/moment.min.js"></script>
    <script src="/Content/plugins/custom/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    @*<script src="~/Content/Js/pages/dashboard.min.js"></script>*@
    <script src="~/Content/Js/scripts.bundle.js"></script>
    <script src="/content/js/pages/crud/file-upload/ktavatar.js" type="text/javascript"></script>
    <script>


         toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };
         var Pymentrecipt = function () {
             $(document).on('click', '.btnpayment', function (e) {

                 e.preventDefault();

                 let typeid = this.dataset.typeid;
                 $("#hdntypeid").val(typeid);
                 $("#update-Payment-link").dataset.typeid(typeid);
             });
                $('#update-Payment-link').on('click', function (e) {
                    e.preventDefault();

                    var l = Ladda.create(this);
                    var Orderid = @Model.BidId;
                    var formdata = new FormData(); //FormData object
                    var typeid = $("#hdntypeid").val();
                    var fileInput = document.getElementById('Payment_Recipt_Image');
                    var ImageFile = fileInput.files[0];
                    if (fileInput.files.length > 0) {
                        formdata.append(fileInput.files[0].name, fileInput.files[0]);
                    }

                    formdata.append("Orderid", Orderid);
                     formdata.append("typeid",typeid);

                    l.start();
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '@Url.Action("SaveBidPaymentRecipt")');
                    xhr.send(formdata);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            var data = JSON.parse(xhr.responseText);
                            if (data.status == 1) {
                                toastr.success("Recipt has been Added successfully");
                                $('#Add-Payment-model').modal('hide');

                            }
                            else {
                                toastr.error(data.msg);
                            }
                        }
                    }
                    @*$.post('@Url.Action("SaveRole", "TypicalImageMapping")', {data:formdata} , function (data) {*@




                    l.stop();

                    // });

                });

                $('#Add-Payment-model').on('hidden.bs.modal', function (e) {
                    $('#Payment_Recipt_Image').val("");
                });




            }

         $(document).on('click', '#update-order-status-resource', function (e) {

                    e.preventDefault();

                    let $this= $(this);

                    let url = '@Url.Action("UpdatebidStatus")';

             let orderId = @Model.BidId;
             let currentstatusid=@Model.StatusID;
                    let newStatus = $('#newstatus').val();
                    let note = $('#notes');
                    let data = { orderId : orderId, newStatus : newStatus , note : note.val(),oldStatusid:currentstatusid};
                    console.log(data);
                    if(note.val() === ''){
                        note.focus();
                        return;
                    }


                    var l = Ladda.create(this);
                    l.start();

                    $(this).parent().find('.btn-cancel').addClass('kt-hidden');

             $.post(url, data, function (result) {
                         toastr.options = {
                                "closeButton": false,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };

                 if (result.status > 0) {
                     $('#statusedit').hide();
                     $('#currrentstatus').html(result.StatusName);
                     $('#currrentstatus').removeClass('btn-'+ result.Oldclass).addClass('btn-' + result.StatusClass);


                     toastr.success("Order Information has been updated successfully");

                 }
                 else {
                        toastr.error("Order Information has not updated ; Please Try Again");
                 }
                        l.stop();

                    });

         });




         var getorderHistorydata = function (orderid) {

                $.get('@Url.Action("bidHistory")?id=' + orderid, function (data) {


	                $.each(data, function (){

	                    let dateTime = moment(this.InsertDate);
	                    //let fromStep = this.Status.Name;
	                    let toStep = this.Status1.Name.replace("Request","Bid").replace("Order","Bid");

	                    let className = getOrderStatusColor(this.Status1.ID)

	                    let str = '<div class="kt-timeline-v2__item">';
                        str += '<span class="kt-timeline-v2__item-time">';

                        str += '<span class="kt-display-block">' + dateTime.format('DD/MM/YYYY hh:mm A') + '</span>';
                        str += '<span class="kt-text-light kt-display-block kt-font-size-small">' + dateTime.fromNow() + '</span>';

                        str+= '</span>';
                        str +='<div class="kt-timeline-v2__item-cricle">';
                        str +='<i class="fa fa-genderless kt-font-'+className+'"></i>';
                        str +='</div>';
                        str +='<div class="kt-timeline-v2__item-text kt-padding-top-5">';
                        str += '<span class="capitalize kt-display-block kt-font-'+className+'">' + toStep + '</span>';
                        str += '<span class="kt-text-light kt-display-block">' + this.Notes + '</span>';
                        //str += '<span class="kt-text-light kt-display-block">By : ' + (this.AspNetUser == null ? "System Adminstrator" : (this.AspNetUser.FullName == null ? '' : this.AspNetUser.FullName)) + '</span>';
                        str += '<span class="kt-text-light kt-display-block">By : ' + this.FullName+ '</span>';
                        str +='</div>';
                        str +='</div>';

                        $('#orderHistoryTimeline').append(str);
	                });



                });





        };


             var getOrderStatusColor = function (StatusID) {


                  let className = 'info';

					switch (StatusID){
					    case 2:  className = 'warning';
                            break;
                            case 3:  className = 'success';
                            break;
                            case 4:  className = 'warning';
                            break;
                            case 5:  className = 'success';
                            break;
                            case 6:  className = 'brand';
                            break;
                            case 7:  className = 'warning';
                            break;
                            case 8:  className = 'success';
                            break;
                            case 9:  className = 'danger';
                            break;
                            case 10:  className = 'warning';
                            break;
                            case 11:  className = 'primary';
                            break;
                         case 12:  className = 'success';
                            break;
                         case 13:  className = 'danger';
                            break;
                         case 14:  className = 'info';
                            break;
                         case 15:  className = 'dark';
                            break;
                           case 16:  className = 'success';
                            break;
                           case 17:  className = 'danger';
                            break;
                            case 18:  className = 'success';
                            break;
                            case 19:  className = 'danger';
                            break;
                         case 20:  className = 'info';
                            break;
                         case 21:  className = 'warning';
                            break;
                         case 22:  className = 'success';
					        break;

                }
                return className;
            }
        $(document).ready(function () {

            Pymentrecipt();
             getorderHistorydata(@Model.BidId);
          function getcountryname(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/countries.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            //$("." + selector).text(item.name);
                             $("#country").val(item.name);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };

         function getStateame(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/states.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            //$("." + selector).text(item.name);
                             $("#state").val(item.name);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
                 };
        function getCityname(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/cities.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            //$("." + selector).text(item.text);
                             $("#city").val(item.text);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };




             var Cityid = $("#city").attr("myid");
              //var Cityid = $("#city").dataset.city;
            var selectorcity = "lblcity";
             getCityname(Cityid, selectorcity);


             var Stateid = $("#state").attr("myid");
               //var Stateid = $("#state").dataset.state;
            var selectorstate = "lblstate";
             getStateame(Stateid, selectorstate);

             var Countryid = $("#country").attr("myid");
               //var Countryid = $("#country").dataset.country;
            var selectorcountry = "lblcountry";
             getcountryname(Countryid, selectorcountry);

         })


    </script>
}