﻿
@{
    ViewBag.Title = "Bid Tracking";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@section Styles{
    <link href="/Content/plugins/custom/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-fixedcolumns-bs4/css/fixedColumns.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-fixedheader-bs4/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-rowgroup-bs4/css/rowGroup.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-scroller-bs4/css/scroller.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/jstree/dist/themes/default/style.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .tabbable .nav-tabs.wizard {
            background-color: transparent;
            padding: 0;
            width: 100%;
            margin: 1em auto;
            border-radius: .25em;
            clear: both;
            border-bottom: none;
        }

            .tabbable .nav-tabs.wizard li {
                width: 100%;
                float: none;
                margin-bottom: 3px;
            }

        .tabbable .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 15px;
            text-align: center;
        }

        .tabbable .nav-tabs.wizard li > * {
            position: relative;
            padding: 1em .8em .8em 2.5em;
            color: #999999;
            background-color: #dedede;
            border-color: #dedede;
        }

        .tabbable .nav-tabs.wizard li.completed > * {
            color: #fff !important;
            background-color: #96c03d !important;
            border-color: #96c03d !important;
            border-bottom: none !important;
        }

        /*.tabbable .nav-tabs.wizard li.active > * {
                    color: #fff !important;
                    background-color: #2c3f4c !important;
                    border-color: #2c3f4c !important;
                    border-bottom: none !important;
                }*/

        .tabbable .nav-tabs.wizard li::after:last-child {
            border: none;
        }

        .tabbable .nav-tabs.wizard > li > a {
            opacity: 1;
            font-size: 14px;
        }

        /*.tabbable .nav-tabs.wizard a:hover {
                color: #fff;
                background-color: #2c3f4c;
                border-color: #2c3f4c
            }*/

        .tabbable span.nmbr {
            display: inline-block;
            padding: 22px 0 0 0;
            /*background: #ffffff;*/
            /*width: 35px;*/
            line-height: 100%;
            height: 35px;
            margin: auto;
            border-radius: 50%;
            font-weight: bold;
            font-size: 16px;
            /*color: #555;*/
            margin-bottom: 29px;
            text-align: center;
        }

        .selectColFirst {
            margin-top: 2%;
            padding: 0px;
        }

        .selectColtwo {
            margin-top: 2%;
            padding: 0px;
            margin-left: 2%;
        }

        .selectColNext {
            margin-top: 2%;
            padding: 0px;
            margin-left: 3%;
        }

        .imgLeft {
            margin-top: 2%;
            padding: 0px;
            margin-left: 3%;
        }

        .imgRight {
            float: right;
            width: 150px;
            height: 140px;
        }

        .btnRight {
            margin-top: 2%;
            /*padding: 0px;*/
            margin-right: 10%;
        }

        .tabbable .nav-tabs.wizard li.Done > * {
            color: #fff !important;
            background-color: #92D14F !important;
            border-color: #92D14F !important;
            border-bottom: none !important;
        }

        .tabbable .nav-tabs.wizard li.Pending > * {
            color: #fff !important;
            background-color: #FFC000 !important;
            border-color: #FFC000 !important;
            border-bottom: none !important;
        }

        .tabbable .nav-tabs.wizard li.In-Progress > * {
            color: #fff !important;
            background-color: #FFFF00 !important;
            border-color: #FFFF00 !important;
            border-bottom: none !important;
        }
        /*.Done {
            color: #fff !important;
            background-color: #92D14F !important;
            border-color: #92D14F !important;
            border-bottom: none !important;
        }*/
        /*.Pending {
            color: #fff !important;
            background-color: #FFC000 !important;
            border-color: #FFC000 !important;
            border-bottom: none !important;
        }*/
        /*.In-Progress {
            color: #fff !important;
            background-color: #FFFF00 !important;
            border-color: #FFFF00 !important;
            border-bottom: none !important;
        }*/
        @@media (max-width: 768px) {
            .selectColFirst {
                margin-top: 2%;
                padding: 0px;
            }

            .selectColtwo {
                margin-top: 2%;
                padding: 0px;
                margin-left: 0px;
            }

            .selectColNext {
                margin-top: 2%;
                padding: 0px;
                margin-left: 0px;
            }

            .btnRight {
                margin-top: 2%;
                /*padding: 0px;*/
                margin-right: 2px;
            }

            .imgLeft {
                margin-top: 2%;
                padding: 0px;
                margin-left: 3%;
            }

            .imgRight {
                float: left;
                width: 150px;
                height: 140px;
            }
        }

        @@media(min-width:992px) {
            .tabbable .nav-tabs.wizard li {
                position: relative;
                padding: 0;
                margin: 4px 4px 4px 0;
                width: 18.6%;
                float: left;
                text-align: center;
            }

                .tabbable .nav-tabs.wizard li.active a {
                    padding-top: 15px;
                    text-align: center;
                }

                .tabbable .nav-tabs.wizard li::after,
                .tabbable .nav-tabs.wizard li > *::after {
                    content: '';
                    position: absolute;
                    top: 1px;
                    left: 100%;
                    height: 0;
                    width: 0;
                    border: 45px solid transparent;
                    border-right-width: 0;
                    /*border-left-width: 20px*/
                }

                .tabbable .nav-tabs.wizard li::after {
                    z-index: 1;
                    -webkit-transform: translateX(4px);
                    -moz-transform: translateX(4px);
                    -ms-transform: translateX(4px);
                    -o-transform: translateX(4px);
                    transform: translateX(4px);
                    border-left-color: #fff;
                    margin: 0
                }

                .tabbable .nav-tabs.wizard li > *::after {
                    z-index: 2;
                    border-left-color: inherit
                }

            .tabbable .nav-tabs.wizard > li:nth-of-type(1) > a {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            .tabbable .nav-tabs.wizard li:last-child a {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .tabbable .nav-tabs.wizard li:last-child {
                margin-right: 0;
            }

                .tabbable .nav-tabs.wizard li:last-child a:after,
                .tabbable .nav-tabs.wizard li:last-child:after {
                    content: "";
                    border: none;
                }

            .tabbable span.nmbr {
                display: block;
                text-align: center;
            }
        }
    </style>
}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Account <span>Buyer</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Buyer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Bid Tracking </li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_BuyerLinks")
            </div>
            <div class="col-md-9">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Bid Item Tracking Portal</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="trackingTable" style="font-size:13px;width:100%;max-height:500px;overflow-y:scroll;"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-----------------------------------------Item Tracking Model------------------------------>
                <div class="modal fade modal-lg" id="ItemTrackingModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="max-width:100%;padding-left:0px !important;background:#08080880;min-width:100% !important;z-index:1050;">
                    <div class="modal-dialog modal-lg" role="document" style="width: 100%;max-width: 90%;">
                        <div class="modal-content" style="width:100%;">
                            <div class="row" style="padding-left:2%;padding-right:2%;">
                                <div class="col-sm-12" style="text-align: center;padding: 2%;border-bottom: 2px solid #007bff;font-size: 20px;color:#007bff;">
                                    <span id="CategoryHeading">Item Tracking Information</span>
                                    <span style="float:right;cursor:pointer;" class="closeTrackingModel"><i class="fa fa-times-circle" style="font-size:28px;"></i></span>
                                </div>
                                <div class="col-md-12" style="margin-top:2%;margin-bottom:5%;">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Product Details</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <input type="hidden" id="ProductId" />
                                                    <input type="hidden" id="TrackingId" />
                                                    <div class="col-md-6">
                                                        <div>
                                                            <div class="form-group">
                                                                <label for="exampleFormControlInput1"><b>Product Name:</b></label><span id="ProductName" style="margin-left:5%;"></span>

                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleFormControlInput1"><b>Product Location:</b></label><span id="ProductLocation" style="margin-left:5%;"></span>

                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleFormControlInput1"><b>Quantity:</b></label><span id="Quantity" style="margin-left:5%;"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleFormControlInput1"><b>Price:</b></label><span id="PricingType" style="margin-left:5%;"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" id="ProductImg">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabbable">
                                        <ul class="nav nav-tabs wizard">
                                            <li style="width: 0px;"></li>
                                            <li id="ProductConfirmation"><a data-toggle="tab" aria-expanded="false"><span class="nmbr" style="padding-left:4%;">Product Confirmation</span></a></li>
                                            <li id="Payment"><a data-toggle="tab" aria-expanded="false"><span class="nmbr">Payment</span></a></li>
                                            <li id="Inspection"><a data-toggle="tab" aria-expanded="false"><span class="nmbr">Inspection</span></a></li>
                                            <li id="OutForDelivery"><a data-toggle="tab" aria-expanded="false"><span class="nmbr">Out For Delivery</span></a></li>
                                            <li id="Delivered"><a data-toggle="tab" aria-expanded="true"><span class="nmbr">Delivered</span></a></li>
                                            <li style="width: 0px;"></li>
                                        </ul>
                                    </div>
                                    @if (true@*Session["Role"].ToString() != "User"*@)
                                    {
                                        <div class="row BidTrackingPermission" style="margin: 2%;margin-top:0px;">
                                            <div class="col-md-2 selectColFirst">
                                                @*<input type="text" id="lstProductConfirmation" class="form-control" />*@
                                                <select class="custom-select form-control" id="lstProductConfirmation">
                                                    <option value="" selected>Product Confirmation Status</option>
                                                    <option value="Done">Done</option>
                                                    <option value="Pending">Pending</option>
                                                    <option value="In-Progress">In-Progress</option>
                                                    <option value="Not-Started">Not-Started</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 selectColtwo">
                                                @*<input type="text" id="lstPayment" class="form-control" />*@
                                                <select class="custom-select form-control" id="lstPayment">
                                                    <option value="" selected>Payment Status</option>
                                                    <option value="Done">Done</option>
                                                    <option value="Pending">Pending</option>
                                                    <option value="In-Progress">In-Progress</option>
                                                    <option value="Not-Started">Not-Started</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 selectColNext">
                                                @*<input type="text" id="lstInspection" class="form-control" />*@
                                                <select class="custom-select form-control" id="lstInspection">
                                                    <option value="" selected>Inspection Status</option>
                                                    <option value="Done">Done</option>
                                                    <option value="Pending">Pending</option>
                                                    <option value="In-Progress">In-Progress</option>
                                                    <option value="Not-Started">Not-Started</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 selectColNext">
                                                @*<input type="text" id="lstOutForDelivery" class="form-control" />*@
                                                <select class="custom-select form-control" id="lstOutForDelivery">
                                                    <option value="" selected>OutForDelivery Status</option>
                                                    <option value="Done">Done</option>
                                                    <option value="Pending">Pending</option>
                                                    <option value="In-Progress">In-Progress</option>
                                                    <option value="Not-Started">Not-Started</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 selectColNext">
                                                @*<input type="text" id="lstDelivered" class="form-control" />*@
                                                <select class="custom-select form-control" id="lstDelivered">
                                                    <option value="" selected>Delivered Status</option>
                                                    <option value="Done">Done</option>
                                                    <option value="Pending">Pending</option>
                                                    <option value="In-Progress">In-Progress</option>
                                                    <option value="Not-Started">Not-Started</option>
                                                </select>
                                            </div>
                                        </div>
                                    }
                                    <div class="row">
                                        <div class="col-md-6 imgLeft">
                                            <img src="~/Content/images/StatusImgVertical.png" class="img-responsive" />
                                        </div>
                                        @if (true@*Session["Role"].ToString() != "User"*@)
                                        {
                                            <div class="col-md-5 BidTrackingPermission">
                                                <button id="saveTrackingStatus" class="btn btn-info btn-sm btnRight" style="float:right">Save Tracking Status</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="/Content/plugins/custom/datatables.net/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-bs4/js/dataTables.bootstrap4.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons/js/buttons.colVis.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons/js/buttons.flash.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons/js/buttons.html5.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons/js/buttons.print.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-colreorder/js/dataTables.colReorder.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-fixedcolumns/js/dataTables.fixedColumns.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-keytable/js/dataTables.keyTable.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-rowgroup/js/dataTables.rowGroup.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-rowreorder/js/dataTables.rowReorder.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-scroller/js/dataTables.scroller.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-select/js/dataTables.select.min.js" type="text/javascript"></script>
    <script>
        var trackingTable;
var trackingData = [];
var ProductData = [];
$(document).ready(function () {
    function CreateTrackingTable(id, data) {
        if (trackingTable != null) {
            trackingTable.destroy();
        }
        trackingTable = $("#" + id).DataTable({
            "data": data,
            //"scrollY": "450px",
            "paging": false,
            "destroy": true,
            //"scrollY": '450px',
            //"scrollCollapse": true,
            "columns": [
                { "data": "BidId", "title": "BidId" },
                {
                    "data": "ProductImage",
                    "title": "Product Image",
                    "width": "10%",
                    "render": function (tData, type, row) {
                        if (row.ProductImage === "" || row.ProductImage === "No files selected") {
                            return "<img class='img' src='/Content/images/img_not_available.png'/>";
                        }
                        else {
                            var Image = row.ProductImage.split(',');
                            return "<img class='img' src='/UploadData/UploadImage/" + Image[0] + "'/>";
                            //return "<img class='img' src='/UploadData/UploadImage/" + row.ProductInformation.ProductImage + "'/>";
                        }
                    },
                },
                { "data": "ProductTitle", "title": "Product Title" },
                { "data": "Quantity", "title": "Quantity" },
                { "data": "Price", "title": "Price" },
                { "data": "Location", "title": "Location" },
                {
                    "data": "IsSold",
                    "title": "Status",
                    "render": function (tData, type, row) {
                        if (row.IsSold == true)
                            return '<span class="badge badge-danger">Sold</span>';
                        else
                            return '<span class="badge badge-success">UnSold</span>';
                    },

                },
                {
                    "className": '',
                    "orderable": false,
                    "data": null,
                    "title": "Item Tracking",
                    "render": function (tData, type, row) {
                        return "<button type= 'button' class='btn btn-sm btn-info'  style='color: #fff;' id='" + row.BidId + "'>Tracking Details</button>";
                    },

                }
            ],
            "ordering": false
        });
    }

    function GetTrackigData() {
        $.ajax({
            url: '/Buyer/BidTrackingDt',
            dataType: 'json',
            type: 'GET',
            success: function (data) {
                CreateTrackingTable("trackingTable", data);
                ProductData = data;
                //trackingData = data;
            },
            failure: function (response) {
                $('#result').html(response);
            }
        });
    }
    GetTrackigData();
    function ImageSplit(imagename) {
        if (imagename === "") {
            return "<img class='img imgRight' src='/Content/images/img_not_available.png' />";
        }
        else {
            var Image = imagename.split(',');
            return "<img class='img imgRight' src='/UploadData/UploadImage/" + Image[0] + "'/>";
        }
    }
    $("#trackingTable").on('click', '.btn-info', function () {
        var id = $(this).attr("id");
        //var trackData;
        //if (trackingData.length > 0) {
        $.each(ProductData, function (row, col) {
            if (col.TrackingData.length > 0) {
                if (col.TrackingData[0].BidId === parseInt(id)) {
                    $("#TrackingId").val(col.TrackingData[0].BidTrackingId);
                    $("#ProductId").val(id);
                    $("#ProductName").html(col.ProductTitle);
                    $("#ProductLocation").html(col.Location);
                    $("#Quantity").html(col.Quantity);
                    $("#PricingType").html(col.Price);
                    $("#ProductImg").html(ImageSplit(col.ProductImage));
                    $("#lstProductConfirmation").val(col.TrackingData[0].ProductConfirmation);
                    ColorChange("ProductConfirmation", col.TrackingData[0].ProductConfirmation);
                    $("#lstPayment").val(col.TrackingData[0].Payment);
                    ColorChange("Payment", col.TrackingData[0].Payment);
                    $("#lstInspection").val(col.TrackingData[0].Inspection);
                    ColorChange("Inspection", col.TrackingData[0].Inspection);
                    $("#lstOutForDelivery").val(col.TrackingData[0].OutForDelivery);
                    ColorChange("OutForDelivery", col.TrackingData[0].OutForDelivery);
                    $("#lstDelivered").val(col.TrackingData[0].Delivered);
                    ColorChange("Delivered", col.TrackingData[0].Delivered);
                }
            }
            else if (col.BidId === parseInt(id)) {
                $("#TrackingId").val(0);
                $("#ProductId").val(id);
                $("#ProductName").html(col.ProductTitle);
                $("#ProductLocation").html(col.Location);
                $("#Quantity").html(col.Quantity);
                $("#PricingType").html(col.Price);
                $("#ProductImg").html(ImageSplit(col.ProductImage));
                $(".wizard li").removeAttr('class').attr('class', '');
            }
        });
        //}
        //else {
        //    $.each(ProductData, function (row1, col1) {
        //        if (col1.ProductId === parseInt(id)) {
        //            $("#TrackingId").val(0);
        //            $("#ProductId").val(id);
        //            $("#ProductName").html(col1.ProductTitle);
        //            $("#ProductLocation").html(col1.ProductLocation);
        //            $("#PricingType").html(col1.PricingType);
        //            $("#ProductImg").html(ImageSplit(col1.ProductImage));
        //        }
        //    });
        //}
        $("#ItemTrackingModel").modal('show');
    });
    function ColorChange(liName, colorName) {
        if (colorName === "Done") {
            $("#" + liName).removeAttr('class').attr('class', '');
            $("#" + liName).addClass("Done");
        }
        else if (colorName === "Pending") {
            $("#" + liName).removeAttr('class').attr('class', '');
            $("#" + liName).addClass("Pending");
        }
        else if (colorName === "In-Progress") {
            $("#" + liName).removeAttr('class').attr('class', '');
            $("#" + liName).addClass("In-Progress");
        }
        else {
            $("#" + liName).removeAttr('class').attr('class', '');
        }
    }
    $("#lstProductConfirmation").on('change', function () {
        var colorName = $("#lstProductConfirmation").val();
        ColorChange("ProductConfirmation", colorName);
    });
    $("#lstPayment").on('change', function () {
        var colorName = $("#lstPayment").val();
        ColorChange("Payment", colorName);
    });
    $("#lstInspection").on('change', function () {
        var colorName = $("#lstInspection").val();
        ColorChange("Inspection", colorName);
    });
    $("#lstOutForDelivery").on('change', function () {
        var colorName = $("#lstOutForDelivery").val();
        ColorChange("OutForDelivery", colorName);
    });
    $("#lstDelivered").on('change', function () {
        var colorName = $("#lstDelivered").val();
        ColorChange("Delivered", colorName);
    });
    $(".closeTrackingModel").click(function () {
        $(".wizard li").removeAttr('class').attr('class', '');
        $("#lstProductConfirmation").val("");
        $("#lstPayment").val("");
        $("#lstInspection").val("");
        $("#lstOutForDelivery").val("");
        $("#lstDelivered").val("");
        $("#ItemTrackingModel").modal('hide');
    });
    var TrackingData = function () {
        this.BidTrackingId = 0;
        this.BidId = "";
        this.ProductConfirmation = "";
        this.Payment = "";
        this.Inspection = "";
        this.OutForDelivery = "";
        this.Delivered = "";
    };
    function createTrackingData() {
        var trackingData = new TrackingData();
        trackingData.BidTrackingId = ($("#TrackingId").val() === "") ? 0 : $("#TrackingId").val();
        trackingData.BidId = $("#ProductId").val();
        trackingData.ProductConfirmation = $("#lstProductConfirmation").val();
        trackingData.Payment = $("#lstPayment").val();
        trackingData.Inspection = $("#lstInspection").val();
        trackingData.OutForDelivery = $("#lstOutForDelivery").val();
        trackingData.Delivered = $("#lstDelivered").val();
        return trackingData;
    }
    $("#saveTrackingStatus").click(function () {
        var trackingData = createTrackingData();
        var TrackingDatum = [trackingData];
        $.ajax({
            type: 'POST',
            url: '/Tracking/SaveBidTrackingData',
            data: {
                "trackingData": escape(JSON.stringify(TrackingDatum)),
            },
            success: function (data) {
                GetTrackigData();
                $("#TrackingId").val("");
                $("#ProductId").val("");
                $("#lstProductConfirmation").val("");
                $("#lstPayment").val("");
                $("#lstInspection").val("");
                $("#lstOutForDelivery").val("");
                $("#lstDelivered").val("");
                $(".wizard li").removeAttr('class').attr('class', '');
                $("#ItemTrackingModel").modal('hide');
                $.notify("Tracking Data Saved Successfully", "success");
            },
            failure: function (response) {
                $('#result').html(response);
            }
        });
    });
});
    </script>

}