﻿

@model IEnumerable<ShippingDataViewModel>
@{


    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    var counter = 0;
}


<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Account <span>Buyer</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Buyer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shipping Addresses </li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_BuyerLinks")
            </div>
            <div class="col-md-9">
                <div class="step-form step-address">
                    <div class="step-form-title">
                        <h3>Shipping address</h3>
                    </div>
                    <div class="addresses-list">
                        @foreach (var itm in Model as IEnumerable<ShippingDataViewModel>)
                        {

                            <div class="address-details selected-address">
                                <div class="address-head">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <a href="#" class="text-info">@itm.FirstName &nbsp; @itm.LastName</a>
                                            <p>@itm.MobileNo</p>
                                        </div>
                                        <div class="col-md-5">
                                            @if (itm.IsPrimary)
                                            {
                                                <span class="text-warning">
                                                    Selected  |  Primary address
                                                </span>
                                            }

                                        </div>
                                    </div>
                                </div>
                                <p>
                                    @itm.FirstAddress, <label id="lblcity_@counter" class="lblcity_@counter" myid="@itm.CityID"></label> @itm.CityName,<label id="lblstate_@counter" class="lblstate_@counter" myid="@itm.StateID"></label> @itm.StateName ,<label id="lblcountry_@counter" class="lblcountry_@counter" myid="@itm.CountryID"></label>@itm.CountryName  <br />
                                    @itm.SecondAddress,  <label id="lblcity_@counter" class="lblcity_@counter" myid="@itm.CityID"></label> @itm.CityName,<label id="lblstate_@counter" class="lblstate_@counter" myid="@itm.StateID"></label> @itm.StateName ,<label id="lblcountry_@counter" class="lblcountry_@counter" myid="@itm.CountryID"></label>@itm.CountryName
                                </p>
                                <div class="address-link-action text-uppercase">
                                    <a href="@Url.Action("EndOrdershippingDataEdit",new {id=itm.ID })" class="text-warning">
                                        Edit address
                                    </a>
                                    @if (itm.IsPrimary != true)
                                    {
                                        <a href="@Url.Action("SelectedAddress",new { id=itm.ID})" class="selectprimary" myid="@itm.ID">select</a>
                                    }



                                </div>
                            </div>

                            counter++;

                        }

                    </div>
                    <div class="form-action text-uppercase">
                        <input type="hidden" id="countryname" />
                        <a href="@Url.Action("EndOrdershippingData")" class="btn btn-outline-warning">new address</a>

                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
    $(document).ready(function () {


          function getcountryname(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/countries.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            $("." + selector).text(item.name);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };

         function getStateame(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/states.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            $("." + selector).text(item.name);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
                 };
        function getCityname(id,selector) {
            $.ajax({
                url: '/content/js/JsonData/cities.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                            $("." + selector).text(item.text);
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };

        var counter=@counter;
        for (var i = 0; i < counter; i++) {
            var Cityid = $("#lblcity_" + i).attr("myid");
            var selectorcity = "lblcity_" + i;
            getCityname(Cityid, selectorcity);

             var Stateid = $("#lblstate_" + i).attr("myid");
            var selectorstate = "lblstate_" + i;
            getStateame(Stateid, selectorstate);
              var Countryid = $("#lblcountry_" + i).attr("myid");
            var selectorcountry = "lblcountry_" + i;
            getcountryname(Countryid, selectorcountry);
        }

    })
      $(document).on("click", ".selectprimary", function () {

        var id = $(this).attr("myid");

        $.get("@Url.Action("SelectedAddress","Buyer")?id="+id , function (result) {
            if (result.status = 1) {
                window.location.reload();
            }
                })
                return false;
    })
    </script>
}