﻿@using ps.haweya.win.obs.web.Models
@model PDFPagesData
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DownloadInvoice</title>
    <link href="~/Content/FrontEnd/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/isloading_custom.css" rel="stylesheet" />
    <style type="text/css">
        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
        }

        .table > tbody > tr > .thick-line {
            border-top: 2px solid;
        }
    </style>
</head>
<body>
    <input type="hidden" id="InvoiceId" value="@ViewData["id"]" />
    <div class="container">
        @*<div class="row" style="padding-top:5%;padding-bottom:5%;">
                <button class="btn btn-success btn-small" id="BackToPurchase">Back To Purchase Details</button>
            </div>*@
        <div class="row" style="padding-top:5%;padding-bottom:5%;">
            <div class="col-12">
                <div class="invoice-title">
                    @*<h2>Invoice</h2>
                        <h3 class="float-right">Order # 12345</h3>*@
                    <div class="row">
                        <div class="col-8">
                            @*<img src="http://via.placeholder.com/400x90?text=logo">*@

                            <img src="/Content/OBSHome/images/logo-light.png" />

                        </div>
                        <div class="col-4 text-right">
                            <p class="font-weight-bold mb-1" id="InvoiceNo">Invoice #B-@Html.DisplayFor(model => model.InvoiceNo)</p>
                            <p class="text-muted">Due to: <span class="userPurchaseDate">@Html.DisplayFor(model => model.PurchaseOn)</span></p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <address>
                            <strong>Billed To:</strong><br>
                            <span class="userName">@Html.DisplayFor(model => model.UserName)</span><br>
                            <span class="userAddress">@Html.DisplayFor(model => model.Address) </span><br>
                            <span class="userCity">@Html.DisplayFor(model => model.City) </span><br>
                            <span class="userMobile">@Html.DisplayFor(model => model.Phone) </span><br>
                        </address>
                    </div>
                    <div class="col-6 text-right">
                        <address>
                            <strong>Shipped To:</strong><br>
                            <span class="userName">@Html.DisplayFor(model => model.UserName)</span><br>
                            <span class="userAddress">@Html.DisplayFor(model => model.Address) </span><br>
                            <span class="userCity">@Html.DisplayFor(model => model.City) </span><br>
                            <span class="userMobile">@Html.DisplayFor(model => model.Phone) </span><br>
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <address>

                            <strong>Payment Method:</strong><br>
                            Visa ending **** 4242<br>
                            <span class="userEmail">@Html.DisplayFor(model => model.Email)</span>

                        </address>
                    </div>
                    <div class="col-6 text-right">
                        <address>

                            <strong>Order Date:</strong><br>

                            <span class="userPurchaseDate">@Html.DisplayFor(model => model.PurchaseOn)</span>

                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><strong>Order summary</strong></h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <td>
                                            <strong>Item</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>Price ($)</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>Quantity</strong>
                                        </td>
                                        <td class="text-right">
                                            <strong>Totals ($)</strong>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                    <tr>
                                        <td id="itemName">@Html.DisplayFor(model => model.ProductTitle)</td>
                                        <td class="text-center" id="Price">@Html.DisplayFor(model => model.MinimumSellingPrice)</td>
                                        <td class="text-center" id="Quantity">@Html.DisplayFor(model => model.BuyQuantity)</td>
                                        <td class="text-right" id="Totals">@Html.DisplayFor(model => model.SubTotals)</td>
                                    </tr>

                                    <tr>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        <td class="thick-line text-center">
                                            <strong>Subtotal ($)</strong>
                                        </td>
                                        <td class="thick-line text-right" id="Subtotal">@Html.DisplayFor(model => model.SubTotals)</td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-center">
                                            <strong>Shipping ($)</strong>
                                        </td>
                                        <td class="no-line text-right" id="Shipping">@Html.DisplayFor(model => model.ShipmentCost)</td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-center">
                                            <strong>Total ($)</strong>
                                        </td>
                                        <td class="no-line text-right" id="TotalAmt">@Html.DisplayFor(model => model.Totals)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*@using (Html.BeginForm("ConvertHtmlPageToPdf", "Purchase", FormMethod.Post, new { id = "convertForm" }))
        {
            <div id="convertThisPageButtonDiv">
                <input type="submit" value="Convert
                            This Page To PDF" />
            </div>
        }*@
    <script src="~/Content/FrontEnd/js/bootstrap.min.js"></script>
    <script src="~/Content/FrontEnd/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.isloading.js"></script>
    <script type="text/javascript">
        var PageSource = "<!DOCTYPE html><html>";
        PageSource += document.documentElement.innerHTML;
        PageSource += "</html>";
        function DownloadInvoiceBill() {
            window.location = '/Buyer/BidInvoicePDF?id=' + $("#InvoiceId").val();
        }
        DownloadInvoiceBill();
    </script>
</body>
</html>
