﻿
@model ShippingDataViewModel
@{

    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    var counter = 0;
}


<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Account <span>Buyer</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Buyer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shipping Addresses </li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_BuyerLinks")
            </div>
            <div class="col-md-9">
                <div class="step-form step-address">
                    <div class="step-form-title">
                        <h3>Shipping address</h3>
                    </div>
                    @using (Html.BeginForm("EndOrdershippingDataEdit", "Buyer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.ID)

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <i class="fa fa-user"></i>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First name" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <i class="fa fa-user"></i>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last name" })

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.CountryID, new { @class = "form-control selectpicker", autocomplete = "off", id = "Country" })

                            @Html.HiddenFor(x => x.CountryName, new { id = "CountryName" })
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.StateID, new { @class = "form-control selectpicker", autocomplete = "off", id = "State", placeholder = "Enter state", @readonly = "readonly" })

                            @Html.HiddenFor(x => x.CountryName, new { id = "StateName" })
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.CityID, new { @class = "form-control selectpicker", autocomplete = "off", id = "City", placeholder = "Enter city", @readonly = "readonly" })

                                    @Html.HiddenFor(x => x.CountryName, new { id = "CityName" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", placeholder = "ZIP code" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <i class="fa fa-map-marker-alt"></i>
                            @Html.TextBoxFor(m => m.FirstAddress, new { @class = "form-control", placeholder = "Street Address1" })

                        </div>
                        <div class="form-group">
                            <i class="fa fa-map-marker-alt"></i>
                            @Html.TextBoxFor(m => m.SecondAddress, new { @class = "form-control", placeholder = "Street Address2" })

                        </div>
                        <div class="form-group">
                            <i class="fa fa-phone"></i>
                            @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", placeholder = "Mobile" })

                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(x => x.IsPrimary, new { @class = "custom-control-input", id = "IsPrimary" })
                                <label class="custom-control-label" for="IsPrimary"> Set Primary</label>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" id="submitbtn" class="btn btn-warning text-uppercase">Update Address</button>
                            <a href="@Url.Action("BuyerAddresses")" class="btn btn-outline-warning text-uppercase">Cancel</a>
                        </div>
                    }
                </div>



            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script src="~/Content/Js/CountrySelect/CountryStateAndCityScripts.js"></script>
    <script>

        //function getcountryname(id) {
        //    $.ajax({
        //        url: '/Content/Js/JsonData/countries.json',
        //        dataType: 'json',
        //        type: 'GET',
        //        success: function (data) {
        //            $.each(data, function (i, item) {
        //                if (item.id == id) {
        //                    $("#CountryName").val(item.name);
        //                    console.log($("#CountryName").val());
        //                }
        //            });
        //        },
        //        failure: function (response) {
        //            $('#result').html(response);
        //        }
        //    });
        //};

        //function getStateame(id) {
        //    $.ajax({
        //        url: '/Content/Js/JsonData/states.json',
        //        dataType: 'json',
        //        type: 'GET',
        //        success: function (data) {
        //            $.each(data, function (i, item) {
        //                if (item.id == id) {
        //                    $("#StateName").val(item.name);
        //                    console.log($("#StateName").val());
        //                }
        //            });
        //        },
        //        failure: function (response) {
        //            $('#result').html(response);
        //        }
        //    });
        //};
        //function getCityname(id) {
        //    $.ajax({
        //        url: '/Content/Js/JsonData/cities.json',
        //        dataType: 'json',
        //        type: 'GET',
        //        success: function (data) {
        //            $.each(data, function (i, item) {
        //                if (item.id == id) {
        //                    $("#CityName").val(item.text);
        //                    console.log($("#CityName").val());
        //                }
        //            });
        //        },
        //        failure: function (response) {
        //            $('#result').html(response);
        //        }
        //    });
        //};
         $(document).ready(function () {
        function getCityname(id) {
            $.ajax({
                url: '/Content/Js/JsonData/cities.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                                $("#Country").val(@Model.CountryID);
              $("#Country").change();
                            $("#State").val(@Model.StateID);
                            $("#State").change();


                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };
            getCityname(@Model.CityID);
        $("#City").val(@Model.CityID);
        //$("#submitbtn").click(function () {
        //    getcountryname($("#Country").val());
        //    getStateame($("#State").val());
        //    getCityname($("#City").val());
        //})

                 })

    </script>
}

