﻿@using ps.haweya.win.obs.business.Managers;
@model BuyerOrderViewModel

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    var bank = ViewBag.Bank as BankAccountViewModel;
    var total = Model.CartItems.Sum(t => (t.ProductInformation.UnitPrice * t.Qty.Value) + (t.InspectionValue ?? 0) + (t.ShippingValue ?? 0));
    var ordervalue = Model.CartItems.Sum(t => t.ProductInformation.UnitPrice * t.Qty.Value);
    double vatvalue = Model.VatValue ?? 0;
    string vattext = Model.VatText;

    var Mycurrency = Model.Currency;
    if (Mycurrency == null)
    {
        Mycurrency = TempData["maincurrency"] as CurrencyViewModel;


        if (TempData["cookiecurrency"] != null)
        {
            Mycurrency = TempData["cookiecurrency"] as CurrencyViewModel;
        }
    }
}

@section styles{

    <link href="/Content/css/pages/invoices/invoice-2.css" rel="stylesheet" type="text/css" />
    <style>

        .labelstatus {
            display: inline;
            padding: .2em .6em .3em;
            /*font-size: 75%;*/
            font-weight: 500;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
        }

        .btn-warning:hover {
            background: #f4a32d;
            border-color: #f4a32d;
            color: #fff;
        }

        .dropdown a {
            color: black;
        }

        .dropdown a {
            color: #000000 !important;
            font-size: 14px;
            font-weight: 500;
        }

            .dropdown a i {
                margin-right: 10px;
            }

            .dropdown a:hover {
                color: #4877bc !important;
            }

        .kt-invoice-2 .kt-invoice__body table tbody tr td {
            font-size: 14px;
        }

        .kt-invoice-2 .kt-invoice__body table thead tr th:not(:first-child) {
            text-align: left;
            padding-left: 15px;
            border-top: 1px solid #ebedf2;
        }

        .kt-invoice-2 .kt-invoice__body table tbody tr td:not(:first-child) {
            text-align: left;
            padding-left: 15px;
        }

        .kt-invoice-2 .kt-invoice__body table thead tr th {
            padding-left: 15px;
            border-top: 1px solid #ebedf2;
        }

        .kt-invoice-2 .kt-invoice__head {
            padding: 20px 0 !important;
        }

        .kt-invoice-2 .kt-invoice__body table tbody tr:first-child td {
            padding-top: 0.5rem;
        }

        .kt-invoice-2 .kt-invoice__body table tbody tr td {
            padding: 0.5rem 0 0.5rem 0;
        }

        .kt-invoice-2 .kt-invoice__body {
            padding: 0.5rem 0;
        }

        .kt-invoice-2 .kt-invoice__footer .table th {
            font-size: inherit;
        }

        .kt-invoice-2 .kt-invoice__footer .table td {
            font-size: inherit;
        }

        .kt-invoice-2 .kt-invoice__footer {
            padding: 0.5rem 0;
        }

        .kt-invoice-2 .kt-invoice__head .kt-invoice__items {
            margin-top: 10px
        }
    </style>
}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Account <span>Buyer</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Buyer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Orders/Invoice </li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            @*<div class="col-md-3">
                    @Html.Partial("_BuyerLinks")
                </div>*@
            <div class="col-md-12">
                <div class="kt-invoice-2">
                    <div class="kt-invoice__head">
                        <div class="kt-invoice__container">
                            <div class="kt-invoice__brand">
                                <h1 class="kt-invoice__title">INVOICE </h1>
                                <div href="#" class="kt-invoice__logo">
                                    <a href="#"><object type="image/svg+xml" data="/Content/FrontEnd/images/logo.svg" width="350"> </object></a>
                                    <span class="kt-invoice__desc" style="text-align:left">
                                        <span style="margin-bottom: 10px;">Chamber of Commerce Building, 6th Floor, Jubail Industrial City Saudi Arabia</span>

                                        <span>Call Us: +966 13 347 9300</span>
                                        <span>Email: info@@win.com.sa</span>
                                        <span>url: win.com.sa</span>
                                    </span>
                                </div>
                            </div>
                            <div class="kt-invoice__items">
                                <div class="kt-invoice__item">
                                    <span class="kt-invoice__subtitle">DATE</span>
                                    <span class="kt-invoice__text">@Model.InsertDate.Value.ToString("dd/MM/yyyy")</span>
                                </div>
                                <div class="kt-invoice__item">
                                    <span class="kt-invoice__subtitle">INVOICE NO.</span>
                                    <span class="kt-invoice__text">ORD-@Model.ID.ToString("000")</span>
                                </div>

                                <div class="kt-invoice__item">
                                    <span class="kt-invoice__subtitle">INVOICE TO.</span>

                                    <span class="kt-invoice__text">
                                        Name : <b>@Model.AspNetUser.FullName</b>



                                    </span>

                                    @if (@Model.ShippingData != null)
                                    {<span class="kt-invoice__text">
                                            Address :  <b>
                                                @Model.ShippingData.FirstAddress <br />

                                                <label id="lblcity" class="lblcity" myid="@Model.ShippingData.CityID"></label> @Model.ShippingData.CityName,<label id="lblstate" class="lblstate" myid="@Model.ShippingData.StateID"></label> @Model.ShippingData.StateName ,<label id="lblcountry" class="lblcountry" myid="@Model.ShippingData.CountryID"></label>@Model.ShippingData.CountryName
                                            </b><br />
                                            POBox : <b>@Model.ShippingData.ZipCode</b><br />
                                        </span>

                                    }
                                    else
                                    {
                                        <span class="kt-invoice__text">
                                            Address :  <b>


                                                <label id="lblcity1" class="lblcity1" myid="@Model.AspNetUser.CityId"></label> ,<label id="lblstate1" class="lblstate1" myid="@Model.AspNetUser.StateId"></label> @Model.AspNetUser.StateId ,<label id="lblcountry1" class="lblcountry1" myid="@Model.AspNetUser.CountryId"></label>@Model.AspNetUser.CountryId
                                            </b>
                                            POBox : <b>@Model.AspNetUser.POBox</b><br />
                                        </span>


                                    }

                                    <span class="kt-invoice__text">

                                        Mobile:<b>@Model.AspNetUser.PhoneNumber</b>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="kt-invoice__body">
                        <div class="kt-invoice__container">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Item</th>
                                            <th>Qty</th>
                                            <th>Price</th>
                                            @*<th>Inspection</th>
                                                <th>Shipping</th>*@
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itm in Model.CartItems)
                                        {
                                            <tr>
                                                <td class="product-thumb">
                                                    <a href="#">

                                                        <img class='img img-responsive' src='@itm.ProductInformation.ProductImg[0]' style="height: 60px;" />


                                                    </a>
                                                </td>
                                                <td>  <a href="@Url.Action("Details","ProductDetails",new { id=itm.ProductID})">@itm.ProductInformation.ProductTitle</a></td>
                                                <td>@itm.Qty</td>
                                                <td>@(string.Format("{0:n}", itm.ProductInformation.UnitPrice/Mycurrency.RateToRiyal))</td>
                                                @*<td>@(string.Format("{0:n}", itm.InspectionValue/Mycurrency.RateToRiyal))</td>
                <td>@(string.Format("{0:n}", itm.ShippingValue/Mycurrency.RateToRiyal))</td>*@
                                                <td>@(string.Format("{0:n}", Convert.ToDouble((itm.ProductInformation.UnitPrice * itm.Qty) )/Mycurrency.RateToRiyal))</td>
                                            </tr>
                                        }
                                        <tr><td colspan="3" class="nobacknoborder"></td><td>BaseTotal</td><td>@(string.Format("{0:n}", Convert.ToDouble(ordervalue)/Mycurrency.RateToRiyal)) @Mycurrency.Sign</td></tr>
                                          <tr><td colspan="3" class="nobacknoborder"></td><td>Inspection Total</td><td>@(string.Format("{0:n}", Convert.ToDouble(Model.CartItems.Sum(x => (x.InspectionValue/Mycurrency.RateToRiyal ?? 0))))) @Mycurrency.Sign</td></tr>
                                        <tr><td colspan="3" class="nobacknoborder"></td><td>Shipping Total</td><td>@(string.Format("{0:n}", Convert.ToDouble(Model.CartItems.Sum(x => (x.ShippingValue/Mycurrency.RateToRiyal ?? 0))))) @Mycurrency.Sign</td></tr>
                                        <tr><td colspan="3" class="nobacknoborder"></td><td>Vat @vattext</td><td>@(string.Format("{0:n}", Convert.ToDouble((total* vatvalue))/Mycurrency.RateToRiyal)) @Mycurrency.Sign</td></tr>
                                      

                                        <tr><td colspan="3" class="nobacknoborder"></td><td> Total</td><td>@(string.Format("{0:n}", Convert.ToDouble((total + (total * vatvalue))) / Mycurrency.RateToRiyal)) @Mycurrency.Sign</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="kt-invoice__footer">
                        <div class="kt-invoice__container">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>BANK</th>
                                            <th>ACC.NO.</th>
                                            <th>DUE DATE</th>
                                            <th>TOTAL AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @if (bank != null)
        {
                                                <td>@bank.Name</td>
                                                <td>@bank.No</td>

                                            }
                                            else
                                            {
                                                <td>BARCLAYS UK</td>
                                                <td>12345678909</td>
                                            }
                                            <td>@Model.InsertDate.Value.ToString("MMM,dd,yyyy")</td>
                                            <td class="kt-font-danger kt-font-xl kt-font-boldest">@(string.Format("{0:n}", Convert.ToDouble((total) + (total * vatvalue))/Mycurrency.RateToRiyal)) @Mycurrency.Sign</td>
                                        </tr>
                                        @if (bank != null)
    {

                                            <tr><th style="border-top:1px solid #ebedf2;">Account Name : </th><td colspan="3">@bank.Beneficiary_Account_Name</td></tr>
                                            <tr><th>IBAN : </th><td colspan="3">@bank.IBAN</td></tr>
                                            <tr><th>Swift Code : </th><td colspan="3">@bank.SWIFT_CODE</td></tr>
                                            <tr><th>Address : </th><td colspan="3">@bank.Bank_Address_Country</td></tr>
                                            <tr><th>Currency : </th><td colspan="3">@bank.Currency</td></tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="kt-invoice__actions">
                        <div class="kt-invoice__container">
                            <a href="@Url.Action("GenerateInvoicePDF",new { id=Model.ID})" class="btn btn-success btn-bold">Download Invoice</a>
                            <button type="button" class="btn btn-primary btn-bold" id="printbtn">Print Invoice</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @*<script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>*@

    <script>
        $(document).on("click", "#printbtn", function () {

            window.print();

        });
        $(document).ready(function () {

            function getcountryname(id, selector) {
                $.ajax({
                    url: '/content/js/JsonData/countries.json',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item.id == id) {
                                $("." + selector).text(item.name);
                            }
                        });
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            };

            function getStateame(id, selector) {
                $.ajax({
                    url: '/content/js/JsonData/states.json',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item.id == id) {
                                $("." + selector).text(item.name);
                            }
                        });
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            };

            function getCityname(id, selector) {
                $.ajax({
                    url: '/content/js/JsonData/cities.json',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item.id == id) {
                                $("." + selector).text(item.text);
                            }
                        });
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            }

            var Cityid = $("#lblcity").attr("myid");
            var selectorcity = "lblcity";
            getCityname(Cityid, selectorcity);

            var Stateid = $("#lblstate").attr("myid");
            var selectorstate = "lblstate";

            getStateame(Stateid, selectorstate);

            var Countryid = $("#lblcountry").attr("myid");
            var selectorcountry = "lblcountry";
            getcountryname(Countryid, selectorcountry);

        });
    </script>
}