﻿
@{
    ViewBag.Title = "Invoices";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@section Styles{
    <link href="/Content/plugins/custom/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-fixedcolumns-bs4/css/fixedColumns.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-fixedheader-bs4/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-rowgroup-bs4/css/rowGroup.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-scroller-bs4/css/scroller.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/jstree/dist/themes/default/style.css" rel="stylesheet" type="text/css" />

    
}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Account <span>Buyer</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Buyer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Invoices </li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_BuyerLinks")
            </div>
            <div class="col-md-9">



                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Invoice Management</h4>
                        </div>
                        <div class="card-body">
                            <div class="accordion-style-1" style="margin-top:4%;">
                                <div class="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0" style="display:inline;">
                                                <button class="btn btn-link text-left" type="button" data-toggle="" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <i class="" style="font-size: 0px;"></i><i class="fa fa-angle-double-right mr-3"></i>Buyer Purchase Invoice
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="show" aria-labelledby="headingTwo" data-parent="#accordionExample" style="border:1px solid #eee; padding:5px;">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table id="buyerInvoiceTable" style="font-size:13px;width:100%;"></table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" >
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0" style="display:inline;">
                                                <button class="btn btn-link text-left" type="button" data-toggle="" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                    <i class="" style="font-size: 0px;"></i><i class="fa fa-angle-double-right mr-3"></i>Buyer Bid Invoice
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class=" fade show" aria-labelledby="headingThree" data-parent="#accordionExample" style="border:1px solid #eee; padding:5px;">
                                            <div class="card-body">
                                                <table id="buyerBidInvoiceTable" class="table" style="font-size:13px;width:100%;"></table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="/Content/plugins/custom/datatables.net/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-bs4/js/dataTables.bootstrap4.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons/js/buttons.colVis.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons/js/buttons.flash.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons/js/buttons.html5.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons/js/buttons.print.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-colreorder/js/dataTables.colReorder.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-fixedcolumns/js/dataTables.fixedColumns.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-keytable/js/dataTables.keyTable.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-rowgroup/js/dataTables.rowGroup.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-rowreorder/js/dataTables.rowReorder.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-scroller/js/dataTables.scroller.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-select/js/dataTables.select.min.js" type="text/javascript"></script>
    <script>
        var buyerInvoiceTable;
        var buyerBidInvoiceTable;
        $(document).ready(function () {
            function CreateBuyerInvoiceTable(id, data) {
                if (buyerInvoiceTable != null) {
                    buyerInvoiceTable.destroy();
                }
                buyerInvoiceTable = $("#" + id).DataTable({
                    "data": data,
                    //"scrollY": "450px",
                    "paging": false,
                    "destroy": true,
                    "scrollCollapse": true,
                    "columns": [
                        { "data": "ProductId", "visible": false },
                        {
                            "data": "ProductInformation.ProductImage",
                            "title": "Product Image",
                            "width": "10%",
                            "render": function (tData, type, row) {
                                if (row.ProductInformation.ProductImage === "" || row.ProductInformation.ProductImage === "No files selected") {
                                    return "<img class='img' src='/Content/images/img_not_available.png'/>"
                                }
                                else {
                                    var Image = row.ProductInformation.ProductImage.split(',');
                                    return "<img class='img' src='/UploadData/UploadImage/" + Image[0] + "'/>";
                                    //return "<img class='img' src='/UploadData/UploadImage/" + row.ProductInformation.ProductImage + "'/>"
                                }
                            },
                        },
                        { "data": "ProductInformation.ProductTitle", "title": "Product Title" },
                        { "data": "OBSUserDetail.Email", "title": "Buyer Email" },
                        //{ "data": "BuyQuantity", "title": "BuyQuantity" },
                        //{ "data": "ProductInformation.AvailableQuantity", "title": "AvailableQuantity" },
                        { "data": "ProductInformation.ProductLocation", "title": "Location" },
                        //{
                        //    "data": "ProductInformation.DeadLine", "title": "DeadLine",
                        //    "render": function (value) {
                        //        if (value === null) return "";

                        //        var pattern = /Date\(([^)]+)\)/;
                        //        var results = pattern.exec(value);
                        //        var dt = new Date(parseFloat(results[1]));
                        //        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + "  " + dt.getHours() + ":" + dt.getMinutes();
                        //    }
                        //},
                        ////{ "data": "WholesaleValue", "title": "Bid Start Price($)" },
                        //{ "data": "ProductInformation.BidDifference", "title": "Minimum Bid Amount($)" },
                        { "data": "OBSUserDetail.Company", "title": "Company" },
                        //{
                        //    "className": '',
                        //    "orderable": false,
                        //    "data": null,
                        //    "title": "Status",
                        //    "render": function (tData, type, row) {
                        //        if (row.IsPurchased == false) {
                        //            return "<button type= 'button' class='btn btn-sm btn-success'  style='color: #fff;' id='" + row.PurchaseId + "'>Not Purchase</button>";
                        //        }
                        //        else {
                        //            return "<button type= 'button' class='btn btn-sm btn-danger'  style='color: #fff;' id='" + row.PurchaseId + "' disabled >Purchased</button>";
                        //        }
                        //    },

                        //},
                        {
                            "className": '',
                            "orderable": false,
                            "data": null,
                            "title": "Action",
                            "render": function (tData, type, row) {
                                return "<button type= 'button' class='btn btn-sm btn-info'  style='color: #fff;' id='" + row.PurchaseId + "'><i class='fa fa - download'></i>&nbsp;&nbsp; Download Invoice</button>";
                            }

                        }
                    ],
                    "ordering": false
                });
            }

            function CreateBuyerBidInvoiceTable(id, data) {
                if (buyerBidInvoiceTable != null) {
                    buyerBidInvoiceTable.destroy();
                }
                buyerBidInvoiceTable = $("#" + id).DataTable({
                    "data": data,
                    //"scrollY": "450px",
                    "paging": false,
                    "destroy": true,
                    "scrollCollapse": true,
                    "columns": [
                        { "data": "ProductId", "visible": false },
                        {
                            "data": "ProductInformation.ProductImage",
                            "title": "Product Image",
                            "width": "10%",
                            "render": function (tData, type, row) {
                                if (row.ProductInformation.ProductImage === "" || row.ProductInformation.ProductImage === "No files selected") {
                                    return "<img class='img' src='/Content/images/img_not_available.png'/>"
                                }
                                else {
                                    var Image = row.ProductInformation.ProductImage.split(',');
                                    return "<img class='img' src='/UploadData/UploadImage/" + Image[0] + "'/>";
                                    //return "<img class='img' src='/UploadData/UploadImage/" + row.ProductInformation.ProductImage + "'/>"
                                }
                            },
                        },
                        { "data": "ProductInformation.ProductTitle", "title": "Product Title" },
                        { "data": "OBSUserDetail.Email", "title": "Buyer Email" },
                        { "data": "ProductInformation.ProductLocation", "title": "Location" },

                        { "data": "OBSUserDetail.Company", "title": "Company" },

                        {
                            "className": '',
                            "orderable": false,
                            "data": null,
                            "title": "Action",
                            "render": function (tData, type, row) {
                                return "<button type= 'button' class='btn btn-sm btn-info'  style='color: #fff;' id='" + row.BidId + "'><i class='fa fa - download'></i>&nbsp;&nbsp; Download Invoice</button>";
                            }

                        }
                    ],
                    "ordering": false
                });
            }
            function GetPurchaseData() {
                $.ajax({
                    url: '/Buyer/InvoicesDt',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        CreateBuyerInvoiceTable("buyerInvoiceTable", data[0]);
                        CreateBuyerBidInvoiceTable("buyerBidInvoiceTable", data[1]);
                        $("#collapseTwo").removeClass('show');
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            }
            GetPurchaseData();
            $("#buyerInvoiceTable").on('click', '.btn-info', function () {
                var id = $(this).attr("id");
                //window.location = '/Purchase/DownloadInvoice';
                window.open('/Buyer/DownloadInvoice?id=' + id, '_blank');
                $.notify("Invoice Downloaded Successfully", "success");
            });
            $("#buyerBidInvoiceTable").on('click', '.btn-info', function () {
                var id = $(this).attr("id");
                //window.location = '/Purchase/DownloadInvoice';
                window.open('/Buyer/DownloadBidInvoice?id=' + id, '_blank');
                $.notify("Invoice Downloaded Successfully", "success");
            });
        })

    </script>
}
