﻿@model BuyerViewModel

@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Account <span>Buyer</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Buyer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account </li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_BuyerLinks")
            </div>
            <div class="col-md-9 reg-form">

                @Html.Partial("_msg")
                @using (Html.BeginForm("MyAccount", "Buyer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.ID)
                    @Html.HiddenFor(x => x.Agreepolicies)
                    @Html.HiddenFor(x => x.ASPNetUserID)
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <i class="fa fa-user"></i>

                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Your name" })

                    </div>
                    <div class="form-group">
                        <i class="fa fa-envelope-open"></i>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email", @readonly = "readonly" })
                    </div>

                    <div class="form-group">

                        @Html.TextBoxFor(m => m.Country, new { @class = "form-control selectpicker", autocomplete = "off", id = "Country" })
                    </div>
                    <div class="form-group">
                        @Html.TextBox("State", new { @class = "form-control selectpicker", autocomplete = "off", id = "State" })
                    </div>
                    <div class="form-group">

                        @Html.TextBoxFor(m => m.City, new { @class = "form-control selectpicker", autocomplete = "off", id = "City" })
                    </div>
                    <div class="form-group">
                        <i class="fa fa-id-card"></i>

                        @Html.TextBoxFor(m => m.POBox, new { @class = "form-control", placeholder = "P.O. Box" })
                    </div>
                    <div class="form-group">
                        <i class="fa fa-phone"></i>

                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", placeholder = "Mobile" })
                    </div>

                    <div class="form-action text-center">
                        <button type="submit" class="btn btn-warning rounded ">
                            Update
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Content/Js/CountrySelect/CountryStateAndCityScripts.js"></script>
    <script>
          $(document).ready(function () {
              @*$("#Country").val(@Model.Country);
              $("#Country").change();*@


        function getCityname(id) {
            $.ajax({
                url: '/Content/Js/JsonData/cities.json',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.id == id) {
                                $("#Country").val(@Model.Country);
              $("#Country").change();
                            $("#State").val(@Model.State);
                            $("#State").change();
                        }
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        };
            getCityname(@Model.City);
              $("#City").val(@Model.City);

        })



    </script>
}
