﻿@using Microsoft.AspNet.Identity

@model IEnumerable<FavoriteItemViewModel>

@{

    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Account <span>Buyer</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Buyer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Favorite </li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_BuyerLinks")
            </div>
            <div class="col-md-9">

                @Html.Partial("_msg")

                <div class="table-responsive-sm">
                    <table class="table cart-table table-striped " style="margin-top:0px">
                        <thead>
                            <tr>
                                <th colspan="2" class="product-name">Product</th>
                                <th class="product-quantity">Insert Date</th>

                                <th class="product-subtotal">delete</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var itm in Model)
                            {
                                <tr>
                                    <td class="product-thumb">
                                        <a href="#">

                                            <img class='img img-responsive' src='@itm.ProductInformation.ProductImg[0]' style="height: 60px;" />


                                        </a>
                                    </td>
                                    <td class="product-thumb">

                                        <a href="@Url.Action("Details","ProductDetails",new { id=itm.ProductID})">@itm.ProductInformation.ProductTitle</a>
                                    </td>
                                    <td class="product-thumb">
                                        @itm.Insertdate
                                    </td>



                                    <td class="text-center" data-title="Remove">
                                        <a href="#" class="remove DeleteItem" myid="@itm.ProductID"><i class="fa fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
<div id="mdlConfirm" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row" style="text-align:center;padding:20px;padding-bottom:40px">
                <div class="col-md-12">
                    <h1> Remove  Item  from FAvorite   </h1>
                    <div style="margin-bottom:60px;margin-top:60px"> <h4> are you Confirmed Remove Item from favorite?</h4>  </div>
                    <div class="col-md-6 col-sm-6">
                        <button type="button" class="btn btn-default form-control" data-dismiss="modal">Cancel </button>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <a class="btn btn-danger form-control btndelete" href="#" id="btndelete"> Confirm </a>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
@section Scripts{
    <script>
     $(document).on("click", ".DeleteItem", function () {
         var productid = $(this).attr("myid");

         $("#btndelete").attr("href", "@Url.Action("DeleteFAvoritItem")?ProductID=" + productid);

         $("#mdlConfirm").modal();


     });






     //     $(document).on("click", ".btndelete", function () {


     //            $("#mdlConfirm").modal();
     //});
    </script>
}