﻿@using ps.haweya.win.obs.business.Managers;
@model IEnumerable<BuyerOrderViewModel>

@{

    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    



}
@section styles{
    <style>

        .labelstatus {
            display: inline;
            padding: .2em .6em .3em;
            /*font-size: 75%;*/
            font-weight: 500;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
        }

        .btn-warning:hover {
            background: #f4a32d;
            border-color: #f4a32d;
            color: #fff;
        }
        /*.dropdown a {

            color:black;
            }

              .dropdown a {
            color:#000000!important;
            font-size:14px;
            font-weight:500;

            }

                  .dropdown a i {
           margin-right:10px;

            }
                   .dropdown a:hover {
            color:#4877bc!important;
            }*/
        /*.dropdown-menu > li > a, .dropdown-menu > .dropdown-item {
                display: -webkit-inline-box;
                color:#000000!important;
            }
                .dropdown-menu > li > a > i:hover,.dropdown-menu > li > a:hover ,.dropdown-menu > li > a:hover>i{
                 color:#4877bc!important;
                }*/

        .dropdown-menu > li > a,
        .dropdown-menu > .dropdown-item {
            outline: none !important;
            display: -webkit-box;
            /*display: -ms-flexbox;
        display: flex;*/
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            padding: 0.7rem 1.2rem;
            color: black;
        }


            .dropdown-menu > li > a:hover {
                color: #007bff;
            }

            .dropdown-menu > li > a > i,
            .dropdown-menu > .dropdown-item > i {
                margin-right: 0.75rem;
            }

                .dropdown-menu > li > a > i:before,
                .dropdown-menu > .dropdown-item > i:before {
                    line-height: 0;
                    vertical-align: middle;
                }
    </style>
}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Account <span>Buyer</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Buyer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Orders </li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_BuyerLinks")
            </div>
            <div class="col-md-9">



                <div class="table-responsive-sm">
                    <table class="table cart-table table-striped " style="margin-top:0px">
                        <thead>
                            <tr>
                                <th colspan="1" class="product-name">OrderID</th>
                                <th class="product-quantity">Order Date</th>
                                <th class="product-price">Items Count</th>
                                <th class="product-subtotal">TotalPrice</th>
                                <th class="product-subtotal">Payment Method</th>

                                <th class="product-subtotal"> Status</th>
                                <th>  </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var itm in Model)
                            {
                                <tr>
                                    <td class="product-thumb">
                                        <a href="@Url.Action("OrderDetails",new { id=itm.ID})">@itm.ID</a>
                                    </td>
                                    <td class="product-thumb">
                                        @itm.InsertDate
                                    </td>
                                    <td class="product-quantity" data-title="Quantity"><span>@(itm.CartItems.Count() != 0 ? itm.CartItems.Count() + " items" : "")</span></td>
                                    <td><span class="Price-amount" data-title="Price">@(Convert.ToDouble(((itm.CartItems.Sum(c => (c.ProductInformation.UnitPrice * c.Qty) + (c.ShippingValue ?? 0) + (c.InspectionValue ?? 0))) + ((itm.CartItems.Sum(c => (c.ProductInformation.UnitPrice * c.Qty) + (c.ShippingValue ?? 0) + (c.InspectionValue ?? 0)) * (itm.VatValue ?? 0)))) / (itm.CurrencyRate != null ? itm.CurrencyRate : 1)).ToString("N0")) </span> @(itm.Currency!=null?itm.Currency.Sign:"SR")</td>
                                    <td><span class="Price-amount" data-title="Price">@itm.payment_method </span></td>
                                    <td><span class="labelstatus btn-@itm.Status.Class"> @itm.Status.Name</span> </td>
                                    @*<td class="product-subtotal" data-title="Subtotal">@itm.TotalPrice  SAR </td>*@
                                    @*<td class="text-center" data-title="Remove">
                                            <a href="#" class="remove DeleteItem" myid="@itm.ProductID"><i class="fa fa-trash-alt"></i></a>
                                        </td>*@
                                    <td>
                                        <div class="dropdown">
                                            <a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md" aria-expanded="false">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">

                                                <li>
                                                    <a class="Price-amount" data-orderid="@itm.ID" href="@Url.Action("OrderDetails",new { id=itm.ID})">
                                                        <i class="fa fa-list"></i>
                                                        Details
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="Price-amount" target="_blank" href="@Url.Action("Invoice",new { id=itm.ID})">
                                                        <i class="fa fa-file-invoice"></i>
                                                        Invoce
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>


            </div>
        </div>
    </div>
</div>

