﻿@model BuyerViewModel

@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    AspNetUserViewModel User = ViewBag.CUser;
    int Frequency = 0;
    if (User.UserReports.Count > 0)
    {
        Frequency = (int)User.UserReports.First().Frequency;
    }
}


<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Account <span>Buyer</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Buyer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Preferences </li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_BuyerLinks")
            </div>
            <div class="col-md-9 reg-form">
                @Html.Partial("_msg")
                @using (Html.BeginForm("MyPreferences", "Buyer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.ID)
                    @Html.HiddenFor(x => x.Agreepolicies)
                    @Html.HiddenFor(x => x.ASPNetUserID)
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <h3 style="margin-bottom:40px">Preferences</h3>

                    <div class="form-group">
                        <label class="col-md-3">Frequency </label>
                        <select id="Frequency" name="Frequency" data-live-search="true" class="form-control selectpicker" title="Frequency">
                            <option value="-1">None</option>
                            <option value="2">Daily</option>
                            <option value="3">Weekly</option>
                            <option value="4">Monthly</option>
                            <option value="5">Quaterly</option>
                            <option value="6">Yearly</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Country Preferences </label>
                        <select name="CountryPreferences" class="form-control selectpicker" multiple>
                            @foreach (var item in ViewBag.Countries)
                            {
                                <option @(User.UserPreferedCountries.Where(x => x.CountryId == item.id).Count() > 0 ? "selected" : "") value="@item.id">@item.name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Categories Preferences</label>
                        <select name="CategoriesPreferences" class="form-control selectpicker" multiple>
                            @foreach (var item in ViewBag.Categories)
                            {
                                <option @(User.UserPreferedCategories.Where(x => x.CategoryId == item.CategoryId).Count() > 0 ? "selected" : "") value="@item.CategoryId">@item.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Manufacturers Preferences</label>
                        <select name="ManufacturersPreferences" class="form-control selectpicker" multiple>
                            @foreach (var item in ViewBag.Manufacturers)
                            {
                                <option @(User.UserPreferedManufacturers.Where(x => x.ManufacturerId == item.ManufacturersId).Count() > 0 ? "selected" : "") value="@item.ManufacturersId">@item.ManufacturersName</option>
                            }
                        </select>
                    </div>

                    <div class="form-action text-center">
                        <button type="submit" class="btn btn-warning rounded ">
                            Update
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
              $("#Frequency").val(@Frequency);
        })
    </script>
}
