﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@section title{
    <title>OBS :: Typical Image Roles</title>
}

@section Styles{

    <link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminIndexList.css" rel="stylesheet" />

    <style>


    </style>
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item kt-padding-l-20 kt-padding-r-20" id="kt_subheader">

    <div class="kt-subheader__main">

        <h3 class="kt-subheader__title"><i class="fas fa-dolly"></i>&nbsp;Typical Image Roles</h3>

        <span class="kt-subheader__separator kt-subheader__separator--v"></span>

        <div class="kt-subheader__group" id="kt_subheader_search">
            <span class="kt-subheader__desc" id="kt_subheader_total"><i class="fas fa-spin fa-spinner"></i> </span>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                <input type="text" class="form-control" placeholder="Search ..." id="general_search">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
           
        </div>

        <div class="kt-subheader__group " id="kt_subheader_group_actions">
            <a href="#" data-id="0" data-toggle="modal" data-target="#AddRole-model" class="btn btn-label-warning btn-bold btn-sm btn-icon-h kt-margin-l-10">
                Add New
            </a>
           
        </div>

    </div>

    <div class="kt-subheader__toolbar kt-subheader-order-summary">

        <div class="kt-subheader__group kt-margin-r-10 kt-desktop-view">

        </div>

        <a href="#" class="btn btn-bold btn-primary kt-hidden" id="filter-results"><i class="fas fa-filter"></i>&nbsp;<span class="label">Filter</span></a>
    </div>

</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg kt-hidden">
            <div class="kt-portlet__head-label">

            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions"></div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Datatable -->
            <div id="kt_table_1"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>

<div id="AddRole-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add New Role</h5>
            </div>

            <div class="modal-body" style="max-height:500px; overflow-y:auto; overflow-x:hidden">
                <form class="kt-form" action="" method="POST">
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label"> Category</label>
                        <div class="col-lg-9 col-xl-6">
                            @Html.DropDownList("Category", ViewBag.Category as SelectList, "Select", new { @class = "form-control", required = "required", id = "CategoryID" })
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label"> Discipline</label>
                        <div class="col-lg-9 col-xl-6">

                            @Html.DropDownList("Discipline", ViewBag.Dispipline as SelectList, "Select", new { @class = "form-control", required = "required", id = "DisciplineID" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label"> Commodity</label>
                        <div class="col-lg-9 col-xl-6">

                            @Html.DropDownList("CommodityID", ViewBag.Commodity as SelectList, "Select", new { @class = "form-control", required = "required", id = "CommodityID" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label"> SubCommodity</label>
                        <div class="col-lg-9 col-xl-6">

                            @Html.DropDownList("SubCommodityID", ViewBag.SubCommodity as SelectList, "Select", new { @class = "form-control", required = "required", id = "SubCommodityID" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label"> Image</label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar_1">
                                <div class="kt-avatar__holder" id="kt-avatar-holder" style="background-image: url(/Content/Img/NoImage.jpeg)"></div>
                                <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                    <i class="fa fa-pen"></i>
                                    <input type="file" name="Role_Image" id="Role_Image" accept=".png, .jpg, .jpeg">
                                </label>
                                <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                            <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
                        </div>
                    </div>


                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-label-brand btn-bold ladda-button btn-sm" data-roleid="0" data-style="expand-left" id="update-user-link">Save</button>
                <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/plugins/ladda/ladda.min.js"></script>
    <script src="/content/js/pages/crud/file-upload/ktavatar.js" type="text/javascript"></script>

    <script>

        "use strict";
        var datatable;
        var timer;

        var KTDatatablesDataSourceAjaxServer = function () {

            var togglesidBar = function () {
                // toggle left side menu if it state is off (open)
                try {

                    var aside = new KTToggle('kt_aside_toggler', {
                        target: 'body',
                        targetState: 'kt-aside--minimize',
                        togglerState: 'kt-aside__brand-aside-toggler--active'
                    });

                    if (aside.getState() === 'off') {
                        aside.toggle();
                    }

                } catch (e) {

                }
            };

            var initializeKtDataTable = function () {

                datatable = $('#kt_table_1').KTDatatable({

                    // datasource definition
                    data: {
                        type: 'remote',
                        source: {
                            read: {
                                url: '@Url.Action("AjaxDT","TypicalImageMapping",new { area="Admin"})',
                                method: 'GET',
                                map: function (raw) {
                                    $("#kt_subheader_total").html("<span class='kt-font-brand'>" + raw.meta.total + " Roles </span>");
                                    KTApp.unblock('.kt-container');

                                    return raw.data;
                                }
                            },
                        },
                        pageSize: 10,
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true,
                        deferLoading: 0, // here
                    },

                    // layout definition
                    layout: {
                        scroll: false,
                        footer: false
                    },
                    // column sorting
                    sortable: true,
			        /*search: {
                        input: $('#generalSearch'),
                    },*/
                    pagination: true,

                    // columns definition
                    columns: [


                        {
                            field: 'cbx',
                            title: '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input class="checkall" type="checkbox">&nbsp;<span></span></label>',
                            sortable: false,
                            type: 'number',
                            width: 20,
                            autoHide: false,
                            template: function (row) {
                                return '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input value="' + row.ID + '" class="checkbox-item" type="checkbox">&nbsp;<span></span></label>';
                            }

                        },
                        {
                            field: 'CategoryID',
                            title: 'Category',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.Category + '</span>'
                            }
                        },
                        {
                            field: 'DisciplineID',
                            title: 'Discipline',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.Discipline + '</span>'
                            }
                        },
                        {
                            field: 'CommodityID',
                            title: 'Commodity',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.Commodity + '</span>'
                            }
                        },
                        {
                            field: 'SubCommodityID',
                            title: 'SubCommodity',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.SubCommodity + '</span>'
                            }
                        },


                        {
                            field: 'ImageFile',
                            title: 'Image',
                            width: 50,
                            template: function (row) {
                                if (row.ImageFile != null)
                                    return '<div class="kt-widget5__pic"><img class="kt-widget7__img" alt="photo" height="50" src="/content/UploadData/UploadImages/' + row.ImageFile + '"/></div>';
                                return '';
                            }
                        },



                        {
                            field: 'IsRun',
                            title: 'Is Run',
                            width: 100,
                            template: function (row) {

                                return '<a href="#" class="kt-underline_hover" > <span class="kt-badge kt-badge--' + getUserStatusColor(row.IsRun) + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + getUserStatusColor(row.IsRun) + '">' + row.IsRun + '</span></a>';
                            }
                        },
                        {
                            field: '',
                            title: 'Actions',
                            width: 50,
                            sortable: false,
                            autoHide: false,
                            template: function (row) {
                                return '<div class="dropdown"><a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md" aria-expanded="false"><i class="flaticon-more-1"></i></a><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"><ul class="kt-nav kt-padding-t-0 kt-padding-b-0"><li class="kt-nav__item"><a data-id="' + row.ID + '" data-toggle="modal" data-target="#AddRole-model" class="kt-nav__link"><i class="kt-nav__link-icon fa fa-edit"></i><span class="kt-nav__link-text">Update Role</span></a></li><li class="kt-nav__item"><a data-id="' + row.ID + '" class="kt-nav__link btnrun"><i class="kt-nav__link-icon fa fa-play"></i><span class="kt-nav__link-text">Run</span></a></li> <li class="kt-nav__item"><a data-id="' + row.ID + '"  class="kt-nav__link btndelete"><i class="kt-nav__link-icon fa fa-trash"></i><span class="kt-nav__link-text">Delete Role</span></a></li></ul></div></div>';
                            }
                        }
                    ]
                });

                datatable.sort("ID", "desc");

                datatable.on("kt-datatable--on-ajax-done", function (e) {

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
                    }

                });

                datatable.on("kt-datatable--on-layout-updated", function (e) {
                    $('#kt_table_1 .select2').select2();

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
                    }
                });

            };
            var getUserStatusColor = function (confirem) {


                let className = 'danger';
                if (confirem)
                    className = 'success';

                return className;
            }

            var reloadDatatable = function (key, value, datatable) {

                let query = datatable.getDataSourceQuery();

                $.each(key, function (i) {
                    query[key[i]] = value[i];
                });

                datatable.setDataSourceQuery(query);
                datatable.reload();

                KTApp.block('.kt-datatable', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

            };
            var generalSearch = function () {

                $('#general_search').on('keyup', function () {

                    clearTimeout(timer);

                    var val = $(this).val();
                    timer = setTimeout(function () {
                        reloadDatatable(['query'], [val], datatable);
                    }, 1000);

                });

            };

            var LoadRole = function (roleid) {

                $.get('@Url.Action("RoleData", "TypicalImageMapping")', { roleid: roleid }, function (data) {

                    $('#CategoryID').val(data.CategoryID);
                    $('#Discipline').val(data.DisciplineID);
                    $('#CommodityID').val(data.CommodityID);
                    $('#SubCommodityID').val(data.SubCommodityID);
                    if (data.imagefile) {
                        $("#kt-avatar-holder").css("background-image", "url(/Content/uploaddata/roleimages/" + data.imagefile + ")");
                    }
                });
            }

            var rolemodel = function () {

                $('#update-user-link').on('click', function (e) {
                    e.preventDefault();

                    var l = Ladda.create(this);
                    var roleid = this.dataset.roleid;
                    var CategoryID = $('#CategoryID').val();
                    var DisciplineID = $('#Discipline').val();
                    var CommodityID = $('#CommodityID').val();
                    var SubCommodityID = $('#SubCommodityID').val();

                    var formdata = new FormData(); //FormData object

                    var fileInput = document.getElementById('Role_Image');
                    var ImageFile = fileInput.files[0];
                    if (fileInput.files.length > 0) {
                        formdata.append(fileInput.files[0].name, fileInput.files[0]);
                    }

                    formdata.append("roleid", this.dataset.roleid);
                    formdata.append("CategoryID", $('#CategoryID').val());
                    formdata.append("DisciplineID", $('#DisciplineID').val());
                    formdata.append("CommodityID", $('#CommodityID').val());
                    formdata.append("SubCommodityID", $('#SubCommodityID').val());
                    console.log(formdata);

                    l.start();
                    //{roleid:roleid, CategoryID : CategoryID, DisciplineID : DisciplineID,CommodityID:CommodityID,SubCommodityID:SubCommodityID}


                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '@Url.Action("SaveRole", "TypicalImageMapping")');
                    xhr.send(formdata);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            toastr.options = {
                                "closeButton": false,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };


                            var data = JSON.parse(xhr.responseText);
                            if (data.status == 1) {
                                toastr.success("Role has been Added successfully");


                                $('#AddRole-model').modal('hide');



                                datatable.reload();
                            }
                            else {
                                toastr.error(data.msg);
                            }
                        }
                    }
                    @*$.post('@Url.Action("SaveRole", "TypicalImageMapping")', {data:formdata} , function (data) {*@




                    l.stop();

                    // });

                });

                $('#AddRole-model').on('hidden.bs.modal', function (e) {

                    $('#CategoryID').val("");
                    $('#Discipline').val("");
                    $('#CommodityID').val("");
                    $('#SubCommodityID').val("");
                    $('#Role_Image').val("");
                });

                $('#AddRole-model').on('show.bs.modal', function (e) {

                    KTApp.block('#links-container', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

                    let role = e.relatedTarget.dataset.id;

                    $('#update-user-link')[0].dataset.roleid = role;

                    LoadRole(role)
                });

                
            }
            var deleterole = function () {
               
                $(document).on('click', '.btndelete', function (e) {

                    e.preventDefault();
                
                    var l = Ladda.create(this);
                    var roleid = this.dataset.id;

                    var result = confirm("Confirm Deleted ?");
                    if (result) {
                        l.start();
                        $.post('@Url.Action("DeleteRole", "TypicalImageMapping")', { id: roleid }, function (data) {

                            toastr.options = {
                                "closeButton": false,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };
                            if (data.status == 1) {
                                toastr.success("Role has been Deleted successfully");
                                datatable.reload();
                            }
                            else {
                                toastr.error(data.msg);
                            }

                            l.stop();


                        });

                    }
                });
            }
             var RunRoleStatus = function () {
               
                $(document).on('click', '.btnrun', function (e) {

                    e.preventDefault();
                  
                    var l = Ladda.create(this);
                    var roleid = this.dataset.id;

                  
                        l.start();
                        $.post('@Url.Action("RunRoleStatus", "TypicalImageMapping")', { id: roleid }, function (data) {

                            toastr.options = {
                                "closeButton": false,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };
                            if (data.status == 1) {
                                toastr.success("Role has been Updated successfully");
                                datatable.reload();
                            }
                            else {
                                toastr.error(data.msg);
                            }

                            l.stop();


                        });

                    
                });
            }


        

            return {
		        //main function to initiate the module
                init: function () {
                    togglesidBar();
                    initializeKtDataTable();
                    getUserStatusColor();
                    generalSearch();
                    rolemodel();
                    deleterole();
                    RunRoleStatus();
		        }
            };

        }();

        jQuery(document).ready(function() {
	        KTDatatablesDataSourceAjaxServer.init();
        });

    </script>
}
