﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Logistics/Views/Shared/LogisticsLayout.cshtml";
}


@section title{
    <title>OBS :: Customer Orders</title>
}

@section Styles{

    <link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminIndexList.css" rel="stylesheet" />


}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item kt-padding-l-20 kt-padding-r-20" id="kt_subheader">

    <div class="kt-subheader__main">

        <h3 class="kt-subheader__title"><i class="fas fa-dolly"></i>&nbsp;Customer Orders</h3>

        <span class="kt-subheader__separator kt-subheader__separator--v"></span>

        <div class="kt-subheader__group" id="kt_subheader_search">
            <span class="kt-subheader__desc" id="kt_subheader_total"><i class="fas fa-spin fa-spinner"></i> </span>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                <input type="text" class="form-control" placeholder="Search ..." id="general_search">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
        </div>

        <div class="kt-subheader__group kt-hidden" id="kt_subheader_group_actions">

            <div class="kt-subheader__desc"><span id="kt_subheader_group_selected_rows"></span>&nbsp;Selected : </div>

            <div class="btn-toolbar kt-margin-l-20">

                <button class="btn btn-label-brand btn-bold btn-sm btn-icon-h ladda-button" data-style="expand-left" id="kt_subheader_group_actions_send_email">
                    <i class="fas fa-mail-bulk"></i>&nbsp;Send Email
                </button>


            </div>
        </div>

    </div>

    <div class="kt-subheader__toolbar kt-subheader-order-summary">

        <div class="kt-subheader__group kt-margin-r-10 kt-desktop-view">

            @*<span class="btn btn-bold btn-sm btn-font-sm  btn-label-info order-status-tag kt-hidden" data-color="info" title="New Order" data-value="1" data-label="New">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;New</span>
        </span>

        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-warning order-status-tag kt-hidden" data-color="warning" title="Wait Inspection Value" data-value="2" data-label="Wait Inspection Value">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;Wait Inspection Value</span>
        </span>

        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-success order-status-tag kt-hidden" data-color="success" title="Inspection was Paid" data-value="3" data-label="Inspection was Paid">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;Inspection was Paid</span>
        </span>

        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-warning order-status-tag kt-hidden" data-color="warning" title="Waiting for Payment" data-value="4" data-label="Waiting for Payment">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;Waiting for Payment</span>
        </span>

        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-success order-status-tag kt-hidden" data-color="success" title="Request was Paid" data-value="5" data-label="Request was Paid">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;Request was Paid</span>
        </span>



        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-warning order-status-tag kt-hidden" data-color="warning" title="Wait Inspection" data-value="7" data-label="Wait Inspection">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;Wait Inspection</span>
        </span>

        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-success order-status-tag kt-hidden" data-color="success" title="Inspection Accepted" data-value="8" data-label="Inspection Accepted">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;Inspection Accepted </span>
        </span>

        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-danger order-status-tag kt-hidden" data-color="danger" title="Inspection Rejected" data-value="9" data-label="Inspection Rejected">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;Inspection Rejected </span>
        </span>

        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-primary order-status-tag kt-hidden" data-color="primary" title="Ready for delivery" data-value="10" data-label="Wait Delivery Value">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;Wait Delivery Value </span>
        </span>*@
            <span class="btn btn-bold btn-sm btn-font-sm  btn-label-brand order-status-tag kt-hidden" data-color="brand" title="Preparing" data-value="6" data-label="Preparing">
                <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
                <span class="label">&nbsp;Preparing</span>
            </span>
            <span class="btn btn-bold btn-sm btn-font-sm  btn-label-primary order-status-tag kt-hidden" data-color="primary" title="Ready for delivery" data-value="11" data-label="Ready for delivery">
                <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
                <span class="label">&nbsp;Ready for delivery </span>
            </span>

            <span class="btn btn-bold btn-sm btn-font-sm  btn-label-success order-status-tag kt-hidden" data-color="success" title="Delivered" data-value="12" data-label="Delivered">
                <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
                <span class="label">&nbsp;Delivered</span>
            </span>

            @*<span class="btn btn-bold btn-sm btn-font-sm  btn-label-danger order-status-tag kt-hidden" data-color="danger" title="Cancelled" data-value="13" data-label="Cancelled">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;Cancelled</span>
        </span>

        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-brand order-status-tag kt-hidden" data-color="brand" title="Refunded" data-value="14" data-label="Refunded">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;Refunded</span>
        </span>



        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-dark order-status-tag kt-hidden" data-color="dark" title="Archived" data-value="15" data-label="Archived">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;Archived</span>
        </span>
        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-success order-status-tag kt-hidden" data-color="success" title="Delivery Value Accepted " data-value="16" data-label="Delivery Value Accepted">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;Delivery Value Accepted </span>
        </span>
        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-danger order-status-tag kt-hidden" data-color="danger" title="Delivery Value Rejected " data-value="17" data-label="Delivery Value Rejected">
            <span class="number"><i class="fas fa-spin fa-spinner"></i></span>
            <span class="label">&nbsp;Delivery Value Rejected </span>
        </span>*@
        </div>

        <a href="#" class="btn btn-bold btn-primary kt-hidden" id="filter-results"><i class="fas fa-filter"></i>&nbsp;<span class="label">Filter</span></a>
    </div>

</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg kt-hidden">
            <div class="kt-portlet__head-label">

            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions"></div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Datatable -->
            <div id="kt_table_1"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>

<div id="update-order-status-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Change Order Status</h5>
            </div>

            <div class="modal-body">
                <form class="kt-form" action="" method="POST" id="updatestatusform">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Current Order status</label>
                                <input class="form-control" type="text" id="currrentstatus" value="" readonly="readonly" />
                                <input type="hidden" id="oldstatusid" />

                                <input type="hidden" id="DeliveryTypeValue" />
                                <input type="hidden" id="orderid" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Change to </label>

                                <select id="newstatus" class="select2" data-minimum-results-for-search="Infinity">
                                  
                                    <option value="6">Under Preparing</option>
                                    <option value="11">Ready for delivery</option>
                                    <option value="12">Delivered</option>
                                   
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea class="form-control" rows="4" placeholder="write your notes" id="notes"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-label-brand btn-bold ladda-button btn-sm" data-style="expand-left" id="update-order-status-resource">Save</button>
                <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

<div id="update-order-Inspection-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Send Order Inspection Value</h5>
            </div>

            <div class="modal-body">
                <form class="kt-form" action="" method="POST" id="updatestatusform">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="hidden" id="orderinspectionidid" />
                            </div>
                        </div>
                    </div>
                 
                   
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Quantity</th>
                                            <th>UnitPrice</th>
                                            <th>Inspection Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="inspectonbody">
                            
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea class="form-control" rows="4" placeholder="write your notes" id="Inspectionnotes"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-label-brand btn-bold ladda-button btn-sm" data-style="expand-left" id="update-order-Inspection-resource">Save</button>
                <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



<div id="update-order-delivery-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Send Order  Value with shipping</h5>
            </div>

            <div class="modal-body">
                <form class="kt-form" action="" method="POST" id="updatestatusform">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="hidden" id="orderDeliveryid" />
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Quantity</th>
                                            <th>UnitPrice</th>
                                            <th>Delivery Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Deliverbody">
                                    </tbody>
                                    

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea class="form-control" rows="4" placeholder="write your notes" id="Deliverynote"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-label-brand btn-bold ladda-button btn-sm" data-style="expand-left" id="update-order-delivery-resource">Save</button>
                <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="order-status-model" class="modal fade bd-example-modal-lg type-brand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">  Order [<spn id="orderNo"></spn>] History</h5>
            </div>
            <!--Begin::Portlet-->
            <div class="kt-portlet kt-portlet--height-fluid">


                <div class="kt-portlet__body">
                    <div class="kt-scroll ps ps--active-y" data-scroll="true" data-height="380" data-mobile-height="300" style="height: 380px; overflow: hidden;">

                        <fieldset class="order-list-fieldset">
                            <!-- <legend>Order History</legend> -->
                            <div>
                                <!--Begin::Timeline 3 -->
                                <div class="kt-timeline-v2">
                                    <div class="kt-timeline-v2__items kt-padding-top-25 kt-padding-bottom-30" id="orderHistoryTimeline"></div>
                                </div>
                                <!--End::Timeline 3 -->
                            </div>
                        </fieldset>


                    </div>
                </div>
            </div>
            <!--End::Portlet-->
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary btn-square btn-cancel btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- end:: Content -->

@section Scripts{
    <script src="~/Content/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/plugins/ladda/ladda.min.js"></script>


    <script>

        "use strict";
        var datatable;
        var timer;

        var KTDatatablesDataSourceAjaxServer = function() {

            var togglesidBar = function () {
                // toggle left side menu if it state is off (open)
                try{

                    var aside = new KTToggle('kt_aside_toggler', {
                        target: 'body',
                        targetState: 'kt-aside--minimize',
                        togglerState: 'kt-aside__brand-aside-toggler--active'
                    });

                    if (aside.getState() === 'off'){
                        aside.toggle();
                    }

                }catch(e){

                }
            };

            var initializeKtDataTable = function (){

	             datatable = $('#kt_table_1').KTDatatable({

	               // datasource definition
			        data: {
				        type: 'remote',
				        source: {
					        read: {
						        url: '@Url.Action("AjaxDT","BuyerOrders",new { area="Logistics"})',
						        method : 'GET',
                                map: function (raw) {
                                    $("#kt_subheader_total").html("<span class='kt-font-brand'>" +raw.meta.total +" orders </span>");
						            KTApp.unblock('.kt-container');

						            return raw.data;
						        }
					        },
				        },
				        pageSize: 10,
				        serverPaging: true,
				        serverFiltering: true,
				        serverSorting: true,
				        deferLoading: 0, // here
			        },

			        // layout definition
			        layout: {
				        scroll: false,
				        footer: false
			        },
			        // column sorting
			        sortable: true,
			        /*search: {
                        input: $('#generalSearch'),
                    },*/
			        pagination: true,

			        // columns definition
                    columns: [


				        {
					        field: 'cbx',
					        title: '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input class="checkall" type="checkbox">&nbsp;<span></span></label>',
					        sortable: false,
					        type: 'number',
					        width: 20,
					        autoHide:false,
					        template : function (row){
				                return '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input value="'+row.id+'" class="checkbox-item" type="checkbox">&nbsp;<span></span></label>';
					        }

                        },
                        {
					        field: 'FullName',
					        title: 'Customer',
					        width: 230,
					        autoHide:false,
					        template : function (row){

                                //let country = row.Country == null ? '' : row.Country.name;
                                return '<div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img alt="photo" src="/content/img/' + (row.ProfilePhoto!=""&& row.ProfilePhoto!=null? row.ProfilePhoto:"100_13.jpg") + '"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">' + row.FullName + '</a><span class="kt-user-card-v2__email"><a class="details" href="mailto:'+ row.Email+'">' + row.Email + '</a></span></div></div>';
					        }
                        },

                             {
				            field: 'ID',
					        title: 'Order NO',
					        width: 100,
					        template : function (row){
                                return  '<a class="kt-underline_hover" href="@Url.Action("Details")/'+row.ID+'">ORD-' + row.ID.toString().padStart(3, "0")+'</a>';
					        }
                        },
                                  {
				            field: 'InsertDate',
					        title: 'Order Date',
					        width: 100,
					        template : function (row){
					            return moment(row.InsertDate).format('DD/MM/YYYY');
					        }
                        },
                        {
                            field: 'CountryId',
                            title: 'Country',
                            width: 150,
                            template: function (row) {
                                if (row.Country != null)
                                    return '<div class="kt-user-card-v2"><div class="kt-user-card-v2__pic flag"><img alt="photo" src="/content/media/flags/' + (row.Country.sortname + '.png') + '"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">' + row.Country.name + '</a></span></div></div>';
                                return '';
                            }
                        },
                        {
                            field: 'ItemsCount',
                            title: 'Items Count',
                            width: 50,
                            template: function (row) {

                                return '<span class="kt-font-black kt-text-right">' + row.ItemsCount + '</span>';
                            }
                        },
                         {
 			                field: 'TotalPrice',
                             title: 'Total',
                              width: 100,
                             template: function (row) {
                                 if (parseFloat(row.TotalPrice) == 0) {
                                     return '<span class="kt-font-danger">'+row.TotalPrice+' @System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>';
                                 }
					            return '<span class="kt-font-dark">'+row.TotalPrice+' @System.Configuration.ConfigurationManager.AppSettings["System_Currency"]</span>';
					        }
				        },

                        {
 				            field: 'payment_method',
					        title: 'PaymentMethod',
					        width: 180,
					        template : function (row){
					            return '<span class="kt-font-dark">'+row.payment_method+'</span>';
					        }
                        },

				        {
				            field: 'StatusID',
				            title : 'Status',
                            autoHide: false,
                            width: 150,
                            template: function (row) {

                                return '<a href="#" class="kt-underline_hover"  data-toggle="modal" data-target="#order-status-model" data-id="'+row.ID+'" > <span class="kt-badge kt-badge--' + getOrderStatusColor(row.StatusID) + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + getOrderStatusColor(row.StatusID) + '">' + row.StatusText + '</span></a>';
				            }
				        },
				        {
				            field: '',
                            title: 'Actions',
                            width: 50,
                            sortable:false,
					        autoHide:false,
				            template : function (row){
				                return '<div class="dropdown"><a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md" aria-expanded="false"><i class="flaticon-more-1"></i></a><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"><ul class="kt-nav kt-padding-t-0 kt-padding-b-0"><li class="kt-nav__item"><a data-orderid="'+row.ID+'"  data-statusid="'+row.StatusID+'" data-statustext="'+row.StatusText+'" data-deliverytypevalue="'+row.DeliveryType+'" data-toggle="modal" data-target="#complain-modal" class="kt-nav__link  updateorderstatusbtn" href="#"><i class="kt-nav__link-icon flaticon-support"></i><span class="kt-nav__link-text">Update Status</span></a></li><li class="kt-nav__item"><a  class="kt-nav__link" href="@Url.Action("Details")?id='+row.ID+'"><i class="kt-nav__link-icon flaticon-list"></i><span class="kt-nav__link-text">Details</span></a></li><li class="kt-nav__item"><a  class="kt-nav__link" href="@Url.Action("Invoice")?id='+row.ID+'"><i class="kt-nav__link-icon flaticon-list"></i><span class="kt-nav__link-text">Invoce</span></a></li></ul></div></div>';
				            }
				        }
			        ]
		        });

                datatable.sort("InsertDate", "desc");

                datatable.on("kt-datatable--on-ajax-done", function (e) {

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
	                }

                });

                datatable.on("kt-datatable--on-layout-updated", function (e) {
                    $('#kt_table_1 .select2').select2();

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
	                }
                });

	        };

            var updateOrderStatus = function () {

                $('#update-order-status-model .select2').select2();

                $('#update-order-status-model').on('hidden.bs.modal', function (){
                    $('#newstatus').val('');
                    $('#notes').val('');
                    $('#newstatus option').removeAttr('disabled');
                });

                $(document).on('click', '.updateorderstatusbtn', function (e) {

                    e.preventDefault();

                    let id =this.dataset.orderid;
                    let DeliveryTypeValue = this.dataset.deliverytypevalue;
                    let currentstatusid = this.dataset.statusid;

                    $("#currrentstatus").val(this.dataset.statustext);

                    $("#oldstatusid").val(currentstatusid);

                    $("#orderid").val(id);
                     $("#DeliveryTypeValue").val(DeliveryTypeValue);
                    
                    $('#newstatus option[value="'+currentstatusid+'"]').attr('disabled', 'disabled');

                    $('#update-order-status-model').modal('show');

                });

                $(document).on('click', '#update-order-status-resource', function (e) {

                    e.preventDefault();

                    let $this= $(this);

                    let url = '@Url.Action("UpdateOrderStatus")';

                    let orderId = $("#orderid").val();
                    let newStatus = $('#newstatus').val();
                    let currentstatusid = $("#oldstatusid").val();
                    let note = $('#notes');
                    let DeliveryTypeValue= $("#DeliveryTypeValue").val();
                    let data = { orderId : orderId, newStatus : newStatus , note : note.val(),oldStatusid:currentstatusid};
                    console.log(data);
                    if(note.val() === ''){
                        note.focus();
                        return;
                    }


                    var l = Ladda.create(this);
                    l.start();

                    $(this).parent().find('.btn-cancel').addClass('kt-hidden');

                    $.post(url, data , function (result){

                        $('#newStatus').val(newStatus || '');
                        $('#currentstatusid').val(newStatus || '');

                        if (newStatus == 2) {

                            $("#orderinspectionidid").val(orderId);
                            //bind inspection items
                            $.get('@Url.Action("GetInspectionItemsByOrderID")?id=' + orderId, function (data) {
                                $("#inspectonbody").empty();
                                $.each(data, function () {
                                    let str = "";
                                    str += "<tr>";
                                    str += "<td colspan='2'>";
                                    str += "<div class='kt-user-card-v2'> <div class='kt-user-card-v2__pic'>";
                                    str += "<img src='" + this.productimg + "'/>";
                                    str += "</div><div class='kt-user-card-v2__details'>";
                                    str += "<a class='kt-user-card-v2__name' target='_blank' href='" + '@Url.Action("Details", "ProductDetails",new {area="" })?id=' + this.ProductID + "'> " + this.ProductTitle + "</a>";
                                    str+="</div>";
                                    str += "</div>";
                                    str += "</td>";
                                    str += " <td>" + this.Quantity + " item</td>";
                                    str += " <td>" + this.UnitPrice + " SAR</td>";
                                    str += "<td> <input class='form-control InspectionValue' type='text'  name='InspectionValue_"+this.ID+"'  data-id='"+this.ID+"'  id='InspectionValue_"+this.ID+"' value='' required /></td>";
                                    str += "</tr>";

                                    $("#inspectonbody").append(str);
                                });
                            });
                        



                            $('#update-order-Inspection-model').modal('show');
                        }

                        if (newStatus == 10 && DeliveryTypeValue == 1) {
                          
                                $("#orderDeliveryid").val(orderId);
                                $.get('@Url.Action("GetshippmentsItemsByOrderID")?id=' + orderId, function (data) {
                                    $("#Deliverbody").empty();
                                    $.each(data, function () {
                                        let str = "";
                                        str += "<tr>";
                                        str += "<td colspan='2'>";
                                        str += "<div class='kt-user-card-v2'> <div class='kt-user-card-v2__pic'>";
                                        str += "<img src='" + this.productimg + "'/>";
                                        str += "</div><div class='kt-user-card-v2__details'>";
                                        str += "<a class='kt-user-card-v2__name' target='_blank' href='" + '@Url.Action("Details", "ProductDetails",new {area="" })?id=' + this.ProductID + "'> " + this.ProductTitle + "</a>";
                                        str += "</div>";
                                        str += "</div>";
                                        str += "</td>";
                                        str += " <td>" + this.Quantity + " item</td>";
                                        str += " <td>" + this.UnitPrice + " SAR</td>";
                                        str += "<td> <input class='form-control DeliverValue' type='text'  name='DeliveryValue_" + this.ID + "'  data-id='" + this.ID + "'  id='DeliveryValue_" + this.ID + "' value='' required /></td>";
                                        str += "</tr>";

                                        $("#Deliverbody").append(str);
                                    });
                                });

                                $('#update-order-delivery-model').modal('show');
                            
                        }

                        $('#update-order-status-model').modal('hide');



                        datatable.reload();
                        OrderByStatus();
                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.success("Order Information has been updated successfully");

                        l.stop();

                        $(this).parent().find('.btn-cancel').removeClass('kt-hidden');

                    });

                });
            }

            var SendCustomerInspectin= function  (){

                $(document).on('click', '#update-order-Inspection-resource', function (e) {

                    e.preventDefault();

                    let $this= $(this);

                    let url = '@Url.Action("SendOrderInspection")';

                    let orderId = $("#orderinspectionidid").val();
                    let InspectionValue = $('#InspectionValue');
                    let note = $('#Inspectionnotes');
                    let allvalues ="";
                     $("#inspectonbody :text").each(function(){
                        var value = $(this).val();
                         if (value=== '')
                         {
                             $(this).focus();
                                 toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.error("Please Fill All Inspection Values to sent to Customer ");
                        return false;
                         }
                         else {
                             allvalues += this.dataset.id + "_" + value + ",";
                        }

                     });

                   
                    let data = { orderId : orderId, InspectionValue : allvalues, note : note.val()};

                    //if (InspectionValue.val() === '') {
                    //    InspectionValue.focus();
                    //    return;
                    //}

                    if(note.val() === ''){
                        note.focus();
                        return;
                    }

                    var l = Ladda.create(this);
                    l.start();

                    $(this).parent().find('.btn-cancel').addClass('kt-hidden');

                    $.post(url, data, function (result) {

                        $('#update-order-Inspection-model').modal('hide');

                        datatable.reload();

                        OrderByStatus();

                	    toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.success("Order Inspection Value sent to Customer successfully");

                        l.stop();

                        $(this).parent().find('.btn-cancel').removeClass('kt-hidden');

                    });

                });
            }
              var SendCustomerDelivery= function  (){

                $('#update-order-delivery-model .select2').select2();

                $(document).on('click', '#update-order-delivery-resource', function (e) {

                    e.preventDefault();

                    let $this= $(this);

                    let url = '@Url.Action("SendOrderDelivery")';

                    let orderId = $("#orderDeliveryid").val();
                    let DeliveryValue = $('#DeliveryValue');
                       //let Deliveryfrom = $('#DeliveryType').val();
                    let note = $('#Deliverynote');
                     let allvalues ="";
                     $("#Deliverbody :text").each(function(){
                        var value = $(this).val();
                         if (value=== '')
                         {
                             $(this).focus();
                                 toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.error("Please Fill All Inspection Values to sent to Customer ");
                        return false;
                         }
                         else {
                             allvalues += this.dataset.id + "_" + value + ",";
                        }

                     });
                    let data = { orderId : orderId, DeliveryValue : allvalues , note : note.val()};

                  

                    if(note.val() === ''){
                        note.focus();
                        return;
                    }

                    var l = Ladda.create(this);
                    l.start();

                    $(this).parent().find('.btn-cancel').addClass('kt-hidden');

                    $.post(url, data, function (result) {

                        $('#update-order-delivery-model').modal('hide');

                        datatable.reload();

                        OrderByStatus();

                	    toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                        toastr.success("Order Delivery Value sent to Customer successfully");

                        l.stop();

                        $(this).parent().find('.btn-cancel').removeClass('kt-hidden');

                    });

                });
            }

            var orderStatusTag = function (){

	            $('.order-status-tag').on('click', function (e){

	                e.preventDefault();

	                let status = $(this).attr('data-label');
	                let hasClass = $(this).hasClass('btn-'+ $(this).attr('data-color'));

	                $('.order-status-tag').each(function (){
	                    $(this).removeClass('btn-'+ $(this).attr('data-color'));
	                });

                    if (hasClass) {
                        reloadDatatable(['query'], [''], datatable);
	                    $(this).removeClass('btn-'+ $(this).attr('data-color'));
                    } else {
                        reloadDatatable(['query'], [status], datatable);
	                    $(this).addClass('btn-'+ $(this).attr('data-color'));
	                }

	            });

            }

            var OrderByStatus = function () {
                $.get('@Url.Action("OrderByStatus")', function (data) {

                    $.each(data, function (i, item) {
                        $('.order-status-tag[data-value="' + item.Id + '"]')
                            .removeClass('kt-hidden')
                            .find('.number')
                            .html("( "+item.Value+" )");
                    });
                });
            }

            var reloadDatatable = function (key, value, datatable) {

                let query = datatable.getDataSourceQuery();

                $.each(key, function (i) {
                    query[key[i]] = value[i];
                });

                datatable.setDataSourceQuery(query);
                datatable.reload();

                KTApp.block('.kt-datatable', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

            };

            var generalSearch = function () {

                $('#general_search').on('keyup', function () {

                    clearTimeout(timer);

                    var val = $(this).val();
                    timer = setTimeout(function () {
                         reloadDatatable(['query'], [val] , datatable);
                    }, 1000);

                });

            };


            var orderHistory = function () {


                $('#order-status-model').on('hidden.bs.modal', function (e) {



                    $('#orderHistoryTimeline').empty();


                    //  KTApp.block('#order-status-model .kt-portlet', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

                });


                $('#order-status-model').on('shown.bs.modal', function (e) {

                    $("#orderNo").html("ORD-" + e.relatedTarget.dataset.id.toString().padStart(3, "0"));

                   // $('#orderHistoryTimeline').empty();


                      KTApp.block('#order-status-model .kt-portlet', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });
                    getorderHistorydata(e.relatedTarget.dataset.id);
                });
            }


            var getorderHistorydata = function (orderid) {

                $.get('@Url.Action("OrderHistory")?id=' + orderid, function (data) {


	                $.each(data, function (){

	                    let dateTime = moment(this.InsertDate);
	                    //let fromStep = this.Status.Name;
	                    let toStep = this.Status1.Name;

	                    let className = getOrderStatusColor(this.Status1.ID)

	                    let str = '<div class="kt-timeline-v2__item">';
                        str += '<span class="kt-timeline-v2__item-time">';

                        str += '<span class="kt-display-block">' + dateTime.format('DD/MM/YYYY hh:mm A') + '</span>';
                        str += '<span class="kt-text-light kt-display-block kt-font-size-small">' + dateTime.fromNow() + '</span>';

                        str+= '</span>';
                        str +='<div class="kt-timeline-v2__item-cricle">';
                        str +='<i class="fa fa-genderless kt-font-'+className+'"></i>';
                        str +='</div>';
                        str +='<div class="kt-timeline-v2__item-text kt-padding-top-5">';
                        str += '<span class="capitalize kt-display-block kt-font-'+className+'">' + toStep + '</span>';
                        str += '<span class="kt-text-light kt-display-block">' + this.Notes + '</span>';
                        str += '<span class="kt-text-light kt-display-block">By : ' + (this.AspNetUser == null ? "System Adminstrator" : (this.AspNetUser.FullName == null ? '' : this.AspNetUser.FullName)) + '</span>';
                        str +='</div>';
                        str +='</div>';

                        $('#orderHistoryTimeline').append(str);
	                });

                        KTApp.unblock('#order-status-model .kt-portlet');

                });





            };

            var getOrderStatusColor = function (StatusID) {


                  let className = 'info';

					switch (StatusID){
					    case 2:  className = 'warning';
                            break;
                            case 3:  className = 'success';
                            break;
                            case 4:  className = 'warning';
                            break;
                            case 5:  className = 'success';
                            break;
                            case 6:  className = 'brand';
                            break;
                            case 7:  className = 'warning';
                            break;
                            case 8:  className = 'success';
                            break;
                            case 9:  className = 'danger';
                            break;
                            case 10:  className = 'primary';
                            break;
                            case 11:  className = 'success';
					        break;

                }
                return className;
            }

            return {
		        //main function to initiate the module
                init: function () {
                    togglesidBar();
                    initializeKtDataTable();
                    updateOrderStatus();
                    SendCustomerInspectin();
                    SendCustomerDelivery();
                    OrderByStatus();
                    generalSearch();
                    orderStatusTag();
                    orderHistory();
		        }
            };

        }();

        jQuery(document).ready(function() {
	        KTDatatablesDataSourceAjaxServer.init();
        });

    </script>
}
