﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Seller/Views/Shared/Layout.cshtml";
}

@section styles{
    <link href="~/Content/CSS/custom-bilal.css" rel="stylesheet" type="text/css" />
}
<!-- begin:: Content Head -->
<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Profile Information</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
                <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="info-block">
                    <div class="info-block-head text-right">
                        <span>@ViewBag.SellerBoughtItemsCount</span>
                        <h4>Sales</h4>
                    </div>
                    @*<div class="info-block-footer">
                        <a href="#">
                            View more
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="info-block info-block-pink">
                    <div class="info-block-head text-right">
                        <span>@ViewBag.SellerProductsCount</span>
                        <h4>Products</h4>
                    </div>
                    @*<div class="info-block-footer">
                        <a href="#">
                            View more
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="info-block info-block-blue">
                    <div class="info-block-head text-right">
                        <span>@ViewBag.SellerItemsBuyersCount</span>
                        <h4>Buyers</h4>
                    </div>
                    @*<div class="info-block-footer">
                        <a href="#">
                            View more
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="info-block info-block-red">
                    <div class="info-block-head text-right">
                        <span>@ViewBag.SellerItemsCitiesCount</span>
                        <h4>
                            Covered Locations
                        </h4>
                    </div>
                    @*<div class="info-block-footer">
                        <a href="#">
                            View more
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Asset Bid's Details
                            </h3>
                        </div>

                    </div>

                    <div class="kt-portlet__body">
                        <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                            <div class="row align-items-center">
                                <div class="col-xl-8 order-2 order-xl-1">
                                    <div class="row align-items-center">
                                        <div class="col-md-12 kt-margin-b-20-tablet-and-mobile">
                                            <div class="kt-input-icon kt-input-icon--left">
                                                <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                    <span>
                                                        <i class="la la-search"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Bid Count</th>
                                        <th>Last Bid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Product Name</td>
                                        <td>Bid Count</td>
                                        <td>Last Bid</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Trend Analysis - Product Listing


                            </h3>
                        </div>

                    </div>

                    <div class="kt-portlet__body">

                        <div class="table-responsive">
                            <div id="kt_amcharts_1" style="height: 350px;"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Products by Category
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_amcharts_2" style="height: 350px;"></div>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Bids Count by Product
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_amcharts_3" style="height: 350px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Distribution of Buyers by Location
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_amcharts_4" style="height: 350px;"></div>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Distribution of Buyers by Location
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_amcharts_5" style="height: 350px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Pages Impressions (Page Visitings)


                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_amcharts_6" style="height: 350px;"></div>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Distribution of Buyers by Location
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Total Sale</th>
                                        <th>Earned from product	</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>IMAGE</td>
                                        <td>Product 2</td>
                                        <td>75292</td>
                                        <td>1200$</td>
                                        <td>
                                            <span class="dropdown">
                                                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="la la-ellipsis-h"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit</a>
                                                    <a class="dropdown-item" href="#"><i class="la la-share-alt"></i> Update Status</a>
                                                    <a class="dropdown-item" href="#"><i class="la la-info-circle"></i> Report</a>
                                                </div>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IMAGE</td>
                                        <td>Product 2</td>
                                        <td>75292</td>
                                        <td>1200$</td>
                                        <td>
                                            <span class="dropdown">
                                                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="la la-ellipsis-h"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit</a>
                                                    <a class="dropdown-item" href="#"><i class="la la-share-alt"></i> Update Status</a>
                                                    <a class="dropdown-item" href="#"><i class="la la-info-circle"></i> Report</a>
                                                </div>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IMAGE</td>
                                        <td>Product 2</td>
                                        <td>75292</td>
                                        <td>1200$</td>
                                        <td>
                                            <span class="dropdown">
                                                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="la la-ellipsis-h"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit</a>
                                                    <a class="dropdown-item" href="#"><i class="la la-share-alt"></i> Update Status</a>
                                                    <a class="dropdown-item" href="#"><i class="la la-info-circle"></i> Report</a>
                                                </div>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IMAGE</td>
                                        <td>Product 2</td>
                                        <td>75292</td>
                                        <td>1200$</td>
                                        <td>
                                            <span class="dropdown">
                                                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="la la-ellipsis-h"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit</a>
                                                    <a class="dropdown-item" href="#"><i class="la la-share-alt"></i> Update Status</a>
                                                    <a class="dropdown-item" href="#"><i class="la la-info-circle"></i> Report</a>
                                                </div>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Regional Sales Status
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_amcharts_8" style="height: 350px;"></div>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Sales Performance by Region
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_amcharts_7" style="height: 350px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Sales Performance by
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                                <div class="kt-portlet__head-actions">
                                    <a href="#" class="btn btn-brand btn-elevate btn-icon-sm">
                                        Product
                                    </a>
                                    <a href="#" class="btn btn-brand btn-elevate btn-icon-sm">
                                        Region
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Region</th>
                                    <th>Sales</th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>IMAGE</td>
                                    <td>Region 1</td>
                                    <td class="text-warning">610</td>
                                    <td rowspan="6">
                                        <div id="kt_amcharts_13" style="height: 350px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>IMAGE</td>
                                    <td>Region 1</td>
                                    <td class="text-primary">610</td>
                                </tr>
                                <tr>
                                    <td>IMAGE</td>
                                    <td>Region 1</td>
                                    <td class="text-default">610</td>
                                </tr>
                                <tr>
                                    <td>IMAGE</td>
                                    <td>Region 1</td>
                                    <td class="text-danger">610</td>
                                </tr>
                                <tr>
                                    <td>IMAGE</td>
                                    <td>Region 1</td>
                                    <td class="text-primary">610</td>
                                </tr>
                                <tr>
                                    <td>IMAGE</td>
                                    <td>Region 1</td>
                                    <td class="text-default">610</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end:: Content -->