﻿
@{
    ViewBag.Title = "UploadImagesBulk";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Upload Products Files
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator">
                    
                    <a href="~/Areas/Admin/Views/UploadProducts/UploadImagesBulk.cshtml"></a>
                    <a href="@Url.Action("Index","Home",new { area="Admin"})" class="kt-subheader__breadcrumbs-link">
                        Home
                    </a>
                    </span>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="#" class="kt-subheader__breadcrumbs-link">
                        Upload Products Files
                    </a>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    @*<a href="#" class="kt-subheader__breadcrumbs-link">
            View All
        </a>*@


                    <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
</div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="#" class="btn kt-subheader__btn-primary">
                    Actions &nbsp;

                    <!--<i class="flaticon2-calendar-1"></i>-->
                </a>
                <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Quick actions" data-placement="left">
                    <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" fill="#000000" />
                            </g>
                        </svg>

                        <!--<i class="flaticon2-plus"></i>-->
                    </a>
                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">

                        <!--begin::Nav-->
                        <ul class="kt-nav">
                            <li class="kt-nav__head">
                                Add anything or jump to:
                                <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                            </li>
                            <li class="kt-nav__separator"></li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-drop"></i>
                                    <span class="kt-nav__link-text">Order</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                    <span class="kt-nav__link-text">Ticket</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-telegram-logo"></i>
                                    <span class="kt-nav__link-text">Goal</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-new-email"></i>
                                    <span class="kt-nav__link-text">Support Case</span>
                                    <span class="kt-nav__link-badge">
                                        <span class="kt-badge kt-badge--success">5</span>
                                    </span>
                                </a>
                            </li>
                            <li class="kt-nav__separator"></li>
                            <li class="kt-nav__foot">
                                <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
                                <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                            </li>
                        </ul>

                        <!--end::Nav-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Upload Products Images Bulk 
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">

                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("UploadImages", "UploadProducts", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
        {
            @Html.Raw(TempData["msg"])
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="kt-portlet__body">
        <div class="form-group form-group-last">
            <div class="alert alert-secondary" role="alert">
                <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                <div class="alert-text">
                    <ul>
                        <li>The names of the images you want to upload must be exactly the same as the images’ names listed in the (productimage) column of your file. </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="messagediv"></div>
        <h3>Upload Product Images</h3>

        <div class="form-group row">
            <label class="col-form-label col-lg-3 col-md-4 col-sm-12"> Company</label>
            <div class="col-lg-9 col-md-8 col-sm-12">

                @Html.DropDownList("CompanyId", ViewBag.Company as SelectList, "Select Company", new { @class = "form-control", required = "required", id = "compnayselect" })


            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-lg-3 col-md-4 col-sm-12"> Seller</label>
            <div class="col-lg-9 col-md-8 col-sm-12">

                @Html.DropDownList("SellerID", ViewBag.Sellers as SelectList, "Select Seller", new { @class = "form-control", required = "required", id = "sellerselect" })


            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-lg-3 col-md-4 col-sm-12">BatchNo</label>
            <div class="col-lg-9 col-md-8 col-sm-12" id="selectbatchno">
                @Html.DropDownList("batchno", ViewBag.batchno as SelectList, "Select batch", new { @class = "form-control", required = "required", id = "batchno" })
                @*<select name="batchno" class="form-control" id="batchno">
                    <option value="" >select bachno</option>
                </select>*@


            </div>
        </div>
        <div class="form-group row mt-5">
            <label class="col-form-label col-lg-3 col-md-4 col-sm-12"> Upload Files<br /> (Product Images images)</label>
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="dropzone dropzone-default dropzone-success" id="kt_dropzone_images">
                    <div class="dropzone-msg dz-message needsclick">
                        <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                        <span class="dropzone-msg-desc">Only  Images files are allowed for upload</span>
                    </div>
                </div>


            </div>
        </div>
        @*<div class="form-group row">
            <label class="col-form-label col-lg-3 col-md-4 col-sm-12"> Batch Number</label>
            <div class="col-lg-9 col-md-8 col-sm-12">

                <input type="text" name="BatchNo" id="BatchNo" class = "form-control" value="@ViewBag.BatchNo" readonly required />

            </div>
        </div>*@
    </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col-lg-9 ml-lg-auto">
                            <button type="button" class="btn btn-success" id="upload">Upload</button>
                            @*<button type="submit" class="btn btn-brand">Submit</button>*@
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- end:: Content -->

@section Scripts
{

    @*<script src="/content/js/pages/crud/forms/validation/form-controls.js" type="text/javascript"></script>*@
    <script>
       
        var zone;
         
        $('#kt_dropzone_images').dropzone({
            url:'@Url.Action("UploadImages","UploadProducts")', // Set the url for your upload script location
            paramName: "fileUploader", // The name that will be used to transfer the file
            maxFiles: 7000,
            maxFilesize: 1000, // MB
            addRemoveLinks: true,
            autoProcessQueue: false,
            timeout: 1000000000,
              parallelUploads:1000,
            uploadMultiple:true,
            acceptedFiles: ".jpeg,.jpg,.png",
            init: function () {
                zone = this;

         

            },
            accept: function (file, done) {
                if (file.name == "justinbieber.jpg") {
                    done("Naha, you don't.");
                } else {
                    done();
                }
            },
            success: function (file, response) {
                $("#messagediv").html(response.msg);
            },
            error: function (file, response) {
                $("#messagediv").html(response.msg);
            }


        });

        zone.on('sending', function (file, xhr, formData) {
            formData.append('CompanyID',  $("#compnayselect").val());
            formData.append('SellerID', $("#sellerselect").val());
            formData.append('BatchNo', $("#batchno").val());
});
       



                $('#upload').on('click', function (e) {
          

            console.log($("#sellerselect").val() + "_" + $("#compnayselect").val() + "_" + zone.files.length+"_"+$("#batchno").val());
            if ($("#batchno").val()&&  $("#sellerselect").val() && $("#compnayselect").val() && zone.files.length) {

                
                zone.processQueue();

            }
            else {
                 toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                    toastr.error("Please fill all inputs and try again");


            }

        });
         $("#sellerselect").on('change', function () {

            var sellerid = $(this).val();
            $.get('@Url.Action("GetSellerBathces")', { sellerid: sellerid }, function (data) {
                if (data.length > 0) {
                    $("#batchno").html('');
                    var options = '';
                    options += '<option value="">Select</option>';
                    for (var i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i] + '">' + data[i] + '</option>';
                    }
                    $('#batchno').append(options);
                }
            })

        });

    </script>
}