﻿@model SettingViewModel
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    var Manufacturers = TempData["Clients"] as IEnumerable<ManufacturerViewModel>;

}


<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>About us</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About us</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="about-us-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-lg-1">
                <div class="row">
                    <div class="col-md-5">
                        <div class="about-Img">
                            <img src="/content/frontend/images/213.jpg" alt="About WIN" />
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h3>
                            About WIN

                            @if (Model.Company_Profile != null)
                            {
                                <a href="~/Content/UploadData/@Model.Company_Profile" target="_blank" style="float:right;" class="btn btn-smal btn-info"><i class="fa fa-download"></i> Company Profile</a>
                            }
                        </h3>

                        <p>
                            <b>
                                WIN Company provides an online platform for surplus and excess oil & petrochemical industrial inventory amongst industrial companies in GCC and around the globe.
                            </b>
                        </p>
                        <ul class="list-unstyled list">
                            <li>
                                WIN is established to fill a gap between <b>sellers & buyers</b>, to maximize integration to reduce the substantial loss by the best utilization of surplus industrial inventory.
                            </li>
                            <li>WIN provides a full solution to the <b>Sellers</b>, starting from listing the surplus materials in its platform, to handle the <b> marketing, selling</b> process, secure <b>payments</b>, to arrange <b>logistics</b>, transportation and customs clearance of their surplus industrial materials.</li>
                            <li>WIN provides to the <b>Buyers</b> with a secure, reliable and friendly-use website that has a rich searchable database for industrial surplus materials.</li>
                            <li>WIN has been continuously upgrading its dynamic website by a specialized IT company named "<b>GAIT Co</b>." to build a state of the art Bidding and Purchase Modules along with SEO for our potential clients.</li>
                            <li>WIN has a highly experienced <b>management team </b>with more than 26 years of experience in the oil and petrochemical industry.</li>
                            <li>WIN is an officially <b>registered company</b> based in Saudi Arabia with headquarter located in Royal Commission, Jubail Industrial City.</li>

                        </ul>
                    </div>
                </div>

                <div class="row video-wrap">

                    <div class="col-md-6">
                        <h3>WIN benefits video</h3>

                        <div class="videoWrapper" style="background-image: url(/content/frontend/images/imaa.jpg)">
                            @*<a href="#">
                                    <i class="fa fa-play-circle"></i>
                                </a>*@
                            <iframe width="100%" height="253px" src="https://www.youtube.com/embed/lQ6ZAKE6jbY"></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>WIN Introduction video</h3>
                        <div class="videoWrapper" style="background-image: url(/content/frontend/images/imaa.jpg)">
                            @*<a href="#">
                                    <i class="fa fa-play-circle"></i>
                                </a>*@
                            <iframe width="100%" height="253px" src="https://www.youtube.com/embed/I5aHU5XfCSs"></iframe>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="marketing-container">
    <div class="global-wrap" id="forseller">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="title2">
                                <span>For Seller</span>
                                <h2>Why WIN <br class="d-none d-md-block" /> Online Global<br class="d-none d-md-block" /> MarketPlace?</h2>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="flip-icon">
                                                    <img src="/content/frontend/images/1.svg" alt="Reach Thousands Of Buyers">
                                                </div>
                                                <h3>Reach Thousands Of Buyers</h3>
                                                <a href="#" class="flip-more"><img src="/content/frontend/images/Arrow.svg" alt="Reach Thousands Of Buyers"></a>
                                            </div>
                                            <div class="flip-card-back">
                                                WIN have a vast network of buyers who are looking to purchase your parts including, dealers and distributors of vehicles and machinery, OEM’s, international procurement agencies, hire companies, contractors and consumers.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="flip-icon">
                                                    <img src="/content/frontend/images/2.svg" alt="Turn Your Parts Into Cash">
                                                </div>
                                                <h3>Turn Your Parts Into Cash</h3>
                                                <a href="#" class="flip-more"><img src="/content/frontend/images/Arrow.svg" alt="Turn Your Parts Into Cash"></a>
                                            </div>
                                            <div class="flip-card-back">
                                                To deal with the problem of surplus parts, businesses are forced to write down the value of their parts stock. With our solution you can sell your written down stock, generating cash which has an immediate positive impact on your bottom line.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="flip-icon">
                                                    <img src="/content/frontend/images/3.svg" alt="Hassle Free Parts Upload Service">
                                                </div>
                                                <h3>Hassle Free Parts Upload Service</h3>
                                                <a href="#" class="flip-more"><img src="/content/frontend/images/Arrow.svg" alt="Hassle Free Parts Upload Service"></a>
                                            </div>
                                            <div class="flip-card-back">
                                                WIN provides a unique range of services including "Parts Upload" ensuring your experience is hassle free, saving you time and money.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="flip-icon">
                                                    <img src="/content/frontend/images/1.svg" alt="Proven SEO Capability">
                                                </div>
                                                <h3>Proven SEO Capability</h3>
                                                <a href="#" class="flip-more"><img src="/content/frontend/images/Arrow.svg" alt="Proven SEO Capability"></a>
                                            </div>
                                            <div class="flip-card-back">
                                                With proven Search Engine Optimisation capability, WIN propels your parts and your business to the no.1 position on Google, increasing your sales opportunities from customers located across the world.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="flip-icon">
                                                    <img src="/content/frontend/images/5.svg" alt="Parts Performance Reports">
                                                </div>
                                                <h3>Parts Performance Reports</h3>
                                                <a href="#" class="flip-more"><img src="/content/frontend/images/Arrow.svg" alt="Parts Performance Reports"></a>
                                            </div>
                                            <div class="flip-card-back">
                                                Receive regular updates on the performance of your advertised parts and access other valuable data analytics provided by WIN.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="flip-icon">
                                                    <img src="/content/frontend/images/6.svg" alt="Sell Direct To Buyers">
                                                </div>
                                                <h3>Sell Direct To Buyers</h3>
                                                <a href="#" class="flip-more"><img src="/content/frontend/images/Arrow.svg" alt="Sell Direct To Buyers"></a>
                                            </div>
                                            <div class="flip-card-back">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                   
                                        @*<a href="#">
            <i class="fa fa-play-circle"></i>
        </a>*@
                                        <video controls="controls" style="height:535px;width:100%" >
                                            <source src="~/Content/UploadData/How%20to%20Sign-Up%20on%20WIN%20As%20A%20Seller%20to%20sell%20Your%20Surplus%20Parts.mp4"  type="video/mp4" />
                                        </video>
                                        @*<iframe src="https://drive.google.com/file/d/1UjfqoEKJ4DM9uwGYgONRPvgThlp79c1q/preview" width="100%" height="480"></iframe>*@
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="global-wrap" id="forbuyer">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="title2">
                            <span>For Buyer</span>
                            <h2>Why WIN Online<br class="d-none d-md-block" /> Global MarketPlace?</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="flip-card">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front">
                                            <div class="flip-icon">
                                                <img src="/content/frontend/images/7.svg" alt="Thousands Of Sellers">
                                            </div>
                                            <h3>Thousands Of Sellers</h3>
                                            <a href="#" class="flip-more"><img src="/content/frontend/images/Arrow.svg" alt="Thousands Of Sellers"></a>
                                        </div>
                                        <div class="flip-card-back">
                                            WIN work with a global network of franchised dealers and distributors from various industries who want to sell you their quality parts at competitive prices.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="flip-card">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front">
                                            <div class="flip-icon">
                                                <img src="/content/frontend/images/8.svg" alt="Buy Parts Direct">
                                            </div>
                                            <h3>Buy Parts Direct</h3>
                                            <a href="#" class="flip-more"><img src="/content/frontend/images/Arrow.svg" alt="Buy Parts Direct"></a>
                                        </div>
                                        <div class="flip-card-back">
                                            WIN provide you with the contact information enabling you to purchase genuine parts directly from sellers. So, no middle man and no commission fees.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="flip-icon">
                                        <img src="/content/frontend/images/9.svg" alt="Free and Easy to Use">
                                    </div>
                                    <h3>Free &amp; Easy to Use</h3>
                                    <a href="#" class="flip-more"><img src="/content/frontend/images/Arrow.svg" alt="Free and Easy to Use"></a>
                                </div>
                                <div class="flip-card-back">
                                    Register for free to find the parts you need! WIN is an easy to navigate site which allows you to find parts efficiently, quickly and at no cost.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="flip-icon">
                                        <img src="/content/frontend/images/L0001.png" alt="Trustworthy Sellers">
                                    </div>
                                    <h3>Trustworthy Sellers</h3>
                                    <a href="#" class="flip-more"><img src="/content/frontend/images/Arrow.svg" alt="Trustworthy Sellers"></a>
                                </div>
                                <div class="flip-card-back">
                                    All sellers are registered companies, most of whom are franchised as dealers by international manufacturers. So you know you are purchasing quality parts from trusted businesses who meet the highest standards.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="flip-icon">
                                        <img src="/content/frontend/images/11.svg" alt="Create a Wish List">
                                    </div>
                                    <h3>Create a Wish List</h3>
                                    <a href="#" class="flip-more"><img src="/content/frontend/images/Arrow.svg" alt="Create a Wish List"></a>
                                </div>
                                <div class="flip-card-back">
                                    Can't find a part? Create a Wish List of parts you are looking for and WIN will notify you when available or WIN will even find them for you!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="flip-icon">
                                        <img src="/content/frontend/images/12.png" alt="Buyer Dashboard">
                                    </div>
                                    <h3>Buyer Dashboard</h3>
                                    <a href="#" class="flip-more">
                                        <img src="/content/frontend/images/Arrow.svg" alt="Buyer Dashboard">
                                    </a>
                                </div>
                                <div class="flip-card-back">
                                    As a Buyer, WIN provide you with your very own dashboard so you can keep track of your search history, your seller contacts and your parts Wish Lists.
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-12">
                          
                                <video controls="controls"  style="height:750px;width:100%">
                                    <source src="~/Content/UploadData/How%20to%20sign-up%20on%20WIN%20as%20a%20buyer.mp4" type="video/mp4" width="100%" />
                                </video>
                                @*<a href="#">
            <i class="fa fa-play-circle"></i>
        </a>*@
                                @*<iframe src="https://drive.google.com/file/d/1UVFSTi03o6ZXPJK8qkRQEZAlC5VYv4Rd/preview" width="100%" height="480"></iframe>*@
                           
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clients-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="row">
                    <div class="col-md-2">
                        <div class="client-title">
                            <h2>Clients</h2>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="swiper-container client2-swiper">
                            <div class="swiper-wrapper">

                                @foreach (var itm in Manufacturers)
                                {
                                    <div class="swiper-slide">
                                        <div class="client-slide">
                                            <a href="#">
                                                <img src="/Content/UploadData/UploadImages/Manufacturer/@itm.ImageFile" alt="@itm.Title" />
                                            </a>
                                        </div>
                                    </div>
                                }

                                @*<div class="swiper-slide">
                                        <div class="client-slide">
                                            <a href="#">
                                                <img src="/content/frontend/images/client3.png" alt="" />
                                            </a>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



