﻿
@model LoginViewModel
@{
    ViewBag.Title = "CheckoutLogin";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Checkout</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>

<div class="checkout-step">
    <div class="container">
        <div class="row step-nav">
            <div class="col-md-3 col-sm-6">
                <div class="step-blk current">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>01</span> Login</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>02</span> Address</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-address-card"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>03</span> Payment</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="step-blk">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <h3 class="m-0 text-uppercase"><span>04</span> Finish</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <div class="row checkout-wrap">
            <div class="col-md-6 offset-md-3">
                <div class="step-form step-login">
                    <div class="step-form-title">
                        <h3>Login to your account</h3>
                    </div>
                    @using (Html.BeginForm("CheckoutLogin", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal mb30", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @*<h4>Use a local account to log in.</h4>*@

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <i class="fa fa-envelope-open"></i>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email" })

                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock-open"></i>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter your pasword" })
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="RememberMe" name="RememberMe">
                                <label class="custom-control-label" for="RememberMe">Remember me</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">

                                <input type="hidden" name="returnurl" value="@Model.returnurl" />
                                <button type="submit" class="btn btn-warning text-uppercase">Login</button>
                            </div>
                            <div class="col-sm-6">
                                <a href="#" id="forgetpass">Forget <span>password</span></a>
                            </div>
                        </div>
                    }
                <div class="step-footer">
                    
                    <p class="m-0">Don’t have an account ? <a href="@Url.Action("Register","Account",new { id = "Buyer" })">Sign up</a> </p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
