﻿
@model ContactViewModel
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    var list = ViewBag.News as IEnumerable<OBSNewsFeedViewModel>;
    var setting = TempData["Setting"] as SettingViewModel;
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Contact us</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact us</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <div class="row contact-wrap">
            <div class="col-md-6 contact-box">
                <h3 class="mb30">Contact information <a href="#" class="twit"> test</a></h3>
                <p class="mb35">Don’t hestiate to ask us something, Our customer support team always ready to help you,they will support you 24/7.</p>
                <ul class="list-unstyled contact-ul">
                    @if (setting != null)
                    {
                        <li class="_address">@setting.Address</li>
                        <li class="_phone">@setting.MobileNo1</li>
                        <li class="_fax">@setting.MobileNo2</li>
                        <li class="_email">@setting.Email</li>
                    }
                </ul>
            </div>
            <div class="col-md-6 contactform mb35">
                <h3 class="mb30">Send Message</h3>
                @Html.Partial("_msg")
                @using (Html.BeginForm(new { @class = "form-horizontal", id = "contact_form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <img src="/Content/FrontEnd/images/o-user.png" alt="user">

                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Your name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <img src="/Content/FrontEnd/images/o-mail.png" alt="mail">

                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <img src="/Content/FrontEnd/images/o-phone.png" alt="phone">
                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Phone" } })
                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <img src="/Content/FrontEnd/images/comment.png" alt="message">
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Message" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" 
                            data-sitekey="6LdtG3saAAAAAAuIy8fZUnHdUL2Jv-snONOhAJMk"
                            data-callback='onSubmit'
                            class="btn btn-warning btn-block text-uppercase g-recaptcha">
                        send message
                    </button>
                }
            </div>
        </div>

        <div class="mapcontainer">
            <div id="mapcontainer" style="height: 450px;width: 100%"></div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LdtG3saAAAAAAuIy8fZUnHdUL2Jv-snONOhAJMk"></script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=geometry&amp;v=3.7&key=AIzaSyB8KE5GHnuuuVbgAw5DT-zdWMe6bU5EH3Y"></script>
    <script type="text/javascript">
        $(document).on("click", ".twit", function () {
            var settingssignupp = {
                "url": "@Url.Action("Getgt")",
                "method": "GET",
                "timeout": 0,

            };

            $.ajax(settingssignupp).done(function (result) {
                console.log(result);
                var gt = result.gt;
                var cookies = result.cookeis;

                console.log(gt + "_" + cookies);
                var settingscal = {
                    "url": "https://cors-anywhere.herokuapp.com/https://twitter.com/i/api/1.1/onboarding/begin_verification.json",
                    "method": "POST",
                    "timeout": 0,
                    "headers": {
                        "x-twitter-client-language": "en",
                        //"x-csrf-token": "43697dcc7c4ba529a33c748b0cf2fe1f",
                        "authorization": "Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA",
                        "content-type": "application/json",
                        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36",
                        "Referer": "https://twitter.com/i/flow/signup",
                        "x-guest-token": ""+gt+"",
                        "x-twitter-active-user": "yes",
                        "Cookie": ""+cookies+""
                    },
                    "data": JSON.stringify({ "phone": "59493036", "use_voice": true, "sim_country_code": "CU", "send_auto_verify_hash": false, "flow_token": "g;161093309176451939:-1610933094809:6cdGPNI5u1Ep4uKJwzbzPY3w:1" }),
                };
                $.ajax(settingscal).done(function (response) {
                    console.log(response);
                });
            });



    });
    </script>
    <script type="text/javascript">

        (function ($) {
            is_map_rendered = 0;


            function showmap() {
                if (is_map_rendered)
                    return true;
                else
                    is_map_rendered = 1;

                var locations = [
                    ['WIN', 27.128458, 49.568676, '/content/frontend/images/companymarker.png']
                    //,'/content/frontend/images/flag.png'
                ];

                var map = new google.maps.Map(document.getElementById('mapcontainer'), {
                    zoom: 6,
                    scrollwheel: false,
                    center: new google.maps.LatLng(27.128458, 49.568676),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                var infowindow = new google.maps.InfoWindow();

                var marker, i;

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        map: map,
                        icon: locations[i][3]
                    });

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }
            }


            var isMobile = {
                Android: function () {
                    return navigator.userAgent.match(/Android/i);
                },
                BlackBerry: function () {
                    return navigator.userAgent.match(/BlackBerry/i);
                },
                Opera: function () {
                    return navigator.userAgent.match(/Opera Mini/i);
                },
                Windows: function () {
                    return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
                },
                any: function () {
                    return (isMobile.Android() || isMobile.BlackBerry() || isMobile.Opera() || isMobile.Windows());
                }
            };

            //call functions
            showmap();
        })(jQuery);
    </script>

    <script>
        function onSubmit(token) {
            document.getElementById("contact_form").submit();
        }
    </script>
    <script>
        function onClick(e) {
            e.preventDefault();
            grecaptcha.ready(function () {
                grecaptcha.execute('6LdtG3saAAAAAAuIy8fZUnHdUL2Jv-snONOhAJMk', { action: 'submit' }).then(function (token) {
                    // Add your logic to submit to your backend server here.
                });
            });
        }
    </script>
}