﻿
@{
    ViewBag.Title = "Core Values";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Core Values</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Core Values</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>

<div class="vision-mission bg-image">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-box">
                            <div class="about-img">
                                <img src="/Content/frontend/images/vision.png" alt="Our Vision" />
                            </div>
                            <h3>Our Vision</h3>
                            <p>WIN will be the leading company in exchanging The Industrial Surplus Material in Saudi Arabia and GCC Countries</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-box">
                            <div class="about-img">
                                <img src="/Content/frontend/images/mission.png" alt="Our Mission" />
                            </div>
                            <h3>Our Mission</h3>
                            <ul class="list-unstyled list">
                                <li>  Maximizing the gain of the imported materials and minimizing the overall importing cost to Saudi Arabia.</li>
                                <li>Minimizing the Inventory Cost & Lead Time to industrial organizations.</li>
                                <li>Minimizing the operational risk to the industries by providing additional local source of urgently needed materials.</li>
                                <li>Minimizing the effect of the industrial pollution to our environment by more effective utilization of chemicals inventory and shelf life.</li>
                                <li>Minimizing the disposal and scrap sales of excess valuable materials.</li>
                                <li> Maximizing the Integration among the industries through online Reliable Surplus Material Database.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="core-values">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="core-img text-right">
                            <img src="/Content/frontend/images/imgg.jpg" alt="Core values" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Core values</h3>
                        <ul class="list-unstyled list">
                            <li>Creating ongoing win-win partnerships with our clients</li>
                            <li>Less Cost- high value concept through all our Services</li>
                            <li>Effective, Secured and reliable communication</li>
                            <li>Good Citizenship with caring about our communities and our environment</li>
                            <li>Maintain Quality and Integrity and supporting Sustainability</li>
                            <li>Expanding the Art of the Possible and ethical in all our business activities</li>
                            <li>Support each other with openness, honesty, trust and respect while working as a team to achieve our common goals</li>
                            <li>Accountable in making and fulfilling our commitments to each other, our customers and our community</li>
                            <li>Create exceptional customer relationships by enhancing awareness and expectations of outstanding service with every interaction</li>
                            <li>Personal dedication to continuous improvement in creating employee and company success</li>
                        </ul>
                        <p>
                            WIN has a team of buyers across the globe who are inspecting equipment and buying deals all the time. WIN always will have a huge selection of industrial surplus at great prices. We sell & buy the equipment “as is” with our potential clients.
                        </p><p>
                           Some of our items are almost like new, packed; others have seen plenty of action in the manufacturing arena. With the help of our expert sales team, customers can make the best choice for their needs and feel confident in knowing that they are getting a good deal on equipment and machinery.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



