﻿@using Microsoft.AspNet.Identity
@{
    Layout = null;

    

    var st = "";

}



<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4 & Angular 8
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">

<!-- begin::Head -->
<head>
    <base href="">
    <meta charset="utf-8" />



    <meta name="description" content="Updates and statistics">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">

    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <!--begin:: Vendor Plugins -->
    <link href="/Content/plugins/general/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/tether/dist/css/tether.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/select2/dist/css/select2.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/nouislider/distribute/nouislider.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/owl.carousel/dist/assets/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/owl.carousel/dist/assets/owl.theme.default.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/quill/dist/quill.snow.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/_yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/summernote/dist/summernote.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/animate.css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/toastr/build/toastr.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/dual-listbox/dist/dual-listbox.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/morris.js/morris.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/sweetalert2/dist/sweetalert2.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/socicon/css/socicon.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/plugins/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/plugins/flaticon/flaticon.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/plugins/flaticon2/flaticon.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/general/_fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />

    <!--end:: Vendor Plugins -->
    <link href="/Content/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--begin:: Vendor Plugins for custom pages -->
    <link href="/Content/plugins/custom/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/_fullcalendar/core/main.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/_fullcalendar/daygrid/main.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/_fullcalendar/list/main.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/_fullcalendar/timegrid/main.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-fixedcolumns-bs4/css/fixedColumns.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-fixedheader-bs4/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-rowgroup-bs4/css/rowGroup.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-scroller-bs4/css/scroller.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/jstree/dist/themes/default/style.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/jqvmap/dist/jqvmap.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/custom/uppy/dist/uppy.min.css" rel="stylesheet" type="text/css" />

    <!--end:: Vendor Plugins for custom pages -->
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="/Content/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />

    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="/Content/media/logos/favicon.ico" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">

    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="https://www.amcharts.com/lib/3/plugins/export/export.css" rel="stylesheet" type="text/css" />

    <link href="../Content/css/pages/wizard/wizard-1.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/custom-bilal.css" rel="stylesheet" type="text/css" />
    <style>
        .selected-row td {
            background: #f7f8fa !important;
        }

        .form-group label {
            /* font-size: 1rem; */
            color: black;
            font-weight: 500;
            width: 100%;
            display: block;
        }

        .kt-text-light {
            font-weight: lighter !important;
        }

        .kt-content {
            padding: 0 0;
        }
    </style>



    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <!--begin:: Vendor Plugins -->
    <script src="/Content/plugins/general/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/popper.js/dist/umd/popper.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/js-cookie/src/js.cookie.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/moment/min/moment.min.js" type="text/javascript"></script>
    @*<script src="/Content/plugins/general/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/sticky-js/dist/sticky.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/wnumb/wNumb.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/jquery-form/dist/jquery.form.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/block-ui/jquery.blockUI.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/js/global/integration/plugins/bootstrap-datepicker.init.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/js/global/integration/plugins/bootstrap-timepicker.init.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/plugins/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/bootstrap-select/dist/js/bootstrap-select.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/bootstrap-switch/dist/js/bootstrap-switch.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/js/global/integration/plugins/bootstrap-switch.init.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/select2/dist/js/select2.full.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/ion-rangeslider/js/ion.rangeSlider.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/typeahead.js/dist/typeahead.bundle.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/handlebars/dist/handlebars.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/inputmask/dist/jquery.inputmask.bundle.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/inputmask/dist/inputmask/inputmask.date.extensions.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/inputmask/dist/inputmask/inputmask.numeric.extensions.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/nouislider/distribute/nouislider.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/owl.carousel/dist/owl.carousel.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/autosize/dist/autosize.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/clipboard/dist/clipboard.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/dropzone/dist/dropzone.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/js/global/integration/plugins/dropzone.init.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/quill/dist/quill.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/_yaireo/tagify/dist/tagify.polyfills.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/_yaireo/tagify/dist/tagify.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/summernote/dist/summernote.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/js/global/integration/plugins/bootstrap-markdown.init.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/bootstrap-notify/bootstrap-notify.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/js/global/integration/plugins/bootstrap-notify.init.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/jquery-validation/dist/additional-methods.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/js/global/integration/plugins/jquery-validation.init.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/toastr/build/toastr.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/dual-listbox/dist/dual-listbox.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/raphael/raphael.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/morris.js/morris.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/chart.js/dist/Chart.bundle.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/plugins/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/plugins/jquery-idletimer/idle-timer.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/waypoints/lib/jquery.waypoints.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/counterup/jquery.counterup.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/es6-promise-polyfill/promise.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/sweetalert2/dist/sweetalert2.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/js/global/integration/plugins/sweetalert2.init.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/jquery.repeater/src/lib.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/jquery.repeater/src/jquery.input.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/jquery.repeater/src/repeater.js" type="text/javascript"></script>
    <script src="/Content/plugins/general/dompurify/dist/purify.js" type="text/javascript"></script>*@

    <!--end:: Vendor Plugins -->
    <script src="/Content/js/scripts.bundle.js" type="text/javascript"></script>

    <!--begin:: Vendor Plugins for custom pages -->
    <script src="/Content/plugins/custom/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    @*<script src="/Content/plugins/custom/_fullcalendar/core/main.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/_fullcalendar/daygrid/main.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/_fullcalendar/google-calendar/main.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/_fullcalendar/interaction/main.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/_fullcalendar/list/main.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/_fullcalendar/timegrid/main.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/gmaps/gmaps.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/flot/dist/es5/jquery.flot.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/flot/source/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/flot/source/jquery.flot.categories.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/flot/source/jquery.flot.pie.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/flot/source/jquery.flot.stack.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/flot/source/jquery.flot.crosshair.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/flot/source/jquery.flot.axislabels.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-bs4/js/dataTables.bootstrap4.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/js/global/integration/plugins/datatables.init.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-autofill/js/dataTables.autoFill.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-autofill-bs4/js/autoFill.bootstrap4.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/jszip/dist/jszip.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/pdfmake/build/pdfmake.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/pdfmake/build/vfs_fonts.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons/js/buttons.colVis.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons/js/buttons.flash.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons/js/buttons.html5.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-buttons/js/buttons.print.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-colreorder/js/dataTables.colReorder.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-fixedcolumns/js/dataTables.fixedColumns.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-keytable/js/dataTables.keyTable.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-rowgroup/js/dataTables.rowGroup.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-rowreorder/js/dataTables.rowReorder.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-scroller/js/dataTables.scroller.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/datatables.net-select/js/dataTables.select.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/jstree/dist/jstree.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/jqvmap/dist/jquery.vmap.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/jqvmap/dist/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/jqvmap/dist/maps/jquery.vmap.russia.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/jqvmap/dist/maps/jquery.vmap.usa.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/jqvmap/dist/maps/jquery.vmap.germany.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/jqvmap/dist/maps/jquery.vmap.europe.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/uppy/dist/uppy.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/tinymce/themes/silver/theme.js" type="text/javascript"></script>
    <script src="/Content/plugins/custom/tinymce/themes/mobile/theme.js" type="text/javascript"></script>*@
    <script src="https://www.amcharts.com/lib/3/amcharts.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/radar.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/tools/polarScatter/polarScatter.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/usaLow.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js" type="text/javascript"></script>
    <!--end::Page Vendors -->

    <script src="/Content/js/pages/crud/metronic-datatable/base/data-local.js" type="text/javascript"></script>
    <!--end:: Vendor Plugins for custom pages -->
    <!--end::Global Theme Bundle -->
    <!--begin::Page Vendors(used by this page) -->
    @*<script src="//maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM" type="text/javascript"></script>*@


</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-subheader--enabled kt-subheader--fixed kt-subheader--solid " id="allbody">

    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    @*<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
            <div class="kt-header-mobile__logo">
                <a href="@Url.Action("Index","Home",new { area=""})">
                    <img alt="Logo" data="/Content/FrontEnd/images/logoWhite.png"  style="width:100%"/>
                </a>
            </div>
            <div class="kt-header-mobile__toolbar">
                <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
                <button class="kt-header-mobile__toggler" id="kt_header_mobile_toggler"><span></span></button>
                <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
            </div>
        </div>*@

    <!-- end:: Header Mobile -->
    @*<iframe id='result' style='width: 100%; height: 400px'></iframe>*@
    <div class="kt-grid kt-grid--hor kt-grid--root" id="content">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

            <!-- begin:: Aside -->
            <!-- Uncomment this to display the close button of the panel
            <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
            -->
            <!-- end:: Aside -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                <!-- end:: Header -->
                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                    <!-- begin:: Content Head -->
                    <!-- begin:: Subheader -->
                    <!-- end:: Subheader -->
                    <!-- begin:: Content -->
                    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                        <div class="">
                            <div class="row">
                                <div class="kt-subheader   kt-grid__item" id="kt_subheader" style="width: 100%;">
                                    <div class="kt-container  kt-container--fluid ">
                                        <div class="kt-subheader__main">
                                            <a class="kt-subheader__title">
                                                <img alt="Logo" src="~/Content/FrontEnd/images/logo.png" style="width:100%;margin-top:5px" />
                                            </a>

                                            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                                            <h3 class="kt-subheader__title"><i class="fas fa-user-tag"></i>&nbsp;Admin</h3>

                                            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                                            <h3 class="kt-subheader__title">Dashboard</h3>
                                            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                                            @*<a class="kt-subheader__title" href="GenerateIndex">Export</a>*@
                                            <a class="kt-subheader__title btn btn-success text-center p-2" style="color:#fff" href="javascript: exportCharts()" id="export_chart_btn">Export</a>
                                            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                                            <span class="kt-subheader__title">@DateTime.Now</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row" id="statisticsdiv">


                                <div style="width:25%">
                                    <div class="info-block">
                                        <div class="info-block-head text-right">
                                            <span>@ViewBag.OrdersCount</span>
                                            <h4>Orders</h4>
                                        </div>
                                        @*<div class="info-block-footer">
                                                <a href="@Url.Action("Index","BuyerOrders",new { area="Admin"})">
                                                    View more
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>*@
                                    </div>
                                </div>

                                <div style="width:25%">
                                    <div class="info-block info-block-pink">
                                        <div class="info-block-head text-right">
                                            <span>@ViewBag.ProcusctsCount</span>
                                            <h4>Products</h4>
                                        </div>
                                        @*<div class="info-block-footer">
                                                <a href="@Url.Action("ArchiveActive","Product",new { area="Admin"})">
                                                    View more
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>*@
                                    </div>
                                </div>

                                <div style="width:25%">
                                    <div class="info-block info-block-blue">
                                        <div class="info-block-head text-right">
                                            <span>@ViewBag.BuyersCount</span>
                                            <h4>Buyers</h4>
                                        </div>
                                        @*<div class="info-block-footer">
                                                <a href="@Url.Action("Buyers","User",new { area="Admin"})">
                                                    View more
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>*@
                                    </div>
                                </div>

                                <div style="width:25%">
                                    <div class="info-block info-block-red">
                                        <div class="info-block-head text-right">
                                            <span>@ViewBag.SellersCount</span>
                                            <h4>
                                                Sellers
                                            </h4>
                                        </div>
                                        @*<div class="info-block-footer">
                                                <a href="@Url.Action("Sellers","User",new { area="Admin"})">
                                                    View more
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>*@
                                    </div>
                                </div>

                            </div>
                            <div class="row" id="bidsdetails">
                                <div class="col-lg-12 col-md-12">
                                    <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                                        <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">
                                                    Asset Bid's Details
                                                </h3>
                                            </div>

                                        </div>

                                        <div class="kt-portlet__body">
                                            @*<div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                                                    <div class="row align-items-center">
                                                        <div class="col-xl-8 order-2 order-xl-1">
                                                            <div class="row align-items-center">
                                                                <div class="col-md-12 kt-margin-b-20-tablet-and-mobile">
                                                                    <div class="kt-input-icon kt-input-icon--left">
                                                                        <input type="text" class="form-control" placeholder="Search..." id="Bid_search">
                                                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                            <span>
                                                                                <i class="la la-search"></i>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Product Name</th>
                                                            <th>Bid Count</th>
                                                            <th>Last Bid</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="bidtable">
                                                        @foreach (var item in ViewBag.GetBidsTable as List<bidtableadminhome>)
                                                        {


                                                            <tr>
                                                                <td>@item.ProductTitle</td>
                                                                <td>@item.Value</td>
                                                                <td>@item.LastBid</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                                        <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">
                                                    Trend Analysis - Product Listing


                                                </h3>
                                            </div>

                                        </div>

                                        <div class="kt-portlet__body">

                                            <div class="table-responsive">
                                                <div id="kt_amcharts_1" style="height: 350px;"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                                        <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">
                                                    Products by Category
                                                </h3>
                                            </div>

                                        </div>
                                        <div class="kt-portlet__body">
                                            <div id="kt_amcharts_2" style="height: 350px;"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                                        <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">
                                                    Bids Count by Product
                                                </h3>
                                            </div>

                                        </div>
                                        <div class="kt-portlet__body">
                                            <div id="kt_amcharts_3" style="height: 350px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                                        <div class="kt-portlet__head kt-portlet__head--lg  kt-portlet__head--break-sm">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">
                                                    Distribution of Buyers by Location
                                                </h3>
                                            </div>

                                        </div>
                                        <div class="kt-portlet__body">
                                            <div id="kt_amcharts_4" style="height: 350px;"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                    <!-- end:: Content -->
                </div>

                <!-- begin:: Footer -->
                <div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
                    <div class="kt-container  kt-container--fluid ">
                        <div class="kt-footer__copyright">
                            2019&nbsp;&copy;&nbsp;<a href="#" target="_blank" class="kt-link">WIN</a>
                        </div>
                        <div class="kt-footer__menu">
                            <a href="#" target="_blank" class="kt-footer__menu-link kt-link">About</a>
                            <a href="#" target="_blank" class="kt-footer__menu-link kt-link">Team</a>
                            <a href="#" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
                        </div>
                    </div>
                </div>

                <!-- end:: Footer -->
            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!-- begin::Quick Panel -->
    <!-- end::Quick Panel -->
    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>
    @*<div id="source"></div>*@
    <div id="elementH"></div>
    <img id="canimg" />
    <!--Begin:: Chat-->
    <!--ENd:: Chat-->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };
    </script>

    <!--end::Page Vendors -->
    <!--begin::Page Scripts(used by this page) -->
    @*<script src="/Content/js/pages/dashboard.js" type="text/javascript"></script>*@
    <script>

        @*var timer;
        var Bindbidtbl = function () {

            var q = $("#Bid_search").val();


            console.log(@Html.Raw(ViewBag.GetBidsTable));
            var data = @Html.Raw(ViewBag.GetBidsTable);
                    $("#bidtable").empty();
                    var str = "";
                    $.each(data, function (i, item) {

                        str += "<tr>";
                        str += "<td><a href='@Url.Action("Details","ProductDetails",new { area=""})?id="+item.Key+"' target='_blank'>"+item.ProductTitle+"</a></td>";
                        str += "<td>"+item.Value+"</td>";
                        str += "<td>"+item.LastBid+"</td>";
                        str += "<tr/>";
                    });

                    $("#bidtable").append(str);
                //});
            }
              var BidBysearch = function () {

                $('#Bid_search').on('keyup', function () {

                    clearTimeout(timer);


                    timer = setTimeout(function () {
                        Bindbidtbl();
                    }, 1000);

                });

            };
        $(document).ready(function () {
            Bindbidtbl();
            BidBysearch();
        })*@


        //$(document).ready(function () {

        //    $(document).ajaxSuccess(function (e, xhr, settings) {
        //        //console.log('dsadsadsadsads');
        //        if (xhr.responseJSON.status === 401) {
        //            settings.success = null;
        //        }

        //        return false;
        //    });

        //});

        //function ToJavaScriptDate(value) {
        //    var pattern = /Date\(([^)]+)\)/;
        //    var results = pattern.exec(value);
        //    var dt = new Date(parseFloat(results[1]));
        //    return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
        //}

        //var dataTableCheckAll = function () {

        //    $(document).on('change', '.kt-datatable__row .checkbox-item', function (e) {
        //        $(this).closest('tr').toggleClass('selected-row');
        //    });

        //    $(document).on('change', '.kt-datatable__row .checkall', function (e) {

        //        let isChecked = $(this).is(':checked');

        //        if (isChecked) {
        //            $(this).closest('table').find('.kt-datatable__row').addClass('selected-row');
        //        } else {
        //            $(this).closest('table').find('.kt-datatable__row').removeClass('selected-row');
        //        }

        //        $(this).closest('table').find('.kt-datatable__row .checkbox-item').prop('checked', isChecked);

        //    });

        //};

        //dataTableCheckAll();

    </script>
    <!--begin::Page Vendors(used by this page) -->
    @*<script src="https://maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM" type="text/javascript"></script>*@


    @* <script src="~/Content/Js/Admin_amcharts_charts.js"></script>*@
    <script src="~/Content/Js/html2canvas.js"></script>

    <script src="~/Content/Js/jspdf.min.js"></script>
    <script>
        var chart1;
        var chart2;
        var chart3;
        var chart4;

    "use strict";

// Class definition
var KTamChartsChartsDemo = function() {

    // Private functions
    var demo1 = function () {
       var data=@Html.Raw(ViewBag.GetPRoductCountByCountry);



        var chart = AmCharts.makeChart("kt_amcharts_1", {
            "rtl": KTUtil.isRTL(),
            "type": "serial",
            "theme": "light",
            "dataProvider":
                data
            ,
            "valueAxes": [{
                "gridColor": "#FFFFFF",
                "gridAlpha": 0.2,
                "dashLength": 0
            }],
            "gridAboveGraphs": true,
            "startDuration": 1,
            "graphs": [{
                "balloonText": "[[category]]: <b>[[value]]</b>",
                "fillAlphas": 0.8,
                "lineAlpha": 0.2,
                "type": "column",
                "valueField": "ProductCount"
            }],
            "chartCursor": {
                "categoryBalloonEnabled": false,
                "cursorAlpha": 0,
                "zoomable": false
            },
            "categoryField": "country",
            "categoryAxis": {
                "gridPosition": "start",
                "gridAlpha": 0,
                "tickPosition": "start",
                "tickLength": 20
            },
            "export": {
                "enabled": true
            },
            "titles":[{
                "text" : "Trend Analysis - Product Listing",
                "fontSize" : 25,
                "marginBottom" : 30
            }],
        });
        chart1 = chart;
          // Custom export function

    }

    var demo2 = function () {

       var data=@Html.Raw(ViewBag.GetPRoductCountByCategory);
            var chart = AmCharts.makeChart("kt_amcharts_2", {
                "rtl": KTUtil.isRTL(),
                "type": "serial",
                "addClassNames": true,
                "theme": "light",
                "autoMargins": false,
                "marginLeft": 30,
                "marginRight": 8,
                "marginTop": 10,
                "marginBottom": 26,
                "balloon": {
                    "adjustBorderColor": false,
                    "horizontalPadding": 10,
                    "verticalPadding": 8,
                    "color": "#ffffff"
                },

                "dataProvider":data,
                "valueAxes": [{
                    "axisAlpha": 0,
                    "position": "left"
                }],
                "startDuration": 1,
                "graphs": [{
                    "alphaField": "alpha",
                    "balloonText": "<span style='font-size:12px;'>[[title]] in [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
                    "fillAlphas": 1,
                    "title": "Product_Count",
                    "type": "column",
                    "valueField": "ProductCount",
                    "dashLengthField": "dashLengthColumn"
                }, {
                    "id": "graph2",
                    "balloonText": "<span style='font-size:12px;'>[[title]] in [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
                    "bullet": "round",
                    "lineThickness": 3,
                    "bulletSize": 7,
                    "bulletBorderAlpha": 1,
                    "bulletColor": "#FFFFFF",
                    "useLineColorForBulletBorder": true,
                    "bulletBorderThickness": 3,
                    "fillAlphas": 0,
                    "lineAlpha": 1,
                        "title": "ProductCount",
                        "valueField": "ProductCount",
                    "dashLengthField": "dashLengthLine"
                }],
                "categoryField": "category",
                "categoryAxis": {
                    "gridPosition": "start",
                    "axisAlpha": 0,
                    "tickLength": 0
                },
                "export": {
                    "enabled": true
                },
                 "titles":[{
                "text" : "Products by Category",
                "fontSize" : 25,
                "marginBottom" : 30
            }],
            });
      chart2 = chart;
    }


    var demo3 = function () {

        //$.get('/admin/home/GetBidsCountByProduct', function (data) {

             var data=@Html.Raw(ViewBag.GetBidsCountByProduct);
            var chart = AmCharts.makeChart("kt_amcharts_3", {
                "theme": "light",
                "type": "serial",
                "dataProvider": data,
                "valueAxes": [{
                    "unit": "",
                    "position": "left",
                    "title": "Bid Counts",
                }],
                "startDuration": 1,
                "graphs": [{
                    "balloonText": "All Bids count  [[category]]: <b>[[value]]</b>",
                    "fillAlphas": 0.9,
                    "lineAlpha": 0.2,
                    "title": "Buyes  counts",
                    "type": "column",
                    "valueField": "BidsfromallBuyers"
                }, {
                        "balloonText": " Buyes counts [[category]] : <b>[[value]]</b>",
                    "fillAlphas": 0.9,
                    "lineAlpha": 0.2,
                        "title": "Bids from all Buyers",
                    "type": "column",
                    "clustered": false,
                    "columnWidth": 0.5,
                        "valueField": "BidCount"
                }],
                "plotAreaFillAlphas": 0.1,
                "categoryField": "ProductTitle",
                "categoryAxis": {
                    "gridPosition": "start",
                    "title": "Products ",
                    "labelsEnabled":false
                },
                "export": {
                    "enabled": true
                },
                 "titles":[{
                "text" : "Bids Count by Product",
                "fontSize" : 25,
                "marginBottom" : 30
            }],
            });
        chart3 = chart;
        //});

    }

    var demo4 = function () {

          var data=@Html.Raw(ViewBag.GetBuyerssCountByCountry);
        //$.get('/admin/home/GetBuyerssCountByCountry', function (data) {
            var chart = AmCharts.makeChart("kt_amcharts_4", {
                "theme": "light",
                "type": "serial",
                "dataProvider":data,
                "valueAxes": [{
                    "stackType": "3d",
                    "unit": "%",
                    "position": "left",
                    "title": "GDP growth rate",
                }],
                "startDuration": 1,
                "graphs": [{
                    "balloonText": "GDP grow in [[category]] : <b>[[value]]</b>",
                    "fillAlphas": 0.9,
                    "lineAlpha": 0.2,
                    "title": "Buyers Count",
                    "type": "column",
                    "valueField": "BuyerCount"
                }, {
                    "balloonText": "GDP grow in [[category]] : <b>[[value]]</b>",
                    "fillAlphas": 0.9,
                    "lineAlpha": 0.2,
                        "title": "Buyers Count",
                    "type": "column",
                        "valueField": "BuyerCount"
                }],
                "plotAreaFillAlphas": 0.1,
                "depth3D": 60,
                "angle": 30,
                "categoryField": "Country",
                "categoryAxis": {
                    "gridPosition": "start"
                },
                "export": {
                    "enabled": true
                },
                       "titles":[{
                "text" : "Distribution of Buyers by Location",
                "fontSize" : 25,
                "marginBottom" : 30
                }],

            });
        chart4 = chart;


  
        //});
    }
      return {
        // public functions
        init: function() {
            demo1();
            demo2();
            demo3();
            demo4();
        }
    };
}();

jQuery(document).ready(function() {
    KTamChartsChartsDemo.init();
});


        function exportCharts() {
              var pdf = new jsPDF('p', 'pt', [ 1366,  2600]);
            // iterate through all of the charts and prepare their images for export
            var images = [];
            var imgData=[];

            html2canvas(document.querySelector("#kt_subheader")).then(canvas => {
                canvas.getContext('2d');
             //   console.log(canvas.toDataURL("image/jpeg", 1));

               // $("#canimg").attr("src", canvas.toDataURL("image/jpeg", 1));
    //document.body.appendChild(canvas)
                 images.push({
                        "image": canvas.toDataURL("image/jpeg",1),
                     "fit": [523.28, 769.89],
                        "name":"header"
                 });



 $.each(images, function( index, item ) {

         if (item.name=="header") {
                    pdf.addImage(item.image, 'JPEG', 30, 0, 1300, 70);
     }
     else if (item.name == "statistics") {
          pdf.addImage(item.image, 'JPEG', 30, 100, 1300, 120);
     }
     else if(item.name == "bidsdetails") {
          pdf.addImage(item.image, 'JPEG', 30, 250, 1300, 500);
     }
     else if(item.name == "chart1") {
          pdf.addImage(item.image, 'JPEG', 30, 800, 1300, 500);
     }
     else if(item.name == "chart2") {
          pdf.addImage(item.image, 'JPEG', 30, 1350, 1300, 500);
     }
     else if(item.name == "chart3") {
          pdf.addImage(item.image, 'JPEG', 30,2000,650,300);
     }
     else if(item.name == "chart4") {
       pdf.addImage(item.image, 'JPEG', 700,2000,650,300);
     }

});

                //if (images[6]) {
                //    pdf.addImage(images[6].image, 'JPEG', 30, 0, 1300, 70);
                //}
                //if (images[4]) {
                //    pdf.addImage(images[4].image, 'JPEG', 30, 100, 1300, 120);
                //}
                //if (images[5]) {
                //    pdf.addImage(images[5].image, 'JPEG', 30, 250, 1300, 500);
                //}
                //pdf.addImage(images[0].image, 'JPEG', 30, 800, 1300, 500);
                //pdf.addImage(images[1].image, 'JPEG', 30, 1350, 1300, 500);
                // pdf.addImage(images[2].image, 'JPEG', 30,2000,650,300);
                //pdf.addImage(images[3].image, 'JPEG', 700,2000,650,300);
 pdf.save("download.pdf");
            //console.log(pdf);
});
           html2canvas(document.querySelector("#statisticsdiv")).then(canvas => {
                canvas.getContext('2d');
                images.push({
                    "image": canvas.toDataURL("image/jpeg", 1),
                    "fit": [523.28, 769.89],"name":"statistics"
                });
            });
                  html2canvas(document.querySelector("#bidsdetails")).then(canvas => {
                canvas.getContext('2d');
                images.push({
                    "image": canvas.toDataURL("image/jpeg", 1),
                    "fit": [523.28, 769.89],"name":"bidsdetails"
                });
            });

            //console.log(images);
            //          var pending = 4;//AmCharts.charts.length;
            //          console.log(pending);
            //for ( var i = 0; i < 4; i++ ) {
            // var chart = AmCharts.charts[ i ];
            chart1.export.capture({}, function () {
                this.toJPG({
                    multiplier: 2
                }, function (data) {
                       // pdf.addImage(data, 'JPEG', 0, 0);
                    images.push({
                        "image": data,
                        "fit": [523.28, 769.89]
                        ,"name":"chart1"
                    });
                })
          })
            chart2.export.capture({}, function () {
                this.toJPG({
                    multiplier: 2
                }, function (data) {
                         //  pdf.addImage(data, 'JPEG', 0, 0);
                        images.push({

                        "image": data,
                            "fit": [523.28, 769.89]
                        ,"name":"chart2"
                    });
                })
                        });
            chart3.export.capture({}, function () {
                this.toJPG({
                    multiplier: 2
                }, function (data) {
                     // pdf.addImage(data, 'JPEG', 0, 0);
                        images.push({

                        "image": data,
                            "fit": [523.28, 769.89]
                        ,"name":"chart3"
                    });
                         })
                                });
                    chart4.export.capture({}, function () {
                        this.toJPG({
                            multiplier: 2
                        }, function (data) {
                              //   pdf.addImage(data, 'JPEG', 0, 0);
                                images.push({

                                "image": data,
                                    "fit": [523.28, 769.89]
                                ,"name":"chart4"
                            });
                            //pending--;
                            //if ( pending === 0 ) {
                            // all done - construct PDF
                            ////chart4.export.toPDF({
                            ////    content: images
                            ////}, function (data) {
                            ////    this.download(data, "application/pdf", "amCharts.pdf");
                            ////});
                            //}
                        });
                    });


            //console.log(images);
//            for (var i = 0; i < images.length; i++) {
//             console.log(i + ": " + image[i].image);
//              console.log(image[i].image);
//};

 //           pdf.addImage(img, 'JPEG', 0, 0);
 //pdf.save("download.pdf");
            //console.log(pdf);

                    //}

          }

    </script>
   
    <!-- Required to convert named colors to RGB -->
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/canvg/1.4/rgbcolor.min.js"></script>*@
    <!-- Optional if you want blur -->
    @*<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/stackblur-canvas/1.4.1/stackblur.min.js"></script>*@
    <!-- Main canvg code -->
    @*<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/canvg/dist/browser/canvg.min.js"></script>*@

    @*<script src="~/Content/Js/jspdf.min.js"></script>*@
    @*<script src="~/Content/Js/jspdf.debug.js"></script>*@

    @*<script>
            function genpdf() {
                var pdf = new jsPDF('p', 'pt', 'A4');
                var width = 595;
                document.body.style.width = width + "px";
                //doc.fromHTML($("#allbody"), 20, 20, {"width":595});
                //doc.save("Export.pdf");

                pdf.html(document.body, {
                    callback: function (pdf) {
                        var iframe = document.createElement('iframe');
                        iframe.setAttribute('style', 'position:absolute;top:0;right:0;height:100%; width:600px');
                        document.body.appendChild(iframe);
                        iframe.src = pdf.output('datauristring');
                    }
                });
            }


            function converthtm_pdf() {
                var doc = new jsPDF();
                var elementHTML = $('#content').html();
                console.log(elementHTML);
                var specialElementHandlers = {
                    '#elementH': function (element, renderer) {
                        return true;
                    }
                };
                doc.fromHTML(elementHTML, 15, 15, {
                    'width': 170,
                    'elementHandlers': specialElementHandlers
                });

                // Save the PDF
                doc.save('sample-document.pdf');
            }


            //if (typeof SVGElement === 'object' && !SVGElement.prototype.outerHTML) {
            //    Object.defineProperty(SVGElement.prototype, 'outerHTML', {
            //        get: function () {
            //            var $node, $temp;
            //            $temp = document.createElement('div');
            //            $node = this.cloneNode(true);
            //            $temp.appendChild($node);
            //            return $temp.innerHTML;
            //        },
            //        enumerable: false,
            //        configurable: true
            //    });
            //}

            //window.onload = function () {
            //    doRefresh();
            //};

            //var doRefresh = function () {
            //    var makePdf = function () {
            //        var pdf = new jsPDF('p', 'pt', 'c1');
            //        var c = pdf.canvas;
            //        c.width = 1000;
            //        c.height = 500;

            //        var ctx = c.getContext('2d');
            //        ctx.ignoreClearRect = true;
            //        ctx.fillStyle = '#ffffff';
            //        ctx.fillRect(0, 0, 1000, 700);

            //        //load a svg snippet in the canvas with id = 'drawingArea'
            //        canvg(c, document.getElementById('content').outerHTML, {
            //            ignoreMouse: true,
            //            ignoreAnimation: true,
            //            ignoreDimensions: true
            //        });

            //        return pdf;
            //    };
            //    document.getElementById('result').setAttribute('src', makePdf().output('dataurlstring'));
            //    document.getElementById('source').innerText = makePdf().output();
            //    //makePdf().save();
            //};

        </script>*@
    <!--end::Page Scripts -->
</body>

<!-- end::Body -->
</html>
