﻿@using ps.haweya.win.obs.web.Controllers;
@{
    ViewBag.Title = "WIN | Home";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    //// var list = ViewBag.ManufacturersList as IEnumerable<ManufacturersHomeData_ResultViewModel>;
    var categorylist = ViewBag.Categories as List<CategoryHomeData_ResultViewModel>;
    var FavoriteList = ViewBag.UserFavorite as List<long>;
    var AuctionsList = ViewBag.Auctions as List<ProductDetailViewModel>;
    var AllCategories = ViewBag.Categories as List<CategoryHomeData_ResultViewModel>;
    // var Condetionlist = ViewBag.Condetions as IEnumerable<Conditiontohome_ResultViewModel>;
    var sliders = ViewBag.Sliders as IEnumerable<SliderViewModel>;
    //  var Manufacturers = ViewBag.Manufacturers as IEnumerable<ManufacturerViewModel>;
    var NewsList = ViewBag.NewsList as List<NewsLayout>;

    var Banars = ViewBag.Banars as IEnumerable<AdvertismentBanerViewModel>;




    var Mycurrency = TempData["maincurrency"] as CurrencyViewModel;

    if (TempData["cookiecurrency"] != null)
    {
        Mycurrency = TempData["cookiecurrency"] as CurrencyViewModel;
    }

}

@section Styles{
    <style>
        .search-bar {
            position: relative !important;
            margin-top: 50px;
        }

        .product_cats_wrap .title {
            margin-top: 50px;
        }
    </style>
}
<div class="slider-wrap" id="sliderwrap">
    <div class="swiper-container search-swiperslider">
        <div class="swiper-wrapper">
            @foreach (var itm in sliders)
            {
                <div class="swiper-slide ">
                    @*<div class="slide-img bg-image" style="background-image: url('@Url.Action("Thumbnail","Home",new { filename = ("Content/uploaddata/UploadImages/Slider/"+@itm.ImageFile),width=1920,height=450 })')">*@
                    @*<div class="slide-img bg-image" style="background-image: url('@HelperTools.Thumbnail("Content/uploaddata/UploadImages/Slider/"+@itm.ImageFile+"",1920,750)')">  *@
                    <a href="@itm.Link">
                        <div class="slide-img bg-image " style="background-image: url('/Content/uploaddata/UploadImages/Slider/@itm.ImageFile')">
                            <h3>@itm.Title</h3>
                        </div>
                    </a>
                </div>
            }



        </div>
    </div>

</div>

<div class="product_cats_wrap bg-image ">
    <div class="container search-swiper">
        @*<div class="title text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
                <h2>Find  Product !</h2>
            </div>*@

        <div class="search-bar wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 offset-md-3">
                        @*<div class="title text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
                                <h2>Search about products</h2>
                            </div>*@
                        <form class="search-header" action="@Url.Action("SearchResult")">
                            <div class="search-field">

                                <input type="hidden" value="@ViewContext.RouteData.Values["id"]" name="id" id="id" />
                                <input type="text" name="q" id="q" value="@ViewBag.query" placeholder="Product title, Describtion, Category" />
                                <button type="button" class="btn-search searchajx"><i class="fa fa-search "></i></button>
                                @*<a href="#" class="btn-search searchajx"><i class="fa fa-search " ></i></a>*@
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="title text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
            <h2>Browse By Category</h2>
        </div>

        <div class="swiper-container cat-swiper wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1000ms">

            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="cat-item">
                        <a href="@Url.Action("Index", "ProductDetails", new { id = 3 })" myid="3">
                            <div class="cat-item-img">
                                <img src="/Content/FrontEnd/images/icon1.png" data-src="/Content/FrontEnd/images/icon1.png" alt="Electrical" />
                            </div>
                            <h3>Electrical</h3>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cat-item ">
                        <a href="@Url.Action("Index", "ProductDetails", new { id = 15 })" myid="15">
                            <div class="cat-item-img">
                                <img src="~/Content/FrontEnd/images/helmet.png?w=40" data-src="/Content/FrontEnd/images/helmet.png?w=40" alt="Safety" /> @*class="mw-40"*@
                            </div>
                            <h3>Safety</h3>
                        </a>
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="cat-item ">
                        <a href="@Url.Action("Index", "ProductDetails", new { id = 20 })" myid="20">
                            <div class="cat-item-img ">
                                <img src="~/Content/FrontEnd/images/factory.png?w=40" data-src="/Content/FrontEnd/images/factory.png?w=40" alt="Industrial Unit" />
                            </div>
                            <h3>Industrial Unit</h3>
                        </a>
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="cat-item ">
                        <a href="@Url.Action("Index", "ProductDetails", new { id = 83 })" myid="89">
                            <div class="cat-item-img">
                                <img src="~/Content/FrontEnd/images/excavator.png?w=40" data-src="/Content/FrontEnd/images/excavator.png?w=40" alt="Construction Equipment" />
                            </div>
                            <h3>Construction Equipment</h3>
                        </a>
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="cat-item ">
                        <a href="@Url.Action("Index", "ProductDetails", new { id = 10 })" myid="10">
                            <div class="cat-item-img">
                                <img src="/Content/FrontEnd/images/help.png?w=40" data-src="/Content/FrontEnd/images/help.png?w=40" alt="Mechanical" />
                            </div>
                            <h3>Mechanical</h3>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cat-item ">
                        <a href="@Url.Action("Index", "ProductDetails", new { id = 18 })" myid="18">
                            <div class="cat-item-img">
                                <img src="/Content/FrontEnd/images/icon5.png" data-src="/Content/FrontEnd/images/icon5.png" alt="Chemicals" />
                            </div>
                            <h3>Chemicals</h3>
                        </a>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination d-block d-lg-none"></div>
        </div>
    </div>
</div>


<div class="upcoming-auction-wrap bg-image" id="upcommingslider">
    <div class="container">
        <div class="swiper-container upcoming-auction-swiper">
            <div class="swiper-pagination"></div>

            <div class="swiper-wrapper" id="swiperauctions">


            </div>
        </div>

    </div>
</div>


@if (AuctionsList.Count() > 0)
{
    <div class="section-auction ">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="title clearfix mb35  wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">
                        <h2>Live  Auction </h2>
                        <a href="@Url.Action("auctionList", "ProductDetails")">View All</a>
                    </div>
                    <div class="row">
                        @foreach (var itm in AuctionsList)
                        {
                            <div class="col-md-4 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
                                <div class="auction-item ">
                                    @*@(Url.Action("Thumbnail", "Home", new { filename = itm.ProductInformation.ProductImg[0] }))*@
                                    @*<div class="auction-img bg-image" style="background-image: url('@(Url.Action("Thumbnail", "Home", new { filename = itm.ProductInformation.ProductImg[0] }))')">+"?w=295"*@
                                    <div class="auction-img bg-image resize_img" style="background-image: url('@(itm.ProductInformation.ProductImg[0])auction-img bg-image resize_img')">
                                        <a href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId,title=ps.haweya.win.obs.web.Controllers.HelperTools.GenerateSlug(itm.ProductInformation.ProductTitle)})">

                                            @if (itm.ProductInformation.DeadLine != null)
                                            {
                                                var deadline = Convert.ToDateTime(itm.ProductInformation.DeadLine);
                                                <time><span>@deadline.Day</span> @deadline.ToString("MMM"), @deadline.Year</time>
                                                <div class="auction-rest">

                                                    @if ((deadline - DateTime.Now).TotalMinutes > 0)
                                                    {
                                                        <span>@((deadline - DateTime.Now).Days) day</span>
                                                        <span>@((deadline - DateTime.Now).Hours) Hur</span>
                                                        <span>@((deadline - DateTime.Now).Minutes) Min</span>
                                                    }
                                                </div>
                                            }
                                        </a>
                                        <span class="auction-cat"><a href="#">@(new ps.haweya.win.obs.business.Managers.CategoryManager().GetByid(itm.ProductInformation.Category).CategoryName)</a> </span>
                                    </div>
                                    <div class="auction-info">
                                        <h3><a href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId,title=ps.haweya.win.obs.web.Controllers.HelperTools.GenerateSlug(itm.ProductInformation.ProductTitle) })">@itm.ProductInformation.ProductTitle</a> </h3>
                                        <div class="auction-meta">
                                            <ul class="list-inline">
                                                @if (itm.ProductInformation.PricingType != "Auctionable")
                                                {
                                                    <li class="list-inline-item">Bids N0: <span class="bidscount_@itm.ProductId">@itm.ProductInformation.BidCount bids</span></li>
                                                    <li class="list-inline-item">Qty: <span>@itm.ProductInformation.Quantity item</span></li>
                                                }
                                                @if (itm.ProductInformation.ShowBidAmmount == true)
                                                {
                                                    var bid = itm.ProductInformation.OBSBidDetails.OrderByDescending(x => x.AddedOn).FirstOrDefault();
                                                    if (bid != null)
                                                    {
                                                        <li class="list-inline-item">Last bid amount: <span class="lastbidprice_@itm.ProductId">@(String.Format("{0:n}", ((bid.MainCurrencyValue!=null?bid.MainCurrencyValue:bid.BidPrice) / Mycurrency.RateToRiyal ))) @(Mycurrency.Sign)</span></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="auction-footer">
                                        <span><i class="@(itm.ProductInformation.ProductLocation != "" && itm.ProductInformation.ProductLocation != null ? "svg-location" : "")"></i>@(itm.ProductInformation.ProductLocation != "" && itm.ProductInformation.ProductLocation != null ? itm.ProductInformation.ProductLocation : "")</span>
                                        @if (itm.ProductInformation.BidStartDate.Value <= DateTime.Now && (itm.ProductInformation.DeadLine >= DateTime.Now || itm.ProductInformation.DeadLine == null))
                                        {
                                            <a class="placebid" myid="@itm.ProductId" href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId ,title=ps.haweya.win.obs.web.Controllers.HelperTools.GenerateSlug(itm.ProductInformation.ProductTitle)})">Place a bid</a>
                                        }
                                        else
                                        {
                                            <label class="btn btn-warning  form-control">Comming Soon</label>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-3  wow fadeInUp " data-wow-delay="600ms" data-wow-duration="1000ms">
                    <div class="swiper-container offers-swiper">
                        <div class="swiper-pagination"></div>

                        <div class="swiper-wrapper ">
                            @if (Banars != null)
                            {
                                foreach (var itm in Banars)
                                {
                                    <div class="swiper-slide ">
                                        <div class="offer-slide">
                                            <a href="@itm.Link">
                                                <img src="~/Content/UploadData/UploadImages/banars/@itm.Photo" alt="@itm.Title" />
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                            @*<div class="swiper-slide">
                                    <div class="offer-slide">
                                        <a href="#">
                                            <img src="/Content/FrontEnd/images/offer.jpg" alt="offer" />
                                        </a>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<div class="auction-list-wrap " id="Listcontent">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 wow fadeInUp " data-wow-delay="100ms" data-wow-duration="1000ms">
                <div class="filter-sidebar">
                    <div class="d-block d-md-none filter-header mb20">
                        <button type="button" class="filterClose btn btn-warning"><i class="fa fa-window-close"></i></button>
                    </div>
                    <a class="more-cats mb20" href="@Url.Action("Index", "ProductDetails")">All Products</a>
                    <div class="filter-widget">
                        <div class="widget-head">
                            <h3 class="text-uppercase">
                                <i class="fa fa-bars"></i>
                                Filter by Categories
                            </h3>
                        </div>
                        <div class="widget-cats entry-widget">
                            <ul class="list-unstyled  m-0 categorylist ">
                                @if (AllCategories.Count() > 0)
                                {
                                    @BuildTree(AllCategories, AllCategories.OrderBy(x => x.CategoryName).Where(t => t.ParentId == null).ToList(), 0)
                                }
                            </ul>
                            <a class="more-cats" href="#">All Categories</a>
                        </div>
                    </div>

                    <div class="filter-widget ">
                        <div class="widget-head">
                            <h3 class="text-uppercase">
                                <i class="fa fa-bars"></i>
                                Filter by  <a href="@Url.Action("Manufactuer", "Home", new { area = "" })" title="View All">Manufacturer</a>
                            </h3>
                        </div>
                        <div class="filter-inner entry-widget h-250" id="Manufacturersection">
                            <div class="search-brand">
                                <form action="">
                                    <div class="input-field">
                                        <input type="text" class="form-control" placeholder="Manufacturer " aria-label="" id="serchmanufactuertxt" aria-describedby="basic-addon1">
                                        <button type="submit" id="serchmanufactuerbtn"><i class="fa fa-search"></i> </button>
                                    </div>
                                </form>
                            </div>
                            <div id="ManufacturerFilter">

                                @*@foreach (var itm in list)
                                    {
                                        <div class="custom-control custom-checkbox ">
                                            <input type="checkbox" class="custom-control-input" id="check_@(itm.ManufacturersId)" name="check_@(itm.ManufacturersId)">
                                            <label class="custom-control-label" for="check_@(itm.ManufacturersId)">@itm.ManufacturersName <small>(@itm.ProductCount)</small></label>
                                        </div>

                                    }*@
                            </div>


                        </div>
                    </div>


                    @*<div class="form-group mb-2">

                        </div>*@
                    <div class="filter-widget ">
                        <div class="widget-head">
                            <h3 class="text-uppercase">
                                <i class="fa fa-bars"></i>
                                Filter by  Condition
                            </h3>
                        </div>
                        <div class="filter-inner entry-widget h-250  ">

                            <div id="condtionlistselect">

                                <div class="custom-control custom-checkbox ">
                                    <input type="radio" class="custom-control-input" id="check_AllCondition" name="check_AllCondition" value="All">
                                    <label class="custom-control-label" for="check_AllCondition">All </label>
                                </div>
                                <div class="custom-control custom-checkbox ">
                                    <input type="radio" class="custom-control-input" id="check_NewCondition" name="check_AllCondition" value="New">
                                    <label class="custom-control-label" for="check_NewCondition">New </label>
                                </div>
                                <div class="custom-control custom-checkbox ">
                                    <input type="radio" class="custom-control-input" id="check_GoodCondition" name="check_AllCondition" value="Good">
                                    <label class="custom-control-label" for="check_GoodCondition">Good </label>
                                </div>
                                <div class="custom-control custom-checkbox ">
                                    <input type="radio" class="custom-control-input" id="check_UsedCondition" name="check_AllCondition" value="Used">
                                    <label class="custom-control-label" for="check_UsedCondition">Used </label>
                                </div>


                            </div>
                        </div>
                        @*<select class="selectpicker form-control" id="condtionlistselect" title="Filter by Condition">
                                <option value="">All</option>
                                <option value="New">New</option>
                                <option value="Good">Good</option>
                            </select>*@
                        @*@foreach (var itm in Condetionlist)
                            {*@
                        @*<div class="widget-head">
                                <h3 class="text-uppercase">
                                    <i class="fa fa-bars"></i>
                                    Filter by Condition
                                </h3>
                            </div>
                            <div class="filter-inner entry-widget h-250">
                                <div id="condtionlistdiv">


                                    <div class="custom-control custom-checkbox ">
                                        <input type="checkbox" class="custom-control-input" id="check_New" name="check_New">
                                        <label class="custom-control-label" for="check_New"> New </label>
                                    </div>
                                    <div class="custom-control custom-checkbox ">
                                        <input type="checkbox" class="custom-control-input" id="check_Good" name="check_Good">
                                        <label class="custom-control-label" for="check_Good"> Good </label>
                                    </div>


                                </div>


                            </div>*@ @*  }*@
                        </div>
                        <div class="filter-widget filter-price">
                            <div class="widget-head">
                                <h3 class="text-uppercase">
                                    <i class="fa fa-bars"></i>
                                    Price range:
                                </h3>
                            </div>
                            <div class="price-slider entry-widget">
                                <div data-role="main" class="ui-content">
                                    @*<p>Price range:</p>*@
                                    <div id="slider-range" class="mb20"></div>
                                    <form method="post" action="">
                                        <label>Price: </label>
                                        <input type="text" id="amount" readonly>
                                        <button type="submit" id="filterbtn" class="btn-filter">Filter</button>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms">
                    <div class="filter-bar">
                        <div class=" form-inline mb20">
                            <div class="form-group mb-2 d-block d-md-none">
                                <button type="button" class="filterBtn btn btn-warning"><i class="fa fa-bars"></i> Filter</button>
                            </div>
                            @*<div class="form-group mb-2 hidden">
                                    <select class="selectpicker filterselect" id="filterselect" title=" Filter By Categories">
                                        <option> All Categories</option>
                                        @foreach (var itm in ViewBag.Categories as List<OBSProductCategoryViewModel>)
                                        {
                                            <option value="@itm.CategoryId"> @itm.CategoryName</option>
                                        }


                                    </select>
                                </div>*@
                            <div class="form-group mb-2">
                                <select class="selectpicker sorting" id="sorting" title="Sort By">

                                    <option value="1">Price low to high</option>
                                    <option value="2">Price high to low</option>
                                </select>
                            </div>
                            <div class="form-group mb-2">
                                <select class="selectpicker Viewcount" id="Viewcount" title="Display">
                                    <option value="9">9 Items</option>
                                    <option value="20">20 Items</option>
                                    <option value="40">40 Items</option>
                                    <option value="100">100 Items</option>
                                </select>
                            </div>
                            <div class="form-group mb-2">
                                <div class="custom-control custom-checkbox ">
                                    <input type="checkbox" class="custom-control-input checkesfilter" id="DirectCheck" name="DirectCheck" />
                                    <label class="custom-control-label" for="DirectCheck">Direct Purchase</label>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <div class="custom-control custom-checkbox ">
                                    <input type="checkbox" class="custom-control-input checkesfilter" id="AuctionCheck" name="AuctionCheck" />
                                    <label class="custom-control-label" for="AuctionCheck">Auction</label>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="auction-list" id="auction-list">
                        <div class="row" id="Productslist">




                        </div>

                    </div>

                    <div class="Pager pagination"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="map-wrap ">
        <style>
            .map-wrap {
                height: 800px;
            }

            #map {
                height: 800px;
                width: 100%
            }
        </style>
        <div id="map">
            @*<div id="gmap"></div>
                <div id="controls"></div>*@
        </div>

    </div>

    <div class="clients-wrap wow fadeInUp " data-wow-delay="100ms" data-wow-duration="1000ms">
        <div class="container">
            <div class="title mb35">
                <h2><a href="@Url.Action("Manufactuer", "Home", new { area = "" })">Manufacturers</a></h2>
                <div class="title-sep-container"><div class="title-sep sep-double"></div></div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="swiper-container client-swiper">
                <div class="swiper-wrapper" id="ManufacturersSwiper">

                    @*@foreach (var itm in Manufacturers)
                        {
                        <div class="swiper-slide">
                            <div class="client-slide">
                                <a href="#">
                                    <img src="~/Content/UploadData/UploadImages/Manufacturer/@itm.ImageFile" alt="@itm.Title" />
                                </a>
                            </div>
                        </div>

                        }*@
                </div>
            </div>

        </div>
    </div>

    @if (NewsList.Count() > 0)
    {
        <div class="gray-section pt60 pb30">
            <div class="container">
                <h2 class="text-center mb50">Latest News</h2>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row">
                            @foreach (var itm in NewsList)
                            {
                                <div class="col-md-4 mb30">
                                    <div class="news-item">
                                        <time>@(itm.AddOn != null ? Convert.ToDateTime(itm.AddOn).ToString("dd MMM yyy") : "")</time>
                                        <h3><a href="@Url.Action("NewsDetails","Home", new { id = itm.Id })">@itm.Title</a> </h3>
                                        <div class="clearfix h-45"> @Html.Raw(itm.Brief)</div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @helper BuildTree(List<CategoryHomeData_ResultViewModel> AllCategories, List<CategoryHomeData_ResultViewModel> categories, int level = 0)
    {
        foreach (var item in categories)
        {
            <li>
                <a href="@Url.Action("Index", "Home", new { id = item.CategoryId, q = ViewBag.query })"
                   class="searchcategory level@(level)"
                   myid="@item.CategoryId">
                    <span>
                        <img src="/Content/FrontEnd/images/@item.Image" alt="@item.CategoryName" /> @item.CategoryName <small>(@item.ProductCount)</small>
                    </span>
                    @if (AllCategories.Where(t => t.ParentId == item.CategoryId).Count() > 0)
                    {
                        <span class="cat-arrow">
                            <i class="fa fa-angle-down"></i>
                        </span>
                    }
                </a>

                @if (AllCategories.Where(t => t.ParentId == item.CategoryId).Count() > 0)
                {
                    <ul class="list-unstyled m-0 child-list">
                        @BuildTree(AllCategories, AllCategories.Where(t => t.ParentId == item.CategoryId).ToList(), level + 1)
                    </ul>
                }
            </li>
        }
    }

    @section Scripts{
        <script src="~/Content/FrontEnd/js/ASPSnippets_Pager.min.js" type="text/javascript"></script>

        <script src="~/Content/plugins/jquery.countdown.plugin.min.js"></script>
        <script src="~/Content/plugins/jquery.countdown.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8KE5GHnuuuVbgAw5DT-zdWMe6bU5EH3Y" type="text/javascript"></script>
        <script>


            function ThousandSeparate(val) {
    while (/(\d+)(\d{3})/.test(val.toString())){
      val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
    }
    return val;
}

//             function formatNumber(num) {
//    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '1,')
//}

        (function ($) {

            var expandChildTree = function () {
                $(document).on('click', '.cat-arrow', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $(this).parent().next().slideToggle();
                });
            };

            jQuery(document).ready(function () {

                expandChildTree();
                loadcomingslider();
                binalldata(1, true);
                bindbrandsmanufactuer();

                ManufacturersSwiperajax();
                initMap();

             //  FetchImages();


                // $('.countdown').each(function(){
                //    var $this = $(this),
                //        endDate = $this.data(),
                //        until = new Date(
                //            endDate.year,
                //            endDate.month || 0,
                //            endDate.day || 1,
                //            endDate.hours || 0,
                //            endDate.minutes || 0,
                //            endDate.seconds || 0
                //        );
                //    // initialize
                //    $this.countdown({
                //        until : until,
                //        format : 'dHMS',
                //        labels : ['Year', 'Month', 'Week', 'Day', 'Hour', 'Minute', 'Second']
                //    });
                //});
        //Listcontent

            });
                     $( "#slider-range" ).slider({
                range: true,
                min: @(ViewBag.MinPrice!=null?ViewBag.MinPrice/Mycurrency.RateToRiyal:500),
                max: @(ViewBag.MaxPrice!=null?ViewBag.MaxPrice/Mycurrency.RateToRiyal:500),
                values: [ @(ViewBag.MinPrice!=null?ViewBag.MinPrice/Mycurrency.RateToRiyal:"0"), @(ViewBag.MaxPrice!=null?ViewBag.MaxPrice/Mycurrency.RateToRiyal:"0") ],
                slide: function( event, ui ) {
                    $( "#amount" ).val( "@Mycurrency.Sign" + ThousandSeparate(ui.values[ 0 ]) + " - @Mycurrency.Sign " + ThousandSeparate(ui.values[ 1 ]) );
                }
            });
            $( "#amount" ).val( "@Mycurrency.Sign " +ThousandSeparate($( "#slider-range" ).slider( "values", 0 )) +
                " - @Mycurrency.Sign " + ThousandSeparate($("#slider-range").slider("values", 1)));

            $('#q').autocomplete({
                minLength: 1,
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetSearchProducts","Home")',
                        method: 'post',
                        data: { SearshTest: $("#q").val() },
                        dataType: 'json',
                        success: function (data) {

                                response(data);

                        },
                        error: function (err) {
                            alert(err);
                        }
                    });
                },
                focus: updateTextBox,
                select: updateTextBox
            })
                .autocomplete('instance')._renderItem = function (ul, item) {
                    if (item.ProductId != -1) {

                        return $("<li class='autocomplete_li'>")
                            .append("<a href='@Url.Action("Details", "ProductDetails")/" + item.ProductId + "/" + item.ProductTitle.replace(/[^a-zA-Z0-9-_]/g, '') + "'><img class='Autocompleteimg' src='" + item.ProductImage + "' alt=" + item.ProductTitle + "/><span>" + item.ProductTitle + "</span></a>")

                            .appendTo(ul);
                    }
                    else {

                        return $("<li class='autocomplete_li' style='text-align: center;'>")
                            .append("<span style='text-align:center;cursor:default;width:100%'> Did not find what you are looking for , click here  <a style='width:auto!important' href='#' class='emaild_product_link' >feedback</a> </span>")

                        .appendTo(ul);
                    }


                };
             function updateTextBox(event, ui) {
                $(this).val(ui.item.Name);
                return false;
            }
        })(jQuery);


            $(document).ready(function () {


                $(".Pager").ASPSnippets_Pager({
                ActiveCssClass: "current",
                PagerCssClass: "pager",
                PageIndex:1,
                PageSize: 9,
                    RecordCount: @(ViewBag.productcount??0)
            });

                //google.maps.event.addDomListener(window, 'load', initMap);

          })

        $(document).on('click', '.Viewcount', function () {

               binalldata(1);

          })
          $(document).on('click', '.sorting', function () {
               binalldata(1);

        })


        $(document).on('click', '.Notifybtn', function () {
            var id = $(this).attr("AUCTIONID");
            //$.blockUI({  message: '<h5> Processing ... <img src="/Content/FrontEnd/images/loader.gif" /></h5>', css:{color:'#5480c1',border:'none',"padding-top":'10px',width:'20%',left:'40%'} });
            $('div.upcoming-auction-wrap').block({    message: '<h5> Processing ... <img src="/Content/FrontEnd/images/loader.gif" /></h5>', css:{backgroundColor:'transparent' ,color:'#cbd9f6',border:'none',"padding-top":'10px',width:'20%',left:'40%'} });
            $.get("@Url.Action("notifyUser")?id=" + id, function (result) {
                //$.unblockUI();
               $('div.upcoming-auction-wrap').unblock();
                ShowMessage(result.msg);

            }); return false;
        });

        $(document).on('click', '.searchcategory', function (e) {



            e.preventDefault();
            e.stopPropagation();
            $("#sorting").val(2);
            var id = $(this).attr("myid");
            $("#id").val(id);
            $("#q").val("");
            binalldata();

            $('.searchcategory').removeClass('active');

            $(this).toggleClass('active');
        })

        $(document).on('change', '.filterselect', function () {
               $("#q").val("");
                  var id = $(this).val();
 $("#id").val(id);
            //location.href = "";
               binalldata();
                    return false;
        })

        $(document).on('click', '.checkesfilter', function () {

               binalldata(1);

        })

        $(document).on('click', '#serchmanufactuerbtn', function () {
                    bindbrandsmanufactuer();
                    return false;
        })
         $(document).on('click', '#filterbtn', function () {
             binalldata(1);
                    return false;
        })

        function bindbrandsmanufactuer() {
            $("#ManufacturerFilter").empty();
            $("#ManufacturerFilter").append("<div class='col-md-12' style='text-align:center'><img src='../../Content/FrontEnd/images/loader.gif' /></div>");

            $.get("@Url.Action("GetManufacturersListHomeajax")?manufactuertxt=" + $("#serchmanufactuertxt").val(), function (result) {

                var divcontent = "";

                $.each(result, function (i, itm) {
                    divcontent += "<div class='custom-control custom-checkbox'><input type='checkbox' class='custom-control-input' id='check_" + itm.ManufacturersId + "' name='check_" + itm.ManufacturersId + "'><label class='custom-control-label' for='check_" + itm.ManufacturersId + "'>" + itm.ManufacturersName + " <small>(" + itm.ProductCount + ")</small></label></div>";

                });

                $("#ManufacturerFilter").empty();
                $("#ManufacturerFilter").append(divcontent);

            });
        }
        $("body").on("click", ".Pager .page", function () {

            $(this).block({message:'<img src="/Content/FrontEnd/images/loading.gif" height="40" />',css:{backgroundColor:'none',color:'#007bff',border:'none',"padding-top":'0px',"margin-top":'-5px',width:'100%',left:'0',}});
            binalldata(parseInt($(this).attr('page')));
            $(this).unblock();
        });
        function binalldata(pageIndex,firstload=false) {


                var allVal = '';
            $("#ManufacturerFilter  div> input").each(function () {

                var type = $(this).prop("type");
                if (type == "checkbox") {
                    if ($(this).prop("checked")) {
                       var cbxname= $(this).attr('name');
                        allVal += cbxname+ ',';
                    }
                }
            });



            var allcondetionVal = "";

            if ($('#check_NewCondition').prop("checked")) {

                allcondetionVal = $("input[name='check_AllCondition']:checked").val();


            }
               if ($('#check_GoodCondition').prop("checked")) {

                   allcondetionVal = $("input[name='check_AllCondition']:checked").val();

            }
            //$("#condtionlistdiv  div> input").each(function () {

            //    var type = $(this).prop("type");
            //    if (type == "checkbox") {
            //        if ($(this).prop("checked")) {
            //           var cbxname= $(this).attr('name');
            //            allcondetionVal += cbxname+ ',';
            //        }
            //    }
            //});


            var amount = $("#amount").val();

            $("#auction-list").block({ message: '<img src="/Content/FrontEnd/images/loading.gif" height="100" />', overlayCSS: { opacity:0 },css:{backgroundColor:'rgb(255, 255, 255,0.7)',color:'#007bff',border:'none',"padding-top":'0px',"margin-top":'-5px',width:'100%',left:'0',top:'100px!important',height:'100%'}});

            if (firstload == false) {
                $('html, body').animate({
                    scrollTop: $("#Listcontent").offset().top
                }, 1000);
            }

           // $("#Productslist").empty(); $("#Productslist").append("<div class='col-md-12' style='text-align:center'><img src='../../Content/FrontEnd/images/loader.gif' /></div>");
            $.ajax({
                url: "@Url.Action("ProductListAjax")?id=" + $("#id").val() + "&q=" + $("#q").val() + "&DirectCheck=" + $("#DirectCheck").prop("checked") + "&AuctionCheck=" + $("#AuctionCheck").prop("checked") + "&allVal=" + allVal + "&amount=" + amount + "&sorting=" + $("#sorting").val() + "&Viewcount=" + $("#Viewcount").val() + "&condetion=" + allcondetionVal + "&page=" + pageIndex + "&currencysign=@Mycurrency.Sign&currencyrate=@Mycurrency.RateToRiyal",
                success: function (result) {
                    //$.get("", function (result) {

                    console.log(result);
                    var divcontent = "";
                    var count = 0;
                    $.each(result.items, function (i, item) {
                        count++;
                        var itmcontent = "";
                        var itmcontent = "<div class='col-lg-4 col-md-6'><div class='auction-item'><div class='auction-img bg-image img-loading'   data-img='" + encodeURI(item.ProductImage) + "?w=360' style='background-image: url(" + encodeURI(item.ProductImage) + "?w=360)'>" +
                            "<a href='@Url.Action("Details", "ProductDetails")/" + item.ProductId + "/" + item.ProductTitle.replace(/[^a-zA-Z0-9-_]/g, '') + "'></a> <div class='overlay'> </div></div><div class='entry-auction'>" +
                            "<div class='auction-info'>" +
                            "<span class='auction-cat'><a href='#'>" + item.CategoryName + "</a> </span>" +
                            "<h3  ><a href='@Url.Action("Details", "ProductDetails")/" + item.ProductId + "/" + item.ProductTitle.replace(/[^a-zA-Z0-9-_]/g, '') + "'>" + item.ProductTitle + "</a> </h3>" +
                            "<div class='auction-meta'> <ul class='list-inline'> ";

                        if (item.PricingType != "Auctionable") {
                            itmcontent += "<li class='list-inline-item'" + (item.bidscount == "" ? "style='display:none'" : "") + "> " + item.PurchaseTimes + "<span class='bidscount_" + item.ProductId + "'> " + item.bidscount + " " + item.Plabel + "</span></li>" +
                                "<li class='list-inline-item'>Qty: <span>" + item.AvailableQuantity + " item</span></li>";
                        }
                        if (item.ShowBidAmmount) {
                            itmcontent += " <li class='list-inline-item'>" + item.PriceLabel + ": <span class='lastbidprice_" + item.ProductId + "'>" + formatNumber(item.TotalPrice / @Mycurrency.RateToRiyal) + " @(Mycurrency.Sign)</span></li>";
                        }
                        itmcontent += "</ul> </div> </div>" +
                            "<div class='auction-footer'>" +
                            "<span><i class='" + (item.ProductLocation != '' ? 'svg-location' : '') + " '></i>" + item.ProductLocation + "</span>" +
                            "<a href='#'  myid='" + item.ProductId + "' class='favitm'> " + (jQuery.inArray(item.ProductId, result.UserFavorite) !== -1 ? "<i class='fas fa-heart'></i>" : "<i class='far fa-heart'></i>") + " </a>";
                        if (item.PricingType != "Auctionable") {
                            if (item.AvailableQuantity <= 0) {
                                itmcontent += " <label class='lbl'>Sold Out</label> ";
                            }
                            else {

                                if (item.IsBidSold) {
                                    if (item.SoldBidPrice != 0)
                                        itmcontent += "<label class='lbl'>Sold At : " + formatNumber(item.SoldBidPrice / @Mycurrency.RateToRiyal) + " @Mycurrency.Sign</label>";
                                    else
                                        itmcontent += "<label class='lbl'>Sold </label>";
                                }
                                else {
                                    itmcontent += "<a class='" + (item.bidscount != '' ? 'placebid' : 'submitcart') + "'  href='@Url.Action("Details", "ProductDetails")?id=" + item.ProductId + "'  data-id='" + item.ProductId + "'   data-baseprice='" + item.TotalPrice + "' myid='" + item.ProductId + "'>" + item.Purchasebtn + "</a>";
                                }
                            }
                        }
                        else {
                            if (item.BidStartDate != null && moment(item.BidStartDate) <= moment(new Date()) && (item.DeadLine == null || moment(item.DeadLine) >= moment(new Date()))) {

                                if (item.IsBidSold) {
                                    if (item.SoldBidPrice != 0)
                                        itmcontent += "<label class='lbl'>Sold At : " + formatNumber(item.SoldBidPrice / @Mycurrency.RateToRiyal) + " @Mycurrency.Sign</label>";
                                    else
                                        itmcontent += "<label class='lbl'>Sold </label>";
                                }
                                else {
                                    itmcontent += "<a class='" + (item.bidscount != '' ? 'placebid' : 'submitcart') + "'  href='@Url.Action("Details", "ProductDetails")?id=" + item.ProductId + "' myid=" + item.ProductId + ">" + item.Purchasebtn + "</a>";
                                }
                            }
                            else {
                                if (item.BidStartDate != null && moment(item.BidStartDate) > new Date()) {
                                    itmcontent += "<label class='lbl'>Comming Soon</label>";
                                }
                                else {
                                    if (item.IsBidSold) {
                                        if (item.SoldBidPrice != 0)
                                            itmcontent += "<label class='lbl'>Sold At : " + formatNumber(item.SoldBidPrice / @Mycurrency.RateToRiyal) + " @Mycurrency.Sign</label>";
                                        else
                                            itmcontent += "<label class='lbl'>Sold </label>";
                                    }
                                    else {
                                        itmcontent += "<label class='lbl'>Closed</label>";
                                    }
                                }


                            }

                        }
                        itmcontent += "</div></div></div></div>";
                        divcontent += itmcontent;



                    });


                    if (count == 0) {

                        $("#Productslist").empty();
                        $("#Productslist").append("<div class='col-md-12'> <div class='alert alert-warning'> Did not find what you are looking for , click here  <a style='width:auto!important' href='#' class='emaild_product_link'>feedback</a> </span> </div></div>");
                    }
                    else {


                        $("#Productslist").empty();
                        $("#Productslist").append(divcontent);
                    }


                    $("#auction-list").unblock();
                    $(".Pager").ASPSnippets_Pager({
                        ActiveCssClass: "current",
                        PagerCssClass: "pager",
                        PageIndex: result.pagemodel.PageIndex,
                        PageSize: result.pagemodel.PageSize,
                        RecordCount: result.pagemodel.RecordsCount
                    });
                    FetchImages();




                }
            });

        }
        function FetchImages() {

    $('.img-loading').each(function () {
        var url = $(this).attr('data-img');

        var current = $(this);

        $.get(url, function () {

                    current.css('background-image', 'url('+url+')');
                    current.removeClass('img-loading');
        });

    });
}


            function ManufacturersSwiperajax() {

                $.get("@Url.Action("GetManufacturers")", function (result) {
                    var divcontent = "";
                    $.each(result, function (i, item) {

                        var itmcontent = "";
                        var itmcontent = "<div class='swiper-slide'>" +
                            "<div class='client-slide'>" +
                            "<a href='#'>" +
                            "<img src='/Content/UploadData/UploadImages/Manufacturer/" + item.ImageFile + "' alt='" + item.Title + "' />" +
                            "</a>" +
                            "</div>" +
                            "</div>";

                        divcontent += itmcontent;



                    });


                    $("#ManufacturersSwiper").empty();
                    $("#ManufacturersSwiper").append(divcontent);
                    new Swiper('.client-swiper', {
                                slidesPerView: 5,
                                spaceBetween: 30,
                                // init: false,
                                pagination: {
                                    el: '.swiper-pagination',
                                    clickable: true,
                                },
                                breakpoints: {
                                    1024: {
                                        slidesPerView: 4,
                                    },
                                    768: {
                                        slidesPerView: 3,
                                    },
                                    640: {
                                        slidesPerView: 2,
                                        spaceBetween: 20,
                                    },
                                    320: {
                                        slidesPerView: 1,
                                    }
                                }

                            });
                });
            }
            function loadcomingslider() {


                $.get("@Url.Action("GetUpcomingSlider")", function (result) {
                console.log(result);
                var divcontent = "";
                var count = 0;
                $.each(result.items, function (i, item) {
                    count++;
                    var itmcontent = "";
                    var itmcontent = "<div class='swiper-slide'>" +
                        "<div class='row'>" +
                        "<div class='col-lg-6'>" +
                        "<h2 class='upcoming-title text-uppercase'>Upcoming Auction</h2>" +
                        "<div class='upcoming-item'>" +
                        "<h3>" + item.ProductTitle + "</h3>" +
                        "<p>" + item.Description + "</p>" +
                        "<ul class='auction-ul list-inline'>" +
                        "<li class='list-inline-item'><i class='svg-calendar'></i> Start date:" + item.datetext + "</li>" +
                        "<li class='list-inline-item'><i class='svg-clock'></i> Start on:" + item.timetext + " <span>KSA time</span></li>" +
                        "</ul>" +
                        "</div>" +
                        "</div>" +
                        "<div class='col-lg-6'>" +
                        "<div class='countdown-wrap'>" +
                        "<div class='countdown' data-year='" + item.Year + "' data-month='" + item.Month + "' data-day='" + item.Day + "' data-hours='" + item.Hour + "' data-minutes='" + item.Minute + "' data-seconds='" + item.Second + "'></div>" +

                        "</div>" +

                        "<div class='text-center text-uppercase'>" +
                        "<a class='btn btn-primary notify-btn Notifybtn' AUCTIONID='" + item.ProductId + "' href='#'>Notify me</a>"+


                        "<a class='btn btn-primary notify-btn' style='@(User.Identity.IsAuthenticated==true?"display:none":"")' href='@Url.Action("Login","Home")'>Login to Bid</a>"+

                          "<a class='btn btn-primary notify-btn' href='@Url.Action("Details","ProductDetails")/"+item.ProductId+"/"+item.ProductTitle+"'>Auction Details</a>"+

                            "</div>" +
                            "</div>" +
                            "</div>" +
                            "</div>";


                    divcontent += itmcontent;



                });


                if (count == 0) {

                    $("#upcommingslider").hide();

                }
                else {


                   $("#swiperauctions").empty();
                    $("#swiperauctions").append(divcontent);
                     new Swiper('.upcoming-auction-swiper', {
        centeredSlides: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },

    });
                         $('.countdown').each(function(){
                    var $this = $(this),
                        endDate = $this.data(),
                        until = new Date(
                            endDate.year,
                            endDate.month || 0,
                            endDate.day || 1,
                            endDate.hours || 0,
                            endDate.minutes || 0,
                            endDate.seconds || 0
                        );
                    // initialize
                    $this.countdown({
                        until : until,
                        format : 'dHMS',
                        labels : ['Year', 'Month', 'Week', 'Day', 'Hour', 'Minute', 'Second']
                    });
                });
                    }

            });

            }
            function initMap() {



                 @*$.ajax({
                    url: '@Url.Action("GetHomeMap")',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {

                    }
                });*@
                // Map options
                var options = {
                    zoom: 6,
                    center: { lat: 24.713552, lng: 46.675296 }
                }

                // New map
                var map = new google.maps.Map(document.getElementById('map'), options);


                var markers = [];
                //$.ajax({
                //    url: '/Content/DocFiles/Mapitemsjson.json',
                //    dataType: 'json',
                //    type: 'GET',
                //    success: function (data) {
                //        //'WIN', 27.128458, 49.568676,'/content/frontend/images/companymarker.png'

                //        $.each(data, function (i, item) {
                //            markers.push({ coords: { lat: item.lat, lng: item.lon }, iconImage: item.icon, content: item.html, title: item.title });
                //            addMarker({ coords: { lat: item.lat, lng: item.lon }, iconImage: item.icon, content: item.html, title: item.title });
                //        });

                //    }
                //});
                // Array of markers




                // Add Marker Function

                markers.push({ coords: { lat: 27.128458, lng: 49.568676 }, iconImage: '/content/frontend/images/companymarker.png', content: '<b>Chamber of Commerce Building, <br/>6th Floor, <br/>Jubail Industrial City Saudi Arabia</b>', title: 'Warehouse Integration Company' });

                addMarker({ coords: { lat: 27.128458, lng: 49.568676 }, iconImage: '/content/frontend/images/companymarker.png', content: '<strong><a href="#">  <img src="/content/frontend/images/Logoicon.png" /><br/>  Warehouse Integration Company</a></strong> <br/><br/>Chamber of Commerce Building, <br/>6th Floor, <br/>Jubail Industrial City Saudi Arabia', title: 'Warehouse Integration Company' });

                var activeInfoWindow;
                function addMarker(props) {

                    console.log(props);
                    var marker = new google.maps.Marker({
                        position: props.coords,
                        map: map,
                        title: props.title,
                        text: props.title,
                        //icon:props.iconImage
                    });

                    // Check for customicon
                    if (props.iconImage) {
                        // Set icon image
                        marker.setIcon(props.iconImage);
                    }

                    // Check content
                    if (props.content) {

                        var infoWindow = new google.maps.InfoWindow({
                            content: props.content
                        });

                        marker.addListener('click', function () {
                            if (activeInfoWindow) {
                                activeInfoWindow.close();
                            }

                            infoWindow.open(map, marker);
                            activeInfoWindow = infoWindow;
                        });
                    }
                }

            }
            function myUtils() {

}

                      myUtils.prototype ={
    constructor: myUtils,
    isElementInView: function (element, fullyInView) {
        var pageTop = $(window).scrollTop();
        var pageBottom = pageTop + $(window).height();
        var elementTop = $(element).offset().top;
        var elementBottom = elementTop + $(element).height();

        if (fullyInView === true) {
            return ((pageTop < elementTop) && (pageBottom > elementBottom));
        } else {
            return ((elementTop <= pageBottom) && (elementBottom >= pageTop));
        }
    }
};
            //var counter = 0;
            //var counterComming = 0;
            //var productcounter = 0;
            //var manufacturelistcounter = 0;
            //var counterslider = 0;

            //$(window).scroll(function () {


            //    var Utils = new myUtils();


                //var isElementInViewsliderwrap = Utils.isElementInView($('#sliderwrap'), false);

                //if (isElementInViewsliderwrap) {
                //    counterslider++;
                //    if (counterslider == 1) {


                //    }


                //}





//});


        </script>
       

    }
