﻿
@model LoginViewModel
@using ps.haweya.win.obs.web.Utils
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@section  styles{
    <style>

       

        .google_signin {
            background-image: url('/Content/FrontEnd/images/btn_google_signin_light_normal_web.png');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            width: 190px;
            height: 40px;
            padding: 20px 95px;
            margin: 10px 0px;
        }

            .google_signin:hover {
                background-image: url('/Content/FrontEnd/images/btn_google_signin_light_pressed_web.png');
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }

        .Linkedin_signin {
            background-image: url('/Content/FrontEnd/images/Sign-in-Large---Default.png');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            width: 190px;
            height: 40px;
            padding: 20px 95px;
            margin: 10px 0px;
        }

            .Linkedin_signin:hover {
                background-image: url('/Content/FrontEnd/images/Sign-in-Large---Hover.png');
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }

        .signin_container {
            padding-top: 25px;
            text-align: center;
        }
    </style>
}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Sign in</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sign in</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="account-reg ">
            <div class="row m-0">
                @*<div class="col-md-5 offset-md-1 reg-blue">
                        <div class="text-center">
                            <div class="reg-icon mb40">
                                <img src="~/Content/FrontEnd/images/userplus.png" alt="" />
                            </div>
                            <h3>User Sign in</h3>

                        </div>
                    </div>*@
                <div class="col-md-5  reg-form" style="margin-left:auto;margin-right:auto">
                    @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <i class="fa fa-envelope-open"></i>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email" })
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock-open"></i>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter your pasword" })

                        </div>

                        <div class="form-action text-center">
                            <div class="form-group text-left">
                                <a href="@Url.Action("ForgotPassword","Account")">Forget Password ?</a>
                            </div>

                            <button type="submit" class="btn btn-warning rounded ">
                                Sign in
                            </button><br />

                            
                            <div class="form-group text-center">
                                <hr />
                                External Log in
                                <div class="col-md-12 signin_container" >

                                    <div class="col-md-6 col-sm-6" style="float:left">

                                        <input type="radio" name="type" id="radiobuyer" value="Buyer" checked />
                                        <label for="radiobuyer">login as buyer</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6" style="float:left">
                                        <input type="radio" name="type" id="radioSeller" value="Seller" />
                                        <label for="radioSeller">login as seller</label>
                                        </div>
                                    </div>
                                <div class="clearfix"></div>
                                        <div class="col-md-12 signin_container" id="buyerexternal">

                                            <div class="col-md-6 col-sm-6" style="margin-bottom:30px;float:left">

                                                <a href="@Url.Action("LoginUsingGoogle","Account",new {type="Buyer" })" class="google_signin" id="google_signin"></a>
                                            </div>
                                            <div class="col-md-6 col-sm-6" style="float:left">
                                                <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=@AppConfig.Get("Linkedin.ClientID")&redirect_uri=@AppConfig.Get("Linkedin.RedirectUrl")&state=987654321_Buyer&scope=r_emailaddress%20r_liteprofile" class="Linkedin_signin" id="Linkedin_signin"></a>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12 signin_container" id="sellerexternal" style="display:none">

                                            <div class="col-md-6 col-sm-6" style="margin-bottom:30px;float:left">

                                                <a href="@Url.Action("LoginUsingGoogle","Account",new {type="Seller" })" class="google_signin" id="google_signin"></a>
                                            </div>
                                            <div class="col-md-6 col-sm-6" style="float:left">
                                                <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=@AppConfig.Get("Linkedin.ClientID")&redirect_uri=@AppConfig.Get("Linkedin.RedirectUrl")&state=987654321_Seller&scope=r_emailaddress%20r_liteprofile" class="Linkedin_signin" id="Linkedin_signin"></a>
                                            </div>
                                        </div>
                                    </div>
                            <div class="clearfix"></div>
                            <div class="form-group text-center">
                                <hr />
                                <a href="@Url.Action("Register","Account",new {id="seller" })">Become Seller </a> | <a href="@Url.Action("Register","Account",new {id="buyer" })">Become Buyer </a>
                            </div>
                                    @*<a href="@Url.Action("LoginAdmin")" class="btn btn-outline-warning rounded ">
            go to admin
        </a>*@
                                </div>

                                }
                            </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script>
        $(document).ready(function () {
            
            $("input[name='type']").change(function () {
                selected_value = $("input[name='type']:checked").val();

                if (selected_value == "Buyer") {
                    
                    $("#sellerexternal").hide();
                    $("#buyerexternal").show();
                }
                else {
                    
                    $("#buyerexternal").hide();
                    $("#sellerexternal").show();
                     }
          
            });

        })
    </script>
}