﻿

@model IEnumerable<ManufacturersHomeData_ResultViewModel>
@{
    ViewBag.Title = "Manufactuer";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";

    char[] alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();
}


<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Manufacturer</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Manufacturer</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="all_landing_pages">



            <div class="landing_page_alphabet">
                <ul class="alphabet_list">
                    <li class="alphabet_item"><a href="#Numbers" class="">#</a></li>
                    <li class="alphabet_item"><a href="#A" class="">A</a></li>
                    <li class="alphabet_item"><a href="#B" class="">B</a></li>
                    <li class="alphabet_item"><a href="#C" class="">C</a></li>
                    <li class="alphabet_item"><a href="#D" class="">D</a></li>
                    <li class="alphabet_item"><a href="#E" class="">E</a></li>
                    <li class="alphabet_item"><a href="#F" class="">F</a></li>
                    <li class="alphabet_item"><a href="#G" class="">G</a></li>
                    <li class="alphabet_item"><a href="#H" class="">H</a></li>
                    <li class="alphabet_item"><a href="#I" class="">I</a></li>
                    <li class="alphabet_item"><a href="#J" class="">J</a></li>
                    <li class="alphabet_item"><a href="#K" class="">K</a></li>
                    <li class="alphabet_item"><a href="#L" class="">L</a></li>
                    <li class="alphabet_item"><a href="#M" class="">M</a></li>
                    <li class="alphabet_item"><a href="#N" class="">N</a></li>
                    <li class="alphabet_item"><a href="#O" class="">O</a></li>
                    <li class="alphabet_item"><a href="#P" class="">P</a></li>
                    <li class="alphabet_item"><a href="#Q" class="">Q</a></li>
                    <li class="alphabet_item"><a href="#R" class="">R</a></li>
                    <li class="alphabet_item"><a href="#S" class="">S</a></li>
                    <li class="alphabet_item"><a href="#T" class="">T</a></li>
                    <li class="alphabet_item"><a href="#U" class="">U</a></li>
                    <li class="alphabet_item"><a href="#V" class="">V</a></li>
                    <li class="alphabet_item"><a href="#W" class="">W</a></li>
                    <li class="alphabet_item"><a href="#X" class="disable">X</a></li>
                    <li class="alphabet_item"><a href="#Y" class="">Y</a></li>
                    <li class="alphabet_item"><a href="#Z" class="">Z</a></li>
                </ul>
            </div>

            <div class="landing_page_items">


                <a name="Numbers" class="landing_page_anchor"></a><h2>#</h2>

                <div class="category_icons">

                </div>
                @foreach (var item in Model.Where(x =>
                   x.ManufacturersName.StartsWith("0")
                 || x.ManufacturersName.StartsWith("1")
                 || x.ManufacturersName.StartsWith("2")
                 || x.ManufacturersName.StartsWith("3")
                 || x.ManufacturersName.StartsWith("4")
                 || x.ManufacturersName.StartsWith("5")
                 || x.ManufacturersName.StartsWith("6")
                 || x.ManufacturersName.StartsWith("7")
                 || x.ManufacturersName.StartsWith("8")
                 || x.ManufacturersName.StartsWith("9")
                ).OrderBy(x => x.ManufacturersName))
                {
            <a href="@Url.Action("Index","ProductDetails",new { manufacturid=item.ManufacturersId})" class="landing_page_link">
                @item.ManufacturersName (@item.ProductCount)
            </a>
                }

                @foreach (char c in alpha)
                {


                <a name="@c" class="landing_page_anchor"></a><h2>@c</h2>

                <div class="category_icons">

                </div>
                foreach (var item in Model.Where(x => x.ManufacturersName.ToUpper().StartsWith(c+"")).OrderBy(x => x.ManufacturersName))
                {
            <a href="@Url.Action("Index","ProductDetails",new { manufacturid=item.ManufacturersId})" class="landing_page_link">
                @item.ManufacturersName (@item.ProductCount)
            </a>
                }


                }




            </div>

        </div>

        @*<div class="clients-colored row">

            @foreach (var itm in Model)
            {
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb20">
                    <div class="client-item">
                        <a href="#">
                            <img src="~/Content/UploadData/UploadImages/Manufacturer/@itm.ImageFile" alt="@itm.Title" />
                        </a>
                    </div>
                </div>
            }

        </div>*@
    </div>
</div>
