﻿
@model IEnumerable<NewsViewModel>
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@section Styles{
    <style>
        .h-45 {
            height: 96px !important;
            overflow: hidden !important;
        }

        .news-item h3 {
            font-size: 16px;
            color: #403c34;
            line-height: 24px;
            height: 48px !important;
            overflow: hidden;
        }
    </style>
}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1> News</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">News</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>

<div class="wrapper post-details">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">


                    @foreach (var itm in Model)
                    {
                        <div class="col-md-4 mb30">
                            <div class="news-item">
                                <time>@(itm.AddOn != null ? Convert.ToDateTime(itm.AddOn).ToString("dd MMM yyy") : "")</time>
                                <h3><a href="@Url.Action("NewsDetails", "Home", new { id = itm.Id })">@itm.Title</a> </h3>
                                <div class="clearfix h-45"> @Html.Raw(itm.Brief)</div>
                            </div>
                        </div>
                    }


                </div>

                <nav aria-label="Page navigation example">
                    @if (ViewBag.TotlaPages != null && ViewBag.TotlaPages >1)
                    {
                    <ul class="pagination">
                        @if (ViewBag.CurrentPage != 1)
                        {
                            @*<li class="page-item">
                <a class="page-link" href="@Url.Action("news","Home" ,new { page=1 })" tabindex="-1">First</a>
            </li>*@
                        <li class="page-item">
                            @*<a class="page-link" href="@Url.Action("news","Home",new { page=ViewBag.CurrentPage-1})" tabindex="-1"><<</a>*@

                            <a class="page-link" href="@Url.Action("news","Home",new { page=ViewBag.CurrentPage-1})" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        }
                        @for (int i = 1; i<= ViewBag.TotlaPages; i++)
                        {
                            <li class="page-item @(ViewBag.CurrentPage== i ? "active" : "" )">
                                <a class="page-link" href="@Url.Action("news", "Home", new { page = i })" tabindex="-1">@(i)</a>
                            </li>
                        }
                        @if (ViewBag.CurrentPage < ViewBag.TotlaPages)
                        {
                    <li class="page-item">

                        <a class="page-link" href="@Url.Action("news","Home", new { page=ViewBag.CurrentPage +1})" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                        @*<a class="page-link" href="@Url.Action("news","Home", new { page=ViewBag.CurrentPage +1})" tabindex="-1">>></a>*@
                    </li>
                                @*<li class="page-item">
                    <a class="page-link" href="@Url.Action("news","home", new {page=ViewBag.TotlaPages })" tabindex="-1">Last</a>
                </li>*@
                                }


                        </ul>
                    }
                </nav>
                @*<nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>*@


            </div>
        </div>

    </div>
</div>