﻿
@model PageViewModel
@section keywords
{
    <meta name="description" content="@(Model.Details.Length>400?Model.Details.Substring(0,400):Model.Details)" />
    <meta name="keywords" content="@Model.Keywords,@Model.Title,@Model.Title.Split(' ',',')" />
    <meta name="image" content="https://win.com.sa/Content/UploadData/UploadImages/pages/@Model.ImageFile" />

    <title>Warehouse Integration Company|@Model.Title</title>
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:type" content="article" />

    <meta property="og:image" content="https://win.com.sa/Content/UploadData/UploadImages/pages/@Model.ImageFile" />
    <meta property="og:description" content="@(Model.Details.Length>400?Model.Details.Substring(0,400):Model.Details)" />
    <meta property="og:site_name" content="Warehouse Integration Company" />
    <meta property="fb:admins" content="winogm.sa" />
    <meta name="twitter:title" content="summary" />
    <meta name="twitter:description" content="@(Model.Details.Length>400?Model.Details.Substring(0,400):Model.Details)" />
    <meta name="twitter:image" content="https://win.com.sa/Content/UploadData/UploadImages/pages/@Model.ImageFile" />
    <meta name="twitter:card" content="@Model.Title" />

    <meta name="twitter:site" content="@Request.Url.AbsoluteUri" />
    <meta name="twitter:creator" content="WIN admin" />
}
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>@Model.Title</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>

<div class="wrapper post-details">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-6 mb30">
                        <div class="post-thumb">
                            <img src="~/Content/UploadData/UploadImages/Pages/@Model.ImageFile" alt="@Model.Title" />
                        </div>
                        <div class="post-share">
                            <span>share:</span>
                            <a href="#"><i class="fab fa-facebook-f"></i> </a>
                            <a href="#"><i class="fab fa-twitter"></i> </a>
                            <a href="#"><i class="fab fa-linkedin-in"></i> </a>
                        </div>
                    </div>
                    <div class="col-md-6 mb30">
                        <div class="post-content">
                            <time>@(Model.AddOn != null ? Convert.ToDateTime(Model.AddOn).ToString("dd MMM yyy") : "")</time>
                            <h1 class="post_title">
                                @Model.Title
                            </h1>
                            <p>
                                @Html.Raw(Model.Details)
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



