﻿@model IEnumerable<ProductDetailViewModel>

@section keywords
{
    <meta name="description" content="Power Station Auction (SEC 4th Station) The SEC establishes it in 1970, and it was throughout operating and maintained periodically by major international companies and its maintenance conducted lastly in 2016 and shutdown." />
    <meta name="keywords" content="Power Station Auction , Identical Turbine Unit,ABB Turbine,Power Station Auction" />
    <meta name="image" content="https://win.com.sa/Content/UploadData/UploadImages/pages/PowerStationAuction.png" />

    <title>Warehouse Integration Company|Power Station Auction</title>
    <meta property="og:title" content="Power Station Auction" />
    <meta property="og:type" content="article" />

    <meta property="og:image" content="https://win.com.sa/Content/UploadData/UploadImages/pages/PowerStationAuction.pngPowerStationAuction.png" />
    <meta property="og:description" content="Power Station Auction (SEC 4th Station) The SEC establishes it in 1970, and it was throughout operating and maintained periodically by major international companies and its maintenance conducted lastly in 2016 and shutdown." />
    <meta property="og:site_name" content="Warehouse Integration Company" />
    <meta property="fb:admins" content="winogm.sa" />
    <meta name="twitter:title" content="summary" />
    <meta name="twitter:description" content="Power Station Auction (SEC 4th Station) The SEC establishes it in 1970, and it was throughout operating and maintained periodically by major international companies and its maintenance conducted lastly in 2016 and shutdown." />
    <meta name="twitter:image" content="https://win.com.sa/Content/UploadData/UploadImages/pages/PowerStationAuction.png" />
    <meta name="twitter:card" content="Power Station Auction" />

    <meta name="twitter:site" content="@Request.Url.AbsoluteUri" />
    <meta name="twitter:creator" content="WIN admin" />
}
@section styles{
    <style>
        .auction-item {
        
        border:1px solid #f4f4f4;
        }
        .auction-list-wrap {
        background:none;
        }
        .slide-img {
        
        height:420px;}
    </style>
    }
@{
    ViewBag.Title = "Power Station Auction";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    var FavoriteList = ViewBag.UserFavorite as List<long>;


    var Mycurrency = TempData["maincurrency"] as CurrencyViewModel;

    if (TempData["cookiecurrency"] != null)
    {
        Mycurrency = TempData["cookiecurrency"] as CurrencyViewModel;
    }
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Power Station Auction</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Power Station Auction</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>

<div class="wrapper post-details">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-6 mb30">
                        <div class="post-thumb">
                            <div class="slider-wrap" id="sliderwrap">
                                <div class="swiper-container search-swiperslider">
                                    <div class="swiper-wrapper">

                                        <div class="swiper-slide ">
                                            @*<div class="slide-img bg-image" style="background-image: url('@Url.Action("Thumbnail","Home",new { filename = ("Content/uploaddata/UploadImages/Slider/"+@itm.ImageFile),width=1920,height=450 })')">*@
                                            @*<div class="slide-img bg-image" style="background-image: url('@HelperTools.Thumbnail("Content/uploaddata/UploadImages/Slider/"+@itm.ImageFile+"",1920,750)')">  *@
                                            <a href="#">
                                                <div class="slide-img bg-image" style="background-image: url('/Content/UploadData/UploadImages/Pages/PowerStationAuction.png')">
                                                    @*<h3>@itm.Title</h3>*@
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide ">
                                            
                                            <a href="#">
                                                <div class="slide-img bg-image" style="background-image: url('/Content/UploadData/UploadImages/Pages/Powerstationdetails.png')">
                                            
                                                </div>
                                            </a>
                                        </div>




                                    </div>
                                </div>

                            </div>
                            
                            @*<img src="~/Content/UploadData/UploadImages/Pages/PowerStationAuction.png" alt="Power Station Auction" />*@
                        </div>
                        <div class="post-share">
                            <span>share:</span>
                            <a href="#"><i class="fab fa-facebook-f"></i> </a>
                            <a href="#"><i class="fab fa-twitter"></i> </a>
                            <a href="#"><i class="fab fa-linkedin-in"></i> </a>
                        </div>
                    </div>
                    <div class="col-md-6 mb30">
                        <div class="post-content">
                            <time>@(Convert.ToDateTime("09/09/2020").ToString("dd MMM yyy"))</time>
                            <h1 class="post_title">
                                Power Station Auction
                            </h1>
                            <p>
                                <h4>
                                    Power Station Auction (SEC 4th Power Station - Riyadh, Saudi Arabia) 
                                </h4><h6>
    Power Station Auction (SEC 4th Power  Station) The SEC 4th Power station was established  in 1970 and it was on operatins till 2016, during this period the station was well maintained periodically by major international companies.
    See more details
</h6>



                                @*<p class="MsoNoSpacing" style="margin-left:.5in;text-indent:-.25in;mso-list:l3 level1 lfo4"><o:p></o:p></p><p><b style="color: rgb(57, 132, 198);"></b></p><p></p>
            </p>*@
                            <p>
                                <strong style="margin-bottom:20px; font-size:16px;">  <span class="label label-warning">Auction terms :</span> <a href="~/Content/UploadData/UploadDocuments/Terms_and_Conditions.pdf" target="_blank" class=" btn btn-outline-primary" style="padding:5px 15px"> Download</a></strong>
                            </p>
                            <p>
                                @*<iframe width="560" height="315" src="https://www.youtube.com/embed/TIPc5GRxjoQ" frameborder="0"  allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/F8-PIfadeEw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </p>
                            @*<p>

                                <img src="~/Content/UploadData/UploadImages/Pages/Powerstationdetails.jpeg" />
                            </p>*@
                        </div>
                    </div>
                </div>
                <div class="auction-list-wrap " id="Listcontent">
                    <div class="auction-list">
                        <div class="row" id="Productslist">
                            @foreach (var itm in Model)
                            {

                                <div class="col-lg-3 col-md-4">
                                    <div class="auction-item">
                                        @*<div class="auction-img bg-image" style="background-image: url(@(itm.ProductInformation.ProductImg[0]))">*@
                                        <div class="auction-img bg-image img-loading" data-img="@(itm.ProductInformation.ProductImg[0]+"?w=331")" style="background-image: url(/Content/FrontEnd/images/giphy.gif)">
                                            <a href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId,title=ps.haweya.win.obs.web.Controllers.HelperTools.GenerateSlug(itm.ProductInformation.ProductTitle) })"></a>
                                        </div>
                                        <div class="entry-auction">
                                            <div class="auction-info">
                                                <span class="auction-cat"><a href="#">@(new ps.haweya.win.obs.business.Managers.CategoryManager().GetByid(itm.ProductInformation.Category).CategoryName)</a> </span>
                                                <h3><a href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId,title=ps.haweya.win.obs.web.Controllers.HelperTools.GenerateSlug(itm.ProductInformation.ProductTitle) })">@itm.ProductInformation.ProductTitle</a> </h3>
                                                <div class="auction-meta">
                                                    <ul class="list-inline">
                                                        @*@if (itm.ProductInformation.BidCount > 0)
                                                        {
                                                            <li class="list-inline-item"> @(itm.ProductInformation.PricingType.Equals("Auctionable") ? "Bids N0 :" : "")<span class="bidscount_@itm.ProductId">@(itm.ProductInformation.BidCount > 0 ? itm.ProductInformation.BidCount + "" : "")  @(itm.ProductInformation.BidCount > 0 ? "bids" : "")</span></li>
                                                        }
                                                        <li class="list-inline-item">Qty: <span>@itm.ProductInformation.AvailableQuantity item</span></li>*@
                                                        @if (itm.ProductInformation.ShowBidAmmount == true)
                                                        {
                                                            <li class="list-inline-item">Last bid amount: <span class="lastbidprice_@itm.ProductId">@(String.Format("{0:n}", (itm.ProductInformation.OBSBidDetails.Count() > 0 ? itm.ProductInformation.OBSBidDetails.OrderByDescending(x => x.AddedOn).FirstOrDefault().BidPrice / Mycurrency.RateToRiyal : itm.MinimumSellingPrice / Mycurrency.RateToRiyal))) @(Mycurrency.Sign)</span></li>
                                                        }
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="auction-footer">

                                                <span><i class="@(itm.ProductInformation.ProductLocation != "" && itm.ProductInformation.ProductLocation != null ? "svg-location" : "")"></i>@(itm.ProductInformation.ProductLocation != "" && itm.ProductInformation.ProductLocation != null ? itm.ProductInformation.ProductLocation : "")</span>

                                                <a href="#" myid="@itm.ProductId" class="favitm">

                                                    @if (FavoriteList != null && FavoriteList.Contains(itm.ProductId))
                                                    {
                                                        <i class="fas fa-heart"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="far fa-heart"></i>
                                                    }


                                                </a>
                                                @if (itm.ProductInformation.PricingType != "Auctionable")
                                                {
                                                    if (itm.ProductInformation.Quantity == "0" || itm.ProductInformation.AvailableQuantity == 0)
                                                    {
                                                        <label class="lbl">Sold Out</label>
                                                    }
                                                    else
                                                    {
                                                        <a class="submitcart " data-id="@itm.ProductId" data-baseprice="@itm.ProductInformation.UnitPrice" href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId })">Add to Cart</a>
                                                    }
                                                }
                                                else
                                                {
                                                    if (itm.ProductInformation.BidStartDate != null && itm.ProductInformation.BidStartDate.Value <= DateTime.Now && (itm.ProductInformation.DeadLine == null || itm.ProductInformation.DeadLine >= DateTime.Now))
                                                    {
                                                        if (!itm.ProductInformation.IsSold)
                                                        {
                                                            <a class="placebid" myid="@itm.ProductId" data-id="@itm.ProductId" href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId })">Place a bid</a>
                                                            @*<a class="placebid" ="@itm.ProductId" data-baseprice="@itm.ProductInformation.UnitPrice" href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId })">Place a bid</a>*@
                                                        }
                                                        else
                                                        {
                                                            <label>Sold At @String.Format("{0:n}", itm.ProductInformation.OBSBidDetails.Where(t => t.IsSold).FirstOrDefault().BidPrice / Mycurrency.RateToRiyal) @(Mycurrency.Sign)</label>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (itm.ProductInformation.BidStartDate != null && itm.ProductInformation.BidStartDate.Value > DateTime.Now)
                                                        {
                                                            <label class="lbl">Comming Soon</label>
                                                        }
                                                        else
                                                        {

                                                            if (!itm.ProductInformation.IsSold)
                                                            {
                                                                <label class="lbl">Closed</label>
                                                                @*<a class="placebid" ="@itm.ProductId" data-baseprice="@itm.ProductInformation.UnitPrice" href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId })">Place a bid</a>*@
                                                            }
                                                            else
                                                            {
                                                                <label>Sold At @String.Format("{0:n}", itm.ProductInformation.OBSBidDetails.Where(t => t.IsSold).FirstOrDefault().BidPrice / Mycurrency.RateToRiyal) @(Mycurrency.Sign)</label>
                                                            }

                                                        }


                                                    }

                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    </div>
                </div>
            </div>
                </div>
            </div>

@section Scripts{
    <script>
        $(document).ready(function () {
            FetchImages();
        });
        function FetchImages() {

    $('.img-loading').each(function () {
        var url = $(this).attr('data-img');

        var current = $(this);

        $.get(url, function () {

                    current.css('background-image', 'url('+url+')');
                    current.removeClass('img-loading');
        });

    });
}
    </script>
}


