﻿
@model SettingViewModel

@{
    ViewBag.Title = "Privacy policy";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Privacy policy</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Privacy policy</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>

<div class="wrapper post-details">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">

                    <div class="col-md-12 mb30">
                        <div class="post-content">

                            <h1 class="post_title">
                                Privacy Policy
                            </h1>
                            <p>
                                @Html.Raw(Model.Privacy_policy)
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

