﻿@model IEnumerable<GetHOMEPRODUCTS_ResultViewModel>

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    var FavoriteList = ViewBag.UserFavorite as List<long>;


    var Mycurrency = TempData["maincurrency"] as CurrencyViewModel;

    if (TempData["cookiecurrency"] != null)
    {
        Mycurrency = TempData["cookiecurrency"] as CurrencyViewModel;
    }

}

@section Styles{
    <style>
        .page-link {
            border: 1px solid #e9ecef !important;
            margin-right: 3px;
        }

        .page-item.active .page-link {
            background-color: #5480c1;
            color: #e9ecef;
        }
    </style>
}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Search result</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Search result</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                @using (Html.BeginForm())
                {<div class="filter-bar">
                        <div class=" form-inline mb20">

                            <div class="form-group mb-2 .search-field">

                                <input type="text" name="q" id="q" value="@ViewBag.q" class="form-control" placeholder="Product title, Describtion" />

                            </div>
                            <div class="form-group mb-2">
                                <select class="selectpicker sorting" id="sorting" name="sorting" title="Sort By">

                                    <option value="1" @(ViewBag.sorting != null && ViewBag.sorting == 1 ? "selected" : "")>Price low to high</option>
                                    <option value="2" @(ViewBag.sorting != null && ViewBag.sorting == 2 ? "selected" : "")>Price high to low</option>
                                </select>
                            </div>
                            <div class="form-group mb-2">
                                <select class="selectpicker Viewcount" id="Viewcount" name="Viewcount" title="Display">
                                    <option value="20" @(ViewBag.Viewcount != null && ViewBag.Viewcount == 9 ? "selected" : "")>9 Items</option>
                                    <option value="20" @(ViewBag.Viewcount != null && ViewBag.Viewcount == 20 ? "selected" : "")>20 Items</option>
                                    <option value="40" @(ViewBag.Viewcount != null && ViewBag.Viewcount == 40 ? "selected" : "")>40 Items</option>
                                    <option value="100" @(ViewBag.Viewcount != null && ViewBag.Viewcount == 100 ? "selected" : "")>100 Items</option>
                                </select>
                            </div>
                            <div class="form-group mb-2">
                                <div class="custom-control custom-checkbox ">
                                    @*<input type="checkbox" class="custom-control-input checkesfilter" id="DirectCheck" name="DirectCheck" />*@
                                    @Html.CheckBox("DirectCheck", ViewBag.DirectCheck != null && ViewBag.DirectCheck == true ? true : false, new { @class = "custom-control-input checkesfilter", id = "DirectCheck" })
                                    <label class="custom-control-label" for="DirectCheck">Direct Purchase</label>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <div class="custom-control custom-checkbox ">
                                    @Html.CheckBox("AuctionCheck", ViewBag.AuctionCheck != null && ViewBag.AuctionCheck == true ? true : false, new { @class = "custom-control-input checkesfilter", id = "AuctionCheck" })
                                    @*<input type="checkbox" class="custom-control-input checkesfilter" id="AuctionCheck" name="AuctionCheck" />*@
                                    <label class="custom-control-label" for="AuctionCheck">Auction</label>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <input type="submit" class=" btn btn-primary" value="search" />
                            </div>

                        </div>

                    </div>}
                <div class="auction-list">
                    <div class="row" id="Productslist">
                        @foreach (var itm in Model)
                        {

                            <div class="col-lg-4 col-md-6">
                                <div class="auction-item">
                                    @*<div class="auction-img bg-image" style="background-image: url(@(itm.ProductImg[0]))">*@
                                    <div class="auction-img bg-image img-loading" data-img="@(itm.ProductImg.Replace("Content/UploadData/UploadImages//Content/UploadData/UploadImages","Content/UploadData/UploadImages")+"?w=331")" style="background-image: url(/Content/FrontEnd/images/giphy.gif)">
                                        <a href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId,title=ps.haweya.win.obs.web.Controllers.HelperTools.GenerateSlug(itm.ProductTitle) })"></a>
                                    </div>
                                    <div class="entry-auction">
                                        <div class="auction-info">
                                            <span class="auction-cat"><a href="#">@(itm.CategoryName)</a> </span>
                                            <h3><a href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId,title=ps.haweya.win.obs.web.Controllers.HelperTools.GenerateSlug(itm.ProductTitle) })">@itm.ProductTitle</a> </h3>
                                            <div class="auction-meta">
                                                <ul class="list-inline">

                                                    @if (itm.PricingType != "Auctionable")
                                                    {



                                                        if (itm.BidCount > 0)
                                                        {
                                                            <li class="list-inline-item"> @(itm.PricingType.Equals("Auctionable") ? "Bids N0 :" : "")<span class="bidscount_@itm.ProductId">@(itm.BidCount > 0 ? itm.BidCount + "" : "")  @(itm.BidCount > 0 ? "bids" : "")</span></li>
                                                        }
                                                        <li class="list-inline-item">Qty: <span>@itm.AvailableQuantity item</span></li>

                                                    }
                                                    @if (itm.PricingType.Equals("Auctionable"))
                                                    {
                                                        if (itm.ShowBidAmmount == 1)
                                                        {
                                                            <li class="list-inline-item">@(itm.PricingType.Equals("Auctionable") ? "LBA" : "Price"): <span class="lastbidprice_@itm.ProductId">@(String.Format("{0:n}", (itm.PricingType.Equals("Auctionable") ? itm.bidscount > 0 ? itm.UnitPrice / Mycurrency.RateToRiyal : itm.UnitPrice / Mycurrency.RateToRiyal : itm.UnitPrice / Mycurrency.RateToRiyal))) @(Mycurrency.Sign)</span></li>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <li class="list-inline-item">Price: <span class="lastbidprice_@itm.ProductId">@(String.Format("{0:n}", (itm.UnitPrice))) @(Mycurrency.Sign)</span></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="auction-footer">

                                            <span><i class="@(itm.ProductLocation != "" && itm.ProductLocation != null ? "svg-location" : "")"></i>@(itm.ProductLocation != "" && itm.ProductLocation != null ? itm.ProductLocation : "")</span>

                                            <a href="#" myid="@itm.ProductId" class="favitm">

                                                @if (FavoriteList != null && FavoriteList.Contains(itm.ProductId))
                                                {
                                                    <i class="fas fa-heart"></i>
                                                }
                                                else
                                                {
                                                    <i class="far fa-heart"></i>
                                                }


                                            </a>
                                            @if (itm.PricingType != "Auctionable")
                                            {
                                                if (itm.AvailableQuantity <= 0)
                                                {
                                                    <label class="lbl">Sold Out</label>
                                                }
                                                else
                                                {
                                                    <a class="submitcart " data-id="@itm.ProductId" data-baseprice="@itm.UnitPrice" href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId })">Add to Cart</a>
                                                }
                                            }
                                            else
                                            {
                                                if (itm.BidStartDate != null && itm.BidStartDate.Value <= DateTime.Now && (itm.DeadLine == null || itm.DeadLine >= DateTime.Now))
                                                {
                                                    if (!itm.IsSold)
                                                    {
                                                        <a class="placebid" myid="@itm.ProductId" data-id="@itm.ProductId" href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId })">Place a bid</a>
                                                        @*<a class="placebid" ="@itm.ProductId" data-baseprice="@itm.UnitPrice" href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId })">Place a bid</a>*@
                                                    }
                                                    else
                                                    {
                                                        if (itm.SoldBidPrice != 0)
                                                        {
                                                            <label>Sold At @String.Format("{0:n}", itm.SoldBidPrice / Mycurrency.RateToRiyal) @(Mycurrency.Sign)</label>
                                                        }
                                                        else
                                                        {
                                                            <label>Sold </label>

                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    if (itm.BidStartDate != null && itm.BidStartDate.Value > DateTime.Now)
                                                    {
                                                        <label class="lbl">Comming Soon</label>
                                                    }
                                                    else
                                                    {

                                                        if (!itm.IsSold)
                                                        {
                                                            <label class="lbl">Closed</label>
                                                            @*<a class="placebid" ="@itm.ProductId" data-baseprice="@itm.UnitPrice" href="@Url.Action("Details", "ProductDetails", new { id = itm.ProductId })">Place a bid</a>*@
                                                        }
                                                        else
                                                        {
                                                            if (itm.SoldBidPrice != 0)
                                                            {
                                                                <label>Sold At @String.Format("{0:n}", itm.SoldBidPrice / Mycurrency.RateToRiyal) @(Mycurrency.Sign)</label>
                                                            }
                                                            else
                                                            {
                                                                <label>Sold </label>

                                                            }
                                                        }

                                                    }


                                                }

                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>

                <div class="Pager pagination"></div>
                


            </div>
        </div>
    </div>
</div>



@section Scripts{

        <script src="~/Content/FrontEnd/js/ASPSnippets_Pager.min.js" type="text/javascript"></script>

        <script>
            $(document).ready(function () {

                       $(".Pager").ASPSnippets_Pager({
                ActiveCssClass: "current",
                PagerCssClass: "pager",
                PageIndex:@(ViewBag.CurrentPage ?? 1),
                PageSize:@(ViewBag.Viewcount ?? 9),
                    RecordCount: @(ViewBag.TotalItemsCount?? 0)
            });
            FetchImages();
                if (@Model.Count()== 0) {
                    $("#Productslist").empty();
                    $("#Productslist").append("<div class='col-md-12'> <div class='alert alert-warning'> Did not find what you are looking for , click here  <a style='width:auto!important' href='#' class='emaild_product_link'>feedback</a> </span> </div></div>");
                }
            $('#q').autocomplete({
                minLength: 1,
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetSearchProducts","Home")',
                        method: 'post',
                        data: { SearshTest: $("#q").val() },
                        dataType: 'json',
                        success: function (data) {
                            response(data);
                        },
                        error: function (err) {
                            //alert(err);
                        }
                    });
                },
                focus: updateTextBox,
                select: updateTextBox
            })
                .autocomplete('instance')._renderItem = function (ul, item) {
                    return $("<li class='autocomplete_li'>")
                        .append("<a href='@Url.Action("Details", "ProductDetails")/" + item.ProductId +"/"+item.ProductTitle.replace(/[^a-zA-Z0-9-_]/g, '')+"'><img class='Autocompleteimg' src='" +item.ProductImage + "' alt=" + item.ProductTitle + "/><span>" + item.ProductTitle + "</span></a>")

                        .appendTo(ul);
                };
             function updateTextBox(event, ui) {
                $(this).val(ui.item.Name);
                return false;
            }
            });

            $("body").on("click", ".Pager .page", function () {
                var link = "@Url.Action("SearchResult", "home")?page="+parseInt($(this).attr('page'))+ "&q=" + $("#q").val() + "&sorting=" + $("#sorting").val() + "&Viewcount=" + $("#Viewcount").val() + "&DirectCheck=" + $("#DirectCheck").prop("checked") + "&AuctionCheck=" +$("#AuctionCheck").prop("checked");
                window.location.href = link;
              //  binalldata(parseInt($(this).attr('page')));

            });

                             @*$(document).on('click', '.page-link', function () {
                                 var link ="@Url.Action("SearchResult", "home") "+ "&q=" + $("#q").val() + "&sorting=" + $("#sorting").val() + "&Viewcount=" + $("#Viewcount").val() + "&DirectCheck=" + $("#DirectCheck").prop("checked") + "&AuctionCheck=" +$("#AuctionCheck").prop("checked");
                                 window.location.href = link;
                             })*@


           function FetchImages() {

    $('.img-loading').each(function () {
        var url = $(this).attr('data-img');

        var current = $(this);

        $.get(url, function () {

                    current.css('background-image', 'url('+url+')');
                    current.removeClass('img-loading');
        });

    });
}

        </script>
    }


