﻿@model SellerAccountVerification

@{
    ViewBag.Title = "ThanksSeller";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}



<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Sign up <span>Seller</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
@Html.Partial("_msg")
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-10 offset-md-3 offset-sm-1">
                @using (Html.BeginForm("ThanksSeller", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="success-reg-box text-center">
                        <i class="fa fa-heart"></i>
                        <h3>Thank You Seller</h3>
                        <h3>
                            Account Verification
                        </h3>
                        <p>
                            Please provide us with a relevant document in order for us to verify your account.
                            <br />
                            Account type: defines the choice of documents you can upload
                        </p>
                        <br />
                        <p>
                            <div class="form-group" style="text-align:left">
                                <input type="radio" value="1" name="Typeid" />
                                <label for="Typeid">Individual Professional.</label>
                                <br />
                                <input type="radio" value="2" name="Typeid" />
                                <label for="Typeid">Business (Selling On Behalf of a Business Entity).</label>
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                <input type="text" class="form-control" name="DocumentID" placeholder="Document ID (Ref .)" />
                                <br />
                                Note: English, Arabic characters (a-z,A-Z), digits(0-9), - , spaces.
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                <input type="radio" name="agreement" value="1" />
                                <label for="Typeid">I have read and accepted terms and conditions of the agreement.</label>

                            </div>
                        </p>
                        <div class="success-reg-btns text-uppercase">
                            <button type="submit" class="btn btn-warning rounded">
                                Verify
                            </button>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


