﻿
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Sign up <span>Buyer</span></h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
@Html.Partial("_msg")

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-10 offset-md-3 offset-sm-1">
                <div class="win-msg success-win-msg text-center">
                    <div class="msg-icon mb40">
                        <img src="/content/frontend/images/heart.png" alt="Thank You" />
                    </div>
                    <h3 class="mb40">Thank You</h3>

                    <div class="success-reg-btns text-uppercase">
                        <a href="@Url.Action("MyAccount","Buyers")" class="btn btn-warning rounded">
                            My Account
                        </a>
                        <a href="@Url.Action("Index","ProductDetails")" class="btn btn-warning rounded">
                            Start Shopping
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

