﻿@model TicketViewModel
@{
    ViewBag.Title = "TicketsDetails";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


@section Styles{
    <link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminIndexList.css" rel="stylesheet" />

    <style>


        .kt-chat .kt-chat__messages .kt-chat__message {
            margin-bottom: 1rem;
            /* background-color: black; */
            border-radius: 10px;
        }

        .kt-media.kt-media--circle span {
            border-radius: 50%;
        }

        .kt-media.kt-media--sm span {
            width: 30px;
            height: 30px;
            font-size: 0.9rem;
        }

        .kt-badge.kt-badge--rounded {
            border-radius: 4px;
        }

        .kt-badge.kt-badge--unified-success {
            color: #0abb87;
            background: rgba(10, 187, 135, 0.1);
        }

        .kt-badge.kt-badge--lg {
            height: 35px;
            width: 35px;
            font-size: 1rem;
        }

        .kt-badge.kt-badge--bold {
            font-weight: 500;
        }

        .kt-media span {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            font-weight: 600;
            color: #74788d;
            border-radius: 4px;
        }

        .kt-media span {
            width: 50px;
            height: 50px;
            font-size: 1.3rem;
        }

        .kt-badge {
            padding: 0;
            margin: 0;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            font-size: 0.8rem;
        }

        *, *::before, *::after {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .kt-portlet .kt-portlet__body {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 25px;
            border-radius: 4px;
        }

        .kt-portlet {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
            box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
            background-color: #ffffff;
            margin-bottom: 20px;
            border-radius: 4px;
        }

        .modal-content {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ebedf2;
            border-radius: 0.3rem;
            outline: 0;
        }

        .modal-dialog {
            position: relative;
            width: auto;
            margin: 0.5rem;
            pointer-events: none;
        }

        .kt-bg-light-success {
            background-color: rgba(10, 187, 135, 0.1) !important;
        }

        .kt-chat .kt-chat__messages .kt-chat__message .kt-chat__text {
    display: inline-block;
    padding: 1.2rem 1.7rem;
    padding: 1.1rem 3.5rem 1.1rem 1.6rem;
    margin-top: 0.8rem;
    color: #6c7293;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 4px;
}
        .modal .dropdown-menu {
            left: unset !important;
            right: 0px !important;
        }

        .kt-chat__user {
            display: flex;
        }

        .kt-chat__message--right .kt-chat__user {
            flex-direction: row-reverse;
        }

        .kt-chat__datetime {
            display: block;
        }
        .kt-chat .kt-chat__messages .kt-chat__message.kt-chat__message--right {
    text-align: right;
}
        .kt-bg-light-brand {
    background-color: rgba(93, 120, 255, 0.1) !important;
}
    </style>
}


<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Tickets Details</h1>
            </div>
            <div class="col-md-6">
          

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">

        <div class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <div class="kt-chat" style="width:100%;">
                        <div class="kt-portlet kt-portlet--head-lg kt-portlet--last">
                            <div class="kt-portlet__head" style="min-height:unset;padding:0 0 10px 0; margin-bottom:15px">
                                <div class="kt-chat__head">
                                    <div class="kt-chat__left">
                                        <div class="kt-chat__label">
                                            <a href="#" class="kt-chat__title" style="font-size:1.8rem"></a>
                                            <span class="kt-chat__status">

                                            </span>
                                        </div>


                                    </div>

                                    <div class="kt-chat__right">
                                        <!--begin:: Aside Mobile Toggle -->
                                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md kt-hidden-desktop" id="kt_chat_aside_mobile_toggle">
                                            <i class="flaticon2-open-text-book"></i>
                                        </button>
                                        <!--end:: Aside Mobile Toggle-->

                                        <div class="dropdown dropdown-inline">
                                            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="flaticon-more-1"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-left dropdown-menu-md" style="">
                                                <!--begin::Nav-->
                                                <ul class="kt-nav">
                                                    <li class="kt-nav__item">
                                                        <a href="#" data-status="2" data-id="" class="kt-nav__link ChangeStatus ladda-button" data-style="expand-left">
                                                            <i class="kt-nav__link-icon flaticon2-group"></i>
                                                            <span class="kt-nav__link-text">Change to Pending</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a href="#" data-status="3" data-id="" id="CloseTicket" class="kt-nav__link ChangeStatus ladda-button" data-style="expand-left">
                                                            <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                                            <span class="kt-nav__link-text">Close Ticket</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!--end::Nav-->
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="kt-portlet__body kt-p0">
                                <div class="kt-chat__messages">

                                
                                    <div class="kt-scroll kt-scroll--pull ps ps--active-y" id="messages" data-mobile-height="200" >
                                    
                                            @foreach (var item in Model.TicketRows)
                                            {
                                                <div class="kt-chat__message @(item.System?"kt-chat__message--right" : "")">
                                                    <div class="kt-chat__user">
                                                        <span class="kt-media kt-media--circle kt-media--sm">
                                                            @if (item.System)
                                                            {
                                                                <img src="https://win.com.sa/content/frontend/images/WinSmall.svg" alt="image">
                                                            }
                                                            else
                                                            {
                                                                <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">G</span>
                                                            }
                                                        </span>
                                                        <a href="#" class="kt-chat__username">
                                                            @(item.System ? "System" : item.From)
                                                            <span class="kt-chat__datetime" title="@item.Date">@item.Date</span>
                                                        </a>
                                                    </div>
                                                    <div class="kt-chat__text kt-bg-light-@(item.System ? "brand" : "success")">
                                                        @Html.Raw(item.Body)
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>


