﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@section title{
    <title>OBS :: Transactions Logs</title>
}

@section Styles{

    <link href="~/Content/CSS/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminIndexList.css" rel="stylesheet" />

    <style>
    </style>
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item kt-padding-l-20 kt-padding-r-20" id="kt_subheader">

    <div class="kt-subheader__main">

        <h3 class="kt-subheader__title"><i class="fas fa-dolly"></i>&nbsp;Transactions Logs</h3>

        <span class="kt-subheader__separator kt-subheader__separator--v"></span>

        <div class="kt-subheader__group" id="kt_subheader_search">
            <span class="kt-subheader__desc" id="kt_subheader_total"><i class="fas fa-spin fa-spinner"></i> </span>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                <input type="text" class="form-control" placeholder="Search ..." id="general_search">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>

        </div>

        @*<div class="kt-subheader__group " id="kt_subheader_group_actions">
            <a href="#" data-id="0" data-toggle="modal" data-target="#AddRole-model" class="btn btn-label-warning btn-bold btn-sm btn-icon-h kt-margin-l-10">
                Add New
            </a>

        </div>*@

    </div>

    <div class="kt-subheader__toolbar kt-subheader-order-summary">

        <div class="kt-subheader__group kt-margin-r-10 kt-desktop-view">

        </div>

        <a href="#" class="btn btn-bold btn-primary kt-hidden" id="filter-results"><i class="fas fa-filter"></i>&nbsp;<span class="label">Filter</span></a>
    </div>

</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg kt-hidden">
            <div class="kt-portlet__head-label">

            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions"></div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Datatable -->
            <div id="kt_table_1"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/plugins/ladda/ladda.min.js"></script>
    <script src="/content/js/pages/crud/file-upload/ktavatar.js" type="text/javascript"></script>

    <script>

        "use strict";
        var datatable;
        var timer;

        var KTDatatablesDataSourceAjaxServer = function () {

            var togglesidBar = function () {
                // toggle left side menu if it state is off (open)
                try {

                    var aside = new KTToggle('kt_aside_toggler', {
                        target: 'body',
                        targetState: 'kt-aside--minimize',
                        togglerState: 'kt-aside__brand-aside-toggler--active'
                    });

                    if (aside.getState() === 'off') {
                        aside.toggle();
                    }

                } catch (e) {

                }
            };

            var initializeKtDataTable = function () {

                datatable = $('#kt_table_1').KTDatatable({

                    // datasource definition
                    data: {
                        type: 'remote',
                        source: {
                            read: {
                                url: '@Url.Action("AjaxDT","TransactionsLog",new { area="Admin"})',
                                method: 'GET',
                                map: function (raw) {
                                    $("#kt_subheader_total").html("<span class='kt-font-brand'>" + raw.meta.total + " Roles </span>");
                                    KTApp.unblock('.kt-container');

                                    return raw.data;
                                }
                            },
                        },
                        pageSize: 10,
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true,
                        deferLoading: 0, // here
                    },

                    // layout definition
                    layout: {
                        scroll: false,
                        footer: false
                    },
                    // column sorting
                    sortable: true,
			        /*search: {
                        input: $('#generalSearch'),
                    },*/
                    pagination: true,

                    // columns definition
                    columns: [


                        {
                            field: 'cbx',
                            title: '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input class="checkall" type="checkbox">&nbsp;<span></span></label>',
                            sortable: false,
                            type: 'number',
                            width: 20,
                            autoHide: false,
                            template: function (row) {
                                return '<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input value="' + row.ID + '" class="checkbox-item" type="checkbox">&nbsp;<span></span></label>';
                            }

                        },
                        {
                            field: 'Action',
                            title: 'Transaction',
                            width: 100,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.Action + '</span>'
                            }
                        },
                         {
                            field: 'Model',
                            title: 'Transaction Model',
                            width: 300,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.Model + '</span>'
                            }
                        },
                         {
				            field: 'DateTime',
					        title: ' Date',
					        width: 100,
					        template : function (row){
					            return moment(row.DateTime).format('DD/MM/YYYY');
					        }
                        },

                          {
				            field: '',
					        title: 'Time',
					        width: 100,
					        template : function (row){
					            return moment(row.DateTime).format('HH:mm:ss');
					        }
                        },
                        {
                            field: 'UserName',
                            title: 'UserName',
                            width: 150,
                            autoHide: false,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.UserName + '</span>'
                            }
                        },
                        {
                            field: 'UserEmail',
                            title: 'UserEmail',
                            width: 200,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.UserEmail + '</span>'
                            }
                        },
                         {
                            field: 'RecordID',
                            title: 'RecordID',
                            width: 100,
                            template: function (row) {

                                return '<span class="kt-font-black ">' + row.RecordID + '</span>'
                            }
                        },

                        {
                            field: 'tools',
                            title: 'Actions',
                            width: 50,
                            sortable: false,
                            autoHide: false,
                            template: function (row) {
                                return '<div class="dropdown"><a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md" aria-expanded="false"><i class="flaticon-more-1"></i></a><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"><ul class="kt-nav kt-padding-t-0 kt-padding-b-0"> <li class="kt-nav__item"><a data-id="' + row.ID + '"  class="kt-nav__link btndelete"><i class="kt-nav__link-icon fa fa-trash"></i><span class="kt-nav__link-text">Delete Record</span></a></li></ul></div></div>';
                            }
                        }
                    ]
                });

                datatable.sort("ID", "desc");

                datatable.on("kt-datatable--on-ajax-done", function (e) {

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
                    }

                });

                datatable.on("kt-datatable--on-layout-updated", function (e) {
                    $('#kt_table_1 .select2').select2();

                    if ($('#kt_table_1 .topPager').length === 0) {
                        $('div.kt-datatable__pager.kt-datatable--paging-loaded').clone(true).addClass('topPager').prependTo('#kt_table_1');
                    }
                });

            };


            var reloadDatatable = function (key, value, datatable) {

                let query = datatable.getDataSourceQuery();

                $.each(key, function (i) {
                    query[key[i]] = value[i];
                });

                datatable.setDataSourceQuery(query);
                datatable.reload();

                KTApp.block('.kt-datatable', { overlayColor: "#000000", type: "v2", state: "primary", message: "Processing..." });

            };
            var generalSearch = function () {

                $('#general_search').on('keyup', function () {

                    clearTimeout(timer);

                    var val = $(this).val();
                    timer = setTimeout(function () {
                        reloadDatatable(['query'], [val], datatable);
                    }, 1000);

                });

            };


            var deleterole = function () {

                $(document).on('click', '.btndelete', function (e) {

                    e.preventDefault();

                    var l = Ladda.create(this);
                    var errorid = this.dataset.id;

                    var result = confirm("Confirm Deleted ?");
                    if (result) {
                        l.start();
                        $.post('@Url.Action("DeleteLog", "TransactionsLog")', { id: errorid }, function (data) {

                            toastr.options = {
                                "closeButton": false,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };
                            if (data.status == 1) {
                                toastr.success("Error has been Deleted successfully");
                                datatable.reload();
                            }
                            else {
                                toastr.error(data.msg);
                            }

                            l.stop();


                        });

                    }
                });
            }





            return {
		        //main function to initiate the module
                init: function () {
                    togglesidBar();
                    initializeKtDataTable();
                    generalSearch();
                    deleterole();

		        }
            };

        }();

        jQuery(document).ready(function() {
	        KTDatatablesDataSourceAjaxServer.init();
        });

    </script>
}
