﻿html a.kt-underline_hover:hover {
    text-decoration: underline !important;
}

.kt-font-size-small {
    font-size: small;
}

.kt-display-block {
    display: block;
    width: 100%;
}

.blockElement {
    top: calc(50% - 18px) !important;
    left: calc(50% - 85px) !important ;
}

.kt-user-card-v2 .kt-user-card-v2__pic.flag img {
    border-radius: 0;
}

.order-status-tag, .order-status-tag * {
    cursor: pointer !important;
}

.bid-status-tag, .bid-status-tag * {
    cursor: pointer !important;
}

.modal-content {
    border: none;
}

    .modal-content .kt-portlet {
        box-shadow: none;
    }


.kt-subheader__main {
    flex-grow: 1;
}

.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell span {
    font-weight: 400;
    color: black;
}

.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell a.details {
    color: #5d78ff;
    /*font-weight: 600;*/
}

.kt-font-black {
    color: black !important;
}

.kt-text-right {
    display: block !important;
    text-align: center !important;
}

td .select2-container {
    width: 100% !important;
}

.form-group .select2-container {
    width: 100% !important;
}

.capitalize {
    text-transform: capitalize;
}


.modal.type-danger .modal-header {
    background-color: #fd397a;
}

    .modal.type-danger .modal-header .modal-title {
        color: white;
    }


.modal.type-brand .modal-header {
    background-color: #5867dd !important;
}

    .modal.type-brand .modal-header .modal-title {
        color: white;
    }


.modal .modal-dialog {
    width: inherit;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%) !important;
}

.dropdown-menu {
    border: 1px solid #ebedf2 !important;
}

.blocking-element {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    display: none;
}

.kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item {
    width: 100%;
}

    .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-text {
        padding: 0.35rem 0 0 2rem;
        width: calc(71%);
    }


    .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-time {
        position: unset;
        width: 25%;
        font-size:inherit;
    }

    .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-cricle {
        left: unset;
        width: 24px;
    }

.kt-timeline-v2:before {
    left: calc(25% + 8px);
}
