﻿
.kt-avatar {
    position: relative;
    display: inline-block;
}

    .kt-avatar .kt-avatar__holder {
        width: 120px;
        height: 120px;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .kt-avatar .kt-avatar__upload {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        right: -10px;
        top: -10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

        .kt-avatar .kt-avatar__upload input {
            width: 0 !important;
            height: 0 !important;
            overflow: hidden;
            opacity: 0;
        }

        .kt-avatar .kt-avatar__upload i {
            color: #5d78ff;
            font-size: 0.9rem;
        }

        .kt-avatar .kt-avatar__upload:hover {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            background-color: #5d78ff;
        }

            .kt-avatar .kt-avatar__upload:hover i {
                color: #ffffff;
            }

    .kt-avatar .kt-avatar__cancel {
        cursor: pointer;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        top: auto;
        right: -10px;
        bottom: -5px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
        display: none;
    }

        .kt-avatar .kt-avatar__cancel i {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            color: #74788d;
            font-size: 0.9rem;
        }

        .kt-avatar .kt-avatar__cancel:hover i {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            color: #5d78ff;
        }

    .kt-avatar.kt-avatar--changed .kt-avatar__cancel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .kt-avatar.kt-avatar--brand .kt-avatar__upload i {
        color: #5d78ff;
    }

    .kt-avatar.kt-avatar--brand .kt-avatar__upload:hover {
        background-color: #5d78ff;
    }

        .kt-avatar.kt-avatar--brand .kt-avatar__upload:hover i {
            color: #ffffff;
        }

    .kt-avatar.kt-avatar--light .kt-avatar__upload i {
        color: #ffffff;
    }

    .kt-avatar.kt-avatar--light .kt-avatar__upload:hover {
        background-color: #ffffff;
    }

        .kt-avatar.kt-avatar--light .kt-avatar__upload:hover i {
            color: #282a3c;
        }

    .kt-avatar.kt-avatar--dark .kt-avatar__upload i {
        color: #282a3c;
    }

    .kt-avatar.kt-avatar--dark .kt-avatar__upload:hover {
        background-color: #282a3c;
    }

        .kt-avatar.kt-avatar--dark .kt-avatar__upload:hover i {
            color: #ffffff;
        }

    .kt-avatar.kt-avatar--primary .kt-avatar__upload i {
        color: #5867dd;
    }

    .kt-avatar.kt-avatar--primary .kt-avatar__upload:hover {
        background-color: #5867dd;
    }

        .kt-avatar.kt-avatar--primary .kt-avatar__upload:hover i {
            color: #ffffff;
        }

    .kt-avatar.kt-avatar--success .kt-avatar__upload i {
        color: #0abb87;
    }

    .kt-avatar.kt-avatar--success .kt-avatar__upload:hover {
        background-color: #0abb87;
    }

        .kt-avatar.kt-avatar--success .kt-avatar__upload:hover i {
            color: #ffffff;
        }

    .kt-avatar.kt-avatar--info .kt-avatar__upload i {
        color: #5578eb;
    }

    .kt-avatar.kt-avatar--info .kt-avatar__upload:hover {
        background-color: #5578eb;
    }

        .kt-avatar.kt-avatar--info .kt-avatar__upload:hover i {
            color: #ffffff;
        }

    .kt-avatar.kt-avatar--warning .kt-avatar__upload i {
        color: #ffb822;
    }

    .kt-avatar.kt-avatar--warning .kt-avatar__upload:hover {
        background-color: #ffb822;
    }

        .kt-avatar.kt-avatar--warning .kt-avatar__upload:hover i {
            color: #111111;
        }

    .kt-avatar.kt-avatar--danger .kt-avatar__upload i {
        color: #fd397a;
    }

    .kt-avatar.kt-avatar--danger .kt-avatar__upload:hover {
        background-color: #fd397a;
    }

        .kt-avatar.kt-avatar--danger .kt-avatar__upload:hover i {
            color: #ffffff;
        }

    .kt-avatar.kt-avatar--circle .kt-avatar__holder {
        border-radius: 50%;
    }

    .kt-avatar.kt-avatar--circle .kt-avatar__upload {
        right: 0px;
        top: 5px;
    }

    .kt-avatar.kt-avatar--circle .kt-avatar__cancel {
        right: 3px;
        bottom: 10px;
    }

    .kt-avatar.kt-avatar--outline .kt-avatar__holder {
        border: 3px solid #ffffff;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
    }

.kt-timeline-v2 {
    position: relative;
}

    .kt-timeline-v2:before {
        content: '';
        position: absolute;
        left: 4.85rem;
        width: 0.214rem;
        top: 5px;
        bottom: 5px;
        height: calc(100% - 5px);
        background-color: #E7E9F5;
    }

    .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item {
        display: table;
        position: relative;
        margin-bottom: 1.75rem;
    }

        .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-time {
            display: table-cell;
            font-size: 1.3rem;
            font-weight: 500;
            vertical-align: top;
            position: absolute;
            padding-top: 0.18rem;
            color: #74788d;
        }

        .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-cricle {
            border-radius: 50%;
            border: 0.89rem solid white;
            z-index: 1;
            top: 0.2rem;
            left: 4.12rem;
            position: relative;
        }

            .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-cricle > i {
                font-size: 1.78rem;
                top: -0.93rem;
                left: -0.57rem;
                position: absolute;
            }

        .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-text {
            display: table-cell;
            vertical-align: top;
            font-size: 1rem;
            padding: 0.35rem 0 0 5rem;
            color: #74788d;
        }

            .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-text.kt-timeline-v2__item-text--bold {
                font-size: 1.2rem;
                font-weight: 500;
                padding-top: 0.21rem;
                color: #74788d;
            }

            .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-text > span {
                font-weight: 700;
            }

        .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-list-pics {
            display: table-cell;
            vertical-align: top;
        }

        .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item:last-child {
            margin-bottom: 0;
        }


.kt-font-sm {
    font-size: 0.8rem !important;
}

.kt-font-md {
    font-size: 0.9rem !important;
}

.kt-font-lg {
    font-size: 1.2rem !important;
}

.kt-font-xl {
    font-size: 1.5rem !important;
}

.kt-clearfix:before, .kt-clearfix:after {
    content: " ";
    display: table;
}

.kt-clearfix:after {
    clear: both;
}

.kt-icon-sm {
    font-size: 0.75rem !important;
}

.kt-icon-md {
    font-size: 0.9rem !important;
}

.kt-icon-lg {
    font-size: 1.2rem !important;
}

.kt-icon-xl {
    font-size: 1.4rem !important;
}

.kt-marginless {
    margin: 0 !important;
}

.kt-img-centered {
    text-align: center;
}

.kt-font-transform-u {
    text-transform: uppercase;
}

.kt-font-transform-l {
    text-transform: lowercase;
}

.kt-font-transform-c {
    text-transform: capitalize;
}

.kt-font-transform-i {
    text-transform: initial;
}

.kt-font-regular {
    font-weight: 400 !important;
}

.kt-font-bold {
    font-weight: 500 !important;
}

.kt-font-bolder {
    font-weight: 600 !important;
}

.kt-font-boldest {
    font-weight: 700 !important;
}

b,
strong {
    font-weight: bold;
}

.kt-font-brand {
    color: #5d78ff !important;
}

.kt-font-hover-brand:hover {
    color: #0029f6;
}

.kt-font-inverse-brand {
    color: #ffffff !important;
}

.kt-bg-brand {
    background-color: #5d78ff !important;
}

.kt-bg-fill-brand {
    background-color: #5d78ff !important;
    color: #ffffff !important;
}

    .kt-bg-fill-brand > i {
        color: #ffffff !important;
    }

.kt-bg-light-brand {
    background-color: rgba(93, 120, 255, 0.1) !important;
}

.kt-font-light {
    color: #ffffff !important;
}

.kt-font-hover-light:hover {
    color: #cccccc;
}

.kt-font-inverse-light {
    color: #282a3c !important;
}

.kt-bg-light {
    background-color: #ffffff !important;
}

.kt-bg-fill-light {
    background-color: #ffffff !important;
    color: #282a3c !important;
}

    .kt-bg-fill-light > i {
        color: #282a3c !important;
    }

.kt-bg-light-light {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.kt-font-dark {
    color: #282a3c !important;
}

.kt-font-hover-dark:hover {
    color: black;
}

.kt-font-inverse-dark {
    color: #ffffff !important;
}

.kt-bg-dark {
    background-color: #282a3c !important;
}

.kt-bg-fill-dark {
    background-color: #282a3c !important;
    color: #ffffff !important;
}

    .kt-bg-fill-dark > i {
        color: #ffffff !important;
    }

.kt-bg-light-dark {
    background-color: rgba(40, 42, 60, 0.1) !important;
}

.kt-font-primary {
    color: #5867dd !important;
}

.kt-font-hover-primary:hover {
    color: #2332ac;
}

.kt-font-inverse-primary {
    color: #ffffff !important;
}

.kt-bg-primary {
    background-color: #5867dd !important;
}

.kt-bg-fill-primary {
    background-color: #5867dd !important;
    color: #ffffff !important;
}

    .kt-bg-fill-primary > i {
        color: #ffffff !important;
    }

.kt-bg-light-primary {
    background-color: rgba(88, 103, 221, 0.1) !important;
}

.kt-font-success {
    color: #0abb87 !important;
}

.kt-font-hover-success:hover {
    color: #055a41;
}

.kt-font-inverse-success {
    color: #ffffff !important;
}

.kt-bg-success {
    background-color: #0abb87 !important;
}

.kt-bg-fill-success {
    background-color: #0abb87 !important;
    color: #ffffff !important;
}

    .kt-bg-fill-success > i {
        color: #ffffff !important;
    }

.kt-bg-light-success {
    background-color: rgba(10, 187, 135, 0.1) !important;
}

.kt-font-info {
    color: #5578eb !important;
}

.kt-font-hover-info:hover {
    color: #173fc3;
}

.kt-font-inverse-info {
    color: #ffffff !important;
}

.kt-bg-info {
    background-color: #5578eb !important;
}

.kt-bg-fill-info {
    background-color: #5578eb !important;
    color: #ffffff !important;
}

    .kt-bg-fill-info > i {
        color: #ffffff !important;
    }

.kt-bg-light-info {
    background-color: rgba(85, 120, 235, 0.1) !important;
}

.kt-font-warning {
    color: #ffb822 !important;
}

.kt-font-hover-warning:hover {
    color: #bb7f00;
}

.kt-font-inverse-warning {
    color: #111111 !important;
}

.kt-bg-warning {
    background-color: #ffb822 !important;
}

.kt-bg-fill-warning {
    background-color: #ffb822 !important;
    color: #111111 !important;
}

    .kt-bg-fill-warning > i {
        color: #111111 !important;
    }

.kt-bg-light-warning {
    background-color: rgba(255, 184, 34, 0.1) !important;
}

.kt-font-danger {
    color: #fd397a !important;
}

.kt-font-hover-danger:hover {
    color: #ce0246;
}

.kt-font-inverse-danger {
    color: #ffffff !important;
}

.kt-bg-danger {
    background-color: #fd397a !important;
}

.kt-bg-fill-danger {
    background-color: #fd397a !important;
    color: #ffffff !important;
}

    .kt-bg-fill-danger > i {
        color: #ffffff !important;
    }

.kt-bg-light-danger {
    background-color: rgba(253, 57, 122, 0.1) !important;
}

.kt-font-facebook {
    color: #3b5998 !important;
}

.kt-font-google {
    color: #dc4e41 !important;
}

.kt-font-twitter {
    color: #4AB3F4 !important;
}

.kt-font-instagram {
    color: #517fa4 !important;
}

.kt-font-youtube {
    color: #b31217 !important;
}

.kt-font-linkedin {
    color: #0077b5 !important;
}

.kt-font-skype {
    color: #00aff0 !important;
}
.kt-text-light {
    font-weight: lighter !important;
}